[2021-07-29 18:19] XiChen-Tibco commented on #3121
@vira-vira Hi, could you give us more details about how to reproduce this error?

[2021-07-29 21:40] kiblik commented on #4861
@zakrush, ufff, run these non-accepted changes on production was a really risky step (I hoped you will load backup to some dev environment).

If you run `0119_endpoint_host_migration_rerun` in production, and it will not be merged as it is (maybe there will be some changes - e.g. https://github.com/DefectDojo/django-DefectDojo/pull/4887#issuecomment-889461018) you could have a problem with migrati

[2021-07-29 21:53] zakrush commented on #4861
@kiblik I can do dedup only this method. Before this bug all work correctly with endpoint into dedup. For me it was 1.15. Standard dedup is not working for me. See here: https://github.com/DefectDojo/django-DefectDojo/issues/4888
I can't understand why is hashcode changing and not correct calculate when scan_import is doing. I think error into algorithm of  uploading of scan results with endpoints

[2021-07-30 08:20] zakrush commented on #4861
@kiblik I think I found problem. But I don't know how to resolve it.
https://github.com/DefectDojo/django-DefectDojo/blob/1e6b25b38bbcb9aecf061dc9cf1183eb43377f15/dojo/importers/importer/importer.py#L91

you save finding here ^. It's calculate hash_code.  Into this case u calculate hash without added endpoints, that is added later. Or I'm missing something again.

[2021-07-30 15:10] zakrush commented on #4861
All ok. After merge request this problem ma be to resolved

[2021-07-30 15:12] zakrush commented on #4888
Sorry. I found trouble. It was my scripts. I changed file_path by scripts after upload.

[2021-07-30 17:56] advmarat commented on #4854
Running into the same issue but this is on a fresh deployment. Curious to know whether you are able to access "Configuration > System Settings"

I have the same error in the postgresql logs and unable to access the system settings tab. The application crashes throws a 500 if I try to do it. I have seen a few other similar issues and none of them have a solution

[2021-07-30 20:18] advmarat commented on #4854
FWIW, using the same helm chart but swapping out Rabbit for Redis made it work for me but there are still same errors in postgresql

[2021-07-31 06:19] #4888 closed

[2021-08-02 02:08] ed-wp opened #4899 "SPONSORING.md broken link, links to deprecated policy"
SPONSORING.md links to [Project Sponsorship (broken)](https://owasp.org/www-policy/operational/project-sponsorship) but 404s.
The working link is [Project Sponsorship](https://owasp.org/www-policy/operational-historical/project-sponsorship), however, that page is deprecated.

Is the correct policy now the [Donations Policy](https://owasp.org/www-policy/operational/donations)?

Anyways, the SPONSOR

[2021-08-02 09:36] DeshengH opened #4900 "Add <component name> to the <column visibility> options"
Hi, We are using DefectDojo to address the vulnerabilities identified by a SCA (software composition analysis) scanner. However, since multiple vulnerabilities can be related to one component, we'd like to review the vulnerabilities on the component level.

We also tried to perform the review on the 'Components' section, but it seems to be complicated to deal with the components per project.

Ther

[2021-08-02 09:37] DeshengH commented on #4900
FYI @damiencarol :)

[2021-08-02 11:20] #4880 closed

[2021-08-02 12:06] Homopatrol commented on #4854
@advmarat
<img width="399" alt="Screenshot 2021-08-02 at 12 41 25" src="https://user-images.githubusercontent.com/58219367/127859041-415c51e4-e74d-4230-92b0-8bc9240a6a7e.png">
on my upgraded deployment I was not able to access "Configuration > System Settings" as you can see this wasn't even available to me.
However with a fresh deployment as shown below I am able to access the page ...
<img width

[2021-08-02 12:14] Homopatrol commented on #4854
@advmarat https://defectdojo.github.io/django-DefectDojo/getting_started/upgrading/#july-6th-2017---new-location-for-system-settings running this seems to have allowed me to access System Settings on my upgraded deployment however the logs still show the error

[2021-08-03 03:06] #3120 closed

[2021-08-03 03:06] #3140 closed

[2021-08-03 03:06] #3143 closed

[2021-08-03 03:06] #3158 closed

[2021-08-03 03:06] #2997 closed

[2021-08-03 03:06] #3180 closed

[2021-08-03 03:06] #3208 closed

[2021-08-03 03:06] #3218 closed

[2021-08-03 03:06] #3222 closed

[2021-08-03 03:06] #3220 closed

[2021-08-03 03:06] #3226 closed

[2021-08-03 03:06] #3257 closed

[2021-08-03 03:06] #3253 closed

[2021-08-03 03:06] #3313 closed

[2021-08-03 03:06] #3236 closed

[2021-08-03 03:06] #3360 closed

[2021-08-03 03:06] #3401 closed

[2021-08-03 03:06] #3398 closed

[2021-08-03 07:00] rsenden commented on #3797
To prevent this issue from automatically closing, has there been any progress on this?

Also I think the title change made by @valentijnscholten doesn't properly describe this issue; this issue doesn't apply to only SARIF import but also other types of imports like GitLab reports or generic JSON import.

For example, for generic JSON import you'd also want to be able to set and display the actual

[2021-08-03 13:48] slicingmelon commented on #4855
Update: I've noticed that this happens only when scanning with zap-daily. I was able to upload a scan generated by zap-stable without any problems. It looks like the report generated by zap-daily is totally different.

[2021-08-03 15:10] n0t4u commented on #4443
Hi, have you been able to find the reason of this issue?

[2021-08-03 15:22] zakrush opened #4906 "Publish date field of finding incorrect validation"
**Be informative**
If finding has `publish date` formatting is `2021-02-05 00:00:00+00:00` and then check up `Push to Jira`. It was
![image](https://user-images.githubusercontent.com/33844164/128040754-5c681120-d583-4f95-9e33-26edadb41278.png)

USWGI logs is clear. If i did data is `2021-02-05` it pushed to jira, but if I was edit finding, I get ``2021-02-05 00:00:00+00:00``  again.

**Bug descrip

[2021-08-03 18:09] bl4ckbo7 opened #4907 "Hitting "Server Error 500" when login with Gitlab + auto import repositories!"
nginx_1         | x.x.x.x:yyyy - - [03/Aug/2021:17:10:19 +0000] "GET /login/gitlab/?next=/ HTTP/1.1" 302 0 "http://x.x.x.x:yyyy/login?next=/" "Mozilla/5.0 (X11; Linux x86_64; rv
:78.0) Gecko/20100101 Firefox/78.0" "-"
uwsgi_1         | [pid: 16|app: 0|req: 1/2] x.x.x.x:yyyy () {44 vars in 1347 bytes} [Tue Aug  3 17:10:17 2021] GET /login/gitlab/?next=/ => generated 0 bytes in 1963 msecs (HTTP/1.1

[2021-08-03 18:12] bl4ckbo7 commented on #4907
OS: Ubuntu 20.04
DefectDojo: 2.0.3 (release)
Python: 3
godojo: 1.1.4

[2021-08-03 18:15] bl4ckbo7 commented on #4907
The error doesn't show up when I set,

`DD_SOCIAL_AUTH_GITLAB_PROJECT_AUTO_IMPORT = False`

[2021-08-03 19:40] bl4ckbo7 commented on #4907
Sorry, seems to be fixed in latest version DefectDojo 2.1.0. Thanks.

[2021-08-03 19:40] #4907 closed

[2021-08-04 10:25] Nanyte25 commented on #2044
@MagicScorpion and @rahulsdev I am having the same issue while spinning glitchtip up using helm on kubernetes ```
2021-08-04 10:24:01,790: WARNING/MainProcess]   File "/usr/local/lib/python3.9/dbm/__init__.py", line 95, in open

[2021-08-04 10:24:01,790: WARNING/MainProcess]
[2021-08-04 10:24:01,790: WARNING/MainProcess] return mod.open(file, flag, mode)
[2021-08-04 10:24:01,790: WARNING/MainProce

[2021-08-04 23:53] #4848 closed

[2021-08-04 23:53] #4871 closed

[2021-08-05 06:54] vyastj opened #4911 "Unable to import from Github vulnerability scan"
**Bug description**
When I am trying to import a Github vulnerability scan using the template given at [https://defectdojo.github.io/django-DefectDojo/integrations/import/#github-vulnerability]. I am receiving the error `An exception error occurred during the report import:Expecting value: line 1 column 1 (char 0)`.

I did some digging on the internet and found that in some Ubuntu systems, python2

[2021-08-05 09:04] Homopatrol commented on #4854
So django is used to apply migrations to Defectdojo. [this](https://realpython.com/digging-deeper-into-migrations/) describes how django goes about this and states:

So I checked for the `django_migrations` table in Postgresql
[code]
Where You can see the migrations where being performed when I upgraded

However, these PostgresSQL errors still occur when installing at 1.14 or 2.0.3 so they aren't

[2021-08-05 09:10] Homopatrol commented on #4854
Restarting the Postgresql container on a clean 1.14.0 install and these errors and statements no longer seem to be appearing.
[code]
But performing an upgrade from 1.14 -> 2.0.3 causes the error to start appearing in the logs:
[code]
Restarting the Postgresql container again at 2.0.3 causes the errors and statements to no longer appear.
[code]

[2021-08-05 13:24] #4854 closed

[2021-08-06 05:35] StefanFl commented on #4911
Hi @vyastj, what you provided under **Sample scan files** is not the result of a scan but a example for a shell script to retrieve results from GitHub. Please attach an actual example of a vulnerabilities scan of GitLab, which must be a JSON file.

[2021-08-06 15:42] Homopatrol opened #4919 "PostgreSQL logs incrorrectly show ERROR: does not exist"
**Bug description**
I have installed a clean version of DefectDojo and now seeing repeated ERROR statements in my PostgreSQL logs stating
[code]
(This occurs multiple times for different columns and relations however these are just and example)

I have logged into the PostgreSQL DB and I can confirm that these tables exist and are populated so I am confused as to why I am seeing this ERROR and wha

[2021-08-06 20:30] valentijnscholten commented on #4827
merged into dev / 2.2.0

[2021-08-06 20:30] #4827 closed

[2021-08-07 16:06] madchap opened #4920 "Issues with helm versioning at release time when merging back from master to dev"
Mods' ref: https://owasp.slack.com/archives/GQKK61742/p1627404283002600

[2021-08-09 06:29] vyastj commented on #4911
Hello @StefanFl, I realised what I was doing wrong. Thanks

[2021-08-09 08:24] vyastj commented on #4911
@StefanFl Now, when I import the following JSON in a file
[code]

I am getting the error: `An exception error occurred during the report import:'NoneType' object is not iterable`. I don’t see an empty field or an object having value None

[2021-08-10 07:58] damiencarol commented on #4336
@true-hero any news from this issue? Did you found the good parameters?

[2021-08-10 08:00] damiencarol commented on #4409
Closing it as it was merged long time ago.

[2021-08-10 08:00] #4409 closed

[2021-08-10 08:13] true-hero commented on #4336
@damiencarol , as i remember, it was something like this:
`DATABASES['default']['OPTIONS']['charset'] = 'utf8'`
I face the problem on testing environment and solve the problem by deleting smiles from report.
But problem still exists:
![Снимок экрана 2021-08-10 в 11 09 03](https://user-images.githubusercontent.com/32260664/128831760-a533d248-a35d-4ee7-8541-c20dbd3d8097.png)
![Снимок экрана 2021-08-

[2021-08-12 08:31] iainrawson commented on #4855
For ZAP import, I've traced this to an issue parsing the <params> element - specifically I get an error when the params element has no text - i.e. <params></params>.

I'm not sure why ZAP is generating empty params elements, but it looks like DefectDojo errors when concatenating the node.text to the description_detail in the following code in dojo\tools\zap\parser.py

[code]

My temporary workarou

[2021-08-12 10:57] masty1982 opened #4936 "Endpoint host report is not showing active findings"
**Bug description**
I have not been able to get working endpoint host report in version DefectDojo 2.1.0. I go to /endpoint/host and then select the host. It shows me active findings, which I currently have four findings for one host. From the upper right corner I select Report and /endpoint/<host_id>/report?host_view page is opened. Instead of showing these four active findings this page shows al

[2021-08-12 11:00] kiblik commented on #4936
I can work on it

[2021-08-12 15:24] Homopatrol commented on #4919
So i've played around with deploying without letting the initializer-job.yaml run
[code]
This hasn't made a difference and the statements are still occurring in PostgreSQLs logs which suggests these are being performed by a different container?

[2021-08-12 15:29] Homopatrol commented on #4919
I believe this issue with uwsgi is linked to this  [#3340](https://github.com/DefectDojo/django-DefectDojo/issues/3340)

[2021-08-12 16:31] hackthesoul opened #4937 "slack notification bug to find user profile"
**Expected behavior**
In my case, our company workspace has a lot of employees. That means user list has limitation for showing.
so https://slack.com/api/users.list url, it does not work without cursor parameter.

4. See error
![image](https://user-images.githubusercontent.com/59822000/129232826-fe31f309-1295-4b98-9a97-a4d5d0320235.png)

I suggest that it should be changed as below

[code]

**Depl

[2021-08-13 14:36] whitespots opened #4940 "SARIF report import causes 500"
**Bug description**
Hi team, we have an issue with SARIF format in `mobsfscan` tool.
You will find the report in attachments below.

**Steps to reproduce**
Steps to reproduce the behavior:
1. `pip3.9 install mobsfscan`
2. `git clone https://github.com/payatu/diva-android.git diva && cd diva`
3. `mobsfscan --sarif . -o mobsfscan.json`
4. Import it with SARIF scan type and see 500

**Expected behavi

[2021-08-13 14:49] whitespots commented on #4940
An error in CI/CD
![image](https://user-images.githubusercontent.com/65983771/129375422-ef5ce0c2-1d23-465e-a428-4bfe2f431148.png)

[2021-08-13 14:54] whitespots commented on #4940
UI error
![image](https://user-images.githubusercontent.com/65983771/129376026-7d856369-4b15-4f93-b0d2-93ff696e3554.png)

[2021-08-13 19:58] Maffooch commented on #3336
Validated with @XiChen-Tibco and it appears to be fixed

[2021-08-13 19:58] #3336 closed

[2021-08-13 20:43] #2835 closed

[2021-08-14 07:57] akitibala commented on #4911
hi @vyastj ,please provide _**id**_ for every object in **nodes** list like this:
`{
  "data": {
    "repository": {
      "vulnerabilityAlerts": {
        "nodes": [
          { "id":1,
            "securityVulnerability": {
              "severity": "LOW",
              "package": {
                "name": "braces",
                "ecosystem": "NPM"
              },
              "advisory": {

[2021-08-14 08:02] akitibala commented on #4911
Explanation :
Since Github Vulnerability scan is looking for id field at [line 35](https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/tools/github_vulnerability/parser.py)

[2021-08-14 09:04] akitibala commented on #4940
i guess defectdojo currently does not support sarif format .

[2021-08-14 09:51] whitespots commented on #4940
It was ok with semgrep some time ago actually, but now even semgrep issues are not parsing correctly. But this is another story

[2021-08-14 15:26] StefanFl commented on #4937
@hackthesoul Please provide a bug description and more precise steps to reproduce the bug. Currently, I cannot see what the actual problem is.

[2021-08-14 17:43] valentijnscholten commented on #2979
merged into dev / 2.2.0

[2021-08-14 17:43] #2979 closed

[2021-08-14 17:44] valentijnscholten commented on #3121
merged into dev / 2.2.0

[2021-08-14 17:46] valentijnscholten commented on #4817
merged into dev / 2.2.0

[2021-08-14 17:46] #4817 closed

[2021-08-14 18:02] valentijnscholten commented on #4940
Thanks for reporting. Next time it would be helpful to include the traceback from the logs:
[code]

[2021-08-15 11:50] kiblik commented on #4936
Fixed in #4942

[2021-08-16 11:28] akitibala commented on #4911
hi @StefanFl , i think we can close this issue since  invalid schema is provided . i guess we should provide schema validator which can prevent users from uploading in-valid schema.

[2021-08-16 16:52] StefanFl commented on #4911
The documentation at https://defectdojo.github.io/django-DefectDojo/integrations/import/#github-vulnerability is clear about mandatory attributes. Not all mandatory attributes where provided in the scan results. Although error messages could be improved, I will close the issue.

[2021-08-16 16:52] #4911 closed

[2021-08-17 07:48] vyastj commented on #4911
I did add the missing mandatory field (id), after referencing the documentation. However, the same error `An exception error occurred during the report import:'NoneType' object is not iterable` is thrown.

[2021-08-17 07:57] StefanFl commented on #4911
Please provide the complete stacktrace from the log and/or the file with the scan result

[2021-08-17 09:20] vyastj commented on #4911
@StefanFl The complete scan result is quite long, hence  I have attached the zipped version of the `json results`.

[Github-Results.json.zip](https://github.com/DefectDojo/django-DefectDojo/files/6998662/Github-Results.json.zip)

[2021-08-17 09:43] StefanFl commented on #4911
This report works fine with my 2.1.0 version:
![2021-08-17 11_41_57-](https://user-images.githubusercontent.com/2698502/129703141-64c9db90-dd63-4562-9b5c-e564c4df02fe.png)

[2021-08-17 10:27] vyastj commented on #4911
@StefanFl, Can you validate at your end if I am following the right steps to import Results. Also, are there any pre-requisite to import the results?

[2021-08-17 12:32] StefanFl commented on #4911
I imported the findings via the UI using the Github Vulnerability Scanner. How do you do it?

[2021-08-17 12:37] vyastj commented on #4911
Okay, I believe i am also following the same procedure which is:

* Go to 'Products'
* Click on 'Product name'
*  Click on 'Findings' dropdown
* Click on 'Import Scan Results'
* Select scan type as 'Github Vulnerability Scan'
* Choose a report file to import

[2021-08-17 12:41] StefanFl commented on #4911
This is exactly what I did. When you are on version 2.1.0 it should work for you as well. Please make sure you are really using the same file that you uploaded here.

[2021-08-17 12:46] vyastj commented on #4911
Thanks for the help @StefanFl and @akitibala.

[2021-08-17 14:14] valentijnscholten commented on #4937
If you have a fix, you can also create a PR which we can review/merge.

[2021-08-17 16:51] valentijnscholten commented on #4861
can this be closed?

[2021-08-17 16:54] valentijnscholten commented on #4936
merged into dev / 2.2.0

[2021-08-17 16:54] #4936 closed

[2021-08-17 16:54] valentijnscholten commented on #4940
fixed in dev / 2.2.0

[2021-08-17 16:54] #4940 closed

[2021-08-17 20:57] #4920 closed

[2021-08-17 21:27] jhewi commented on #3164
@valentijnscholten @Maffooch
 After reviewing this issue and reproducing the same errors in Dojo with a JIRA cloud instance it appears that a solution is out of reach. When it comes to the basic authentication errors like 401 and 403, the 3 default JIRA calls cannot be controlled from the Dojo side. Unfortunately, any code fixes or modifications to the relevant files in DefectDojo won’t change wha

[2021-08-18 05:37] StefanFl commented on #4919
This typically happens when the database server and the uwsgi pod/container/process are already up but the initializer has not setup the tables yet. It is an expected behaviour at the first start of DefectDojo.

[2021-08-18 05:41] StefanFl commented on #4840
PR is merged

[2021-08-18 05:41] #4840 closed

[2021-08-18 05:43] StefanFl commented on #4788
The PR has been merged

[2021-08-18 05:43] #4788 closed

[2021-08-18 05:45] StefanFl commented on #4786
PR has been merged

[2021-08-18 05:45] #4786 closed

[2021-08-18 05:47] StefanFl commented on #4730
PR has been merged

[2021-08-18 05:47] #4730 closed

[2021-08-18 08:22] EndPositive opened #4949 "High memory consumption in deletion view and long bulk delete duration (general scalability issues)"
**Bug description**
In internal testing, we encountered scalability issues in cases where there are a large number (> 4000) of findings and endpoints imported in a product.

Part of this issue was initially brought up in #964, however it was not followed through.

**Steps to reproduce**
Import a very large set of findings.

* Request the product deletion view, the `NestedObjects` collector loads a

[2021-08-18 09:14] cint2021 opened #4950 "test"

[2021-08-18 09:27] #4950 closed

[2021-08-18 09:27] cint2021 commented on #4950
wrong project

[2021-08-18 11:43] nu-vi opened #4951 "Unable to import TFSec Scans"
When importing TFSec Scans DefectDojo returns "An exception error occurred during the report import:'NoneType' object has no attribute 'get'"

[2021-08-18 21:00] kiblik commented on #4861
I suppose this bug was fixed in #4887
@zakrush, do you agree?

[2021-08-19 06:43] StefanFl commented on #4951
@nu-vi Please provide a sample report that produces the bug.

[2021-08-19 08:29] StefanFl commented on #4862
Docker compose V2 is available as a release candidate. There are currently 2 issues:
- Unit tests are not working because of https://github.com/docker/compose-cli/issues/1994
- Some environment variables need to be quoted

[2021-08-19 08:49] nu-vi commented on #4951
Here you go.

[tf-error-output.json.zip](https://github.com/DefectDojo/django-DefectDojo/files/7013053/tf-error-output.json.zip)

[2021-08-19 11:10] ganesh2183 opened #4956 "docker-compose build failed"
Trying to install DefectDojo in VM Virtual box Debian 10.10 (Guest OS)
Docker version: 20.10.8
Docker-compose version: 1.29.2

Getting the error when I run 'docker-compose build'

ERROR: Service 'uwsgi' failed to build : Build failed

How to fix this issue.

![1629371236796534177495551676958](https://user-images.githubusercontent.com/41476297/130058602-16daf307-091f-4bc0-9514-adff2aea3628.jpg)

[2021-08-19 18:06] StefanFl commented on #4956
Your machine seems to have no internet connection, which is needed to download packages.

[2021-08-20 03:04] ganesh2183 commented on #4956
It downloaded other dependency packages, only this list of packages getting failed.

Also I m running behind corporate firewall, is there something it could be reason for this.

[2021-08-20 05:09] StefanFl commented on #4956
It is definitely a network issue. You have to find out, why the docker-compose process cannot get access to debian.org. Your corporate firewall might be a reason. There is nothing we can do to help you here.

[2021-08-20 10:18] #4816 closed

[2021-08-20 13:27] ganesh2183 commented on #4956
Thanks. It is working now after setting up proxy in docker file.

[2021-08-20 13:27] #4956 closed

[2021-08-20 18:34] ganesh2183 commented on #2760
Trying to upload MobSF scan results using json file.

Getting 403 Forbidden - CSRF verification failed. Request aborted.

Why? What to do now
![IMG_20210820_232115](https://user-images.githubusercontent.com/41476297/130278379-a45701cd-1dd8-443e-b3cb-32ab19455ad2.jpg)

[2021-08-22 04:35] ganesh2183 opened #4967 "Forbidden 403 Error Page - CSRF Verification failed"
Docker version: 20.10.8
Docker-compose version: 1.29.2

Running DefectDojo in VM Virtual box Debian 10.10 (Guest OS)

Steps to reproduce the behavior:
- Go to 'Products'
- Create a Product
- Go to 'Findings' tab and select 'Import Scan Results'
- Try importing any sort of scan - Ex: MobSF scan results using json file
- Click on Import and see this:

Getting 403 Forbidden - CSRF verification failed

[2021-08-22 11:32] StefanFl commented on #4967
@ganesh2183 I have never seen this behaviour. Seems to be a problem with your configuration.

[2021-08-22 13:32] ganesh2183 commented on #4967
Ok. But I have not done any changes to configuration.

[2021-08-22 13:35] ganesh2183 commented on #4967
I see same issue reported before, please refer https://github.com/DefectDojo/django-DefectDojo/issues/2760

Actually what is fix for this issue to resolve

[2021-08-23 07:05] ganesh2183 opened #4971 "Windows 10 docker compose up problem"
Running in windows 10 with docker desktop, getting the error when I run 'docker-compose up' command:

![16297020755012991434553358906459](https://user-images.githubusercontent.com/41476297/130404387-c32e9c25-87b4-448c-af69-4199db4912f6.jpg)

Docker Engine version: v20.10.7

Why it is not working, how to resolve this issue.

[2021-08-23 15:04] #4951 closed

[2021-08-23 15:05] damiencarol commented on #4862
@StefanFl do we have PR that cover this one?

[2021-08-23 20:21] sempervictus opened #4973 "SonarQube Imports Failing with Opaque Message"
**Steps to reproduce**
Steps to reproduce the behavior:
1. Configure http-based API to SQ using token auth (same token as used to scan the codebase)
2. Attempt to import data from the scanner
3. Get error message in web UI stating:
[code]
4. Experience confusion

**Expected behavior**
Imports work

**Deployment method** *(select with an `X`)*
- [X] Docker
- [ ] Kubernetes
- [ ] GoDojo
- [ ] setup.

[2021-08-24 07:50] StefanFl commented on #4973
Hello @sempervictus, please provide the logs with the error messages and stacktrace.

[2021-08-24 17:19] ganesh2183 commented on #4967
@StefanFl

I see error message in log,

Warning [django.security.csrf:224] Forbidden (CSRF token missing or incorrect)

How to fix this error

[2021-08-24 18:57] StefanFl commented on #4967
Sorry @ganesh2183, there must be something wrong with your configuration. But since I have never seen this behaviour, I have no clue what causes the problem.

[2021-08-26 10:13] sinKettu opened #4983 "Old bug with "too long" data works again"
Hello!
I chose "Feature request" issue type, but this is more likely a question.
There was a PR [#1804](https://github.com/DefectDojo/django-DefectDojo/pull/1804) with fix for parser for ZAP reports. It fixed handling a length of some fields from the reports. This commit appeared it version 1.8 of Defect Dojo, but disappeared in versions 2.x.x. Due to this situation, the [old bug](https://github.c

[2021-08-27 08:07] #4983 closed, assigned to nobody

[2021-08-30 09:48] damiencarol commented on #3797
@rsenden handling `found_by` in generic JSON need some work.

[2021-08-30 10:31] damiencarol commented on #4336
@true-hero I was able to reproduce the pb. It's not a bug.

1. First take a look at my PR #4996 that improve Gitleaks parser and add more unit tests with your file is integrated.

2. I used a connection string in this form to force the client Python code to specify encoding:
`mysql://defectdojo:defectdojo@mysql:3306/defectdojo?charset=utf8mb4`

It solved the configuration pb for me:
![image](https

[2021-08-31 11:49] stateandprove opened #5006 "APIv2: Add feature of linking manually created JIRA tasks to finding"
**Is your feature request related to a problem? Please describe**
This feature is not related to any problem directly, however, it may add useful functionalities.

**Describe the solution you'd like**
Using put or patch requests to /api/v2/findings/{id}, I'd like to link manually created JIRA task to some finding, that is in "Active, Verified" state.

**Describe alternatives you've considered**
I

[2021-08-31 11:50] sarosbacz commented on #5006
+ Need the same functionality

[2021-08-31 12:02] whitespots commented on #5006
We need this for our clients

[2021-08-31 12:09] devkekops commented on #5006
+1

[2021-08-31 12:28] BlancLoup commented on #5006
+1

[2021-08-31 13:25] valentijnscholten commented on #5006
In theory it's possible via `api/v2/jira_finding_mappings` but I agree an easier way would be helpful. It can be done via the UI already, but not the API.

[2021-08-31 13:30] W0uldYk1ndlY commented on #5006
Nice feature

[2021-08-31 14:41] Greenmouse94 opened #5012 "Import of semgrep files never stop to add finding"
Hello !

Release : 2.1.0 DEV

**Bug description**
When I try to import semgrep files (with 169 findings), the import  function never stop and continue to add and add finding, at the end I have 2000 new findings.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Products > All products > "My Product" > Findings > Import scan results
2. Everything on default value except:
- Scan type

[2021-08-31 14:45] damiencarol commented on #5012
@Greenmouse94 is it possible to have the report (even obfuscated)?

[2021-08-31 14:59] Greenmouse94 commented on #5012
Hello, here is the file.

Ah yes maybe it is the problem.

[SEMGREP-typescript.txt](https://github.com/DefectDojo/django-DefectDojo/files/7084869/SEMGREP-typescript.txt)

[2021-08-31 15:10] Greenmouse94 commented on #5012
And when I wait too much :
[code]

I can also see that there is a lot of double, the same finding with the same file, with the same line number etc.

[2021-08-31 15:54] damiencarol commented on #5012
Working on it.

[2021-08-31 15:57] sarosbacz commented on #5006
@valentijnscholten
Any suggestions on if this feature will be added?

[2021-08-31 16:24] damiencarol commented on #5012
I'm able to import the file with 169 findings in version `2.1.0`
Also made some unit tests on my local branch to test the data but it seems ok

[2021-08-31 17:37] #4855 closed

[2021-08-31 19:24] ganesh2183 commented on #4967
@StefanFl Hi..When I try to import sample scan files (burp, checkmarx) from https://github.com/DefectDojo/sample-scan-files, it is working fine without any issues. But when I try to import my scan files it is giving CSRF Verification failed error page.

Why? Any reason for this.

[2021-08-31 20:30] valentijnscholten opened #5016 "JIRA: Only populate fields present on create issue screen"
Some JIRA instances (and next gen projects?) are missing certain fields, for example description or severiy. We might be able to check the metadata of the create issue transition and only populate the fields that are present. Maybe afterwards add the missing fields using 'edit issue'?

[2021-08-31 20:49] valentijnscholten commented on #4967
As explained multiple times now we don't know what this issue is. We almost never see it. Maybe it's a bug in Django. Defect Dojo doesn't implement CSRF itself, but relies on Django.

[2021-09-01 06:43] ganesh2183 commented on #4967
Finally, it worked. The issue was with linux file permission, after changing access permission to 'read and write'. Now I m able to import MobSF scan files without any issues.

Thanks for your response.

[2021-09-01 07:33] #4967 closed

[2021-09-01 08:03] valentijnscholten commented on #4967
@ganesh2183 which file permissions? I assume of the whole /dojo or /app folder?

[2021-09-01 08:04] damiencarol commented on #5012
Closing this one as it seems configuration challenge :)

[2021-09-01 08:04] #5012 closed

[2021-09-01 10:17] QuentinVsm opened #5019 "API: Exceptions swallowed by custom exception handler"
**Slack us first!**
The easiest and fastest way to help you is via Slack. There's a free and easy signup to join our #defectdojo channel in the OWASP Slack workspace: [Get Access.](https://owasp-slack.herokuapp.com/)
If you're confident you've found a bug, or are allergic to Slack, you can submit an issue anyway.

**Be informative**
We were working on the 2.1.0 release, so we update our defect doj

[2021-09-01 11:10] ganesh2183 commented on #4967
I mean MobSF scan file permission, which I copied from another system.

[2021-09-01 12:48] valentijnscholten commented on #5019
There were some changes https://github.com/DefectDojo/django-DefectDojo/pull/4931 that seemed to now require `false_p` and `duplicate` fields to be present in the request. I didn't really understand that PR and I think we need to look at it again because too many fields seem to mandatory while they have perfectly fine defaults.

@Maffooch @XiChen-Tibco IIRC you worked together on that PR?

The wei

[2021-09-01 16:24] Maffooch commented on #5019
The PR only seems to make active and verified required?

[2021-09-01 16:57] valentijnscholten commented on #5019
yeah, judged too soon. the missing error / trace seems to be because of https://github.com/DefectDojo/django-DefectDojo/pull/4863 possibly?

[2021-09-01 17:06] valentijnscholten commented on #5019
Looking at it some more it seems `duplicate` has always been mandatory, at least also in 2.1.0, so nothing changed in 2.2.0 except that the error message is getting hidden which is not what we want probably.

[2021-09-01 17:14] valentijnscholten commented on #5019
hmmm duplicate and false_p are not marked as required:

[code]

I thought the purpose of #4931 was to have the full list of required fields in the openapi spec.

[2021-09-01 17:30] valentijnscholten commented on #3121
The fix turned out to be incomplete, see for example https://github.com/DefectDojo/django-DefectDojo/issues/5019

[2021-09-01 17:31] valentijnscholten commented on #5019
I have reopened the original bug report on fields not being marked as required. This bug report here is now renamed to cover the bug that exceptions are swallowed.

[2021-09-02 09:28] QuentinVsm commented on #5019
Works perfect for me. Thank for being that reactive !

[2021-09-02 10:04] NicolasBi opened #5028 "Migration from 2.1.0 to 2.2.0 fails during dojo.0120_sonarqube_test_and_clean step"
**Bug description**
Migration command tool from 2.1.0 to 2.2.0 fails (python manage.py migrate) with this error:
`Applying dojo.0120_sonarqube_test_and_clean...Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/django/db/backends/utils.py", line 84, in _execute
    return self.cursor.execute(sql, params)
psycopg2.errors.NotNullViolation: column "sonarqube_tool_config

[2021-09-02 14:03] valentijnscholten commented on #5028
Is there a full traceback showing which line in the migration caused it?

[2021-09-02 14:05] valentijnscholten commented on #5028
we also thought we fixed this through https://github.com/DefectDojo/django-DefectDojo/pull/5013

[2021-09-03 03:42] emresaglam commented on #5028
I can say the same. Here is my full trace on the same issue from the logs. (Running on docker)

[code]

[2021-09-03 06:34] ed-wp opened #5033 "OAuth2/SAML2 Documentation tells you to hardcode credentials into settings.dist.py instead of recommending Environmental Variables"
[OAuth2/SAML2 Documentation](https://defectdojo.github.io/django-DefectDojo/integrations/social-authentication/)

`dojo/settings/settings.dist.py` is where Environmental variables and their defaults are stored. If the environmental variables is not set in the runtime environment of the application, then the default is used.

**Problem**
Hard-coding secret values can lead to embedded secrets if the

[2021-09-03 08:12] valentijnscholten commented on #5028
@kiblik

[2021-09-03 14:36] kiblik commented on #5028
I see. I'm going to try to write a hot-fix.

[2021-09-03 14:42] StefanFl commented on #5019
Error messages shouldn't reveal internal information as a security practice:

https://cheatsheetseries.owasp.org/cheatsheets/Error_Handling_Cheat_Sheet.html:

That is exactly what DefectDojo is doing now and I would consider it as a feature rather than a bug.

[2021-09-03 14:46] kiblik commented on #5028
#5036

I would like to write some test for it as well

[2021-09-03 14:48] valentijnscholten commented on #5019
The problem is the error is not in the logs anymore. Also with DEBUG off, Django usually doesn't return the full details anyway.

[2021-09-05 10:27] MHarsh24 opened #5037 "Launch Scan Feature in defect dojo"
Kindly add the launch scan feature in defect dojo, so that the supported tools can be used to assess the application for vulnerability by using the defect dojo application in one place instead of going to separate application and invoke the scan and then import the scan from each tool.

[2021-09-06 07:53] damiencarol commented on #5019
I guess we could work to have this errors in logs again and a more generic error, like "duplicate attribute is missing" (which is aligned with OWASP description).

[2021-09-06 10:29] ABelhaj commented on #3981
sorry guys, but i noticed that there is a lot of docker containers,
Can you please help me with the Rebuilding process?
thank you in advance

[2021-09-07 04:01] sathish-ather opened #5046 "Notification option not visible in DD 1.15.0(release-mode)"
Hello Folks,

We are not able to see the notification option to send out the alerts on slack,email,etc.

Is it known issue or not implemented in v1.15.0 ?

I referred this link https://defectdojo.github.io/django-DefectDojo/integrations/notifications/ but i am not able to find this option.

Please help us out.

[2021-09-07 06:22] StefanFl commented on #5037
Every tool has it's own installation procedure, using different runtime dependencies like Python, NodeJS, Go, Docker and others. Installing and launching the scan tools would add a huge layer of complexity to DefectDojo. There are other projects like secureCodeBox (https://docs.securecodebox.io/) which address your needs and are integrated with DefectDojo.

[2021-09-07 06:29] StefanFl commented on #5046
Hello @sathish-ather, you find the option to manage notifications under **Configuration / Notifications** in the main menu on the left side. Superusers can manage notification on system and personal scope, other users can manage only their personal notifications.

[2021-09-07 08:32] JohannesZahn opened #5048 "Endpoint validation does not match RFC URL standard"
**Bug description**
The Host validation regex found [here](https://github.com/DefectDojo/django-DefectDojo/blob/00b425742b783ada0f432241c2812ac1257feb73/dojo/models.py#L1199) does not support all valid host names according to [RFC3986](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2). For example using the host  "_invalid._host.com" will not pass the regex even tho it should. See the S

[2021-09-07 09:21] damiencarol commented on #5048
@JohannesZahn I'm concerned by the fact that fake data go to our API. Why using fake host names? Should it be more simple to not add a host as this attribute is not mandatory?

[2021-09-07 09:32] JohannesZahn commented on #5048
urls with leading underscores in the hostname are appereantly produced in some amass scans that we simply pipe through to the defectdojo reimport api which parses the urls into protocol, host, etc.. I am not sure wether the fake data is produced by the amass scan or was simply changed by @EndPositive to protect the real data.

[2021-09-07 10:20] damiencarol commented on #5048
ok. thanks for the feedback. Could you investigate? I'm curious about this one.
Anyway thanks to @kiblik a fix is coming ( #5049 ) .

[2021-09-07 10:23] JohannesZahn commented on #5048
@kiblik you mentioned you were following a rule when you specifically excluded underscores. I understand now why you did that.
Part of a URL is...

-https://en.wikipedia.org/wiki/URL#Syntax

Hostnames which are standardized in [RFC1123](https://datatracker.ietf.org/doc/html/rfc1123) may not contain underscores. However the host part of a URL is not limited to these standardized hostnames.

[2021-09-07 10:24] JohannesZahn commented on #5048
@damiencarol I will investigate and get back to you regarding the fake data

[2021-09-07 10:45] EndPositive commented on #5048
Hey everyone, the host was indeed fabricated. I should've used an example closer to the actual host, such as:

`_sip._tcp.domain.com`.

My mistake is that the domain part also contained an underscore (`_invalid._host.com`). I think @JohannesZahn is right about the validity of underscores in hostnames. Here's a [StackOverflow post](https://stackoverflow.com/a/2183140) with some interesting discussi

[2021-09-07 11:51] StefanFl commented on #5033
Thank you @ed-wp for your observation, you are absolutely right. I will update this page and https://defectdojo.github.io/django-DefectDojo/getting_started/configuration/ as well.

[2021-09-07 13:28] sathish-ather commented on #5046
Hey,

Yes.. After the docker containers reboot, i am able to see the notification option under configuration.

Thanks u @StefanFl

[2021-09-07 14:19] #5046 closed

[2021-09-07 15:09] MHarsh24 commented on #5037
Can you possibly provide me the DefectDojo and Securecodebox API integration Document?

[2021-09-07 15:12] StefanFl commented on #5037
It's in the documentation of secureCodeBox: https://docs.securecodebox.io/docs/hooks/defectdojo

[2021-09-07 16:44] damiencarol commented on #5048
Awesome feedback guys! thanks.

[2021-09-07 17:13] #5037 closed

[2021-09-07 17:56] MHarsh24 opened #5053 "Google sheet Sync error"
Hello

In Defect Dojo, I've done Google Sheets synchronization. When I create a file in my drive, everything works well, but when I try to sync that file, it gives me an error.

Error:   ["'' value has an invalid format. It must be in YYYY-MM-DD HH:MM[:ss[.uuuuuu]][TZ] format."]

[2021-09-08 03:33] ganesh2183 commented on #3243
How did you fixed this issue ? I m facing same issue in windows 10 environment.

Thanks in advance !

[2021-09-08 07:56] valentijnscholten commented on #5053
Where are you seeing this error, please provide details as requested in the bug report template.

[2021-09-08 07:57] damiencarol opened #5054 "OWASP Dependency Checker - Risk Acceptance/Inheritence"
### Discussed in https://github.com/DefectDojo/django-DefectDojo/discussions/5052

<div type='discussions-op-text'>

<sup>Originally posted by **emresaglam-dremio** September  8, 2021</sup>
Hello all!

We are running the OWASP Dependency Scanner via Jenkins during build time using the [Jenkins Plugin](https://plugins.jenkins.io/dependency-check-jenkins-plugin/). We mark the false positives and sup

[2021-09-08 09:05] valentijnscholten commented on #4862
Fixed in dev / 2.3.0

[2021-09-08 09:05] #4862 closed

[2021-09-08 09:11] #4971 closed

[2021-09-08 09:41] MHarsh24 commented on #5053
Hello,

When I try to sync a document with my drive, I get the following error.

Kindly find the attached Snapshot of the error.

![image](https://user-images.githubusercontent.com/59463079/132485672-fa77261e-54b8-466a-b0e1-a0689a06d139.png)

Deployment method -- Docker

[2021-09-08 11:06] damiencarol commented on #5048
Fixed with #5049

[2021-09-08 11:06] #5048 closed

[2021-09-08 13:26] zakrush commented on #4906
hey. Somebody can give me comments?

[2021-09-08 15:30] Greenmouse94 opened #5058 "Scan import error"
Hello,

I have an issue when I'm trying to import scan with `'api/v2/import-scan/'`

I tried a LOT of things, but I'm still not able to import a scan.

Here is my code :
[code]

I got the error : 500 Internal Server

Can you help me ?
Thank you in advance.

[2021-09-08 15:36] valentijnscholten commented on #5058
Can you provide more info as requested in the big report template?

[2021-09-08 17:07] Greenmouse94 commented on #5058
Hello,

Sorry completely forgot.

**Slack us first!**
The easiest and fastest way to help you is via Slack. There's a free and easy signup to join our #defectdojo channel in the OWASP Slack workspace: [Get Access.](https://owasp-slack.herokuapp.com/)
If you're confident you've found a bug, or are allergic to Slack, you can submit an issue anyway.

**Be informative**
I have an issue when I try to i

[2021-09-08 17:22] valentijnscholten commented on #5058
What's in the logs?

[2021-09-08 18:08] Greenmouse94 commented on #5058
2.1.0
In the log :
x.x.x.x- - [08/Sep/2021:20:07:36 +0200] "POST /api/v2/import-scan/ HTTP/1.1" 500 216848 "-" "python-requests/2.25.1"

[2021-09-08 19:11] valentijnscholten commented on #5058
Can you try with 2.2.1? We fixed the logging of errors so there should be details in the logs.

[2021-09-08 19:45] Greenmouse94 commented on #5058
Yes I can, but I'm not sure how to do to upgrade to 2.1.1.

[2021-09-08 20:04] viniciusnavarro opened #5065 "Error using Import-Scan with Spotbugs"
**Bug description**
When importing (using import-scan) from a SpotBugs .xml file, I get a 500 error: `("message" error: "Internal server error, check logs for details"),`
when looking deeper into one of the logs I found this:

The strangest thing is that in version 1.12.1 I import the same file without any problem.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Import Scan Resul

[2021-09-08 20:09] StefanFl commented on #5053
On which version are you? There has been a bug with empty values in Google sheets that have been fixed with 2.2.0. If you are on an older version, please upgrade to 2.2.1

[2021-09-08 20:25] StefanFl commented on #5058
I think you need to have the fields like `scan_type` and `engagement` in a separate dictionary which is given to the request as `data`. So something like:

[code]

_Not having it tested in detail, more a sketch._

[2021-09-08 21:35] valentijnscholten commented on #5028
fixed in 2.2.1

[2021-09-08 21:35] #5028 closed

[2021-09-08 21:40] valentijnscholten commented on #5065
The import code was refactored at some point between 1.12.1 and 2.0.0. Can you provide an example to reproduce this? The reports used by the unit tests are running fine.

[2021-09-09 02:07] ganesh2183 commented on #4971
Hi, What is fix for this https://github.com/DefectDojo/django-DefectDojo/issues/3243

Getting same error message logs, running in windows 10 Docker Desktop.

Please help

[2021-09-09 06:57] Greenmouse94 commented on #5058
Hello @StefanFl ,

Thank you very much for your reply, it works now.

Best regards.

[2021-09-09 06:58] #5058 closed

[2021-09-09 07:17] damiencarol commented on #5065
I take this one.

[2021-09-09 07:45] damiencarol commented on #5065
More complete stack:
[code]

[2021-09-09 08:14] damiencarol commented on #5065
The bug come from a big difference in reports from `4.4.0` generated with Maven and the reports we have in our unittests.

[2021-09-09 13:27] stateandprove opened #5069 "Finding verification through the API"
**Is your feature request related to a problem? Please describe**
I have an active unverified finding. I'm trying to verify it using the PATCH request with payload `{verified: True}` to `/api/v2/findings/{id}/`, but getting the `{"detail": "Not Found."}` response.

**Describe the solution you'd like**
I'd like to verify an active finding by sending PATCH request to `/api/v2/findings/{id}/`.

**Des

[2021-09-09 13:29] sarosbacz commented on #5069
+1

[2021-09-09 13:59] viniciusnavarro commented on #5065
@valentijnscholten @damiencarol Here is the Spotbugs file I am trying to import, some data has been masked but the file is intact.
[spotbugsXml.txt](https://github.com/DefectDojo/django-DefectDojo/files/7137086/spotbugsXml.txt)

I renamed it to txt to be able to send.

[2021-09-09 14:30] #5053 closed

[2021-09-09 14:37] asbiin opened #5070 "Filter findings + sort by date result in "No findings found.""
When you are on findings list (all findings, or a product's finding list), and you filter the list to, for instance filter only active findings, and apply filter, then if you sort the list by clicking the "Date" column, then the list disappear.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'All findings'
2. Open the filters
3. Choose a filter, for instance "Active=yes", or "Ver

[2021-09-09 14:42] valentijnscholten commented on #5053
@MHarsh24 what was the situation, upgrading?

[2021-09-09 17:23] valentijnscholten commented on #5065
will de fixed by #5068

[2021-09-09 17:26] StefanFl commented on #5070
Weird, but I can reproduce it.

When I open the filters again, the field  **Tag name contains** is set with `¬_tags=¬_test__tags=¬_test__engagement__tags=¬_test__engagement__product__tags=¬_tag=`.

[2021-09-09 17:27] valentijnscholten commented on #5070
Just saw the same, happens also when sorting by name.

[2021-09-09 17:31] viniciusnavarro commented on #5065
Very nice @valentijnscholten

Thank you @damiencarol   and @valentijnscholten  for the help and attention.

[2021-09-09 17:31] #5065 closed

[2021-09-09 20:24] valentijnscholten commented on #5069
Can you provide more details and logs maybe. It works fine for me on latest `dev`:

[code]

[2021-09-09 20:34] valentijnscholten commented on #5069
We also have a unit test for Finding  PATCH: https://github.com/valentijnscholten/django-DefectDojo/blob/66f5b7fae187b2607b8ddc841dea728df1ea7845/dojo/unittests/test_rest_framework.py#L764

[2021-09-10 03:30] t51 opened #5075 "404 when attempting to 'promote' or 'delete' a 'potential finding'"
Hi All,

Running the Release Mode 2.2.0 deployed with Docker-Compose.

Experiencing a 404 when trying to promote or delete a potential finding under a test.

Steps to reproduce the behavior:
1. Open an active Test (Product > Engagement > Test)
2. Add Potential Findings using the TextField 'Add a potential finding...' and click the button '+ Add Potential Finding'
3. Click the button 'Promote To Fi

[2021-09-10 07:53] valentijnscholten commented on #5070
fixed in dev / 2.3.0

[2021-09-10 07:53] #5070 closed

[2021-09-10 07:55] valentijnscholten commented on #5075
In the latest dev I can't even add a potential finding, the `add` already gives a 404 for me.

[2021-09-10 07:59] valentijnscholten commented on #5075
Maybe we should add an integration test and also move to `path` based url routing.
https://stackoverflow.com/questions/47947673/is-it-better-to-use-path-or-url-in-urls-py-for-django-2-0

[2021-09-10 08:00] damiencarol commented on #4906
I'm able to reproduce it. There is a pb in the verification in the UI.
There is a difference between
date which is a  models.DateField(
and
publish_date which  models.DateTimeField(
but the UI validate them the same way.
So UI Javascript need some work.

[2021-09-10 15:31] StefanFl opened #5079 "Calendar isn't working anymore since 2.2.0"
**Bug description**
The calendar isn't working anymore. You cannot choose the type (Engagement or Test) and so no calendar is shown

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Calendar'
2. Click on 'Select an option' in the first box
3. No selection appears
4. Click on 'Apply'
5. No calendar is shown

**Expected behavior**
In the first box you should be able to select betwee

[2021-09-10 15:32] StefanFl commented on #5079
I have the feeling it is a side effect of #4766 and the JavaScript in that template. @kiblik can you have a look please?

[2021-09-10 15:41] Akansha1804 opened #5080 "Unable to deploy DefectDojo latest version"
I am trying to use DefectDojo version 2.2.1 along with RabbitMQ 6.16.0. However, my rabbitmq pod never starts and the Readiness and Liveness probe keeps failing.

Also the django-deployment pod stucks at uwsgi container. The container does not come up.

[2021-09-10 18:58] valentijnscholten commented on #5080
please provide the required info as per the bug report template, i.e. logs.

[2021-09-11 13:12] Akansha1804 commented on #3544
I have the same issue, however I am trying to deploy the latest version 2.2.1. I even tried this with versions like 2.2.0 and 2.0.0, but I have the same issue
and the server becomes unavailable

The logs of `defect-dojo-defectdojo-django` pod are something like this:

`ERROR:django.request:Internal Server Error: /login
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packag

[2021-09-11 13:17] Akansha1804 opened #5083 "Unable to deploy DefectDojo version 2.0.0/2.2.x"
I am trying to deploy DefectDojo latest version 2.2.1.
I even tried versions like 2.2.0 and 2.0.0, but I always have the below error while deploying DefectDojo.

The logs of `defect-dojo-defectdojo-django` pod are something like this:

[code]

[2021-09-11 15:23] valentijnscholten commented on #5083
Which of your two tickets do you want to progress?
Did you follow the steps fromhttps://github.com/DefectDojo/django-DefectDojo/blob/master/KUBERNETES.md to create the necessary secrets?

[2021-09-11 15:28] Akansha1804 commented on #5083
Hi, I want to keep this issue, the previous one is resolved for now.

And yeah, I have created all the necessary secrets except for Redis and MySQL as I am using RabbitMQ and PostgreSQL.

[2021-09-11 15:31] Akansha1804 commented on #5083
I did few customizations in my helm chart, but then followed the official one. After doing that I was really wierd logs of nginx container in django pod.

<img width="949" alt="nginx_logs" src="https://user-images.githubusercontent.com/90467476/132953117-f6b7e1e0-3098-4018-9885-c5fb27f73500.PNG">

[2021-09-11 16:35] valentijnscholten commented on #5080
closed as another ticket has been opened.

[2021-09-11 16:39] Akansha1804 commented on #5083
The above nginx pod error is fine, but still I have 500 Server error while accessing Defect Dojo URL.

[code]

[2021-09-11 16:40] Akansha1804 commented on #5083
Here is the error message of `uwsgi` pod, same as before

`django.db.utils.OperationalError: FATAL:  password authentication failed for user "defectdojo"`

[2021-09-11 16:42] #5080 closed

[2021-09-12 15:27] StefanFl commented on #5075
I take it

[2021-09-13 11:24] navzen2000 opened #5085 "Unable to upgrade to 2.2.1 from 1.12.0"
**Slack us first!**
The easiest and fastest way to help you is via Slack. There's a free and easy signup to join our #defectdojo channel in the OWASP Slack workspace: [Get Access.](https://owasp-slack.herokuapp.com/)
If you're confident you've found a bug, or are allergic to Slack, you can submit an issue anyway.

**Be informative**
Please enter as much information as possible, otherwise we can't

[2021-09-13 11:28] navzen2000 commented on #5085
Duplicate column name 'branch_tag'

Unknown column 'dojo_test_type.active' in 'field list'

[2021-09-13 12:22] valentijnscholten commented on #5085
this usually indicates an error in an earlier attempt to upgrade or earlier run of the initializer. can you provide all available logs, or try again from 1.12.0 and provide all logs.

[2021-09-13 12:24] navzen2000 commented on #5085
Complete logs till point of failure:

 docker-compose up
Starting defectdojo_mysql_1      ... done
Recreating defectdojo_rabbitmq_1  ... done
Starting defectdojo_initializer_1    ... done
Starting defectdojo_uwsgi_1          ... done
Recreating defectdojo_celeryworker_1 ... done
Recreating defectdojo_celerybeat_1   ... done
Attaching to defectdojo_mysql_1, defectdojo_rabbitmq_1, defectdojo_initial

[2021-09-13 14:37] whitespots commented on #4937
![image](https://user-images.githubusercontent.com/65983771/133103053-c5a8b412-12d3-4259-ade8-713171370313.png)
Guys, our clients meet same problem with slack notifications.
Strange thing is that on fresh installation it did not appear, but exists after update. Maybe migrations went wrong in the init service

+all scopes on Slack side are set correctly
![image](https://user-images.githubuserconten

[2021-09-13 14:39] whitespots commented on #4937
@StefanFl @valentijnscholten
hope you will find such details helpful for solving this issue

[2021-09-13 16:29] valentijnscholten commented on #4937
A manual compare shows the suggestion is to replace

[code]

with

[code]

The existing code retrieves the first page of the user list, which can result in users not being found if there are too many. The new code just tries to find the exact user needed.

[2021-09-13 16:34] valentijnscholten commented on #4937
Can someone test https://github.com/DefectDojo/django-DefectDojo/pull/5091 @hackthesoul @whitespots

[2021-09-13 17:29] valentijnscholten commented on #5085
Is that the log output when upgrading from 1.12.0? It doesn't look like it is because the `branch_tag` field in migration 0088 was only added in 1.15.0. Can you restore your 1.12.0 instance, upgrade, start the containers and capture the logs?

[2021-09-14 03:15] navzen2000 commented on #5085
Yes, this is the log output when running docker compose up on top of 1.12.0 installation with 2.2.1 source code
IF you can tell us which file, and line needs to be commented in this case then it will be helpful.

[2021-09-14 08:26] damiencarol commented on #4697
Thanks @kiblik for all these details. I think you're right: we are missing some features that enable us to correctly manage reports generated when the tool do multiple requests to the same endpoint. For this use case it generate too much endpoints.
Maybe we can implement and improve the part that manage `Endpoint_Params` in future releases.
As a first step maybe we can simplify the parser by not s

[2021-09-14 09:22] phuz10n opened #5095 "Unable to add custom label before issue is sent to Jira"
Hello, I met with a 'problem' during sending issue to Jira via DD Jira integration.

Let's say, that I have the following scenario. I correctly seted up a Jira, so I'm able to create a tickets. Now, I have a product, for example "Product XYZ" and when I click "Settings", there is JIRA item with the following options I can fill up:
* JIRA Instance
* Project key
* Issue template dir
* Component

I w

[2021-09-14 09:31] phuz10n opened #5096 "Unable to filter findings based on the filling of a field "Severity Justification""
Hi, I found, that it's not possible to filter issues based on "Severity Justification" anymore. I remember, that this possibility was in one of the previous version of Defect Dojo.

Would it be possible to put it back? Or, is there currently some possibility, how to filter issues based on this?

Thanks in advance.

[2021-09-14 10:18] navzen2000 commented on #5085
Issue resolved after restore and upgrade

[2021-09-14 10:18] #5085 closed

[2021-09-14 12:11] damiencarol commented on #4697
Made some tests with an improved version:
![image](https://user-images.githubusercontent.com/1694940/133255207-810ce711-37cc-44d7-bb62-af48763d9630.png)

[2021-09-14 17:29] valentijnscholten commented on #4697
Sometimes the parameters are found by the spider are real and could be important to know how reproduce the vulnerability?

[2021-09-14 17:32] valentijnscholten opened #5100 "jira: support nextgen projects (jira cloud)"
see https://github.com/DefectDojo/django-DefectDojo/issues/2747 and https://github.com/DefectDojo/django-DefectDojo/issues/2702

[2021-09-14 17:46] rbutturini opened #5101 "Duplicate Column Name on 2.0.3 to 2.2.1 migration"
In attempting to upgrade our DefectDojo implementation from 2.0.3 to 2.2.1, we are encountering errors when running the migration related to the test_title migration (0003_test_title.py).  The error is shown below:

Operations to perform:
  Apply all migrations: admin, auditlog, auth, authtoken, contenttypes, django_celery_results, dojo, sessions, sites, social_django, tagging, watson
Running migr

[2021-09-14 17:50] damiencarol commented on #4697
@valentijnscholten you're right. In the PR I put them in the details of the Request/Response pair

![image](https://user-images.githubusercontent.com/1694940/133308248-cc1f9f80-c5a4-4636-bfc5-a017c19443d9.png)

It will do the trick for now. A better solution means modifying the importer+re-importer deeply (see the discussion with @kiblik )

[2021-09-14 20:10] viniciusnavarro opened #5102 "Re-Upload Scan error"
**Slack us first!**
I spoke to Chris Fort on slack he told me to open an issue

**Bug description**
 When performing the reimport-scan of a Generic Findings Import, the error by the GUI is " An exception error occurred during the report import:name 'ValidationError' is not defined ".

Chris Fort pointed this out to me as the error:

 Performing the Generic Findings import-scan using a .csv file wo

[2021-09-14 20:36] damiencarol commented on #5102
I can take this one

[2021-09-14 20:52] StefanFl commented on #5102
The problem with the missing declaration of `ValidationError` has already solved with #4962

[2021-09-14 21:10] damiencarol commented on #5102
Ah! That's why I can't found it on dev :D

[2021-09-14 21:26] damiencarol commented on #5102
Fixed in dev by #4962

[2021-09-14 21:26] #5102 closed

[2021-09-14 22:19] kiblik commented on #5079
@valentijnscholten, I wanted to look at it but I see already did it.

[2021-09-15 11:44] StefanFl commented on #5101
@rbutturini Are you sure your database is in a consistent state? These migrations are really old and should have not been executed when migrating from version 2.0.3.

[2021-09-15 13:30] rbutturini commented on #5101
OK I apologize.  I thought that running the migrations was a required step when moving to a new version.  This is probably something specific to my deployment then.  I will close, sorry for the confusion.

[2021-09-15 13:30] #5101 closed

[2021-09-15 14:57] nisarg0712 opened #5106 "Plugin for Detectify"
Hello Everyone,

Just want to check if we have any plugin for Detectify to fetch report from Detectify to DefectDojo like Qualys or BurpeSuite.

Let me know if we have any.

[2021-09-15 16:16] valentijnscholten commented on #5106
If you just want to ask a question please come to our slack channel. Or in these case check the list of parsers in the docs: https://defectdojo.github.io/django-DefectDojo/integrations/import/ or the demo instance or in your own instance.

[2021-09-15 16:17] valentijnscholten commented on #5079
fixed in dev / 2.3.0

[2021-09-15 16:17] #5079 closed

[2021-09-15 16:48] damiencarol commented on #5106
It seems that Detectify is an only service. So only API extract I think.
ref: https://developer.detectify.com/?_gl=1*8jxidj*_ga*NDAwMDU3NjA2LjE2MzE3MjQxNTQ.*_ga_F9HDKDJVKN*MTYzMTcyNDE1My4xLjEuMTYzMTcyNDE3NS4w*_fplc*NUpaV0lCNzFydXI5RW9NRW5BSmNkU1RHcG84QWxydzhpRzQ3VVQ1MFRjd2FZYk1PTnklMkJzRmFqVGYyZk5IeGUzZHRhb3dFYUpSUGR1aDlEYUdRdEtTTUFBaTNjMXZpNHBKYWklMkJnJTJGNGNyVVUxMEIzcTQwJTJGdmFMaTUyQyUyRllwdyUzR

[2021-09-15 18:02] zakrush opened #5107 "OWASP ZAP and empty endpoints"
**Be informative**
Hello.
When OWASP ZAP report is uploaded, it added new endpoits to Findings.
If I will go to endpoint tab and will click on endpoits, I see that endpoint didn't have active fingings.
![image](https://user-images.githubusercontent.com/33844164/133485111-d67e0706-5e3e-4850-9bc5-ffc5ebef098e.png)

**Bug description**
No vulnerable endpoints after uploaded ZAP report

**Steps to rep

[2021-09-15 21:37] damiencarol commented on #5107
Taking this one, I'm already working on a ZAP maintenance PR.

[2021-09-16 06:51] nisarg0712 commented on #5106
Detectify export the reports in PDF format.

[2021-09-16 11:05] ed-wp commented on #4949
+1. We have run into serious scaling issues related to deletion. We accidentally imported a bunch of duplicate findings and it took us a few hours to clear them out in small chunks since any larger deletion requests were causing 500s. I don't think every field of every dependency should be brought up in the deletion view, and it's also slow (5000+ items can take 30-60+ seconds to load). I think if

[2021-09-16 16:35] valentijnscholten commented on #5075
fixed in dev / 2.3.0

[2021-09-16 16:35] #5075 closed

[2021-09-16 16:37] valentijnscholten commented on #4900
Did you consider using the grouping functionality that allows grouping of findings based on component_name? It's per test at the moment.
Regarding column visibility I think ideally we have a more dynamic/configurable way to display columns as there are already lots of columns.
What are you missing in the components view to help your usecase?

[2021-09-16 19:24] damiencarol commented on #4900
@valentijnscholten I know thus use case. @DeshengH is a security researcher in my company. They use the finding view to export in csv. They want to have the component in the same report. Maybe it's not the best view to generate report.

[2021-09-16 22:48] t51 commented on #5075
Thank you

[2021-09-17 12:20] valentijnscholten opened #5112 "add docs for smtp with (start)tls"
https://owasp.slack.com/archives/C2P5BA8MN/p1631796429185200
[code]

[2021-09-17 15:03] nareshbogathi commented on #1697
Hi @madchap @arkwrn

I am planning to use SAML2 for Defectdojo SSO with Yaml, Can you please help me to share some example code?
i am using like this, but it's failing in helm deployment
`extraConfigs:
  DD_SAML2_ENABLED: 'true'
  # If the metadata can be accessed from a url, try the
  DD_SAML2_METADATA_AUTO_CONF_URL: ${{ parameters.SAML2MetadataURL }}
  # Otherwise, downlaod a copy of the metadat

[2021-09-17 15:08] nareshbogathi opened #5114 "Authentication via SAML2 with helm file"
Hi

I am planning to use SAML2 for Defectdojo SSO with Yaml, Can you please help me to share some example code?
I am using like this, but it's failing in helm deployment
[code]
It's giving validation error
`Error: UPGRADE FAILED: error validating "": error validating data: ValidationError(ConfigMap.data.DD_SAML2_ATTRIBUTES_MAP): invalid type for io.k8s.api.core.v1.ConfigMap.data: got "map", expect

[2021-09-17 15:53] chanduaki opened #5115 "Outdated images in the DefectDojo Reports"
Found a outdated images in the defectdojo documents,it makes confusing to the people

**OLD Version Report**
![image](https://user-images.githubusercontent.com/54622987/133817834-352f57e8-8b3f-49e3-9138-723f5ffc4988.png)
**New Version Reporting Format**
![image](https://user-images.githubusercontent.com/54622987/133817883-af562104-7f53-45a6-8c01-02356eac80f8.png)

[2021-09-17 16:03] chanduaki opened #5116 "Unclear Documenation for Risk Acceptance"
## Need to Add Few Things

1. How to enable Risk Acceptance to a Project
**Previous Image**
![image](https://user-images.githubusercontent.com/54622987/133818382-1c7e28a6-639c-4b2c-91bd-85636cbef921.png)

**Steps for enabling Risk Acceptance**
- Go to Product
- Click on Edit Product
- enable full or simple risk acceptance on the product.
**Image for Enabling**
![image](https://user-images.githubus

[2021-09-17 16:07] chanduaki opened #5117 "Unclear Documentation in Findings"
Unable to understand the below things in the DefectDojo

ℹ️ Touch FIndings
ℹ️ Manage Files
ℹ️ Make Finding a Template
ℹ️ Create a CWE Remediation Template
ℹ️ Apply Template to Findings
ℹ️ Finding Templates
      ℹ️ ADD New Findings Template
      ℹ️ Download Finding Template
 ℹ️ Upload Threat model
ℹ️ Add Test Strategy

[2021-09-17 16:16] chanduaki opened #5118 "Could update the Documentation in Few things in the Defectdojo Dashboard"
**Dashboard Overview**
ℹ️ Unassigned Answered Engagement Questionnaires

**Endpoints**
ℹ️ List of Endpoints
ℹ️ Vulnerable Endpoints
ℹ️ Vulnerable Endpoint Hosts
ℹ️ Migrate Endpoints

**Questionnaire**
ℹ️ All Questionnaires
ℹ️ All Questions

**Configurations**
ℹ️ Credential Manager
ℹ️Tool Configuration
ℹ️Tool Type Configuration
ℹ️ Rules Framework
ℹ️ Regulations - why it was Important & Advantage
ℹ️

[2021-09-17 17:37] damiencarol opened #5119 "Add more grouping options for findings (Title, vuln id, ...)"
One feature needed by few users is to be able to group by title or by vuln id.
It is very useful when you have the same vulnerability in a lot of different files.

Something like that for ex:
![image](https://user-images.githubusercontent.com/1694940/133830393-8c51abc4-7f5f-4e63-912a-e26f1d4aeffc.png)

![image](https://user-images.githubusercontent.com/1694940/133830542-b79e9285-dddc-4ff5-b4be-3e3

[2021-09-17 17:37] damiencarol commented on #5119
FYI @valentijnscholten

[2021-09-17 18:13] valentijnscholten commented on #5119
Should we allow *all* fields and let users just find out what works best for them? We need to support combinations of fields as well.

[2021-09-17 19:21] chanduaki opened #5120 "Horusec scanner request"
**Scanner Name**
Horusec
Tool: https://github.com/ZupIT/horusec
Horusec platform: https://github.com/ZupIT/horusec-platform

**Sample File**

[2021-09-17 22:31] damiencarol commented on #5119
Interesting. Yes, you're right there must be some users that would need arbitrary combination of more than 1 or 2 fields.
I'm wondering what UI could be useful. A big list of check-boxes :D ?

[2021-09-18 17:55] valentijnscholten commented on #4697
@J12934 could you do some test runts with the latest dev branch? It has a big improvement PR merged for ZAP.

[2021-09-19 20:47] StefanFl commented on #5116
@chanduaki Documentation is a great way to get involved and contribute to the project. Do you want to have a go?

[2021-09-19 20:58] StefanFl commented on #5118
@chanduaki Documentation is a great way to get involved and contribute to the project. Do you want to have a go?

[2021-09-20 07:49] #5115 closed

[2021-09-20 07:49] #5033 closed

[2021-09-20 08:00] dsever commented on #5114
Hi,

Fruther form  should be in use:

`DD_SAML2_ATTRIBUTES_MAP: Email=email,Firstname=first_name,Lastname=last_name`

This is documented in https://defectdojo.github.io/django-DefectDojo/integrations/social-authentication/#saml-20

[2021-09-20 13:29] damiencarol commented on #5107
You need to flag them as verified (attribute `verified` of the `Finding`) to have them in this screen.

[2021-09-20 15:27] damiencarol commented on #4633
@Testteam20k any news?

[2021-09-20 15:30] damiencarol commented on #3898
Fix in `2.0.0`

[2021-09-20 15:30] #3898 closed

[2021-09-20 15:32] damiencarol commented on #3797
@rsenden started to work on this one. see #5121

[2021-09-20 19:29] #5107 closed

[2021-09-21 14:58] sokayvich-git commented on #3121
In /import-scan/, environment variable is not marked as required in swagger, but results in 500 errors when using the netsparker import test_type without it.

[2021-09-22 01:38] #3589 closed

[2021-09-22 01:40] devGregA commented on #2760
I would recommend turning on debug to gain additional information about the error.

[2021-09-22 04:55] StefanFl commented on #5117
The best way to learn how these functionalities work is to try them with a test product, see what happens and if the functionality is useful to you. As DefectDojo being an open source project with limited resources, we try to produce good documentation too, but it is not always the highest priority on our to-do list to be honest.

[2021-09-22 05:36] StefanFl commented on #5019
@valentijnscholten Do you like to see a change of the exception handler or is your fix with the logging sufficient?

[2021-09-22 05:38] #4919 closed

[2021-09-22 05:42] StefanFl commented on #4752
@zakrush A fix for this problem has been released with version 2.2.0. Please check if the metrics are correct now.

[2021-09-22 07:37] saldam72 opened #5134 "Deadlock found when trying to get lock"
Hello Team,
we need to run a massive findings load to DefectDojo.

For this reason we have built a Python script that invokes the APIs in multi threading mode (we are using concurrent.futures.ThreadPoolExecutor module).

Up to now we have not had any problems but with version 2.2.1 (both Docker and Kubernetes) we encounter the error "Internal server error, check logs for details" (Attached are the

[2021-09-22 08:47] damiencarol commented on #5120
@chanduaki I can work on this one but will need some resources here.
Do you have data? an API access?

[2021-09-22 09:10] zakrush commented on #4752
Hi.

[2021-09-22 10:57] nu-vi opened #5137 "Unable to import Harbor Vulnerability Scans"
This parser doesn't seem to be working with the current json format of Harbor Vulnerability Scans.

A sample report that produces the bug is attached.
[harbor-report.json.zip](https://github.com/DefectDojo/django-DefectDojo/files/7210072/harbor-report.json.zip)

[2021-09-22 13:51] StefanFl commented on #5137
It's a problem with severities, should be easy to fix

[2021-09-22 14:16] devGregA commented on #4899
Hi @ed-wp I've put in a PR to remove the info as you are correct, it is out of date. I believe the link you also provided is also likely out of date as OWASP no longer maintains specific project funds.

[2021-09-22 14:16] #4899 closed

[2021-09-22 14:56] damiencarol commented on #5137
Oh my... took a look at the harbor parser, lot of things to change. Please refactor it in the same time @StefanFl

[2021-09-22 15:00] StefanFl commented on #5137
Already done :smiley:

[2021-09-22 16:01] valentijnscholten commented on #5134
Is it consistently happening on the same line of code, or have you seen just one occurrence? It's not uncommon to have deadlocks when you have a very high concurrent load. But sometimes it can help to look at where they are occurring and if any code changes can help improve the pattern / sequence of SQL queries being executed to reduce the chances of deadlocks.

[2021-09-22 16:06] valentijnscholten commented on #5019
We have had a couple of occasions where the error handlings was (unknowingly) changed into something that hid the error details from the response (even in DEBUG mode) or swallowed errors (not logging them). So ideally we have some test cases where we capture the current error handling behaviour so we will notice it when something changes. We can also check if everybody is happy with the current er

[2021-09-22 17:24] valentijnscholten commented on #5137
fixed in dev / 2.3.0.

[2021-09-22 17:24] #5137 closed

[2021-09-22 17:24] damiencarol commented on #3701
Fixed with #5084
There is 2 ways to exclude a parser. With the settings or in DB (flag `active` of the Test_type)

[2021-09-22 17:24] #3701 closed

[2021-09-22 17:54] damiencarol opened #5141 "New parser Rubocop"
**Scanner Name**
Rubocop, SAST for Ruby (https://docs.rubocop.org/rubocop/)

[2021-09-22 18:25] zakrush opened #5142 "Incorrect UI for reimport"
**Slack us first!**
This issue was discussed here: https://owasp.slack.com/archives/C2P5BA8MN/p1631729737167600

**Be informative**
Needed edit UI for case into bug description.

I imported 2 my prepared  report. Into first I have 2 endpoints into second 3 endpoints. It's not only UI problem.
Throught API:
Import
{
  "scan_date": "2021-09-22",
  "minimum_severity": "Info",
  "active": true,
  "ver

[2021-09-23 07:00] StefanFl commented on #4900
Putting more columns in the view doesn't seem to be the right solution. I would add an export button, which exports Excel, CSV and PDF (the current report implementation that's already there as a button). Will be finished at the weekend so we can have it in the next release.

[2021-09-23 07:17] saldam72 commented on #5134
During the load of about 4,000 findings, using 3 workers, I got about 40 errors "Internal server error, check logs for details".

[2021-09-23 07:27] valentijnscholten commented on #5134
Can you provide some more tracebacks of example deadlocks?

[2021-09-23 07:47] saldam72 commented on #5134
I have to repeat the load but the error was always the same (same API, same error and same deadlock)

[2021-09-23 12:30] damiencarol commented on #4900
LGTM. Will share internally (my company will be the first user of these new columns)

[2021-09-25 08:53] StefanFl opened #5154 "Integration tests for finding lists are not executed"
The integration tests for Open Findings, Closed Findings and Accepted Findings are not executed, because the parameter `suffix` in `test_list_findings` is ignored, see https://github.com/DefectDojo/django-DefectDojo/blob/master/tests/finding_test.py#L17-L32.

If they would be executed, they would produce errors and need to be reworked.

[2021-09-25 09:04] damiencarol commented on #5154
Good catch. should be good to work also on test that have the `broken` tag

[2021-09-25 13:40] StefanFl opened #5155 "Investigate how django-filter can be used for quick reports and CSV/Excel exports"

[2021-09-26 05:41] StefanFl commented on #4900
@damiencarol Does the new CSV export fix this issue?

[2021-09-27 13:01] valentijnscholten commented on #4586
fixed in dev / 2.3.0

[2021-09-27 15:46] valentijnscholten commented on #5069
closing, no response and unable to reproduce without more information.

[2021-09-27 15:46] #5069 closed

[2021-09-27 16:09] zakrush opened #5166 "deduplication of reimport scan with endpoints"
**Slack us first!**
All detals was here: https://owasp.slack.com/archives/C2P5BA8MN/p1632750032288700

**Be informative**
For my structure of products I needed to use endpoints for deduplications of Trivy and other tools(dependency check, etc)

My expectation:
I upload scan with findings - get some findings. Then I reapload scan of tests -> If finding from import not fount into reimport scan file

[2021-09-27 20:25] dsever commented on #5114
What IDP do you use, and have you checked with simple curl that you are able to fetch idp  metadata?

[2021-09-28 06:33] StefanFl commented on #5154
fixed in 2.3.0-dev

[2021-09-28 06:33] #5154 closed

[2021-09-28 06:34] StefanFl commented on #2563
fixed in 2.3.0-dev

[2021-09-28 06:34] #2563 closed

[2021-09-28 08:40] zakrush opened #5171 "service attribute for Findings class"
**Is your feature request related to a problem? Please describe**
Hello. I have monorepo. I have differents microservices into one repository.
For ex: services/service1 services/service2
If I scanning it by DependencyCheck for example, I have deduplications for same findings. Now, I'm preventing it throught endpoins, but it incorrect as I think, becouse it functional for dynamic analyzers. Also, I

[2021-09-28 10:45] StefanFl commented on #5171
Another possibility to deal with services would be to have a separate Engagement per service and set **Deduplication within this engagement only** for every engagement. Then you would have deduplication per service and an easy way to view your findings per service.

[2021-09-28 13:52] valentijnscholten commented on #5171
I think @alles-klar had the same scenario. The downside of having an engagement for each service, it could explode the number of engagements. Especially if you have also "an engagement per branch".

[2021-09-28 14:23] ptrovatelli commented on #4906
hello; the problem is not really in the javascript part. the validation error comes from django when given a dateTime in place of the DateField (as per forms.py).

I have a first simple fix while  keeping the same datepicker / no javascript impact. the time can be set manually if required.
if we want something cleaner, we'll need another dependency for a timepicker.

will push my first fix asap fo

[2021-09-28 17:19] #4586 closed

[2021-09-28 19:25] valentijnscholten opened #5178 "jira: add web link to defect dojo in jira issue"
In JIRA it's possible to add a link to an external system (web link): https://community.atlassian.com/t5/Jira-Core-Server-questions/How-can-I-link-an-external-link-to-an-issue-in-new-JIRA-view/qaq-p/878586

We could/should add a link to the finding in defect dojo for easy reference.

[2021-09-28 19:34] valentijnscholten opened #5179 "jira: support next-gen projects"
Pain points:
- custom fields are per issue type
- issue cannot be mapped to epics via api (need to check this, seems to be possible: https://ecosystem.atlassian.net/browse/ACJIRA-1634)
-
https://support.productboard.com/hc/en-us/articles/360056319194-Integrating-with-Jira-next-gen-project
https://community.developer.atlassian.com/t/rest-apis-for-next-gen-jira-projects/33125
https://blog.developer.

[2021-09-29 06:29] StefanFl opened #5181 "Fix integration tests for export of findings and enable them again"
The integration tests for export of findings where not stable and sometimes failing, so they have been disabled.

[2021-09-29 10:38] nareshbogathi commented on #5114
Hi @dsever

Thanks for reply, this issue is resolved. It was because of network communication missing from my app to idp service.

Now i got a new issue with SSL validation failure, is there any variable for disabling ssl validation
Error message:
`HTTPSConnectionPool(host='XXXXXXXXXXXXXXXXX', port=9031): Max retries exceeded with url: /pf/federation_metadata.ping?PartnerSpId=https://XXXXXXXXXXXXX

[2021-09-29 10:48] dsever commented on #5114
I assume you are using self signed or corporate CA. In that case you need to inject CA into the pod to enable trust.

https://github.com/DefectDojo/django-DefectDojo/blob/master/helm/defectdojo/values.yaml#L192

[2021-09-29 11:34] tonnyhideyori commented on #3328
I would like to get the list of id of all scanners where i can use in found_by

[2021-09-29 11:37] tonnyhideyori opened #5183 "List of scanners id"
To use API findings, there is option **_found_by_** this takes unique integer, but in documentation does not specify the unique id to the scanner. Can you provide the list os scanner corresponding to their unique number.
best regards

[2021-09-29 13:32] valentijnscholten commented on #5183
This differs per instance and the list can be retrieved via `GET /api/v2/test_types/`

[2021-09-29 13:43] tonnyhideyori commented on #5183
Thank you

[2021-09-29 13:43] #5183 closed

[2021-09-29 17:32] alles-klar commented on #5171
I am using both, different engagements and endpoints.

[2021-09-29 18:12] damiencarol commented on #3328
@tonnyhideyori take a look at `/test_type/` endpoint

[2021-09-30 07:48] valentijnscholten opened #5190 "jira url empty on reimport of existing test"
2.3.0-dev today:
- import test, observe jira url is presented correctly
- reimport test, observer jira url is not presented on reimport form

[2021-09-30 08:43] QuaiGoner opened #5191 "Nessus automatic scan upload with Nessus Prof. API"
Hello. How hard would it to implement importing Nessus Scan Results with an Nessus API in real-time?

[2021-09-30 11:05] #5191 closed

[2021-09-30 20:40] jplopezy opened #5200 "Deployment Error on EC2 T3.micro (Docker-Base-Ubuntu-18)"
**Bug description**

I have installed the latest version of DefectDojo on an EC2 and I have had an error like the one shown below.

I can't really understand what happens or if there is a limitation. Perform the same steps on a linode nano (a cloud cloud service).

Could there be a problem with compatibility?

**Steps to reproduce**

git clone https://github.com/DefectDojo/django-DefectDojo
docker

[2021-10-01 08:22] valentijnscholten commented on #5200
Looks more like a generic system wide connectivity / DNS issue.

[2021-10-01 10:04] mikeanth-dev opened #5202 "Toleration support for the initializer job"
At the moment, in the `django-DefectDojo/helm/defectdojo/templates/initializer-job.yaml` file, there is specified support for `nodeSelector` and `affinity`, yet no mention of `tolerations`.

Support for tolerations would be nice, as it would allow more control of where each pod gets scheduled.

[2021-10-01 10:20] valentijnscholten commented on #5202
If you want you can make a PR with the desired changes

[2021-10-01 10:44] nareshbogathi commented on #5114
hi @dsever,

What is "DD_SAML2_ASSERTION_URL'' for SAML2
Now i am able to login through SSO with SAML and it's redirecting to again login home page because i am proving assertation url like `DD_SAML2_ASSERTION_URL: 'https://DD_FQDN'`

Can you please share me actual  assertion URL format i have also tried this `https://DD_FQDN'/saml2/acs/`
Thanks in Advance!!

[2021-10-01 17:27] valentijnscholten opened #5204 "Add Forgot Password flow"
https://www.ordinarycoders.com/blog/article/django-password-reset

[2021-10-02 15:53] valentijnscholten commented on #5200
also if this is ubuntu 18.04 then that is probably too old: https://github.com/DefectDojo/django-DefectDojo/blob/master/DOCKER.md#prerequisites

[2021-10-03 16:54] zakrush commented on #5171
@alles-klar  As I say early, if you're using endpoints as dedup algo, you can't to do reimport with currectd deduplication. Also, I think that it's incorrect using endpoints for service-name.

@StefanFl I already have some jobs with endpoints, sometimes I can't to do one engagement for every service. Yes, also I have engagements per branch. I'll get very much engagements. It is more convenient to

[2021-10-03 19:30] dsever commented on #5114
It should be, it is strange to see your situation when it is not applying.

DD_SAML2_ASSERTION_URL: 'FQDN'

Can you drop  here your complete configuration for SAML

Dubravko

[2021-10-04 07:00] nareshbogathi commented on #5114
@dsever

here are the my configurations for SAML
`extraConfigs:
    DD_SAML2_ENABLED: 'true'
    # If the metadata can be accessed from a url, try the
    DD_SAML2_METADATA_AUTO_CONF_URL: 'SAML metadata URL'
    DD_SAML2_ENTITY_ID: 'https://FQDN/saml2/metadata/' # need to be mapped to IDP
    DD_SAML2_ASSERTION_URL: 'FQDN'
    # DD_SAML2_ALLOW_UNKNOWN_ATTRIBUTE: 'true'
    DD_DEBUG: 'true'`

[2021-10-04 08:04] dsever commented on #5114
Have you specified so FQDN is actually FQDN od your DD instance?

And are you sure that SP is defined in your IDP in proper way? Usually I'm using simple FQDN of my DD instance, without anything additional.

[2021-10-04 10:40] mikeanth-dev commented on #5202
Done. See #5208

[2021-10-04 10:40] #5202 closed

[2021-10-04 11:54] nareshbogathi commented on #5114
Hey thanks for the support issue got resolved after adding `DD_SITE_URL: FQDN`

[2021-10-04 14:57] #5114 closed

[2021-10-05 06:48] valentijnscholten opened #5217 "Bundle SwaggerUI to avoid CDN download for openapi spec"
By default `drf-spectacular` uses `jsdelivr` as a CDN to include `SwaggerUI` into the UI.

For corporates this might be undesirable for compliance reasons, or impossible if users don't have internet access.

There is a setting to point to a self-hosted instance of `SwaggerUI` (or other CDN): https://github.com/tfranzel/drf-spectacular#self-contained-ui-installation

We could add `SwaggerUI` as nod

[2021-10-05 18:09] #5155 closed

[2021-10-06 08:24] zakrush opened #5228 "OWASP ZAP Report parser error"
**Slack us first!**

**Be informative**
API Import of ZAP Report return 500 Error.

@damiencarol  I know that you are writing new parser for OWASP ZAP. I think you should consider the error that I'm getting now.(DEfect dojo 2.1.0)

**Bug description**
Get 500 error when uploading OWASP ZAP:
[code]

Error log:
[code]

Sample file into attach

**Steps to reproduce**
Steps to reproduce the behavior:

[2021-10-06 08:50] valentijnscholten opened #5230 "docs: Add links to Community Contribs repo"
The community contribs repo (I think) isn't mentioned anywhere in the README or GitHub pages docs: https://github.com/DefectDojo/Community-Contribs

I think we should add it there to make people more aware of it.

Personally I am even wondering if we should just add a `contrib-docs` or `contrib` folder to the main repo so changes in functionality and docs can be in the same PR.

[2021-10-06 10:07] zakrush commented on #5228
Check on v. 2.4.0-dev ( 381c7a3e )
It's not reproducible

[2021-10-06 12:24] franco-marino opened #5233 "linked CCVS Reports Github repo no longer exists"
CCVS Reports Github link return 404
Link: https://github.com/William-Hill-Online/CCVS-API

[2021-10-06 16:44] damiencarol commented on #5228
it's embarrassing. I can't reproduce the bug on `2.2.1` or in `dev` (2021-10-06)

[2021-10-07 04:47] StefanFl opened #5236 "Filters for Findings have no dropdowns"
**Bug description**
When you open the filters in any of the Finding lists, the dropdown fields (Date, Product, ...) have no dropdowns and cannot be selected.

Report by @37b on Slack: https://owasp.slack.com/archives/C2P5BA8MN/p1633566424351200

[2021-10-07 04:49] StefanFl commented on #5236
might have been caused by #5170

[2021-10-07 09:16] zakrush commented on #4752
@StefanFl
I checked 2.4.0-dev just now.
I see that Accepted in Period is correct, but Dashboard view is 0.
![image](https://user-images.githubusercontent.com/33844164/136355650-fd078d57-aa1a-4f83-8501-e987207fc767.png)

Other metrics is correct.

[2021-10-07 20:16] zakrush commented on #5228
Yes. I'l close it/

[2021-10-07 20:16] #5228 closed

[2021-10-08 09:12] valentijnscholten opened #5250 "dependency check: local variable 'vulnerability' referenced before assignment"
[code]

[2021-10-08 15:52] jurschel opened #5253 "Add Engagement ID to the All Engagements page as a selectable column."
Please add this ID to the All Engagements page so that when the list is exported it already contains the ID.  This is helpful when cleaning up a lot of engagements that might be getting created via automation.

[2021-10-08 17:16] damiencarol opened #5256 "Suspicious duplicate branch in a if in dojo.cred.view.delete_cred_controller()"
This branch duplicates the one on line 630.

https://github.com/DefectDojo/django-DefectDojo/blob/a2f75d4df79b770af8c02a07a324529e2aa958c3/dojo/cred/views.py#L630-L638

[2021-10-08 20:38] jurschel commented on #5253
There is an export on that screen.  However it doesn't include that field as a selectable column.  Feels like it might be a really quick change to add that to the existing export fields?

[2021-10-08 20:44] jurschel opened #5257 "Engagements - Add Select All"
On the View Engagements screen for a product enable a user to select all or select specific engagements in a list of multiple engagements vs having to individually drill into each and go to the delete option.

[2021-10-09 07:42] StefanFl commented on #5253
I agree with @valentijnscholten, proper CSV/Excel export as with the Findings is the better way to go and not a lot of effort.

[2021-10-12 12:59] StefanFl opened #5271 "Superusers shall always be staff users"
**Bug description**
When a user is superuser but not staff user, they cannot access some functionality like listing and viewing users.

**Expected behavior**
Every superuser shall be staff user as well. The user interface and the API shall forbid otherwise.

[2021-10-12 17:33] sparthe123 opened #5272 "Google Auth Redirect URL update"
Hi,

I need help in Google auth redirect URL , I need that to change to mydomain.com instead of 127.0.0.1:8080/.../

[2021-10-12 19:49] valentijnscholten commented on #5272
Please explain in detail your setup/goal/problem, or come to Slack as mentioned in the issue template.

[2021-10-13 08:14] #5272 closed, assigned to nobody

[2021-10-13 17:10] valentijnscholten commented on #4906
@zakrush fixed in 2.3.0, please let us know if you experience further problems around this.

[2021-10-14 04:29] t51 opened #5277 "promoting potential findings (stub_finding) - NoAuthorizationImplementedError"
**Bug description**
User Details:
Active, Staff = Ticked
Global Role = Owner

When trying to a 'Potential Finding' within the Test page, the application returns an error.
NoAuthorizationImplementedError at /stub_finding/71/promote
No authorization implemented for class Stub_Finding and permission 1406

Temporary workaround:
set DD_AUTHORIZATION_STAFF_OVERRIDE=True
OR
set user as SUPERUSER.

Traceb

[2021-10-14 06:00] damiencarol commented on #5171
@valentijnscholten of course implementing the simpler solution can be better in the short term. Adding a `service` attribute is easy and I can support updating all the parsers that have this concept of "service".
*But* I really think that we should invest time in having a generic algorithm that handle this "linked" resources in the mid/long term.
The endpoints code for now is ok. It takes shortcut

[2021-10-14 06:28] manuel-sommer commented on #5256
Thus, this issue can be closed.

[2021-10-14 06:41] #5256 closed, assigned to nobody

[2021-10-14 23:32] t51 opened #5278 "Created Endpoint does not appear in the Findings"
Hi Devs,

**Bug description**
Associating an endpoint to a finding no longer works. When attempting to add a system/endpoint to a finding, the endpoints are no longer displayed for that product.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go any Findings
2. Edit Finding
3. Click the drop-down under 'Systems / Endpoints' OR the add button for the popup creation.

**Expected behavior

[2021-10-14 23:49] t51 opened #5279 "Endpoint Status returns all status records"
**Bug description**
When editing an Endpoint, the Endpoint Status drop-down field returns all dojo_endpoint_status records.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open any single Endpoint
2. Click Edit
3. Click the drop-down for Endpoint Status

**Expected behavior**
I'm actually unsure of the purpose of this field, however, I don't believe it should be returning all records.

[2021-10-15 06:24] StefanFl opened #5281 ""SonarQube Scan detailed" parser cannot import security hotspots"
**Bug description**

SonarQube provides 2 types of findings: issues and security hotspots. A report containing security hotspots cannot be imported, because the hotspots don't have a reference to a rule in the report, which is currently mandatory for the parser.

**Logs**

[code]

**Sample scan files**

[sonar-report_sonar-report.zip](https://github.com/DefectDojo/django-DefectDojo/files/7351326/s

[2021-10-15 06:32] StefanFl opened #5282 ""SonarQube API Import" parser mixes up severity and scanner confidence for security hotspots"
**Bug description**
SonarQube's security hotspots have a review priority defined like this:

In the current implementation of the scanner this review priority is translated to scanner confidence (certain, firm, tentative) and the severity of the findings are always **Info**.

A better interpretation would be to use the review priority to set the severity of the finding and set the scanner confiden

[2021-10-15 06:33] StefanFl commented on #5282
@jimtsikos You implemented the parsing of security hotspots initially. What do you think about it?

[2021-10-16 06:22] damiencarol commented on #5282
I can take this one.

[2021-10-17 21:50] #5277 closed, assigned to StefanFl

[2021-10-17 21:59] t51 commented on #5277
Thank you

[2021-10-17 22:55] kiblik opened #5290 "Broken links"
In https://github.com/DefectDojo/django-DefectDojo/blob/master/readme-docs/CONTRIBUTING.md there are broken links to https://github.com/DefectDojo/django-DefectDojo/blob/master/readme-docs/tests.

[2021-10-18 06:15] t51 opened #5291 "Endpoints Created via Findings page are not getting associated back to the Finding"
Bug description
When creating an Endpoint via the Finding page, the newly created Endpoint does not associate back to the Finding.
When trying to select an Endpoint for the Finding, no Endpoints are listed.

Steps to reproduce
Steps to reproduce the behavior:

1. Open any single Finding click Edit
2. In the Endpoint section, attempt to select an Endpoint via the dropdown box. OR create a new Endpo

[2021-10-18 11:09] themenucha opened #5292 "Add support for SCA json file import for Veracode"
**Is your feature request related to a problem? Please describe**
Cannot import Veracode's SCA(srcclr) json scan results. File example: https://github.com/DefectDojo/sample-scan-files/blob/master/veracode/veracode-docker-scan-dojodjango.json
Ex: I'm always frustrated when [import scan results fails]

**Describe the solution you'd like**
It will be great to have the ability to upload srcclr scan re

[2021-10-18 20:43] StefanFl commented on #5279
@Maffooch I am working on endpoints anyway and can include this issue as well.

[2021-10-18 21:30] Maffooch commented on #5279
Okay even better! Thanks @StefanFl

[2021-10-19 05:55] damiencarol commented on #5292
I will take a look.

[2021-10-19 15:22] damiencarol commented on #5120
@chanduaki I made some tests with Horusec. which file do you use as the result?
This one => `.horusec/results-<id>.json` ?

[2021-10-20 12:45] damiencarol opened #5310 "(bug) String comparison using `is` operator"
The 'is' operator is for reference equality, not value equality, and therefore should not be used to compare strings.

https://github.com/DefectDojo/django-DefectDojo/blob/d92c8478fba1ad90b97023657333e446153e1455/dojo/unittests/test_rest_framework.py#L185-L186

For more information, see https://github.com/satwikkansal/wtfpython#-how-not-to-use-is-operator

[2021-10-21 08:48] malexmave opened #5312 "Reimporting scans on an empty test gives less results than full import"
## Description
I have a semgrep results JSON with 9 findings. Depending on the way I import it into DefectDojo, not all findings are imported correctly.

## Steps to Reproduce
All instructions assume a fresh standard dockerized install without any changes to the settings.

Method 1, which will give all findings:
1. Create a new product in DD
2. Select "Import Scan Results"
3. Fill out the form and

[2021-10-21 14:21] ddudnyk opened #5316 "OWASP Dependency-check report import ends with an error"
## Unable to import OWASP Dependency-check scan report using API v2:
For example, sending report:

`curl -X POST "https://demo.defectdojo.org/api/v2/import-scan/" -H  "accept: application/json" -H  "Authorization: 548afd6fab3bea9794a41b31da0e9404f733e222" -H  "Content-Type: multipart/form-data" -H  "X-CSRFToken: 5LMxAW1u9etB6KMGgj5KAcxpn5MP2kK90hKKsC9OrEBEhLIIj4XB0pokOERj0Sb8" -F "scan_date=2021-1

[2021-10-21 15:26] damiencarol commented on #5312
@malexmave did you configure the Generic parser de-duplication configuration to `DEDUPE_ALGO_UNIQUE_ID_FROM_TOOL`?
Like for exemple:
https://github.com/DefectDojo/django-DefectDojo/blob/a2f75d4df79b770af8c02a07a324529e2aa958c3/dojo/settings/settings.dist.py#L1113

As you are filling the attribute `unique_id_from_tool`, it could be better for you use case.

[2021-10-21 15:36] damiencarol commented on #5291
@StefanFl this part broke in the past, and I find it not very user-friendly. It could be good to accept a list of URLs in a big text area and parse them when creating the Finding. What do you think?

[2021-10-21 15:44] damiencarol commented on #5282
@StefanFl we had the same discussion with @jimtsikos and I continue to think the same (https://github.com/DefectDojo/django-DefectDojo/pull/4107#discussion_r711770246).
Hotspots are just some info more or less likely to produce a finding.
According to the SQ documentation:

Also as you said.

Ths clearly state that it is ordered by the confidence of the tool (SonarQube) if this will produce a find

[2021-10-21 15:59] StefanFl commented on #5312
There are no default settings for the Semgrep parser for deduplication. It's an easy fix which I will submit later.

But we have to discuss if we have to change the defaults.

[2021-10-21 17:39] zakrush opened #5318 "Trouble with pushing finding Files to Jira"
**Slack us first!**
https://owasp.slack.com/archives/C2P5BA8MN/p1634721377444900

**Be informative**
If finding was pushed to Jira, and then user add/update files of finding, that it's not updated to Jira.

**Bug description**
If Finding was created with files and than push to jira, attachment seem into issue. But not updated throught DD

**Steps to reproduce**
Steps to reproduce the behavior:
1.C

[2021-10-22 06:51] malexmave opened #5321 "API endpoint to get user ID for authentication key"
**Is your feature request related to a problem? Please describe**
The API allows creating engagements, findings etc. programmatically. They require a user ID to be set as part of the creation (to denote who is leading the engagement, for example). When using an API key without global rights (e.g., one that only has maintainer rights on a single product type), there seems to be no way to programmat

[2021-10-22 07:34] kiblik opened #5322 "New parser for Network Exploitation, Reconnaissance & Vulnerability Engine (N.E.R.V.E)"
**Scanner Name**

https://github.com/PaytmLabs/nerve

**Sample File**
I do not have it

[2021-10-23 11:34] valentijnscholten opened #5328 "X-XSS-Protection header should be absent or set to 0"
According to the new OWASP HTTP Header Cheat Sheet, we should remove or disable the `X-XSS-Protection` header.

They don't say why, so I made a PR to add some explanation: https://github.com/OWASP/CheatSheetSeries/pull/769

[2021-10-25 06:49] root-lib opened #5331 "Default group for SAML2 logins"
**Is your feature request related to a problem? Please describe**
Yes, users logged in via saml2 should get a default group assigned . This would be helpful to manage large number of users via an idp and less maintenance overhead. By default if a user is created via saml2(first login) he has access to nothing. So someone has to manually give him access to basic objects. This is a blocker and pain

[2021-10-25 06:59] #5322 closed, assigned to nobody

[2021-10-25 12:05] pvasilevich opened #5334 "History of finding page has improper formatting"
**Bug description**
Bad formatting of the page (Finding History). Several lines combined into one, there are no line separators at all. Hard to read text.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Product->Open Findings->Finding'
2. Click on popup menu (toaster icon in upper-right corner)
3. Choose 'View History' in the menu
2. Page with history opened.

**Expected behavio

[2021-10-25 13:54] #5328 closed, assigned to nobody

[2021-10-25 15:00] kamranha opened #5335 ""title" input is missing from "import-scan" API method"
![image](https://user-images.githubusercontent.com/93140960/138715790-b258c552-c26d-4eb5-9d8d-efb8612c5f46.png)

![image](https://user-images.githubusercontent.com/93140960/138720128-61071a77-6a5a-426f-b718-70299a35418b.png)

[2021-10-25 16:10] #5316 closed, assigned to nobody

[2021-10-26 08:28] bgoareguer opened #5338 "Hadolint findings are not deduplicated"
**Bug description**
Importing the same Hadolint report multiple times makes the number of findings grow (instead of it being unchanged).

**Steps to reproduce**
1. Create an engagement
2. Import a Hadolint report
3. Check that the number of findings shown by DefectDojo corresponds to the number of findings in the Hadolint report
4. Import the same report another time

=> The number of findings sho

[2021-10-26 09:38] manuel-sommer opened #5339 "Wrong Dedulication Algorithm for Mozilla Observatory Scan"
Bug description
Importing the same Mozilla Observatory Scan report multiple times makes the number of findings grow.

Steps to reproduce

Create an engagement
Import the same Mozilla Observatory Scan report multiple times.
Multiple findings are not deduplicated from DefectDojo.

Expected behavior
The deduplication algorithm in DefectDojo deduplicates findings.

Deployment method
Docker Compose

Op

[2021-10-26 16:10] #5321 closed, assigned to StefanFl

[2021-10-27 07:55] DImaste opened #5348 "Allow import SonarQube findings from other branches than master"
Our project has several branches required for importing but we can see the only "master" vulnerabilities in DD

[2021-10-27 10:30] #5310 closed, assigned to nobody

[2021-10-27 15:58] aishwaryakrish87 opened #5352 "Unable to upgrade DefectDojo from 1.15 to 2.0.0, migration errors"
Hi,

I have installed DefectDojo v1.15.0 using docker and restored database from another existing instance of same version. Works fine with v1.15.0 but it is required for us to upgrade to v2.2.1 with the database intact. During the upgrade process while bringing up the application with 'docker-compose up' the migration encounters a series of django migration errors.

However, There's no issue upgr

[2021-10-29 07:38] #5338 closed, assigned to nobody

[2021-10-29 11:09] cristiano-corrado opened #5356 "Endpoint with protocol length > 20 characters causes error in report uploads (Tested with nessus)"
When importing an endpoint which has **protocol** length > 20 characters the import fails

error in UI :

[code]

Causes of the problem is a restrictive **max_length=20** in the Endpoint model :

[code]

Example string causing error:
as seen below the string is 21 chars
[code]

By truncating the endpoint as the example below is possible to upload the Nessus report :

[code]

**Deployment method**

[2021-10-29 18:33] damiencarol commented on #5356
yeah, could be a good idea

[2021-10-30 18:37] manuel-sommer commented on #5334
This issue can be closed @valentijnscholten

[2021-10-30 18:40] manuel-sommer commented on #5335
This can be closed @valentijnscholten

[2021-10-30 21:01] valentijnscholten commented on #5334
fixed in dev/2.4.0

[2021-10-30 21:01] #5334 closed

[2021-10-30 21:02] valentijnscholten commented on #5318
fixed in dev / 2.4.0

[2021-10-30 21:02] #5318 closed

[2021-11-01 18:48] valentijnscholten opened #5363 "reimport doesn't respect active flag from parsers"
Noticed this when checking some things after https://github.com/DefectDojo/django-DefectDojo/pull/5082 was implemented.

That PR sets `active` to `False` for surpressed findings. This works fine on `import` and the finding gets imported as `inactive`. But on a subsequent `reimport` of the same report the finding gets reactivated because the `reimporter` doesn't respect the `active=False` flag in t

[2021-11-02 13:08] CharlieSears commented on #4513
@MichaelGissingNC, is this something you're working on and have a branch that could be contributed to?

We've been loving Defect Dojo but SonarCloud missing is something I'd love to get functional and would hate to duplicate effort to get this in to 2.5.0.

[2021-11-02 13:26] MichaelGissingNC commented on #4513
@CharlieSears I only tried to incorporate the changes @damiencarol suggested in `django-DefectDojo/dojo/tools/sonarqube_api/api_client.py`, and I didn't even ship it to our production instance. I did no additonal work and no further investigation after it didn't work for me.

There was some discussion going on on OWASP Slack about it, I can offer to help testing a new implementation with our Sonar

[2021-11-02 18:04] StefanFl commented on #5171
merged for release 2.4.0

[2021-11-02 18:04] #5171 closed

[2021-11-02 18:05] StefanFl commented on #5253
merged for release 2.4.0

[2021-11-02 18:05] #5253 closed

[2021-11-02 18:06] StefanFl commented on #5278
merged for release 2.4.0

[2021-11-02 18:06] #5278 closed

[2021-11-02 18:06] StefanFl commented on #5279
merged for release 2.4.0

[2021-11-02 18:06] #5279 closed

[2021-11-02 18:07] StefanFl commented on #5291
merged for release 2.4.0

[2021-11-02 18:07] #5291 closed

[2021-11-03 03:46] tsmithv11 opened #5376 "Parse CycloneDX Recommendations to DefectDojo Mitigation"
**Is your feature request related to a problem? Please describe**
CycloneDX has a category called "recommendations" and DefectDojo has a section called "mitigation that seems to match.

For example:
      <v:recommendations>
        <v:recommendation>Upgrade</v:recommendation>
      </v:recommendations>

Would translate to "Upgrade" in the mitigation section of DefectDojo.

**Describe alternatives

[2021-11-04 07:27] SPoint42 opened #5386 "Burp Pro file error when imported a saved copy"
Just try with my Burp Pro V2021.9.1 and can't import the saved scan

Tested with Defectdojo 2.3.1 and fresh -dev from this 2021-11-04 day.

Error is :

uwsgi_1         | [pid: 35|app: 0|req: 7/10] 172.18.0.1 () {58 vars in 2183 bytes} [Thu Nov  4 07:24:46 2021] GET /alerts/count => generated 13 bytes in 28 msecs (HTTP/1.1 200) 6 headers in 171 bytes (1 switches on core 1)
uwsgi_1         | [04/Nov

[2021-11-04 14:56] valentijnscholten commented on #5386
Line 1, column 1 is at the very start of the file. Is there some kind of invalid BOM character or something? (just guessing at the moment).

[2021-11-05 16:25] CharlieSears opened #5400 "Integration Tests Missing Test File"
**Bug description**
Integration tests do not succeed when running all tests or when run targeting `tests/user_standard_test.py`. This is because `tests/user_standard_test.py` does not exist.

**Steps to reproduce**
Run all integration tests as there is no way to currently run only `tests/user_standard_test.py`
Steps to reproduce the behavior:
1. `unset DD_INTEGRATION_TEST_FILENAME`
2. `docker/setE

[2021-11-05 16:26] CharlieSears opened #5401 "Integration Tests Setting Invalid Boolean"
**Bug description**
`entrypoint-integration-tests.sh` sets a `local_settings.py` value to `Frue`.

**Steps to reproduce**
Run all integration tests as there is no way to currently run only `tests/user_standard_test.py`
Steps to reproduce the behavior:
1. `unset DD_INTEGRATION_TEST_FILENAME`
2. `docker/setEnv.sh integration_tests`
3. `docker-compose up --build` (--build is not required but it's wha

[2021-11-05 17:15] valentijnscholten commented on #5400
@dsever Did you forget to commit a file in #5275 ?

[2021-11-05 17:19] valentijnscholten commented on #5401
@dsever Can you check this artifact from #5275 ?

[2021-11-05 17:24] dsever commented on #5401
Could be left overs, because first I went with this file to keep the tests, than @valentijnscholten recommended to have it in existing user file, so I made mistake than.  I will take a look

[2021-11-05 17:39] dsever commented on #5400
I'm on it

[2021-11-05 20:57] dsever opened #5404 "Better support for security logging"
Story: As security auditor/forensic, we require that solution has capability to deliver logs remotely (to be compliant with regulatory requirements) and  would use audit logs as proofs of system events. I can use, already implemented `Audit logging` functionalities, but currently it can't be remotely delivered to LMS or SIEM for further analysis.  Additionally I as forensic I need logs about user

[2021-11-08 18:04] pedroamaral27 opened #5411 "Add Issue Type through Env Variables for JIRA config"
**Feature Request:**

We have multiple different custom JIRA Issue Types in our enterprise JIRA, which vary depending on the actual issue at hand.
I know there is a way to add different issue types within the settings.py file, but it would be great if we could do so through environment variables, making the process much easier for kubernetes prod environments.

[2021-11-09 09:18] bgoareguer opened #5414 "[HELM] The metrics container in the Django pod cannot start"
**Bug description**
Since #5260 has been merged, the metrics container in the Django pod cannot start anymore.

The entrypoint has been changed between version 0.8.0 and 0.9.0 of the [nginx-prometheus-exporter](https://github.com/nginxinc/nginx-prometheus-exporter/compare/v0.8.0...v0.9.0#diff-5aecd73bbcb9b7410938673269f0d4e676dd18509277b0ff2f2787c9d3e22604)

The new entrypoint should be used in [d

[2021-11-09 12:27] vishnupriyaavp8 opened #5416 "DefectDojo create findings apiv2 500 Error foreign key constraint fails"
### **Bug description**
While creating a finding through DefectDojo API v2, I am getting 500 Internal Server Error.
The error shown in logs is

### **Steps to reproduce**
Steps to reproduce the behavior:
1. Create a Product P (from UI)
2. Create an Engagement E within Product P (from UI)
3. Create a Test T with Test type 'API Test' within engagement E (from UI)
4. Create a custom finding F1 inside

[2021-11-09 15:45] valentijnscholten commented on #5416
What happens if you browse in the UI to `https://<defectdojohostname>/user/8`?

[2021-11-09 15:59] valentijnscholten commented on #5416
And please provide the info as requested in the template.

[2021-11-09 16:41] vishnupriyaavp8 commented on #5416
This is what I get for /user/8
![image](https://user-images.githubusercontent.com/54842012/140966589-789f4eba-e177-4be0-b30e-7320c22c2d66.png)

I created a new Test type (called 'testing') and I am using it. Is that an issue?

[2021-11-09 17:06] vishnupriyaavp8 commented on #5416
Is it fine now?

[2021-11-09 18:04] valentijnscholten commented on #5416
Can you try to create your finding via the API docs / try out function? It's at `/api/v2/oa3/swagger-ui/?docExpansion=none#/findings/findings_create`. We have a test case creating findings and I can create findings manually without a problem via the API. I notice you are setting fields that are not available in the API to be set, but are calculated internally. Can you try via the api docs and stic

[2021-11-09 18:06] valentijnscholten commented on #5416
Also please stick to the json standard with regards to booleans:
![image](https://user-images.githubusercontent.com/4426050/140979761-ee1e3e9d-63e5-4261-b3a7-8ae5c7f9ffe3.png)

[2021-11-10 06:00] vishnupriyaavp8 commented on #5416
I have tried from Swagger UI with only required fields. It leads to the same issue. Will share screenshots in some time.

[2021-11-10 08:20] vishnupriyaavp8 commented on #5416
Issue solved by installing DefectDojo 2.4.1. (Previously, I had cloned the git repository). Thanks for the support.

[2021-11-10 08:24] valentijnscholten commented on #5416
On the same database or a fresh database?

[2021-11-10 08:36] vishnupriyaavp8 commented on #5416
Freshly installed in another system

[2021-11-10 08:38] valentijnscholten commented on #5416
ok, could be something in the database that was incorrect. I don't think many people are creating findings manually so there could be some bugs there as we don't test it a lot ourselves. If you find anything that can be reproduced let us know so we can try to improve it.

[2021-11-10 10:08] fuzzah opened #5417 "Some fields are ignored/changed in APIv2 when creating new finding"
**Bug description**
I've created my own test type with checkboxes Active and Dynamic tool.
I've created a separate user with user id 2 and product role Writer.
When I create new findings using APIv2:
1. field "reporter" gets changed from 2 to 1
2. field "static_finding" gets changed from false to true
3. field "dynamic_finding" gets changed from true to false

**Steps to reproduce**
Steps to repro

[2021-11-10 12:22] vishnupriyaavp8 commented on #5416
Sure, thanks a lot. I want to rectify this issue in the first machine where I did git clone.

2 questions :
1. If I delete docker images and reinstall Defect Dojo 2.4.1, will my projects and findings be retained?
2. Will the issue persist? Will the same Database be used after my re-installation?

[2021-11-10 12:24] jcaillon commented on #4598
I can confirm that this issue has been fixed: Scan import for checkmarx is working fine with vers 2.4.1, issues are listed and active and unverified, as specified during the import.

![image](https://user-images.githubusercontent.com/11553075/141112558-9561fcb1-f663-492b-9c68-eb3f44b97e76.png)

[2021-11-10 16:53] #4598 closed

[2021-11-10 16:53] valentijnscholten commented on #4598
@jcaillon Thanks for letting us know, closing an issue always feels good.

[2021-11-10 16:55] valentijnscholten commented on #5416
If you do not delete the volumes the data will be retained, but probably also the problem :-)

[2021-11-10 16:56] valentijnscholten commented on #5414
Fixed in `dev` i.e. 2.5.0.

[2021-11-10 16:56] #5414 closed

[2021-11-10 17:14] vishnupriyaavp8 opened #5419 "Child rule not working and Rule applied thrice"
### **Bug description**
1. Adding a child to a rule does not make any difference.
2. When Finding is created, Rule is applied thrice

### **Steps to reproduce**
Steps to reproduce the behavior:
1. Create a Rule with following specifications
![image](https://user-images.githubusercontent.com/54842012/141155739-85fb8c61-a8b2-43dc-977c-83c8caec4130.png)

2. Add Child as shown below
![image](https://u

[2021-11-10 17:30] vishnupriyaavp8 commented on #4228
### **Suggested Edit**

master/dojo/rules/views.py
![image](https://user-images.githubusercontent.com/54842012/141163217-9ba5470a-5a4f-4b66-a12d-e8452047658f.png)

[2021-11-10 18:04] valentijnscholten opened #5420 "replace deprecated selenium method usage"
[code]
100s of log lines like this. Looks like we need to change some (small) things in lots of places :-)

[2021-11-10 18:10] valentijnscholten commented on #5419
The rules framework is no longer maintained and might be removed in the future unless someone steps up to take ownership. For now I'm closing this issue.
![image](https://user-images.githubusercontent.com/4426050/141169398-28b3f98c-abc5-4404-97ef-09f5b20538e5.png)

[2021-11-10 18:10] #5419 closed

[2021-11-10 18:34] vishnupriyaavp8 commented on #5419
Rules is a wonderful feature when we want to accept risk in findings based on conditions in present and future. Requesting this enhancement.

[2021-11-10 22:23] httpnotonly opened #5422 "Trufflehog3 import error"
**Bug description**
Trying import a report from Trufflehog3:2.0.4, 3.0.1, 3.0.3 and see this
`An exception error occurred during the report import:'reason'`

**Steps to reproduce**
Steps to reproduce the behavior:
1. Scan any project with trufflehog3 and get more that 10 findings
2. Import the report
3. See error `An exception error occurred during the report import:'reason'`

**Expected behavior*

[2021-11-11 09:47] httpnotonly commented on #5422
![image](https://user-images.githubusercontent.com/38507289/141276239-d2177e71-8545-4a79-bc4b-5c52e5258836.png)

[2021-11-11 10:24] StefanFl opened #5424 "Integration tests are not running anymore properly and override local_settings.py"
**Bug description**

At first the integration tests didn't run because they need write access to `dojo/settings/local_settings.py` and `dojo/settings/settings.py`. Because I didn't know which user I did `chmod ugo+w` for these files. We need a documentation what is the best way to deal with this.

Running the integration tests twice in a row doesn't work anymore, because `dojo/settings/local_setti

[2021-11-11 10:26] StefanFl commented on #5424
@dsever Please can you have a look at this? I think these issues have been introduced with #5275

[2021-11-11 10:40] StefanFl commented on #5424
Just seen #5401 which already addresses one of my three issues.

[2021-11-11 11:05] dsever commented on #5424
For your local test you can just promote `dojo/settings/` to be writable to anyone on your local disk, because in other hand as is in the docker compose, it uses your local permissions.

[2021-11-11 11:12] dsever commented on #5424
Sorry @StefanFl  I had impression that it is already fixed by: https://github.com/DefectDojo/django-DefectDojo/pull/5397/commits/7f1f2dc9da80a72c2ef70df12a1cf3f822858b16

But looks like author decided to rollback this fix...So I can fix it right away

[2021-11-11 14:34] fuzzah opened #5430 "Python: How to upload files for findings using APIv2?"
I need to attach some binary files (not text) to my findings in DefectDojo.
Here's method I wrote based on similar methods of DefectDojoAPIv2:
[code]
(self.api is instance of DefectDojoAPIv2)

While response code I get is always 200, **files don't actually appear in DefectDojo**.
Also tried:
1. POST to url `f"manage_files/{finding_id}/Finding"` (as in web interface)
2. set "title" field to file_ti

[2021-11-11 14:58] valentijnscholten commented on #5422
Can you provide a (redacted) sample report to reproduce please?

[2021-11-11 15:04] valentijnscholten commented on #5424
It's hardcoded to user `1001`, but https://github.com/DefectDojo/django-DefectDojo/pull/5432 allows for a build arg to configure the desired uid (probably `1000` :-))

[2021-11-12 11:25] psbelin opened #5437 "New permission model doesn't allow to create multiple groups containing the same Product Type"
**Bug description**
When using the new permission model, it's not possible to create multiple groups containing the same Product Type.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '/group'
2. Click on `New Group`
3. Set a name, assign no global role and click Submit
4. In Product Type groups (under /group/`group-number`) click `Add Product Types`
5. Select a Product Type, assi

[2021-11-12 19:35] kiblik opened #5442 "APIv2: SonarQube reimport fails (HTTP 500)"
**Be informative/Bug description**
Before migration `[sonarqube_config, cobaltio_config]` to `api_scan_configuration`, it was possible to run reimport without `sonarqube_config` definition (it automatically detected `sonarqube_config` from last run).
Now, reimport is failing.

**Steps to reproduce**
Run `/api/v2/reimport-scan/` on SonarQube Test without `api_scan_configuration`

**Expected behavio

[2021-11-13 08:07] valentijnscholten commented on #5424
@dsever If you turn `USER_PROFILE_EDITABLE` into a `System_Setting` we can use a more normal testing approach.

[2021-11-13 14:28] IUVSARINA2l1 opened #5443 "The"
**Scanner Name**
Name of the scanner, brief description of the scanner and link.

**Sample File**
Please attach a sample file and the format of the file (xml, json, csv).

[2021-11-13 14:57] IUVSARINA2l1 commented on #5424
Won't log I server

[2021-11-13 18:07] valentijnscholten commented on #5443
seems someone leaving bogus comments in our repo on vairous PRs and issues.

[2021-11-13 18:07] #5443 closed

[2021-11-14 21:32] dsever commented on #5424
If tests are only criteria then we can use System_Settings(Selenium)/API to change the parameters. But there should be clear a logic/rule what is in the System_Settings and what will be preserved in file, for the sake of users.

To be honest I would like to see as much as possible within System_Settings, like SMTP, IDP setup,...to be able to change the most of things without  need to respin django

[2021-11-15 06:50] valentijnscholten commented on #5424
Yeah, we had some discussions about it and I think the conclusion was that the low level sysadmin / devops settings should be in `settings.dist.py` and the settings for defect dojo admins / staff users should be in `System_Settings`. But it's not a 100% clear definition. It's possible to write a unit test instead of an integration test. The unit test can work against the view method and check if i

[2021-11-15 07:49] #5420 closed

[2021-11-15 07:58] SPoint42 commented on #5386
Just done a save of a simple projet and try to upload. I don't be sure this is only the problem....

[2021-11-15 08:35] dsever commented on #5424
@valentijnscholten I'm aware of that, and I wanted to use it in same way how @StefanFl  is using patches for his work on authentication, but keep in mind integration test are executed remotely, and it is not possible to patch configuration remotely (only by API).

That means, Selenium part needs to be added to unit tests as well.

I would be really happy, if user interface can be testes as part of

[2021-11-15 08:41] valentijnscholten commented on #5424
For now you could just call the backend views from the unit tests and check the response code and html. I do the same in `test_import_reimport.py`

[2021-11-15 08:45] zakrush opened #5448 "JIRA: Support resolutions for False Positive, Risk Accepted, Out of Scope, etc."
**Is your feature request related to a problem? Please describe**
Discussion here
https://owasp.slack.com/archives/C2P5BA8MN/p1635238884057600
third point

When I change finding to False Positive for ex., and push to jira, Into Jira finding have Done mitigated(not False Positives).  The DD send always "Done" mitigation.

**Describe the solution you'd like**
If finding is changed to False Positive

[2021-11-15 09:57] dsever commented on #5424
Ok, I will try to find some time slot to try it out.

[2021-11-16 04:47] BhaskiBuzz opened #5453 "Detectsecretscan not showing the description field in the UI"
**Bug description**
After uploading the json report from detect-secrets scan tool, the description section of the findings shows empty in the defectdojo UI.
**Steps to reproduce**
Steps to reproduce the behavior:
1. Get the json report from detect-secret scan.
2. upload the report into defectdojo by selecting Detect-secret Scan type.
3. Open any issue and see the description section. It shows empt

[2021-11-16 16:45] valentijnscholten commented on #5453
Can you provide a sample scan report

[2021-11-16 16:46] valentijnscholten commented on #5453
This is fixed in 2.3.0, please update.
https://github.com/DefectDojo/django-DefectDojo/pull/5092

[2021-11-16 19:30] manuel-sommer opened #5454 ""All engagements" shows a wrong number of entries"
**Description**
The number of engagements is wrong in "All engagements".

**Steps to reproduce**
Generate a large number of engagements. In "Active Engagements" you can see the active engagements. Then click on "All Engagmeents". You can still see the full list, but the entry number is wrong. ("Showing entries X to Y of Z"). The number Z is wrong, the number is way too low.

**Expected behavior**

[2021-11-16 20:36] valentijnscholten commented on #5454
Can you try again with 2.4.1? The page was revamped in https://github.com/DefectDojo/django-DefectDojo/pull/5266

[2021-11-17 08:00] valentijnscholten commented on #5448
Currently JIRA doesn't send any resolution to JIRA, so JIRA uses the default resolution which is 'Done' for default workflows, but can be something else in other workflows/instance. I think it could be helpful if we add resolution support to our JIRA integration.

[2021-11-17 08:45] dsever opened #5459 "Move away from HELM 2"
Currently DD helm deployment uses V1 specification (Helm 2):

[code]

Helm 2 is not under  support anymore:
https://helm.sh/blog/helm-v2-deprecation-timeline/

It would be nice that product move away from helm 2 to helm 3.

Some notes about the migration https://helm.sh/docs/topics/v2_v3_migration/

[2021-11-17 10:13] BhaskiBuzz commented on #5453
Hi @valentijnscholten
I can see the below code from the fix commits. It looks like the value for the description filed contains only the filename, line and type which are reading from the json report. But it's not reading the actual description field value from the json report.

code:
                description = "Detected potential secret with the following related data:\n"
                descr

[2021-11-17 12:20] kiblik commented on #3607
Isn't this issue fixed?

[2021-11-17 12:22] kiblik commented on #3613
Can we close this issue?

[2021-11-17 12:40] kiblik commented on #5356
@cristiano-corrado, can you please provide some example (some report)?

[2021-11-17 21:35] #3613 closed

[2021-11-17 21:36] valentijnscholten commented on #3607
Yes, and even better with the new authorization V2.

[2021-11-17 21:36] #3607 closed

[2021-11-17 21:37] valentijnscholten commented on #5459
Feel free to do a PR :-)

[2021-11-18 08:18] DImaste opened #5465 "Add date preset for the last day for filtering findings"
Hello, it would be great if defect dojo had the last day preset for filtering findings. We want to use the filter to calculate daily KPIs.

[2021-11-18 13:34] ccorrado-tw commented on #5356
Hey @kiblik thanks for looking into it. Can't really share the report as it was for internal things. However the nessus parser in dojo will create an *endpoint* checking for :

`
<ReportItem port="264" svc_name="fw1-topology-download" protocol="tcp" severity="0" pluginID="11219" pluginName="Nessus SYN scanner" pluginFamily="Port scanners">
`
so if you have any report just increase the svc_name len

[2021-11-18 13:48] kiblik commented on #5356
@ccorrado-tw, that is all right. I know these "problems" :)
This should be enough.

[2021-11-18 19:37] valentijnscholten commented on #5465
Where would you like to see it (search, api, ...) what is your definition of 'last day'? There is a 'today' filter, do you mean a 'yesterday' filter?

[2021-11-19 08:56] StefanFl commented on #5453
I take it

[2021-11-19 12:12] StefanFl commented on #5453
@BhaskiBuzz How do you get a report with the `description` field? I have just tested `detect-secrets` with the most recent version 1.1.0 and I didn't get the field `description` in the report.

[2021-11-19 12:28] BhaskiBuzz commented on #5453
hi @StefanFl,

I too didn't get the field description in the report. Need to check if there is any way to configure the tool to get the description field as well.
As per the json sample report in the link "https://defectdojo.github.io/django-DefectDojo/integrations/import/#detect-secrets", I thought that the defectdojo will support the description field as well along with other attributes. So I ha

[2021-11-19 14:05] StefanFl commented on #5453
DefectDojo imports reports how they are generated of the scan tools, manual additions are not supported. As far as I can see all relevant information from the original report gets imported.

[2021-11-19 16:05] #5453 closed

[2021-11-19 16:29] BhaskiBuzz commented on #5312
I am also facing this issue for "Detect-secrets Scan" test type.

[2021-11-20 10:51] StefanFl commented on #5442
merged for release 2.5.0

[2021-11-20 10:51] #5442 closed

[2021-11-20 10:52] StefanFl commented on #5437
merged for release 2.5.0

[2021-11-20 10:52] #5437 closed

[2021-11-22 06:28] BhaskiBuzz commented on #5312
Hi @StefanFl @valentijnscholten I am also facing this issue for "Detect-secrets Scan". I tried adding the below possible settings in settings.dist.py, but still some findings are missing. It works fine with import-scan directly instead of reimport on empty test-case.

`'Detect-secrets Scan' : DEDUPE_ALGO_HASH_CODE`
`'Detect-secrets Scan' : DEDUPE_ALGO_UNIQUE_ID_FROM_TOOL_OR_HASH_CODE`
`'Detect-sec

[2021-11-22 09:36] ptrovatelli opened #5480 "Checkmarx: false positive imported as active/verified"
**Bug description**
In checkmarx GUI, it's possible to mark findings as false positive. Since 2019 the `false_p` value is correctly valued from the report `FalsePositive` field for checkmarx. However if "active/verified" is set to "true" during the import (in the GUI or the API), then the false positives are imported as active/verified.

**Steps to reproduce**
Steps to reproduce the behavior:
1. I

[2021-11-22 09:43] ptrovatelli commented on #5480
I have started working on the fix:
- in checkmarx parser, set active/verified according to the states in the report
- in dojo/importers/importer/importer.py: use active/verified from the report if there is one (not None), else use the default value from the api POST or the gui

The current logic there is a bit strange
[code]

[2021-11-22 21:42] StefanFl commented on #5312
Hi @BhaskiBuzz, it works with `'Detect-secrets Scan': DEDUPE_ALGO_HASH_CODE`, I have tested it and wrote a PR for it.

[2021-11-22 21:46] ptrovatelli commented on #5480
turns out, it's a little complicated to implement exactly the solution I proposed (default value is the one from the import, that can be overriden by the parser/report). I don't see an easy way to do it generically for all parsers:
- each parser has a `get_findings` method that creates the findings. At this point, we don't have the information about what was checked in the GUI or the API for activ

[2021-11-23 00:35] alexr3 opened #5485 "ZAP & trivy import errors"
**Bug description**
When manually importing ZAP and Trivy reports in different formats (json, xml, etc)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'All products'
2. Choose product
3. Click on 'Findings' - 'Import Scan Results'
4. Choose and attach file
5. Click on 'Import'
6. See the following errors:
"An exception error occurred during the report import:Expecting value: lin

[2021-11-23 05:46] BhaskiBuzz commented on #5312
Hi @StefanFl, I am using the v. 2.2.1 ( release mode ). It is not working for me with the addition of above setting in settings.dist.py.
Do I need to upgrade the version?

[2021-11-23 06:18] DImaste commented on #5465
@valentijnscholten  I mean the last 24hours filter. I'd like to see it both in API and metrics filtering.
Thank you!

[2021-11-23 07:08] StefanFl commented on #5312
I am pretty sure it will work in 2.2.1 as well. Can you post your setting with a few lines before and after?

[2021-11-23 07:14] StefanFl commented on #5485
Hello @alexr3, please provide log files for these errors. Without them it's hard to see what's going wrong.

[2021-11-23 07:25] StefanFl commented on #5485
I tested the Trivy import with a scan using the latest Trivy version and it worked fine

[2021-11-23 07:50] BhaskiBuzz commented on #5312
Hi @StefanFl, Below is the setting

    'SpotBugs Scan': DEDUPE_ALGO_HASH_CODE,
    'JFrog Xray Unified Scan': DEDUPE_ALGO_HASH_CODE,
    'Scout Suite Scan': DEDUPE_ALGO_HASH_CODE,
    'AWS Security Hub Scan': DEDUPE_ALGO_UNIQUE_ID_FROM_TOOL,
    'Meterian Scan': DEDUPE_ALGO_HASH_CODE,
    'Github Vulnerability Scan': DEDUPE_ALGO_UNIQUE_ID_FROM_TOOL,
    'Detect-secrets Scan': DEDUPE_ALGO_HASH_COD

[2021-11-23 08:41] vishnupriyaavp8 commented on #5112
I am getting 'No authentication method found' in my notification alerts. Is it the same issue? Is there any work around?

[2021-11-23 13:09] StefanFl commented on #5312
Your file worked for me, I have a re-import with 2 findings from your scan. Maybe we have done something about deduplication inbetween and it might help upgrading to the most recent version.

[2021-11-23 16:22] valentijnscholten commented on #5485
And please provide sample files to reproduce.

[2021-11-23 22:16] dkemper01 opened #5489 "Link Findings to Scans or Engagements via API v2"
**Is your feature request related to a problem? Please describe**

Consider `get_findings(scan, test)` in [importer.py](https://github.com/DefectDojo/django-DefectDojo/blob/3249e3b333144017b923c587b42e02dcb43ea177/dojo/importers/importer/importer.py#L349)
and how a scan and its corresponding set of findings are coupled in this way. Please then consider the creation of a finding via an `api/v2/find

[2021-11-24 07:44] StefanFl commented on #5417
`reporter` is not an attribute of the Findings POST form. It will always be populated with the user who posts the data.

The values for `static_finding` and `dynamic_finding` are hardcoded as well, when saving the finding:

[code]

[2021-11-24 09:13] valentijnscholten commented on #5465
It could be added, but could you elaborate on the usecase? I think filtering by 'today' is more common compared to 'last 24 hours` which would result in some kind of running window for the date range.

[2021-11-24 09:14] valentijnscholten commented on #5400
@dsever can we close this?

[2021-11-24 09:14] valentijnscholten commented on #5401
@dsever can we close this?

[2021-11-24 11:03] dsever commented on #5400
Sure, close it

[2021-11-24 11:04] dsever commented on #5401
Sure close it

[2021-11-24 11:18] #5401 closed

[2021-11-24 11:18] #5400 closed

[2021-11-24 11:20] kiblik commented on #5356
We can do both :)

I'm just not sure if truncate is the best idea because it is something that the user doesn't expect. He comes with a report and DD just cut some parts without any warning or information message.

Are you sure, we want to avoid 500? https://github.com/DefectDojo/django-DefectDojo/pull/5302#issuecomment-967798644 :) I know it was maybe a different situation.

[2021-11-24 12:25] BhaskiBuzz commented on #5312
hi @StefanFl I can confirm that its working fine for me after upgrade to the latest version.
Thanks.

[2021-11-24 12:54] StefanFl commented on #5312
Great

[2021-11-24 14:17] valentijnscholten opened #5494 "Allow for JIRA Project to configured at Product_Type level"
Currently a JIRA_Project can be configured for a Product or Engagement, where an Engagement inherits the config from the Product if it doesn't have its own config. Might be useful to have another level where a JIRA_Project can be configured at the Product_Type level and all Products inside it inherit this config (or can override it).

[2021-11-24 14:37] SPoint42 commented on #5386
just having an issue on my repos, seems working well now

[2021-11-24 14:37] #5386 closed

[2021-11-24 14:39] dkemper01 commented on #5489
Hi valentijnscholten,

Thank you for this information, I was unclear on the relationships here. To answer, no I was not successful. You clearly have the functionality I was requesting.

Best to you and your team.

[2021-11-24 14:39] #5489 closed

[2021-11-24 18:59] damiencarol opened #5497 "Support images in Generic parser"
Support adding images through base64 strings

[2021-11-25 07:48] StefanFl commented on #5422
merged in dev for release 2.5.0

[2021-11-25 07:48] #5422 closed

[2021-11-25 07:50] StefanFl commented on #5430
I am not sure if this endpoint actually works to import files. I will investigate.

[2021-11-25 16:37] valentijnscholten opened #5499 "Allow group membership management on the 'edit user' page"
When editing user currently you can assign a global role, but cannot add the user to any groups. This would require opening each group and add the user there. Easier would be if on the edit user page the groups are shown and you can select/deselect membership for each group.

[2021-11-25 18:17] damiencarol commented on #5430
no, this endpoint accept JSON data. If you want to import a file (report), use the `/import-scan/` endpoint.
https://demo.defectdojo.org/api/v2/oa3/swagger-ui/?docExpansion=none#/import-scan

[2021-11-25 18:17] #5430 closed

[2021-11-26 05:44] StefanFl commented on #5499
All the membership view/edit/add functionality is on the view pages for products, product types, users and groups. This is consistent with other areas of DefectDojo. Eg. you add a test from the engagement view page.

So you can add an user to a group from the view user page. I think the problem is, that adding a user behaves differently from other dialogues. When you add all other objects, you get

[2021-11-26 06:26] DImaste commented on #5465
Today is also possible. We want to use it for daily triage/review stats by requesting this data via API with a scheduled script.

[2021-11-26 06:48] StefanFl opened #5502 "Uploading files for findings using APIv2 does not work"
### Discussed in https://github.com/DefectDojo/django-DefectDojo/discussions/5500

<div type='discussions-op-text'>

<sup>Originally posted by **fuzzah** November 11, 2021</sup>
I need to attach some binary files (not text) to my findings in DefectDojo.
Here's method I wrote based on similar methods of DefectDojoAPIv2:
[code]
(self.api is instance of DefectDojoAPIv2)

While response code I get is

[2021-11-26 06:48] StefanFl commented on #5502
As said in discussions, this is a bug that needs to be fixed, PR will come soon.

[2021-11-26 10:09] valentijnscholten commented on #5499
Ah yes, I see it. Could be a good solution. Also maybe change the word "Members" to "Memberships":
![image](https://user-images.githubusercontent.com/4426050/143564032-8dc357fa-2c32-4a3b-ac66-bffc92775179.png)

[2021-11-26 11:04] valentijnscholten opened #5503 "API: Use native tagulous tags parsing"
As raised in #5487 we may want to use the native tag parsing and rendering from the `tagulous` library instead of the "list of tags" currently being used for backwards compatibility reasons.

[2021-11-28 01:01] django-doctor opened #5513 "django-doctor findings"
`Product_Type` is referenced in the file, but not defined anywhere:

https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/db_migrations/0066_django_tagulous.py#L41

[2021-11-28 07:55] valentijnscholten commented on #5513
Good find. This case is hard to test as I think it's impossible to create products now with `prod_type_id==0`.
Can you try again with the changes in https://github.com/DefectDojo/django-DefectDojo/pull/5514 ?

[2021-11-28 10:34] django-doctor commented on #5513
good fix :)

FWIW I found this problem while testing new features we're writing at https://django.doctor/ (our test rig runs all our checkers against 666 codebases, your included).

Looking at https://django.doctor/DefectDojo/django-DefectDojo I see also see a few more issues (and some false positives which you can ignore). Example of something that probably wants attention is duplicate url name:

[2021-11-28 11:12] valentijnscholten commented on #5513
https://django.doctor/rsumner31/django-DefectDojo

[2021-11-28 17:03] django-doctor commented on #5513
PRs solve the problem so closing this issue :)

FYI you can prevent similar issues by using Django Doctor on GitHub https://github.com/marketplace/django-doctor/

[2021-11-28 17:03] #5513 closed

[2021-11-28 19:18] hkelley opened #5516 "Authentication via OAuth2/SAML2"
Okta setup notes that might improve the documentation:

- SOCIAL_AUTH_REDIRECT_IS_HTTPS = True was mandatory for me.  When I didn't use it,  a ":443" was appended to back of the parameters when returning the state code, and thus confusing DefectDojo.   I don't know if this was Okta or my nginx config, but simpler to use HTTPS and avoid any extra redirects.
- Sign-in redirect URI in Okta app setup

[2021-11-29 11:41] DImaste opened #5519 "Add date preset filtering for last_status_update field"
Hi all,
I have a question and a feature request.
Question:
I saw in the API documentation field "last_reviewed" that described as "Provides the date the flaw was last 'touched' by a tester". Does it mean any action performed on the finding or just opening the finding?

And feature request part:
We have the last_status_update field with date-time input. It would be great also to have the date prese

[2021-11-29 12:15] righel opened #5521 "defectdojo_apiv2.upload_scan() results in a 400 Bad Request"
Importing a scan report via `defectdojo_apiv2.upload_scan(...)` without specifying a `tags` results in a 400 Bad Request response from the server.

**Error message:**
[code]

**Server logs:**
[code]

**Environment:**
django-DefectDojo v. 2.4.1 via docker-compose.

[2021-11-29 13:49] IUVSARINA2l1 opened #5522 "Please submit via our security reporting program, not GitHub"
**DefectDojo security reporting program**

If you believe you have found a **security issue** in DefectDojo, please review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit your finding via our security reporting program.

Please, do not submit **security issues** via GitHub directly.

Thank you for helping keep DefectDojo and our users saf

[2021-11-29 13:51] IUVSARINA2l1 opened #5523 "Please submit via our security reporting program, not GitHub"
**DefectDojo security reporting program**

If you believe you have found a **security issue** in DefectDojo, please review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit your finding via our security reporting program.

Please, do not submit **security issues** via GitHub directly.

Thank you for helping keep DefectDojo and our users saf

[2021-11-29 15:08] hkelley opened #5524 "Import scan reports - Generic Findings Import - Verified column"
Generic Findings Import says that Verified can be imported.   In my limited testing,  the UI tickbox for Verified overrides any data in the Verified column.

Verified (‘TRUE’, ‘FALSE’)

[2021-11-29 16:46] tiagoposse opened #5525 "Multi-arch images"
**Is your feature request related to a problem? Please describe**
I tried setting up an instance of defectdojo in my local k8s cluster on some arm SBC, only to realise current Docker images are only for amd64.

**Describe the solution you'd like**
Release images as multi arch instead of just amd.

**Describe alternatives you've considered**
I have attempted to build the images myself. This should

[2021-11-29 17:03] kiblik opened #5526 "Nessus: merge importers"
**Is your feature request related to a problem? Please describe**
There are two Nessus importers: `nessus` and `nessus was`. Both are using almost the same parsing methods so there is redundancy which is harder to maintain.

**Describe the solution you'd like**
Merge two them

**Describe alternatives you've considered**
I don't know about the alternative.

**Additional context**
https://github.com

[2021-11-29 20:10] valentijnscholten commented on #5525
We're using GitHub actions, see `.github/workflows` folder. We may accept a PR if supporting multiple archs doesn't give us to many extra maintenance.

[2021-11-29 20:12] valentijnscholten commented on #5516
Thanks, could you do a PR with proposed changes? (see `/docs` folder)

[2021-12-02 11:02] tiagoposse opened #5535 "passwords from secret management tool when installing via helm"
**Is your feature request related to a problem? Please describe**
security around kubernetes secrets is subject to debate, but a part of the community prefers to use external secret management tools (like hashicorp vault) to store secrets.
The current helm chart supports passwords:
- defined directly in the values file (ends up being committed to git repo - insecure)
- load from kubernetes secrets

[2021-12-02 17:18] valentijnscholten commented on #4443
#5509

[2021-12-02 17:35] valentijnscholten opened #5538 "Fix Django 3.2 deprecations"
[code]

[2021-12-02 17:42] valentijnscholten commented on #5538
Might as well check all items on https://docs.djangoproject.com/en/3.2/releases/3.2/

[2021-12-03 05:34] StefanFl commented on #5502
merged for release 2.5.0

[2021-12-03 05:34] #5502 closed

[2021-12-03 05:36] StefanFl commented on #4443
merged for release 2.5.0

[2021-12-03 05:36] #4443 closed

[2021-12-04 14:16] hkelley commented on #5516
PR #5550

[2021-12-04 14:16] #5516 closed

[2021-12-05 08:08] StefanFl commented on #5499
merged for release 2.5.0

[2021-12-05 08:08] #5499 closed

[2021-12-05 08:09] StefanFl commented on #5497
PR #5508 merged for release 2.5.0

[2021-12-05 08:09] #5497 closed

[2021-12-06 09:30] mtcolman opened #5554 "StackRox scanner"
**Scanner Name**
StackRox, it provides security across the container life cycle. https://github.com/stackrox/helm-charts. There are two separate types of scanner for StackRox; "check" and "scan".

**Sample File**
I've had a go at creating and testing a parser for both "check" and "scan" and include the sample json output from stackrox as well as some python parsing code in here as well.
 - [stackr

[2021-12-06 10:54] valentijnscholten commented on #4513
I think there's some initial work in https://github.com/DefectDojo/django-DefectDojo/pull/5325

[2021-12-06 15:17] StefanFl commented on #5538
merged for release 2.5.0

[2021-12-06 20:20] sos34211 opened #5558 "Please submit via our security reporting program, not GitHub"
**DefectDojo security reporting program**

If you believe you have found a **security issue** in DefectDojo, please review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit your finding via our security reporting program.

Please, do not submit **security issues** via GitHub directly.

Thank you for helping keep DefectDojo and our users saf

[2021-12-08 08:34] damiencarol commented on #5554
I will try to build a parser for it.
@mtcolman in the same time, it seems you already have a Python script that read the StackRox format. it should be easy to "convert" it to our generic JSON format.

[2021-12-08 08:49] damiencarol commented on #5526
@kiblik our current parser model support having one parser that manage both. I think this could be done. I can take a look.

[2021-12-08 08:53] mtcolman commented on #5554
Thanks @damiencarol. Yes this script does convert it to the generic JSON format, I just don't have the skills to make it have all the functionality the other parsers have.

[2021-12-08 08:55] damiencarol commented on #5554
I could provide some insights. what is missing want you need/want?

[2021-12-08 09:07] damiencarol commented on #5312
@BhaskiBuzz it seems upgrading had fixed your issue. closing it.

[2021-12-08 09:07] #5312 closed

[2021-12-08 10:55] valentijnscholten opened #5576 "reimport with files is broken"
No unit test coverage for reimport it seems.

![image](https://user-images.githubusercontent.com/4426050/145196456-ba764081-4aa9-478e-8842-b10bd435b3e1.png)

[2021-12-08 11:03] fabaff commented on #2417
This issue seems still be present.

As suggested:

[code]
Then

[code]

[2021-12-08 15:34] J12934 commented on #4697
This work so much better now then before, I don't see any ZAP findings in my projects where the duplication didn't work as expected 👍

Thank you for the help 🙏🚀 @damiencarol @valentijnscholten

[2021-12-08 15:34] #4697 closed

[2021-12-08 17:31] chanduaki commented on #5120
Here is the sample report of the Horusec scanner [node_goat_report.txt](https://github.com/DefectDojo/django-DefectDojo/files/7677826/node_goat_report.txt)

[2021-12-08 17:47] chanduaki commented on #5120
I have tried out and getting the below error while importing
` An exception error occurred during the report import:Expecting value: line 1 column 1 (char 0) `

Can i know the **importing format** for the `Horusec`

![image](https://user-images.githubusercontent.com/54622987/145257784-37cf4d7b-21dd-4485-938f-64b032872727.png)

[2021-12-08 18:02] Juu opened #5581 "Allow a Reader user to add Notes"
In our use case, we want to allow developers to see Findings on DefectDojo.
That's why we assigned them Role Reader, as we don't want them to edit or close the Findings by themselves.

However, we'd like to allow them to add Notes on the Findings (why not on Engagements/Tests), which they cannot do.
If we assign them Role Writer, they can add Notes but also edit/close the Findings.

We tried to as

[2021-12-08 21:36] damiencarol commented on #5120
@chanduaki you *need* to specify the JSON format. Like this:
[code]

[2021-12-08 21:46] damiencarol commented on #5576
I should take this one as it's my fault 😓

[2021-12-09 12:02] valentijnscholten opened #5584 "api: future date accepted as scan_date"
In the UI you cannot upload a scan report and select a `scan_date` in the future.
In the API this is possible. There is code in the API to check and forbid a future `scan_date` but it is not executed due to a typo (and no longer work with the current implementation of `scan_date` after the recent changes)

https://github.com/DefectDojo/django-DefectDojo/blob/ba1a415219ff20e8b4e909ef14f750de9b80297

[2021-12-09 12:28] whitespots opened #5585 "Ability to mark ANY finding as a duplicate for ANY another"
Problem:
DefectDojo is trying to deduplicate findings automatically, but it is hard to work without manual deduplication in a real life.
Plus there are many scanners usually implemented in CI, which find same vulnerabilities.

**Describe the solution you'd like**
- API endpoint with 2 parameters: origin_finding_id, duplicate_finding_id, which marks origin_finding_id as origin and duplicate_finding

[2021-12-09 12:39] valentijnscholten commented on #5585
check this endpoint
![image](https://user-images.githubusercontent.com/4426050/145398052-6bcba8ce-f3e7-4752-87c7-23b4816560f2.png)

[2021-12-10 06:00] damiencarol commented on #5585
Hi! welcome back :)

[2021-12-10 06:24] damiencarol commented on #5535
@tiagoposse did try with the `local.settings.py` ? It's a better solution when you want to override settings with a file.

[2021-12-10 20:01] StefanFl commented on #5581
Hi @Juu, I understand your case, but I am not sure how to solve it. Adding a new role would technically be easy, but then we might get more and more roles. The ultimate solution would be to make roles configurable and let users define roles with the available permissions. But that's more work and definitely not be part of the next release.

I will think about it a bit longer 😃

[2021-12-11 10:51] chanduaki commented on #5120
Thankyou @damiencarol
I ll work on it and let you know the progress

[2021-12-11 12:00] valentijnscholten commented on #5576
fixed the bug, unit test still needed.

[2021-12-12 08:17] valentijnscholten commented on #5581
I was thinking the same as Stefan, making it configurable like JIRA would be cool, but also adds complexity. Personally I could also live with allowing a `Reader` to post notes. No harm in that, except for possible SPAM maybe?

[2021-12-12 09:03] StefanFl commented on #5581
You're right Valentijn, there is really no harm in allowing Readers to add notes.

[2021-12-13 08:02] Roooodie opened #5595 "Request for filter metrics closed by period"
Right now i working on customing the Metrics pages and my goal is to shown Open Bug Count, Active Bug Count, Risk Accepted and Closed Bug Count graph.
I can manage to summon Open, Active and Risk Accepted  (with filter date) by monthly and weekly with opened_per_period, active_per_period, accepted_per_period but didn't find the function like closed_by_period.
Can this be implemented? or if it's al

[2021-12-14 10:15] dsever opened #5603 "Technology & Regulations permission inconsistency"
If I have `writer` permissions, I can't change core description attributes of the Product, but still, I can add/change Technologies, that in GUI are placed side by side with Regulations, while Regulations can't be changed.

To be more consistent, I would like to propose to align permissions of  Technologies and Regulations. While these attributes are descriptors of Product I would propose to disab

[2021-12-14 23:00] manuel-sommer opened #5607 "Choctaw Hog Scanner replacement through Rusty Hog"
[Rusty Hog](https://github.com/newrelic/rusty-hog) is a secret scanner built in Rust for performance, and based on TruffleHog which is written in Python. Rusty Hog provides the following binaries:
- Ankamali Hog: Scans for secrets in a Google doc.
- Berkshire Hog: Scans for secrets in an S3 bucket.
- **Choctaw Hog:** Scans for secrets in a Git repository.
- Duroc Hog: Scans for secrets in a direct

[2021-12-17 10:33] rucciva opened #5618 "`close_old_findings` only from findings with the same `service`"
**Is your feature request related to a problem? Please describe**
I'm currently trying to import scans from a product which in reality consisted of multiple repository and multiple services. I modeled this product as a product in defect dojo, which will have many CI/CD engagements as many as CI/CI job that run triggered by changes in repositories or services of the product. I enabled deduplication

[2021-12-17 13:19] BhaskiBuzz opened #5619 "only the userid SAML attribute is mapped to the user"
With SAML SSO login, only the userid is getting mapped but not the other fields like firstname, lastname and email.

I am using v. 2.4.1 ( release mode ).

SAML settings in the settings.dist.py
[code]

We have enable sso login and auto create user. When the user logged in, in the SAML response, we can see all the valid values for email, userid, firstname and lastname. But when we checked the auto

[2021-12-17 14:30] DImaste commented on #5519
Hi all, do you have an answer to the question:
"I saw in the API documentation field "last_reviewed" that described as "Provides the date the flaw was last 'touched' by a tester". Does it mean any action performed on the finding OR just opening the finding?"
Big thanks!

[2021-12-17 15:36] dsever commented on #5619
You have to map properly  your saml attribs to djsngo. There is section in doc that explains it

[2021-12-17 15:44] renatosazup commented on #5619
I have the same problem with SSO login

Defectdojo version:

![Screenshot_21](https://user-images.githubusercontent.com/88499872/146570071-ca07cdd3-46b3-4dc2-9faf-ee3a41fd7570.png)

Response SAML2:

![Screenshot_19](https://user-images.githubusercontent.com/88499872/146569588-9d9d8e6b-252d-43d8-8a63-15437bf47842.png)

Environment DD_SAML2_ATTRIBUTES_MAP
![Screenshot_20](https://user-images.githubu

[2021-12-17 20:15] dsever commented on #5619
`DD_SAML2_ATTRIBUTES_MAP: Email=email,FirstName=first_name,LastName=last_name`

Can you try with this

[2021-12-19 10:23] StefanFl commented on #5618
Thank you @rucciva for bringing this to our attention. I will have a look at it.

[2021-12-19 11:05] damiencarol commented on #5618
@StefanFl @rucciva could it be better to and `service` attribute as a possible attribute for de-duplication?

[2021-12-19 19:17] valentijnscholten commented on #5619
Not sure the format of your environment variable is correct, check https://newbedev.com/how-to-store-a-python-dictionary-as-an-environment-variable

[2021-12-19 21:48] mtesauro commented on #5619
Another option is to put those SAML values in local_settings.py as the non-DD_ equivalents as this avoids strangeness when converting from Bash/environmental variables to Python (easy to get wrong)

If you're using local_settings.py, then drop them there as their Python equivalents. You can see an example of the ENV variable being set to an Python variable at https://github.com/DefectDojo/django-D

[2021-12-20 02:05] rucciva commented on #5618
From what i read [here](https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/settings/settings.dist.py#L1082),  `service` has been used in de-duplication, but only if dedup is done based on `hash_code` in .

But i personally think that there should be one more explicit abstraction under _engagement_ that denotes the component being scanned (repository, service, or any other kind of com

[2021-12-20 05:13] BhaskiBuzz commented on #5619
Hi @dsever @valentijnscholten

Below are the attributes from SAML and mapping to dojo user profile. It is not working. only the username filed value is there in the user details. And this value is populated because of the setting DD_SAML2_CREATE_USER=(bool, True). So, it seems the mapping of SAML attributes is not working.

SAML Attributes
` <saml:Attribute Name="firstname"

[2021-12-20 08:14] dsever commented on #5619
You should not change things inside of settings.dist.py as @mtesauro  said, you can use  local_settings.py to rerwrite default values.

Another thing I think  you are missing is: https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/settings/settings.dist.py#L133 -> True (https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/settings/settings.dist.py#L799)

In other case SAML

[2021-12-20 10:27] BhaskiBuzz commented on #5619
Hi @dsever

I do run DD using docker-compose.
Making the below attribute to true worked fine for me with the above mentioned SAML attribute mapping.
https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/settings/settings.dist.py#L133 -> True

Thank you so much.

[2021-12-20 11:20] damiencarol commented on #5524
that's true. The UI checkbox override the data in the reports.
We are working on adding more documentation about this.

[2021-12-21 13:00] valentijnscholten opened #5628 "Can't pickle <class 'tagulous.models.tagged.CastTaggedQuerySet'>: attribute lookup CastTaggedQuerySet on tagulous.models.tagged failed"
Still suffering from pickling errors from `django-tagulous`. We should consider making notifications synchronous again, or possibly switch to a different tagging library as we keep having problems with tagulous.

https://github.com/radiac/django-tagulous/issues/142

[2021-12-21 13:00] valentijnscholten commented on #5628
reported on slack again today:
https://owasp.slack.com/archives/C2P5BA8MN/p1640087518422500

[2021-12-21 20:02] pgabriel10 opened #5629 "Assertion Consumer URL"
What is the Assertion Consumer URL used to set up SAML for defect dojo ?
Doc ( https://defectdojo.github.io/django-DefectDojo/integrations/social-authentication/ )  said :

DD_SAML2_ASSERTION_URL: not necessary any more - automatically generated

but i can´t find it.

[2021-12-22 06:47] StefanFl commented on #5618
Closing old findings have to acknowledge the `service` attribute like deduplication does already. This is why I think that's a bug instead of an enhancement.

[2021-12-22 10:01] dsever commented on #5629
Navigate to  `DD_FQDN/saml2/metadata/` there it is visible

[2021-12-22 17:49] damiencarol commented on #5576
@valentijnscholten will add in https://github.com/DefectDojo/django-DefectDojo/pull/5632

[2021-12-22 20:38] #5629 closed

[2021-12-22 20:38] pgabriel10 commented on #5629
thanks !

[2021-12-23 06:28] StefanFl commented on #5485
Closed due to inactivity

[2021-12-23 06:28] #5485 closed

[2021-12-23 06:31] StefanFl commented on #5424
Will be solved with #5611

[2021-12-23 06:31] #5417 closed

[2021-12-23 06:33] StefanFl commented on #5339
Closed due to inactivity

[2021-12-23 06:33] #5339 closed

[2021-12-23 06:35] StefanFl commented on #5271
Staff users will be deprecated soon

[2021-12-23 06:35] #5271 closed

[2021-12-23 06:36] StefanFl commented on #4540
Closed due to inactivity

[2021-12-23 06:36] #4540 closed

[2021-12-23 14:02] mtcolman commented on #5554
Hi @damiencarol just checking in to see if you've had a chance to look at this at all? Thanks.

[2021-12-23 19:36] damiencarol commented on #5554
Please take a look at https://defectdojo.github.io/django-DefectDojo/integrations/parsers/#generic-findings-import
There is some examples in this documentation page.

My feedback at first sight:
 * you could use `component_name` and `component_version`
You have the data here:
[code]
 * you could also support `cve`

[2021-12-24 06:36] rucciva opened #5636 "Import "Checkmarx Scan" failed when filename is empty"
**Bug description**
I don't know if this is a bug in checkmarx or not but its report can contain node with empty filename. When uploaded to defect dojo, it will throw exception

**Steps to reproduce**
Steps to reproduce the behavior: Upload scans from checkmarx result than contains empty filename on some of the query

**Expected behavior**
No Error

**Deployment method** *(select with an `X`)*
- [

[2021-12-24 09:36] damiencarol commented on #5636
Taking this one.

[2021-12-24 09:39] damiencarol commented on #5636
Just out of curiosity, how is it possible to have an empty file name?

[2021-12-24 10:09] rucciva commented on #5636
<img width="1440" alt="Screen Shot 2021-12-24 at 17 08 55" src="https://user-images.githubusercontent.com/4647473/147343540-8d01d6c7-68e4-44dc-bec3-2665ea50d542.png">

I think because it was marked as Not Exploitable but it no longer appear in recent scans

[2021-12-24 12:15] damiencarol commented on #5636
@rucciva pushed a first patch

[2021-12-24 12:32] rucciva commented on #5636
Thanks @damiencarol . Is there any docker image that i can use to test the patch?

[2021-12-24 14:38] damiencarol commented on #5636
I don't think so. you can build it by getting my branch and building it yourself.

[2021-12-28 08:58] rucciva commented on #5636
Hi @damiencarol , now it produces this error
[code]

[2021-12-28 09:30] Roooodie commented on #5595
Hello.. anyone can update on this?

[2021-12-28 11:24] damiencarol commented on #5636
I missed a file in the PR :sweat: . It should be good now.

[2021-12-29 02:52] rucciva commented on #5636
it works now, thanks.

[2021-12-30 13:46] rucciva opened #5651 "Error Pushing to JIRA due to summary field reach more than 255 character"
**Bug description**
Failed with error `text: Summary can't exceed 255 characters.` when pushing the following findings to JIRA:

[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Edit finding
2. Click on Push To Jira
3. See error

**Expected behavior**
JIRA issue created succesfully

**Deployment method** *(select with an `X`)*
- [x] Docker Compose
- [ ] Kubernetes
- [ ] GoDojo

*

[2021-12-31 15:58] damiencarol commented on #5651
A fix as been pushed to `dev`/`2.6.0`

[2021-12-31 15:58] #5651 closed

[2021-12-31 16:19] StefanFl commented on #5581
merged for release 2.6.0

[2021-12-31 16:19] #5581 closed

[2022-01-01 17:59] noloader opened #5656 "Ubuntu 18.04 Server and ERROR: Version in "./docker-compose.yml" is unsupported ..."
**Bug description**
I have a Ubuntu 18.04 LTS Server, x86_64, fully patched. I am trying to follow [Running with Docker Compose](https://github.com/DefectDojo/django-DefectDojo/blob/dev/readme-docs/DOCKER.md) to test DefectDojo.

At the `docker-compose build` step, I am encountering an error:

[code]

**Expected behavior**
I expect no problems at this point.

**Deployment method** *(select with an

[2022-01-01 21:50] damiencarol commented on #5656
It seems that your version of Docker compose is old. Are you able to update it?
https://www.digitalocean.com/community/tutorials/how-to-install-docker-compose-on-ubuntu-18-04

[2022-01-02 12:51] valentijnscholten commented on #5656
Please read the docker readme, especially the first line of the first paragraph: https://github.com/DefectDojo/django-DefectDojo/blob/master/readme-docs/DOCKER.md#prerequisites

[2022-01-02 15:45] valentijnscholten commented on #5576
fixed in dev / 2.6.0

[2022-01-02 15:45] #5576 closed

[2022-01-02 15:47] valentijnscholten commented on #5628
fixed in dev / 2.6.0

[2022-01-02 15:47] #5628 closed

[2022-01-02 15:47] valentijnscholten commented on #5584
fixed in dev / 2.6.0

[2022-01-02 15:47] #5584 closed

[2022-01-02 15:48] valentijnscholten commented on #5356
That 500 was for something that should really be considered as a misconfigured instance which should lead to a 500 so the admins are made aware as soon as possible. One single field in some report being too large is different and I suggest to truncate the values and/or enlarge the field.

[2022-01-02 15:49] valentijnscholten commented on #5416
timed out

[2022-01-02 15:49] #5416 closed

[2022-01-02 15:52] valentijnscholten commented on #5335
fixed in 2.5.0

[2022-01-02 15:52] #5335 closed

[2022-01-02 15:52] valentijnscholten commented on #5352
timed out

[2022-01-02 15:52] #5352 closed

[2022-01-02 15:58] valentijnscholten commented on #5290
We should probably remove the checklist there and point to the more complete checklist in the PR template: https://github.com/DefectDojo/django-DefectDojo/blob/master/.github/PULL_REQUEST_TEMPLATE/pull_request_template.md

That needs some updates then to incorporate the info/links from the checklist in the main readme.

[2022-01-02 17:14] damiencarol commented on #5356
@kiblik  I completely agree with that. It could be seen as DD modifying the data silently (which is a really bad behavior for parsers).

@valentijnscholten I agree that we should not produce 500. so maybe the parser should generate a type error and the upper layers produce a 400 because it's the data that are not ok.

@kiblik @valentijnscholten : I really think now that the best solution is to do

[2022-01-02 17:18] valentijnscholten commented on #5356
I think most of the time it's just DD having some legacy short limits, so we should be lenient to accept the report and maybe add a warning or something like that. It must be frustrating for users to run into such a limit and then having to wait a month or so for the next release.

[2022-01-02 17:20] damiencarol commented on #5356
if we implement the proposal, it will avoid errors on long protocol names. So no more DB size pbs or 500.

[2022-01-02 17:33] valentijnscholten commented on #5356
only for this particular example until we find another parser with a similar problem

[2022-01-02 18:32] damiencarol commented on #5356
I think that every parser that deal with protocols and endpoints should do this logic. Maybe this is something that we could do in the Endpoint class logic.

[2022-01-02 23:40] noloader commented on #5656
Thanks @damiencarol and @ valentijnscholten.

We are using Ubuntu 18.04.6 LTS. Canoncial provides support for the release through 2023. It is an approved image for the organization.

Ubuntu 18.04 provides the following `docker-compose`. Ubuntu's governance does not allow them to jump to bleeding edge components. That means Ubuntu is fixed at 1.17 (plus hand-ported bug fixes).

[code]

[2022-01-03 14:39] valentijnscholten commented on #5656
If you cannot use our docker-compose based install, there is the `godojo` alternative install method as listed in the README: https://github.com/DefectDojo/django-DefectDojo#supported-installation-options

Alternatively you could try and make it work with an older docker compose format and docker compose version, but I doubt you'll be able to backport all features used.

Not sure what your corpora

[2022-01-04 06:51] nibiwodong opened #5666 "dependency track: import project name and version from report"
**Steps to reproduce**
Steps to reproduce the behavior:
1、config defectdojo apikey into dtrack platform
2、config a dtrack project  property, inorder to auto upload fpf to defectdojo
3、upload successed
4、but defectdojo only shows the vul name、pkgs、vul description, but no project name、project version
In this source code ,it shows that defectdojo only parse findings in fpf ,but not project info.
http

[2022-01-04 07:18] StefanFl commented on #5618
merged for release 2.6.0

[2022-01-04 07:18] #5618 closed

[2022-01-04 13:53] valentijnscholten commented on #5666
What do you mean by "Project Info". Are you referring to fields present in dependency track? Are these field present in the report? Can you provide a sample report that contains fields that are not imported? It sounds like you are pushing findings from within Dependency Track so it might be that dependency track itself is not setting the project name and version fields on the product?

[2022-01-04 14:25] nibiwodong commented on #5666
https://docs.dependencytrack.org/integrations/file-formats/
Here is dtrack fpf file format. It contains project name and version.
![image](https://user-images.githubusercontent.com/17465789/148072642-2a11f338-e76f-441d-9daf-c711b6ccb315.png)

Usually, dtrack project name is gitlab project name, dtrack version is git project branch or tag.

If defectdojo do not parse and store project name and vers

[2022-01-04 15:19] valentijnscholten commented on #5666
Does dependency track use import or reimport? I assume import so creating a new Test inside the specified Engagment every time?

[2022-01-04 15:37] code-review-doctor opened #5671 "Missing comma resulting in unwanted string concatenation of filter"
**Bug description**

This tuple has a missing comma on line 1907 so `'sonarqube_issue'` gets concatenated with `'thread_id'`.

https://github.com/DefectDojo/django-DefectDojo/blob/ba1a415219ff20e8b4e909ef14f750de9b80297e/dojo/filters.py#L1906-L1910

The impact of this is Django tries to exclude a field called `'sonarqube_issuethread_id'` (which does not exist) and the `'sonarqube_issue'` `'thread_

[2022-01-04 15:42] valentijnscholten commented on #5671
thanks @code-review-doctor

[2022-01-04 17:45] StefanFl commented on #5671
merged for release 2.6.0

[2022-01-04 17:45] #5671 closed

[2022-01-04 18:12] StefanFl commented on #5636
merged for release 2.6.0

[2022-01-04 18:12] #5636 closed

[2022-01-04 18:12] #5424 closed

[2022-01-05 08:14] epochfairy opened #5683 "jira"
Set this property：
`
DD_JIRA_SSL_VERIFY=(bool, False)`

But still report SSLCertVerificationError: [SSL: CERTIFICATE_VERIFY_FAILED] error
Determine whether to upgrade the version of the jira library (The latest version is 3.1.1 )
https://github.com/pycontribs/jira/pull/1202

dojo 2.6

[2022-01-05 08:22] Roooodie opened #5684 "Ms Teams Notification Shows Error Messsage When Closing From Jira"
Hello i having an issue with Defectdojo notification with Microsoft Teams.

**Bug description**
the notification message that appear in our microsoft channel is showing the error.
I've setting up and defectdojo integration with jira which can automatically close the finding in defectdojo when we're closing the ticket on jira.
the notification that had a problem is about Status changes from JIRA to

[2022-01-05 11:31] mtcolman commented on #5554
Thanks @damiencarol. Do you please have a link to where `component_name` and `component_version` are defined as accepted fields? This [link](https://defectdojo.github.io/django-DefectDojo/integrations/parsers/#generic-findings-import) seems to be mising them and the reference to CVE.

[2022-01-05 12:08] kibernautas opened #5686 "Rework sslyze 5 importer"
I have reworked the sslyze version 5 json importer and would like to commit it here.

[2022-01-05 13:45] valentijnscholten commented on #5686
Can you make a PR? https://github.com/DefectDojo/django-DefectDojo/blob/master/readme-docs/CONTRIBUTING.md

[2022-01-05 13:48] valentijnscholten commented on #5554
those fields are shown on the view finding page, if you search in the codebase for `component_name` you'll see other parsers populating the field. Examples are `jquery` or `libgcrypt20`

[2022-01-05 13:49] valentijnscholten commented on #5683
Where are you seeing this error, do you have a traceback?

[2022-01-05 14:00] valentijnscholten commented on #5684
Looks like your JIRA project or instance doesn't have the environment field? But this error should only occur when creating issues not when closing issues, so I doubt this notification comes a finding/issue that was closed. It looks like an error from creating a JIRA issues. What do the logs say or the alerts in the DD UI?

[2022-01-05 14:03] epochfairy commented on #5683
You can try it out with fake HTTPS JIRA<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<br/><br/><br/><div class="ntes-mailmaster-quote" style="padding-top: 1px; padding-bottom: 1px" >
    <div style=" margin-top: 2em; margin-bottom: 1em; font-size: 14px; line-height: 1.25; color: #78787a; " >---- 回复的原邮件 ----</div>
    <div style=" margin-bottom

[2022-01-05 14:06] valentijnscholten commented on #5683
Please provide the details requested in the bug report template, otherwise we can't help you.

[2022-01-05 14:13] epochfairy commented on #5683
It's on the Intranet. I can't get it out<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<br/><br/><br/><div class="ntes-mailmaster-quote" style="padding-top: 1px; padding-bottom: 1px" >
    <div style=" margin-top: 2em; margin-bottom: 1em; font-size: 14px; line-height: 1.25; color: #78787a; " >---- 回复的原邮件 ----</div>
    <div style=" margin-botto

[2022-01-05 15:05] kibernautas commented on #5686
https://github.com/DefectDojo/django-DefectDojo/pull/5689

[2022-01-05 15:05] #5686 closed

[2022-01-05 18:57] valentijnscholten opened #5690 "integration tests can't be run on windows"
MailHog tries to use port 1025 which is used by Windows RPC or something like that:

[code]

[2022-01-06 03:11] Roooodie commented on #5684
looks like it's a miss from my side here ... you are right, it's from the Pushing a JIRA issues. cause of environment didn't exist in my project settings
![image](https://user-images.githubusercontent.com/50097679/148315264-abd9357d-d46a-4972-8758-8e0bc4e652d2.png)
i need to correct my steps to produce above on number 5.
when i push to jira from Defectdojo it's showing the same error whether it's

[2022-01-06 07:55] valentijnscholten commented on #5684
Looks like an error on the JIRA side. JIRA is sometimes poor at error handling, sometimes it helps to inspect the JIRA server logs. I think that redacted url is a GET request so can be replayed by pasting into a browser address bar.

[2022-01-06 11:42] TriompheL opened #5694 "After the application is restarted, duplicate data in the queue cannot be judged"
**Slack us first!**
The easiest and fastest way to help you is via Slack. There's a free and easy signup to join our #defectdojo channel in the OWASP Slack workspace: [Get Access.](https://owasp-slack.herokuapp.com/)
If you're confident you've found a bug, or are allergic to Slack, you can submit an issue anyway.

**Be informative**
Please enter as much information as possible, otherwise we can't

[2022-01-06 12:27] valentijnscholten commented on #5694
Looks more like your restart didn't work correctly. What is in the logs? Please provide more details on the problem.

[2022-01-09 13:26] damiencarol commented on #5671
this tool is really smart... and useful ^^

[2022-01-09 13:40] damiencarol commented on #5656
@noloader as a work-around could you just remove the `version` attribute to test if it's ok with an older version?
In the same time I'm checking what missing feature could be missing between this 2 versions.

[2022-01-09 19:04] code-review-doctor commented on #5671
@damiencarol thanks!

[2022-01-10 12:00] damiencarol opened #5714 "Useless code in the importer"
**Bug description**
Get ride of useless code

https://github.com/DefectDojo/django-DefectDojo/blob/d14696e576e31bc447645018d2d3aed558dd7ccd/dojo/importers/importer/importer.py#L54-L58

[2022-01-10 12:00] damiencarol commented on #5714
FYI @valentijnscholten

[2022-01-11 03:07] pgabriel10 opened #5725 "Internal Server Error - kubernetes"
Hello,
I always receive error 500 Internal server error when I submit a finding or create a test.

Error ocorrer in https://defectdojo.xpto.com/test/34

The path with error /test/

I installed defect dojo  in Kubernets, bellow you can see the error.

Any suggestions ?

[code]

[2022-01-11 07:30] dsever commented on #5725
Can you check migrations with manage command? I don't think this is k8s specific

[2022-01-11 08:57] damiencarol commented on #5725
I think @dsever is right. it's a missing column in global settings table (in DB). check the migration log of the initializer container

[2022-01-11 16:20] #5141 closed

[2022-01-11 17:36] valentijnscholten commented on #5714
?

[2022-01-11 17:38] pgabriel10 commented on #5725
Thanks.

I was execute this command in Django:

`./manage.py migrate`

[2022-01-11 17:38] #5725 closed

[2022-01-11 18:24] manuel-sommer opened #5730 "Improve Rustyhog parser"
Improve the Rusty Hog parser according to the comment from @damiencarol which was done after the PR was merged. https://github.com/DefectDojo/django-DefectDojo/pull/5614
This is a followup task

[2022-01-11 18:46] pgabriel10 opened #5731 "Send endpoints via API findings"
Hello,

I used script python to open Findings using file.csv

The problem is the Endpoint is not attached in Finding.
When I open the Finding who was created by script and click "edit" I see the Endpoint in " Systems / Endpoints".

So, When I Click "Endpoints" -> "Show Endpoints", the "Active Verified Findings" is 0.

The data I send is:

[code]

Any suggestions ?

[2022-01-11 22:09] damiencarol commented on #5714
@valentijnscholten we already discussed about this piece of code. That's it

[2022-01-12 10:17] valentijnscholten commented on #5731
Double check the format as declared inhttp://defectdojo-dev:8000/api/v2/oa3/swagger-ui/?docExpansion=none#/findings/findings_create
`endpoints` should be an array I think, but I would actually expect an error if the format is wrong

[2022-01-12 20:51] pgabriel10 commented on #5731
I see here.

I need to access the Finding e click update.... after ...works.

[2022-01-12 20:51] #5731 closed

[2022-01-13 08:34] manuel-sommer commented on #5607
I will close this issue as the PR got merged.

[2022-01-13 11:54] LongsMusk opened #5738 "Nexpose duplicate problem"
Hi, I'm trying to import two scans made with Nexpose in the same engagement and the vulnerabilities found with the same name but with different endpoints are labeled as duplicates. Shouldn't deduplication also happen on a per-endpoint basis?

[2022-01-13 16:29] damiencarol opened #5739 "Support CycloneDX 1.4 JSON format"
CycloneDX 1.4 JSON format have vulnerabilities in it now.

https://twitter.com/CycloneDX_Spec/status/1481264589627346946

Should be good to improve our parser to support them.

[2022-01-13 16:48] 4bg0P commented on #3544
I have the same issue in version 2.6.2:
[code]

[2022-01-14 08:22] #5233 closed

[2022-01-14 13:02] zakrush opened #5749 "GitLab SAST importer, incorrect nums of Findings"
**Be informative**
GItLab SAST that containt 2 vulnerability parsing as one vuln.

**Bug description**
Incorrect nums of Findings for Gitlab SAST report

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create Egagment
2. Import Gitlab SAST report (attached. Rename to json before import)
3. See 1 findings instead 2 findings. Atached json have two vunerabilities fields

**Expected behavio

[2022-01-14 13:28] damiencarol commented on #4336
More context/details about this subject: https://adamhooper.medium.com/in-mysql-never-use-utf8-use-utf8mb4-11761243e434

@true-hero what is the status of this issue?

[2022-01-14 14:02] true-hero commented on #4336
Hello @damiencarol , thx for response. I did not face the problem anymore, it is rare issue. I reproduced it now, and this `?charset=utf8mb4` is the fix.
<img width="968" alt="Снимок экрана 2022-01-14 в 17 01 59" src="https://user-images.githubusercontent.com/32260664/149527612-fec8a2dc-cc98-4260-b9c1-713b0cc2a9bf.png">

[2022-01-14 14:02] #4336 closed

[2022-01-14 15:01] damiencarol commented on #5749
@zakrush your report have 2 vulnerabilities but the ID is the same.

[2022-01-15 11:41] valentijnscholten opened #5754 "helm chart version not bumped on bugfix releases"
releases `2.6.0`, `2.6.1` and `2.6.2` all have the same helm chart version but different `appVersion `values.

[2022-01-15 11:43] valentijnscholten opened #5755 "release process problems with helm chart / release notes"
the current release process results in 2 draft releases for the version that is being released. one will have the helm chart and the other will have the release notes.
this leads to confusion and sometimes the wrong release is deleted either losing the helm chart or the release notes.

[2022-01-15 15:05] zakrush commented on #5749
@damiencarol  thank you. I miss this, I'm so sorry. Close this issue.

[2022-01-17 11:48] tarrinho commented on #5411
Any news on this request?

[2022-01-18 08:55] zakrush commented on #5749
@damiencarol sorry again.

[2022-01-18 09:15] techylinux opened #5770 "Reimporting same Jfrog Xray report 2nd time mitigated some of the issue while others are untouched"
Hello Team, I have one engagement under some product. I imported Jfrog Xray report 1st import and again I reimported the same report with option close old findings check marked. During this process it mitigated 3 findings.
Not Sure how those findings closed

**Repro steps:**

- Freshly import new report - created x findings
- Reimport same result with "close old findings check marked"
    Message-

[2022-01-18 10:43] damiencarol commented on #5749
@zakrush you should take a look at our de-duplication algorithm documentation

[2022-01-18 11:11] zakrush commented on #5749
@damiencarol I see this. I setup unique_id_from_tools for it.

In this case, when vulnerabilities is parsing, the first vulns is overrided the second vuln with the same ID. Code is here: https://github.com/DefectDojo/django-DefectDojo/blob/e77427d401c7bf9d29b056e76d902638a8416c5c/dojo/tools/gitlab_sast/parser.py#L60-L64

In this case I think DD is should parse my example as 2 findings, and dedup i

[2022-01-18 18:07] StefanFl commented on #5770
There are no deduplication settings for the JFrog Xray Scan in the settings, that will be the reason. I will investigate more and write a PR.

[2022-01-18 18:51] pgabriel10 opened #5773 "Microsoft Teams Notification - Error No Schema Supplied"
Hello,

I created a Teams Webhook to send notification.

When I configure Incoming Webhook i received the URL below:

https://xpto.webhook.office.com/webhookb9/8998759a-xxxx-4f88-xxxx-9df46f1efda4@6dc98845-8048-49c1-xxxx-d5cad98a8f77/IncomingWebhook/99695b4b98b74665878ef9f59f9eb1c5/889195e9-88ab-4445-b949-9e88980XXXXX

So, when I created new test and don´t received notification.

Alert tab I show

[2022-01-18 20:12] BoBeR182 opened #5774 "Error 500 on import of wpscan results v2 API"
**Bug description**
Error 500 upon import of a WPscan result via V2 API

[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Import wpscans recursively from several host over API
2. Sometimes API import says error 500
4. See error

**Expected behavior**
Upload and parse wpscan report

**Deployment method** *(select with an `X`)*
- [X] Docker Compose
- [ ] Kubernetes
- [ ] GoDojo

**

[2022-01-18 21:28] renatosazup commented on #5774
Version: 2.6.2

I also noticed that the error 500 is giving to delete products and when importing reports only the first vulnerability is registered.

[2022-01-18 21:36] StefanFl commented on #5773
I can't reproduce this problem. My URL looks very similar and works fine. You entered the URL in the field "Msteams url", correct? Maybe a space in front of the URL?

[2022-01-19 03:14] pgabriel10 commented on #5773
Yes,

<img width="589" alt="MSTEAMS URL" src="https://user-images.githubusercontent.com/90704745/150056994-ebd0535c-13a6-4cbf-b3a2-dd97296cc6bb.png">

I just copy and paste defect dojo.

I´m using Kubernetes, Do you know If I need configure environment variables ?

[2022-01-19 06:45] StefanFl commented on #5773
The error message suggests the URL is starting with a ". Are you sure there is nothing in the front of what we see in the screenshot?

[2022-01-19 08:25] rinaldistefano opened #5776 "Adding a new tag(s) in product, with Markdown field, falls in a duplication of the existing first"
**General information about testbed**
We are running Defect Dojo v. 2.6.2 ( release mode ) with MariaDB ver. 10.5

**Bug description**
The bug is almost "cosmetic" but can drive user to a bad behavior loosing time trying to correct input data.
When editing tags, after the insert of a new tag, the first (already) present tag is duplicating when hitting return.
By the way, submitting the update, tag

[2022-01-19 09:08] manuel-sommer opened #5777 "Advance Rusty Hog to support Essex Hog"
Rusty Hog does not yet support Essex Hog output files.

Please advance Rusty Hog to also support Essex Hog.

[2022-01-19 09:43] rinaldistefano opened #5778 "Products page going in time-out when called by Product Type list. Need of Pagination fetaure."
**General information**
We are using a huge number of products in our DefectDojo production environment (about 160.000 and growing).
On DefectDojo we can access the Product list in two ways:
1. By clicking on the left menu "All products". Products list is generated with pagination and the possibility to filter records.
2. From the "Products Type" by clicking one of them (in our case SAST).

**Bug

[2022-01-19 10:00] valentijnscholten commented on #5776
Something is completely wrong with the tag field on the edit product page. There should be no markdown edit box. Possibly related to the changes made in https://github.com/DefectDojo/django-DefectDojo/pull/5207 and related PRs.

[2022-01-19 10:02] valentijnscholten commented on #5774
Please upload a sample report once you see the issue again, probably the `fixed_in` field is not always present.
For any other problems, please create separate issues.

[2022-01-19 10:04] damiencarol commented on #5774
I can take care of this one. But I agree with @valentijnscholten . if you can provide a report (even obfuscated) it make things easier for us to fix.

[2022-01-19 12:17] bLackCat-79 opened #5781 "docker initializer fails"
When I go to the url, I get error 500.
These are the docker-compose logs (yes fresh machine debain 11, latest docker version and docker-compose)

nitializer_1   | Operations to perform:
initializer_1   |   Apply all migrations: admin, auditlog, auth, authtoken, contenttypes, django_celery_results, dojo, sessions, sites, social_django, tagging, watson
initializer_1   | Running migrations:
initializ

[2022-01-19 15:57] pgabriel10 commented on #5773
Yes,

Look the screenshot below:

With ".":

![image](https://user-images.githubusercontent.com/90704745/150165296-e324a7a8-8597-4d95-9184-d4937d898afa.png)

Correct:

![image](https://user-images.githubusercontent.com/90704745/150165544-f0fa0765-553d-44bd-95a2-e6aea647c5d1.png)

I installed in another machine (ubuntu) using docker and I don´t have problem, the msteams works.
But kubernetes doesn'

[2022-01-19 17:55] dsever commented on #5773
@StefanFl I'm steeping  in because of k8s ;)

@pgabriel10  k8s should not be the problem, because implementation is the same as for docker, doesn't use envvars,  url is placed in db directly. Unless you have kind of shell code protection (XSS), or something that thinks you are inserting shell script to automatically places '.' in front to protect you, or  some magic between pgsql vs mysql.

The be

[2022-01-19 18:04] StefanFl commented on #5773
My productive instance is running on k8s with PostgreSQL and MS Teams notifications work fine. So I am sure as well it's not related to that.

[2022-01-19 18:22] StefanFl commented on #5770
merged for release 2.7.0

[2022-01-19 18:22] #5770 closed

[2022-01-19 19:33] pgabriel10 commented on #5773
DB:

With X:

![image](https://user-images.githubusercontent.com/90704745/150200845-f07efb20-b630-42ef-8a9a-8ffb8eb72d62.png)

Correct:

![image](https://user-images.githubusercontent.com/90704745/150201043-e959f830-663e-4eac-a1cc-d8a33937063c.png)

Another idea ?

[2022-01-19 20:06] bLackCat-79 commented on #5781
It was fighting against another mysql, dokcer clean and then build and up again, now it works.

[2022-01-19 20:07] #5781 closed

[2022-01-20 06:19] StefanFl commented on #5773
No other idea at the moment I am afraid to say

[2022-01-20 06:20] StefanFl commented on #5714
merged for release 2.7.0

[2022-01-20 06:20] #5714 closed

[2022-01-20 07:54] #5480 closed

[2022-01-20 08:10] valentijnscholten commented on #5714
I also changed the title of the PR, the titles are what ends up in the release note so I'd like to see us make an effort to make them clear and neutral.

[2022-01-20 08:41] damiencarol commented on #5714
yes, you're right

[2022-01-20 09:48] MIO1100 opened #5791 "500 error. Push to Jira"
**Steps to reproduce**

1. Go to adding finding in test
2. Set title and Description.
3. Scroll down to check button "push to JIRA" and click on this button.
4. Click button "Finished"
5. Catch a error 500.

DD version is 2.4.1
ubuntu1~18.04

**Deployment method** *(select with an `X`)*
- [X] Docker Compose
- [ ] Kubernetes
- [ ] GoDojo

I catch this is error.
logs:
`uwsgi_1         | [20/Jan/2022

[2022-01-20 11:43] nibiwodong opened #5792 "SonarQube Api Importer support multi branch"
**Is your feature request related to a problem? Please describe**
SonarQube api/hotspots/search support branch param, however DefectDojo SonarQube Api Import only use projectKey param to request bugs and hotspots.
[https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/tools/sonarqube_api/importer.py](url)
![image](https://user-images.githubusercontent.com/17465789/150332234-24b4e3bf-be8

[2022-01-20 13:55] manuel-sommer commented on #5777
Closing the issue as the PR got merged.

[2022-01-20 13:55] #5777 closed

[2022-01-20 14:10] valentijnscholten commented on #5792
duplicate of #5348 ?

[2022-01-20 17:21] StefanFl commented on #5376
merged for release 2.7.0

[2022-01-20 17:21] #5376 closed

[2022-01-21 02:43] sergiomarotco opened #5795 "demo.defectdojo.org down"
demo.defectdojo.org dos not open

[2022-01-21 02:48] sergiomarotco opened #5796 "language packs support"
**Describe the solution you'd like**
Need funcional to add language pack files for translating interface. I imagine as a folder in which there will be many files with different languages. Anyone will be able to create their own file and translate the default file with an English translation into their native language. Then select the language in the site menu, and the interface will be translated

[2022-01-21 02:56] mtesauro commented on #5795
Thanks for the update.

Interesting.  It's working for me:

[code]

Just ssh'ed to the server and all seems well and good.  We have uptime monitoring turned on for the site and I never got an alert and the status page for the cloud provider shows no issues.

Maybe some network issue on your end?

[2022-01-21 03:05] mtesauro commented on #5795
`docker stats` looks normal as well:
![image](https://user-images.githubusercontent.com/3422419/150458530-095a0844-418d-4796-809d-78847c0bd96a.png)

I'm going to assume a network blip on your side and close this.

Thanks again for the heads up. :+1:

[2022-01-21 03:05] #5795 closed

[2022-01-21 09:41] saldam72 commented on #3216
Hi all,
we have resolved the problem by copying from the setting.dist.py file to the local_settings.py file the whole "if SAML2_ENABLED:" section as show below

SAML2_ENABLED=True
SAML2_CREATE_USER=True
SAML2_METADATA_LOCAL_FILE_PATH='/public/share/idp_metadata.xml'
if SAML2_ENABLED:
...

we think that the documentation needs to be a little more detailed for this.

best,
Sal

[2022-01-21 09:57] valentijnscholten commented on #3216
Please create a PR if you have suggestions to improve the docs. We need to help each other as we don't have every possible SSO solution in place to test and document.

[2022-01-21 16:32] damiencarol commented on #5792
Yes you're right.

[2022-01-21 16:32] #5792 closed

[2022-01-21 18:00] BoBeR182 commented on #5774
[code]

[2022-01-21 19:39] manuel-sommer commented on #5730
This issue is closed due to the merged PR

[2022-01-21 19:39] #5730 closed

[2022-01-22 10:20] damiencarol commented on #5739
Trying to finish a first version for `2.7.0`

[2022-01-22 13:52] damiencarol commented on #5774
@BoBeR182 thanks, will work on it.

[2022-01-22 14:39] damiencarol commented on #5774
I'm able to reproduce it on `master` and `2.6.2`

I'm not able to reproduce the error and the report load well with `dev`

So I confirm that there is a bug with previous versions.

![image](https://user-images.githubusercontent.com/1694940/150642344-a69fe889-8240-4e8f-82a1-2caa59b0c3f0.png)

It seems that one maintenance PR added a check to fix this bug : https://github.com/DefectDojo/django-Defec

[2022-01-22 16:50] valentijnscholten commented on #5778
fixed in dev / 2.7.0

[2022-01-22 16:50] #5778 closed

[2022-01-23 12:20] zakrush commented on #5142
@valentijnscholten how about this feauture?
I think it's very helpfull feauture is feedback of reimport(throught api answer).

[2022-01-24 09:56] Greenmouse94 opened #5812 "Excel report bug - Findings' name ended with three dots (...)"
Hello,

**Bug description**
The names are not displayed correctly when I export the findings to excel. The name ended with three dots (...) once in the excel file, like it is showed in the findings web interface.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Product
2. Select a product
3. Go to Engagement
4. Select an engagement
5. You can see the findings
6. Click on Excel
7.

[2022-01-24 10:04] iamwizard opened #5813 "Issue with Metrics dashboard(/metrics) server error 500"
**Bug description**
There seems to be an issue with /metrics url. When we try to access the metrics dashboard we encounter Server error 500 with the error log shown below.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '/metrics' or 'metrics?date=5&view=dashboard'
2. Click on 'Metrics from Side menu on the defectdojo homepage'
3. See error- Server Error (500)
4. Error log-
ERROR

[2022-01-24 19:44] valentijnscholten commented on #5813
Looks more like you have a finding with an invalid `severity`. `Information` is not a valid value for `severity`. Can you try and debug where this finding came from (which parser for example)? Also please upgrade to 2.6.2 if possible.

[2022-01-25 01:33] prakashar11 commented on #5424
Not sure whether it is related; but I was trying to run DefectDojo in my local environment with some model changes. Migrations kept failing with permission error and I had to add this line in Dockerfile.django along with other chown & chmod statements. Adding this line also helped in running unit tests

`chown -R ${uid} /app/dojo/db_migrations && \`

[2022-01-25 10:20] iamwizard commented on #5813
Thanks @valentijnscholten It worked, there were some findings with Information severity and I have removed them. Also we will try to upgrade Defectdojo to latest version asap.

[2022-01-25 10:20] #5813 closed

[2022-01-25 14:56] manuel-sommer opened #5821 "RustyHog: EssexHog is classified as GottingenHog"
I retested EssexHog on branch dev. The scanner is determined as GottingenHog. I will create a PR for that.

[2022-01-26 07:19] manuel-sommer opened #5826 "Deduplication algorithm does not work for SARIF and Rusty Hog"
Hi all,

I uploaded multiple RustyHog files (e.g. Essex Hog and Gottingen Hog), but the DefectDojo deduplication algorithm is wrong as no finding are deduplicated even though I uploaded one file multiple times.

Tested on branch dev: v. 2.7.0-dev ( release mode )

[2022-01-26 10:27] EdoardoLunghi opened #5827 "Generating report ignores selected filters for findings"
**Bug description**
Trying to produce product type report using filters in HTML format. Filters woks, vulnerabilities showed are correct in the table below. When you try to print HTML report, all vulnerabilities are inserted into without using setted filters. ASCII doc works well.

**Steps to reproduce**
Steps to reproduce the behavior:

1. Insert Product Type
2. Insert Product
3. Insert Engagemen

[2022-01-26 17:47] #5754 closed

[2022-01-26 18:45] valentijnscholten commented on #5827
Can you explain the exact steps taken? When I try your steps, it already goes wrong when generating the report. Both HTML and ASCIIDOC do not apply the filters and show all findings.

[2022-01-26 21:12] damiencarol commented on #5826
@manuel-sommer we need to check the configuration and if the parser provide the data.

[2022-01-27 07:12] manuel-sommer commented on #5821
Closed as PR was merged

[2022-01-27 07:12] #5821 closed

[2022-01-27 07:26] manuel-sommer commented on #5826
@damiencarol, that's exactly what I have already tried out. Didn't work out well yet. Still investigating.

[2022-01-27 08:07] EdoardoLunghi commented on #5827
1. Open all products type.
2. Select 1 product type and click on 3 dot
3. Click on product type report.
4. Apply filters (Active:yes , Duplicate: no)
5. Table below is filled correctly
6. Click on "Generate Report"
7. Report contains all vulnerabilities for these type of product

[2022-01-28 12:28] techylinux opened #5838 "The exported Jira description field is not correctly urlencoded/decoded"
For example, JFrog-XRay issues which detail vulnerable and safe component version number ranges are very difficult to read .

Versions that are vulnerable:

**2.9.0.pr1 ≤ Version ≤ 2.9.6&lt;/br&gt;2.8.0.rc1 ≤ Version ≤ 2.8.11.2&lt;/br&gt;2.7.0-rc1 ≤ Version ≤ 2.7.9.4&lt;/br&gt;≤ 2.6.7.2**

<img width="565" alt="image" src="https://user-images.githubusercontent.com/37924175/151546860-19ef158b-415d-

[2022-01-28 16:54] damiencarol commented on #5749
@zakrush any news on this one? Have you been able to confirm that it's the tool that produce wrong data in the report?

[2022-01-28 18:08] tiagoposse commented on #5535
@damiencarol I was able to get to this finally. I was able to inject the secrets into `/app/docker/extra_settings/local_settings.py`. Thanks for the tip! I'm preparing a PR to the chart.

[2022-01-28 18:19] dsever commented on #5535
But you have already option to inject extra secrets. That will end inside of secret resourse

[2022-01-28 18:43] tiagoposse commented on #5535
@dsever correct if I'm wrong, but through `extraSecrets`, the data will end up in a kubernetes secret, which I'm trying to avoid. Or is the idea to pass something like:
[code]
and then somehow overwrite this via vault injection?

[2022-01-28 19:05] dsever commented on #5535
Ha look, if you really don't trust your k8s etcd (if is not encrypted at transit and rest), then you should use vault sidecar, that will inject secrets from the vault.  Than you have bigger problem than security of DD.

First point you have storing directly in value file. Yes you can create additional file that will have extraSecrets and keep it encrypted then during the installation or upgrade ju

[2022-01-28 19:34] tiagoposse commented on #5535
the idea here is really to use vault sidecar, I've been able to do this by injecting a `local_settings.py` with the following content:
[code]

However, the current templating of the celery worker, celery beat, initializer and django deployments makes using kubernetes secret mandatory. While not exactly pretty, I can get around this by creating an empty secret and then injecting the correct value v

[2022-01-28 19:49] dsever commented on #5535
Definitely I would like to see the solution, if it doesn't have huge impact to current helm (like breaking many installation in the wild), why not to give a try...

[2022-01-29 07:42] StefanFl commented on #5827
Thank you @EdoardoLunghi, good find.

merged for release 2.7.0

[2022-01-29 07:42] #5827 closed

[2022-01-29 09:00] damiencarol commented on #5774
@BoBeR182 it should be ok for `2.7.0`

[2022-01-29 09:00] #5774 closed

[2022-01-29 14:27] damiencarol opened #5845 "API v2 import-scan endpoint should be able to receive empty files"
**Bug description**
Some security tools generate empty report file when there is no security findings.
The API v2 is not able to receive it.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Generate a empty report (with Nuclei for ex)
2. Upload the report with the API v2 /import-scan endpoint
4. See error

**Expected behavior**
Empty report accepted and Test uploaded

**Deployment metho

[2022-01-29 20:18] damiencarol commented on #5838
I can take a look.

@techylinux : Do you have a report even obfuscated that we could use to test your data?

[2022-01-30 23:15] kiblik opened #5847 "Export app-layer metrics by Prometheus exporter"
**Is your feature request related to a problem? Please describe**

DD has multiple graphs and report but as it is written in [wishlist](https://github.com/DefectDojo/django-DefectDojo/blob/f9b802abb659a14b12ad83f28c5b68dead267dc4/docs/content/en/contributing/wishlist.md?plain=1#L10), new dashboard and statistics are wanted. In my opinion, it is good idea to use external tool which is flexible and

[2022-01-31 05:55] techylinux commented on #5838
Sure @damiencarol
Please find below attached report. Import the report using Jfrog XRAY Scan.
[Rpm_fpls-MLDS_version-0_20.49-STD3.20210312123455_sumkumar_2022-01-18.zip](https://github.com/DefectDojo/django-DefectDojo/files/7968416/Rpm_fpls-MLDS_version-0_20.49-STD3.20210312123455_sumkumar_2022-01-18.zip)