[2019-01-15 17:55] aaronweaver commented on #838
I'd check networking and ensure the port is open, without any error messages it's difficult to know what this issue is.

[2019-01-15 17:55] #838 closed

[2019-01-17 14:54] azoumed opened #849 "Deploy Defectdojo Kuberbetes environement"
Hi
i try to deploy defectdojo in Kubernetes environement , but i'm blocked in important step when  i deploy through pod .

i share with you error message :

Error: failed to start container "defect-dojo": Error response from daemon: OCI runtime create failed: container_linux.go:348: starting container process caused "exec: \"/opt/django-DefectDojo/dojo\": permission denied": unknown
______________

[2019-01-17 16:58] #816 closed

[2019-01-18 08:15] petrabrunner opened #850 "cannot bulk verify findings"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
I cannot bulk edit findings. Their initial import state is active and verif

[2019-01-18 08:36] petrabrunner commented on #847
hi :)
**no you are not the only one struggling with the process.**

I have not had exactly the same problem you have unfortunately... BUT.
I can tell  you what I am doing and maybe it helps you with finding something that you are currently not doing.

**preparations (workarounds before the first startup)**
1. checkout the two repos: django-defectdojo, docker-defectdojo (in my case I cloned them in

[2019-01-18 17:17] orval commented on #847
I am seeing a similar issue. When I use the docker run command shown [here](https://defectdojo.readthedocs.io/en/latest/getting-started.html#docker-local-install) I get the following error:
[code]
The only place within the container there is an `activate` script is at `/usr/lib/python3.5/venv/scripts/posix/activate`.

[2019-01-18 22:36] #822 closed

[2019-01-21 11:08] PavitraRaj opened #851 "Installing Dev version of DefectDojo results in an Error"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template
While installing Dev version of DefectDojo from github location https://github.com/DefectDojo/django-DefectDojo/tree/dev, we are facing a

[2019-01-21 16:09] #823 closed

[2019-01-22 11:02] orval commented on #847
@BlauerPulli Do you have instructions we could follow?

[2019-01-22 11:07] BlauerPulli commented on #847
i am currently work on that and will make a pull request if it works

[2019-01-22 18:09] PavitraRaj commented on #851
Has anyone faced this issue?

[2019-01-23 00:05] ratherbeonline opened #852 "Unable to submit DefectDojo security issue via HackerOne"
### Issue Type
Bug

### Description
I have a security issue I would like to disclose. The documentation at https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md suggests submitting security issues at https://hackerone.com/defectdojo/reports/new. However, the HackerOne program is currently private. Maybe you can send an invite to hackerone.com/johnny

[2019-01-23 10:08] BlauerPulli commented on #847
@aaronweaver there are several changes in the setup.bash and the dojo-shared-resources.sh necessary. Shall I create new versions of them(at least of setup.bash and a new entrypoint script)  especially for a docker setup? If I integrate my changes the whole setup process is quite more confusing and i dont know if the other installations are affected..

[2019-01-23 14:19] BlauerPulli commented on #847
Or rechecking of that very nice pull request would be a goot idea: https://github.com/DefectDojo/django-DefectDojo/pull/824
@devGregA @aaronweaver @mtesauro

[2019-01-23 15:41] azoumed opened #853 "compatibility DefectDojo"
Hello community ,

I try to deploy deectdojo into Kubernetes , for architecture i have two pods the first contains Mysql et second defectdojo .
i have différents issues around database et same permission .

if same one from community , deploy defectdojo before , i will thankful

I sahre with you différent yaml file .

defectdojo.yaml   "POD"
________________________________________________________

[2019-01-24 13:00] wurstbrot opened #854 "Docker setup (dev)"
### Issue Type
- [x] Bug

### Description
Docker build runs.
docker run is not working afterwards.

### Install
- [x] docker

### DefectDojo Version
Current develop

### Steps to Reproduce
docker checkout dev
docker build test .
docker run test

Error:
´Error: '' is not a valid port number.´

I recommend to merge the WORKING solution from https://github.com/DefectDojo/django-DefectDojo/pull/824

[2019-01-24 17:57] hujarl opened #855 "Contrast Security not available for import"
The documents state that Contrast CSVs can be imported, but within the import console Contrast is not an available choice from the scan type drop down.

[2019-01-28 09:16] irawanhd commented on #847
I'm having the same issue. did you resolved it?

[2019-01-28 14:32] orval commented on #847
No. I switched to this fork: https://github.com/JonathanWilbur/django-DefectDojo

[2019-01-30 00:58] TmmmmmR opened #858 "Add Redmine defect tracker support"
### Issue Type
- [x] Enhancement

### Description

Redmine is widely used as a defect tracking system, so it will be a good idea to add support to it via its REST API : http://www.redmine.org/projects/redmine/wiki/Rest_api

[2019-01-30 11:10] ISAF87 opened #859 "API V1: Error retrieving findings based on products"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [X ] Bug
- [ ] Enhancement

### Description
Filtering based on date works fine:
https://defectdojoroot/api/v1/findings/

[2019-01-30 11:34] ISAF87 opened #860 "API V2: Finding does not contain product / cannot filter on product"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ ] Bug
- [ X ] Enhancement

### Description
API V1 lists the product url/id in each finding.
API V2 doesn't do this.

[2019-01-31 07:40] #828 closed

[2019-01-31 08:33] benno001 opened #861 "Clair scanner should be renamed"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
As discussed in PR #699, there are some possible improvements to the current clair-scanner:
- [ ] Rename to accommodate the variety of clients
- [ ] Map 'defcon1' to critical
- [ ] Possibly map 'unknown' to something higher than info (topic for discussion)

[2019-01-31 13:40] benno001 commented on #861
Exactly that. Changed

[2019-02-01 04:20] irawanhd opened #862 "Microfocus webinspect csv or xml report"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ ] Bug
- [x ] Enhancement

### Description
Do you have any plan to support MicroFocus (previously own by HP) Webinspec

[2019-02-01 12:19] alekbc opened #863 "Jira tickets are not created when manually reimporting a nessus scan"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ x] Bug
- [ ] Enhancement

### Description
When a scan is reimported, deltas are created and mitigated findings are cl

[2019-02-01 12:22] alekbc commented on #863
I had to edit dojo/test/view.py

Added one line:
                        add_issue(item, True)
after line:  finding_added_count += 1

I've also added  at the beggining
from dojo.utils import update_issue, add_issue

That fixes the issue

[2019-02-04 03:31] irawanhd commented on #862
can you guide me to upload the scan file? Thanks

[2019-02-04 14:30] aaronweaver commented on #862
Hi @irawanhd - You would need to do a pull request from your repo to this one and then I can merge it in.
Thanks!

[2019-02-05 01:35] TmmmmmR opened #870 "Main page does not display properly"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [x] setup.bash
- [ ] docker

### DefectDojo Version
 1.5.2

### Steps to Reproduce
installation using setup.bash script and access to the login page.

### Screenshots

![image](https://user-images.githubusercontent.com/5222862/52248411-3c411c80-28e6

[2019-02-05 13:51] aaronweaver commented on #870
There was a change in a version of a static asset. Copy this [file](https://github.com/DefectDojo/django-DefectDojo/blob/dev/components/package.json) into components/package.json and then re-run yarn by executing the following commands.

1. In the root of your dojo directory
2. cd components && yarn && cd ..
3. python manage.py collectstatic --noinput

[2019-02-05 13:51] #870 closed

[2019-02-05 21:43] TmmmmmR commented on #870
Thanks, it solved the issue !

[2019-02-06 04:09] irawanhd commented on #862
Hi @aaronweaver

I have created pull request. with two file export from Webinspect XML. Thanks..

[2019-02-06 10:32] barbich opened #873 "Site https://defectdojo.pythonanywhere.com/ down"
## Issue Template

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description

Demo site on https://defectdojo.pythonanywhere.com/ is down.

## If the issue is a bug, please also include the following:

### Operating System
N/A

### Install

- [ ] setup.bash
- [ ] docker

### DefectDojo Version

### Steps to Reproduce

### Sample Scan File (if applicable)

### Screenshots (optional)

### Console

[2019-02-06 13:35] aaronweaver commented on #873
@barbich We don't use that site anymore, where did you find the link to it? The demo site is [here](https://defectdojo.herokuapp.com). Thanks

[2019-02-06 13:35] #873 closed

[2019-02-07 10:50] Thorada opened #875 "checkmarx import scan results failed with bad encode character"
## checkmarx import scan results failed with bad encode character

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description

When I make a Checkmarx import in defect dojol, I have this error:
`UnicodeEncodeError: 'ascii' codec can't encode character u'\ufffd' in position 69: ordinal not in range(128)`

I think we should force the encoding of fields, right? with this kind of function: .encode('u

[2019-02-07 22:31] #796 closed

[2019-02-08 09:32] rjimgal commented on #810
Hi @AdrienGuillerme, any update on this?

[2019-02-09 23:27] aaronweaver commented on #855
Check in the dev branch. We'll be pushing a new release soon.

[2019-02-09 23:27] #855 closed

[2019-02-09 23:30] aaronweaver commented on #849
Hi @azoumed, did you get this working then in Kubernetes? If so, maybe you would like to submit it to our community [repo](https://github.com/DefectDojo/community) under Kubernetes?

Thanks

[2019-02-10 00:12] aaronweaver commented on #850
@petrabrunner What error do you see in the console? Right click, inspect, console?

[2019-02-10 16:15] #804 closed

[2019-02-10 16:15] #813 closed

[2019-02-11 09:18] xthk opened #881 "Simple-Search does not find products with a dash e.g. "foo-bar""
## Simple-Search does not find products with a dash e.g. "foo-bar"

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description

If a search term includes a dash "-" simple search does not show a matching product.

Example:  ```/simple_search?query=foo-bar```

If there is a finding with that name, it is found.

## If the issue is a bug, please also include the following:

### Operating System

Ubu

[2019-02-11 09:30] xthk opened #882 "Read-only access, e.g. for reviews/audits"
## Read-only access, e.g. for reviews/audits

### Issue Type

- [ ] Bug
- [X] Enhancement

### Description

As a DefectDojo superuser I'd like to grant read-only access to users, e.g. for reviews or audits.

I can think of three options here:

- global read-only role, like "superuser", but read-only
- ~per product, like "Authorized users", but "Read-only users"~
- per product, add permissions (rea

[2019-02-11 10:19] barbich opened #883 "sonarqube plugin input file"
Hi
can someone clarify what is the import file for the newer sonarqube plugin?

tx

[2019-02-11 13:55] aaronweaver commented on #883
It was generated by a contributor and the export was created with an intermediate file that couldn't get released. We probably won't include it in the next release, unless there is a format we can get directly from Sonar without having to run an intermediate app. Would you be able to provide me with some sample files?

[2019-02-11 15:33] barbich commented on #883
hi
in fact I do. Sonarqube has a nice API to allow extracting various informations such as (in our case) issues which would correspond to vulnerabilities. I currently generate a XLSX file with some statistics but it can be tweaked for more. I will do this in the upcoming days and share the script + sample outcome.

tx

[2019-02-11 15:53] barbich opened #884 "defectdojo_api fail on create_engagement"
issue creating an engagement via API using fails on double slashes.

## Issue Template

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [ ] setup.bash
- [x] docker

### DefectDojo Version
latest dev

### Steps to Reproduce
sample code

[2019-02-11 17:40] dr3dd589 opened #886 "There should be an option to delete an environment variable from the Environment list."
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating

[2019-02-11 17:46] dr3dd589 commented on #886
I am going to take this issue to add this delete option.

[2019-02-11 17:48] barbich opened #887 "Veracode combined static and dynamic not imported"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
Veracode detailed report containing dynamic and static scan are not imported

[2019-02-12 07:28] petrabrunner commented on #850
@aaronweaver I dont see an error. I cannot execute the click in the first place.
I do see a violation:
[Violation] Added non-passive event listener to a scroll-blocking <some> event. Consider marking event handler as 'passive' to make the page more responsive.

![image](https://user-images.githubusercontent.com/45869415/52618809-24e2d000-2ea0-11e9-90bf-76b039ed87f5.png)

[2019-02-12 08:47] barbich commented on #883
hi
wrote a python wrapper to sonar api to extract a csv of the issue of a given project.
Script is at [https://gitlab.com/barbereau/sonar-issue-extract] with a sample csv generated on a scan of defectdojo (see [https://sonarcloud.io/dashboard?id=barbich_django-DefectDojo])

[2019-02-12 09:46] barbich commented on #884
Issue appears with defectdojo_api 1.1.4 as available via pip repository .
Recompile to 1.1.5 solves the issue.

[2019-02-12 09:46] #884 closed

[2019-02-12 14:09] Sec-Team-XING opened #889 "Finding: Add CVE field"
## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

As most of our findings are vulnerabilities with a dedicated CVE, we'd like to have a separate, optional field for that on the Finding model.  Also, this needs some work on the Dependency Check parser to extract the CVE.

[2019-02-12 14:47] Nilix007 opened #890 "Finding template: Apply tags"
## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

When applying a template to a finding, I want to have the possibility to copy the tags from the template.

[2019-02-12 18:03] jbryanmiller opened #891 "API support for custom Fields"
### Issue Type
- [x ] Question

### Description

Does the API support custom fields ? Retrieving, Updating , Adding , etc

### Operating System
Windows 10

### Install
- [x ] docker

### DefectDojo Version
v2

### Steps to Reproduce

### Sample Scan File (if applicable)

### Screenshots (optional)

### Console Logs (optional)

[2019-02-12 22:01] aaronweaver commented on #883
Nice, I like it. Can you submit a sample file to: https://github.com/DefectDojo/sample-scan-files and if you want you can submit the parser to: https://github.com/DefectDojo/community or we can link to it in the notes.

Also, for sonarcloud interesting that it was picking up these php files. django-DefectDojo/static/jquery/test/.

[2019-02-13 00:20] TmmmmmR opened #893 "Re-calculate confidence level"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

DefectDojo already include the confidence level from the imported scan. But it will be interesting to correlate values reported from different scanners for the same issue. For instance, a confidence level can be high for one issue if it was reported by multiple scanners.

[2019-02-13 15:38] chris-vest opened #894 "When Jira configuration is added & `Push to Jira` enabled on existing Findings they are not synced to Jira"
## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

1. Engagement `A` exists
2. Findings under Engagement `A` exist
3. Jira integration is configured for DefectDojo
4. Jira integration is configured for Engagement `A`
5. Issue under Engagement `A` is updated with `Push to Jira` enabled

[code]

### Operating System
Docker

### Install
- [ ] setup.bash
- [x] docker

###

[2019-02-15 09:36] barbich commented on #883
Will submit the files in a couple of days.
For sonar: the results are strange. If I run a local docker instance of the community version I get very different results (towards python code), I will post as sample the run from a local scan and from sonarcloud.
I also realised it could be as simple to change my code a bit to generate a csv that can be parsed by the defectdojo csv parser ...

[2019-02-15 10:45] itsgauravjain22 opened #895 "Launch scans for supported tools like zap, burp pro, arachni through rest api"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
Kindly add the launch scan feature in defect dojo, so that the supported tools can be used to assess the application for vulnerability by using the defect dojo application in one place instead of going to separate application and invoke the scan and then import the scan from each tool.

### Operating System
Linux Mint 19 Cinnamon

### Def

[2019-02-16 15:30] aaronweaver commented on #883
I agree adding language would be very interesting, thanks for the update!

[2019-02-16 15:31] aaronweaver commented on #895
I agree, it's been on our backlog and I know how it can be done. Stay tuned!

[2019-02-16 16:45] aaronweaver commented on #887
@barbich Can you provide a sample combined report to the samples repo?

Thx!

[2019-02-18 03:40] DshSec commented on #847
Hello, MySQL error occurred when I built this environment with docker. What should I do?

Is there any effective way to shoot wrong ideas or solutions to tell me?

Thank you.

The following are commands and errors:

Docker run-it-p 8000:8000 appsecpipeline/django-defectdojo bash-c "export LOAD_SAMPLE_DATA=True & bash/opt/django-DefectDojo/docker/docker-startup.bash"

* Starting MySQL database serv

[2019-02-18 03:43] DshSec commented on #847
Hello, MySQL error occurred when I built this environment with docker. What should I do?

Do you have any effective ideas or solutions to troubleshooting?

Thank you.

The following are commands and errors:

Docker run-it-p 8000:8000 appsecpipeline/django-defectdojo bash-c "export LOAD_SAMPLE_DATA=True & bash/opt/django-DefectDojo/docker/docker-startup.bash"

* Starting MySQL database server mysql

[2019-02-19 09:41] itsgauravjain22 commented on #895
Thanks for the update. Kindly have a look at this [tool](https://github.com/archerysec/archerysec) which support invoking web scans assesment tools.

[2019-02-19 10:21] ktreptow commented on #759
I've encountered this problem too and implemented your workaround. It's working now, thank you! Did you think about opening a pull request?

[2019-02-19 10:29] sirferl commented on #759
I will eventually. But at the moment I do not have time.

[2019-02-21 10:16] ktreptow commented on #759
If you want me to, I could open the pull request. But you found the solution first, so maybe you'd like to do this yourself?

[2019-02-21 11:15] sirferl commented on #759
It's an open project, so if you could put that solution in the main code, great !

[2019-02-22 11:18] kempy007 opened #896 "Clair json importer"
### Issue Type
- [ ] Bug
- [X] Enhancement

### Description
I thought there was support for importing clair scan results in json format. I can only see on Dev branch under dojo/tools, a folder for clair.

Tried to copy dojo/tools onto appsecpipeline/django-defectdojo
But the tool still won't show up, What does one have to do to create a custom parser?

I'm using arminc/* and objectiflibre/clair-sc

[2019-02-22 13:25] HumanoidPhantom opened #897 "Redirection in Bulk Edit"
## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
It would be more convenient, if after bulk change all filter settings and current page number won't be discarded.

### Solution
Possible workaround would be to use referrer HTTP header (and check hostname, just in case) in dojo/finding/views.py:
[code]

[2019-02-23 08:09] barbich commented on #887
A scan is attached in the issue:

[Sample_Static_and_Dynamic.detailed.xml.gz](https://github.com/DefectDojo/django-DefectDojo/files/2852294/Sample_Static_and_Dynamic.detailed.xml.gz)

[2019-02-25 08:46] itsgauravjain22 opened #898 "'User has no usercontactinfo' error on uploading nessus report"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
The following error is thrown on uploading nessus scan.
[code]

## If the issue is a bug, please also include the following:

### Operating System
Linux Mint 19 Cinnamon

### Install

- [x] setup.bash
- [ ] docker

with mysql database at the core.

### DefectDojo Version
1.5.2

### Steps to Reproduce

- Create the engagement for the produ

[2019-02-25 09:05] itsgauravjain22 opened #899 "Missing Accunetix report on upload section"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
The dfectdojo currently not supporting accunetix scanners report, which are highly used in market. It would be great to have the support of accunetix tool in defectdojo.

[2019-02-25 09:26] itsgauravjain22 opened #900 "'DATABASES is improperly configured' error on installing defectdofojo with sqlite"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
The following error is encountered when running the setup.bash script on my system.

[code]

## If the issue is a bug, please also include the following:

### Operating System
Linux Mint 19 Cinnamon

### Install

- [x] setup.bash
- [ ] docker

### DefectDojo Version
1.5.3.1 as per github repository

### Steps to Reproduce

- Execute ./set

[2019-02-25 23:10] barbich commented on #883
created pull request as suggested.
Also too opportunity to relaunch the sonarcloud scan (with more representative results):
https://sonarcloud.io/dashboard?id=barbich_django-DefectDojo

[2019-02-25 23:10] #883 closed

[2019-02-25 23:12] barbich commented on #887
created pull request as suggested.

[2019-02-25 23:12] #887 closed

[2019-02-26 23:45] shreyansh23 opened #902 "pip install fails with AttributeError"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
pip install fails with AttributeError: 'NoneType' object has no attribute 'splitlines'

### Operating System
Ubuntu 18.04

### Install

- [x] setup.bash
- [ ] docker

### DefectDojo Version
(latest)

### Steps to Reproduce
install using ./setup.bash

### Screenshots
![screenshot from 2019-02-27 05-14-37](https://user-images.githubusercont

[2019-02-27 06:23] dr3dd589 commented on #889
@aaronweaver Can I take this issue to start working on it.

[2019-02-27 09:46] petrabrunner opened #904 "deduplication bug: nessus issues with low severity replace high severity issues"
## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
when deduplicating findings of an engagement (in this case a nessus report and a ci/cd engagement) the high findings "disappeared" and became low or medium findings because they were deduplicated and the findings marked as "original", were the findings with the lower severity....

if duplicates exist I would expect the

[2019-02-27 22:15] drdsec commented on #826
Perhaps this Dojo API script will help? It merges findings with identical titles. To use this script, set the engagement product ID in the URL.

[mergebytitle.py.txt](https://github.com/DefectDojo/django-DefectDojo/files/2912545/mergebytitle.py.txt)

[2019-02-28 08:50] alles-klar opened #905 "git ignores files unter dojo/static/dojo/"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
Git ignores files unter dojo/static/dojo/ if you check in the project in a

[2019-02-28 17:15] #886 closed

[2019-03-01 14:09] W1R3D-Code commented on #810
also interested, for what it's worth :)

[2019-03-05 17:28] ninp0 commented on #895
Here's one as well: https://github.com/0dayinc/csi

[2019-03-07 14:57] p3r1c0 commented on #898
i have the same error uploading other reports.

[2019-03-07 16:56] wurstbrot opened #921 "Reduction of supported OS"
@hendrikhalkow and I restructure the setup for docker-compose and kubernetes.

We recognized that it is hard to support container and manual setup together.
We recommend to remove support for everything other than docker-compose and helm for setup. We will be happy to create a PR. A forecast is available at https://github.com/hendrikhalkow/django-DefectDojo/tree/k8s.
It uses the docker one process

[2019-03-07 17:06] aaronweaver commented on #921
@wurstbrot nice timing. Last month I was looking at a few other popular opensource projects and saw that a few of them are doing exactly as you stated. What I'm thinking is that we move to docker-compose as the officially supported install but perhaps keep the legacy install for a few months and then officially remove it from the repo. Let me chat with the others and get their thoughts.
Thanks!

[2019-03-07 17:07] aaronweaver commented on #899
@itsgauravjain22 I believe this has been added in dev. If you would like to confirm it works.

[2019-03-07 21:52] h00die commented on #898
This is caused by an incomplete User object.
When a User is created either through the `manage.py` super user creation, or through a direct object call (`models.User(username='admin', first_name='admin', last_name='admin', email='admin@admin.com').save()`, the corresponding `UserContactInfo` object isn't created.  The code should handle this, but doesn't, and its only in rare circumstances it happ

[2019-03-08 07:32] rseedorff commented on #921
I agree @wurstbrot . It would be great if you support docker in the first place instead of a manual setup.

[2019-03-08 09:03] hendrikhalkow commented on #921
That would be awesome. I recommend supporting both a Kubernetes installation via Helm and a Docker Compose installation.

I just added the Helm charts to the branch mentioned above, Docker Compose will be updated next.

[2019-03-08 10:28] Thorada opened #922 "Dependency Check Scan does not work with <engineVersion>5.0.0-M1</engineVersion>"
## Issue Template

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
There are a bug when we tried to import Dependency Check Scan.
In fact, Dependency Check reports generate with engineVersion 5.0.0-M1 push informations of vulnerability on <cvssV2>:

[code]

or the code of dojo/tools/dependencycheck/parser.py uses this :

`severity = self.get_field_value(vulnerability, 'severity')`

So,

[2019-03-08 12:29] Thorada commented on #922
[Dependency Check Release Note](https://github.com/jeremylong/DependencyCheck/blob/master/RELEASE_NOTES.md)

[2019-03-08 13:37] hendrikhalkow commented on #921
There is now the [k8s branch](https://github.com/DefectDojo/django-DefectDojo/tree/k8s) where we work on that topic.

[2019-03-08 15:30] wurstbrot commented on #921
I recommend to use owasp/defectdojo-* on hub.docker.com and not defectdojo. I guess only the _projectleader_, e.g. @aaronweaver  has the right to do that.

[2019-03-08 16:28] hendrikhalkow commented on #921
We can also use the owasp prefix, whichever you prefer. I chose defectdojo so that it is the same as on GitHub.

As we introduced these new images, should we remove the old docker image stuff from the source code? Or would you like to keep that for a while and remove it later?

[2019-03-08 16:33] hendrikhalkow commented on #849
@azoumed have a look here: https://github.com/DefectDojo/django-DefectDojo/tree/k8s

[2019-03-09 21:41] #899 closed

[2019-03-09 21:43] aaronweaver commented on #853
@azoumed Checkout dev, new k8's in progress.

[2019-03-09 21:43] #853 closed

[2019-03-09 21:44] #849 closed

[2019-03-11 05:58] hendrikhalkow commented on #921
https://github.com/DefectDojo/django-DefectDojo/pull/927/files

[2019-03-12 11:48] no-sec-marko opened #928 "pip update error (Django>=1.11.18)"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
In 9f82fed3086e7169c7952a2c5670f094713b7059, the latest django was introduced in the requirements.txt:
`Django>=1.11.18`

This runs in an error during the update process because Django in version 2 will be fetched. Instead, the update string should be somthing like this: `Django==1.11.*`

### Operating System
CentOS

### Install

- [x] se

[2019-03-12 13:01] no-sec-marko opened #930 "Celery stops with "AttributeError: async" error"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
After updating the latest master brunch 7eacd53, the celery task `celery -A dojo worker -l info --concurrency 3 --loglevel=INFO -n worker.%%h` stops with following error:

A short research shows, that celery has some trouble with kombu:
https://github.com/celery/celery/issues/4753
https://github.com/celery/kombu/issues/870

After a celery

[2019-03-12 13:24] aaronweaver commented on #930
Thanks, done!

[2019-03-12 13:24] #930 closed

[2019-03-12 20:24] aaronweaver commented on #922
@Thorada should be fixed now in dev thanks to @dr3dd589

[2019-03-12 20:24] aaronweaver commented on #928
Thx correct!

[2019-03-12 20:24] #928 closed

[2019-03-13 14:56] JohnWickAppSec opened #931 "Error Viewing Open Findings With Restricted Permissions"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description

I tried restricting a user to only have access to certain products using t

[2019-03-14 08:01] Thorada commented on #922
Nice :) Thanks you for your actions !

[2019-03-14 08:07] Thorada commented on #922
@aaronweaver , @dr3dd589  I have a question about scan tools versions, are there plans to include scan tool version on the test data model ? Example for dependency check : engineVersion

[2019-03-15 10:45] agigleux commented on #810
Hello,

I'm working for SonarSource the company making SonarQube. We are looking at the options to provide an official integration with DefectDojo that will be supported by SonarSource.

Do you know if DefectDojo is supporting a generic import format? Or shall we define our own export format and provide the importer in the DefectDojo repo?

Thanks

[2019-03-15 14:42] aaronweaver opened #934 "Integrate Snyk.io with Build"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ ] Bug
- [X] Enhancement

### Description
Integrate https://snyk.io/plans/

## If the issue is a bug, please also incl

[2019-03-15 19:20] aaronweaver commented on #810
@agigleux That's fantastic news, we do have a generic csv or if it's easier you can define a json export and we can create it. Thanks!

[2019-03-18 21:53] hujarl opened #940 "Missing docker-compose yaml"
Unable to "docker-compose up" as there is no associated docker-compose yaml file available from the git clone.

Instructions:

Clone the `DefectDojo Repo`_
git clone https://github.com/DefectDojo/django-DefectDojo.git

Change directories into the newly created folder.
cd django-DefectDojo

.......

To run docker-DefectDojo and see the Dojo logs in the terminal, use: docker-compose up

To run docke

[2019-03-18 22:35] aaronweaver commented on #940
Try the dev branch, we are also currently working on upgrading that in the k8 branch.

[2019-03-18 22:42] barbich commented on #873
@aaronweaver link is on the defectdojo site https://www.defectdojo.org/ text in the page says "If you'd like to check out a demo of DefectDojo before installing it, you can check out our demo." with demo pointing to the wrong page.

[2019-03-18 23:11] aaronweaver commented on #873
Ah ok thx will update that one.

[2019-03-18 23:22] barbich opened #942 "openscap support"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ ] Bug
- [X] Enhancement

### Description
Hi
support for openscap xccdf results file would be interresting.
Reference:

[2019-03-19 00:21] hendrikhalkow commented on #921
The changes to make DefectDojo run on Kubernetes and Docker Compose have been integrated into the dev branch. Now we can discuss how long the non-container setup should be supported. What do you think?

[2019-03-19 00:31] Luiggy opened #945 "Documentation running in production not working"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
Could not make it run following the instructions on the documentation of production environment.

### Operating System
Ubuntu 18.04.2 LTS
Linux 4.15.0-20-generic x86_64
### Install

- [x] setup.bash
- [ ] docker

### DefectDojo Version
Latest pull from git repository (e8c152a)

### Steps to Reproduce
I did follow steps on [running in prod

[2019-03-19 00:52] aaronweaver commented on #945
Try out the docker or kubernetes, we are working on updating that right now.

[2019-03-19 02:10] aaronweaver opened #947 "Find Kubernetes hosting provider to replace heroku"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ ] Bug
- [ ] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating

[2019-03-19 06:44] HSR-4 opened #948 "Inititing for GS0C 2019"
Hi, I would Like to contribute this project under **GSoC 2019**
Can You please direct some Instructions for commencing contributions to this project?

[2019-03-19 06:58] HSR-4 commented on #889
pyscraping from www.cvedetails.com and simplifying to short report,
Is this a good method?

[2019-03-19 07:34] Luiggy commented on #945
Thanks, I will in the meantime use the docket installation.

[2019-03-19 08:31] Nilix007 commented on #889
I'm not sure what do you want to achieve with this.

The Dependency Check reports CVEs for most vulnerabilities.

[2019-03-19 09:03] hendrikhalkow commented on #947
The most known are:

http://openshift.com/
https://cloud.google.com/kubernetes-engine/
https://azure.microsoft.com/services/kubernetes-service/
https://aws.amazon.com/eks/
https://www.ibm.com/cloud/container-service/
https://www.rackspace.com/managed-kubernetes/

Even more here:
https://kubernetes.io/docs/setup/pick-right-solution/#hosted-solutions

[2019-03-19 17:30] aaronweaver commented on #948
@HSR-4 Take a look at the [suggestions](https://www.owasp.org/index.php/GSoC2019_Ideas#OWASP_DefectDojo) and then follow through the GSOC process of submission. Thx for you interest!!

[2019-03-19 17:30] #948 closed

[2019-03-20 12:49] aaronweaver commented on #854
Fixed in dev and push soon to master. Thanks to Hendrik Mallow's assistance.

[2019-03-20 12:49] #854 closed

[2019-03-20 12:50] aaronweaver commented on #851
Fixed in dev and push soon to master. Thanks to Hendrik Mallow's assistance.

[2019-03-20 12:50] #851 closed

[2019-03-20 12:50] aaronweaver commented on #847
Fixed in dev and push soon to master. Thanks to Hendrik Mallow's assistance.

[2019-03-20 12:50] #847 closed

[2019-03-20 12:52] aaronweaver commented on #922
@Thorada I'll create a feature request for that.

[2019-03-20 12:52] #922 closed

[2019-03-20 12:53] aaronweaver opened #951 "Scan Tool Version"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ ] Bug
- [X] Enhancement

### Description
Add versioning support for the importers.

Request: Regarding scan tools ver

[2019-03-20 12:54] aaronweaver opened #952 "Kiuwan Importer For DefectDojo"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ ] Bug
- [X] Enhancement

### Description
Work with Kiuwan to create an importer.

[2019-03-20 12:58] aaronweaver commented on #902
@sdesapriya I'd suggest trying out the docker-compose in dev. Thx!

[2019-03-20 12:58] #902 closed

[2019-03-20 12:59] aaronweaver commented on #896
@kempy007 this will be in master shortly. Working on a release candidate. Thx!

[2019-03-20 12:59] #896 closed

[2019-03-20 13:56] xthk opened #954 "Permissions based on something like "Authorized Users" for Product Types"
## Permissions based on something like "Authorized Users" for Product Types

### Issue Type
- [ ] Bug
- [X] Enhancement

### Description

User Story: As an administrator of DefectDojo, I'd like to issue permissions for all products of a given product type to users.

We have many software products in DefectDojo, they are organized within several product types, e.g. platform_a, platform_b, etc. I'd

[2019-03-20 13:59] #931 closed

[2019-03-20 16:22] LeonardoNve commented on #224
The same question here. Everything installed, including wkhtmltopdf:

But when generating a PDF report it remains `Running`, tested in production and with `Debug = True`

[2019-03-20 17:09] LeonardoNve opened #955 "Report Generation Error"
### Issue Type
- [ X] Bug

### Description

After some work with the config of DD, now the report tool create an error each time I try to create a PDF report

### Operating System
Centos 7

### Install

- [X ] setup.bash

### DefectDojo Version
Defect Dojo v. 1.5.2
wkhtmltopdf 0.12.5

### Console Logs (optional)
manage.py runserver logs:

Celery logs:

Web Request:

Web Response:

[2019-03-20 17:37] madchap opened #956 "Install fails due to django python requirement that cannot be installed"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
Could not find a version that satisfies the requirement Django==1.11.19 (fro

[2019-03-20 17:54] aaronweaver commented on #956
@madchap That's fixed now with 1.11.20

[2019-03-20 17:54] #956 closed

[2019-03-20 18:56] #875 closed

[2019-03-20 19:50] aaronweaver commented on #955
@LeonardoNve We have dropped support for PDF reports as the generator was problematic. We now suggest using the html report and printing to PDF.

[2019-03-20 19:50] #955 closed

[2019-03-20 19:53] aaronweaver commented on #900
I'd suggest trying it out in docker-compose as it the setup script with my sqlite is deprecated.

[2019-03-20 19:53] #900 closed

[2019-03-20 20:07] aaronweaver opened #960 "Burp Plugin"
## Issue Template

### Issue Type
- [ ] Bug
- [X] Enhancement

### Description
Create a plugin for Burp to push issues directly to DefectDojo

[2019-03-20 20:16] hujarl commented on #940
Has been moved to master, closing.

Cheers!

[2019-03-20 20:16] #940 closed

[2019-03-20 22:51] madchap commented on #956
for follow-up's sake:

* Checked out stable tag `git checkout tags/1.5.3.1 -b 1.5.3.1`
* Change requirements.txt Django version. Diff is:

[code]

That went through OK it seems.

[2019-03-21 03:46] vivekj2 opened #962 "There is no option to upload POC against the findings."
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating

[2019-03-21 17:23] jsalado commented on #952
Hello there,

find attached a CSV file example with some vulnerabilities found by Kiuwan in the WebGoat application. Let me know if you need any clarification or more examples.

Open to explore more possibilities of integration.

[Kiuwan_VulnerabilitiesTable_rfc_4180.zip](https://github.com/DefectDojo/django-DefectDojo/files/2993221/Kiuwan_VulnerabilitiesTable_rfc_4180.zip)

[2019-03-21 17:29] Ravenons opened #964 "High memory consumption when deleting engagements, tests..."
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

The view generated when asking for confirmation to delete an engagement or similar consumes too much memory. This view is the one containing related objects that will be deleted too (by cascading).

Actually, it happens too when the deletion itself is requested (when you confirm). This is because both requests use the same endpoint (e.g.

[2019-03-21 17:31] aaronweaver commented on #952
Thanks @jsalado. I'll start with this one and then can explore API options.

[2019-03-21 17:34] Ravenons commented on #964
I will write a PR tomorrow for the first issue (avoid precomputation for POST view), and I will investigate how to deal with the second issue.

[2019-03-21 17:37] aaronweaver commented on #964
@Ravenons Thanks for digging into this, your plans sounds good to address.

[2019-03-21 17:39] aaronweaver commented on #962
@vivekj2 Can you elaborate on what you are looking for here?

[2019-03-22 03:11] PointerWild opened #966 "ProgrammingError: (1146,"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ ] Bug
- [ ] Enhancement

### Description
When  installing this program with the direstion in "Quick Start", I meet a

[2019-03-22 04:50] vivekj2 commented on #962
I mean to say there is not option to upload attachment as a proof of concept against the vulnerability.

[2019-03-22 13:19] aaronweaver commented on #966
Can you give me the output of the comand `docker logs django-defectdojo_initializer_1`? Does it work if you wait a couple minutes? The initializer has to complete setup first.

[2019-03-22 13:30] valentijnscholten opened #969 "Migration error key too long"
### Issue Type
- [X] Bug

### Description
Exception during migration script ($ ./manage.py migrate). The other 2 migrations ran fine.

### Operating System
Debian Stretch (9)

### Install

- [X] setup.bash

### DefectDojo Version
dev branch @ 46692a0f7bf568f5739d093ab0e4d2ef6733faf6

### Steps to Reproduce
install defectdojo dev branch from 8 december 2018, perform git pull, run migration:
$ ./man

[2019-03-22 13:30] Ravenons commented on #964
@aaronweaver The second issue can be solved by programming a custom function that gets the related objects to be deleted, but does not load all these objects into memory, like NestedObjects is doing (so just getting the string version of the object).

Actually the view itself does not use the whole object at all, so we are optimising. Is this approach OK for you?

[2019-03-22 13:38] valentijnscholten opened #970 "Date of test (scan) in UI off by 1"
### Issue Type
- [X] Bug

### Description
When importing a scan via UI or APIv2, the date that is displayed afterwards in the DD UI is off by one (1 day earlier)

## If the issue is a bug, please also include the following:

### Operating System
Debian 9

### Install

- [X] setup.bash

### DefectDojo Version
dev branch 22/3/2019 (46692a0f7bf568f5739d093ab0e4d2ef6733faf6)

### Steps to Reproduce
im

[2019-03-22 13:39] valentijnscholten commented on #970
[report.json.txt](https://github.com/DefectDojo/django-DefectDojo/files/2996684/report.json.txt)

[2019-03-22 14:56] #964 closed

[2019-03-22 15:23] aaronweaver commented on #969
We fixed this in a later release, I think within the last couple months by limiting the length on product.

[2019-03-22 15:36] valentijnscholten commented on #969
So how do I fix it? This happened on the latest commit 46692a0 on dev branch.

[2019-03-22 15:42] aaronweaver commented on #969
I wonder if you have a longer product name? Looking in the error messages I don't see any indication of the field.

[2019-03-22 15:52] valentijnscholten commented on #969
Longest productname is 38 characters

[2019-03-22 15:53] marquezc1 commented on #962
Although there is no direct file upload that I am aware of at this time, you could host your POCs on a web-server and point to the url where the file is hosted.

[2019-03-22 16:02] valentijnscholten commented on #969
Is there any logging I can add some place to help debugging this? I am new to python, django and DD :)

[2019-03-22 17:35] aaronweaver commented on #969
Is this a fresh install? I remember sometimes innodb has to be changed or check out the docker.

SET GLOBAL innodb_file_format=Barracuda;
SET GLOBAL innodb_file_per_table=ON;
ROW_FORMAT=DYNAMIC; -- or COMPRESSED (goes on end of CREATE)
innodb_large_prefix=1

[2019-03-22 19:53] adracea commented on #966
Hey @aaronweaver , I'm facing the exact same issue , and I decided to go back a few commits and try again , at ef1e7c2fe05d805be8fb4f87e143c9711de7ba59 it seems to be working but it still has some issues .

This is a full log of what I'm getting :

[code]

After a while celery workers also start giving this :

[code]

By looking at these logs I kind of think the problem is with the mysql container

[2019-03-22 20:13] aaronweaver commented on #966
Possibly, so much for the portability of containers. I can't reproduce it locally but I don't see the initializer_1 container ever pass the creation of the admin user. (Of course if that doesn't run then nothing gets created, thus the table errors.)

I'd see what the status is of the initializer container. `docker logs django-defectdojo_initializer_1`. Could even exec into that container and try r

[2019-03-22 20:20] adracea commented on #966
For me , the core OS is Arch Linux , the system I just tested it on is ....Windows and it seems to be working *ok* on dev branch until trying to do anything user related :))

Logs from Arch :
[code]
It suddenly stops there , on Windows it goes further to do the admin password and migrations for dojo .

[2019-03-22 20:38] aaronweaver commented on #966
For Arch, is the initializer container still running or is it in an exit state? I wonder if it's getting stuck on this as it's the next command:

`export DD_ADMIN_PASSWORD="$(cat /dev/random | LC_ALL=C tr -dc a-zA-Z0-9 | \
    head -c 22)"`

Can you try that in the init container? I'm now remembering cases that /dev/randmon sometimes can be blocking and to instead use `/dev/urandom`. Let me know a

[2019-03-22 20:52] adracea commented on #966
Weirdly enough , the container is still running and the error for the above command is...dun dun dun :
`head: command not found`

[2019-03-22 20:57] aaronweaver commented on #966
Ok, thanks I think we are close! Wouldn't have expected head to be the issue.

[2019-03-22 20:59] adracea commented on #966
I edited further

[2019-03-22 21:00] aaronweaver commented on #966
This works right?

`cat /dev/urandom | LC_ALL=C tr -dc a-zA-Z0-9 | head -c 22`

[2019-03-22 21:01] adracea commented on #966
Yep , that seems to do the trick .

[2019-03-23 03:06] hendrikhalkow commented on #966
If you provide a DD_ADMIN_PASSWORD the password generation command will be skipped (see entrypoint-initializer.sh line 14).

However, I think the issue is that the docker compose file overwrites the container's entry point with wait-for-it.sh. This is not necessary as the container contains a wait logic by itself (see entrypoint-initializer.sh, line 22). I don't know why, but I guess it runs on a

[2019-03-23 07:00] valentijnscholten commented on #969
The DB is not new, I just finished setting up 20-ish products, engagements and configured their IDs in Jenkins jobs.

[2019-03-23 08:20] valentijnscholten commented on #969
This is the generated migration script:

    operations = [
        migrations.AlterField(
            model_name='finding',
            name='hash_code',
            field=models.TextField(blank=True, editable=False, null=True),
        ),
        migrations.AlterField(
            model_name='product_type',
            name='name',
            field=models.CharField(max_length=255, unique=True),

[2019-03-23 08:37] valentijnscholten commented on #969
For an existing db it's hard to change your suggested settings:

[code]

I would suggest to make the max length of the product_type equal to 191 to avoid this problem alltogether.

[2019-03-23 13:29] aaronweaver commented on #966
It was the call to /dev/random on some host OS's that caused it. Swapped it with /dev/urandom

[2019-03-23 13:29] #966 closed

[2019-03-23 16:23] hendrikhalkow commented on #966
Wait. If /dev/random takes forever while /dev/random does not, it means that there is not enough entropy available. So this 'fix' reduces the security of the generated admin password. /dev/urandom should not be used for password generation and we should revert this. Affected people should provide a secure admin password explicitly by passing DD_ADMIN_PASSWORD in.

[2019-03-23 17:21] adracea commented on #966
The idea is that it doesn't just "take forever" it simply gets stuck
indefinitely .

On Sat, Mar 23, 2019 at 6:23 PM Hendrik M Halkow <notifications@github.com>
wrote:

[2019-03-25 08:51] Ravenons commented on #964
Hey, there's a question still there, and an issue to resolve. Should I open a new issue for that?

[2019-03-25 08:51] Ravenons commented on #964
and another thing to correct*

[2019-03-25 13:08] aaronweaver commented on #964
This one, right?

Yes, another issue for tracking is fine. Thx

[2019-03-26 00:09] ppiotr3k opened #977 "Better GitHub issues templates"
**Is your feature request related to a problem? Please describe**
I'm always frustrated when using the issue template provided in DefectDojo, either when opening an issue or reading issues submitted by others.

**Describe the solution you'd like**
As a contributor submitting an issue, I want distinct questions when proposing an idea or reporting a bug so that I can have a better guidance  and user

[2019-03-26 10:12] Ravenons opened #979 "High memory consumption in the confirmation view for deletion"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

The view generated when asking for confirmation to delete an engagement or similar consumes too much memory. This view is the one containing related objects that will be deleted too (by cascading).

Generating the data for the view asking for confirmation should be lighter. The code affected is present in several views for different obje

[2019-03-26 10:13] Ravenons commented on #964
New issue for the second problem here: https://github.com/DefectDojo/django-DefectDojo/issues/979

[2019-03-26 10:41] Ravenons commented on #979
I will make a PR for this, btw.

[2019-03-26 12:38] aaronweaver commented on #979
Thanks for working on this @Ravenons

[2019-03-26 13:45] #977 closed

[2019-03-26 13:53] bhowmik opened #980 "Upgrade to 1.5.4 from 1.5.1 breaks Dojo"
## Issue Template

### Issue Type
- [ ] Bug

### Description
Upgrading a standalone DefectDojo v1.5.1 to v1.5.4 via the steps on the upgrade page (https://defectdojo.readthedocs.io/en/latest/upgrading.html) throws errors while accessing the following areas.
- /product
- /engagement
- /finding
- /finding/open
- /calendar/engagements
- /metrics
- /metrics/research
- /metrics/product/type

The error

[2019-03-26 14:03] aaronweaver commented on #980
To confirm, you did a make migrations and then migrate?

[2019-03-26 15:25] aaronweaver commented on #960
Created the repo: https://github.com/DefectDojo/Burp-Plugin

[2019-03-26 17:05] agigleux commented on #810
@aaronweaver I tried to follow what is documented [here](https://defectdojo.readthedocs.io/en/latest/integrations.html) and generate a file corresponding to it but no luck so far. Can you provide a sample CSV file so I compare with what I generated?

I used https://defectdojo.herokuapp.com/ and selected "Generic Findings Import". Do you confirm this instance allows upload of files, maybe that's th

[2019-03-26 17:08] aaronweaver commented on #810
I'll take a look and get back to you shortly. Thanks!

[2019-03-26 19:47] aaronweaver commented on #810
Hi @agigleux, I updated the csv field [here](https://github.com/DefectDojo/sample-scan-files/blob/master/generic/generic_csv_defect_dojo.csv). If you need any additional fields let me know and I can add that to this importer. Thx

[2019-03-27 06:19] bhowmik commented on #980
Yep, i did the make migrations and then migrate. If it helps I can only see 109 tables in the defectdojo DB as compared to a 112 tables in a fresh docker install of v1.5.4.

[2019-03-27 07:44] agigleux commented on #810
I'm able to use the "Generic Findings Import" thanks to your sample.

I have a couple of remarks:
- the generic CSV format doesn't allow to upload Findings with Active=True and Verified=True: once the import is done, even by setting these columns to "True", the findings are always _Inactive_ and _Verified_ is unticked. Is that expected? In that case, what's the point to have these columns in the C

[2019-03-27 10:10] doomguy opened #982 "Merging findings loses references"
### Issue Type
- [X] Bug
- [X] Enhancement

### Description
On merging multiple findings (#598), the references of all merged findings will be lost but the one of the finding the others are merged into.

### DefectDojo Version
v1.5.2

### Steps to Reproduce
* Select multiple open findings
* Use the merge function
* See the references section

### Mitigation
Keep the references just like the descri

[2019-03-27 12:55] aaronweaver commented on #810
Hi @agigleux, Thanks for the comments. I'll file a bug report and work on those. You are correct hash shouldn't be editable. It would probably be a better integration with a custom importer via json. I agree that deep linking to the issue would be important as well.

[2019-03-27 13:43] valentijnscholten commented on #882
For me it already works like this. Authorized users can only view engagements/findings and cannot modify anything. But it sounds like that might be a bug? I'm all for better permission/role management, even if it's only documenting how it currently works or is supposed to work.

[2019-03-27 13:46] valentijnscholten commented on #860
I agree this would be a good addition to the API. Sometimes I want to query DD for the findings for a specific product and make some decisions based on that data.

[2019-03-27 14:00] valentijnscholten opened #983 "Deduplication doesn't work anymore when using deduplication_on_engagement: True"
### Issue Type
- [X] Bug

### Description
Findings from OWASP Dependency Checker XML are not deduplicated

## If the issue is a bug, please also include the following:

### Operating System
Debian 9, MySQL.

### Install

- [X] setup.bash / legacy-setup.bash

### DefectDojo Version
1.5.4 from develop, so 46692a0f7bf568f5739d093ab0e4d2ef6733faf6

### Steps to Reproduce
Make sure celery is running
Cr

[2019-03-27 14:03] valentijnscholten commented on #983
BTW when I turn OFF deduplication on engagement, the deduplication starts working. I can't use that however as we're building a couple of branches within this product each in their own engagement and we don't want to deduplicate across branches/engagements

[2019-03-27 14:54] valentijnscholten commented on #983
What does work with deduplication_on_engagement is to set skip_duplicates to True on import.

[2019-03-27 16:36] jpescalona commented on #810
@agigleux, regarding your last poing, I've been working on some improvements under the PR https://github.com/DefectDojo/django-DefectDojo/pull/843, many of them were basically extending the API functionalities to enable CRUD for some models, but the one of the most important features implemented on the API was to be able import findings specifying differents test_type and scan_type, for example, o

[2019-03-28 09:46] valentijnscholten opened #987 "API v2: import-scan doesn't return id of uploaded scan (which is called a test)"
### Issue Type
- [X] Bug
- [X] Enhancement

### Description
When importing a scan via APIv2, the response doesn't contain the id of the test that was created (uploaded)

## If the issue is a bug, please also include the following:

### Operating System
Debian 9

### Install
setup.bash / legacy-setup.bash

### DefectDojo Version
develop branch 46692a0f7bf568f5739d093ab0e4d2ef6733faf6

### Steps to

[2019-03-28 11:16] barbich opened #988 "Report builder failing with "too many values to unpack""
## Issue Template

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
Report builder doesnt open at all and fails with "ValueError at /reports/builder" "too many values to unpack"
I'm currently having 50 projects in it, but the same issue appeared also when only having 10.

## If the issue is a bug, please also include the following:

### Operating System
docker containers started from do

[2019-03-28 22:33] ptrovatelli opened #989 "Checkmarx import doesn't support all valid utf-8 characters"
## Issue Template

### Issue Type
- [ ] Bug

### Description

## If the issue is a bug, please also include the following:

### Operating System
Windows 10 build 1803

### Install

- [x ] Docker

### DefectDojo Version
master on march 28 11pm UTC+1
*** MINGW64 /d/product/django-DefectDojo (master)
$ git pull
Already up to date.

*** MINGW64 /d/product/django-DefectDojo (master)
$ date
jeu. 28 mars

[2019-03-29 13:35] agigleux opened #990 ""Dynamic finding" is always ticked"
### Issue Type
- [X] Bug
- [ ] Enhancement

### Description

I'm using https://defectdojo.herokuapp.com that is running 1.5.4 as of now

### Steps to Reproduce

Case OK
- Create a Finding
- Tick the "Dynamic finding" check box
- Save
- Edit the Finding
- The "Dynamic finding" check box is ticked => OK

Case KO
- Edit the Finding
- Untick the "Dynamic finding" check box
- Save
- The "Dynamic findin

[2019-03-29 14:32] aaronweaver commented on #989
Recently addressed this on the burp importer and should handle it the same way.

[2019-03-29 14:33] aaronweaver commented on #988
We may need to deprecate the report builder and look for a replacement.

[2019-03-29 16:56] madchap opened #991 "Snyk import fails"
## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
Generating a snyk test output in json from a pom.xml file is failing to import.

It looks like the `cvssScore` is not handled.

## If the issue is a bug, please also include the following:

### Operating System
Using the master branch docker-compose.

### Install

- [ ] Kubernetes
- [x] Docker
- [ ] setup.bash / legacy-

[2019-03-30 20:57] madchap commented on #991
This is due to the licenses output, which do not have a cvssScore key.

I am going to submit an untested PR, very simple. You should see right away if that's good for you or not. Cheers.

[2019-03-30 21:04] madchap commented on #991
Example output for a license:

[code]

[2019-03-30 22:01] madchap commented on #991
Attempt to fix at https://github.com/DefectDojo/django-DefectDojo/pull/992

[2019-03-30 22:19] madchap opened #993 "Unicode error while importing snyk report"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
When importing a snyk report, there is the following error:

`'ascii' codec

[2019-03-31 01:41] madchap commented on #993
Mixed it with PR https://github.com/DefectDojo/django-DefectDojo/pull/992 (not on purpose, sorry).

[2019-03-31 19:20] #993 closed

[2019-03-31 19:20] #991 closed

[2019-04-01 08:15] xthk commented on #882
Hi @valentijnscholten,
you are right. I'll remove the per product items from the above list.

[2019-04-01 08:24] madchap commented on #988
Also happens when only having 1 engagement for testing.

[2019-04-01 15:35] valentijnscholten commented on #983
I am now seeing the same behaviour for NPM Audit Scan. I am not sure why, earlier today it was working and now it's no longer working. I was working on modifying the python api wrapper for v2 api and the example cicd script. I can't reverse engineer which of the changes I did triggered the problem.

[2019-04-02 07:38] propersam commented on #881
I wanted to fix this issue, and then I saw the line that cleans the input before sending query to database.

This is not an error. It happens for security sake. if '-' is allowed in simple_search, It's going to be vulnerable to sql Injection

[2019-04-02 07:40] propersam commented on #881
But I think hypen('-') should have never been allowed as a valid string for product name in the first place. This still posses some potential (less-likely) second order injection vulnerability

[2019-04-02 07:48] propersam commented on #881
@aaronweaver can I implement stripping off '-' (or replacing '-' with '_' )before storing product name for the sake of avoiding this issue with simple_search.

'_' works just fine with product name

[2019-04-02 11:57] aaronweaver commented on #881
Hi @propersam, I'd rather figure out how to do it in the search. I'd look up Watson for python and figure out how to escape that. I'm pretty we can't be the only ones.

[code]

[2019-04-02 13:38] valentijnscholten commented on #983
Just found out the work around by using skip_duplicates=True doesn't work as expected. It performs deduplication across all engagments in a product, so it doesn't seem to respect the deduplication_on_engagemen=True flag.

[2019-04-02 13:57] propersam commented on #881
Let me look into it and see what I can do

[2019-04-02 17:57] valentijnscholten commented on #983
Looks like there are two issues:
a) deduplication_on_engagement no longer works. This seems to be caused by https://github.com/DefectDojo/django-DefectDojo/commit/e4cbdfab1a3d034777a38396d663efb2cee1c964#diff-63c97e945dc0af3507d89798a8841819
I will try to test later this week if reveting that identation changes fixes it.

b) deduplication_on_engagement is not implement for skip_duplicates (during

[2019-04-02 19:41] dr3dd589 commented on #989
hey, @aaronweaver  are you able to reproduce this one in checkmarx import scan because in my case it is working fine all above sample scan is passed.

[2019-04-03 10:25] madchap opened #1001 "Anchore-cli import feature"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
It would be great to be able to import `anchore-cli`'s json output into DefectDojo.

[2019-04-03 10:30] valentijnscholten opened #1002 "Deduplication_on_engagement not supported during import with skip_duplicates"
- [X] Enhancement

### Description
During #983 I found that "skip_duplicates" doesn't support deduplication_on_engagment. It always deduplicates across the whole product. I guess this is due to an incomplete implementation of #757

This the code in serializers.py:

[code]

It should get aligned with what's in utils.py in the sync_dedupe method.

[2019-04-03 10:34] ptrovatelli commented on #989
Hi dr3dd589,
Thanks for checking on this. I have just rebuilt the docker images based on dev branch; now
- Webgoat_badly_converted_by_checkmarx_1.xml and Webgoat_badly_converted_by_checkmarx_2.xml are OK
- Webgoat_replacement_char.xml is still KO

Are you using docker? from windows?
(I didn't rebuild the images before opening the issue so it's possible it was already in that situation 6 days ago s

[2019-04-03 12:20] dr3dd589 commented on #989
I'm using both Docker as well as local on Linux. I have tested it on docker and only third one gives an error but locally it is working fine. and also error is different I think it is due to MySQL version used in docker. I google it and found this solution that is related to this error.
[link to solution](https://stackoverflow.com/a/10959780)

[2019-04-03 12:26] madchap opened #1003 "docker-compose restart loses all system settings"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
If you modify system settings, then `docker-compose restart`, all changes ar

[2019-04-03 12:29] madchap opened #1004 "Support slack webhooks and deprecate legacy token usage"
## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
Currently, a slack (legacy) token is required.

Being able to configure a slack webhook would be much better.

[2019-04-03 13:18] aaronweaver commented on #1003
Hi @madchap - Looks like we need to add a datavolume for mysql - would you mind trying that out?

[code]

[2019-04-03 13:18] madchap commented on #1003
One interesting thing possibly. I configured the slack stuff, then restarted. As expected, upon restart, all blank.

However, looking in the logs I saw this happening upon engagement added (which is ticked to send a slack notif):

[code]

Even though that showed up in the log, I got nothing in Slack (which I had tested previously with the legacy token and worked).

[2019-04-03 13:25] madchap commented on #1003
This fixes it. Do you want me to submit a PR, or you want to care of it yourself?

[2019-04-03 13:35] valentijnscholten commented on #983
So #1000 should fix this and #1002 is the new issue (item b above)

[2019-04-03 13:50] aaronweaver commented on #989
Ah correct, @dr3dd589, utf8mb4 is what should be used. We should change the docker compose to initialize as utf8mb4.

[2019-04-03 14:11] madchap commented on #1003
So apparently not fixing it. Here are the steps I took.

- Modified the docker-compose.yml as mentioned.
- Created named volume for mysql
- Copied the unnamed volume mysql data out to the named volume (just in case, don't know what's in there yet)
- `docker-compose stop` and `rm` and then `up`.
- The mysql container uses the bind mount as instructed:
[code]

- Using chrome incognito, logged in, ma

[2019-04-03 21:27] ptrovatelli commented on #989
Hi,
Following the stackoverflow instructions, I was able to make "Webgoat_replacement_char.xml" work with:
- changing mysql configuration in the django-defectdojo_mysql_1 container
[code]

[code]

- changing charset and collation in tables and columns (previously was latin1/latin1_swedish_ci)
[code]
It might be a good idea to generalize to all the tables.

[2019-04-03 22:10] adracea commented on #904
Could you please check if this is still happening with the latest dev/master ? Also , could you give a few more details on which deduplication options were used ? Using deduplication on engagement can still currently cause this I believe but normal deduplication should be fixed .

[2019-04-04 07:51] barbich commented on #988
I must admit I love defectdojo for a lot of things but not particularly for its reporting.
There are some strong, prepacked solutions that can probably do better reporting if one wants.
I am thinking about [metabase](https://metabase.com/) or [superset(apache)](https://superset.incubator.apache.org/) ... (but these are focusing on dashboard/visuals).
I will explore those and let you know if I can

[2019-04-04 09:56] ptrovatelli commented on #989
Not sure how to change mysql configuration files from docker-compose config but this works in docker-compose.yml:
[code]

All tables and columns are then created with the correct collation:

[code]

Doing a PR today

[2019-04-04 09:58] adracea commented on #989
Wait , can you try pulling the fix from #1010  and trying with that to see if it fixes the UTF-8 issue ?

[2019-04-04 10:05] adracea commented on #989
The MySQL issue may still happen though

[2019-04-04 12:29] Ravenons opened #1011 "HTTP 404 for static file fullcalendar.min.js, yarn dependency range not correct"
**Bug description**
Frontend is getting HTTP 404 when trying to load _/static/fullcalendar/dist/fullcalendar.min.js_, basically because version in _package.json_ is "*", which installs recently released version 4 of the dependency, and that file is not there anymore. I solved it by specifying version "3" and installing the package again, which installs version "3.10.0" and solves the issue. I'm no

[2019-04-04 12:29] ptrovatelli commented on #989
@adracea the mysql issue is the only one remaining. the other 2 reports Webgoat_badly_converted_by_checkmarx_1.xml and Webgoat_badly_converted_by_checkmarx_2.xml regarding the hash function are already ok in dev branch by now; i'll edit my initial post to make this easier to follow
In your PR, can you attach test reports that fail processing without your PR and that the PR fixes? are they valid or

[2019-04-04 12:49] adracea commented on #989
I'll post it in a few minutes

[2019-04-04 12:56] aaronweaver commented on #988
@barbich thanks for looking into other reporting options, will be interested to see what you find.

[2019-04-04 16:45] #835 closed

[2019-04-04 16:59] adracea opened #1013 "Deduplication of issues happens if all endpoints match ignoring everything else"
**Bug description**
A clear and concise description of what the bug is.
deduplication_on_engagement deduplicates issues if all endpoints match ignoring everything else including hash , severity , etc.
**Steps to reproduce**
Steps to reproduce the behavior:
1. Create an engagement with deduplication_on_engagement enabled
2. Add one issue with high severity and a name set endpoint to `http://test.co

[2019-04-04 18:02] adracea commented on #1013
The behavior of this seems to be rather inconsistent as importing a Burp Report doesn't seem to cause this issue to trigger , but manual findings seems to be triggering this all the time .

[2019-04-04 18:57] adracea commented on #1013
The root cause seems to be the fact that manually creating findings doesn't compute the hash codes

[2019-04-04 20:30] adracea commented on #1013
https://github.com/DefectDojo/django-DefectDojo/blob/6e18f3a92ff0a28b57f61e63ae04a441f3130a81/dojo/models.py#L1229

Seems to be the culprit , in my test I've moved it to line 1236 , under the `if/else` snippet and the deduplication seems fixed .
@aaronweaver any suggestions if this would be the right approach ?

[2019-04-04 21:02] aaronweaver commented on #1013
@devGregA Can you take a look?

[2019-04-04 22:48] madchap commented on #1003
So, it is a bug rather than an enhancement I am afraid.

Upon docker-compose restart, the initializer container resets the table -- l.45 of file `entrypoint-initializer.sh`, pointing to system_settings.json. Commenting that line out, the values remain.

The volume to the mysql is a nice to have, but has nothing to do with it.

[2019-04-04 23:11] madchap commented on #1003
A quick workaround is to add this variable to the `docker-compose.xml` for the `initializer` stanza's environment:

[code]

and benefit from @hendrikhalkow's change from a month ago for his k8s work. Initialization is then skipped, and the database tables left alone.

[2019-04-05 01:54] aaronweaver commented on #1003
I added that earlier this afternoon to [Docker.md](https://github.com/DefectDojo/django-DefectDojo/blob/dev/DOCKER.md) and made a couple small changes to the docker compose file. I have one small change to make to settings to enable better development.

Also will make a change in the intializer to detect if init has been run.

`export DD_INITIALIZE=false`

[2019-04-05 08:53] madchap opened #1015 "Add social login feature - google, github"
**Is your feature request related to a problem? Please describe**
From both a functional and security point of view, authenticating with OAuth against an IdP is often the way to go, rather that using a built-in database.

There is also a lack of bulk importing users out-of-the-box.

**Describe the solution you'd like**
Integrate social oauth, pretty much as described in this post: https://fosstack

[2019-04-05 09:29] ptrovatelli commented on #989
The mysql issue should be fixed by @aaronweaver 's commit yesterday evening 6d4cc0f4c244675e9e8a6cadf240b29990d35741 .
However I can't test it, the changes on docker-compose seem to have broken the docker-compose for windows (version 2.0.0.3 - engine 18.09.2) ; am I the only one? should I open another issue?
It seeems that using the volume mount in the entrypoint is not working : at the time of tr

[2019-04-05 10:50] adracea commented on #989
Docker for windows seems to be rather weird , I use a hyper-v ubuntu vm for hosting dockers , I've had issues with actually building the container on linux .

[2019-04-05 11:09] ebdecastro opened #1016 "nginx '413 Request Entity Too Large' error when uploading Burp scan result"
**Bug description**
When trying to upload a Burp scan results xml, I get a '413 Request Entity Too Large' error from nginx.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Export Burp scan results with 200 items.
2. Trying to upload it.

**Expected behavior**
Correct import of the document

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [ X] Docker
- [ ] setup.bash / l

[2019-04-05 12:24] adracea commented on #1016
Ahh the burp report has over the limits allowed by nginx config in the nginx Docker

[2019-04-05 12:25] aaronweaver commented on #1015
Looks fairly straightforward. @devGregA has also been working on SAML integration and in particular with Okta.

[2019-04-05 12:42] ebdecastro commented on #1016
I guess it is necessary to modify nginx.conf file changing "client_max_body_size 8m;" line.

[2019-04-05 12:51] adracea commented on #1016
exactly that , after which you have to rebuild the nginx container and it should work just fine :)

[2019-04-05 15:51] hendrikhalkow commented on #1003
That's exactly the reason why `DD_INITIALIZE` is there. I should have documented it ;) However, I think we should make the initialize container smarter so that it can run on every startup.

[2019-04-08 14:51] valentijnscholten commented on #983
Fixed by #1000

[2019-04-08 14:51] #983 closed

[2019-04-08 14:55] valentijnscholten commented on #1002
Fixed by #1006

[2019-04-08 14:55] #1002 closed

[2019-04-08 21:04] #1016 closed

[2019-04-08 21:04] #1003 closed

[2019-04-09 12:47] NRGLine4Sec opened #1026 "installation problem with docker on debian"
**Bug description**
I have a problem with the installation of DefectDojo on Debian with docker.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Install with the following command
[code]
2. See error
"Internal Server Error" on http://127.0.0.1:8080

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [X] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment information*

[2019-04-09 13:18] aaronweaver commented on #1026
@NRGLine4Sec Have you tried it on any other OS?

[2019-04-09 13:19] NRGLine4Sec commented on #1026
Yes I tried it on Kali 2019.1

[2019-04-09 13:45] mossytrees opened #1027 "Remediation progress tracking"
**Is your feature request related to a problem? Please describe**
Currently there is no way to track progress remediating a particular finding.  If a finding affects 10 endpoints and 9 are remediated, the finding remains open, and there is no way to report on the progress remediating the finding.  Similarly, if a finding affects two different areas of a single endpoint (e.g. CSS in two different f

[2019-04-09 14:01] NRGLine4Sec commented on #1026
Without TLS , I have this : "Internal Server Error" like on debian

[2019-04-09 14:17] ptrovatelli commented on #1026
Hi,
I have the same problem. Been working on a workaround to do the docker build in "legacy" mode. This PR should fix it for docker using locally-built or dockerhub images https://github.com/DefectDojo/django-DefectDojo/pull/1028
It doesn't fix the "dev" mode (uwsgi built by docker-compose)

[2019-04-09 15:02] ptrovatelli commented on #1026
@NRGLine4Sec does this fix it for you? https://github.com/DefectDojo/django-DefectDojo/pull/1028
checkout then:
docker build  -t defectdojo/defectdojo-django -f Dockerfile.django .
docker build  -t defectdojo/defectdojo-nginx -f Dockerfile.nginx .
docker-compose -f docker-compose_base.yml -f docker-compose_uwsgi-release.yml up

[2019-04-09 15:05] NRGLine4Sec commented on #1026
I will try

[2019-04-09 15:43] ptrovatelli commented on #1026
@NRGLine4Sec  I don't think you have checked-out the correct version. it's there: https://github.com/ptrovatelli/django-DefectDojo/tree/fix_docker_for_release
try this:
make sure you have no local modification:
`git status`

if required:
`git reset --hard`

Then get my code:

[code]

[2019-04-09 15:55] NRGLine4Sec commented on #1026
I'm trying

[2019-04-09 16:06] NRGLine4Sec commented on #1026
Greats !! I'ts Works  on debian, but when I would like to login with user admin and the password given by the command
[code]
I see this error

[2019-04-09 16:07] marquezc1 opened #1030 "K8 PVC Issue"
**Bug description**
It appears that when I try to deploy this platform in a 2 node K8 cluster through helm, I see the following warning event on the MySQL pod:
Warning  FailedScheduling  pod has unbound immediate PersistentVolumeClaims

I think I need to create a PV type role in the desired namespace but I am just not sure how to go about this and keep the claimname consistent with what the pod is

[2019-04-09 16:21] aaronweaver commented on #1026
That's only if you are using kubernetes. Scroll back through to the first
couple lines of the initializer.

On Tue, Apr 9, 2019 at 12:06 PM NRGLine4Sec <notifications@github.com>
wrote:

--
Aaron Weaver
Philadelphia OWASP Chapter Lead
OWASP AppSec Pipeline Lead
https://www.owasp.org/index.php/OWASP_AppSec_Pipeline

[2019-04-09 16:35] ptrovatelli commented on #1026
what i do is just
`docker logs django-defectdojo_initializer_1`
and check the begining, the password should be there

[2019-04-09 17:01] fabiopires commented on #1026
Same problem here. Running `docker logs django-defectdojo_uwsgi_1` returns:

[code]

[2019-04-09 17:19] NRGLine4Sec commented on #1026
thanks !! It's works on Kali too

[2019-04-10 08:01] ismailtasdelen opened #1032 "docker-compose version number configuration file bug"
Hello DefectDojo Team,

My name is Ismail Tasdelen. I found a docker-compose via bug. I encountered an error in the yml configuration file on the docker-compose used in the web application.

Step by Step :

[code]
First Error Message :

![Screenshot at 2019-04-10 10-49-22](https://user-images.githubusercontent.com/15425071/55861200-8c568c80-5b7e-11e9-8f84-136770c15222.png)

Solution :

Change the

[2019-04-10 08:50] efficiosoft opened #1033 "Unify page headings"
**Is your feature request related to a problem? Please describe**
The headings of the various web UI pages do differ in heading level used. Some pages don't even have a heading. This makes navigating the UI with assistive technologies inefficient as it's not possible to jump to the beginning of content straight away.

**Describe the solution you'd like**
I could unify this and make all pages use h

[2019-04-10 09:01] barbich opened #1034 "Grading can never return to A"
**Bug description**
The grading for a product does(can) never return to "A" once all findings are closed.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Take a product with grading different from 'A'
2. Close all Findings
3. Grade stays stuck to latest calculate value

**Expected behavior**
If all findings are closed the grade for a product should be 'A'

**Deployment method** *(selec

[2019-04-10 09:41] NRGLine4Sec commented on #1026
I have restart the docker (Ctr+C /  docker-compose -f docker-compose_base.yml -f docker-compose_uwsgi-release.yml up) and when I go to 127.0.0.1:8080 and try to login I see this error again

or I use your command `docker logs django-defectdojo_initializer_1` to get the login/password

whis the command `container_id=(`docker ps -a \
--filter "name=django-defectdojo_initializer_1" \
| awk 'FNR == 2

[2019-04-10 13:44] surewould opened #1036 "UWSGI container appears to be missing settings.py file"
**Bug description**
uwsgi container appears to be missing the settings.py file and fails to start the application

**Steps to reproduce**
Steps to reproduce the behavior:
1. Follow docker quick start... docker-compose up
2. Scroll down to initial uwsgi_1 status
4. See error

[code]

settings.py appears to be missing

[code]

**Expected behavior**
I expected the application to load as per the quick

[2019-04-10 14:19] surewould commented on #1036
I may have been premature. This looks like it is well explored below.

- [issues/1026](https://github.com/DefectDojo/django-DefectDojo/issues/1026)
- [pull/1028](https://github.com/DefectDojo/django-DefectDojo/pull/1028)

[2019-04-10 14:23] ptrovatelli commented on #1036
Hi @surewould ,
Yeap this is a duplicate of https://github.com/DefectDojo/django-DefectDojo/issues/1026 . There is a PR there with a workaround that changes docker-compose configuration files. However now that you have spotted that the error is due to this missing file, it might be possible to do a more simple fix and keep the docker-compose override thing - not sure it's the best way to go though

[2019-04-10 14:48] ptrovatelli commented on #989
I think we can close this

- the mysql issue is fixed on dev branch by https://github.com/DefectDojo/django-DefectDojo/commit/6d4cc0f4c244675e9e8a6cadf240b29990d35741 .

- The hash issues were probably already fixed on dev branch when opening the issue or were fixed couple of days after opening this issue.

- The docker-compose issues are tracked there https://github.com/DefectDojo/django-DefectDo

[2019-04-10 14:48] #989 closed

[2019-04-10 15:13] ptrovatelli commented on #1032
Hi @ismailtasdelen . Can you post your docker-compose and docker version?
docker-compose --version
docker --version
 3.7 file format requires 18.06.0+ docker engine. See https://docs.docker.com/compose/compose-file/
With "Docker version 18.06.1-ce, build e68fc7a" i'm not seing this problem.
You might just need to upgrade docker
We should add this in as a pre-requisites in the documentation though

[2019-04-10 15:17] ptrovatelli commented on #1032
If you're trying to install the dev branch with docker and are still having issues, you may want to check this issue https://github.com/DefectDojo/django-DefectDojo/issues/1026 :)

[2019-04-10 15:29] surewould commented on #1036
I found a fix.

**TL;DR** 'cp dojo/settings/settings.dist.py dojo/settings/settings.py' from django-DefectDojo folder and rebuild.

Steps taken:

I deleted all of the old images out of paranoia. Noticing my docker version was oh so slightly behind the latest package, I updated that. Reboot, just to be sure. Yes, deep admin magic. Lol.

I proceeded to follow the docker quick start instructions

[co

[2019-04-10 15:56] NRGLine4Sec opened #1037 "duplicate in same vulnerability found by two different scanners"
How to deduplicate the result of a scan with OpenVAS and Nexpose on the same target ?
When I import the OpenVAS report and the Nexpose report, the vulnerability found are detected as different vulnerability or most of them are the same.

[2019-04-10 16:08] ptrovatelli commented on #1036
@surewould nice finding! however I have to say I don't understand how working on your local git clone would have an impact on "docker-compose up". Did you rebuild the uwsgi  image after copying settings.dist.py to settings.py?
From what I understand (@aaronweaver correct my if i'm wrong) since we have introduced the override file this I what we wanted to do:
- "docker-compose up" will use docker-c

[2019-04-10 16:14] aaronweaver commented on #1036
The script I wrote for dev should copy it over. I need to double check that it was copied over, I was pretty sure that was in that entrypoint script. Yes, for legacy reasons we can't have that in place.

[2019-04-10 16:20] ptrovatelli commented on #1036
it's there in entrypoint-uwsgi-dev.sh called by uwsgi in docker-compose.yml but not in entrypoint-uwsgi.sh called by the override. We're probably calling the override entrypoint with "docker-compose up"

[2019-04-10 16:36] surewould commented on #1036
@ptrovatelli Thank you! Full disclosure. I have no idea what I'm doing with docker... yet. ¯\_(ツ)_/¯

Yes, and thank you for the clarification of what is going on here. I'd be happy to let the experts take it from here, sit back, watch, and try to learn something.

[2019-04-10 20:01] valentijnscholten commented on #1037
The logic is in utils.py#sync_dedupe method: https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/utils.py. That might help (if you can read Python :))

[2019-04-10 21:02] ptrovatelli commented on #1036
@surewould right sorry I hadn't see this "--build" after your docker-compose up. I usually use
`docker build -t defectdojo/defectdojo-django -f Dockerfile.django .`

I've just done a simple test to make sure about this configuration merge; from dev branch:
[code]

This reproduces the "ImportError: No module named settings"

Now fix with:
[code]

Tada it works, we don't even need to rebuild the ima

[2019-04-11 07:31] ptrovatelli commented on #1036
there's something else we could try; see my comment in https://github.com/DefectDojo/django-DefectDojo/pull/1028#issuecomment-482000212

[2019-04-11 07:37] NRGLine4Sec commented on #1037
Sorry, I'm not a developer so I understand a little bit Python and I haven't seen any line of code allows to check if a same vulnerability (like same CVE) is discovered by Nexpose and by OpenVAS for example.
And especially it doesn’t tell me how to do it in DefectDojo.
I would at least like to know if it is possible to import a multitude of reports from several scanners to the same target and to o

[2019-04-11 08:14] adracea commented on #1037
Hey , I was thinking of re-writing the logic behind deduplication using signals as suggested by @aaronweaver , the current deduplication works based on a multitude of elements but they are all specific to the scanner , like xss as reported by burp will have all of these elements different from an xss reported by nessus , this is an option that needs to be explored though .

[2019-04-11 08:44] NRGLine4Sec commented on #1037
So it is actually impossible to import report of OpenVAS and Nexpose or Nessus and to obtain a result of vulnerability without duplicates ? That is to say to obtain the correlated result of the vulnerabilities of several scanners without duplicates.

[2019-04-11 08:47] valentijnscholten commented on #1037
There is a pull request (#973 ) coming which adds CVE field, I think that might also help to have better deduplication.

[2019-04-11 10:09] adracea commented on #1037
I think that based on CWE and endpoint match we could have a decent enough dedupe process , the only issue is that currently most tools don't give a CWE field in the report or not one that is easy to parse (burp suite for example only sometimes gives a CWE-id or sometimes gives more than one) which would imply that we'd need to automatically populate the CWE-id field .
CVE field I find is a bit fi

[2019-04-11 14:35] NRGLine4Sec commented on #1037
Maybe some of these open source projects can help you
https://github.com/archerysec/archerysec
https://github.com/infobyte/faraday
https://github.com/dradis/
https://github.com/cornerpirate/ReportCompilerSource
https://github.com/denimgroup/threadfix

[2019-04-11 19:08] mitraed opened #1039 "dockers initialize but ip:8080 returns "Internal Server Error""
**Bug description**
when running docker compose up all dockers initialize but ip:8080 returns "Internal Server Error" on web .

logs :
nginx_1         | 172.16.200.4 - - [11/Apr/2019:20:03:53 +0000] "GET / HTTP/1.1" 500 32 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" "-"
uwsgi_1         | --- **no python application found*

[2019-04-11 19:51] valentijnscholten commented on #1037
I think in general if two findings have the exact same CVE it's almost always a duplicate?

What I think might help is to have a manual "mark as duplicate" functionality", similar to the merge function? Deduplication across different scanners will probably never be 100% accurate. A manual "mark as duplicate" function would allow an analyst to mark one issue as duplicate of another and after that D

[2019-04-11 19:59] adracea commented on #1037
I've actually been thinking of that myself , I'll be pushing an update to fix deduplication tonight/tomorrow morning and then maybe look into adding that options as well

[2019-04-11 20:02] aaronweaver commented on #1039
Related to #1036 closing. PR coming shortly or use the docker branch.

[2019-04-11 20:02] #1039 closed

[2019-04-11 20:18] aaronweaver commented on #1033
That approach sounds fine.

[2019-04-11 21:07] valentijnscholten opened #1040 "add feature to connect existing jira ticket to a finding"
Sometimes when uploading a scan report into DD results in some findings that are already in JIRA.

Currently this could be handled in different ways:
- Push them to JIRA anyway and close them in JIRA as duplicates.
- Just leave them hanging around in DefectDojo and update manually when resolved in JIRA
- Mark them as out-of-scope or inactive or ... in DefectDojo

I was thinking maybe it would be n

[2019-04-11 21:09] valentijnscholten commented on #894
@chris-vest Could you test this with the dev branch? I'm pretty sure I have tested this case multiple times when working on some PRs and it was working OK.

[2019-04-11 21:16] valentijnscholten commented on #904
Also could you tell which finding was considered as the original for the high ones that were marked dupllicate? Are they the same title/filepath/cwe?

[2019-04-11 21:36] valentijnscholten commented on #860
Looking at this some more:
1) Filtering on product in APIv2 should be possible using the test__engagement__product parameter (I can see it working on dev branch at least). Could you test this?
2) The Finding result contains the id of the test, which can be used to retrieve the test which contains the id of the engagement. From engagement you can get the id of the product.

[2019-04-11 23:23] aaronweaver commented on #1040
I've thought this as well though the one issue will be that potentially the JIra ticket won't have the same information. An update to DD might change important details on the Jira side. Since it's a manual option that might be ok, as long as the user understands it might over write existing data.

[2019-04-12 01:03] #982 closed

[2019-04-12 01:24] aaronweaver commented on #1032
Fixed

[2019-04-12 01:24] #1032 closed

[2019-04-12 01:25] aaronweaver commented on #1036
Fixed

[2019-04-12 01:25] #1036 closed

[2019-04-12 01:25] aaronweaver commented on #1026
Fixed

[2019-04-12 01:25] #1026 closed

[2019-04-12 08:39] efficiosoft commented on #1033
Ok, I'm already half way through this and will file a PR with changed headings and a bunch of other accessibility fixes all over the UI soon.

Thanks @aaronweaver for adding the access linting bot. I'm not sure what exactly it checks for but this is a great addition!

[2019-04-12 11:42] fabiopires opened #1046 "docker-compose.yml not found"
**Bug description**
The last merge removed the `docker-compose.yml` file from the repository, thus preventing users to simply run `docker-compose up`, as mentioned on the instructions.

The solution is either updating the instructions, or running:
`docker-compose -f docker-compose_base.yml -f docker-compose_uwsgi-release.yml up`

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run : doc

[2019-04-12 12:22] NRGLine4Sec commented on #1037
But with a manual "mark as duplicate functionality", it's complicated to deduplicate the the result of the import of two reports with each about two hundred discovery vulnerabilities. They obviously apparently to do it with [ThreatFix](https://threadfix.it/), so it must be possible to correlate the reports of several scanners without duplicates. Maybe with a parser who check for the id field of vu

[2019-04-12 12:47] aaronweaver commented on #1046
Thanks updated the [docs](https://defectdojo.readthedocs.io/en/latest/getting-started.html#docker-compose-install).

[2019-04-12 12:47] #1046 closed

[2019-04-12 12:59] aaronweaver commented on #1037
@NRGLine4Sec the manual dupe is only for edge cases and I think we need to think that one through. For dedupe we go with what the scanner exports and for some it's not as complete as others. Ideally it would be CVE + endpoint and possibly CWE's for the dupe match. We go through several iterations, so if the hash matches, then it's marked as a dupe, if not then it iterates through the endpoints and

[2019-04-12 17:52] valentijnscholten opened #1048 "User roles / permission unclarities / suggestions"
Hi,

I am struggling to understand the permission model / user types of Defect Dojo (running dev branch, using ldap).

I have seen some github issues that try to explain it, but a later github issue describing that the authorized user part was redone around March 2018.
Antoher issue refers to the documentation which should explain the roles, but for me they don't :-)
I also get conflicting report

[2019-04-14 15:34] #812 closed

[2019-04-14 17:02] madchap opened #1052 "dumpdata does not work - exception"
**Bug description**
Trying to run `dumpdata` results in an exception. It would be useful to have this to generate json files that could easily be leveraged with `loaddata` for testing things quickly.

**Steps to reproduce**
Steps to reproduce the behavior:

Done on the `dev` branch.

1.docker exec into the uwsgi container (or just run the command directly through docker exec)
2. run `python manage

[2019-04-14 23:13] madchap commented on #1052
So, it turns out that no command except `python manage.py shell` worked.

Since I was running `dev` with my unprocessed [PR](https://github.com/DefectDojo/django-DefectDojo/pull/1051) that adds a check for `DD_DEBUG` in `manage.py` in order to launch `pvstd.Server`, I tried the same commands on the shell with `export DD_DEBUG=off` and then it worked.

I don't really understand why this would do th

[2019-04-15 06:55] petrabrunner commented on #904
Hi guys, sry this takes so long. unfortunately I am having big trouble getting defectdojo up and running again after the update. I am running dojo in docker and the docker-compose seems to have changed quite a bit, and I have not been able to get it to run for now.
@adracea I will keep you posted after I get the system back up. But this could take a few days, as I have zero ideas why the system is

[2019-04-15 07:48] adracea commented on #904
Yeah , this is related with one of the docker issues , namely #1036 , you should also check out #1045 for more info :)

[2019-04-15 08:07] petrabrunner commented on #904
@adracea thx for the hint!!! the workaround provided in issue #1036 worked. :)

[2019-04-15 08:08] petrabrunner commented on #1036
@surewould thx for providing the workaround! 👍 I have been screening the logs for the origin of the problem but overlooked that line!

[2019-04-15 15:20] agigleux commented on #810
Hello @aaronweaver,

Finally SonarSource won't have the possibility to add a dedicated API to extract the data for DefectDojo.
Instead, we would like to try to reuse the issues/search API that is used to display the issues in SonarQube and also to extract issues in JSON format.

I wrote the specification of the mapping between SonarQube and DefectDojo here: https://jira.sonarsource.com/browse/MMF-

[2019-04-15 18:33] Leo90124 commented on #988
Would like to use DefectDojo.  Any chance of the report bug getting fixed soon?

[2019-04-16 06:46] #840 closed

[2019-04-16 07:31] ptrovatelli commented on #1036
@surewould @petrabrunner if you feel like it, you're welcome to try out this PR and see how it works for you: https://github.com/DefectDojo/django-DefectDojo/pull/1045
It contains a few improvments on docker environment. You can look at the first comment to see what it's about and how to pull it, and DOCKER.md for how to use. We're waiting for feedback before merging it. Thanks :)

[2019-04-16 07:32] ptrovatelli commented on #1026
@NRGLine4Sec if you feel like it, you're welcome to try out this PR and see how it works for you: https://github.com/DefectDojo/django-DefectDojo/pull/1045
It contains a few improvments on docker environment. You can look at the first comment to see what it's about and how to pull it, and DOCKER.md for how to use. We're waiting for feedback before merging it. Thanks :)

[2019-04-16 21:26] kibnelbachyr opened #1056 "Directory '.[mysql]' is not installable. Neither 'setup.py' nor 'pyproject.toml' found."
**Bug description**

Hi DefectDojo's community,

I am attempting to deploy/install DefectDojo's solution on a Linux environment following this documentation : https://github.com/DefectDojo/django-DefectDojo/wiki/DefectDojo-Installation-Guide-Ubuntu-Desktop-16.04.2, but I have some errors in the "Installing DefectDojo Django application" step just after running the ./setup.bash
* Can you advice ple

[2019-04-17 09:07] miynat opened #1058 "Missing severity level while importing Netsparker report"
I've deployed Defect Dojo on my machine with Docker.

(DefectDojo version -> 2b5d417: Update README.md [2019-04-12 14:49:15 -0500])

Netsparker has a new severity level called *Best Practice*.

When I try to import a Netsparker report with this severity level I get an HTTP 500 error on the browser, and that traceback message is logged into the console:

uwsgi_1         | item blowup
uwsgi_1

[2019-04-17 10:10] petrabrunner commented on #1036
@ptrovatelli I tested your pullrequest. do I still have to copy the dojo/settings/settings.dist.py to dojo/settings/settings.py or should that already be done by the code you changed? (because I noticed that it does not.)

[2019-04-17 14:16] NRGLine4Sec opened #1061 "add the ability to import reports from testssl.sh"
Can you add the ability to import reports from [testssl.sh](https://testssl.sh) ?
Maybe with the result of this command
[code]

[2019-04-17 15:24] #960 closed

[2019-04-17 15:27] #921 closed

[2019-04-17 15:51] devGregA opened #1063 "Add Okta Support"
Add Okta support via https://github.com/fangli/django-saml2-auth

[2019-04-17 16:05] devGregA opened #1064 "Assess Unit Test Coverage"
1. Review tests at https://github.com/DefectDojo/django-DefectDojo/tree/master/tests.
2. Create a checklist of ideal unit tests and check-off coverage we currently have.

[2019-04-17 16:26] #945 closed

[2019-04-17 16:31] devGregA commented on #839
@aaronweaver do you know what fields need to be encrypted / have more info so I can give this to the interns?

[2019-04-17 16:33] devGregA opened #1065 "Fix Genereic CSV"
the generic CSV format doesn't allow to upload Findings with Active=True and Verified=True: once the import is done, even by setting these columns to "True", the findings are always Inactive and Verified is unticked. Is that expected? In that case, what's the point to have these columns in the CSV format?

[2019-04-17 16:33] devGregA commented on #1065
More info: https://github.com/DefectDojo/django-DefectDojo/issues/810

[2019-04-17 16:35] devGregA commented on #979
PR was merged I believe.

[2019-04-17 16:35] #979 closed

[2019-04-17 16:36] devGregA opened #1066 "Architect launching scans from DefectDojo"

[2019-04-17 17:17] devGregA commented on #1027
Hi @mossytrees, thank you for your detailed writeup. I've been thinking about this, and one way we may be able to address this is adding the notion of remediated endpoints. Do you think that would do enough to cover your use case?

[2019-04-17 17:19] devGregA commented on #1001
@madchap would you please supply a sample scan? This is something I can give to the interns in a couple weeks.

[2019-04-17 17:20] devGregA commented on #988
@aaronweaver do you have any thoughts on re-adding WKHTML when we now have much stronger control on the image with Docker / Celery setup?

[2019-04-17 17:24] devGregA commented on #826
I believe it is matching CWE here rather than title. For DD to dedupe on titles they must be exactly the  same. There is a PR open that has numerous dedupe improvements https://github.com/DefectDojo/django-DefectDojo/pull/1043 which should be merged this week. Please feel free to reopen if you continue to have issues.

[2019-04-17 17:24] #826 closed

[2019-04-17 17:24] mossytrees commented on #1027
@devGregA, sounds likely.  The main need I'm looking to fill is being able to track status of endpoints in relationship to findings.  So if a single finding has 10 endpoints associated, and we can mark each endpoint as remediated or not individually, and then be able to do some reporting/charting around that, I'd be happy :) . (Better yet if subsequent scan imports can be used to automatically mar

[2019-04-17 17:27] devGregA commented on #1027
I've added this as an issue for the interns I hired for summer. They start in about a month. Approximate ETA to completion 6 weeks. https://github.com/DefectDojo/django-DefectDojo/projects/7

[2019-04-17 17:28] mossytrees commented on #1027
Awesome!! 👍

[2019-04-17 18:52] dr3dd589 commented on #1058
hello, @devGregA So, Here Netsparker uses a new category  name for severity like:
[code]
and
[code]

It is ok to take it in low severity category?

[2019-04-17 19:10] rasinfosec commented on #1058
I can add make a new change / pull request to account for the new BestPractice.

I would probably just do the below and the severity for *BestPractice* and *Information* in the Json file would become *Info*.

       if sev == "Low":
           sev = "Low"
       elif sev == "Medium":
           sev = "Medium"
       elif sev == "High":
           sev = "High"
       elif sev == "Critical":

[2019-04-17 19:18] dr3dd589 commented on #1058
yeah, I also think that's a good approach. :)

[2019-04-17 21:11] valentijnscholten commented on #969
Reopening to see if my suggestion would be OK so I can make a PR. There are multiple Linux distro's that by default will run into the same error because the key can only be 767 / 4 = 191 characters.
Currently it's 255 but I think it would be rare for people to have a product type name > 191 characters?

[2019-04-17 21:13] kibnelbachyr commented on #1056
After changing user to root and running the ./setup.bash :

=======
Installing DefectDojo Django application
==============================================================================
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.

[2019-04-18 05:23] JohnTheodore opened #1068 "The slack invite link in the readme is broken."
How can I get into the slack chat?

The question I'd ask in slack, is if there is any automation for deploying defectdojo into aws. Cloudformation to setup activemq/rds/elasticache, etc?

[2019-04-18 07:46] madchap commented on #1001
Hi @devEricA

Here it is. However, looking at the parser.py for Anchore-engine (which I had not seen 0_o), this seems to be it. Bombing with a 500 error though right now, haven't had time to investigate or check anything.

I see there is one also uploaded here by @jaguasch: https://github.com/DefectDojo/sample-scan-files/tree/master/anchore-engine . My file is also a 0.3.3 version.

[anchore_v0.3.

[2019-04-18 07:46] #1001 closed

[2019-04-18 08:44] #844 closed

[2019-04-18 09:17] madchap opened #1069 "Anchore import breaks"
**Bug description**
Server internal error 500 on importing files that containe severities "Negligible".

**Steps to reproduce**
Steps to reproduce the behavior:
Import the following file, dev branch.
See it bomb.

[anchore_v0.3.3_openjdk-11.0.3-jdk-stretch.json.txt](https://github.com/DefectDojo/django-DefectDojo/files/3093608/anchore_v0.3.3_openjdk-11.0.3-jdk-stretch.json.txt)

**Expected behavio

[2019-04-18 09:21] madchap commented on #1069
The easiest way is probably to mark these "Negligible" into "Info" to not change the model. The semantic sounds the same to me.

[2019-04-18 09:29] madchap commented on #1069
Same error for `Unknown`. Will fix the same way for now.

[2019-04-18 09:45] securestep9 commented on #988
same problem :(

[2019-04-18 09:52] valentijnscholten commented on #1058
Fixed by #1067, let us know if it doesn't work.

[2019-04-18 09:52] #1058 closed

[2019-04-18 12:16] Ravenons commented on #979
I think you mean the PR for #964, I'm still checking this issue here.

[2019-04-18 21:30] valentijnscholten commented on #1069
fixed by #1070

[2019-04-18 21:30] #1069 closed

[2019-04-21 10:17] cclauss opened #1074 "Python 3 incompatibilities"
[flake8](http://flake8.pycqa.org) testing of https://github.com/DefectDojo/django-DefectDojo on Python 3.7.1

$ __flake8 . --count --select=E9,F63,F72,F82 --show-source --statistics__
[code]
__E901,E999,F821,F822,F823__ are the "_showstopper_" [flake8](http://flake8.pycqa.org) issues that can halt the runtime with a SyntaxError, NameError, etc. These 5 are different from most other flake8 issues w

[2019-04-22 07:47] vivek1123 opened #1075 "IBM App Scan Integration"
I am currently performing DAST activities for my security team and using IBM App Scan Standard for the same. Recently I came across Defect Dojo which I think can be very effective for Defect Tracking as well as client integration.

Bu the tool doesn't support the IBM App Scan output.

Can you help me with this new solution.

[2019-04-23 16:34] propersam commented on #1064
I'm interested in this. Please can you give a clearer explanation on what's needed/expected

[2019-04-23 16:40] propersam commented on #1064
contributing to be this project in the aspect of unit tests is my submission for GSOC.

You can point me to any resource(s) you think I should go through that might be helpful.

of course, learning never stops. :smiley:

[2019-04-23 17:12] propersam commented on #1015
Hi, @devGregA  @aaronweaver , I can quickly get this done following the blog referenced above.

After going through the blog. I think integrate  github auth first. Because I don't have access to google cloud console credentials. but I can easily generate one from github

[2019-04-23 17:16] propersam commented on #1015
My worry now is how do we handle the github credentials *(GITHUB_KEY AND GITHUB_SECRET)* that are meant to be unique.

[2019-04-23 17:19] propersam commented on #1015
I know that I can make them environment variable. I mean how do other developers using docker-compose to run the project get access to the functionality in their own environment.

[2019-04-23 19:11] aaronweaver commented on #1075
@vivek1123  There is app scan support. Is the importer not working? Please provide an error if there is one.

[2019-04-23 19:54] marquezc1 commented on #1030
I was able to figure out what was needed to make this work.

- Create a storage class resource in your K8 cluster
- Create a local persistent volume on a node within your cluster
- Update the mysql helm chart values.yaml file and point to your storage class

[2019-04-23 19:54] #1030 closed

[2019-04-23 23:45] devGregA commented on #1068
Fixed it i the dev branch :)

[2019-04-23 23:45] #1068 closed

[2019-04-24 08:19] sbani opened #1081 "Cannot Update Finding As Soon as Jira is Configured"
## Bug description
When trying to close a finding an exception is thrown because the system is trying to update the (non-existing) Jira ticket.

Looking at the code gives me the impression that a Jira Issue is mandatory as soon as one enables a Jira config.

Looks like `j_issue = JIRA_Issue.objects.get(finding=finding)` is throwing an exception which is not handled properly.

## Steps to reproduce

[2019-04-24 12:25] valentijnscholten commented on #1081
Might not be the best idea to swall just all exceptions, may be better to add a check before trying to close the JIRA ticket:

`if jira and JIRA_Issue.objects.filter(finding=finding).exists():`

[2019-04-24 12:29] valentijnscholten commented on #1075
Which tool should be selected as I can't see any IBM either in https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/tools/factory.py

[2019-04-24 13:34] aaronweaver commented on #1075
My bad I was thinking of AppSpider, instead of AppScan. @vivek1123 can you provide a sample export file and upload [here](https://github.com/DefectDojo/sample-scan-files)?

[2019-04-25 08:20] sbani commented on #1081
Hi @valentijnscholten,
your suggestions sounds reasonable, but `JIRA_Issue.objects.filter(finding=finding)` itself is throwing the exception. Adding the `exists()` method is not solving the issue here.

I changed the code slightly:
[code]

[2019-04-25 08:53] valentijnscholten commented on #1081
I'm using filter not get. It's used in other places in DD and working just fine as far as I know.

if jira and JIRA_Issue.objects.**filter**(finding=finding).exists():

[2019-04-25 09:01] sbani commented on #1081
Ah ok, I see. But aren't we doing two queries then?

Do you think my code is less readable or not django/python style? I'm asking because I'm curious how to do it "right" in this case

[2019-04-25 09:07] valentijnscholten commented on #1081
I am not a fan of using exceptions for flow control: https://softwareengineering.stackexchange.com/questions/189222/are-exceptions-as-control-flow-considered-a-serious-antipattern-if-so-why

So prefer a nicely readable check.

[2019-04-25 12:18] sbani commented on #1081
Thank you @valentijnscholten for the link.
I tried to follow your suggestion and created a PR - as you can see.

I'm sorry for the commits. I configured the wrong email in git and fixed it for the branch. You see only one commit in the linked PR.

[2019-04-25 12:26] xthk opened #1085 "Feature request: Propose finding templates when selecting "Apply Template to Finding""
**Is your feature request related to a problem? Please describe**

We're importing scan results from OWASP Dependency Check for many products. If the same template has to be applied to several findings, it would be beneficial if the templates - which the current user has used recently - would show up on top of the list of templates. Currently I have to filter the list manually.

**Describe the sol

[2019-04-25 13:38] valentijnscholten commented on #970
Did some testing with scans uploaded just now, scan_date = '2019-04-25' provided in api v2 upload.
Results in 2019-04-24 in database as target_start and target_end. The created and updated columns look alright (2019-04-25):

[code]

[2019-04-25 13:40] valentijnscholten commented on #970
BTW created and updates are 2 hours off, which could be because the timestamps are in UTC and I am living in CEST which is UTC+2. target_start looks to have the same 2 hour difference, so maybe the display logic is not respecting the timezone.

[2019-04-25 13:51] valentijnscholten commented on #970
OK, so I have found the timezone setting in settings.py and changed it to `DD_TIME_ZONE=(str, 'Europe/Amsterdam')` but it doesn't make any difference. Anybody familiar with timezones in django and/or DefectDojo to know what to do? It's pretty confusing to have (some of) your dates off by one.

[2019-04-25 13:58] ptrovatelli commented on #1064
Hi,
What I would say is missing (or I haven't found yet) :
- deduplication:
  import twice the same report and make sure the duplicates are found
  to test at engagement level and product level both with and without "deduplication on engagement" ticked.
  do this for various reports as it will not give the same results (checkmarx, zap, dependency check...)
Not sure this can be easily done with uni

[2019-04-25 15:06] valentijnscholten commented on #970
Just observed these warnings in the logs:

[code]

[2019-04-25 19:33] aaronweaver commented on #1074
Hi @cclauss did you try this against the python3 branch. Master is at 2.7.

[2019-04-25 20:41] #1037 closed

[2019-04-25 21:06] cclauss commented on #1074
Perhaps it is time to reverse that...  Put the legacy Python stuff of an alternative branch and put the Python code on the master/dev branches.

[2019-04-25 21:06] #1074 closed

[2019-04-25 21:14] Leo90124 commented on #988
What is the max size of csv file from a Nessus scan that can be imported?  I am getting an error that it is too large.  Thanks.

[2019-04-26 06:12] vivek1123 commented on #1075
@aaronweaver not able to upload files at ur link, requires additional push rights.

[2019-04-26 14:16] aaronweaver commented on #1075
@vivek1123  you need to submit a PR.

[2019-04-26 17:45] madchap opened #1092 "Search on title with several hyphens does not work"
**Bug description**
I have a weird behavior similiar to that when search for a string in `title`.

if I have this in my title:

`CVE-2011-3389 - libgnutls30-3.5.8-5+deb9u4(dpkg)`

and I search for `CVE-2011-3389`, it does not work. No result.

If I search for `2011-3389` it returns the results.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Identify a title referencing a CVE you want

[2019-04-26 18:09] Leo90124 commented on #988
Bug for number of Endpoints?
Products > All Products says 26 Findings and 41 Endpoints for one of my engagements
Engagements > All Engagements > Click on engagement and the tabs say 26 Findings and 76 Endpoints
Is there an explanation for this behavior?

[2019-04-26 20:25] Leo90124 opened #1093 "Number of Endpoints is not consistent in UI"
**Bug description**
The number of endpoints is not consistent thruout the UI for Nessus Pro 8.2 Scan.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Use Nessus Pro 8.2 and do a Basic Network Scan on multiple endpoints; Export CSV and import into DD.
2. Click on Products > All Products says 26 Findings and 41 Endpoints for one of my engagements
3. Click on Engagements > All Engagements

[2019-04-26 20:33] Leo90124 opened #1094 "CSV from Nessus Pro 8.2 Scan is too large to import"
**Bug description**
What is the max size of csv file from a Nessus scan that can be imported? I am getting an error that it is too large.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Do a scan using Nessus and output CSV - mine has 44000 rows
2. Import into Defect Dojo
3. See error

**Expected behavior**
A message that says what the max size is

**Deployment method** *(select with a

[2019-04-26 22:40] ppiotr3k commented on #1093
Hi @Leo90124, could you provide a sample CSV file to reproduce this bug? Not everybody has access to Nessus Pro. Feel free to edit the URLs / IPs should it be a problem to include the originals.

[2019-04-26 22:44] ppiotr3k commented on #1094
@Leo90124, to help understanding, and correcting if need be, could you copy/paste the error message, or add a screenshot of the error?

[2019-04-27 11:35] madchap commented on #881
Could it be related to https://github.com/etianen/django-watson/issues/223 ?

[2019-04-27 11:36] madchap commented on #1092
Possibly related to https://github.com/etianen/django-watson/issues/223 ?

[2019-04-27 17:14] madchap commented on #1052
OK, so it turns out it is simply an uncaught exception when calling `ptvsd.enable_attach` again, which is not a `socket_error`. Simply `pass`ing over, and everything looks fine.

[2019-04-27 21:17] ppiotr3k commented on #1081
I have to disagree on this one, sorry. Although the provided link may make sense for Java/C++, and I do understand @valentijnscholten's  personal preference, the [official Python documentation](https://docs.python.org/3/glossary.html?highlight=eafp#term-eafp) states otherwise:
[code]

As well summarized in the book [Dive into Python](http://diveintopython3.problemsolving.io//your-first-python-prog

[2019-04-28 06:44] efficiosoft opened #1097 "DB migrations should never be changed after committing them"
Hi,

I saw commit 4dc17ddd, which was merged into dev recently, changed the initial db migration. I don't know why that happened in detail, but shouldn't DB migrations be unmodifiable after they were committed to a branch like dev? Otherwise, they would be pretty useless.

Django can account for a huge number of migrations without being slowed down, we shouldn't worry about having lots of them as

[2019-04-28 12:48] madchap opened #1098 "Unknown column 'dojo_finding.cve' in 'field list'"
**Bug description**
Checked out fresh copy, `dev` branch.

[code]
Probably related to https://github.com/DefectDojo/django-DefectDojo/commit/0c2d17f3710c50e0c0e9d53541c4706b65b0b8a8 so cc'ing @devGregA. Did not dig, however.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Clone fresh, switch to dev branch.
2. `docker-compose -f docker-compose_base.yml -f docker-compose_uwsgi-dev.yml up

[2019-04-28 15:20] dr3dd589 commented on #1098
hello, @madchap I'm not able to reproduce this according to your suggested steps. I think there is maybe a problem in your database volume. to a fresh install, you should remove your old DD database volume and after that do these steps.

[2019-04-28 15:37] madchap commented on #1098
I did prune all volumes when cloning the repo anew, but will try again. Maybe I oversaw something or got mixed up. Thanks.

[2019-04-28 15:58] madchap commented on #1098
Just tried again, definitely cleared all volumes, recloned repo new. I still have that.

Uploaded an asciicast showing there is no volume (beginning of cast), bringing up the docker-compose and erroring out (end of cast): https://asciinema.org/a/QPfEZdHyQniPAMTroFkDtXS2o

[2019-04-28 16:37] dr3dd589 commented on #1098
this should work but don't know why you are getting this maybe remove all containers of DD and then try again.

[2019-04-29 08:45] valentijnscholten commented on #1097
I was wondering the same.

[2019-04-29 10:57] propersam commented on #1098
I encountered this error...untill i ran
```python manage.py makemigrations``` then ```python manage.py migrate```

[2019-04-29 11:00] propersam commented on #1098
Someone made changes to a model but didn't add the makemigrations that is why dockercompose also is not running the migrate to update the model

[2019-04-29 11:10] propersam commented on #1098
@valentijnscholten
My current pull request on *PASSWORD TOGGLE VISIBILTY* as d migration file update in it.
@madchap is there a way u can try out my branch to build nd run ur docker to see if it works for you.

[2019-04-29 11:30] efficiosoft commented on #1098
This could also be related to https://github.com/DefectDojo/django-DefectDojo/issues/1097

[2019-04-29 11:33] efficiosoft commented on #1098
I encountered the same issue this morning after pulling from upstream dev and running with my existing db. Probably, the commit that changed the initial migration (4dc17dd,) should be reverted and a proper new migration be created that expresses the changes.

[2019-04-29 13:55] Leo90124 commented on #1094
[cid:image001.png@01D4FE71.98416890]

Leo Manning
IT Security
Sunovion Pharmaceuticals, Inc.
O: 508-787-4014
[GCFA - small]<https://www.youracclaim.com/badges/79887ad6-9175-43c1-b3dd-37d1d2e61a72>[GSEC - small]<https://www.youracclaim.com/badges/57a09945-54d6-423c-a2f7-e0900b3eb90e>[GCIH - small]<https://www.youracclaim.com/badges/b755c74b-8395-41d4-a87c-9db7f3176fd6>[GIAC - small]<https://www.you

[2019-04-29 14:01] Leo90124 commented on #1094
![image](https://user-images.githubusercontent.com/49656227/56901172-83622800-6a65-11e9-93e2-e9b8b60bfb0c.png)
Error msg:
413 Request Entity Too Large
nginx/1.15.9

[2019-04-29 14:02] Leo90124 commented on #1094
Issue is still open

[2019-04-29 14:19] Leo90124 commented on #1094
The CSV file is too large to post here.  Instead I deleted all rows but the first two so that you can see the format of this CSV file and changed the data.  You could duplicate the 2nd row 44490 times and then it should reproduce the error.

Plugin ID | CVE | CVSS | Risk | Host | Protocol | Port | Name | Synopsis | Description | Solution | See Also | Plugin Output |   |   |   |   |   |  
-- | -- |

[2019-04-29 14:50] ppiotr3k commented on #1094
Thanks @Leo90124. This occurs at Nginx level, prior reaching DefectDojo app itself, because the file you are trying to upload is larger than the [authorized size on your server](http://nginx.org/en/docs/http/ngx_http_core_module.html#client_max_body_size).

No clue what the size of your file is, but in a08a8f81c549d9b39138625eaa49e5b59690497 the default max size has been raised to 800M.

[2019-04-30 10:11] madchap commented on #1098
@aaronweaver @devGregA @valentijnscholten  can we please up the priority of this? This is real.

[2019-04-30 10:16] madchap commented on #1098
Same problem.

[2019-04-30 10:18] madchap commented on #1098
Within uwsgi container.
[code]

[2019-04-30 10:49] propersam commented on #1098
Well dat worked for...although i am not using docker... I am using manual setup. Admin needs to look into it.

[2019-04-30 11:37] madchap commented on #1098
Without much further looking into which commit caused what, from the description, I reverted to commit  https://github.com/DefectDojo/django-DefectDojo/commit/f3cb830b533cd4711616f1ed78d8861d32041e22 to continue on my own little stuff, assuming https://github.com/DefectDojo/django-DefectDojo/pull/973 is causing the issue.

[2019-04-30 13:03] aaronweaver commented on #1097
The migration wasn't done properly. I'll revert and then reapply. I also will be adding a unit test for testing migrations. It's one of the reasons we never wanted to manage migrations in source but containers pushed us into that corner.

[2019-04-30 13:03] #1097 closed

[2019-04-30 13:05] aaronweaver commented on #1098
I reverted it. We need a unit test for migrations.

[2019-04-30 13:05] #1098 closed

[2019-04-30 13:06] aaronweaver commented on #1094
@Leo90124 as @ppiotr3k said, it's from nginx and is at 800.

[2019-04-30 13:06] #1094 closed

[2019-04-30 13:08] aaronweaver commented on #1092
Looks like it and doesn't look like it was fixed.

[2019-04-30 14:17] Leo90124 commented on #1093
By taking a closer look at the CSV, I have some answers and a question.
Click on Products > All Products says 26 Findings and 41 Endpoints for one of my engagements.  Here the  number of endpoints is equal to the number of unique IPs in the CSV.
Click on Engagements > All Engagements > Click on my engagement and the tabs say 26 Findings and 76 Endpoints.  Here the number of endpoints is equal to t

[2019-04-30 15:39] aaronweaver commented on #1034
@barbich can you retest?

[2019-04-30 19:02] dr3dd589 commented on #1056
hello, @kibnelbachyr, I think this issue is relevant to this #851 and this issue is fixed in the new updated version 1.5.4.
Can you recheck now?

[2019-05-01 07:56] valentijnscholten commented on #1098
For me it worked fine in standalone after running migrations. Now that it's reverted I wonder what will happen next time I do an upgrade/run migrations....

[2019-05-01 08:13] efficiosoft commented on #1097
@aaronweaver May I ask why you wanted to avoid shipping migrations with the source? IMHO that's the only way to use them properly as they're related to the models they migrate, which live in source code, too.

What we should avoid in any case is people pulling from dev or master having to run `makemigrations` and `migrate` themselves, as that brings them out of sync with the official project's mig

[2019-05-01 08:26] efficiosoft commented on #1098
@valentijnscholten You also ran `makemigrations`, which created a new migration for you after pulling from dev, didn't you?

Then you can try this:

1. Pull from latest dev
2. ``./manage.py makemigrations``
3. ``./manage.py migrate``
4. ``./manage.py migrate --fake 0001_initial``
5. Delete all migration files except for ``0001_initial.py``.
6. Never run `makemigrations` again unless you made model

[2019-05-01 08:30] efficiosoft commented on #1098
@valentijnscholten Not 100% sure it'll work though, because the initial migration was changed without django knowing about it, but apart from that your only chance is bringing the db scheme to the state `0001_initial` manually with the `dbshell` and then running from step 4 onwards.

[2019-05-01 09:00] valentijnscholten commented on #1098
I'll find a way, we just have to make sure to reduce the chances we ever have to roll back db model changes from the dev branch. I think managing migration files in source code is more robust.

[2019-05-01 09:00] valentijnscholten commented on #1098
I'll find a way, we just have to make sure to reduce the chances we ever have to roll back db model changes from the dev branch. I think managing migration files in source code is more robust and might make data migrations easier.

[2019-05-01 11:09] efficiosoft commented on #1098
Ok, will look into adding a simple unittest for that tomorrow if @aaronweaver wants me to.

[2019-05-01 12:14] noraj opened #1102 "Inventory notification"
Your tool/software has been inventoried on [*Rawsec's CyberSecurity Inventory*](https://inventory.rawsec.ml/).

### What is Rawsec's CyberSecurity Inventory?

An inventory of tools and resources about CyberSecurity. This inventory aims to help people to find everything related to CyberSecurity.

+ **Open source**: Every information is available and up to date. If an information is missing or depre

[2019-05-01 12:14] noraj commented on #1102
https://inventory.rawsec.ml/tools.html#DefectDojo

[2019-05-01 13:39] aaronweaver commented on #1098
@efficiosoft I was thinking of create a sqlite database in our sample repo with the current migration and the unit test would check to see if migrations need to be applied and then use that database and attempt to apply the migration. Does that approach make sense? I'm trying to catch the use case where an existing database need to apply the new column.

[2019-05-01 15:59] propersam commented on #1098
@efficiosoft
Your instructions worked very well for me, thanks..

[2019-05-01 17:43] efficiosoft commented on #1098
@aaronweaver Just to be sure I got you right:

You want to maintain a database inside the repository with the latest migration state applied and then let the test run `migrate` in order to verify new migrations apply cleanly?

I don't think this is really needed, because even when migrating a fresh database up to the latest migration, django applies them one after the other and would complain if s

[2019-05-01 17:54] aaronweaver commented on #1098
@efficiosoft works for me, much better than maintaining any db. Thanks!

[2019-05-01 18:06] efficiosoft commented on #1098
Ok, then I'm going to dig into this tomorrow. Shouldn't be to involved.

[2019-05-02 00:10] ppiotr3k commented on #970
As discussed on Slack with @valentijnscholten  I'm having a look and going to propose something for these timezone issues. @aaronweaver could you please check my right on GitHub? My reviews of PR still don't count for merging, neither can I assign an issue to myself, thanks!

[2019-05-02 01:21] aaronweaver commented on #970
@ppiotr3k You should be set I confirmed your access earlier this afternoon. Regarding timezones I know there was some work done on this awhile back. I remember Patrik Nordlen did some work on that. Might want to review those PR's.

[2019-05-02 08:46] ptrovatelli commented on #1064
for deduplication, i've found some good stuff in the apiv2 unit tests (test_apiv2_scan_import_options.py for example). However they're only covering ZAP reports. They may also be more detailed, testing when findings are or are not duplicate, depending on their fields
I'm currently looking at adding checkmarx report tests in those api tests.

[2019-05-02 13:24] adracea opened #1104 "Endpoints with hostnames over 50 characters generate 500 Errors"
**Bug description**
If an endpoint hostname has over 50 characters Defect Dojo generates a 500 error message
**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Endpoints
2. Add an endpoint with a hostname of over 50 characters
3. Open the endpoint
4. Observe 500 error
https://defectdojo.herokuapp.com/endpoint/83
(not sure if it will work for long)
**Expected behavior**
A clear and co

[2019-05-02 20:27] aaronweaver commented on #1102
Thanks @noraj  we'll take a look.

[2019-05-02 20:27] #1102 closed

[2019-05-03 12:32] sbani commented on #1081
thank you @ppiotr3k for commenting.

I found other try-catch-examples in the project.

You can see a better try-catch approach in one of the above comments:
https://github.com/DefectDojo/django-DefectDojo/issues/1081#issuecomment-486568431

It's not suppressing too much and it's concentrated on one command. I think that would have been a good solution, but the one from the pull requests looks good

[2019-05-06 19:09] ppiotr3k opened #1110 "Docker images - remove workaround for postgresql-client"
In https://github.com/DefectDojo/django-DefectDojo/pull/1105 aiming to reduce Docker images size, a _workaround_ has been introduced so `postgresql-client` can be installed without errors.

Without the workaround, the error is due to the way `update-alternatives` behaves in the `stretch:slim` Docker image - which prunes manpages by default in `/etc/dpkg/dpkg.cfg.d/docker`, and on which `python:2-s

[2019-05-07 11:59] #859 closed

[2019-05-07 22:14] ppiotr3k commented on #979
@Ravenons, I'm a bit confused if this issue should still be open, or if it has been resolved. Please advise, thanks!

[2019-05-08 15:41] valentijnscholten commented on #1013
Hi @adracea wasn't this fixed by #1043  ?

[2019-05-08 16:51] #858 closed

[2019-05-08 16:55] adracea commented on #1013
@valentijnscholten should have been but I wanted more than just my confirmation

[2019-05-09 07:54] mayantec opened #1116 "Adding PDF support for docker containers"
**Bug description**
When trying to add the wkhtmltopdf to docker containers, it just does not work, Web UI still showing only HTML and ASCII.

**Steps to reproduce**
1. setup your docker-compose*yml to include `DD_WKHTMLTOPDF: /usr/bin/wkhtmltopdf` in environment sections.
2. rebuild images with this simple Dockerfile
[code]
3. start docker-compose
4. try to make a report from any product you only

[2019-05-09 07:57] mayantec commented on #1116
Also, forgot to mention that pdfkit was installed by default in the container, I've checked it with `pip install pdfkit`, and the legend "already installed" appears.
If you can contribute with any tip, will be appreciated.

Regards in advance.

[2019-05-09 11:53] ptrovatelli commented on #810
@agigleux @aaronweaver @AdrienGuillerme sorry it didn't come earlier, I was able to get the agreement from our hierarchy to disclose the sonar export source code.
The code is in javascript; it's depoyed as an npm package
It's using sonar API to get the required information, notably
- /api/rules/search : get the rules
- /api/issues/search : get the vulnerabilities

It exports the list of vulnerabil

[2019-05-09 12:55] #863 closed

[2019-05-09 15:37] wiref4lcon commented on #1116
Exactly the same issue here!

[2019-05-09 18:12] mayantec commented on #1116
Hello there:
Creating a symlink to the default path from setup.py (/usr/local/bin/wkhtmltopdf), and get rid of the DD_WKHTMLTOPDF, does not work also:

[code]
Same result, PDF is not an option while exporting.

[2019-05-09 18:32] aaronweaver commented on #1116
We are deprecating PDF, I'd recommend using html and printing to PDF.

[2019-05-09 18:32] #1116 closed

[2019-05-09 18:43] mayantec commented on #1116
Thanks for the clarification.
I was pushing a stone.
Have a nice day.

[2019-05-10 10:05] Ravenons commented on #979
I did not solve it, and I doubt somebody did in the meanwhile, so the issue should still be there. I have a solution which is almost working, but I don't know if I'm going to be able to fix it soon. I would leave it closed, and if I finally fix it, I will inform here.

[2019-05-10 11:07] ratherbeonline commented on #852
<img width="444" alt="issue" src="https://user-images.githubusercontent.com/26527435/57522731-d34bb500-72d7-11e9-9736-95cbc262b1ba.png">

There is a systemic OWASP Top 10 vulnerability that exists across the DefectDojo application. The disclosure policy requests submission via HackerOne. This issue is now closed as stale. Unfortunately, I still have no method of disclosing within policy.

[2019-05-10 11:09] ppiotr3k commented on #852
@devGregA, @aaronweaver, can you help on this one?

[2019-05-10 11:43] madchap opened #1119 "Automatically fill in CWE"
**Is your feature request related to a problem? Please describe**
Example: Scans import do not necessarily include the CWE related to the CVE reported, leaving the analyst looking it up and filling it manually (unless I missed something).

**Describe the solution you'd like**
If a finding has a CVE number, attempt to find the related CWE by querying a site like cvedetails.com and update automatica

[2019-05-10 12:00] denniskniep opened #1120 "Display Progress of Benchmark Levels in Product Overview"
**Is your feature request related to a problem? Please describe**
Would be nice to view the current progress of the Benchmarks (OWASP ASVS) on the Overview

**Describe the solution you'd like**
Another box on the Overview of a product. It should display a progressbar for each Level of a Benchmark.

[2019-05-10 13:55] aaronweaver commented on #852
It's hung up on the vetting process in hackerone. I'm going to switch back to bugcrowd and once that's up  I'll update this issue.

[2019-05-10 16:03] valentijnscholten commented on #1119
I've been thinking about the same when the severity is missing. There's a github repo containing all CVEs in json format that might be helpful: https://github.com/olbat/nvdcve

[2019-05-10 16:25] elenabdc opened #1124 "500 server error Internal Server Error: /product/1/import_scan_results"
**Bug description**
When trying to upload large Burp XML scan, obtained 500 server error.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Get XML Burp scan report
2. Upload it into DefectDojo
3. See error

**Expected behavior**
Scan should be uploaded

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [x] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment informat

[2019-05-10 17:05] adracea commented on #1124
Okay , this looks like it's hitting my code. It seems like you have some burp collaborator issues in there , could you upload a redacted version of the report/collaborator issues ?

[2019-05-10 19:12] reedloden commented on #852
@aaronweaver I believe you were talking to me. I'll reach out via e-mail again to get you unblocked.

[2019-05-10 19:31] reedloden commented on #852
@aaronweaver Sent you an e-mail. Let me know if you're not getting them for some reason. You should be good to go on the HackerOne side now. Happy to help out further in any way!

[2019-05-10 20:55] aaronott commented on #1056
I was receiving this same error then realized it looks like the config-vars.sh assumes that you are installing in /opt/dojo/django-DefectDojo. When I moved the project to the /opt/dojo directory, I was able to get further.

I'm now working on other errors during the install.

[2019-05-10 23:54] reedloden commented on #852
@ratherbeonline I moved your disclosure assistance report to the new program at https://hackerone.com/defectdojo. @aaronweaver should be able to see and respond to it now (if he hasn't already).

I believe this issue can be closed now.

[2019-05-11 01:10] ratherbeonline commented on #852
Thanks everyone! 🙂

[2019-05-11 01:10] #852 closed

[2019-05-11 12:06] ppiotr3k commented on #1056
Hi @aaronott, Docker and Kubernetes installations are preferred deployment ways for the time being.
Official DefectDojo is available on [Read The Docs](https://defectdojo.readthedocs.io/en/latest/getting-started.html#docker-compose-install).
Do you have specific needs requiring a manual installation, and not using Docker for example?

[2019-05-11 14:38] madchap opened #1125 "Migration issues - docker-compose not working on dev"
**Bug description**
Cannot run docker-compose on fresh rebase of dev branch, due to migrations issues.

**Steps to reproduce**
Steps to reproduce the behavior:
1. prune all containers and volumes
2. git fetch upstream and rebase local branch
3. `docker-compose -f docker-compose_base.yml -f docker-compose_uwsgi-dev.yml up`
4. Try to login and see the `Unknown column 'dojo_finding.cve' in 'field lis

[2019-05-11 14:47] ppiotr3k commented on #1125
Weird, I don't see the `0005_merge_20190511_1429.py` file in current [db_migration folder](https://github.com/DefectDojo/django-DefectDojo/tree/055c20512dda36b35d56d1b4db882966e64272b6/dojo/db_migrations) on `dev` branch.
Isn't it a permission issue added by a new file in your local repository?

[2019-05-11 15:23] madchap commented on #1125
That merge file is generated by the `makemigrations --merge`. It does not exist in my `db_migration` folder either. At that stage, it is just a reference and cannot be persisted to disk due to the permission error.

[2019-05-11 16:12] madchap commented on #1125
Thanks for your comment @ppiotr3k, looking at it, I had another `0002_auto_` file in my directory from.. somewhere :-/ Removing that extra file, I am back in business.

[2019-05-11 16:12] #1125 closed

[2019-05-11 23:14] aaronott opened #1126 "Version in "./docker-compose_base.yml" is unsupported."
**Bug description**
This is a duplicate of https://github.com/DefectDojo/django-DefectDojo/issues/1032 but on the latest version of defectdojo.

I'm on a fresh install of Ubuntu 18.04.2 with nothing else installed. I'm following the Getting Started guide at https://defectdojo.readthedocs.io/en/latest/getting-started.html#docker-compose-install and when I do a `docker-compose up` I receive the foll

[2019-05-12 07:39] dr3dd589 commented on #1126
run this
[code]

https://github.com/DefectDojo/django-DefectDojo/blob/master/DOCKER.md

[2019-05-12 11:26] ppiotr3k commented on #1126
Hi @aaronott, thank you for your interest in DefectDojo and for taking the time for submitting an issue.

In the pointed section, the first 2 lines are:
[code]
The versions available in Ubuntu repositories for 18.04 LTS are too old.
As indicated in the documentation, please use **latest** versions, at least:

 :heavy_check_mark: `docker` 18.09.4
:heavy_multiplication_x:  `docker-compose` 1.24.0

T

[2019-05-12 11:26] #1126 closed

[2019-05-13 14:16] Ravenons opened #1128 "Deduplication considers None a valid value for CWE and matches findings together"
**Bug description**
According to dojo/models.py, Finding model has default=0 and null=True for cwe field, so both 0 and None are valid values there.

In dojo/utils.py, sync_dedupe function looks for duplicate findings with the same cwe than the current finding, excluding cwe when it's equal to 0, but not when it's equal to None.

Nessus parser sometimes sets cwe to None, and therefore importing Ne

[2019-05-13 14:21] adracea commented on #1128
The problem also comes from the fact that numerous scanners don't give a certain cwe value to each issue so we would have to somehow either standardise this on our end or come up with a more complex deduplication system.

[2019-05-13 14:34] ptrovatelli commented on #810
Hi,
I've released our sonar html export code here: https://github.com/soprasteria/sonar-report
Feedback is welcome

[2019-05-13 18:29] valentijnscholten commented on #1128
I think the deduplication logic should not consider these issues as "equal", 0 or None is clearly a surrogate value in these cases.

[2019-05-14 07:24] Ravenons commented on #1128
That's true, but I would say that importers should not have that responsibility. DefectDojo core should be the one that's robust, because importers are written mostly by different people with different skill levels.

So in my opinion we have two options:

- cwe field with null=False (and keeping default=0)
- Every time you have to filter for an empty cwe, you have to filter both None and 0 values.

[2019-05-14 07:26] denniskniep opened #1129 "Uploaded images can not be displayed"
**Bug description**
When starting defect dojo with docker-compose all uploaded images can not be displayed. I get a 404.

The reason is probably the conditional url mapping on `settings.DEBUG` here https://github.com/DefectDojo/django-DefectDojo/blob/2a8e2ef508791f979e91a554165ae276d86a05be/dojo/urls.py#L177

Why is the media url only exposed in debug mode? (If I set `settings.DEBUG` to `on` every

[2019-05-14 15:24] madchap commented on #1128
We could attempt to automatically fill in the CWE, given the info at hand: https://github.com/DefectDojo/django-DefectDojo/issues/1119

[2019-05-15 15:12] Ravenons commented on #1128
Maybe @aaronweaver can decide how this should be handled.

[2019-05-16 23:46] devGregA opened #1131 "Add Product Type Unit Tests"
Please use the following example at  as a template:
https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py

Implement the following tests:
- Add
- Edit

Master List and Overview: https://docs.google.com/document/d/1dSS7tWuQukAX3VWtzPAlOfFNoqLQh-mBHBfmsu2WlU0/edit?usp=sharing

[2019-05-17 00:41] Maffooch opened #1132 "Add Product Unit Tests"
Please use the following example at as a template:
https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py

Implement the following tests:
- Add (Completed in Example)
- Edit (Completed in Example)
- Delete (Completed in Example)
- Add engagement
- Add finding
- Add Endpoint
- Add Custom Fields
- Edit Custom Fields
- Add Product Tracking Files
- Edit Product Tra

[2019-05-17 00:43] Maffooch opened #1133 "Add Engagement Unit Tests"
Please use the following example at as a template:
https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py

Implement the following tests:
- Add
- Edit
- Close
- Delete
- Import scan results
- Add new CI/CD Engagement

Master List and Overview: https://docs.google.com/document/d/1dSS7tWuQukAX3VWtzPAlOfFNoqLQh-mBHBfmsu2WlU0/edit?usp=sharing

[2019-05-17 00:45] Maffooch opened #1134 "Add Environment Unit Tests"
Please use the following example at as a template:
https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py

Implement the following tests:
- Add
- Edit

Master List and Overview: https://docs.google.com/document/d/1dSS7tWuQukAX3VWtzPAlOfFNoqLQh-mBHBfmsu2WlU0/edit?usp=sharing

[2019-05-17 00:46] Maffooch opened #1135 "Add Endpoints Unit Tests"
Please use the following example at as a template:
https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py

Implement the following tests:
- Add
- Edit
- Delete

Master List and Overview: https://docs.google.com/document/d/1dSS7tWuQukAX3VWtzPAlOfFNoqLQh-mBHBfmsu2WlU0/edit?usp=sharing

[2019-05-17 00:47] ppiotr3k commented on #1131
@devGregA, have the use of [django-webtest](https://pypi.org/project/django-webtest/) been considerated/evaluated?

For smoke/integration tests, it is a very light (i.e. fast to execute) approach for testing models and views, and being the integration for Django of the awesome [Pylons WebTest](https://docs.pylonsproject.org/projects/webtest/en/latest/), best in class for testing WSGI applications,

[2019-05-17 00:48] Maffooch opened #1136 "Add Test Unit Tests"
Please use the following example at as a template:
https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py

Implement the following tests:
- Add
- Edit
- Delete
- Add Notes

Master List and Overview: https://docs.google.com/document/d/1dSS7tWuQukAX3VWtzPAlOfFNoqLQh-mBHBfmsu2WlU0/edit?usp=sharing

[2019-05-17 00:49] Maffooch opened #1137 "Add Finding Unit Tests"
Please use the following example at as a template:
https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py

Implement the following tests:
- Add
- Edit
- Delete
- Import scan results
- Add Images
- Delete Images
- Mark for review
- Make a template and use template for another finding
- Close Finding

Master List and Overview: https://docs.google.com/document/d/1

[2019-05-17 00:50] Maffooch opened #1138 "Add User Unit Tests"
Please use the following example at as a template:
https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py

Implement the following tests:
- Add
- Edit Permissions (See overview for more details)
- Delete

Master List and Overview: https://docs.google.com/document/d/1dSS7tWuQukAX3VWtzPAlOfFNoqLQh-mBHBfmsu2WlU0/edit?usp=sharing

[2019-05-17 00:51] ppiotr3k commented on #1132
@Maffooch, please, really have a look at https://github.com/DefectDojo/django-DefectDojo/issues/1131#issuecomment-493279138 before using https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py for all the functional tests. :pray:

[2019-05-17 00:52] ppiotr3k commented on #1138
@Maffooch, please, really have a look at https://github.com/DefectDojo/django-DefectDojo/issues/1131#issuecomment-493279138 before using https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py for all the functional tests. :pray:

[2019-05-17 00:52] ppiotr3k commented on #1137
@Maffooch, please, really have a look at https://github.com/DefectDojo/django-DefectDojo/issues/1131#issuecomment-493279138 before using https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py for all the functional tests. :pray:

[2019-05-17 00:52] ppiotr3k commented on #1136
@Maffooch, please, really have a look at https://github.com/DefectDojo/django-DefectDojo/issues/1131#issuecomment-493279138 before using https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py for all the functional tests. :pray:

[2019-05-17 00:52] ppiotr3k commented on #1135
@Maffooch, please, really have a look at https://github.com/DefectDojo/django-DefectDojo/issues/1131#issuecomment-493279138 before using https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py for all the functional tests. :pray:

[2019-05-17 00:52] ppiotr3k commented on #1134
@Maffooch, please, really have a look at https://github.com/DefectDojo/django-DefectDojo/issues/1131#issuecomment-493279138 before using https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py for all the functional tests. :pray:

[2019-05-17 00:53] ppiotr3k commented on #1133
@Maffooch, please, really have a look at https://github.com/DefectDojo/django-DefectDojo/issues/1131#issuecomment-493279138 before using https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/Product_unit_test_example.py for all the functional tests. :pray:

[2019-05-17 09:35] NRGLine4Sec opened #1139 "Add the ability to import reports from wapiti"
Can you add the ability to import reports from [wapiti](http://wapiti.sourceforge.net/) ?
Maybe with the help of the [Faraday's parser](https://github.com/infobyte/faraday/blob/master/plugins/repo/wapiti/plugin.py)

[2019-05-17 09:37] NRGLine4Sec opened #1140 "add the ability to import reports from sslyze"
Can you add the ability to import reports from [sslyze](https://github.com/nabla-c0d3/sslyze) ?
Maybe with the help of the [Faraday's parser](https://github.com/infobyte/faraday/blob/master/plugins/repo/sslyze/plugin.py)

[2019-05-17 10:43] sbani commented on #1081
I will close here because #1084 fixed the issue.

[2019-05-17 10:43] #1081 closed

[2019-05-17 21:34] devGregA commented on #1063
https://developer.okta.com/

[2019-05-17 21:35] devGregA commented on #1063
https://developer.okta.com/code/python/

[2019-05-17 21:35] devGregA commented on #1063
https://stackoverflow.com/questions/32279794/okta-authentication-django

[2019-05-18 00:47] aaronweaver commented on #1140
@NRGLine4Sec do you have a sample file you can attach?

[2019-05-18 00:47] aaronweaver commented on #1139
@NRGLine4Sec do you have a sample file you can attach?

[2019-05-18 02:22] dr3dd589 commented on #1131
Start working on it.

[2019-05-18 16:26] madchap opened #1143 "Inconsistent behavior to view "open findings""
**Bug description**
When wanting to looking at open findings from within an engagement, the filter is set so that only "verified" and "active" findings are shown (which I personally find not very intuitive), e.g. the filter's default value set on "verified" is set to "Yes".

However, when directly selecting open findings from the main findings menu, it shows them all. E.g. the "verified" is set to

[2019-05-18 23:01] ptrovatelli opened #1145 "Deduplication not working with apiv2 when close_old_findings=false and skip_duplicates=false"
**Bug description**
The deduplication doesn't seem to be working with the API v2 endpoint, or at least not the same way as an import in the GUI or with APIv1:
When close_old_findings=false and skip_duplicates=false the deduplication is not happening, even if it's activated in the system configuration (celery is running)

**What is working with APIV2**
When using the APIv2, we can handle the dedupl

[2019-05-19 23:46] madchap opened #1148 "Email not RFC 5322 compliant causes email to not be delivered"
**Bug description**
Cannot receive email as notification.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Configure the email in django (need some doc here, nothing today) with a sendgrid account
2. Configure your notifications to test
3. Configure system settings to enable email notifications
4. See error

[code]

![image](https://user-images.githubusercontent.com/5468769/57989833-e19

[2019-05-20 00:04] madchap commented on #1092
Temp workaround, put single quote around your search, e.g. `'CVE-2011-2730'`

[2019-05-20 00:16] madchap commented on #1092
Probably something to try: https://dev.mysql.com/doc/refman/5.6/en/fulltext-stopwords.html

[2019-05-20 08:02] #850 closed

[2019-05-20 08:28] NRGLine4Sec commented on #1140
This is a repport scan by sslyze :
[rapport_scan_sslyze_https.zip](https://github.com/DefectDojo/django-DefectDojo/files/3196911/rapport_scan_sslyze_https.zip)

[2019-05-20 08:31] Oxima69 commented on #988
I have the same problem.
Are there any news on this?

[2019-05-20 08:57] efficiosoft opened #1149 "Unify permissions and permission checks throughout dojo"
**Is your feature request related to a problem? Please describe**
Concerns have already been brought up in https://github.com/DefectDojo/django-DefectDojo/issues/1048, where @valentijnscholten  summarizes the problems of the existing permission and role handling.

**Describe the solution you'd like**
As I'm currently developing an entirely new report builder component for dojo, I thought of starti

[2019-05-20 09:10] wurstbrot opened #1150 "Introduction of a Sponsorship Logo Policy"
A designer gave me the hint the sponsor-logos are looking ugly because they have different sizes and no margin.

# Easy solution
Add a line between each logo and add a space between 2 logos in the same row.

# Advanced solution
Define a logo size. In case a logo does match, the image will be scaled.
To scale an image, markdown might be used or the image is manually resized.

Maybe tables might be

[2019-05-20 09:14] efficiosoft commented on #1149
Ah, the second half of this is an addition to ``django.db.models.Manager``, which I subclassed to allow providing a queryset with restrictions for the current user applied. In the case of products, it would look like:

    class Product(models.Model):
        objects = DojoModelManager(
            filter_user_qs=lambda qs, user:
                qs if user.is_staff else qs.filter(authorized_users_

[2019-05-20 12:52] devGregA opened #1151 "Export Reports to Google Docs"
https://developers.google.com/docs/api/

[2019-05-20 12:56] devGregA opened #1152 "Automatically Title Case Finding Titles"
**Is your feature request related to a problem? Please describe**
A clear and concise description of what the problem is.
Ex: I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Ex: As a < role >, I want < some goal > so that < some reason >.

**Describe alternatives you've considered**
A clear and concise description o

[2019-05-20 13:26] #952 closed

[2019-05-20 13:29] wheelq commented on #703
wow

[2019-05-20 14:22] propersam commented on #1132
i'm working on this..

[2019-05-20 14:43] dr3dd589 commented on #1133
@Maffooch working on this too.

[2019-05-20 16:04] dr3dd589 commented on #952
hello, @jsalado here is steps for the testing.
 - Clone the repo checkout to the dev branch.
 - Install via docker describe here [doc](https://github.com/DefectDojo/django-DefectDojo/blob/dev/DOCKER.md)
 - Create a Product.
 - Go to findings and click import scan option.
 - choose kiuwan scan.
 - import your kiuwan sample.

[2019-05-20 16:55] dr3dd589 commented on #942
hello, @aaronweaver Can you put this in GSoC project and assign it to me?

[2019-05-20 17:07] aaronweaver commented on #942
@dr3dd589 sure

[2019-05-21 08:09] madchap opened #1154 "JIRA configurations should have a unique display string"
**Is your feature request related to a problem? Please describe**
If having several JIRA configurations having the same JIRA URL and username, you can not distinguish them as the UI shows the URL and the username in the edit project view and JIRA config view.

Configuration can vary, as the "Open status key" or "Close status key"  transitions can be different per project.

**Describe the solution

[2019-05-21 08:33] madchap opened #1155 "Simple search should display engagement info"
**Is your feature request related to a problem? Please describe**
When simple searching, the finding results table should include the engagement and associated test in which findings reside. It would make it easier to know where it is located without having to click on the title.

**Describe the solution you'd like**
Add an extra column(s) that display and link to finding's engagement and associat

[2019-05-21 10:06] madchap opened #1157 "Findings cannot return to any other status but duplicate once set"
**Bug description**
Edit a finding and mark it as duplicate (hence non active nor verified). If you try to make it active and verified again, it won't work despite the successful message.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to a finding and mark it duplicate
2. Save
3. Go back to that finding, and mark it active, verified.
4. Save
5. Notice the status didn't change
6. Re

[2019-05-21 12:21] madchap opened #1158 "Enhance notification messages"
**Is your feature request related to a problem? Please describe**
Messages sent to Slack do not provide enough relevant information, except maybe for when adding a note to a finding.

**Describe the solution you'd like**
A contextualized message should be sent, depending the event being notified.

And also, it seems some things do not trigger messages, such as:

- [ ] Modifying a finding
- [ ] Imp

[2019-05-22 04:25] nbuzydeb opened #1160 "404 for static files retrieved as dependencies when running dev docker"
**Bug description**
When running DefectDojo in debug (using the aliases_dev.sh script and then docker-compose up, as described in DOCKER.md; I hope I didn't miss any step ?), static files that are dependencies (so DefectDojo own static files are successfully retrieved it seems) can't be retrieved and result in 404.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run DefectDojo in Debug

[2019-05-22 06:13] cymxiao opened #1161 "Non-Staff (non-admin) users can't add or edit any product or engagement."
**Bug description**
Even with all permissions added to a group, and a non-staff user in that group, that user cannot add or edit the product even this user has been authorized to the product. each time I try to add an engagement or edit the product with a  non-staff user , it would redirect to login page.

even with all the permissions added, there are no menu options for Engagements, Tests, Findi

[2019-05-22 06:36] madchap commented on #1160
I have experienced the same.

As a possible workaround, launch the `docker-compose_uwsgi-release.yml` first, `docker cp` the static content locally from the uwsgi container, and then launch the `docker-compose_uwsgi-dev.yml`.

[2019-05-22 20:15] devGregA commented on #889
Added.

[2019-05-22 20:15] #889 closed

[2019-05-22 20:17] devGregA commented on #1065
Eric, Sample file is here: https://github.com/DefectDojo/sample-scan-files/tree/master/generic

[2019-05-22 20:59] Maffooch commented on #1131
Merged under PR#1153

[2019-05-22 20:59] #1131 closed

[2019-05-22 22:27] propersam commented on #1137
@Maffooch  assign this to me.
i'm done with product

[2019-05-22 22:45] propersam commented on #1135
Assign this to me as To do

[2019-05-22 22:46] propersam commented on #1136
Also assign this as to do..

[2019-05-23 00:41] propersam commented on #1135
Done with this. awaiting review

[2019-05-23 00:42] propersam commented on #1136
working on this..

[2019-05-23 02:43] propersam commented on #1136
made a PR. awaiting review

[2019-05-23 02:54] propersam commented on #1138
Working on this now.. assign this to me.

[2019-05-23 03:53] propersam commented on #1138
done ... awaiting review

[2019-05-23 06:43] wurstbrot commented on #1150
@devGregA

[2019-05-23 13:50] efficiosoft commented on #1149
If you want more detailed examples and code on how I plan to implement this, let me know. Probably @aaronweaver is the one who decides about this after all.

[2019-05-23 18:18] dougmcdorman opened #1171 "Server Error (500) importing Fortify scan XML file"
When attempting to import a Fortify XML scan report the server gives Server Error (500) from the underlying "TypeError: cannot concatenate 'str' and 'int' objects" fault.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Download  docker-compose_base.yml docker-compose_uwsgi-release.yml
2. docker-compose -f docker-compose_base.yml -f docker-compose_uwsgi-release.yml up
3. Attempt to uplo

[2019-05-23 19:23] devGregA commented on #1161
Hi @cymxiao this is intended behavior. When Dojo was first written, the Django admin interface wasn't near as good as it is today. At some point in the future we'll look at adjusting permissions, but our focus currently is on unit tests and python3.

[2019-05-23 19:23] #1161 closed

[2019-05-23 19:26] devGregA commented on #1139
No sample scan, no support! 😂 Feel free to reopen if a sample scan is provided.

[2019-05-23 19:27] #1034 closed

[2019-05-23 20:12] dr3dd589 commented on #1171
hello @dougmcdorman Can you provide scan sample which produces this error so that we can easily reproduce it?

[2019-05-23 20:48] valentijnscholten commented on #1154
This would benefit us as well as we have different workflows and issuetypes in the same JIRA.

[2019-05-23 21:13] aaronweaver commented on #1149
@efficiosoft I think this makes a lot of sense. My only suggestion at the moment is that we should do this after migrating to python3. We did a PoC on that and it went fairly well and as the deadline looms for EOL on 2.

[2019-05-23 21:22] aaronweaver commented on #1171
@dougmcdorman Did you try your suggest change of making it = "0"?

[2019-05-23 21:23] aaronweaver commented on #1160
@ptrovatelli has been working on updates to the dev compose, you may want to try out what he's been working on.

[2019-05-23 21:33] #1152 closed

[2019-05-23 21:34] #1064 closed

[2019-05-23 22:47] Hax0rG1rl opened #1172 "DefectDojo Docker fails to launch"
**Bug description**

The latest DofectDojo framework fails to launch when following the provided starting steps.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Clone the defectdojo locally
2. Follow the run instructions

[code]
4. See error

[code]

**Expected behavior**

The image to build and properly launched.

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [x] Doc

[2019-05-23 22:56] mtesauro commented on #1172
Update docker and docker compose to the latest.

docker compose is a separate update from docker and usually manual (depends
on platform)

See:
https://defectdojo.readthedocs.io/en/latest/getting-started.html#docker-compose-install

--
-- Matt Tesauro
OWASP AppSec Pipeline Lead
https://www.owasp.org/index.php/OWASP_AppSec_Pipeline
OWASP WTE Project Lead
https://www.owasp.org/index.php/OWASP_Web_Te

[2019-05-23 23:10] Hax0rG1rl commented on #1172
Heya,

Thanks for your quick answer. I got the compose updated and, as you can see, I do use the latest version.

[code]

However, I still get this:

[code]

[2019-05-24 00:46] dougmcdorman commented on #1172
Perhaps try it with this command.
docker-compose -f docker-compose_base.yml -f docker-compose_uwsgi-release.yml up

I don't see your steps to reproduce ding the command . docker/aliases_release.sh) as per ths info here:

https://github.com/DefectDojo/django-DefectDojo/blob/master/DOCKER.md

[2019-05-24 00:50] dougmcdorman commented on #1171
I haven't been able to run a dev environment yet so I can't try the fix. When I try the dev environment I see this in the logs and the webserver doesn't respond:
nginx_1         | nginx: [emerg] host not found in upstream "uwsgi:3031" in /run/uwsgi_server:1
django-defectdojo_nginx_1 exited with code 1

If someone can provide more guidance on getting a dev environment going I will try, asked in sla

[2019-05-24 01:44] devGregA commented on #1171
I believe th correct fix is to extend cast the int to string for the
purposes of the dupe key.

On Thu, May 23, 2019, 7:50 PM dougmcdorman <notifications@github.com> wrote:

[2019-05-24 01:44] devGregA commented on #1171
** instead

On Thu, May 23, 2019, 8:44 PM Greg Anderson <greg.anderson@owasp.org> wrote:

[2019-05-24 02:57] mtesauro commented on #1172
Interesting.  Last time I ran the docker-compose I got the same error and
updating docker (docker ce to be precise) and docker-compose worked for
me.  I'm also on Ubuntu 18.04:
$ cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04.2 LTS"

Let me pull down a the latest from master and give it a go again.  I tested
the docker-compose

[2019-05-24 03:34] dougmcdorman commented on #1171
@devGregA I thought about that but if it does find a CWE value then that is going to be a string not an int so then you would be trying to cast a string from an int to an string. I'm hoping I can find some older or other Forify scan results around that have the CWE value to test that as well. But I don't know if I will find any or if they really ever have that.

[2019-05-24 04:01] ayomawdb commented on #1160
In Dev environment DefectDojo (uwsgi) is exposed over port 8000.

https://github.com/DefectDojo/django-DefectDojo/blob/2a8e2ef508791f979e91a554165ae276d86a05be/docker-compose_uwsgi-dev.yml#L14

However, the Nginx instance pointing to static resources in question is exposed over port 8080

https://github.com/DefectDojo/django-DefectDojo/blob/2a8e2ef508791f979e91a554165ae276d86a05be/docker-compose_b

[2019-05-24 04:47] Hax0rG1rl commented on #1172
Hi,

@dougmcdorman , @mtesauro, the issue got resolved running that cli:

[code]

However, a standard user like me would expect to have this started by simply running the docker-compose up.

And, yes, I am using the latest version of docker got it from the official docker web site and not the package delivered by the official Ubuntu repositories available through an apt-get command.

I'll close th

[2019-05-24 04:47] #1172 closed

[2019-05-24 05:09] dougmcdorman opened #1173 "defectdojo master:dev will not run /usr/bin/env: ‘bash\r’: No such file or directory"
**Bug description**
Attempting to run a dev instance of defectdojo via docker compose but the web site does not come up.
Log shows:
uwsgi_1         | /usr/bin/env: ‘bash\r’: No such file or directory
django-defectdojo_uwsgi_1 exited with code 127

**Steps to reproduce**
Steps to reproduce the behavior:
1. . docker/aliases_dev.sh
2. docker-compose up
3. http://localhost:8080
4. Unable to connect

*

[2019-05-24 05:29] dougmcdorman commented on #1171
Added redacted scan file. I ripped out most of the results so I can't guarantee it is still completely valid but it does cause the same error. If I can get a dev environment running I will compare results with the unredacted file.
The unredacted xml file was generated from the Fortify .fpr file using the ReportGenerator utility since the original fpr file is actually a zip file containing a whole

[2019-05-24 06:47] nbuzydeb commented on #1160
These files were present in the nginx container (no difference with the release version on that side), so the initial retrieval of these files actually worked. But somehow, the live web application was unable to fetch the files from the container it seems.

I have just checked out @ptrovatelli 's PR and tried, it seems it fixes the issue :)

[2019-05-24 07:16] ptrovatelli commented on #1145
Looking at the code, it seems that we have two separate dedup algorithm:
- When using the APIv2 `import-scan`, dedup is done  in dojo/api_v2/serializers.py based on
  - skip_duplicates and close_old_findings options
  - finding's hash_code
- When using the GUI, dedup is done with dojo/utils.py
  - There is no skip_duplicates nor close_old_findings option available in the GUI.
  - dedup is done bas

[2019-05-24 09:12] efficiosoft commented on #1149
@aaronweaver Glad to hear you see it this way, too.

I'm currently working on [this branch](https://github.com/efficiosoft/django-DefectDojo/tree/tex-reports) and everything I did so far is compatible with:

* Python 2.7/3.5+
* Django 1.11/2.2+
* django-filter 1.1/2.0+

as is with TODOs with suggestions at places where code could be simplified or changed to be more performant after Python 2 suppor

[2019-05-24 09:17] jsalado commented on #952
Hello @dr3dd589, @aaronweaver

I successfully installed and run DefectDojo via docker. However, the Kiuwan Scan option does not appear in the Scan type combo when importing findings.

My guess is that the version supporting has not been committed to DockerHub. Do you know when this will be available?

In the meantime I'll build the containers locally from the latest varsion in the repo and try aga

[2019-05-24 09:20] valentijnscholten commented on #1149
I like this initiative and am happy to help testing.

[2019-05-24 09:56] efficiosoft commented on #1149
@valentijnscholten You're very welcome. I'll let you know when my branch, especially the generic pieces for permission handling, are in a testable state.

[2019-05-24 10:54] jsalado commented on #952
I've built the images locally after cloning the repo following the instruction [here](https://github.com/DefectDojo/django-DefectDojo/blob/dev/DOCKER.md) and then run `docker-compose up` again but stil I don't see the Kiuwan scan option in the Scan type combo.

Is there anything that I'm missing?

Thanks

[2019-05-24 11:44] jsalado commented on #952
Sorry, I just noticed the 'checkout to the dev branch' bit.

I did and now it is there ;-) I tried it and found a couple of issues. I'll open a new issue for them

[2019-05-24 12:06] jsalado opened #1174 "Kiuwan scan import issues"
**Bug description**
1. Findings are imported with Type = Dynamic. Kiuwan is a static analyzer, so I guess they shuld be Static.
2. If there is a defect in the imported CSV file with empty CWE, the import results in an Internal Server Error (500).

**Steps to reproduce**
Steps to reproduce the behavior:
1. Open the details of an imported finding and see that the Type is Dynamic
2. Try to import the

[2019-05-24 12:44] dr3dd589 commented on #1174
@jsalado I am able to reproduce this. going to fix it now.

[2019-05-24 12:54] jsalado commented on #1174
@dr3dd589 That's great, thank you!

[2019-05-24 13:48] aaronweaver commented on #1149
@efficiosoft Sounds good, then feel free to add a PR when ready. I believe we will target early late June. The GSOC folks are working on unittests so that python3 will have the necessary testing that has been missing.

[2019-05-24 14:16] dr3dd589 commented on #1174
@jsalado Can you make changes which I have made in this PR #1175 and check if it fixes it or not?

[2019-05-24 14:27] ptrovatelli commented on #1145
I have to say I got used to the GUI algorithm and I fail to see how the API one could answer my requirements.
Say you want to follow the evolution of vulnerabilities across releases:
1) You want to know what vulnerability is present in what release
2) You want to enrich vulnerabilities (add note for example) and keep this enrichment after re-importing the same vulnerability again and again (becaus

[2019-05-24 14:45] ptrovatelli opened #1176 "Checkmarx scan deduplication not working"
**Bug description**
Importing twice the same checkmarx report, from the GUI or from the APIv2 will not detect duplicates.
- For GUI import this was observed since https://github.com/DefectDojo/django-DefectDojo/pull/1043. It's probably related to this PR although it's not certain
- For APIv2, it may be present since before this PR I haven't tested

**Steps to reproduce**
It's all explained here: h

[2019-05-24 14:45] ptrovatelli commented on #1145
See also this other issue that should be addressed at the same time: https://github.com/DefectDojo/django-DefectDojo/issues/1176

[2019-05-24 14:47] ptrovatelli commented on #1145
@aaronweaver @adracea @valentijnscholten any thoughts?

[2019-05-24 15:14] aaronweaver commented on #1145
@ptrovatelli I remember when API v2 was fist submitted and this was a concern as to why there was "duplication" of code. In any case let's consolidate API V1, V2 and GUI to all use the same logic, what you've outline above seems reasonable and we should have a readthedocs page just on dedeuplication as that question comes up on how exactly it works.

[2019-05-24 15:56] ptrovatelli commented on #1145
@aaronweaver do you know why is there an apiv1 and an apiv2 by the way? is "importscan" from apiv1 supposed to work? I couldn't get it to work. I've used (postman / form data / bulk edit):
[code]
+"file" parameter of type "file" (triggering multi-part request) which is tests/zap_sample.xml
with: POST http://localhost:8080/api/v1/engagements/1/importscan/
This gives http 501 not implemented

Same r

[2019-05-24 16:07] aaronweaver commented on #1145
The file has to be posted  in the body, you can look at the API wrapper in the repo for how it works. V1 was done with TastyPie and was difficult for some to use as the documentation it generates isn't that great and a little weird. Another person worked on V2 using django rest framework but didn't consolidate functions and ended up duplicating code. I solely use V1 as it works just fine for what

[2019-05-24 17:12] dougmcdorman commented on #1173
I also tried in the dev branch, same result.
$ git show -s --format="%h: %s [%ci]"
ce53e8ff: Merge pull request #1153 from dr3dd589/ProductTypeTest [2019-05-22 15:11:37 -0500]

[2019-05-24 18:18] dougmcdorman commented on #1173
I am suspecting this is due to git converting files to windows CR/LF.
It looks like a .gitattributes file in the root of the project could fix this for everyone using windows.
https://help.github.com/en/articles/dealing-with-line-endings#platform-windows

[2019-05-24 20:59] dougmcdorman commented on #1173
I changed the line endings with this:
find . -type f -print0 | xargs -0 dos2unix

Then docker-compose build
. docker/aliases_dev.sh
docker-compose up

It gets farther but now I get this error in the browser:
"An error occurred.
Sorry, the page you are looking for is currently unavailable.
Please try again later.
If you are the system administrator of this resource then you should check the error l

[2019-05-24 21:00] dougmcdorman commented on #1171
@dr3dd589 redacted scan file in the above comment.

[2019-05-24 21:16] ptrovatelli commented on #1145
the file was fine, it's the engagement and lead format that weren't correct. the message made me think I had to put the engagement in the URL but it's not the case, it just meant that the engagement parameter needs to be an URI. This is working with APIv1:
http://localhost:8080/api/v1/importscan/
[code]
plus file parameter of the type "file" in postman (activates multi-part request)
The good news

[2019-05-24 21:37] 1Jesper1 opened #1179 "Syntax error in not used code"
**Bug description**
Syntax error in not used code.
https://github.com/DefectDojo/django-DefectDojo/blob/e5a884296b3fefa48a48602b58f9884b762b2f6f/dojo/templates/dojo/edit_rule2.html#L24
I think this code can be removed. Do not fix this syntax error! Otherwise there is a possibility for XSS trigger, because htmlEncode is not used in the get_alerts function. (See htmlEncode in "dojo/templates/base.ht

[2019-05-24 22:00] 1Jesper1 opened #1180 "Jquery missing on some page"
**Bug description**
Jquery is missing on some pages, like "/add_findings". Notifications dropdown gives error: "Cannot read property 'trim' of undefined"

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '"/add_findings/{number}
2. Click on notifications dropdown.
3. Notification dropdown won't load.

**Environment information**
 - Operating System: [Ubuntu 18.04]
 - DefectDojo ver

[2019-05-25 06:08] dr3dd589 commented on #1134
@Maffooch working on this!

[2019-05-25 07:54] dr3dd589 commented on #1171
main problem is here in grouptitles:
`<groupTitle>Privilege Management: Unnecessary Permission</groupTitle>`
`<groupTitle>Null Dereference</groupTitle>`
`<groupTitle>&lt;none&gt;</groupTitle>`
`<groupTitle>Issue New: May 7, 2019</groupTitle>`

which is not fixed and in the parser, it checks cwe no in <groupTitle> also the sample you provided does not contain any cwe no in <groupTitle> and in forti

[2019-05-26 21:16] ptrovatelli commented on #1145
i've added documentation about this in https://github.com/DefectDojo/Documentation/pull/42 . For the time being it may be enough as apiv1 is able to do what apiv2 fails to do. I'll look at https://github.com/DefectDojo/django-DefectDojo/issues/1176 first, it seems more urgent.

[2019-05-26 21:37] Hax0rG1rl commented on #1172
@mtesauro @aaronweaver Side question, is there any commercial support for this product? How can I get more info about such an option? Thanks!

[2019-05-27 02:46] dougmcdorman commented on #1172
@Hax0rG1rl all I know is that the FAQ says this:
https://www.defectdojo.org/#faq5
Is hosting, custom integration and commercial support available for DefectDojo?
Yes, commercial support and integration is available for DefectDojo through
10Security https://10security.com/

[2019-05-27 05:59] arkwrn commented on #705
is there any update how can we do dojo deployment on our own heroku @aaronweaver ?
thank you.

[2019-05-27 18:09] dr3dd589 commented on #942
@Maffooch working on it now.

[2019-05-28 14:50] jsalado commented on #1173
I'm having the same issue afer building locally the images from the dev branch, then
docker-compose up
http://myserver:8080
Get the error page as above

Log shows:
nginx_1         | 2019/05/28 14:45:30 [error] 7#7: *18 connect() failed (113: No route to host) while connecting to upstream, client: 192.168.1.82, server: , request: "GET / HTTP/1.1", upstream: "uwsgi://172.22.0.4:3031", host: "dockers

[2019-05-28 14:57] madchap opened #1184 "Ability to blacklist certain CVEs (scoped)"
**Is your feature request related to a problem? Please describe**
At a certain scope (ideally could be picked, product, engagement), it would be nice to just plain blacklist/ignore a certain CVE, as one would know it is just a false positive in a specific context.

**Describe the solution you'd like**
Add CVE string to a list, and if the CVE gets imported or added in a finding, the finding status

[2019-05-28 15:26] devGregA commented on #1172
Hi @Hax0rG1rl please send an email to info@10security.com

[2019-05-28 15:29] #1174 closed

[2019-05-28 17:25] #1136 closed

[2019-05-28 17:25] #1132 closed

[2019-05-28 17:27] #1135 closed

[2019-05-28 17:32] #1134 closed

[2019-05-28 17:36] #1133 closed

[2019-05-28 20:05] devGregA commented on #1124
Can't validate without a sample scan file.

[2019-05-28 20:07] #934 closed

[2019-05-28 20:21] aaronweaver opened #1185 "Import Scan for Immuniweb"
Create an importer for Immuniweb. XML will be provided shortly.

[2019-05-28 20:27] aaronweaver opened #1186 "Import Scan for wpscan"
Create an importer for wpscan.

[2019-05-28 20:30] aaronweaver commented on #1184
@madchap  I think we might be able to do this with the rules engine. It was an idea @devGregA and I had awhile back. It's in the code but not really documented as it's more of a PoC, but now might be the time to do some more work on that. I think that would be the place though to enable this list.

[2019-05-28 21:01] #1138 closed

[2019-05-29 07:44] NRGLine4Sec opened #1187 "Import Scan for sslscan"
Create an importer for [sslscan](https://github.com/rbsec/sslscan) with the XML output.

[2019-05-29 08:35] NRGLine4Sec commented on #1139
This is a repport scan by wapiti with the argument `-f openvas -o repport_scan_wapiti_https.xml` :
[repport_scan_wapiti_https.xml.zip](https://github.com/DefectDojo/django-DefectDojo/files/3231470/repport_scan_wapiti_https.xml.zip)

[2019-05-29 08:44] NRGLine4Sec opened #1188 "Import Scan for Golismero"
Create an importer for [Golismero](https://github.com/golismero/golismero) with the XML output.

[2019-05-29 12:32] aaronweaver commented on #1185
[ImmuniWeb-XML-6507875.xml.zip](https://github.com/DefectDojo/django-DefectDojo/files/3232423/ImmuniWeb-XML-6507875.xml.zip)

[2019-05-29 12:43] propersam commented on #1185
You can assign this to me.

[2019-05-29 14:24] 40R40L opened #1189 "Acunetix reports Parser"
Hi,
This is a great AcunetixParser for defect dojo that works very fine :)
https://github.com/code4innerpeace/DefectDojoAcunetixParsers

[2019-05-29 14:28] #1189 closed

[2019-05-29 14:43] 40R40L opened #1190 "Acunetix parser"
Hi,

i noticed that an Acunetix parser was integrated in this version but it does not work ( for me )
i get a Server Error (500) when i try to upload an acunetix scan report .

i used to use this parser in the previous version of DefecDojo and its working very fine for me
https://github.com/code4innerpeace/DefectDojoAcunetixParsers

[2019-05-29 16:08] devGregA commented on #1190
@40R40L we are unable to investigate without a sample scan.

[2019-05-29 16:08] #1190 closed

[2019-05-29 16:14] jsalado commented on #1173
I got the dev instance working:

I checked out the dev branch  and built the images manually with:
docker build -t defectdojo/defectdojo-django -f Dockerfile.django .
docker build -t defectdojo/defectdojo-nginx -f Dockerfile.nginx .

Then I run:
. docker/aliases_release.sh
docker-compose up

This brings up a working instance of the dev branch. Notice that I use aliases_release.sh not aliases_dev.s

[2019-05-29 16:59] dougmcdorman commented on #1173
@jsalado great! that worked for me as well! I will have to do some more testing with a .gitattributes and submit a PR to add one so that docker for windows will work at least for the dev branch in release (mode?).

[2019-05-29 18:18] devGregA commented on #1171
@devEricA please investigate this for you next issue. @dougmcdorman has attached a sample scan.

[2019-05-29 20:23] marquezc1 opened #1192 "K8 Deployment with Helm 2.14.0 results to a error"
**Bug description**
Error: validation failed: error validating "": error validating data: unknown object type "nil" in ConfigMap.data.DD_CELERY_LOG_LEVEL

It appears that prior to 2.14, Helm silently accepted schema validation errors, but as of 2.14, all manifests are validated, including ones that were previously accepted.
https://github.com/helm/helm/issues/5750

**Steps to reproduce**
Steps to

[2019-05-29 20:26] marquezc1 commented on #1192
For the time being, I downgraded helm to version 2.13.1 and the deployment worked.

[2019-05-30 04:02] dr3dd589 commented on #1186
hello, @aaronweaver  assign this to me. Can you please provide sample scan for this scanner?

[2019-05-30 04:30] dr3dd589 commented on #1139
hello @Maffooch working on this!

[2019-05-30 13:18] aaronweaver commented on #1075
@vivek1123 We can work on this, just attach the sample file directly to this issue.

[2019-05-30 14:52] ptrovatelli commented on #1176
I've got the root cause for GUI and APIv1 import: it's in utils.py, when comparing find.line and new_finding.line it's always false because  find.line is a long while new_finding.line is a string. Converting new_finding.line to a string before the comparison fixes it.
It's not an issue for ZAP report because the algorithm goes like:
1) first check if findings have enpoints: if they do, compare the

[2019-05-30 15:43] aaronweaver commented on #1192
I wonder if there is a helm linter we could add to our travis tests?

[2019-05-30 16:49] dougmcdorman commented on #1171
@devEricA I should have a PR ready in a couple days.

[2019-05-30 16:50] aaronweaver opened #1194 "Cobalt.io Importer"
Create an importer for Cobalt csv file.
[vulns_2018-07-20_19.00.26 (2).csv.zip](https://github.com/DefectDojo/django-DefectDojo/files/3237932/vulns_2018-07-20_19.00.26.2.csv.zip)

[2019-05-30 18:03] marquezc1 commented on #1192
Hi Aaron, I tired performing helm lint ./helm/defectdojo/ to try this helm function out and got a Lint OK with no failures but if helm lint ./helm/defectdojo/ --strict is used then a different template issue gets reported:

[ERROR] templates/: render error in "defectdojo/charts/mysql/templates/tests/test.yaml": template: defectdojo/charts/mysql/templates/_helpers.tpl:15:14: executing "mysql.fullna

[2019-05-30 20:51] devEricA commented on #1171
@devGregA and @aaronweaver I think I have a fix ready. Before I push, I would like to obtain older fortify scans in order to ensure that my updates work with the older files. Where could I find those files?

[2019-05-30 20:57] aaronweaver commented on #1171
@devEricA I can't seem to find any. @devGregA I thought we had some but I can't find it.

[2019-05-31 00:02] dougmcdorman commented on #1171
Note the OWASP Benchmark program also has a Fortify parser, but I'm not use if they are using the .fpr file or a generated report.
https://github.com/OWASP/Benchmark/blob/master/src/main/java/org/owasp/benchmark/score/parsers/FortifyReader.java

I have managed to get the report generator and a modified defectdojo parser to give all results instead of just a sample from each category. @devEricA per

[2019-05-31 00:24] dougmcdorman commented on #1075
You might find the parsers from OWASP Benchmark useful to refer to
https://github.com/OWASP/Benchmark/tree/master/src/main/java/org/owasp/benchmark/score/parsers
AppScanDynamicReader.java
AppScanDynamicReader2.java

[2019-05-31 02:01] cymxiao opened #1196 "Is there any plan that defectdojo would support MSSQL server in future."
Dear Sir,

Is there any plan that defectdojo would support  Microsoft SQL server in  future?
If not, is it possible to connect to MSSQL server container or a real MSSQL server if I make a second development. I am not sure If defectdojo can connect to mssql with regard to technique.

btw,  is there a guide document from your team to make defectdojo to support another db?

it would be great apprecia

[2019-05-31 06:37] dougmcdorman opened #1197 "Integration with Agilecraft"
**Is your feature request related to a problem? Please describe**
Ability to synchronize issues to agilecraft.com

**Describe the solution you'd like**
Two way communication with Agilecraft similar to the Jira integration.

**Describe alternatives you've considered**
Manual creation of issues in Agilecraft.

**Additional context**
Agilecraft is able to synchronize with Jira and is now owned by Alt

[2019-05-31 10:43] dr3dd589 commented on #1194
hello, @Maffooch assign this to me.

[2019-05-31 14:05] wheelq opened #1200 "Arachni results parsed but no metrics overview"
**Bug description**
After importing arachni scan results, DD displays table with findings and severity for each finding. But no data appears in Metrics or Overview.

**Screenshots**
Import results:
![image](https://user-images.githubusercontent.com/1497172/58710968-69459d80-83b5-11e9-8cdc-acb73cd3c43e.png)

Findings count:
![image](https://user-images.githubusercontent.com/1497172/58710934-59c6548

[2019-05-31 14:24] dougmcdorman commented on #1200
I don't think findings show up on the metrics unless they are marked as verified. I presume this is so that false positives don't show up on metrics.
When importing you can choose the default to import them as not verified, or have them come in as verified.

[2019-05-31 15:55] aaronweaver commented on #1200
Yes, that's correct, active + verified.

[2019-05-31 15:55] #1200 closed

[2019-05-31 15:57] aaronweaver commented on #1196
@cymxiao We only support mysql / postgres. DefectDojo uses Django and you can check out more info on that [here](https://docs.djangoproject.com/en/2.2/ref/databases/).

[2019-05-31 15:58] #1196 closed

[2019-06-01 01:13] dougmcdorman opened #1201 "APIv1 documentation issue"
**Bug description**
In the API v1 Docs in the Products area it lists the model schema for products, but it does not include the required attribute of prod_type.
http://192.168.99.102:8080/api/v1/doc/#!/products/products_list_0

**Steps to reproduce**
- Login to DefectDojo
- From the right side select Api v1 Docs
- Find post /api/v1/products/
- Click on it to view the object model

**Expected behav

[2019-06-01 16:35] propersam opened #1204 "File Path Error when deleting Image from finding"
**Bug description**
A clear and concise description of what the bug is.
The Program Crashes When I try to delete a Image from finding after adding.
**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Findings'
2. Select a Finding
3. From Drop down menu, click on 'manage images'
4. Choose your any image from your system and save
5. After saving go back again to 'manage images'
6. mark

[2019-06-01 16:35] propersam commented on #1204
I already fixed this issue in my current PR for Finding Unit Test

[2019-06-03 03:32] propersam commented on #1180
I wanted to fix this issue. but I can't seem to repeat it from my end.

I can't find any endpoint called /add_findings/{number} on my instance.

can you point out any other page you have this issue.

[2019-06-03 03:37] propersam commented on #1151
This looks like fun.

Please have this assigned to me.

[2019-06-03 05:07] propersam commented on #1143
this issue should be solved now.

check out my PR and point out if you detect any other open finding inconsistency in any other page

[2019-06-03 05:15] propersam commented on #1143
The first PR was made to master branch by mistake.

Use the second #1207

[2019-06-03 05:34] propersam commented on #1104
It's either this issue have been fixed already or the error only occurs in your instance.

I can't seem to get any error as described above.

https://defectdojo.herokuapp.com/endpoint/20

[2019-06-03 05:53] propersam commented on #1185
This can now be added to In progress

[2019-06-03 06:40] madchap commented on #1143
Thanks @propersam. I am guessing this fixes the inconsistent behavior.

Now I am guessing it is a question of semantic: do we classify an "open" finding as one that we know is a true-positive (e.g. verified -- I am guessing the original intent), or just as one that is to be checked and eventually marked as "verified" (e.g. only "active")?

From a workflow perspective, today, I know I have to reset

[2019-06-03 07:52] 1Jesper1 commented on #1180
@propersam  https://github.com/DefectDojo/django-DefectDojo/blob/e5a884296b3fefa48a48602b58f9884b762b2f6f/dojo/templates/dojo/add_findings.html
Page doesn't have <script type="application/javascript" src="{% static "chosen/chosen.jquery.min.js" %}"></script> like https://github.com/DefectDojo/django-DefectDojo/blob/e5a884296b3fefa48a48602b58f9884b762b2f6f/dojo/templates/dojo/add_related.html

[2019-06-03 08:07] propersam commented on #1143
Actually with the little experience I have gotten from researching/using this functionality, I discovered that When a Finding is created It uses the following work flow:
once created -> Active, verified: unkown (and this is why we had to fix the inconsistency)

when a review is requested on the finding -> Active,Under Review,  verified: no (actually in backend this is 'false')

review can now be c

[2019-06-03 08:09] dougmcdorman commented on #1171
@devEricA Were you given any scans that include a CWE in the groupTitle? If so what did it look like? Can you provide some of the values for the groupTitle?

I took a look at your changes and I wanted to suggest a few modifications. The original code before your updated doesn't seem very robust and I was hoping we could try to improve it.
Note .isdigit will give false if it finds whitespace even t

[2019-06-03 08:39] propersam commented on #1180
Oh.

I will like to understand clearly. Are you asking that all jquery include files be added equally to every page.

[2019-06-03 08:44] 1Jesper1 commented on #1180
Yes, some pages are missing the Jquery script and throw errors because of that.

[2019-06-03 08:51] propersam commented on #1180
alright, will do just that..

[2019-06-03 09:00] propersam commented on #1180
@aaronweaver what do u say about this.

Are some of the jquery files ignored for special reasons ?

[2019-06-03 13:40] devGregA commented on #898
@devEricA I think the fundamental  problem is people are using the root user. @devEricA please verify this issue and then we'll discuss solutions.

[2019-06-03 13:43] #942 closed

[2019-06-03 14:46] propersam commented on #1075
I am waiting for a valid sample XML, CSV or JSON file for this issue before I can dig in.

[2019-06-03 14:49] propersam commented on #1185
wow, finally done with this. awaiting review.

[2019-06-03 14:50] devEricA commented on #898
Seems to be the case @devGregA. I tested both of the nessus sample scan files, both of which ran ok with the admin user.

[2019-06-03 15:03] #1171 closed

[2019-06-03 15:04] devGregA commented on #898
Not able to reproduce in latest version of Dojo. Closing.

[2019-06-03 15:04] #898 closed

[2019-06-03 15:16] devGregA commented on #1157
@devEricA please investigate once you finish reviewing that PR.

[2019-06-03 15:47] #1065 closed

[2019-06-03 17:26] devEricA commented on #1157
No dice in getting the bug reproduced @devGregA. I followed all of the steps to produce this bug. Checking active and verified simply sets the finding status back to active and verified, even after un-marking the duplicate checkbox. Attempting to mark active and verified while the duplicate checkbox is marked results in a message 'duplicate findings cannot active and verified' without throwing an

[2019-06-03 17:28] devGregA commented on #1157
@devEricA did you try master dev or both?

[2019-06-03 17:29] devEricA commented on #1157
I did dev because that's the branch noted in the environment information.

[2019-06-03 17:30] devGregA commented on #1093
Hi all, without a sample scan, we can't investigate. Please feel free to reopen if you can provide a sample scan.

[2019-06-03 17:30] #1093 closed

[2019-06-03 17:33] devGregA commented on #1157
Oh okay, missed that, thanks. @madchap I think this is coming from dedupe overriding statuses rather than an issue with the actual progression of active / verified / duplicate.

[2019-06-03 17:33] #1157 closed

[2019-06-03 17:35] devGregA commented on #1155
@aaronweaver do you have any thoughts on this?

[2019-06-03 18:00] devGregA commented on #1120
@aaronweaver thoughts? I like this one.

[2019-06-03 18:01] devGregA commented on #1120
I'm going to go ahead and give this one to @devEricA

[2019-06-03 18:08] aaronweaver commented on #1155
@devGregA yes, makes sense.

[2019-06-03 18:25] #1063 closed

[2019-06-03 18:26] devGregA commented on #1015
Added via https://github.com/DefectDojo/django-DefectDojo/pull/1209

[2019-06-03 18:26] #1015 closed

[2019-06-03 18:37] devGregA commented on #1139
Added via #1206

[2019-06-03 18:37] #1139 closed

[2019-06-03 19:27] aaronweaver commented on #1075
@propersam See attached xml file.

[testfire.xml.zip](https://github.com/DefectDojo/django-DefectDojo/files/3249135/testfire.xml.zip)

[2019-06-03 19:49] propersam commented on #1075
seen. You can assign this to me. and set to In Progress

[2019-06-03 20:02] propersam commented on #1143
This issue is yet to be assigned to me.

[2019-06-03 20:04] aaronweaver commented on #1143
@propersam It's all yours. :)

[2019-06-03 20:05] aaronweaver commented on #1197
@dougmcdorman would it work then to push DefectDojo --> Jira --> AgileCraft?

[2019-06-04 07:34] madchap commented on #1157
OK, thanks.

Could there be at least a logging message when this happens? I encountered that this week again, and this is troubling.

[2019-06-04 08:01] NRGLine4Sec commented on #1187
This is a repport scan by sslscan :
[repport_scan_sslscan_https.xml.zip](https://github.com/DefectDojo/django-DefectDojo/files/3251200/repport_scan_sslscan_https.xml.zip)

[2019-06-04 08:39] madchap opened #1210 "Import support for Mozilla observatory"
**Is your feature request related to a problem? Please describe**
N/A

**Describe the solution you'd like**
Parser to import json results from Mozilla's observatory-cli (https://github.com/mozilla/observatory-cli)

Sample file run against github.com, and this is the more readable format here for eye-mapping.

[code]

[sample_observatory.json.zip](https://github.com/DefectDojo/django-DefectDojo/fil

[2019-06-04 09:04] NRGLine4Sec commented on #1061
This is a repport scan by testssl.sh with `| aha >repport_scan_testssl_https.html` export command because there is no output repport from testssl.sh :
[repport_scan_testssl_https.zip](https://github.com/DefectDojo/django-DefectDojo/files/3251458/repport_scan_testssl_https.zip)

[2019-06-04 09:10] madchap opened #1211 "Alerts notifications functional improvements"
**Is your feature request related to a problem? Please describe**
As the email is currently impaired (see #835), the alerts notification icon on the top right hand corner is along with Slack (which needs improvements too #1158) a critical indicator of what's happening or need to happen.

Today, there is no way to:
* clear all alerts directly from the notification pop-up
* clear a single alert from

[2019-06-04 13:34] wheelq commented on #887
where can I find this PR?

[2019-06-04 14:43] p3r1c0 commented on #220
Hi @devGregA @grendel513,
I think that this issue is still pending.
We are using DefectDojo and we have some performance problems. In consequence, I've been reviewing where is the problem and I have been be able to see that the application do a lot of alert/count request, even where no user is using the application (only with the interface opened) . I could prove this intercepting the requests/res

[2019-06-04 14:53] aaronweaver opened #1212 "Importer Whitesource"
Create an importer for [Whitesource](https://www.whitesourcesoftware.com/). Sample file coming shortly.

[2019-06-04 15:30] propersam commented on #1075
The threat class in this template are not categorized into mediun, info, low, high, etc..
..I think I need a list of all the threat class used by IBM APP Scan categorized according to severity.

[2019-06-04 15:34] propersam commented on #1075
The threat I have seen sofar in this template are:

catPredicatableResourceLocation
catInformationLeakage
catcontentSpoofing
catUrlRedirectoryAbuse
catCrossSiteRequestForgery
etc..

They are not categorized according to severity level

[2019-06-04 15:40] propersam commented on #1075
What does `count` and `maxIssueSeverity` item tag attributes under `issue-type-group` tag stand for?

[2019-06-04 15:47] aaronweaver commented on #1075
I wouldn't do anything with the categories. Use the severity: issue-group/item/severity. Count and maxIssueSeverity aren't needed either for the import. For reference view this [importer](https://github.com/infobyte/faraday/blob/master/plugins/repo/appscan/plugin.py).

[2019-06-04 15:59] propersam commented on #1075
This is one huge xml file.

Thanks for the reference I can work with that.

[2019-06-05 05:15] whoami61r opened #1214 "Jira integration bug"
**Bug description**
Can't create issuetype Epic in Jira

**Steps to reproduce**
Steps to reproduce the behavior:
1. Configure Jira in Defectdojo settings accordance documentation
2. Select default issuetype Epic
3. Push finding to Jira
4. See error example "Finding: 5642, Epic Name is required."

By default in Jira field Epic name is required and you can not change this option from field
**Screens

[2019-06-05 10:14] #905 closed

[2019-06-05 16:46] dr3dd589 commented on #1210
hello, @aaronweaver you can assign this to me going to work on it.

[2019-06-05 16:59] aaronweaver commented on #1210
@dr3dd589 you got it!

[2019-06-05 17:05] adracea commented on #1104
`https://test123123.test123123-test.testtesttest.teeeeeessssssssttttt.com:443`
Can you try with this string @propersam ? Still seems to be replicating on the current heroku version :)
![image](https://user-images.githubusercontent.com/6214663/58975279-43613400-87cd-11e9-95f0-0b5cdeeb8837.png)