[2019-06-05 17:45] propersam commented on #1104
oh... i see the error now

[2019-06-05 18:25] propersam commented on #1104
This issue can't be retriggered in my local environment. it seems it has been fixed but the heroku version is yet to be updated

[2019-06-05 18:30] devGregA commented on #1150
@wurstbrot I agree that a policy is needed. Will work on this after the big upgrade this month.

[2019-06-05 19:27] #1194 closed

[2019-06-05 19:28] #1185 closed

[2019-06-05 22:13] Maffooch opened #1216 "Cannot find requirements file during install"
**Bug description**
When doing a fresh install in a docker container, setup.bash cannot find a requirements file to read dependencies from.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Navigate to /setup
2. Run setup.bash -n
3. Wait for error

**Expected behavior**
Dependencies should be install by pip from a requirements file.

**Deployment method** *(select with an `X`)*
- [ ] Kub

[2019-06-05 23:42] mtesauro commented on #1216
**TLDR:  Installer defaults to the Dojo source being in /opt/dojo/django-DefectDojo - but this can be overridden by env vars**

Now for the patient:  A couple of questions:

Q1: Which branch are you installing from? master, python3 or dev?  That file (requirements-2.txt) only lives in the dev and python3 branches currently.

Q2: Also, what was the path where the Dojo source was cloned into?

From

[2019-06-06 00:03] Maffooch commented on #1216
Example B worked like a charm. Excellent work on the educationally thorough explanation!

[2019-06-06 02:38] cymxiao opened #1217 "is it possible to connect to an external MYSQL server for defectdojo?"
I am struggling with the config on the docker-compose yml file to connect it to a remotely hosted mysql database. The reason being, if I want to install Dojo in Prod, I would like the data to persist even when the docker container isn't available.
Is defectdojo possible to connect to an external MySQL server?  your feedback would be great appreciate.

Thanks.

[2019-06-06 06:22] nbuzydeb commented on #1160
8c558b8acc5b0827edaaa96a5936960a6e3b3d6d fixes the issue for me, so I'm closing this ticket.

[2019-06-06 06:22] #1160 closed

[2019-06-06 08:44] nwse-strm-suer opened #1218 "display age/activity of JIRA issues in findings list (creation, last changes)"
**Is your feature request related to a problem? Please describe**
Handling many findings becomes resourceful when the open findings list does not show when a JIRA issue was created or modified. It is crucial to interact with findings that are not worked upon for a longer period and still persist, e.g., because the wrong person was assigned etc. At the moment it is only possible to see when a vulne

[2019-06-06 09:13] nwse-strm-suer opened #1219 "Making Accepting Risks easier to access for Findings"
**Is your feature request related to a problem? Please describe**
Vulnerability manager normally don't patch software by themself. If a finding is reported to the responsible person/team, a product owner may accept this risk of running vulnerable software. At the moment DefectDojo does not offer any solution for "risk acceptance". For a documentation and as a kind of audit trail, this feature woul

[2019-06-06 13:27] aaronweaver commented on #1219
Hi @nwse-strm-suer, did you take a look at test, then scroll down to 'Risk Acceptance'?

![image](https://user-images.githubusercontent.com/220838/59036390-2fedb180-883d-11e9-850e-8d0481bdd0f8.png)

[2019-06-06 13:37] aaronweaver commented on #1217
Hi @cymxiao - It's all the configuration for DefectDojo is through environment variables and those can be seen [here](https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/settings/settings.dist.py), to set an external database export the variable: DD_DATABASE_HOST=yourexternalmysqlhost.

[2019-06-06 16:16] #1148 closed

[2019-06-06 16:16] #1217 closed

[2019-06-06 16:31] devGregA commented on #1219
We should probably add risk acceptance off the finding menu bar, rather than just be available via the engagement interface.

[2019-06-06 17:07] devEricA commented on #1120
Enhancement has been pushed and is ready for review @devGregA. Let me know what you think.

[2019-06-06 20:01] devGregA commented on #1219
@devEricA Please add accepting findings to the dropdown finding menu. Adding a screenshot momentarily.

[2019-06-06 20:03] devGregA commented on #1219
![Screen Shot 2019-06-06 at 3 02 43 PM](https://user-images.githubusercontent.com/4741312/59062790-4bbc7c00-886c-11e9-9474-b588dc2dd477.png)
![Screen Shot 2019-06-06 at 3 03 01 PM](https://user-images.githubusercontent.com/4741312/59062791-4bbc7c00-886c-11e9-8fa5-a4515d3ea270.png)

[2019-06-06 20:04] devGregA commented on #1219
Below "Close Finding" please.

[2019-06-06 20:31] #1120 closed

[2019-06-07 02:55] dragos-sh commented on #1124
@devGregA we can share with you a working sample to have a look over because we just hit the same issue. Burp 2.0.21. xml base64 encoded data, size 55 megs. Please let us know if that would help you out. Cheers.

[2019-06-07 06:26] adracea commented on #1124
@dragos-sh That would be really helpful in order to properly triage this issue and get a fix going. Cheers .

[2019-06-07 08:20] valentijnscholten commented on #1219
Where is the functionality currently located? I remember seeing it and testing it but cannot find it anymore anywhere currently on the dev branch.

[2019-06-07 08:28] madchap commented on #1219
You need to go back to the engagement screen. Then you will see a section dedicated to it called "Risk Acceptance", where you can click the "+" sign. Then, only "Active" and "Verified" findings will show in the select box (which also bears an inconsistency, as if you then want to add further acceptance, they all show -- probably warrants an issue.)

[2019-06-07 08:42] valentijnscholten commented on #1219
Ah thank you, it was below the long list of tests :)
Is there a reason why the risk acceptance is handled as a bolt on proces? I would rather see that it's just a status of a finding and the notes and acceptor etc are visible when viewing the finding. And make it available in as a bulk edit (that would work across engagements/products).

[2019-06-07 09:05] nwse-strm-suer commented on #1219
thank you all for discussing this! I did not find it (not in our preview instance yet). But it seems that the visibility could be improved.

From my workflow I would have expected it in the Status section as a state or as a drop down menu item like @devEricA suggested. In the latter with additional information, a timespan the risk was accepted were possible, making the finding active again after t

[2019-06-07 11:56] wheelq opened #1224 "Import of burp XML fails at do_clean"
**Bug description**
If the XML report contains empty ```<issue>``` items like: ```<issueBackground>``` or ```<remediationDetail>``` or ``` <issueDetail>``` then import (via web upload) fails with the message below (console logs)

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [x ] Docker
- [ ] setup.bash / legacy-setup.bash

**Screenshots**
![image](https://user-images.githubuserc

[2019-06-07 13:32] madchap commented on #1212
There you go. This is a json export from the "vulnerability report" from whitesource on a arbitrary project.

[okhttp-vulnerability-report.json.zip](https://github.com/DefectDojo/django-DefectDojo/files/3266101/okhttp-vulnerability-report.json.zip)

[2019-06-07 13:40] #1155 closed

[2019-06-07 15:59] devGregA commented on #1224
Hi @wheelq we can't investigate without a sample scan. Please feel free to reopen if you can provide.

[2019-06-07 15:59] #1224 closed

[2019-06-07 16:07] adracea commented on #1224
@wheelq are those issues generated by burp itself or extensions or manually modified ? This happens because those fields are mandatory .

[2019-06-07 18:29] propersam commented on #1075
@aaronweaver  I am done with implementing this scanner.

But i'm having issues choosing the type of unit test to write for it.

the sample XML file is too large (over 22,000 lines) I can't just go in and modify the file into *Single finding, no finding and multiple findings*.

Is it okay if I just write the test as a functional selenium test ?

[2019-06-07 18:30] propersam commented on #1075
or can you provide the different instance of the xml file.

one with no findings at all
and another with only 1 finding

[2019-06-07 19:05] dragos-sh commented on #1124
@adracea here is it. https://drive.google.com/open?id=1tzslTqYC_fHpDO7SnURKLfBm40WpiFb1

Is an encrypted archive with some real data. Please have me updated it would be alright to send the password on your current GitHub associated email address.

Cheers.

Dragos

[2019-06-07 22:21] adracea commented on #1124
It would be best if you could try to somehow redact the confidential parts out and upload it here as a .txt for further reference in the unit testing effort we have going on .

[2019-06-07 22:58] dragos-sh commented on #1124
@adracea I am affraid I cannot do that atm. We have decided to try to help you out and provide some real data. To be fair, except a small part, the file does not contain any high sensitive details which you guys should not have access while doing an **inhouse** debugging, without exposing this file to the open Internet.  I'm sorry if this does not represent an option for you.

[2019-06-08 06:48] dr3dd589 commented on #1212
hello, @Maffooch assign this to me.

[2019-06-09 20:25] aaronweaver commented on #862
https://github.com/DefectDojo/sample-scan-files/tree/master/webinspect

[2019-06-10 00:57] #1176 closed

[2019-06-10 09:25] wheelq opened #1228 "Report builder fails with Server Error (500)"
**Bug description**
DD site returns Server Error (500) after submitting 'Save and Run' button in Report Builder using default settings.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '/reports/builder'
2. Click on the 'Save and Run'
3. Server Error (500) is displayed

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [ x] Docker
- [ ] setup.bash / legacy-setup.bash

[2019-06-10 10:16] wheelq commented on #1224
I have extracted all the findings and it turns out the fileds were missing because of the extensions generating those reports.

How come those fields are mandatory? There are some findings which do not require any content/explanation in those fields. .

But yes, this is the case here. Would be nice having more explicit error rather than a complete failure ;)

[2019-06-11 07:31] madchap opened #1237 "Filter states are lost, they should stick"
**Is your feature request related to a problem? Please describe**
When scrubbing through 100s of findings and have a specific filter in place, it'd be nice to have the filters stick unless manually reset to the default.

**Describe the solution you'd like**
For the various page, somehow save the filters state unless manually reset.

[2019-06-11 07:33] madchap opened #1238 "Have a Previous and Next button when on finding"
**Is your feature request related to a problem? Please describe**
When you work on editing a finding, you would then want to go to the next one, without having to go back to the main page (and eventually losing your filters if you just don't hit the browser back button).

**Describe the solution you'd like**
On the finding page, have a way to navigate to previous or next finding directly, without

[2019-06-11 07:48] madchap opened #1239 "Bulk edit of findings do not work if findings mandatory fields are not satisfied"
**Bug description**
And this definitely does not sound like a bad thing, and working by design.

However, that "impact" field being mandatory *after* the initial data ingestion, whereas many importers do not put anything in it on ingestion is making it just a bad experience and the UI does not even reflect what the problem might be.

Would we eventually want to make "impact" a non-mandatory field?

[2019-06-11 12:14] valentijnscholten opened #1240 "'Informational' findings cannot be pushed to JIRA"
**Bug description**
When pushing a finding with severity 'Info' to JIRA, an exception is thrown and an alert is raised inside DefectDojo: ''Priority name 'N/A' is not valid".

It seems that in the JIRA configuration there's no possibility to map "Info" to a corresponding Priority value in JIRA.

It also seems that the severity threshold is somehow not working. I have set it to "Low", but still DD

[2019-06-11 12:50] underfl0w commented on #1228
I've been able to reproduce this issue. 28 findings in total from Nikto, Nmap and OpenVAS.
Consolelog from  django-defectdojo_uwsgi_1
`Exception raised while rendering {% include %} for template 'dojo/report_widget.html'. Empty string rendered instead.

Traceback (most recent call last):

  File "/usr/local/lib/python2.7/site-packages/django/template/loader_tags.py", line 216, in render

    retur

[2019-06-11 12:51] parag85 opened #1241 "An error occurred - message appeared when tried to upload Burp Scan report"
**Bug description**
I am trying to upload a burp scan report to engagement but it gives me an error page.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Terminal
2. Run docker compose command
3. Login via user credentials
4. Go to engagement
5. Select upload feature and select appropriate file (*.html file for burp scan upload)
6. Submit

**Expected behavior**
Findings will be u

[2019-06-11 12:59] adracea commented on #1241
Hey @parag85  you need to upload the burp .xml file , not the .html file .
Could you try uploading the proper file and then let us know ?
Also , it is really strange the the uwsgi segfaults . @devGregA , @aaronweaver I think this would need to be looked into .

[2019-06-11 14:21] jsalado opened #1242 "Imported findings from Kiuwan don't show in metrics dashboards"
**Bug description**
After importing findings for a product from a Kiuwan scan CSV file, the list of findings appear in the findings list for the product and in the correspondent engagement (the Kiuwan scan the gets created automatically with the import).
However, in the dashboard those new findings are not counted and if you go to the product metrics screen they don't appear there either.
I have a

[2019-06-11 15:46] aaronweaver commented on #1242
@jsalado are the findings also set to verified?

[2019-06-11 15:56] clazba opened #1244 "Execute an action when finding status changes"
**Is your feature request related to a problem? Please describe**
I'd like the ability to automatically update configuration/suppression files for security scanning tools based on the status of a finding. For example, if a finding is closed as "false positive" in DD I'd like the ability to update the configuration file for the tool accordingly

**Describe the solution you'd like**
As a developer I

[2019-06-11 16:40] parag85 commented on #1241
Thanks @adracea , successfully uploaded XML file but problem is, whenever any Internal Server 500 error page received at the time of image/video upload to findings, needs to restart docker or server.

[2019-06-11 16:57] aaronweaver commented on #1244
@clazba I think that's a really interesting use case and would be useful for some users. I wonder though if we added webhooks for events with a webhook endpoint that an external service / endpoint could decide how to supress the findings in the various scanners. That feature would be very useful (webhooks) to the community at large and address your specific use case. We could also consider add a m

[2019-06-11 22:25] propersam commented on #1143
why is this issue not yet closed ?... is anytn still unsolved here ??

[2019-06-11 22:27] propersam commented on #1075
finally made a PR..
waiting review...

[2019-06-12 06:10] propersam commented on #1187
what does sslscan contain...

I don't seem to find any information about *Vulnerability Finding*

[2019-06-12 06:21] propersam commented on #1187
@NRGLine4Sec
can I say sslscan result only contains endpoints found on a host and not vulnerabilities?

[2019-06-12 07:47] jsalado commented on #1242
@aaronweaver I see I've set the status as Active AND Verified and now the dashboards show the information.
I see now that the import screen allows you to check both statuses, so they can automatically be created with both set. This obvious ly will depend on the process every user wants to implement and the level of confidence in Kiuwan results ;-)

Thanks. All clear now, I'm closing the issue.

[2019-06-12 07:47] #1242 closed

[2019-06-12 07:53] clazba commented on #1244
@aaronweaver I think it's a super idea and a more robust way to provide 3rd party integration. Is this something the DD core dev team has already started looking into? Else happy to discuss it with some colleagues to see how much work this would be for us to implement.

[2019-06-12 08:36] madchap opened #1249 "Cannot batch update findings with status "mitigated""
**Bug description**
There is no way to mark findings mitigated in a batch way through the UI.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to a finding report
2. Select several findings which are marked for example as "inactive", "out-of-scope"
3. Attempt to mark them as "mitigated"
4. See there is no way than to go one by one.... and cry.

**Expected behavior**
There is a UI opt

[2019-06-12 12:21] NRGLine4Sec opened #1250 "How to back up the DefectDojo database to upgrade to the new release ?"
How to back up the DefectDojo database to upgrade to the new release ?
In the [doc](https://defectdojo.readthedocs.io/en/latest/upgrading.html), You tell us to

but you don't explain how to back up the database and how to re-import the database to the new version of DefectDojo.

In the step 2 :

But the file `django-DefectDojo/dojo/settings/settings.py` don't exist, there is only the file named `s

[2019-06-12 12:56] aaronweaver commented on #1244
@clazba Feel free to work on it, I can convert this to an issue and assign you as the owner. At the moment we are wrapping up the Python3 and Django 2.2 migration.

[2019-06-12 12:57] aaronweaver commented on #1242
@jsalado I think I'll add some text on the screen to indicate that it's only showing active and verified.

[2019-06-12 15:00] nwse-strm-suer opened #1251 "broken queryset tag list when finding with tags becomes a template and then edited"
**Bug description**
When a new finding is edited and saved including tags, a newly created finding template will reuse these tags (correct). But when the finding template is edited, the display of the queryset list of tags is broken. The source code reveals:

`<option value="&lt;queryset [&lt;tag: baz&gt;" selected>&lt;queryset [&lt;tag: baz&gt;</option>`

**Steps to reproduce**
Steps to reproduce

[2019-06-12 15:01] nwse-strm-suer commented on #1251
I am not sure, but maybe it is related to the template tags enhancement: https://github.com/DefectDojo/django-DefectDojo/issues/890

[2019-06-12 19:01] #1219 closed

[2019-06-12 19:46] propersam commented on #1104
With all current changes being put in place .. i doubt this issue still exists....

[2019-06-12 21:08] #1216 closed

[2019-06-12 21:10] #1143 closed

[2019-06-12 21:14] devGregA commented on #1129
I believe @propersam fixed this?

[2019-06-12 21:15] devGregA commented on #1241
I believe images to findings have been fixed by @propersam in a recent PR. Please feel free to create another issue if there is a problem, or update this one.

[2019-06-12 21:15] #1241 closed

[2019-06-12 21:18] #990 closed

[2019-06-12 21:19] devGregA commented on #1211
@devEricA please add a clear all alerts options under view all with a confirmation javascript popup. Please also add an 'x' to each entry to remove an alert

[2019-06-12 21:19] devGregA commented on #1211
![Screen Shot 2019-06-12 at 4 18 44 PM](https://user-images.githubusercontent.com/4741312/59387088-e6fe9700-8d2d-11e9-8886-8920a245a170.png)

[2019-06-12 21:22] devGregA commented on #1251
@devEricA please validate and investigate.

[2019-06-12 21:25] devGregA commented on #1104
@aaronweaver we're automatically updating the heroku instance?

[2019-06-12 21:27] #1137 closed

[2019-06-12 21:27] #1173 closed

[2019-06-12 21:27] #1210 closed

[2019-06-12 21:28] #1212 closed

[2019-06-12 21:31] propersam commented on #1129
Yes, i created and issue #1204 fixed this in a PR that was just recently merged .

[2019-06-12 21:32] Maffooch opened #1254 "Complete ImportScanner Unit Test Requirements"
**Scanner Name**
[Located in python3_dev](https://github.com/DefectDojo/django-DefectDojo/blob/python3_dev/tests/Import_scanner_unit_test.py)

**Sample File**
[To-Do](https://docs.google.com/document/d/14ncrWjAPYQvsYOPg5nMkVW1CO9IJwFhaMRd2w9WpxJI/edit#)

[2019-06-12 21:40] propersam commented on #1129
wait a minute.. i didn't fixx all of this... working on this now

[2019-06-12 22:03] propersam commented on #1129
PR made..

[2019-06-12 22:06] propersam commented on #1129
please have this assigned to me on the gsoc project board

[2019-06-13 17:49] NRGLine4Sec commented on #1187
I understand what you say, with sslscan report, a vulnerability finding correpond to `vulnerable="1"/>` or if `<cipher status=""` is not equal to strong or acceptable. Other data should be noted as information about endpoints.

[2019-06-13 18:19] hujarl commented on #855
Still not seeing the Contrast Scanner import option under the Scan Type dropdown while importing Contrast CSVs

[2019-06-13 18:24] hujarl opened #1257 "Contrast Scanner not available for import"
**Bug description**
Contrast CSV not an available option under the Scan Type dropdown

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Findings
2. Click on Import Scan Results
3. Scroll down to Scan type
4. See error - No Contrast option available.

**Expected behavior**
Contrast Scanner should be available as an import choice per the Documentation

**Environment information**

 -

[2019-06-14 08:57] madchap opened #1263 "Ability to edit notes"
**Is your feature request related to a problem? Please describe**
When adding a note on a test or finding, there is no way for the owner to edit it, just to delete it.

Also, another admin has no right to even delete it, which I would think as admin, could be warranted (provided a proper audit trail of course).

**Describe the solution you'd like**
Have an edit button on the notes, accessible by a

[2019-06-14 08:59] madchap opened #1264 "Ability to have private notes Vs public notes"
**Is your feature request related to a problem? Please describe**
Analysts have a need to exchange notes privately, that would never show up on a report.

Today, if choosing to have notes on the report, they are all displayed.

**Describe the solution you'd like**
Have the ability to make a note private, which would never be included in reports.

[2019-06-14 11:31] dr3dd589 commented on #862
hello, @Maffooch you can assign this to me. working on it.

[2019-06-14 22:11] #895 closed

[2019-06-15 15:47] propersam commented on #1254
Unit test is my focus....

i'm working on this now

[2019-06-15 15:48] propersam commented on #1254
it's probably gonna last all through next week... but i should be done before GSOC evaluation week...

[2019-06-15 18:01] propersam commented on #1254
I have made a PR to update sample_test_file repo..

[2019-06-15 20:27] parag85 opened #1267 "Unable to upload Images to reported vulnerability - Server Error 500"
**Bug description**
Unable to upload Images to reported vulnerability - Server Error 500 page received

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Engagement
2. Click on three dots of any logged vulnerability
3. Scroll down to "Manage Images" and click on it
4. Upload any image from See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2019-06-17 14:55] Maffooch commented on #1267
Hello @parag85 this bug will be fixed in the dev branch in PR #1255. The corrections in that PR have already been made on the python3_dev branch if switching over is an option for you.

[2019-06-17 14:56] #1264 closed

[2019-06-17 19:37] #1211 closed

[2019-06-17 20:55] #1238 closed

[2019-06-18 08:54] pandyaved98 commented on #642
Bug.
It's still showing that wrong password. I've tried all of the given ID & Passwords.

My Tries:
admin / admin
admin / administrator
Mylogin / password
product_owner / product_owner

[2019-06-19 11:26] efficiosoft commented on #1149
Just want to give short feedback. I rebased the new code onto latest dev with Python 3 this morning, which was really easy and works as expected. The docs aren't ready yet and I need to do some code cleanup, but then I'll file a PR with my new report builder, which will be integrating new object level permissions using the rules framework and a set of template snippets and classes to simplify enfo

[2019-06-19 13:04] aaronweaver commented on #1149
@efficiosoft Glad to hear Python3 went smoothly. Looking forward to the PR!

[2019-06-19 14:50] dr3dd589 commented on #862
@Maffooch you can close this one now.

[2019-06-19 14:54] #862 closed

[2019-06-19 14:56] dr3dd589 commented on #1188
hello, @NRGLine4Sec Can you provide a sample report for this?

[2019-06-19 15:14] dr3dd589 commented on #1140
hello, @NRGLine4Sec Can you provide some information about which type of information you want to extract from this XML report and there is also no vulnerability describe in your report, how we decide which we have to parse or not?

[2019-06-19 16:25] devEricA commented on #1251
@devGregA The problem is in the structure of template's tags, specifically in the mktemplate method of Finding. When using sys.stderr to check the data of finding tags and template tags, I noticed that the data for finding's tags was good, but the data template's tags were broken. @Maffooch and I tried several methods of copying the finding's tags into the template's tags, but all have resulted in

[2019-06-19 19:55] #1263 closed

[2019-06-19 19:57] #1257 closed

[2019-06-20 15:58] nwse-strm-suer opened #1281 "short hover tooltip of latest finding comment in finding lists"
**Is your feature request related to a problem?**
In a list of many findings, the latest comment (possible coming from JIRA) helps to enrich the "status" of a finding. At the moment, this information is obtained by clicking on the comment icon for each finding only.

**Describe the solution you'd like**
I would prefer a hover tooltip to show the starting words or sentence of the last comment in a

[2019-06-20 18:40] #1204 closed

[2019-06-20 18:43] #1075 closed

[2019-06-21 04:58] dr3dd589 commented on #1187
@propersam are you working on this?

[2019-06-21 07:30] propersam commented on #1187
nope not now...
I am currently working on the scanner unittest task

[2019-06-21 07:40] NRGLine4Sec commented on #1140
The important information are :
* The use of Weak Cipher suite
* the validation of certificate
* the vulnerability in Heartblead, OpenSSL CCS Injection, ...
* when `isSecure=""` is not equal to true
* when `<sslv2 isProtocolSupported=""` is equal to true  (vulnerable)
* when `<sslv3 isProtocolSupported=""` is equal to true  (vulnerable)

For reference view this [importer](https://github.com/infoby

[2019-06-21 08:55] NRGLine4Sec commented on #1037
Did you work on the deduplication with the result of different scanner ?
I think, it could be a good idea to add a field in the result when a vulnerability is discovered by different tool.
For example, if I have a vulnerability discovered by Nexpose and by OpenVAS, the `Found By` field could be like `Nexpose, OpenVAS` to know that the vulnerability is discovered by two different scanners.
The `Mit

[2019-06-21 09:16] NRGLine4Sec opened #1286 "add a simple button to upgrade DefectDojo"
It could be great if you add a simple button to upgrade DefectDojo in `Configuration`, `System Settings` page.

[2019-06-21 09:43] dr3dd589 commented on #1140
hello, @Maffooch working on it now, assign this to me.

[2019-06-21 12:23] drwetter commented on #1061
Don't know what defectdojo can swallow but I guess one of the JSON formats or CSV should do it

[code]

[2019-06-21 19:28] #1129 closed

[2019-06-21 19:50] devGregA commented on #1197
Hi All, I'm going to archive this for now. AgileCraft has since been acquired by Atlassian, there maybe an easy way to integrate JIRA issues with what they're now calling JIRA Align, but I don't think we can make this happen in the near future.

[2019-06-21 19:50] #1197 closed

[2019-06-21 19:52] #904 closed

[2019-06-21 19:59] devGregA commented on #1154
@devEricA Please add a name that displays instead of the URL / username

[2019-06-21 20:00] valentijnscholten commented on #1154
Or maybe a name AND URL/username (between brackets)

[2019-06-22 10:32] madchap opened #1287 "Can't DROP 'product_grade_'"
**Bug description**
Pulling from `dev`, and doing a docker-compose up out of fresh checkout and docker image local build.

[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Clean clone from https, and `git checkout dev`
2. Remove all local images to force rebuild
2. setEnv.sh dev
3. docker-compose up
4. See error

**Expected behavior**
A clear and concise description of what you e

[2019-06-22 11:47] dr3dd589 commented on #1287
I had also faced this error. I fixed this by commenting below code in `0006_django2_upgrade.py`
[code]

[2019-06-22 15:01] madchap commented on #1287
Thanks for the tip.

After that, I get a `django.db.utils.OperationalError: (1060, "Duplicate column name 'product_grade_b'")` ;-) this is again after wiping all out clean.

[2019-06-22 15:07] dr3dd589 commented on #1287
it means in your database has already column name `product_grade_b`. I think maybe then you should remove this one too in the same file:-
[code]

[2019-06-22 15:08] madchap commented on #1287
Yes. I was looking if there was a way in django to do a "if not exist", but nothing in the AddField() method anyways.

[2019-06-22 15:11] madchap commented on #1287
hehe and now I guess a collateral:

[code]

[2019-06-22 15:24] madchap commented on #1287
After clearing again everything (`docker container prune && docker volume prune`) and having the RemoveField() removed, I still have the error above with 008 it goes further but bombs still with bunch of messages on both uwsgi and initializer.

`initializer_1   | django.db.utils.IntegrityError: Problem installing fixture '/app/dojo/fixtures/system_settings.json': Could not load dojo.System_Setting

[2019-06-22 15:40] madchap commented on #1287
So it works OK from a clean slate. This means this does not work when trying to upgrade from a previous version, unless tweaking the migration file knowing what you're doing... :-/

[2019-06-22 16:44] NRGLine4Sec commented on #1140
#issuecomment-504677197

[2019-06-22 16:45] madchap opened #1289 "loaddata Test_Type duplicate entry"
**Bug description**
Context: Trying to export/import data from an instance running off of `dev` (python 2, May 28) to the newest `dev` (python 3, June 22), the latter being empty. My opinion is not to even try updating in place as it stands.

The instance running has data I cannot lose and need to re-import. I am guessing this is also a good exercise and some documentation could come out of it.

T

[2019-06-24 07:04] pratik0101 commented on #1289
Can i plz tell us impact?

[2019-06-24 07:07] pratik0101 commented on #1287
can u plz tell the impact

[2019-06-24 09:11] madchap commented on #1289
Inability to have a proper backup/restore solution, or eventual upgrade path.

[2019-06-24 13:23] Maffooch commented on #1287
I've been struggling to understand why this is happening as well. Notice when applying migrations, dojo 0001-0005 are not applied. That product_grade_ column is added in 0001 but then removed in 0006. I can only assume they are not applied because they already have been on a previous/current build. In that case, there should not be any issue with removing a column that already exists. Very aggrava

[2019-06-24 16:11] devGregA opened #1290 "Auto correct doesn't work in certain text blocks."
**Bug description**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [ ] Docker
- [ ] setup.bash / legacy-setup.bash

[2019-06-24 16:47] Seronsecurity opened #1291 "Demo Admin - Reports bug"
**Bug description**
A clear and concise description of what the bug is.

Reports>Report Builder does not work.
https://defectdojo.herokuapp.com/reports/builder

I was going through ADMIN demo with supplied credentials and errored out.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'https://defectdojo.herokuapp.com/reports'
2. Click on 'Reports Builder'
3. See error

**Expected b

[2019-06-25 14:57] #1290 closed

[2019-06-25 14:58] #1249 closed

[2019-06-25 15:26] #951 closed

[2019-06-25 15:26] #891 closed

[2019-06-25 15:58] aaronweaver commented on #1291
@Seronsecurity there is a new report builder on the way.

[2019-06-25 15:58] #1291 closed

[2019-06-25 16:52] Maffooch opened #1295 "Python2.7 Legacy Branch Thorough Test"
The legacy dev branch needs to be thoroughly tested.
Every single button needs to be clicked!
This includes testing all scanners, API stuff, and various reports.
Record any issues you come across.

[2019-06-25 18:12] aaronweaver commented on #1287
I believe you can do --fake to skip over it. One of the test cases I had thought about awhile ago is that we should have a database at a prior version in the repo and then attempt to apply the migration to that database. This check would have caught this issue.

There is more robust testing now in migrations but I think this last test would be worthwhile.

[2019-06-25 21:26] #954 closed

[2019-06-25 22:48] #1027 closed

[2019-06-26 04:15] dougmorato opened #1297 "Requirements install might be blocked on enterprise environments"
**Bug description**
There are 2 new requirements.txt for the Python 3 branch that uses git+git  as the protocol for connectivity, and in corporate environments, this might not respect the proxy settings on configured on the server/client performing the install

The fix would be using git+https:// instead

**Steps to reproduce**
Steps to reproduce the behavior:
1. Clone the DEV repository
2. Run do

[2019-06-26 07:02] NRGLine4Sec commented on #1037
@aaronweaver ?

[2019-06-26 07:31] NRGLine4Sec opened #1299 "Add the ability to export report as PDF"
Actuallly, it's only possible to export report in HTML or in AsciiDoc, it's would be great if you had the ability to export these as PDF.

[2019-06-26 09:21] Oxima69 opened #1300 "installation documentation"
Sorry. I am a beginner Linux/defectdojo
I am confused. python2, python3, pip pip3 Ubuntu 16.04, 18.04 virtualenv, venv, dev branch, requirenments.txt ...... .setup.bash etc.

I just can't get it to work.
Is there a current installation guide somewhere ?

Thank you guys

[2019-06-26 13:19] madchap opened #1301 ""under review" status not showing in status column"
**Bug description**
When the box "Under Defect Review" is ticked, you cannot see it in the status column.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to a finding
2. Tick the "under defect review" box
3. Save
4. Notice the status is not reflected in the column, whereas the data was saved.

**Expected behavior**
A visual clue is provided on the listing to quickly identify finding

[2019-06-26 13:23] madchap opened #1302 "Twistlock parser should base itself on severity and not CVSS score"
**Bug description**
Depending on what we want to achieve here I guess.

If all parsers base themselves on CVSS score, we may want to keep this way to be homogeneous in DD.

However, going through a twistlock report now, the severity can be "low" (and shown as low in twistlock itself), the cvss score above 9, and we have a discrepancy.

Thoughts?

[2019-06-26 13:24] madchap commented on #1302
@aaronweaver @devGregA @valentijnscholten ^

[2019-06-26 13:29] aaronweaver commented on #1302
@madchap Do they explain why there is a discrepancy in severity vs. CVSS score? Are they doing some modification based on other mitigating factors? Most of the scanners utilize the severity field as CVSS support from the scanners varies.

[2019-06-26 14:30] madchap commented on #1301
It does show, however, if you could through "request peer review" from a finding's view page.

I would expect the 2 to show "under review" in the column.

[2019-06-26 16:30] #1297 closed

[2019-06-26 16:32] #1011 closed

[2019-06-26 16:37] aaronweaver commented on #1037
@NRGLine4Sec If you can show a sample of two identical findings from Nexpose and OpenVAS. My guess is that the endpoint and CWE aren't matching as d-edupe looks at that to figure it out.

[2019-06-26 18:02] dougmorato opened #1303 "Missing DD_KEY from settings file"
**Bug description**
The credential manager feature from Defect Dojo expects that there is a DD_KEY variable to be present on the settings.py file. This key is the one use to encrypt credentials in the database.

Currently, the settings.dist.py file has a variable called DD_CREDENTIAL_AES_256_KEY that is generated by Dojo bootstrap files and is also a managed secret in the helm charts, but there is

[2019-06-26 20:25] #1267 closed

[2019-06-26 23:45] dougmorato opened #1305 "Product details view is not rendering properly"
**Bug description**
After the "Benchmark Progress" feature implementation, the Metadata and Contacts area is not rendering on the right side of the screen as they used to, and now render below the benchmark progress

**Expected behavior**
Metadata, Contacts, and Languages should be on the right side of the screen

**Deployment method** *(select with an `X`)*
- [X] Kubernetes
- [X] Docker
- [ ] set

[2019-06-27 03:14] dougmorato opened #1307 "Support Azure AD as authentication method"
**Feature request**
As more and more enterprises are leveraging Office 365 and Azure, implementing Azure AD authentication using OAuth would be extremely helpful as an alternative from relying on AD/LDAP connectivity, enabling admins to deploy Defect Dojo in the cloud without having to send authentication requests back to on-premises AD/LDAP

**Describe the solution you'd like**

- As a user, I wo

[2019-06-27 07:52] ptrovatelli commented on #1300
Hi @Oxima69 . Are you on linux or windows?
for starting I recommend using the docker method described in
- https://github.com/DefectDojo/django-DefectDojo/tree/dev §"quick start"
- and a bit more detailed in
https://github.com/DefectDojo/django-DefectDojo/blob/dev/DOCKER.md (some of the commands here require linux but you should check the pre-requisites there is the quick start is not working)

[2019-06-27 07:53] madchap opened #1310 "Enable users mail notification by default for certain events"
**Is your feature request related to a problem? Please describe**
When setting up defectdojo for email, one would expect users to receive mail for events that require their specific attention.

These would be in my opinion:
* User mentioned
* Code review
* Review requested

This issue is to change the default behavior to have these events auto-enabled at setup time.

[2019-06-27 07:59] madchap opened #1311 "Review emails get sent to unaddressed users"
**Bug description**
If I request a review to a specific user, all users that have the "Personal" notification for "Review requested" enabled receive the email. They should not, since they were not targeted in the review request.

This is on dev.

[2019-06-27 08:12] adracea commented on #1311
Hey , the email system works like this :
If the user is subscribed to receive email notifications of the reviews, he'll get an email of that no matter if he is or not involved in the process . I think this should be up for a rework as it doesn't really make much sense and we should most likely only email the involved person (from which the review was requested) .

[2019-06-27 08:17] madchap commented on #1311
Yes indeed, the point of me opening the issue ;-) Thanks for confirming.

[2019-06-27 08:26] madchap commented on #1302
I don't know.

However, looking at other scanners, I think I will change the behavior to take in `severity` and not `cvss`. There are a few that use cvss apparently, because there may be no obvious severity field.

If you agree with this, I will patch it.

[2019-06-27 08:35] valentijnscholten commented on #1302
I would think using severity would be best to stay in line with the other scanners. CVSS could (should?) be its own field in DefectDojo...

[2019-06-27 08:59] madchap commented on #1289
@aaronweaver This thing is definitely blocking me to move forward with DefectDojo. The ability to export/import is crucial, even for development purposes to test upgrade path for example.

Who do you think would be best at helping me out with this? I will dig some more, but would definitely appreciate a Django expert pointers.

Thank you!

[2019-06-27 09:00] madchap commented on #1302
I would agree with CVSS being its own field as well.

[2019-06-27 09:07] valentijnscholten commented on #1302
might be best to have a separate issue/pr for that though

[2019-06-27 09:17] madchap commented on #1302
Of course.

[2019-06-27 09:19] madchap opened #1313 "Have specific fields for CVSS string and base score"
**Is your feature request related to a problem? Please describe**
Have optional fields to hold the information in a structured way.

The v2 API should also be updated accordingly if this is a separate process (?)

[2019-06-27 09:19] madchap commented on #1313
@valentijnscholten fyi

[2019-06-27 09:20] madchap commented on #1286
If we could get `dumpdata` and `loaddata` work flawlessly it would help.

Currently not the case as I tried and raised an issue here: #1289

[2019-06-27 09:34] valentijnscholten commented on #1289
Why is an in place upgrade not an option? I think I was told it should be ok to do an in place upgrade.

[2019-06-27 10:00] NRGLine4Sec commented on #1286
Yes, I can't upgrade to the new version of DefectDojo because, I already try to upgrade with the help of the documentation but it's not working. I had open an issue : https://github.com/DefectDojo/django-DefectDojo/issues/1250, but no one has answered me yet. This is why I open this issue, because it's would be great if we just have to click on the "upgrade" button and DefectDojo uprade itself aut

[2019-06-27 10:11] madchap commented on #1289
My current workaround, only locally test (partially, i.e clicking around)

On your new defectdojo instance, where you currently have no data other than what the initializer did:
[code]
Load the fixture.

It (seems to) have worked for me.

[2019-06-27 12:56] madchap opened #1314 "Changing DefectDojo URL breaks alerts links"
**Bug description**
The table `dojo_alerts` contains the full URL in the `url` field.

If you import data onto another instance, or change the port of the instance, the links of the alerts break.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Do some stuff to have alerts
2. Modify your instance port and restart
3. Note the Alerts links still point to the original link and will fail to

[2019-06-27 13:13] madchap commented on #1314
Example, I changed the defectdojo instance port as `dev` progressed with Dockerfile changes, so had to go to mysql and do:

`update defectdojo.dojo_alerts set url = replace(url, ':8000', ':8080') where instr(url, ':8000');`

in order for the links to keep working.

[2019-06-27 13:21] madchap opened #1315 "Viewing all findings fail"
**Bug description**
[code]

This is on today's `dev` checkout, new image rebuilt.

For context, this is also after a `dumpdata`/`loaddata`, and this seems to be a key element (or not)?

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to `Findings` > `All Findings`
2. See it bomb

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Deployme

[2019-06-27 13:33] madchap commented on #1315
Note that if you go through a test within an engagement, it works fine. Going to the "Findings" tab of the engagement also fails (since the call is the same as reported in the original post).

[2019-06-27 14:31] madchap commented on #1315
It seems that it may relate to #1289 ... the loaddata never re-import the table's data `dojo_test_type`.

[2019-06-27 15:11] Oxima69 commented on #1300
Hi @ptrovatelli Thanks for your answer.
I'am on Linux.
And prefer the installation for production.
https://defectdojo.readthedocs.io/en/latest/running-in-production.html

- fresh Ubuntu 18 has python3 installed
- defectdojo´s dev branch is supposed to be on python3 (requirements.txt)

setup.bash install python2 etc....

Somewhat difficult for me to describe the exact problem as I previously had no

[2019-06-27 16:08] devGregA opened #1316 "Overhaul permissions"
Change permissions to an access based matrixs where methods check if a user is_authorized rather than is_staff.

[2019-06-27 16:16] devGregA opened #1317 "Make Active Directory and LDAP work out of the box"
Find online interactive AD / LDAP server for testing (like you did what okta).
Add libraries / settings to make them easily configurable.

[2019-06-27 16:17] devGregA commented on #1317
https://django-auth-ldap.readthedocs.io/en/latest/

[2019-06-27 17:16] #962 closed

[2019-06-27 18:30] #1305 closed

[2019-06-27 18:38] #1303 closed

[2019-06-27 18:39] #1302 closed

[2019-06-27 19:14] Maffooch commented on #1315
Just tested dumpdata/loaddata from current dev branch without any issue. Dumping and loading occurred on the same branch. Just curious, are you trying to load a python2.7 dumped data file on the the python3 branch? If so, that may be the issue here.

[2019-06-27 19:16] madchap commented on #1315
yes, exactly the case, as i was upgrading for an instance people use for a POC on dev branch.

[2019-06-27 19:21] Maffooch commented on #1315
Thanks for the clarification. This is going to be a tough one to track down.

[2019-06-27 19:44] ptrovatelli commented on #1300
OK. I can't help you though i'm only using docker for now. I'm not sure what's the status with the linux install right now. For general help request, maybe it's better you start with the stack channel though, and open an issue when you have found something specific that's definitely not working.
Slack link can be found under "getting involved" at https://github.com/DefectDojo/django-DefectDojo
At

[2019-06-27 21:52] Maffooch opened #1319 "Separate Product forms based on context"
**Bug description**
When attempting to add a new product, there is a different form based on which direction taken to get there.

For Example:
http://127.0.0.1:8080/product/type/1/add_product &
http://127.0.0.1:8080/product/add
produce two different forms.

**Steps to reproduce**
Steps to reproduce the behavior:
For Form 1
1. Go to Dashboard
2. Click on Add product
3. See long (better) Form

For F

[2019-06-28 07:17] dragos-sh commented on #1011
:+1:

Got the same:

[code]

[2019-06-28 07:46] madchap opened #1320 "Travis should use python3 for flake8 tests"
**Is your feature request related to a problem? Please describe**
See example of #1318 for flake8 failure.

[code]

They pass when on python3. The code there is python 3.7+ only.

[2019-06-28 11:00] Oxima69 opened #1322 "Server Error 500 importing Arachni json Report"
**Bug description**
Error 500 importing Arachni json Report.

**Deployment method**
- [ ] Kubernetes
- [ ] Docker
- [x] setup.bash / legacy-setup.bash

**Environment information**
 - Operating System: Ubuntu 18.04
 - DefectDojo version: Dev branch
2d099e39: Merge pull request #1312 from madchap/fix-twistlock-sev-1302 [2019-06-27 13:17:19 -0500]

**Console logs** (optional)
Jun 28 12:18:24 dojo doj

[2019-06-28 12:31] Oxima69 opened #1323 "Server Error (500) Upload Risk Exception"
**Bug description**
when saving a risk exception error 500 appears

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Engagement.'
2. Click on '+ Add Risk Acceptance'
3. Scroll down to 'save.'
4. See error

**Deployment method**
- [ ] Kubernetes
- [ ] Docker
- [X] setup.bash / legacy-setup.bash

**Environment information**
 - Operating System: Ubuntu 18.04
 - DefectDojo version: De

[2019-06-28 12:32] madchap commented on #1040
If the JIRA id was manually put in Dojo (via API for example, or via the UI when it will exist), then further attempt to automatically sync jira and dojo for this issue should not take place.

Maybe an immediate workaround to allow people inputting manually through the API would be to make sure the "Push to JIRA" checkbox does not get re-ticked automatically. This way, the current logic `if push_t

[2019-06-28 12:45] Oxima69 commented on #1300
Okay, thanks. I've got it going now.
I had to use this setup.bash file.

https://github.com/DefectDojo/django-DefectDojo/blob/dev/setup/setup.bash

This one looks better. --> python3

[2019-06-28 12:45] #1300 closed

[2019-06-28 14:03] Maffooch commented on #1011
@dragos-sh Are you still having this issue on the current dev branch?

[2019-06-28 16:24] devEricA commented on #1295
Test Completed. Here's my report: https://docs.google.com/document/d/1ipoB6oRT3DOE9smgSsFzgOmlcouinKGhr2URaqwXkBU/edit?usp=sharing

[2019-06-28 16:38] devGregA commented on #1322
@devEricA

[2019-06-28 16:42] devEricA commented on #1315
@madchap would it be possible to share the dumpdata file that you used? The reason I ask is because I was able to load the view all findings page using a python2.7 dumpdata file in the python3 branch.

[2019-06-28 16:46] dragos-sh commented on #1011
@Maffooch Hi, I am seeing this message while I am using the version from the **master** branch. Thank you.

[2019-06-28 16:48] Maffooch commented on #1011
@dragos-sh Good deal. Not sure when that fix will make it to master branch, but it is currently in the dev branch. Thank you for confirming!

[2019-06-28 17:19] Maffooch commented on #1320
Turns out when Travis pulls a copy of python3 for flake8 testing, it pulls the default of Debian. At this time, the default is Python 3.5. Should just be as simple as pulling a newer reference of python to set this straight.

[2019-06-28 20:47] dragos-sh commented on #450
@aaronweaver Hi, as a quick question instead of opening a whole new thread, how do you guys are loaded /apply the boostrap.min.css file? I'd like to do some tests related to the v4 version and I am yet able to figure out where I can find this file during a standard docker deployment. Thanks!

[2019-06-29 06:58] ptrovatelli commented on #1300
@Oxima69 so there is an issue: the documentation points to the wrong file when using python3 :) Other than that, every was working just by following the documentation?
thanks

[2019-06-29 12:26] Oxima69 commented on #1322
Nice ....it works, thank you for your effort.
Little question from a beginner.
I just did a git pull to get the changes. That's enough ?

[2019-06-29 12:26] Oxima69 commented on #1323
Nice ....it works, thank you for your effort.

[2019-07-01 04:51] #1323 closed

[2019-07-01 04:51] #1322 closed

[2019-07-01 04:52] #1320 closed

[2019-07-01 04:52] #1295 closed

[2019-07-01 04:59] devGregA commented on #1286
@NRGLine4Sec I'm going to go ahead and archive this issue for now. I agree that upgrades are not as easy as they should be. At some point it is something we'll revisit, but our current focus is making functionality as resilient as possible through code changes.

[2019-07-01 04:59] #1286 closed

[2019-07-01 05:03] devGregA commented on #1299
Hi @NRGLine4Sec we used to support a pdf option for reports, but it created some incompatibility issues and inconsistencies in regards to libraries. What most folks do now is use the HTML export and then save to PDF.

[2019-07-01 05:03] #1299 closed

[2019-07-01 05:18] devGregA commented on #1289
@madchap you're running into overlap in regards to what the initializer is doing and what is in your dump. Dumpdata also has an exclude option, so if disabling the initializer isn't an option, you can pass over a specific structure such as test type: `python manage.py  dumpdata dojo --exclude dojo.test_type >> backup.json`. You can also disable the env variable `DD_INITIALIZE`, which tells Dojo no

[2019-07-01 05:18] #1289 closed

[2019-07-01 07:25] NRGLine4Sec commented on #1286
OK but maybe you could add this to you [intern](https://github.com/DefectDojo/django-DefectDojo/projects/7) to do list ?

[2019-07-01 15:06] devEricA commented on #1052
@madchap Are you still having trouble with dumpdata? I just tested the command in my docker container and it ran through just fine.

[2019-07-01 16:23] devGregA commented on #1149
Hi @efficiosoft wanted to check in. Did you need any help with this? This is one we're all very excited about and what to do what we can, should you need anything.

[2019-07-01 17:11] madchap commented on #1052
This is good, we can close. Thanks for the ping.

[2019-07-01 17:11] #1052 closed

[2019-07-01 18:21] devGregA commented on #1104
Changes should be propagated at this point.

[2019-07-01 18:21] #1104 closed

[2019-07-01 20:37] devGregA opened #1333 "Dojo Intake Survey"
**Is your feature request related to a problem? Please describe**
A clear and concise description of what the problem is.

Project Goal: Add intake functions to Dojo that allow users to request assessments and provide information through a questionnaire.

We had done this previously at Rackspace. Here is the code: https://github.com/grendel513/defectDojo-engagement-survey

- [x] Step 1: [Convert t

[2019-07-01 20:40] #947 closed

[2019-07-01 21:02] aaronweaver commented on #1313
We've talked about doing this in the past and were considering using an API such as [this](https://github.com/toolswatch/pycvss3) for parsing the string.

[2019-07-01 21:06] aaronweaver commented on #1307
@dougmorato I believe you can use oauth2 or saml with social auth. There is a guide [here](https://python-social-auth.readthedocs.io/en/latest/backends/azuread.html). Might just be a matter of adding those to the settings.py config.

[2019-07-02 07:09] #980 closed

[2019-07-02 09:36] efficiosoft commented on #1149
Hi @devGregA and @valentijnscholten

A design review would be great indeed. The code can be found in [this branch](https://github.com/efficiosoft/django-DefectDojo/tree/tex-reports). Let me describe how the whole system works.

1. I separated base classes and helper functions that are used for all models into `dojo.models_base`.

2. Each component (like product, finding etc.) can have its own `mod

[2019-07-02 09:41] valentijnscholten commented on #1149
Sounds great. Haven't looked at the code yet, but how would an admin assign permissions for a product to a user?

[2019-07-02 09:44] efficiosoft commented on #1149
The same way as before. This changes mainly provide a way to declare how permissions are checked. Have a look at the `Product` model which now uses the new `DojoModelManager`.

[2019-07-02 11:43] efficiosoft commented on #1149
The view that actually changes the `authorized_users` however, will be an `UpdateView` and thus be guarded by the `dojo.change_product` permission for the product in question.

[2019-07-02 13:45] madchap commented on #1004
would be nice to bring it to the next stage!

[2019-07-02 14:54] exenin commented on #1228
- [11/Jun/2019:12:44:17 +0000] "GET /static/fullcalendar/dist/fullcalendar.min.js HTTP/1.1" 404 154    could this be it?

[2019-07-02 15:17] exenin commented on #1124
Ive been running into random  500s on importing scan results,  first it was ZAP, then NMAP.

For the  NMAP xml results file:
Turns out the XML file was malformed, missing the closing tag for
  </nmaprun>

I am generating the result from python-nmap

[2019-07-02 15:28] alles-klar commented on #1316
There is already some work: https://github.com/DefectDojo/django-DefectDojo/issues/1149

[2019-07-02 17:08] aaronweaver commented on #1314
@Maffooch We should probably add a DD_DOJO_URL to settings.dist.py and update alerts to utilize that.

[2019-07-02 19:16] aaronweaver commented on #1186
@dr3dd589 See attached, also please submit this file as a sample to the sample repo. Thx! Change the name to wordpress.json.

Output for wordpress -f json
[wordpress.json.txt](https://github.com/DefectDojo/django-DefectDojo/files/3351957/wordpress.json.txt)

[2019-07-02 19:17] aaronweaver commented on #1187
@dr3dd589 Did you take this one yet?

[2019-07-02 19:25] aaronweaver commented on #1188
@NRGLine4Sec Can you provide a sample file, we have the bandwidth to do it now. Thx!

[2019-07-03 06:22] madchap commented on #1315
Hey,

Unfortunately, I can't unless I redact it.

[2019-07-03 06:24] madchap commented on #1315
@devEricA Did you take the same `datadump` options?

[2019-07-03 06:33] madchap opened #1336 "Unable to serialize database with dumpdata"
**Bug description**
On a python3 dev branch (from june 26), I wanted to perform a `dumpdata` prior to upgrading.
The following command

```docker exec -ti dojo_upstream_afterpy3_migration_uwsgi_1 bash -c 'python manage.py dumpdata --indent=4 -e sessions -e admin --natural-foreign --natural-primary -e contenttypes -e auth.permission' > datadump_prior_to_update.json```

launches, performs up to a ce

[2019-07-03 08:04] ptrovatelli commented on #1145
see also https://github.com/DefectDojo/django-DefectDojo/projects/7#card-20402679

[2019-07-03 08:13] wheelq opened #1337 "Veracode ssllabs import fail"
DD fails when ssllabs report file doesn't contain `suites` for any of the scanned hosts.

## Error:
[code]

[2019-07-03 08:13] wheelq commented on #1337
nice #1337 :D

[2019-07-03 08:14] wheelq opened #1338 "Veracode Static Dynamic upload fail"
File to import: veracode/veracode.Sample_Static_and_Dynamic.xml
Issue: DD reports Server Error (500)
Logs:

[code]

[2019-07-03 08:18] efficiosoft commented on #1149
@valentijnscholten I edited point 3 in yesterdays comment to make it more clear.

[2019-07-03 10:08] ptrovatelli commented on #1065
@devGregA I think this broke the APIV1 importscan call (there is no test on this; only apiv2 import is tested).
Found on python2 and python3 branch
python2 branch:
[code]

python3 branch:
[code]

This is due to the change in import_parser_factory signature in factory.py: there are 2 calls in api.py with only 3 parameters:
[code]
We could add a dummy "true","true" parameter in the calls but do we r

[2019-07-03 10:23] #987 closed

[2019-07-03 12:15] madchap opened #1339 "Add ability to bulk edit tags on findings"
**Is your feature request related to a problem? Please describe**
Tags can be leveraged quite a lot, especially when needing to adapt to corner cases the model does not allow room for.

Tags should become 1st class citizens in Dojo.

A step towards that would be to add the ability to bulk edit tags on findings.

[2019-07-03 12:25] madchap opened #1340 "API v2: Add ability to deal with findings through tags"
**Is your feature request related to a problem? Please describe**
In the same vein in making tags a first-class citizen, we should be able to deal with findings using tags, through the API.

Today, no parameter allows this.

`/api/v2/findings/` API path should be augmented with a `tags` parameter or similiar.

[2019-07-03 12:28] aaronweaver commented on #1065
@devEricA Can you investigate?

[2019-07-03 14:29] devEricA commented on #1065
I am on it @aaronweaver

[2019-07-03 15:19] dr3dd589 commented on #1187
no, currently working on wpscan parser now.

[2019-07-04 11:46] RonnyDo opened #1342 "Feature request: "Download templates as...""
We use the Dojo as our central finding database and it's absolutely amazin. Thank you for this wonderful piece of software!

I would like to export the list of finding templates, to work "offline" with it. E.g. if you're working in the network of a customer and don't have access to the Dojo.
I'm aware of the API call to /api/v2/finding_templates/, but that doesn't provide the tags for each finding

[2019-07-04 12:38] efficiosoft commented on #1149
Well, we now also have inheritance of related fields when filtering a user's base queryset, so that we can express something like this, without having to repeat the conditions for product:

[2019-07-04 13:16] madchap opened #1343 "API: Ability to retrieve findings notes"
**Is your feature request related to a problem? Please describe**
The API does not have any endpoint to retrieve notes made on findings.

**Describe the solution you'd like**
An endpoint to retrieve notes with their id.

Ideally, the whole suite of methods as appropriate.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you have

[2019-07-04 14:13] madchap opened #1344 "Notes created from review requests should be marked private by default"
**Is your feature request related to a problem? Please describe**
With the recent change with finding notes that can now be private, notes added to a finding per a review request should be marked private by default.

[2019-07-04 20:09] valentijnscholten opened #1346 "Add "remove all" for Alerts"
**Is your feature request related to a problem? Please describe**
As a staff user I'm currently seeing 75 pages of alerts and I would like to be able to remove them all at once

**Describe the solution you'd like**
Remove all button

[2019-07-04 20:17] valentijnscholten opened #1347 "JIRA integration broken for issues without CVE"
**Bug description**

**Steps to reproduce**
Steps to reproduce the behavior:
1. Import some issues that do not have a CVE, for example from an NPM audit scan.
2. View the engagement
3. Select all issues
4. Click bulk edit
5. Check "push to jira"
6. Click Submit
7. Observe exception in log:

[code]

**Expected behavior**
Successful push to jira

I checked and the problematic line is still present i

[2019-07-05 05:55] madchap commented on #1346
This was done already in #1211 ?

[2019-07-05 07:05] valentijnscholten commented on #1346
Hmm I searched for 'alert' and 'alerts' and 'remove all' etc. Not for 'clear all' I guess, but good that it is already there, guess I need to upgrade to python3.

[2019-07-05 09:38] bilalk88 opened #1349 "Getting ERROR: Service 'uwsgi' failed to build while executing docker-compose build"
# docker-compose build
mysql uses an image, skipping
initializer uses an image, skipping
rabbitmq uses an image, skipping
celeryworker uses an image, skipping
celerybeat uses an image, skipping
Building uwsgi
Step 1/21 : FROM python:2 as build
**ERROR: Service 'uwsgi' failed to build: Error parsing reference: "python:2 as build" is not a valid repository/tag: invalid reference format**

I'm using

[2019-07-06 05:51] dr3dd589 commented on #1186
@Maffooch it's done you can close this one.

[2019-07-07 12:39] #882 closed

[2019-07-08 08:17] denniskniep opened #1352 "Download AsciiDoc report as plaintext"
**Is your feature request related to a problem? Please describe**
Everytime copy/paste the ascii-doc report from the html page into a textfile. That is a pain point in case of automation.

**Describe the solution you'd like**
Provide a button to download the ascii-doc report as text file. Would be nice that this functionality could be also easily executed via API.

[2019-07-08 11:33] efficiosoft commented on #1149
If I remember correctly, @aaronweaver was interested in this as well, so you're of course also invited to review.

[2019-07-08 12:08] denniskniep opened #1353 "Markdown text in findings not compatible with AsciiDoc Report"
**Is your feature request related to a problem? Please describe**
The text fields inside a finding (like Description, Mitigation, Impact etc.) are for markdown syntax. If I want to create an AsciiDoc Report the Markdown texts are not converted to AsciiDoc. That is a problem because if I create i.e. a pdf from the AsciiDoc then the Markdown elements lead to various errors.

**Describe the solution

[2019-07-08 12:19] denniskniep opened #1354 "Add new image and select from existing images inside the finding editor"
**Is your feature request related to a problem? Please describe**
Jump between the views "Edit a Finding"  and  "Add images to ..." to add images

**Describe the solution you'd like**
It would be really nice if I could add an image to a finding inside the edit mode. There is already an image button in the toolbar of the text fields. Maybe there can be a drop down list with already uploaded images

[2019-07-08 12:51] bilalk88 commented on #1349
Figured out the concern. Now it's working fine.

[2019-07-08 12:51] #1349 closed

[2019-07-08 13:04] #1186 closed

[2019-07-08 13:32] #1347 closed

[2019-07-08 13:49] madchap commented on #1336
FWIW, dumping only the findings works fine (`dumpdata dojo-finding`).

Can anyone reproduce this issue? @dr3dd589 @valentijnscholten @aaronweaver

This feature is so important in my eyes to be able to feel safer...

[2019-07-08 14:13] aaronweaver commented on #1336
@dr3dd589 If you can take a look.

Just a quick search, this may be the solution.

```value = self._get_val_from_obj(obj) to value = self.value_from_object(obj)```

https://github.com/goinnn/django-multiselectfield/issues/74

[2019-07-08 14:16] #1319 closed

[2019-07-08 15:16] #1187 closed

[2019-07-09 08:51] bilalk88 opened #1357 "not able to access defectdojo"
Hello,
I ran docker-compose up, for few minutes it's working and after keeping it idle for few minutes like 30 minutes or 1 hours then in console getting below logs while I try to access DefectDojo [http://localhost:8080]
celeryworker_1  | [2019-07-09 08:47:40,663: INFO/MainProcess] Received task: dojo.tasks.async_dupe_delete[a038f0cb-bc68-4adb-9f7e-65d142204f7a]
celeryworker_1  | [2019-07-09 08:4

[2019-07-09 09:32] propersam commented on #1344
working on this..

[2019-07-09 10:19] propersam commented on #1343
working on this..

[2019-07-09 13:13] Maffooch commented on #1357
Hey @bilalk88 just to clarify, you were able to connect and use DefectDojo and then after some time you could no longer connect? The logs seen above are more like status codes rather than error codes. They are totally normal.

[2019-07-09 13:50] bilalk88 commented on #1357
Hi @Maffooch . Thanks for the response.
Yeah. When I execute docker-compose up, for few minutes I'm able to access it and use it. But after sometime I'm not able to access it. Getting something like this "This site can’t be reached".

For reference, you can refer below screenshot.

![image](https://user-images.githubusercontent.com/10231632/60893486-a0de1a00-a27e-11e9-8cc0-b0682f8e4493.png)

[2019-07-09 13:59] Maffooch commented on #1357
Seems like there is a timeout due to inactivity somewhere in your configuration. Could be associated with your network, database or elsewhere. Does everything return to normal by stopping the process and relaunching with docker-compose up?

[2019-07-09 14:09] bilalk88 commented on #1357
Once I got the time out. I've to restart the machine and again have to execute the docker-compose up.
If I stop the process and again run the docker-compose up, it's not working.
But when I check the docker ps or docker-compose ps, found that all required containers are running.

[2019-07-09 14:11] Maffooch commented on #1357
Try docker-compose down. It kills and removes containers without trashing your data. It should get around the issue of restarting your machine.

[2019-07-09 14:46] bilalk88 commented on #1357
Just observed that when I check locally on the main machine its working. e.g. http://localhost:8080/
But when I try the same on remote machine by using the http://<ip where DefectDojo>:8080 . It works for sometime. And then again facing that time out concern.

[2019-07-09 14:56] Maffooch commented on #1357
Sounds like the connection between remote and host machine is the suspect. Is it okay to close this issue?

[2019-07-09 15:09] bilalk88 commented on #1357
Yes. I think something is getting blocked after sometime. will check the iptables.
Thanks for the help.
Yeah will close the issue..

[2019-07-09 15:09] #1357 closed

[2019-07-09 15:21] nebi-frame opened #1359 "Importing existing Jira tickets into Dojo"
**Is your feature request related to a problem? Please describe**
Instead of creating webhooks for newly created jira issues, I want to export every issues in my jira to dojo.

**Describe the solution you'd like**
Importer for jira based on csv or xml

**Describe alternatives you've considered**
No alternatives that I can think of.

[2019-07-09 18:33] propersam commented on #1343
@madchap can you test...before I move on to add tests nd documentation

http://localhost:8000/api/v2/notes/ - fetches all notes
http://localhost:8000/api/v2/notes/2 - fetch note by id

[2019-07-09 18:37] propersam commented on #1343
I think You can also perform POST request and other basic API request..
.. help test them all out...

[2019-07-10 03:53] propersam commented on #1180
with the upgrade to python3 and other upgraded packages.. I think this should now be stable...

any jquery not added on a page now ..should be because it's not needed on that page.

@Maffooch what do you say?

[2019-07-10 11:47] madchap commented on #1343
Will do, hopefully some time today (CEST TZ). Thanks for taking this on quickly!

[2019-07-10 12:53] efficiosoft commented on #1149
Or would it help if I create a PR? Actually, I don't want to have the changes merged as they are right now, so I thought an issue would be better suited for the time being.

[2019-07-10 13:07] valentijnscholten commented on #1149
I think a PR is easier to see the diff etc. Are there any unit tests to tests the new permission handling?

[2019-07-10 13:18] Maffooch commented on #1180
@propersam I don't know very much about jQuery. I can guess that upgrading to python3 and other packages has no relation to jQuery. I would say do whatever it takes to resolve the bug. In this case, make sure 'Notifications dropdown gives error: "Cannot read property 'trim' of undefined"' does not happen.

[2019-07-10 13:20] efficiosoft commented on #1149
No tests until we decide for an API design. This is a fundamental part that'll change how views can be written in the future and I want to get that finalized before investing time in unittests.

That branch contains the ``reportng`` directory, which isn't related to the permission handling at all and would make the diff quite large.

The two new files we have to talk about are ``models_base.py`` a

[2019-07-10 13:20] aaronweaver commented on #1180
It was probably not on every template, no reason it's can't be on every page.

[2019-07-10 13:34] efficiosoft commented on #1149
PR is created. Let's continue the discussion over there.

[2019-07-10 22:10] chris-vest commented on #894
@valentijnscholten Sorry, missed your comment, will attempt to rebuild and test again.

[2019-07-11 07:17] JamesCullum opened #1365 "Integrate sec-automation branch"
**Is your feature request related to a problem? Please describe**
Panasonic sponsored the development of multiple features (PR #981 & #1280 ), which have been merged into the branch `sec-automation`. However, since then there has no feedback or response about integrating this into the actual deployment, which also means that the sponsorship logo is not displayed.

**Describe the solution you'd lik

[2019-07-11 15:31] #1346 closed

[2019-07-11 15:31] #1344 closed

[2019-07-11 17:34] dr3dd589 commented on #1336
hello, @madchap I have tested it on my updated python3 docker version of DD and also on setup.bash and it works fine, I'm not able to reproduce this error. Need some more info on how to reproduce this.
[test link](https://asciinema.org/a/pjJtvnV46dBZ829gbooLMQFA1)

[2019-07-12 05:30] madchap commented on #1336
Do you think there is a remote chance it could be connected to my upgrading from 2.x to 3.x branch through the import, that also caused #1315 ?

I will dump the mysql, and see how I can redact it to hand over to you. I am guessing this is the only way for you to truly test that. Anything else that could help you?

My exact git reflog (the 2 most recent lines was to incorporate work from @propersam

[2019-07-12 08:53] dr3dd589 commented on #1336
yes, maybe it is some kind of issue on upgrading DD on your system. You can test it by doing a fresh install of DD.

[2019-07-12 09:39] Tibo-le-canard opened #1369 "Checkmarx scan import failed because of bad char"
**Bug description**
Hello,

Some import of checkmarx scan fail because of bad char encoding.
I manage to fix the issue, here are the modifications I made :
https://github.com/Tibo-le-canard/django-DefectDojo/commit/be7ece8442fb38e3fadc238abb16f8700c6ac6dc

Should I make a pull request ?

**Steps to reproduce**
Hard to reproduce.
I can't provide the file, there is to much data in it.

**Expected be

[2019-07-12 11:52] madchap commented on #1336
I've spent some time this morning writing some proxySQL rules to anonymize my mysql dump, which looks ok.

To make sure I had the same experience on my local copy of DD, I imported it (went ok) and ran a `dumpdata`. Same error.

I could use some help to identify this issue. If you're willing @dr3dd589, I could send you a link to a private download of this anonimized mysql dump for you to look at?

[2019-07-12 12:26] ycrumeyrolle opened #1370 "System settings are not accessible."
**Bug description**
System settings are not accessible and generates an error. Trying to access to it cause the server to freeze during about 30 seconds.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'https://defectdojo.herokuapp.com'
2. Connect as 'admin'
3. Clic on 'Configuration' -> 'System settings'
4. Wait....
5. See error

**Expected behavior**
Display the System settings

[2019-07-12 12:40] madchap commented on #1336
I found the culprit. When you associate a JIRA configuration to a product, then it fails. Started with fresh config, and added little by little...

[2019-07-12 12:44] madchap commented on #1336
@Maffooch maybe you know something looking at git blame, seems you pushed some stuff a few weeks ago?

[2019-07-12 12:49] aaronweaver commented on #1336
It should still be able to serialize it. I think it's a 2->3 bug.

[2019-07-12 13:03] alles-klar commented on #1287
I think during the python3 migration all stings with a 'b' in front like b'Pacific/Truk' were replaced to 'Pacific/Truk' because with the 'b' in front there are not python3 compatible. If this was done automatically 'product_grade_b' results in product_grade_'.

I will provide a PR where 'product_grade_' is renamed in 'product_grade_b' again. Just like bevor the python3 migration.

[2019-07-12 13:57] dr3dd589 commented on #1369
yes, we have to encode these to utf-8. your fix looking good to me. Can you open a PR to fix this or I do?

[2019-07-12 14:15] madchap commented on #1336
It is not. My test were only on the latest dev (python3) branch.

[2019-07-12 14:20] aaronweaver commented on #1336
Let me clarify, I think the the object relation is breaking as a result of the **code** upgrade from 2 to 3.

[2019-07-14 09:10] madchap commented on #1320
I think we should not restrict code that could be written just because the current travis pulls an older version of python. It would be shooting ourselves in the foot down the road.

[2019-07-15 09:04] madchap opened #1378 "Include tags in reports"
**Is your feature request related to a problem? Please describe**
When executing a report for an engagement, findings' tags do not show up in the reports.

**Describe the solution you'd like**
An extra column could be added to list the tags of the findings.

[2019-07-15 15:55] devEricA commented on #1239
Hey @madchap what scanner did you use to produce this? The reason I ask is because I tried to replicate this bug using the cobalt parser, but bulk edit worked as intended, even though the cobalt's findings have nothing in their impact field.

[2019-07-15 18:22] #1337 closed

[2019-07-15 18:22] #1338 closed

[2019-07-15 19:54] #1343 closed

[2019-07-15 21:04] theappsecguy opened #1381 "mysql-client APT package installation attempt causes Docker Compose Build to Fail"
When running "docker-compose build" command, it fails when attempting to install mysql-client because the APT package manager does not recognize "mysql-client" as an actual package name.

To fix this, I had to go into the Dockerfile and change "mysql-client" to "default-mysql-client". From there I was able to successfully build the Docker image.

Would recommend changing this in the Docker files.

[2019-07-15 21:31] dougmorato opened #1382 "Nikto importing fails"
**Bug description**
When attempting to import XML reports from the NIKTO nxmlversion="1.2", the import fails as the importer is not able to find the scan details

I do not have an old file to compare, but the current NIKTO export has 2 <niktoscan> tags in the XML.

[2019-07-15 21:41] Maffooch commented on #1382
@dougmorato Importing the NIKTO file in the [sample-scan repo](https://github.com/DefectDojo/sample-scan-files/blob/master/nikto/nikto.xml) did not produce any errors. It is xml version 1.0. Are you able to provide the error traceback since the file is not available?

[2019-07-15 21:41] dougmorato opened #1384 "Qualys importing fails"
**Bug description**
When trying to import a scan report from Qualys, the import fails due to finding not having the CVSS score

[2019-07-15 23:42] dougmorato opened #1387 "JUMFlot is still an issue in some pages"
**Bug description**
This was an issue that was opened back in #789 and the bot automatically closed the issue without a proper fix on the some of the page templates

[2019-07-15 23:48] dougmorato opened #1389 "Credential Manager is broken with Python 3"
**Bug description**
On Python 3, the credential manager is broken. My first attempt to resolve was on #1303 , but that was not "the" solution.

[2019-07-15 23:58] dougmorato commented on #1389
My bad... I opened the issue as I was about to submit a Pull Request, but @alles-klar already addressed it on #1374 .

Thank you

[2019-07-15 23:58] #1389 closed

[2019-07-16 00:07] dougmorato opened #1390 "Upgrade Docker MySQL to LATEST version"
**Bug description**
Current docker config/compose is still using MySQL 5.7, whereas there are significant speed improvements on MySQL 8

[2019-07-16 02:15] outdoorguy007 opened #1392 "Result Upload Api"
Has anyone been able to upload results via the API?  I must be doing something wrong. I always get {"file":["The submitted data was not a file. Check the encoding type on the form."]}

Here is the code.
#! /usr/bin/python
import requests
import json

url = 'https://defectdojo.herokuapp.com/api/v2/import-scan/'

headers = {#'content-type': 'application/json',
           'Authorization': 'Token 548a

[2019-07-16 11:57] madchap opened #1393 "Dependency-check import fails"
**Bugs description**
## With aggregate target, several pom.xml in subfolders

On `dev` branch, with Command to produce the xml file:
`mvn -V -B -e org.owasp:dependency-check-maven:5.1.0:check org.owasp:dependency-check-maven:5.1.0:aggregate -Dformat=ALL`

[code]

## With single pom.xml, no aggregate
Run command: `mvn -V -B -e org.owasp:dependency-check-maven:5.1.0:check -Dformat=ALL`
[code]

[2019-07-16 12:33] TmmmmmR opened #1394 "Minimize the number of JIRA tickets"
**Is your feature request related to a problem? Please describe**
In some case, and specially for static analysis, creating a ticket for each issue from DefectDojo will result in a huge number of ticket in an existing backlog, which can be overwhelming for dev teams.

**Describe the solution you'd like**
Instead of this, when can for example provide the ability to regroup multiple vulnerability ba

[2019-07-16 12:38] madchap commented on #1393
For the 2nd one, DD not in cause (but should be more resilient).

XML output for POODLE for severity is indeed 0.0. Adding a statement to catch the unexpected should do it simply.

[code]

[2019-07-16 14:21] ptrovatelli commented on #1145
I was wrong on this: we can use "close_old_findings=true" which will set the findings that are not present anymore to "inactive/mitigated" in previous tests/engagements . Still the enrichment will remain for recurrent findings : the new finding will point to the old finding in case of duplicate

So in the end, both algorithms can work in a similar way. The main difference is that
- with apiv2 and

[2019-07-16 15:34] propersam commented on #1180
my problem now is  I cant seem to repeat the error y'all talking about but on my local instance and heroku instance.

I should have fixed this a long time ago...

Is there any clear nd direct steps to trigger this error on screen while clicking through the app??

[2019-07-16 15:46] #1369 closed

[2019-07-16 15:47] #1301 closed

[2019-07-16 15:49] #1140 closed

[2019-07-16 15:59] Maffooch commented on #1392
Hey @outdoorguy007 I assume you're using APIv2. Based on this [unit test](https://github.com/DefectDojo/django-DefectDojo/blob/5a3500257f34193dc206e3e2607683e105a9b9fb/dojo/unittests/test_apiv2_scan_import_options.py#L28), it looks like you have to input an actual file instead of the path to it.

[2019-07-16 20:14] devGregA commented on #1370
@Maffooch  please verify.

[2019-07-16 20:15] devGregA commented on #839
pycrypto has been replaced.

[2019-07-16 20:15] #839 closed

[2019-07-16 20:19] #1287 closed

[2019-07-16 20:19] #1314 closed

[2019-07-16 20:23] devGregA commented on #1250
`python manage.py dumpdata > backup.json` which may not be ideal if you're re-running the initializer on a fresh install. You'll also need to pull down the images from the server if you're using finding images. Some variation of dumpdata + pulling the images is what I'd recommend.

[2019-07-16 20:23] #1250 closed

[2019-07-16 20:40] Maffooch commented on #1370
Hey @ycrumeyrolle I was able to replicate your error in the heroku app, but not on the master, nor dev branch. I remember experiencing this error at one point a while back though. How recent is your local build?

[2019-07-17 00:26] #1387 closed

[2019-07-17 00:26] #1382 closed

[2019-07-17 00:28] Maffooch commented on #1381
@theappsecguy This has now been fixed on both the master and dev branches. Thank you for the concern.

[2019-07-17 00:28] #1381 closed

[2019-07-17 07:17] NRGLine4Sec commented on #1250
Ok thanks !

[2019-07-17 07:28] madchap commented on #1250
That's what I do to export/import data also when upgrading.

Currently broken though, see #1336 .

[2019-07-17 07:32] NRGLine4Sec commented on #1250
So, how do you upgrading and keep your database ?

[2019-07-17 07:35] madchap commented on #1250
Kinda stuck today until it is fixed :-)

You can still `mysqldump` the DB too, so you could reload it on an instance of the same version I guess.

[2019-07-17 07:45] NRGLine4Sec commented on #1250
Ok, so I will be patient..
Maybe one day there will be a button to make an upgrate much easier like i suggest in #1286 :)

[2019-07-17 07:45] dr3dd589 commented on #1061
@NRGLine4Sec Can you provide the sample in XML, JSON, CSV format?

[2019-07-17 08:12] NRGLine4Sec commented on #1061
Yes, I will do a scan

[2019-07-17 08:21] NRGLine4Sec commented on #1188
Sorry, I can't because of sensitive information inside the report. But I have check the XML output and I don’t think that we could use the result of the XML output into DefecDojo, so maybe we could close this issue or someone else could install Golsimero and check the XML output too.

[2019-07-17 09:34] NRGLine4Sec commented on #1061
The sample is CSV (result of the command `testssl --csv https://www.defectdojo.org/`)
[report_testssl_scan_sample.zip](https://github.com/DefectDojo/django-DefectDojo/files/3401092/report_testssl_scan_sample.zip)

[2019-07-17 09:55] ycrumeyrolle commented on #1370
Hi @Maffooch, we have deployed the docker file 1.5.4rc5 available on https://hub.docker.com/r/defectdojo/defectdojo-django (latest version)

The issue was fixed by adding the components Celery & RabbitMQ.

[2019-07-17 14:02] Maffooch commented on #1370
@ycrumeyrolle Good deal. Glad you got it working.

[2019-07-17 14:02] #1370 closed

[2019-07-17 16:37] dr3dd589 commented on #1061
@Maffooch working on it set this to in progress.

[2019-07-17 16:56] dr3dd589 commented on #1378
hello, @madchap you want to add tags information in HTML and AsciiDoc reports or just show a column of tags of findings before generating reports?

[2019-07-17 17:05] madchap commented on #1378
Hey @dr3dd589

I was thinking in the reports. It does not have to be a column maybe -- for the HTML -- a cue in the finding's header or something?

[2019-07-17 19:47] outdoorguy007 commented on #1392
Yeah, so I tried that and now it gives me a 503...

import requests
import json

url = 'https://defectdojo.herokuapp.com/api/v2/import-scan/'

headers = {
        'Content-type': 'multipart/form-data',
           'Authorization': 'Token 548afd6fab3bea9794a41b31da0e9404f733e222'}

files = {'file': open('/Users/tchase/Downloads/dependency-check/bin/dependency-check-report.json','rb')}

body = {'scan

[2019-07-17 22:36] #860 closed

[2019-07-18 09:36] #1033 closed

[2019-07-18 14:15] propersam commented on #1352
@mafooch have this assigned to me....
already looking into it..

[2019-07-19 16:10] madchap commented on #1336
@dr3dd589 would you have some time to look into this soon? Cheers.

[2019-07-19 16:28] madchap commented on #1336
So I just fetched the latest dev locally, re-added jira conf and association, and I cannot reproduce what I could a week ago :thinking:

Could #1371 as a collateral (even though it is not clear how this could have?). Or something else?

[2019-07-19 16:38] madchap commented on #1336
I can no longer reproduce on fresh instance. I am guessing I had left-over stuff from a previous db schema or something from previous tests... *sigh*

[2019-07-19 17:58] dr3dd589 commented on #1336
And what about your old database? Is this still in the new fresh instance and working fine now?

[2019-07-20 02:34] outdoorguy007 opened #1398 "File Upload API"
Does anyone else get a Service Unavailable (503) when you try and call the API?

[2019-07-22 09:49] bilalk88 opened #1399 "Getting 500 Server Error when trying to upload nessus scan files"
Getting 500 Server Error when trying to upload nessus scan file.
Below is the console log.

uwsgi_1         | [pid: 1|app: 0|req: 31/31] xx.xx.xx.xx () {44 vars in 836 bytes} [Mon Jul 22 09:20:55 2019] GET /alerts/count => generated 13 bytes in 8 msecs (HTTP/1.1 200) 4 headers in 114 bytes (1 switches on core 0)
nginx_1         | xx.xx.xx.xx - - [22/Jul/2019:09:20:55 +0000] "GET /alerts/count HTTP

[2019-07-22 11:11] adracea commented on #1399
Hello , could you also show us a redacted version of the nessus scan file used ?

[2019-07-22 13:37] bilalk88 commented on #1399
I'm using Nessus version : 8.5.1

[2019-07-22 13:47] bilalk88 commented on #1399
[nessus-scan.zip](https://github.com/DefectDojo/django-DefectDojo/files/3417681/nessus-scan.zip)
Attached is the nessus file, that I'm using.

[2019-07-22 17:29] #1188 closed

[2019-07-22 19:20] #1316 closed

[2019-07-22 19:29] devEricA commented on #881
I think this is indeed related to https://github.com/etianen/django-watson/issues/223. When I was investigating this issue, I created two products: dash-product and foo-bar, giving each one the description “For use with search”. Using the simple search to pull up these two products resulted in unexpected results; Typing foo-bar in the search bar failed to pull up the product foo-bar, but typing da

[2019-07-22 20:00] Maffooch opened #1403 "Minikube is blowing up"
**Bug description**
When broker ares being run by Travis CI, the Minikube server cannot be accessed. The test continues to run until timeout. Maybe updating will resolve this issue?

**Steps to reproduce**
Steps to reproduce the behavior:
1. Submit a PR for travis to test
2. See many error messages

**Expected behavior**
Travis is happy

**Screenshots**
<img width="994" alt="Screen Shot 2019-07-22

[2019-07-22 20:02] #1061 closed

[2019-07-22 21:19] #1317 closed

[2019-07-23 05:57] dr3dd589 commented on #1393
hello, @madchap Can you upload the redacted sample for reproducing this issue?

[2019-07-23 07:47] madchap commented on #1393
Hey @dr3dd589

I should be able to get to it by end of month.

Redacting that big XML seems like a hassle :-)

[2019-07-23 07:48] dr3dd589 commented on #1403
the error looks something like this [issue](https://github.com/kubernetes/minikube/issues/2493)

[2019-07-23 08:38] madchap commented on #1315
@devEricA I could anonymize a mysql dump, if this can help. I could share it.

[2019-07-23 16:10] madchap opened #1406 "Arachni import fails"
**Bug description**
[code]
Generate a scan with arachni v1.5.1, webui 0.5.12. Import in dojo, `dev` branch.

Import, fails.

This is reproducible with the sample file at https://github.com/DefectDojo/sample-scan-files/blob/master/arachni/arachni.afr.json

[2019-07-23 16:19] madchap commented on #1406
Nevermind, was surely fixed before, will hunt the fix..

[2019-07-23 16:19] #1406 closed

[2019-07-23 16:26] madchap commented on #1406
arf, found @Maffooch 's massive commit https://github.com/madchap/django-DefectDojo/commit/f213ebf9a4685d0e1c079c265b746215ce399f48

[2019-07-23 16:28] Maffooch commented on #1406
@madchap Fixed or Nah?

[2019-07-23 16:32] Maffooch commented on #1406
I thought this was fixed by #1327, specifically issue #1322

[2019-07-23 16:32] madchap commented on #1406
Yup yup... I need to get past #1336 and upgrade my "poc-that-has-turned-into-semi-useful" to the latest dev ;-) Works fine locally, I spoke too soon!

[2019-07-23 16:33] Maffooch commented on #1406
Haha okay. Glad it's working. You had me spooked!

[2019-07-23 19:00] #1066 closed

[2019-07-23 22:00] #969 closed

[2019-07-24 08:04] xthk commented on #1359
I'd recommend to use Jira's API for that.

1. GET an issue via `/rest/api/latest/issue/FOOBAR-3141`,
1. create a finding in DefectDojo,
1. and link back to Jira

Jira API docs: https://developer.atlassian.com/server/jira/platform/rest-apis/

[2019-07-24 08:17] xthk opened #1407 "Enhance Jira integration, get status keys for config via Jira's API"
**Is your feature request related to a problem? Please describe**

Currently the Jira configuration is a stub, although necessary values could be queried via Jira's API they have to be configured manually.

**Describe the solution you'd like**

If the Jira integration is enabled, and "JIRA URL" (including credentials) has been configured, the status keys could be retrieved via Jira's API (as descr

[2019-07-24 09:26] madchap commented on #1336
Potential lead here: https://github.com/DefectDojo/django-DefectDojo/commit/6508e7ec3883940df692fbe428d0d095ff442146#diff-bd942a2703e78ee1a6c10e7f8fd5d9a0R495 (@Maffooch )

Saw this as well: https://stackoverflow.com/questions/52057583/python-2-3-django-migration-causes-field-parameter-type-change leading to https://code.djangoproject.com/ticket/23226, which does sound something that is awfully ha

[2019-07-24 09:30] xthk opened #1408 "Enhance Jira integration, better handling of closed findings"
**Is your feature request related to a problem? Please describe**

We've a custom Jira workflow setup. Therefore DefectDojo is not able to close Jira issues.

**Describe the solution you'd like**

_Preconditions_: The Jira integration is enabled and a Jira issue is linked to a finding.

_Complications_: Jira can be heavily customized, a lot of individual workflows and statuses are possible. There

[2019-07-24 10:39] madchap commented on #1336
Tried to revert the notifications model of initial (since it has the MultiSelectField model, `makemigrations` and `migrate` (https://gist.github.com/madchap/8e5f751b55ccca713666e3ad0a80ea89) but I am getting this error when migrating:

[code]

[2019-07-24 11:58] lucasluitjes opened #1409 "Authentication failure using docker compose"
**Bug description**
I wanted to try out defectdojo using the Quick Start guide from the README.md, so I cloned the repo and ran `docker-compose build`. Then I ran `docker-compose up` and visited localhost:8080.

I used the username and password from the latest initializer container, but received the following error: `Please enter a correct username and password. Note that both fields may be case-s

[2019-07-24 14:16] jmezach opened #1410 "Helm deployment doesn't allow specifying SSL connection to MySQL"
**Bug description**
We are trying to deploy DefectDojo into an Azure Kubernetes (AKS) cluster with the database stored on Azure MySQL Hosted Service. However, as we were trying to make that work we ran into an issue that it doesn't seem possible to specify through the Helm chart that the connection to the database should be encyrpted. By default Azure MySQL database enforces SSL. We can of course

[2019-07-24 14:20] madchap commented on #1336
My anonymized sql dump is here, can be simply loaded with mysqldump on a new instance of defectdojo: https://send.firefox.com/download/a5cb53aab79d472f/#rkST0cU3qbTP2u2hD5icjQ

The first 3 persons willing to help wins ;-) valid 7 days.

I hope a good soul can help... Cheers.

[2019-07-24 14:35] madchap commented on #1336
Quickly tried the hack presented at https://github.com/goinnn/django-multiselectfield/issues/74 and it works. I can dumpdata fine.

(why didn't I try it before, go figure)

However, I am definitely no django guy as you have surely noticed by now, so I do not know if there is anything you want to do with this, such as implementing a class as described at https://github.com/goinnn/django-multiselect

[2019-07-24 14:51] #1180 closed

[2019-07-24 14:54] #1110 closed

[2019-07-24 14:55] devGregA commented on #1254
@Maffooch am I good to close this?

[2019-07-24 14:56] Maffooch commented on #1254
Don't think he is done with it yet. @propersam What is your status on this one?

[2019-07-24 14:56] #1056 closed

[2019-07-24 15:09] dr3dd589 commented on #1409
yes, I think there is something changed and the default credentials are --> username: admin and password: admin. we will fix it.

[2019-07-24 15:11] propersam commented on #1254
No.. Don't close this yet...  We are still on it...

[2019-07-24 15:38] madchap commented on #1289
Does not work, getting `Test_Type matching query does not exist.` when importing.

[2019-07-24 15:59] madchap opened #1411 "Include commit hash in footer"
**Is your feature request related to a problem? Please describe**
In dev mode, it'd be nice to see the commit hash of the version running in the browser.

**Describe the solution you'd like**
Include commit hash in the footer, e.g. in parentheses by the version number.

[2019-07-25 07:45] madchap commented on #1315
So this is fixed by https://github.com/DefectDojo/django-DefectDojo/pull/1405, I am closing this. Cheers!

[2019-07-25 07:45] #1315 closed

[2019-07-25 12:40] tkr6743 opened #1414 "Add CIS Benchmark"
Dear Team,

Can you please suggest me how to add new benchmarks to the defectdojo tool

[2019-07-25 12:47] tkr6743 opened #1415 "Unable to push finding into JIRA"
Dear Team,

As per the document  https://defectdojo.readthedocs.io/en/latest/features.html#jira-integration configured JIRA and DefectDojo. But when push single issue into JIRA, it is succfully finished in DefectDojo but issue is not available in JIRA. Please guide me any specific settings need to apply.

Thanks,
Kondal

[2019-07-25 12:47] tkr6743 opened #1416 "Unable to push finding into JIRA"
Dear Team,

As per the document  https://defectdojo.readthedocs.io/en/latest/features.html#jira-integration configured JIRA and DefectDojo. But when push single issue into JIRA, it is succfully finished in DefectDojo but issue is not available in JIRA. Please guide me any specific settings need to apply.

Thanks,
Kondal

[2019-07-25 13:16] propersam commented on #1352
After trying different methods this past few days.. I finally went with the method that uses javascript without interacting with server....

@denniskniep does this meet your requirement...?

[2019-07-25 13:19] propersam commented on #1352
i'm not sure of the possiblity of trigerring the download through API...

@Maffooch  are asciidoc reports also generated through API ?... i can't seem to find where that is going on..?

[2019-07-25 13:21] frannovo commented on #1416
Hi @tkr6743 , which version of DefectDojo are you using?
I've had this issue and the problem was in the Severity Mapping configuration. Usually this issue creates an alert clarifying the problem, could you please check if there is an alert warning about the issue?

[2019-07-25 13:49] Maffooch commented on #1352
@propersam Are you asking where to view asciidoc reports? When generating a report, instead of generating the HTML version, use the drop down where it says HTML and select Asciidoc.

[2019-07-25 14:09] Maffooch commented on #1415
Closing as this is a duplicate of #1416

[2019-07-25 14:09] #1415 closed

[2019-07-25 14:10] #1378 closed

[2019-07-25 14:10] #1339 closed

[2019-07-25 14:21] Maffooch commented on #1414
Hey @tkr6743 adding benchmarks to DefectDojo requires modifications of the fixtures in the source code. These fixtures can be found in /dojo/fixtures. Files related to benchmarks generally have "benchmark" in the file name. Fixtures can then be loaded into the database via the loaddata command. It is used as follows: "python3 manage.py loaddata <fixture_filename.json>".

[2019-07-25 16:09] propersam commented on #1352
That is d GUI... Which I have implemented now... I am asking if report are generated through any of the Api endpoints..

[2019-07-25 16:11] propersam commented on #1352
That one can request through curl or postman

[2019-07-25 16:13] propersam commented on #1352
Oh...

That means I can implement it in Apiv2 right?

[2019-07-25 16:14] Maffooch commented on #1352
I guess implement in both. No idea what @denniskniep preference is on API version.

[2019-07-25 16:23] dr3dd589 opened #1418 "Not able to remove authorized products from a user edit form."
**Bug description**
not able to remove authorized products from a user edit form.

**Steps to reproduce**
Steps to reproduce the behaviour:
1. make a user and give access to any product.
2. now edit user and remove the product and save.
3. now go to edit user again and you can see the product is still there.

**Expected behaviour**
the product should be removed.

**Deployment method** *(select wit

[2019-07-25 17:59] #1403 closed

[2019-07-25 17:59] #1399 closed

[2019-07-25 20:42] coivase opened #1421 "Looking for a DefectDojo sensei to consult on implementation"
I'm looking to consult someone knowledgable on the DefectDojo implementation. Specifically interested in mistakes to avoid and lessons learned with Jira hookup, metadata to collect, reporting, engaging vulnerability owners, etc.

[2019-07-26 11:37] lucasluitjes commented on #1409
Sorry for the late response. The credentials admin:admin also did not work, but after changing the password using the commands you supplied, I was able to log in. Thanks!

[2019-07-26 12:37] janvanzoggel opened #1422 "Customize HOSTname for NGINX to UWSGI connection"
**Is your feature request related to a problem? Please describe**
I am trying to get DefectDojo to run in AWS Fargate. I almost got it to work, however due to how Fargate network configuration works within a Fargate Task containing multiple containers I run into the following problem. Fargate works with a local-loopback so connection should work on 127.0.0.1. I got the communication from the Celer

[2019-07-26 12:53] janvanzoggel commented on #1422
Never mind, made a boo boo
https://github.com/DefectDojo/django-DefectDojo/blob/master/Dockerfile.nginx

DD_UWSGI_HOST :-)

[2019-07-26 12:53] #1422 closed

[2019-07-26 15:47] devEricA opened #1423 "Email notification attempt results in "[Errno 99] Cannot assign requested address"."
**Bug description**
Whenever an email is attempted to be sent for a notification purpose, an alert pops up with this error.

**Steps to reproduce**
1. Go to 'Notifications' (under Configuration tab)
2. Check the 'Product Added' checkbox under the 'Mail' Column, and hit submit
3. Click on the dropdown where it says 'Scope', change to 'Global', and repeat step 2.
3. Click on 'System Settings' (under

[2019-07-26 21:47] Hax0rG1rl opened #1425 "Docker-compose "Unable to locate package libmariadb3""
**Bug description**
I am getting this error while trying to initiate a *docker-compose build* action:

[code]

**Steps to reproduce**

Branch *dev*
```git clone git@github.com:DefectDojo/django-DefectDojo.git```
docker-compose build

**Expected behavior**
A straight forward, error-free docker-compose build.

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [x] Docker
- [ ] setup.bas

[2019-07-26 21:51] Hax0rG1rl commented on #1425
Also, the same behavior seems to happen if I am using the software package delivered form the **master branch** too.

[2019-07-26 23:36] Hax0rG1rl opened #1426 "Running in production - full example of NGINX.conf"
I am trying to deploy this in production using the provided steps. Some bits are not matching, and also I get a lot of NGINX.conf error messages while I am trying to implement the provided NGINX config,

The following steps look like being obsolete if I am trying to deploy version 1.5.4

![image](https://user-images.githubusercontent.com/3704868/61986241-f9286080-b061-11e9-960c-199f3b4192b1.png)

[2019-07-27 00:47] Maffooch commented on #1425
Hey @Hax0rG1rl your python3 Image is outdated. Either remove the pyhton3 and python3-slim images or pull the newer versions of them. Libmariadb3 was a recent addition to the image currently in use. The image you have does not have it, hence the error. Please let me know if this resolves your error.

[2019-07-28 06:41] Hax0rG1rl commented on #1425
Thanks. It worked.

[2019-07-28 06:41] #1425 closed

[2019-07-28 06:43] Hax0rG1rl commented on #1426
After a couple of hours hot this one which seems to work. It can be verified with nginx -t -c nginx.conf

[code]

Other references:

[code]

[2019-07-28 06:43] #1426 closed

[2019-07-28 10:54] tkr6743 commented on #1416
Dear Frannovo,

I am using DefectDojo version 1.5.4.

As per the document https://defectdojo.readthedocs.io/en/latest/features.html#jira-integration configured JIRA and DefectDojo. But when push single issue into JIRA, it is successfully finished in DefectDojo but issue is not available in JIRA

[2019-07-29 08:24] ptrovatelli opened #1428 "Docker environnent for unit tests not working anymore"
**Bug description**
The docker environment to run the unit tests is not working anymore.

**Steps to reproduce**
[code]

**Expected behavior**
A django with minimal configuration should start and run the unit tests

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [x ] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment information**
dev branch

**Sample scan files** (optiona

[2019-07-29 13:04] ptrovatelli commented on #1421
Hi @coivase .
If you haven't found yet, you can ask your questions on the slack channel. See under "Gettings involved" at https://github.com/DefectDojo/django-DefectDojo

[2019-07-29 13:09] ptrovatelli commented on #1409
Hi @lucasluitjes .
Is it possible that you started the app more than one time? This happened to me many times.
Upon the first start, the app will create a password and use it
After that when you restart the app, it will create more passwords but the good on is the one from the first launch that you may or may not have written down. it's not available anymore in the logs!
In that case, if I'm just

[2019-07-29 14:12] #1418 closed

[2019-07-29 14:26] dr3dd589 commented on #1354
hello, @Maffooch assign this to me and set it in progress.

[2019-07-29 14:51] ptrovatelli opened #1431 "Checkmarx scanner imports bytes instead of strings"
**Bug description**
Since python3, some checkmarx fields are imported as bytes instead of strings.
In the GUI we can see fields like filename displayed as `b'Users.java'` instead of `Users.java`
This makes the deduplication, based on filename, not working.

**Steps to reproduce**
Install defectDojo dev branch.
Activate deduplication in system settings
Import the same checkmarx report twice in the

[2019-07-29 15:58] praveendvd opened #1432 "Uploading Synk Scan fails wiht 500 status code"
**Bug description**

Uploading snyk.json throws 500 status code

**Steps to reproduce**

Steps to reproduce the behavior:
1. Go to Engagement>Import_scan
2. Import 'Snyk Scan' json result
3. see the error

**Expected behavior**

status 201

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [X] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment information**
 - Operating Syste

[2019-07-29 16:05] praveendvd opened #1433 "Unsupported OS error on Defectdojo installation in CentOS 7 through setup.bash"
**Bug description**

On trying to install defectDojo using setup.bash in CentOS 7, the user is getting unsupported OS error

**Steps to reproduce**

Steps to reproduce the behavior:

1. Download latest RC candidate
2. Extract the zip
3. Navigate to extracted folder
4. Run ./setup.py
5. Give all the required input
6. Gets unsupported OS error

**Expected behavior**

Should install successfully

**D

[2019-07-29 17:52] devGregA commented on #1432
@devEricA @praveendvd has included a sample scan file, please verify.

[2019-07-29 18:31] devEricA commented on #1432
Worked fine on mine @devGregA under the dev branch. @praveendvd Which branch are you using?

[2019-07-29 18:42] Maffooch commented on #1433
Hey @praveendvd Have you tried the setup.bash script [here](https://github.com/DefectDojo/django-DefectDojo/tree/master/setup)? It is the current one. Not exactly sure why we have two. Very confusing. If that does not work, I recommend using the [docker-compose](https://github.com/DefectDojo/django-DefectDojo/blob/master/DOCKER.md) install option.

Good luck!

[2019-07-29 18:53] praveendvd commented on #1432
Hi i am using docker image,

Below are the steps i did

stop all containers (sudo docker stop $(sudo docker ps -aq)
remove all images using (sudo docker system prune -a)
run the dojo container  (sudo docker run -it -p 8000:8000 appsecpipeline/django-defectdojo)

created a new product under research adn development
created a new engagement
upload synk report

i tried in another centos OS system and

[2019-07-29 20:38] praveendvd commented on #1433
![image](https://user-images.githubusercontent.com/45095911/62080544-cb514080-b248-11e9-8322-da2078a512a9.png)

I am getting the same error in a much more visually appealing way 💃

@Maffooch I tried docker-compose, but I am getting no Package 'MySQL-client'.

[2019-07-29 20:46] Maffooch commented on #1433
@praveendvd I don't know anything about CentOS besides its a distro of Linux. I know @ptrovatelli has gotten it working though. Maybe he has some pointers for you.

[2019-07-29 21:25] ptrovatelli commented on #1433
nope sorry i'v always used docker only :) . On centos host but docker-based
I thought only ubuntu was supported but i couldn't find this limitation in the doc anymore.
I'm not sure what's the status on this setup.bash install actually; i have seen messages on slack like a month back saying it worked for python3 (from @mtesauro I think?) but the readthedoc still states that it's deprecated and shou

[2019-07-29 22:20] praveendvd commented on #1433
@ptrovatelli  @Maffooch Thank you so much for looking into this, could you guys guide me how to use docker-compose , i was able to start the docker using docker-compose up . But have no clue whats the username and password.

[2019-07-29 22:27] Maffooch commented on #1433
@praveendvd That I can help with! Username and password are set by the initializer container. The username defaults to admin, and the password is randomly generated. You've got two options here.

1. Find the generated password with the following command:
``container_id=(`docker ps -a \
--filter "name=django-defectdojo_initializer_1" \
| awk 'FNR == 2 {print $1}'`) && \
docker logs $container_id 2>

[2019-07-29 22:38] praveendvd commented on #1433
Perfect!!! it worked like a charm.

Just to mention, I was not able to build the docker image using "**sudo docker-compose build**", it was having many issues like no mysqlclient module, no djange etc.

So I stopped all containers using ( **sudo docker stop $(sudo docker ps -aq** )

deleted all images using ( **sudo docker system prune -a** )

Then used ( **sudo docker-compose up** ) directly with

[2019-07-29 22:47] Maffooch commented on #1433
@praveendvd Glad you've got it straightened out. Since you're basing this from dockerhub, I'm not sure this will matter to you or not, but not building the current code base forces docker-compose up to pull the latest release from docker-hub. In short, any changes you make to the code base will not be reflected in the running instance. More info on this can be found in the DOCKER.md.

[2019-07-30 06:56] denniskniep commented on #1352
Thank you very much for your efforts! ApiV2 would be sufficient for me :)

[2019-07-30 14:00] wheelq commented on #1338
why is it marked as closed? the issue still exists

[2019-07-30 15:12] dr3dd589 commented on #1338
hello, @wheelq make a pull on the dev branch it is fixed in dev branch. Master branch is still not updated it will take some time to merge dev branch to master.

[2019-07-30 16:26] dr3dd589 commented on #1432
works fine for me too on the dev branch. @praveendvd  checkout to the dev branch.
[code]

[2019-07-30 16:50] praveendvd commented on #1432
@dr3dd589 @devEricA @devGregA

Hi , I cloned the latest code from git and ran the docker. Now the upload is working from UI but not through API.

Below is the python python code i used
**Note:** The defect dojo api package is the latest one available in the git. i pulled the code and installed through ' python setup.py develop'.

[code]

Could you please guide me here, is it issue with pytho api

[2019-07-30 17:03] praveendvd commented on #1432
Hi i was able to check the same using postman, and it throws the same error, @devGregA  @devEricA @dr3dd589

![image](https://user-images.githubusercontent.com/45095911/62149670-2ee47800-b2f4-11e9-8bab-cec98c118681.png)

[2019-07-30 18:07] wheelq commented on #1338
Thanks, I already did, but dev needs some hacks (python tool not found etc). Thanks, will try and hopefully it works :)

[2019-07-30 20:48] Hax0rG1rl commented on #1048
Hi @aaronweaver,

Instead of opening a new thread I have decided to ask here. Have a similar problem understanding how to set up a basic pentester role as part of an easy scenario. [I read this bit too: https://defectdojo.readthedocs.io/en/latest/workflows.html]

- the admin defines a product, then adds an engagement details
- then defines a pentester user under the users' section
- the admin prov

[2019-07-31 05:25] tkr6743 commented on #1416
Its working..

Running celery worker & celery beat manually.

[2019-07-31 05:25] #1416 closed

[2019-07-31 08:14] praveendvd commented on #1432
Hi team dev branch is working , master branch had the issue. Thank you for the help @devGregA @devEricA @dr3dd589

[2019-07-31 10:53] praveendvd opened #1438 "Retirejs scans not getting uploaded"
**Bug description**

Uploading retirejs scan results throws Unicode-objects must be encoded before hashing

**Steps to reproduce**

1. Goto Egagements
2. Upload the Retirejs scan result
3. Throws unicode erro

**Expected behavior**

File should parse successfully

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [X] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment informat

[2019-07-31 11:16] wheelq commented on #887
using dev brach, importing this file fails with:

[code]

[2019-07-31 11:55] praveendvd commented on #810
Hi @ptrovatelli  i can't find SOnarQube in my supported scan type, how to get it.

![image](https://user-images.githubusercontent.com/45095911/62209694-34909b00-b392-11e9-8856-c2d61d2b08c8.png)

i am using following defectdojo code:

908118a: Merge pull request #1412 from Maffooch/dev [2019-07-30 08:47:59 -0500]

[2019-07-31 13:29] ptrovatelli commented on #810
@praveendvd good question :) I need to re-activate it. Right now it's just commented out. I was waiting for some reactions on this thread, if it's fine by everyone I will reactivate it in dev branch and throw in a bit of documentation

[2019-07-31 14:01] praveendvd commented on #810
Hi @ptrovatelli thanks for your huge effort, the report looks great but i am facing one problem. I am getting only those bugs which have a vulnerability tag.

**SonarQube with filter:**

![image](https://user-images.githubusercontent.com/45095911/62218061-a45b5180-b3a3-11e9-8ac1-e612b2bf44bd.png)

**SonarQube without filter:**

![image](https://user-images.githubusercontent.com/45095911/62218181-d

[2019-07-31 14:30] ptrovatelli commented on #810
@praveendvd thank you; I didn't code it myself though :)
about your question, that project was done specifically to export vulnerabilities, not code smells and other things you'll find in sonar. If you want to export everything, you can tune the filters and remove "types=VULNERABILITY" (see index.js).

[2019-07-31 14:58] praveendvd commented on #810
@ptrovatelli !!! Thank you so much, it worked perfectly. **Does defectdojo sonarqube integration supports uploading the entire result like the one i have provided below?**

**For any one who wants to do the same , below are the steps :**

1) search for the sonar-report installation :

2) navigate to the lib directory from the search result

3) Edit the index.js

4) search for 'types=VULNERABILITY

[2019-07-31 15:05] ptrovatelli commented on #810
@praveendvd yes it should work as well. right now it's broken on the dev branch due to python3; i'm looking into it. If you're using a python2 branch (master or legacy-python2.7) it should work after uncommenting `("SonarQube Scan", "SonarQube Scan"),` in dojo/forms.py (and rebuilding the images if using docker)

[2019-07-31 16:50] praveendvd commented on #810
I am getting below error for **all the uploads** in master branch through importscan API. It seems like **master branch upload api is broken.**

![image](https://user-images.githubusercontent.com/45095911/62231157-581c0b80-b3bb-11e9-934d-875779db6807.png)

**In dev branch everything is working fine**

![image](https://user-images.githubusercontent.com/45095911/62231250-90234e80-b3bb-11e9-8789-1d1e

[2019-07-31 16:57] #1251 closed

[2019-07-31 18:34] Maffooch commented on #1438
@devEricA Could you verify and correct? Thanks.

[2019-08-01 06:06] tkr6743 opened #1441 "JIRA Closed issue status is not updated in DefectDojo"
Dear Team,

We have successfully push finding into jira but when we close the issue in jira, the status is not updated in DefectDojo

Thanks,
Kondal

[2019-08-01 09:41] MatteoMori opened #1442 "Issues deploying DefectDojo using Docker compose strategy"
**Bug description**
Hello guys,
Apologies for disturbing you but I am having some troubles deploying DefectDojo using docker-compose.

I have basically fetched the repository and followed what described in the main README file. However I keep having the following issue:
[code]

Am I doing something stupid here?

**Steps to reproduce**
[code]

**Expected behavior**
As per documentation, I expect th

[2019-08-01 09:53] MatteoMori commented on #1442
I am sure it does not make any difference but I have also tried to install `docker ce` just in case:

[code]

However it keeps failing with the same output

[2019-08-01 10:44] praveendvd commented on #1442
even 97261ad: Merge pull request #1420 from dr3dd589/fix_permission [2019-07-31 13:08:52 -0500] dev branch is  failing but with importError: for Celery

![image](https://user-images.githubusercontent.com/45095911/62287357-9d8b1800-b451-11e9-8093-de6bde5af6a8.png)

[2019-08-01 11:15] praveendvd commented on #1442
Hi @MatteoMori it is working fine in my system. Could you remove unused images and volumes and try again. ( use below steps only in non-production environment)

You can use below commands:

**sudo docker stop $(sudo docker ps -aq)** - stops all containers , **use only if you are not using any other containers than defect dojo**

else individually stop containers using

**sudo docker stop <conatine

[2019-08-01 12:40] MatteoMori commented on #1442
Hi!

Thank you very much for your help on this. I did follow your suggestions and try to run `docker-compose up` after having cleaned.

However I keep having issues:
[code]

and If I try to build:
[code]

[2019-08-01 12:44] lucasluitjes commented on #1409
That is possible, however, I do not have the machine with me right now. But if that is the case, we should update the documentation. Over here (https://github.com/DefectDojo/django-DefectDojo/blob/master/DOCKER.md) it says the following:

If I understand your comment correctly the actual behavior is the opposite of the documentation?

[2019-08-01 12:46] torgebauer opened #1443 "Issues regarding dependency "pandas""
Since the release of the new version of pandas (0.25.0) my docker image build runs into following issue:

[code]

Please adjust the requirements.txt to a fixed version e.g. pandas==0.24.2.

Greetings

[2019-08-01 16:01] #1411 closed

[2019-08-01 16:11] #1433 closed

[2019-08-01 16:11] #1432 closed

[2019-08-01 17:35] ptrovatelli commented on #810
@praveendvd  I have just made a PR with the fix for python3 and other improvements.
See https://github.com/DefectDojo/django-DefectDojo/pull/1445
You'll be glad to see that I have also added a parameter to export all sonar bugs, not only vulnerabilities in the sonar-report export code :)
Last version can be found here https://github.com/soprasteria/sonar-report (the npm registry is not up to date

[2019-08-01 17:43] ptrovatelli commented on #1409
@lucasluitjes you have a good point :) . I have updated the doc in the  (unrelated) PR https://github.com/DefectDojo/django-DefectDojo/pull/1445

[2019-08-01 19:03] #1431 closed

[2019-08-01 19:04] #1428 closed

[2019-08-01 21:10] devEricA commented on #1438
Fix is done, just awaiting it to be pushed. While I am at it, @praveendvd do you mind if we add your scan to our Sample Scan repository? The reason I ask is because our sample scan for Retire.js hasn't been working for a long time, so I tailored the fix around yours.

[2019-08-01 21:30] praveendvd commented on #1438
Perfect , you can use that report . It doesn't contain any sensitive information as I used OWASP juice shop as the target. Thank you so much for working on this

[2019-08-01 21:32] #1390 closed

[2019-08-01 23:32] praveendvd commented on #1442
@MatteoMori  try reinstalling your docker and docker compose ,

use the official document for installing and uninstalling, remove both docker-compose and docker engine, and then reInstall.

Your docker version was showing 1.13.1 which was released in 2017. the current version is 19 ( which you had in the docker-ce). the syntax ' FROM PYTHON:2 ' is supported only from versions > 17.06.

[2019-08-02 00:21] praveendvd commented on #1442
@MatteoMori

[2019-08-02 02:47] bmiller2807 opened #1446 "Access to Custom Fields(ie: Meta_data) via the v2 API"
How might one use the v2 API to retrieve and/or update custom Fields ? I have found nothing in the docs about this.

[2019-08-02 07:08] ptrovatelli commented on #810
@praveendvd feel free to try this PR too that brings a different approach, with a 2-way integration with snoarqube:
https://github.com/DefectDojo/django-DefectDojo/pull/1444

[2019-08-02 07:31] praveendvd commented on #1442
https://docs.docker.com/install/linux/docker-ce/centos/

Use this step , and install using yum

[2019-08-02 08:37] praveendvd commented on #810
sure @ptrovatelli will give it a look and try to give you the feed back at the earliest as i can. Thank you so much.

[2019-08-02 09:48] MatteoMori commented on #1442
Ahhh ok!

I tried and the application came up just fine. Thank you very much for your help on this!

[2019-08-02 09:49] #1442 closed

[2019-08-02 12:52] praveendvd commented on #810
Hi @ptrovatelli ,

I cloned and build the below repository:

and installed new sonar-report using below command:

I was able to upload default report which takes in only vulnerabilities:

File used :

Output:

![image](https://user-images.githubusercontent.com/45095911/62371402-b4526d00-b52c-11e9-8007-9a65d33c583e.png)

But for full report , it throws parsing error:

File used:

Output:

[2019-08-02 13:45] ptrovatelli commented on #810
@praveendvd the parser wasn't meant to import non-vuln bugs. there may be a field missing on those. i reproduced with the tomcat report; i'll have a look.

[2019-08-02 14:07] praveendvd commented on #810
Thank you so much @ptrovatelli  , i also checked the second solution you suggested.

but i am getting below error message

![image](https://user-images.githubusercontent.com/45095911/62375718-c507e080-b536-11e9-881c-6c5388ed971f.png)

my sonar server is at localhost:9000 and my DefectDojo is at localhost:8000

i also tried giving url field in the tool configuration as 'http://localhost:9000/api' b

[2019-08-02 14:10] propersam commented on #1352
Hey @Maffooch nd @denniskniep

I added a huge enhancement to DefectDojo.

You can now generate reports through Api v2 with the above PR

You need to make a POST request.. to any of the following valid endpoints:

http://127.0.0.1:8000/api/v2/product_types/<id>/generate_report/
http://127.0.0.1:8000/api/v2/products/<id>/generate_report/
http://127.0.0.1:8000/api/v2/engagements/<id>/generate_report/

[2019-08-02 14:17] propersam commented on #1352
Please do try it out..and let me know if it's okay to process with Documenation and unittest.

[2019-08-02 14:20] propersam commented on #1151
With the new functionality I added, report generation through APIv2,  in PR #1447. I see this task will become easier.

[2019-08-02 15:08] praveendvd opened #1448 "Broken importscan API v1"
**Bug description**

Cannot upload files using API v1

**Steps to reproduce**

Steps to reproduce the behavior:

1. Try uploading files using api
2. provide fields like engagement,scan_date,scan_type and file
3. Send post request
4. Import_parser_factory() error is thrown

**Expected behavior**

The file should get uploaded else server should return other required fields

**Deployment method** *(s

[2019-08-02 15:17] #1421 closed

[2019-08-03 13:59] dr3dd589 commented on #1393
hey, @madchap you got the sample?

[2019-08-05 06:39] ptrovatelli commented on #810
@praveendvd I haven't tried this one yet. have you tried the last version? (last commit 3 days ago). If it's still not working i advise to continue the discussion here https://github.com/DefectDojo/django-DefectDojo/pull/1444 or on slack if @twsagarcia  is there

[2019-08-05 16:46] #1438 closed

[2019-08-05 16:46] #1281 closed

[2019-08-05 16:46] #1154 closed

[2019-08-05 16:47] #1158 closed

[2019-08-05 16:48] #1409 closed

[2019-08-05 16:50] #1414 closed

[2019-08-05 17:15] Maffooch commented on #1443
Hey @torgebauer that seems to new addition introduced in python3. The dev branch is currently running on python3, so it is not an issue over there.

[2019-08-05 19:24] Maffooch commented on #1448
Hey @praveendvd I just realized the bug you found was on the master branch. This has since been fixed on the dev branch and will eventually make it to the master branch.

[2019-08-05 19:24] #1448 closed

[2019-08-05 19:29] Maffooch commented on #1443
I forgot the mention that fixes and changes in the dev branch will eventually make it to the master branch. In the meantime, feel free to modify your requirements.txt to resolve the syntax errors.

[2019-08-05 19:29] #1443 closed

[2019-08-06 06:05] parag85 opened #1456 "Server Error (500) - Issue review status change from "Close Finding" to "Not Fixed""
**Bug description**
Post changing Issue review status from Closed Finding to Not Fixed, server error (500) error page comes.

**Steps to reproduce**
1. Go to Edit Issue page
2. Select "Under defect review" checkbox
3. Click on Finished button
4. Click on  [Review Finding for Closure] button
5. Add note
6. Select "Not Fixed" value from "Defect Choice" dropdown
7. Click on Finished button
8. "Server

[2019-08-06 07:23] dr3dd589 commented on #1456
hello, @parag85 I think you are using the master branch. It is working fine in the dev branch. it will be fixed in the next release. or you can use dev branch.

[2019-08-06 10:47] ptrovatelli commented on #1393
i've added a sample here https://github.com/DefectDojo/sample-scan-files/pull/34

[2019-08-06 10:54] parag85 commented on #1456
Can you help me how to upgrade my docker to latest one, so will get the latest update for my defectdojo env.

[2019-08-06 12:00] praveendvd opened #1457 "Snyk report not getting uploaded"
**Bug description**

gets invalid format error on uploading snyk json report

**Steps to reproduce**
Steps to reproduce the behavior:

1. Go to Engagement
2. Import Snyk report
3. Invalid format error is thrown

**Expected behavior**

It should upload successfully

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [x] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment informa

[2019-08-06 12:03] praveendvd commented on #1438
@Maffooch  In which commit does this fix available ? or is it yet to be pushed ?

[2019-08-06 12:07] praveendvd commented on #1438
I am getting invalid format error in the latest dev commit: 68339f6: Merge pull request #1449 from Maffooch/dev [2019-08-05 11:02:03 -0500]

![image](https://user-images.githubusercontent.com/45095911/62538577-0e17a780-b84b-11e9-8fa2-01c9682fa222.png)

[2019-08-06 12:08] praveendvd commented on #1438
@devEricA Thank you guys for looking into this, please let me know if i am on wrong commit

[2019-08-06 12:47] sboschman opened #1458 "Clair Klar parser cannot handle optional 'description' field"
**Bug description**
The 'description' field is optional in the Clair (Klar) json output. The parser uses this field without checking if it exists to create the DefectDojo description (https://github.com/DefectDojo/django-DefectDojo/blob/dbb91d9b2b3115faaabcf0bbd993cc15c42f72f3/dojo/tools/clair_klar/parser.py#L65). This results in an internal server error during the scan result upload.

**Expected

[2019-08-06 14:13] Maffooch commented on #1438
@praveendvd So there was a couple issues. At some point, all JSON based parser were broken in the way that raised the exception that you're getting. Not sure when it happened or what broke them though. That was fixed [here](https://github.com/DefectDojo/django-DefectDojo/pull/1449). The fix motivated from your issue was resolved somewhere in [here](https://github.com/DefectDojo/django-DefectDojo/p

[2019-08-06 14:35] dr3dd589 commented on #1457
hey, @praveendvd  your sample works fine on my system. ( docker + dev branch)

![synk](https://user-images.githubusercontent.com/31597172/62549062-75524d80-b885-11e9-8881-273219a35ce0.png)

[2019-08-06 16:13] dr3dd589 commented on #1456
there is doc how to install the development version of Defectdojo [here](https://github.com/DefectDojo/django-DefectDojo/blob/master/DOCKER.md)

note: on installing new one first remove old Defectdojo containers and volume.

[2019-08-06 17:03] praveendvd commented on #1457
Hi , I am still getting the same error. Could you try removing all the images and volumes , and try again

[2019-08-06 17:12] Maffooch commented on #1457
Hey @praveendvd something broke all JSON based parsers at some point. The fix was made [here](https://github.com/DefectDojo/django-DefectDojo/pull/1449).

[2019-08-06 17:35] dr3dd589 commented on #1457
yes, @praveendvd  you are right it's not fixed yet. I can reproduce this now. @Maffooch it raises exception error now.

[2019-08-06 17:38] Maffooch commented on #1457
@dr3dd589 Shoot me. Would you mind looking into it? Maybe it is other parsers as well?

[2019-08-06 17:42] dr3dd589 commented on #1457
yes, I'm getting this error in all JSON support parsers.

[2019-08-06 17:43] Maffooch commented on #1457
Hmm. Something is not right here...

[2019-08-07 02:13] #970 closed

[2019-08-07 05:15] parag85 commented on #1456
What about Data which are already there?

[2019-08-08 14:26] hujarl commented on #1250
I am very interested in the upgrade process as well

[2019-08-08 19:27] #897 closed

[2019-08-08 19:44] #1342 closed

[2019-08-08 19:44] #1218 closed

[2019-08-08 19:45] #890 closed

[2019-08-08 19:45] #1085 closed

[2019-08-08 19:45] #1352 closed

[2019-08-08 19:45] #1458 closed

[2019-08-08 19:46] #1393 closed

[2019-08-08 19:52] #1384 closed

[2019-08-08 19:54] propersam commented on #1340
I would be taking this up...

can i get more explanation and direction of where else tag is used somewhere in the project

[2019-08-08 20:02] Maffooch commented on #1340
@propersam Tags can be added to a finding by editing them. They can add some extra info, or just as a label. Issue is, the tags are not models. They are stored in a finding as a simple list of Tag objects. That is the reason it is not possible to add tags when creating a new finding. Im not sure how this will be done. Best of luck!

[2019-08-08 20:06] propersam commented on #1340
Tags not being a model is not a problem for me....

lemme check it out..nd come back if i've got any questions...

[2019-08-08 20:07] propersam commented on #1340
meanwhile i made some PR to Documentation repo..expecting merge in order to proceed with unittest issue...

[2019-08-09 11:47] praveendvd commented on #1441
@tkr6743  Could you help me with pushing defect dojo issues to Jira.  How did you do that

[2019-08-09 13:52] Maffooch commented on #1359
@nebi-frame Is using Jira's API a sufficient solution for you?

[2019-08-09 15:15] #1239 closed

[2019-08-09 15:18] Maffooch commented on #1457
Hey @praveendvd Im pretty sure this time around was the fix. Would you mind testing it out? PR #1467

[2019-08-09 15:27] praveendvd commented on #1457
I am at 342b90c: Merge pull request #1460 from devEricA/Bulk_Edit_filters [2019-08-08 15:03:24 -0500]

and still faces the same issue.

![image](https://user-images.githubusercontent.com/45095911/62790252-9a7fcf80-bac2-11e9-8387-8063fc032f41.png)

[2019-08-09 15:29] praveendvd commented on #810
@ptrovatelli

I tested your fix , it works perfectly. I was able to upload both the vulnerability and full report. I will try with API on monday.  Thank you so much for the help

[2019-08-09 15:30] Maffooch commented on #1457
@praveendvd PR #1467 has not been merged yet. Checkout the branch and try it. This may be of help https://help.github.com/en/articles/checking-out-pull-requests-locally

[2019-08-09 18:47] bmiller2807 opened #1470 "Issue importing a scan with more than one finding"
**Bug description**
When i try to import a scan of a csv file containing more than 1 finding, it only imports 1 finding. I am not sure this is the expected behavior.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go a products engagements screen
2. Click on findings then import scan
3. Enter all the required information including the .csv file that contains the multiple findings, then

[2019-08-09 19:27] Maffooch commented on #1470
Hey @bmiller2807 What scan type are you using? Also, is it safe to assume you're on the master branch? There is a new release coming in the near future to fix a lot of issues.

[2019-08-09 19:32] bmiller2807 commented on #1470
I am using Generic Findings Report , the version we are using is v1.5.2

[2019-08-09 19:38] Maffooch commented on #1470
@bmiller2807 Oh goodness. This bug has been fixed quite some time ago. I recommend upgrading either to the current master branch or the dev branch. A new release is coming soon to update the python3 and Django 2.2 so updating to dev may be in your best interest.

[2019-08-09 19:46] bmiller2807 commented on #1470
@Maffooch Thank you ... and Agreed .. we will check out the dev branch... Can you advise if accessing Custom Fields via the API is in the latest as well ?

[2019-08-09 19:48] Maffooch commented on #1470
@bmiller2807 Im not sure. I don't really use the API unless I have to. May just have to test it and find out :)

[2019-08-09 19:48] #1470 closed

[2019-08-09 21:10] praveendvd commented on #1457
Thank you so much its working fine , but the retire Js upload fails again. Should I raise a bug or comment on the closed #1438

![image](https://user-images.githubusercontent.com/45095911/62809301-6f14d900-baf2-11e9-84b8-4f674e423fa9.png)

[2019-08-09 21:13] Maffooch commented on #1457
@praveendvd I'll look into it right now and create a new PR. Are you still using the report that was in your initial issue about retire.js?

[2019-08-09 21:18] praveendvd commented on #1457
@Maffooch Thanks for pointing out that, the old json is working fine. I will just triage my new report and see if its issue from my side or not. Thank you for that

[2019-08-09 21:19] Maffooch commented on #1457
@praveendvd Hmm. If it doesn't work, would you mind sending me the broken file so that the parser could be improved?

[2019-08-09 21:20] praveendvd commented on #1457
[RetireResults.json.tar.gz](https://github.com/DefectDojo/django-DefectDojo/files/3488083/RetireResults.json.tar.gz)

Sure @Maffooch ,

[2019-08-09 21:32] Maffooch commented on #1457
@praveendvd Thank you so much! They appear to be different versions. Ill have something for you by the end of the day Monday.

[2019-08-09 21:37] praveendvd commented on #1457
Thank you so much @Maffooch for your effort and help, please do let me know if you would be needing anything else.  Happy friday, :)

[2019-08-09 21:47] devEricA opened #1472 "Contrast XML upload results in a ParserError"
**Bug description**
Uploading the contrast-node-goat.xml sample scan file causes a ParserError.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a new product. If you already have one in your instance, skip steps 1-2
2. Fill all of the required fields, and hit submit
3. In the product, click 'Findings', then 'import scan results'
4. Either go to https://github.com/DefectDojo/samp

[2019-08-10 12:51] wurstbrot opened #1475 "Not possible to use docker-compose on master"
**Bug description**
I run the following on master:
`docker-compose up`
I get:
[code]

**Expected behavior**
Working build

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [x] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment information**
 - Operating System:  Ubuntu 18.04
 - DefectDojo version: current master

In dev, it is working.
I assume that https://github.com/Defect

[2019-08-10 12:55] wurstbrot commented on #1475
I applied the patch in #1296 and the builds works

[2019-08-10 14:04] dr3dd589 commented on #1472
hey, @devEricA Contrast importer accepts CSV report format not XML.

[2019-08-10 14:41] dr3dd589 opened #1476 "ValueError on importing Immuniweb sample."
**Bug description**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
1. import immuniweb sample [here](https://github.com/DefectDojo/sample-scan-files/blob/master/immuniweb/ImmuniWeb-multiple-vuln.xml)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Deployment method** *(select with an `X`)*
- [ ]

[2019-08-10 14:46] wurstbrot opened #1478 "Deduplication stopped working (APIv2)"
I am using api v2 with a docker-compose setup with current dev branch. I am trying to import dependency check results.

Deduplication is not tiggered.  I guess it has somehow been triggered before.
[code]
It might be related to https://github.com/DefectDojo/django-DefectDojo/pull/1395 (@Maffooch)

[2019-08-10 15:04] ptrovatelli commented on #810
sonarqube was reactivated in dev branch: see https://github.com/DefectDojo/django-DefectDojo/pull/1445
There is also another solution in development with 2-way integration with sonar: see https://github.com/DefectDojo/django-DefectDojo/pull/1444

[2019-08-10 15:04] #810 closed

[2019-08-10 15:14] ptrovatelli commented on #1478
@wurstbrot are you trying to deduplicate several findings within the same report, or do you upload twice the same report? can you provide a sample report for reproducing the issue?
Thanks!

[2019-08-10 16:41] Maffooch commented on #1476
@dr3dd589 I totally did this. I apologize for creating extra work for you!

[2019-08-10 17:11] Maffooch commented on #1478
Hey @wurstbrot deduplication has to be explicitly enabled in settings for it to happen in any place now. The changes were made [here](https://github.com/DefectDojo/django-DefectDojo/pull/1395).

[2019-08-10 17:33] wurstbrot commented on #1478
Sorry for not being precise.
I use for example https://github.com/DefectDojo/sample-scan-files/blob/master/dependency_check/dependecy_check_v4.0.2.xml

I do activate dedub in system settings and I do upload multiples time.

[2019-08-10 17:36] Maffooch commented on #1478
Have you enabled the loggers associated with dedupe in settings.py? They are pretty verbose and can help narrow down the issue. Before the changes, dedupe was way too generous in passing out duplicate status. I made it a bit harder to earn it.

[2019-08-10 17:38] wurstbrot commented on #1478
I haven't, will do that tomorrow.

I thought by seeing _Received task: dojo.tasks.async_dupe_delete_ there should be also a task like _Received task: dojo.tasks.async_dupe_

[2019-08-10 17:39] Maffooch commented on #1478
Hmm. There totally should have been. Ill play around with it today and see if I can come up with something. Will keep you posted.

[2019-08-10 18:39] Maffooch commented on #1457
Hey @praveendvd I forgot I will be out for some of Monday, so I fixed the issue today. Checkout #1481 to see the fixes. Would you allow me to include the new scan file in the sample-scan repo for future testing?

[2019-08-10 20:30] Maffooch commented on #1478
After further investigation, I found that if no line number is supplied in the scan, deduplication kinda falls apart. The hash code is not even computed. This falls in line very similar to #1128. We have got to come up with a better system. The largest issue is that not all scanners provide the same information. For example, the dependency check scan does not even provide a line number. How can th

[2019-08-10 20:47] wurstbrot commented on #1478
From my point of view, this smells like tool parsers might provide an optimized way for deduplication handkling and in case there is no optimized way, the default way is used.

[2019-08-10 20:51] Maffooch commented on #1478
So you're saying that each parser would have its own method of identifying duplicates, and if that fails, the system level method would take over and give it a go? That would work in the case of finding dupes with the same parser, but wouldn't really do much with findings that come from other parsers.

[2019-08-10 20:53] wurstbrot commented on #1478
the other way. the system level dedup is used, in case a parser is not having his own dedup implementation.

In this case it means, that we have to add a parser implementation for dependency check while is does not effect all other parsers.

[2019-08-10 21:00] Maffooch commented on #1478
Yeah, that could be a good idea. I suppose we could just implement on a case by case basis. Im going to stew on this for a bit.

[2019-08-10 21:03] wurstbrot commented on #1478
Tell me how I can help. This is a big problem for my production instance as it is not usable at all (or I have to switch to re-import loosing benefits of dedup).

[2019-08-10 21:16] Maffooch commented on #1478
Got an idea here. What if we made deduplication a little less strict. As it stands now, if a finding does not have a file path and line number, a hash code is not generated, and deduplication does not happen. Maybe we could rely on equality instead. This way, if findings share all the same characteristics along with line number/path being none, deduplication can still do something. What kind of is

[2019-08-10 21:17] ptrovatelli commented on #1478
Hi guys; funny I was just having a thought about line number a couple of days ago: say you find a vuln in file tutu.java at line 100; before importing the file again, you have added some code before line 100, because in real life you don't just re-import always the same scan :) . So your finding is now at line 101. Bam! the deduplication will not work because the line has changed. It'll appear as

[2019-08-10 21:27] Maffooch commented on #1478
@ptrovatelli Thats a good example. With that in mind, that's closer to how deduplication works with endpoints. It's basically just checking the file path on a server. I'm in favor or simply removing line number.

I think the configurable dedupe options would be a lot of work. Deduplication is intertwined with the save function in the Finding model. This would also bring some compatibility concerns

[2019-08-10 21:37] ptrovatelli commented on #1478
@Maffooch I may be wrong but I don't see a problem here:
- each parser computes the hash_code, based on it's configuration (could even be overriden in the API call)
- the dedup system itself doesn't care of the parser's specificities:it's just checking if the hash_code of that new finding is the same or not as that other finding.
Of course I'm supposing that the dedup will not work with one findin

[2019-08-10 21:45] Maffooch commented on #1478
@ptrovatelli It does work actually! I was as surprised as you are. In a real world scenario, it probably wouldn't work as the descriptions is part of the hashcode as well. Check out a [test](https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/dedupe_unit_test.py) I had written for deduplication.

So the parser computes _a_ hashcode so that it can rule out duplicates from the same scan.

[2019-08-10 21:54] ptrovatelli commented on #1478
I didn't know there were 2 hash_code! so the one in the DB is the dedup one? couldn't we make this one configurable per parser?
there are for sure 2 families of parsers: the kind of ZAP working on endpoints, and the kind of sonar/checkmarx etc working on file_path which is file name + line number;
I haven't looked at your code in details but last time I check, I did see some specificities in the d

[2019-08-10 21:56] ptrovatelli commented on #1478
and for dedup across different parsers, well it would obviously work if they have the same fields configured for dedup, and if those are filled the same way...

[2019-08-11 05:18] wurstbrot commented on #1478
For dependency check, from my point of view you take the library+CVE for a hash code as this is unique.

[2019-08-11 06:51] ptrovatelli commented on #1478
yes for dependency check it's easy to uniquely identify a vuln.
For source code analysis it may be a bit tricky as the line number may be changing and still the vuln is the same as before and should be identified as duplicate. However we could get help from new fields from reports to work on duplicates.
For example checkmarx has already an advanced algo inside to track issues even in changing code

[2019-08-11 07:42] wurstbrot commented on #1478
Your description highlights that it is parser related logic to specify a unique value (e.g. hash) to identify duplicates.

[2019-08-11 08:39] valentijnscholten commented on #1478
Deduplication without line numbers worked fine before #1395. I think #1395 should be reverted and reviewed/tested thoroughly before merging it back into dev. It breaks too many things that were working (or working more or less) before.

[2019-08-11 09:08] ptrovatelli commented on #1478
it's true that #1395 was merged a bit fast. abandonning both "skip_duplicates" and "close_old_findings" should have been discussed before merging as many ppl were probably relying on them. maybe we should revert, agree on the exact behavior and take the time to dev something that works for everyone?
the migration part can probably be left though, to avoid adding another "rollback migration"

[2019-08-11 12:59] praveendvd commented on #1457
Hi @Maffooch  i verified the fix and its working perfectly thank you so much for looking into this , that too on a weekend. Enjoy your vacation and feel free to use the scan report as sample.

[2019-08-11 20:28] praveendvd opened #1482 "Trufflehog reports are not getting uploaded"
**Bug description**

Gets json should be str adn not bytes error on uploading trufflehog html.

**Steps to reproduce**

Steps to reproduce the behavior:

1. Go to engagements
2. Upload trufflehog json
3. Exception is thrown

**Expected behavior**

File should get uploaded

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [X] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment

[2019-08-12 07:38] #1475 closed

[2019-08-12 08:36] madchap opened #1484 "Menu overlap?"
**Bug description**
This is the first time I am seeing this, maybe it was that behavior all along?

If you click on a menu, it will stay open. As you go onto other menus, they will overlap. You kind of need to reload the page or click on "dashboard" to get rid of it.

A small video here: https://youtu.be/HfRkKgeLB4Q

**Steps to reproduce**
Steps to reproduce the behavior:
1. Click on a side menu
2

[2019-08-12 15:26] #1240 closed

[2019-08-12 15:43] madchap opened #1486 "'WSGIRequest' object has no attribute 'user'"
**Bug description**

Setup on AWS with mysql 5.7 on RDS. Keeping mysql docker-compose around, just removing dependencies from other containers.

Checked out from dev just now `Mon 12 Aug 2019 05:40:56 PM CEST`, commit `4275fd866b80c1d2d6fcac7d151bb6341e3f09ad`

[code]

Also, if doing a `python manage.py makemigration`:

[code]

Looking around if I could have messed up some configuration or somethi

[2019-08-12 15:48] #1486 closed

[2019-08-13 08:06] bilalk88 opened #1487 "DefectDojo JIRA Integration fails"
Hi,
I'm trying to configure JIRA in DefectDojo, but every time I'm getting an error "Unable to authenticate. Please check the URL, username, and password." I'm sure I'm entering proper URL and username and password, still I'm getting such error.

Below is the log for reference :
`Starting new HTTPS connection (1): JIRA-URL.com:443
HTTPSConnectionPool(host='JIRA-URL.com', port=443): Max retries exc

[2019-08-13 08:54] #1476 closed

[2019-08-13 08:56] madchap opened #1488 "Impossible to override DD_EMAIL_URL in env file"
**Bug description**
So apparently, it is when you want to override the DD_EMAIL_URL in a docker-compose env file that it spews this error. Setting the value straight in settings.py seems to work fine.

Example of what is used to talk to the localhost smtp: `smtp://localhost:25`

The following error is thrown out if you override the variable.

[code]

**Steps to reproduce**
Steps to reproduce the b

[2019-08-13 10:25] propersam commented on #1340
@madchap @Maffooch
I added a tag endpoint to conrol tags in findings.
you can perform any of the following request:
GET
POST
DELETE

http://127.0.0.1:8080/api/v2/findings/2/tags/

data format is an array of tags:
{
	"tags": ["desperate", "metarmorphosis"]
}

[2019-08-13 12:28] madchap commented on #1393
Sorry, late to the party. The fix seems to be working fine, thank you!

[2019-08-13 16:23] Maffooch commented on #1487
I had a similar issue and ended up generating a token and using that as the password. All has been well after that. I use Atlassian, so it may or may not be applicable to your situation.

[2019-08-13 16:34] Maffooch commented on #1441
Hey @tkr6743 Check out #1419 It sounds like it might work for you.

[2019-08-13 18:45] #1457 closed

[2019-08-13 18:52] Maffooch opened #1492 "Configure Travis to run all unit tests in the /tests folder"
These tests were written to be used by Travis.

[2019-08-13 19:01] Maffooch commented on #1228
Hello all. A few of the mentioned issues have been fixed on the dev branch and will make it to the master branch in the next upcoming release. Check them out and see if they are still creating problems for you.

[2019-08-13 19:14] Maffooch commented on #1013
Confirmed that this has been fixed at some point. Not sure when though.

[2019-08-13 19:14] #1013 closed

[2019-08-13 19:22] Maffooch commented on #988
Hello all. The current report builder has had its issues resolved on the dev branch. However, only Asciidoc reports can be "built" and generated. A new report builder is in the works and is nearly finished at #1362. Both builders will remain going forward, but the current report builder will not receive any new features or formats.

[2019-08-13 19:22] #988 closed

[2019-08-13 20:12] propersam commented on #1340
For the sake of understandable documentation there have been an update...
a new end point as been added..

http://127.0.0.1:8080/api/v2/findings/:id/remove_tags/

this endpoint cn take *PUT* or *PATCH* method..
and receive data format:

{
"tags": ["tag1", "tag2"]
}

*DELETE* method is no more supported on http://127.0.0.1:8080/api/v2/findings/:id/tags/ endpoint
only *GET* and *POST*

[2019-08-14 05:12] bilalk88 commented on #1487
Hi @Maffooch
I'm using JIRA Software, so i'm not sure i can generate the token. I'm only using username and password with me.
Is there anything that i can do with the configuration.

[2019-08-14 09:52] madchap commented on #1336
Btw, I am still being hit by this on a yet newer instance -- of course bringing forward data that lived through the python 2 -> python 3 transition.

[2019-08-14 12:07] madchap opened #1494 "Popen git pollutes fixture dumps"
Since the introduction of the Popen git stuff, this gets on stderr on datadump and a lot in the logs.
It would be great to silence this IMO.

[2019-08-14 13:37] dr3dd589 commented on #1336
but this is happening only when you upgrade from python2 to python3 and now default it is patched for Django 2.0. So I don't think it would be great to implement this manually for python2 when it is already fixed. it may raise another problem.

[2019-08-14 13:49] madchap commented on #1336
Yea... Sucks to be the only person in the world to have migrated from py2 to py3 with some "prod" data :-/

I am going to go ahead and close this.

Cheers.

[2019-08-14 13:49] #1336 closed

[2019-08-14 16:41] Maffooch commented on #1487
This is strictly a JIRA thing. When I access my Jira Server outside of DefectDojo, I also only user my username/passsword. I cannot get authenticated though DefectDojo without using a token. I suspect its something to do with the JIRA API we use.

[2019-08-14 16:42] #1340 closed

[2019-08-14 16:43] #1484 closed

[2019-08-14 17:52] Maffooch commented on #1478
Ive been stewing on this a few days. I don't believe #1395 was merged too fast. The first PR was open for 6 days (closed due to wacky commits) and the second (#1395) was open for another week before being merged. Both of these PR's were exactly the same.

Additionally, there was a [unit test](https://github.com/DefectDojo/django-DefectDojo/blob/dev/tests/dedupe_unit_test.py) written to ensure dedu

[2019-08-14 18:02] valentijnscholten commented on #1478
Maybe we should just accept that things break in the dev branch. On the other hand 6 days during a holiday period with no mention on slack does not really raise awareness.

Anyway, the important points for me were (are) the apiv2 options "skip_duplicates" and "close_old_findings". Both working correctly with findings without line numbers, which is common for third party dependency scanners.

A sou

[2019-08-14 18:09] wurstbrot commented on #1478
Deduplication is broken in _master_/Production

[2019-08-14 18:10] Maffooch commented on #1478
The thing is that they weren't working according to the documentation. They used the same hashcode as the central dedupe. The changes were made to reflect that of the documentation. With regards to line numbers, @ptrovatelli gave an excellent example on why line numbers should be removed from this equation.

The has code is computed on each save of a finding. So it is not a one and done type of de

[2019-08-14 18:15] Maffooch commented on #1478
This has been in master the whole time? Well that changes things. #1395 has not reached the master branch yet. This makes my point even more important. Deduplication was very broken before my changes (and afterwards based on public opinion ;)). I assume @wurstbrot was using both the skip/close APIv2 combo and also tried the central dedupe as well.

[2019-08-14 18:17] wurstbrot commented on #1478
I better recheck...

[2019-08-14 18:23] Maffooch commented on #1478
Hmm. Im not familiar with that deployment. I can only guess its similar to kubernetes that uses master. How many login buttons do you have? The current master defaults to three.

[2019-08-14 19:34] ptrovatelli commented on #1478
I agree than 7 days may seem long when you push a commit and other commits may be merged, making yours conflicted :) Unfortunately we don't always have time to check all PR each day or even each week. Maybe a mention @ moderators in github or slack would be appreciated BEFORE starting on working on something that will bring breaking changes. And as discussed in a previous discussion about dedup a

[2019-08-14 19:57] Maffooch commented on #1478
Will do that from now on.

I think the first three bullets are good, but the fourth one really bothers me. If you're wanting to delegate dedupe to parsers, I have a feeling the amount of families will balloon with time.

Going off your family idea, what if we made an import dedupe that filters all findings based on test type and only include items in hashcode that are not 'None'? It could be done

[2019-08-14 20:36] ptrovatelli commented on #1478
@Maffooch nope, the fourth bullet reads "done OUTSIDE of the parser" :)
The only thing the parsers need to do is fill out findings fields. based on those fields and a global configuration, an outside process generates the hash_code and makes the dedup.

[2019-08-14 20:40] Maffooch commented on #1478
I guess give it a shot!

[2019-08-15 14:17] praveendvd commented on #1487
@Maffooch  i am facing the same issue, i created token and tried. But still gets the same error. On checking the logs i cannot see any authentication attempt from Defect dojo. Is defect dojo using basic auth or auth 1.0 ?

[2019-08-15 14:21] Maffooch commented on #1487
Basic auth is used. This the [package](https://pypi.org/project/jira) used to interact with the Jira server. The respective code in DefectDojo is found [here](https://github.com/DefectDojo/django-DefectDojo/blob/9e850dc26fcbed7b33669d8dcb9c5ef843e6271d/dojo/jira_link/views.py#L79).

[2019-08-15 15:33] praveendvd commented on #1487
Hi @Maffooch thank you so much,

https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-basic-auth-and-cookie-based-auth/

So, basic authentication does not work with user name and password for jira cloud. I was able to create jira configuration when using Jira cloud using api as you suggested.

But, for jira software local server, this is not supported and requires auth 0.1, but i

[2019-08-15 15:51] Maffooch commented on #1487
@praveendvd Could you create a dedicated issue for this? Gather all your research and related info for reference. I don't have a local server and not sure how long it will be before I get one. Maybe someone else can get to it before I do. Thanks.

[2019-08-15 17:40] madchap commented on #1488
I am not seeing correctly :)

[2019-08-15 17:40] #1488 closed

[2019-08-15 18:46] #1482 closed

[2019-08-16 10:18] bilalk88 commented on #1487
Hi,
After reading the log content "Temporary failure in name resolution", is it related to container issue. Might be container is not able to resolve the DNS. Might be I'm wrong, just a thought..
Found this article https://www.dedoimedo.com/computers/docker-container-no-network.html , but I'm not sure I'm thinking in a right way.

[2019-08-16 11:46] praveendvd commented on #1416
Hi could you help with the step, i am getting no project found with key error for jira cloud and for Jira local server it is not allowing to add the jira configuration only, i am getting connection refused error

[2019-08-16 13:33] madchap opened #1496 "Hide jira columns when viewing findings if no jira configured on project"
**Is your feature request related to a problem? Please describe**
If there is no jira configured for a project (not system level), we can potentially regain some screen estate by not showing these blank columns?

[2019-08-16 14:57] madchap opened #1497 "Import finding date format glitch"
**Bug description**
When you import a finding in the UI, the initial date format is `MM/DD/YYYY`. As soon as you choose a date with the date-picker, it changes to `YYYY-MM-DD`.

This also prevents entering the date by hand.

**Expected behavior**
The date string remains the same, whichever it is, and allows for manually entering the date.

**Deployment method** *(select with an `X`)*
- [ ] Kuberne

[2019-08-16 15:23] Maffooch commented on #1496
Hey @madchap I was under the impressions it generally worked this way. Can you provide examples where it is not working?

[2019-08-16 18:08] #1407 closed

[2019-08-16 19:26] #1496 closed

[2019-08-16 19:26] #1497 closed

[2019-08-16 21:26] ptrovatelli opened #1500 "Make the deduplication configurable per parser"
As discussed a little bit in https://github.com/DefectDojo/django-DefectDojo/issues/1478, I believe it would be useful to have a configurable hash_code computation per parser, for the deduplication algorithm.
In the past month, the deduplication was changed several times, with a mix of changing the way of computing the hash_code and (more often) specific rules addded in the deduplication algorithm

[2019-08-16 23:04] praveendvd commented on #1487
Hi, i was able to make it work for jira server. Instead of running jira on localhost, i exposed it on host_ IP.

Then i had to disable my host system firewall due to below issue, so taht my container can access <host_IP>:<Jira:port>

https://forums.docker.com/t/no-route-to-host-network-request-from-container-to-host-ip-port-published-from-other-container/39063

I verified that the port is accessib

[2019-08-18 20:49] ptrovatelli commented on #1500
good news: sonarqube is also able to track same vulnerabilities across scans, at least with simple line number shift. The parameter we're gonna want to use for deduplication is `key` from the json extracted by `/api/issues/search`, which seems to identify uniquely a given vulnerability

[2019-08-18 21:11] ptrovatelli commented on #1500
Regarding checkmarx, this is the current situation: if you've imported some checkmarx reports, you must have noticed that the number of vulnerabilities in checkmarx is higher than in defectDojo (see for example unit test "multiple_findings.xml"). This is because 1 vuln in checkmarx, for each type of vulnerability is for a given:
- source (start of attack vector)
  - filename
  - line number
  - ob

[2019-08-19 07:36] madchap opened #1503 "Be able to move an engagement to a different product"
**Is your feature request related to a problem? Please describe**
In order to be able to easily recover from putting an engagement in the wrong product, or simply re-organize, it would be nice to be able to easily move an engagement from one product to another.

**Describe the solution you'd like**
Maybe when "Edit"'ing an engagement, a dropdown box could be present, where we could link the engage

[2019-08-19 10:04] madchap opened #1504 "Error 500 on getting slack member"
**Bug description**
I enabled slack global notification, and upon importing a new report, I got a 500 error:

[code]

[2019-08-19 10:29] madchap opened #1505 "Image uploaded is 404"
**Bug description**
After uploading an image, it cannot be displayed because it is not found.

![image](https://user-images.githubusercontent.com/5468769/63258699-ee39a800-c27c-11e9-943e-5188ce95b5ee.png)

[2019-08-19 10:46] madchap opened #1506 "Dedup no longer working"
**Bug description**
Imported a few scans this morning (from Anchore), even the exact same one to make sure. My configuration at system level is to allow for deduplication, and the dedup option is checked at the engagement level.

No dedup found at all. It used to work in June for sure. This all using the UI.

Looking at the commit history, I see some work done and merged in July.

I am running com

[2019-08-19 10:47] madchap commented on #1504
I was wondering if this could be related to the fact I have Google SAML enabled, and therefore a few users there.

[2019-08-19 12:08] madchap opened #1507 "Leave findings status untouched if re-uploading scan report"
**Is your feature request related to a problem? Please describe**
Upon re-uploading a scan report atop one that was originally imported (and triaged, analysed), the re-upload of the report marks inactive the ones that were previously marked active and got fixed (i.e. no longer show up in the scan report), and re-activate the ones that were manually marked as inactive.

This looks like a decent beh

[2019-08-19 13:57] madchap commented on #1478
I [believe the issue I just opened](https://github.com/DefectDojo/django-DefectDojo/issues/1506) is the same. I am on dev commit `ad52191` and no more dedup on my "high-risk" semi-prod instance... :-/

[2019-08-19 13:58] madchap commented on #1506
Closing this one in favor of https://github.com/DefectDojo/django-DefectDojo/issues/1478, as it smells the duplicate.

[2019-08-19 13:58] #1506 closed

[2019-08-19 14:28] wurstbrot commented on #1478
Just to mention, I am using re-import on my prod. instance for now.

[2019-08-19 21:27] #1228 closed

[2019-08-20 09:54] madchap opened #1510 "Ability to link the duplicate issue when marking a finding as duplicate"
**Is your feature request related to a problem? Please describe**
As far as I can tell, there is no way to point to the "original" finding when marking a duplicate.

**Describe the solution you'd like**
Probably a text field in the edit finding screen, that also does a check to make sure the linked finding is a valid one.

**Describe alternatives you've considered**
Dirty database query, such as `

[2019-08-20 11:35] madchap opened #1511 "Contacts info not showing up on product main page"
**Bug description**
Despite having contacts (technical, PM..) specified for a product, they do not show on product main page.

The technical contact does however show when listing all products.

[2019-08-20 16:38] #1128 closed

[2019-08-23 08:26] Chau362 opened #1517 "400 Bad Request with scan import via API v2"
Hello,

I am trying to call the endpoint api/v2/import-scan/ in order to import a scan via my Java Application. I am using HttpEntity in order to send a multipart/form-data POST. However I keep getting a 400 Bad Request as a response. I am sure my request body is incorrect I just dont know what part. I could imagine that the problem is related to the file, because when I call the API with Postman

[2019-08-23 11:04] madchap opened #1518 "Product level metrics graphs not showing expected data"
**Bug description**
Looking at a product-level metrics, the graphs do not match at all the expected values to be found (at least not for me).

However, when on the "Metrics" tab at the product level, if we consider for each Open, Closed, Accepted and New findings, clicking on the link of each metrics overview (showing 0 typically most of the time) leads to a grid view where the expected results se

[2019-08-23 12:19] 1Jesper1 commented on #1179
?

[2019-08-23 12:30] #1517 closed

[2019-08-23 18:08] Maffooch commented on #1518
After some investigation, the metrics are defined as follows:

Open Finding: false_p=False, verified=True, duplicate=False, out_of_scope=False, active=True
Closed Finding: false_p=False, verified=True, duplicate=False, out_of_scope=False
Accepted Finding: Any finding in the product that is also in a risk acceptance.

There could be many solutions here. Some kind of label needs to be present somewh

[2019-08-23 18:17] madchap commented on #1518
There was a change a couple months where Open findings didn't need to be verified, only active. So the metrics graphs were not updated.

Wild thought: Would there be a way or would it make sense to elevate these definitions at the global level, and they would then trickle down to all parts of the systems for better consistency throughout?

[2019-08-23 18:25] Maffooch commented on #1518
That would be the best solution, but yes, it would be quite the undertaking. I can only assume there are other places that were not updated to abide by the new definition of active.

[2019-08-23 21:23] ptrovatelli commented on #1507
Hi @madchap . What statuses do you have in mind exactly?
You can set a finding as "false positive" and this remains upon re-import.
If you manually set a finding as inactive thinking you've fixed it, but when re-importing a report the vulnerability is still in the report, it means that your fix didn't work and to me it's normal that the finding be re-activated.

[2019-08-24 08:41] madchap commented on #1507
So let's say I've forked a library to fix some vulnerabilities. A scanner will pick up this fork as being the original, vulnerable library and raise a flag. Dojo will re-activate the finding on the 2nd round, so the analyst has to go back in a mark it inactive again. The same if my product has a whitelist of kind and forbids the use of a non-whitelisted, vulnerable methods in the library, which th

[2019-08-25 21:34] ptrovatelli commented on #1507
why not although marking them as false positive would do the trick wouldn't it?

[2019-08-26 09:52] madchap commented on #1507
Yes, I would agree. The 2nd case if a bit tricky, because the vulnerable code is still in the library, albeit we just do not allow any calls to it for example. So it's not truly a false-positive so to speak.

Then, does having an "Active, False-positive" make any sense to you? It does not much to me.

[2019-08-26 13:56] ptrovatelli commented on #1507
right now active / false positive is not possible, the GUI forbids it. It reasonable normal to me.

by the way, regarding your first example I don't think that dependency check would pickup your forked library (I assume that's the scanner you have in mind)  because it recognizes vulnerable libs based on vendor, product, and version (see jeremylong.github.io/DependencyCheck/general/internals.html )

[2019-08-26 14:48] wurstbrot commented on #1500
Please not! What happens if you adjust the title or correct the cwe (right now the same, always). I recommend to use duplication based on CVE and Library (e.g. sha1)

[2019-08-26 15:38] ptrovatelli commented on #1500
@wurstbrot noted :) i have thrown those very quickly, the point is they differ for each kind of parsers. i'll check this more thoroughly based on the currenty behavior and the ideal behavior!

[2019-08-26 15:56] ptrovatelli commented on #1500
I have added a couple of adjustments in my initial post. see paragraphs starting with "Edit 26/08"

[2019-08-26 15:56] madchap commented on #1507
![image](https://user-images.githubusercontent.com/5468769/63703998-60d0f780-c82a-11e9-8b4b-581818b7e09b.png)

But not a scan re-upload apparently.

I don't think I have mentioned "dependency check" (the tool) anywhere?

It depends on your customer. I have one that is not satisfied with this answer. If the code is still there, it could eventually get called one way or another that you had not plan

[2019-08-27 06:50] CodeGlitcher opened #1525 "Add tags to findings when importing tests result"
**Is your feature request related to a problem? Please describe**
When importing tests results I can apply tags to the test.
We use this to add a tag for a application and the version of that application.
However these tags are not applied to the findings.
Now when I look add the findings overview I cannot see to what application a finding belong.

**Describe the solution you'd like**
In the impor

[2019-08-27 07:03] madchap commented on #1184
Go away bot :)

[2019-08-27 07:16] ptrovatelli commented on #1500
@Maffooch re-computing the hashcode upon save wouldn't be enough: when changing the configuration, you'll want the deduplication to work right away. Most of the findings, that you have imported the past week, month, year won't ever be modified so they'll keep their wrong hash_code. You need to re-compute the whole database; maybe we could add a filter on product or/and dates or/and scanner in orde

[2019-08-27 07:25] ptrovatelli commented on #1500
FYI I'm working in priority on having a reliant tracking of unique vulns by SAST scanners:
- removing the aggregation at checkmarx scanner level (i'm keeping a "checkmarx legacy scan" and adding a new scanner without the aggregation)
- adding that `unique_id_from_tool` and other missing fields in dojo_finding (i'm thinking: SAST_SOURCE and SAST_SINK, both holding - for checkmarx- a concatenation o

[2019-08-27 08:10] denniskniep opened #1526 "Download Images of Finding via API"
**Is your feature request related to a problem? Please describe**
Where can I download the images that are returned in a Finding by the API?

Retrieving all Findings of an Engagement:
[code]

The result will contain all images (probably the ids) on a specific Finding. How can I download the images via API?
[code]
**Describe the solution you'd like**
I would like to download the Images of a Finding

[2019-08-27 11:25] wurstbrot opened #1527 "apt get update failes in Docker Image"
Hi,

besides that the release label "python3" is not nice, the docker images are not getting build. Maybe because of  errors in travis https://travis-ci.org/DefectDojo/django-DefectDojo/builds/576885586 .
-> Docker Images are not getting build
Cheers,
Timo

[2019-08-27 11:30] Miradorn commented on #1527
update: `apt-get update` causes the problem,see https://travis-ci.org/DefectDojo/django-DefectDojo/jobs/576880722

[2019-08-27 12:22] efficiosoft commented on #1526
This has been addressed in #1515 and is now possible in the dev branch.

[2019-08-27 14:16] denniskniep commented on #1526
Nice, thanks!

[2019-08-27 14:17] madchap opened #1528 "Cannot map a jira issue more than once globally"
**Bug description**
The `dojo_jira_issue` has a unique key constraint on `jira_id`, which prevents linking the same jira issue to multiple findings. However, often times, a single jira will address multiple findings found (e.g. a library update addresses multiple CVEs, or you use an epic to then track the fix for multiple findings).

I would suggest to remove this unique constraint on the table.

[2019-08-27 14:22] denniskniep commented on #1526
I looked into the PR. That code tackles the problem, that I do not know the url of the image. But how can I download the image with my API Token?

I think it is now only possible via url with a valid session cookie.

[2019-08-27 20:40] ptrovatelli commented on #1527
I do not replicate
if you're still seeing it, does this fix it?
`apt -o Acquire::https::No-Cache=True -o Acquire::http::No-Cache=True update`

ref: https://github.com/nodesource/distributions/issues/500, https://askubuntu.com/questions/751801/apt-update-fails-writing-more-data-than-expected

[2019-08-27 21:40] no-sec-marko commented on #1526
You should give it a try without a session cookie ;)

[2019-08-28 02:36] dragos-sh commented on #945
@devEricA @aaronweaver Hi guys, do you have an updated version of how we can run this one on production? The current one does not work tbh because some bits and pieces are not accurate or might be obsolete.

The truth is we have tested/evaluated this product having it deployed it on various configurations and:

1. If we are deploying this with the  AWS ECS things are getting quite interesting, The

[2019-08-28 05:38] denniskniep opened #1531 "Uploading and displaying images in the Heroku Demo App is broken"
**Bug description**
Uploading and displaying images in the Heroku Demo App is broken.
https://defectdojo.herokuapp.com/finding/279

[code]

**Environment information**
 - https://defectdojo.herokuapp.com

[2019-08-28 05:46] denniskniep commented on #1526
@no-sec-marko That does not work. If I download the image without attached session cookie defect-dojo redirects to the login page.

Furthermore I tested the request with Auth Header and the API Token, but without success.

[2019-08-28 10:54] efficiosoft commented on #1526
Please check #1532.

[2019-08-28 17:49] wurstbrot opened #1533 "hub.docker.com outdated"
Due to https://github.com/DefectDojo/django-DefectDojo/issues/1527, the current (pre-)release is not getting build.

Expected: Images are build more often (also to include current OS package updates)

[2019-08-28 20:09] denniskniep commented on #1526
Thanks for the quick implementation :)
API now returns the images as base64 String. Perfect!

Is it currently expected behavior, that the images are not displayed in the overview?
![image](https://user-images.githubusercontent.com/3629463/63888744-e053f780-c9df-11e9-88f7-cd9939de4440.png)

I tried it with the following steps:
* checked out the PR
* `docker-compose build`
* `docker-compose up`l

[2019-08-28 20:55] ptrovatelli commented on #1500
see also this slack discussion: https://owasp.slack.com/archives/C2P5BA8MN/p1566164911107100

[2019-08-29 07:04] efficiosoft commented on #1526
The PR doesn't change anything about this, but image access needs some overhaul anyway, which I did as part of implementing the new permission system in #1362.

[2019-08-29 07:52] denniskniep commented on #1526
okay, thanks

[2019-08-30 09:18] wurstbrot commented on #1527
works for locally, also. But on travis it might still be an issue.

[2019-08-30 12:53] xthk opened #1535 "Sort "Product List" by amount of Vulnerabilities"
**Is your feature request related to a problem? Please describe**

There might be "products" with many open vulnerabilities, I'd like to address those on a different level.

**Describe the solution you'd like**

As a user I'd like to sort the "Product List" by the amount of open vulnerabilities. The data is already shown in the table, but the table could not be sorted.

**Describe alternatives you

[2019-08-30 13:25] adracea opened #1536 "Burp Request Response pairs , Response should be able to be null"
**Bug description**
When importing a burp report via the APIv1 , some findings can have a request but no response , when this happens , due to burpResponseBase64 being not null in the db , issues will only be imported until hitting that certain request without a response .

This can happen with any importer mostly .
The problem is from the fact that both burp req and resp are simple `models.Binary

[2019-08-30 14:25] madchap commented on #1040
So I have been using the API to `patch` the finding with the jira information. This is painful :(

Also, and maybe this is specific to how we use dojo, once the jira is created (either manually or through push), I never had a case where pushing over an exising jira from DefectDojo's finding screen made sense (so I am glad 1324 was merged :))

A field would be super welcome to enter the JIRA key (t

[2019-08-30 17:41] wurstbrot commented on #1533
@aaronweaver @devGregA  can you retrigger to see if the error stays, please.

[2019-09-01 13:19] #893 closed

[2019-09-03 05:43] liketop opened #1537 "Docker-compose up results in Server Error (500)"
**Bug description**
I try to get DefectDojo running. I did docker-compose build and then docker-compose up.
After initialisation I tried to login on localhost:8080 but i got following error:

**Expected behavior**
No Server Error (500)

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [x] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment information**
 - Operating System: U

[2019-09-03 10:57] wurstbrot commented on #1537
full_calender version might be wrong and is fixed in develop, already.

[2019-09-04 19:23] #1192 closed

[2019-09-05 13:50] CodeGlitcher opened #1541 "Documentation on creating a new importerer"
We are in the process of deploying a lot of security related tooling.
However not tool integratie with DefectDojo.
I know i can request a tool to be added (will do when we have the tools deployed and I have an example),
but when i look to the source code it does not look to difficult make a parser ourself.

Is it as simple to create a parser.py and some tests en register it in the dojo/tools/facto

[2019-09-05 14:00] ptrovatelli commented on #1119
could be nice but beware that defectDojo should still work in an isolated environment:
- add a configuration to allow offline working (should be offline by default to avoid problems)
- handle a default list of cwe that's commited in DD's github repo so that updating defectDojo will transparently update the known cwe. Ideally automate the updation of this list maybe with travis?

[2019-09-06 18:36] Maffooch commented on #1541
Hey @CodeGlitcher It is very easy to make a parser yourself. It is almost as simple as you think. Here are some examples of recent importers for you to follow. Additionally, please submit some sample scans in the [sample-scan repo](https://github.com/DefectDojo/sample-scan-files) and a description in the [documentation](https://github.com/DefectDojo/Documentation/blob/master/docs/integrations.rst)

[2019-09-06 18:38] Maffooch commented on #1537
Additionally, it looks some of your migrations did not run properly. Run `python3 manage.py migrate` to make everything run manually.

[2019-09-07 01:34] mookkiah opened #1542 "Helm install gives wrong instruction to get admin password"
**Bug description**
When using helm chart with release name which is not "defectdojo" the instruction to get the password is not working. The reason for the problem is it is the secret name is dynamic in /helm/defectdojo/templates/secret.yaml but hardcoded in /helm/defectdojo/templates/NOTES.txt.

**Steps to reproduce**
Precondition: Kubernetes and Helm installed.
Steps to reproduce the behavior:

[2019-09-07 01:50] mookkiah commented on #1542
Create Pull Request https://github.com/DefectDojo/django-DefectDojo/pull/1543 with fix.

[2019-09-10 06:49] #1214 closed

[2019-09-10 11:54] Wadeck opened #1545 "[Chrome?] Menu over => moving"
**Bug description**
When moving the cursor over the left menu when collapsed, the menu moves down by ~50px. I got the problem with Chrome but not with Firefox (even after hard-refresh of the cache).

Chrome 76.0.3809.132: ❌
Firefox Quantum 69.0: ✔️
(both tested under Windows 10, 1903)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to home page
2. Mouse over the menu
3. See the menu

[2019-09-10 19:05] #1150 closed

[2019-09-10 21:31] madchap commented on #1423
So I didn't get that for the longest time, and now I do as well.

[2019-09-11 13:19] Wadeck opened #1546 "New line not respected in the note form"
**Bug description**
When creating/editing a note (private or public), the newlines entered in the textarea are not kept in the display view. If you edit the note again, you will see them. Seems like a simple "nl2br" filter missing in the page.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to any finding
2. Enter a multiline text in the note, save
3. The note is displayed in a one-

[2019-09-11 15:20] madchap commented on #1092
well... wontfix. Any other libs that could be used? Any other thoughts? I mean, search not working is a definite bummer.

[2019-09-11 22:50] coivase commented on #620
Hi @aaronweaver! Was this fixed and if so how? We are implementing Dojo now and are running into bidirectionality issues. Thank you!

[2019-09-12 13:39] Wadeck opened #1553 "CVE regex too constraining"
**Bug description**
The CVE validation rules on the finding form is too constraining. When we receive CVEs from Sonatype or WhiteSource, they are not all in the expected public format CVE-XXXX-XXXxxxxx. Due to their internal nature, there is no way to provide a CVE regex that will cover everything.

It seems quite frequent to receive internal reference for reported stuff and thus the regex cannot

[2019-09-12 14:58] madchap opened #1554 "Generating a report with notes causes 500 server error"
**Bug description**
Only when wanting to a report with "Notes" "Yes". If notes are not to be included in the report, then it works fine.

[code]

@Maffooch you seem to have written that little piece of code, do you have any idea maybe? Thanks.

fyi @Wadeck

[2019-09-12 16:03] Wadeck opened #1555 "Tags not supported with "Table of Contents: yes""
**Bug description**
When generating a report for a product or an engagement, the table of contents is "broken / glitched" when the findings have tags. In the screenshot, the findings contain only one "info", 2 critical and 6 high, but the list show all the "tagged" findings as info which is wrong but also dangerous in terms of "information display" / "wrong assumption".

**Steps to reproduce**
Ste

[2019-09-13 23:09] Maffooch commented on #1554
Sounds good. Madchap had the opposite results when he replied to the PR itself. Not sure what the deal is. For my testing, I had added a tag to each of the severities and tweaked until findings were in their respective homes. Got any other ideas for test cases?

[2019-09-14 10:38] madchap commented on #1554
Yes @Maffooch I was a bit too quick in jumping the gun, sorry about that. I had only tried at engagement level. :-( Generating the report directly from the test still fails with that same error indeed.

FWIW, I also tried generating a report out of a test that has no note associated with any findings, yet it fails with the same error.

[2019-09-14 11:06] madchap commented on #1554
So I think I had been confused with my local instance and our "main" instance.

I ended up moving our main instance to full "dev" mode and not "release" mode, as this is more a PITA than anything else at this stage and was very error prone also when applying patches and such.

I fully confirm now that it is fixed. I will let @Wadeck double-check, but this time around I am actually sitting at a des

[2019-09-14 11:16] madchap commented on #1555
I will also let @Wadeck double-check, but after doing that extra due diligence on my side, your PR https://github.com/DefectDojo/django-DefectDojo/pull/1556 seems to fix that as well.

[2019-09-15 19:21] Maffooch commented on #1546
Hey @Wadeck, I appended the fix for this issue to PR #1556. Check it out and let me know if you approve!

[2019-09-16 08:27] #1237 closed

[2019-09-17 07:13] Wadeck commented on #1554
@madchap @Maffooch double check done, it works for Product, Engagement and Test, perfectly fine, thank you for the quick bug fix!

[2019-09-17 07:16] Wadeck commented on #1555
@Maffooch the table of content is corrected displayed now, thank you!

[2019-09-17 07:16] Wadeck commented on #1546
@Maffooch our version is not yet updated I imagine :) we got the first corrections but not the third one :)  cc @madchap

[2019-09-17 14:39] #1244 closed

[2019-09-17 17:59] cbdnyu opened #1558 "Jira to DefectDojo webhook results in 302"
**Bug description**
After adding the DefectDojo webhook per instructions: `For the field labeled ‘URL’ enter: https://<YOUR DOJO DOMAIN>/webhook/`, when a change is made on JIRA, said change fails to appear in DefectDojo.
Over the course of debugging, it looks like when JIRA POSTS to the webhook, the response is a 302 which is possibly why updates don't show up in Dojo.

**Steps to reproduce**
Ste

[2019-09-18 15:05] madchap opened #1559 "Show the engagement 'version' field and tags in search results"
**Is your feature request related to a problem? Please describe**
In order to better pinpoint what the search is returning, it would be nice to have the engagement show the version (as in the version field that can be put in the engagement metadata), and eventually the tags.

![image](https://user-images.githubusercontent.com/5468769/65160690-7c4cae00-da36-11e9-88f0-214847692e8c.png)

fyi @Wadeck

[2019-09-18 17:47] csansone-handy opened #1560 "Enhancement: Add OWASP Dependency Track Findings Importer"
**Scanner Name**
OWASP Dependency Track

**Scanner Description**
Dependency Track is an intelligent Software Supply Chain Component Analysis platform that allows organizations to identify and reduce risk from the use of third-party and open source components. Dependency Track takes a unique and highly beneficial approach by leveraging the capabilities of Software Bill-of-Materials (SBoM) which pro

[2019-09-18 17:48] csansone-handy commented on #1560
I am working on this and should have a PR prepped shortly

[2019-09-19 08:24] benno001 opened #1562 "Add Trivy scanner support"
**Scanner Name**
Trivy detects vulnerabilities of OS packages (Alpine, RHEL, CentOS, etc.) and application dependencies (Bundler, Composer, npm, yarn etc.) in containers.

More information: https://github.com/aquasecurity/trivy

**Sample File**
Sample JSON output:
[code]

[2019-09-24 14:26] madchap commented on #1555
@Maffooch feel free to mark this resolved :) Thanks!

[2019-09-24 14:27] madchap commented on #1554
Closing this, thanks!

[2019-09-24 14:27] #1554 closed

[2019-09-24 14:28] madchap commented on #1555
Or @Wadeck I guess you're satisfied ;-)

[2019-09-24 14:35] #1555 closed

[2019-09-24 16:08] pakesusu opened #1565 "What is wrong with the JSON?"
**Bug description**
So the API may be broke???? I think it's in CWE ID, by default it becoming mandatory or cannot be null / zero.

![image](https://user-images.githubusercontent.com/37841938/65529314-1b364600-df20-11e9-99fc-7d7b56d918d8.png)

Can you spot the Bug?

[2019-09-25 12:32] madchap commented on #1310
bot, leave this alone.

[2019-09-25 12:33] madchap commented on #1311
bot, don't do that.

[2019-09-25 17:30] tenderitaf commented on #469
any update on this ?

[2019-09-25 22:17] #1201 closed

[2019-09-26 09:47] madchap opened #1566 "Crash when twistlock report does not contain any vuln"
**Bug description**
KeyError on vulnerabilities if json contains none.

You can assign to me... PR on the way.

Credits to @wadeck for the report.

[2019-09-26 13:47] madchap commented on #1423
To reproduce, docker exec into the uwsgi container and run the following:

[code]

[2019-09-26 14:05] madchap commented on #1423
Another (and yes, the host running django sends email properly (i.e. I get daily O/S notifications), and is listening on 0.0.0.0:25)

I still need to restart the server (and hence this stack) to fully disable ipv6.. I guess it's known that sometimes this throws things off?

[code]

Using 127.0.0.1 has the same effect.

[2019-09-26 14:31] madchap commented on #1423
Disabled ipv6, stopped dojo, restarted docker daemon, restarted dojo, same thing.

[2019-09-26 15:29] madchap commented on #1423
I updated `DD_EMAIL_URL` to point to the IP address of the host as per the docker bridge interface (e.g. `smtp://172.49.0.1:25`).

From the container, I can connect and send an email using python console smptlib directly.

However, it still does not work using the dojo settings. Same error... or I am missing something?

[2019-09-26 16:15] madchap commented on #1423
OK, works better using `python manage.py shell`.. django n00b.

[2019-09-26 22:18] randiee opened #1569 "change the name of defect dojo"
It's cringey and embarrassing for such a solid project.  I don't know who thought it was a good idea, but they shouldnt be allowed to name things.  It sounds like a discount martial arts dojo you'd find in a strip mall.  When we tell higher ups the name of our vulnerability management solution, we see them cringe at the name.

[2019-09-27 01:16] #1546 closed

[2019-09-27 03:37] zfirered opened #1570 "cannot login after install via docker"
whats the default user and password??

[2019-09-27 04:15] Timmy-Swimmy779 commented on #1569
You're cringey and embarrassing you middle-aged neckbeard. I don't know who thought it was a good idea to CONCEIVE you but they shouldn't have been allowed to name you. Randiee sounds like what would happen if you did a marathon. He ran then he died. It is good though that you came across Defect Dojo. You should test it on yourself because I'm pretty sure you're defective.
But that is beside the p

[2019-09-27 06:45] madchap opened #1571 "New note email notification useless with stripped message"
**Is your feature request related to a problem? Please describe**
The email notifications sent for new notes on finding is only creating noise. The full body of the note should be embedded, as to avoid having to navigate to DD.

Example of a note:
[code]

And `False` in the signature is always interesting...

**Describe the solution you'd like**
The full note should be in the email notification.

[2019-09-27 11:17] wurstbrot opened #1572 "close old findings for dependency check not working"
**Bug description**
By uploading a report and a second one with less findings afterwards, findings should be closed automatically.

**Steps to reproduce**
1. Upload report via API
2. Upload report with less findings via API

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [x] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment information**
Current master (Latest commit, 06d

[2019-09-27 16:19] devGregA commented on #1569
.... I created it. I named it. OWASP Code of Ethics: https://www.owasp.org/index.php/About_The_Open_Web_Application_Security_Project

Please everyone, be nice to everyone. Thanks.

[2019-09-27 16:19] #1569 closed

[2019-09-28 07:19] devGregA commented on #1562
Hi @benno001 thank you for the sample scan!

[2019-09-28 07:20] #1333 closed

[2019-09-28 07:23] devGregA commented on #1570
@zfirered login instructions: https://github.com/DefectDojo/django-DefectDojo/blob/master/DOCKER.md#access-the-application

[2019-09-28 07:23] #1570 closed

[2019-09-28 11:43] wurstbrot commented on #1572
I change reportType to a reportType including the date. The close_old_finding checks the reportType and therefore, it didn't work for me. Now it works for me.
I used dependency check.

[2019-09-28 11:43] #1572 closed

[2019-09-30 07:21] FrankSh0rty opened #1573 "Celery Job cannot handle empty CVE when sending finding to Jira"
**Bug description**
The DefectDojo Docker Celery worker cannot handle an empty CVE when bulk sending issues to JIRA.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Setup a DefectDojo docker with a Jira connection
2. Create some issues with an Emptu CVE (Nessus import by default does not fill the CVE field)
3. Select some issues and press Bulk Edit
4. Click on Send To Jira
5. See the E

[2019-09-30 18:22] dr3dd589 commented on #1573
hello, @FrankSh0rty it is fixed in the dev branch. Wait until next release or use dev version.

[2019-09-30 18:29] dr3dd589 commented on #1562
hey, @Maffooch  assign this to me. I will try to do this in this weekend or next.

[2019-10-01 09:57] FrankSh0rty commented on #1573
Hi @dr3dd589, thanks for the reply. That is good news. Do you know if this branch also includes other bug fixes concerning the JIRA integration, like that findings are not synced when importing test results or that those findings do not attach to the epic that DefectDojo creates?

Thank you!

[2019-10-01 16:44] gogo02 opened #1575 "OpenVas Import Scan Error"
**Bug description**
When i am trying to import a scan result (CSV-Results), it failed

**Steps to reproduce**
Steps to reproduce the behavior:
git clone --branche master https://github.com/DefectDojo/django-DefectDojo && cd django-DefectDojo
docker-compose build
docker-compose up

**Expected behavior**
The scan result should be accepted

**Deployment method** *(select with an `X`)*
- [ ] Kubernete

[2019-10-02 09:59] bilalk88 opened #1576 "Server Error (500) : On Accepted Finding Menu"
**Bug description**
Server Error (500) : On Accepted Finding Menu

**Steps to reproduce**
Steps to reproduce the behavior:
1. Login to DefectDojo
2. Navigate to Findings
3. Click on Accepted Findings
4. See error

**Expected behavior**
It should display list of findings that are Accepted.

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [X] Docker
- [ ] setup.bash / legacy-setup.ba

[2019-10-02 10:03] bilalk88 opened #1577 "Server Error (500) : On Closed Findings Menu"
**Bug description**
Server Error (500) : On Closed Findings Menu

**Steps to reproduce**
Steps to reproduce the behavior:
1. Login to DefectDojo
2. Navigate to Findings
3. Click on Closed Findings
4. See error

**Expected behavior**
It should display list of findings that are closed.

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [X] Docker
- [ ] setup.bash / legacy-setup.bash

*

[2019-10-02 11:56] gogo02 commented on #1575
The import issues was fixed by editing the parser.py
Change:
Line 316
#Add the import
from io import TextIOWrapper
#Change [reader = csv.reader(io.StringIO(content),delimiter=',',quotechar='"')] by:
        reportCSV = TextIOWrapper(filename, encoding='utf-8 ', errors='replace')
        reader = csv.reader(reportCSV, delimiter=',',quotechar='"')

That have fix the error 500 when Importing a Scan.

[2019-10-02 12:05] madchap commented on #1575
Please try on the `dev` branch, and let us know if this happens there too. Cheers.

[2019-10-02 12:05] madchap commented on #1576
Please try on the dev branch, and let us know if this happens there too. Cheers.

[2019-10-02 12:06] madchap commented on #1577
Please try on the `dev` branch, and let us know if this happens there too. Cheers.

[2019-10-02 12:29] gogo02 commented on #1575
Hello so i have done:
cd /opt/
git clone --branch dev https://github.com/DefectDojo/django-DefectDojo && cd django-DefectDojo

#Edit /dojo/tools/openvas_csv/parser.py
from io import TextIOWrapper
        reportCSV = TextIOWrapper(filename, encoding='utf-8 ', errors='replace')
        reader = csv.reader(reportCSV, delimiter=',',quotechar='"')
docker-compose build
docker-compose up

Create the prod

[2019-10-02 20:47] devGregA commented on #1575
@gogo02 would you please provide a sample file or submit a PR?

[2019-10-02 21:04] #1566 closed

[2019-10-02 21:05] #1537 closed

[2019-10-02 21:11] #1560 closed

[2019-10-02 22:07] #1576 closed

[2019-10-02 22:07] #1577 closed

[2019-10-03 02:21] #1565 closed

[2019-10-03 07:51] gogo02 commented on #1575
Hello @devGregA what do you mean by a PR/sample file ? :)

[2019-10-04 08:01] zfirered commented on #1511
Still have bug here
![gambar](https://user-images.githubusercontent.com/17750324/66191157-df397880-e6b7-11e9-81ae-16483dc19b72.png)

[2019-10-04 08:07] bilalk88 opened #1579 "Need custom field for Default issue type for JIRA integration"
**Is your feature request related to a problem? Please describe**
I'm using jira software, where we have issue type as VULN and Defect. We are not using default issue type that jira bydefault provide like Task/Bug/Story etc.
So If we can get some option where we can configure default issue type in DefectDojo for jira integration.

**Describe the solution you'd like**
We can give text box where we

[2019-10-04 13:51] Maffooch commented on #1511
Hello @zfirered this fix has not made it to the master branch quite yet. Switching to the dev branch is your best bet for using this capability.

[2019-10-06 14:23] denniskniep commented on #1353
still relevant for me...

[2019-10-06 17:22] Maffooch commented on #1575
He is asking for either the file you had attempted to import or your solution to the issue in the form of a pull request so that others will not have the same problems.

[2019-10-06 19:45] zfirered commented on #1511
thanks mate

[2019-10-06 21:44] #1313 closed

[2019-10-06 21:44] #1307 closed

[2019-10-07 12:19] gogo02 commented on #1575
Hello, i can not post here a sample of a scan result..
But those are from an OpenVas Scanner V9.

[2019-10-07 13:08] madchap commented on #1040
bump before the bot comes before me.

[2019-10-07 13:39] madchap commented on #1423
So, not a bug I would say, configuration issue.

[2019-10-07 14:19] #1004 closed

[2019-10-07 16:55] tvtongerloo commented on #1575
** Note to self, change TextIOWrapper buffer to a binary reference by opening $filename with r+b
@gogo02 : let's review internally and then submit a Pull Request

[2019-10-07 23:32] cbdnyu commented on #1558
Closing, as I found out there's a difference between setting the webhook endpoint as `/webhook` vs `/webhook/` the trailing `/` is necessary.

[2019-10-07 23:32] #1558 closed

[2019-10-08 00:51] cbdnyu commented on #478
Hi all, @tulsluper did you ever find a resolution for this? We are having a similar issue.

[2019-10-08 11:05] mmahmoodictbd opened #1582 "Error importing scan results for Blackduck findings"
Getting HTTP 500 while uploading the Blackduct scan result.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Select a product
2. Click on 'Findings > Import Scan Results'
3. Select scan type Blackduck Hub
4. Attach security.csv downloaded from Blackduck
5. Click upload file

**Expected behavior**
Upload findings.

**Console logs**
 Traceback (most recent call last):
uwsgi_1         |

[2019-10-08 13:02] gogo02 commented on #1575
Pull Request has been created :)

[2019-10-08 14:00] madchap commented on #1582
What branch are you using?

Try with the whole zip file instead.

[2019-10-08 14:07] madchap opened #1584 "Re-importing a twistlock report imports as False-positive"
**Bug description**
Importing a twistlock report in a product that already has other twistlock report, potentially triaged and with specific status.

The test gets imported with status "False-positive", no idea why.

**Steps to reproduce**
Steps to reproduce the behavior:

Within the same product
1. Import a 1st twistlock scan, potentially mark some as false-positive, active, etc...
2. Import a 2n

[2019-10-09 06:24] mmahmoodictbd commented on #1582
I am using SAAS blackducksoftware.com, they are running v2019.6.1.

[2019-10-09 08:50] madchap commented on #1582
OK.

@Maffooch can you please assign this to me?

[2019-10-09 16:30] madchap commented on #1582
@mmahmoodictbd could you please share the header line and at least one line example? Thanks.

[2019-10-09 21:25] dougmorato commented on #1559
@madchap  Are you working on this or is it up from grabs?

I think I can tackle it as I have a similar need (i would like finding ID to be displayed), so if you are not working on it, I can possibly tackle it, does not seem to be super difficult:
https://github.com/DefectDojo/django-DefectDojo/blob/dev/dojo/templates/dojo/simple_search.html#L150

[2019-10-10 05:40] madchap commented on #1559
Hey @dougmorato

I am not. I'd be grateful if you could :-)

[2019-10-10 06:44] JamesCullum commented on #1365
@aaronweaver As discussed via Slack, could you please provide an update regarding status and roadmap?

[2019-10-10 07:29] mmahmoodictbd commented on #1582
@madchap
Used by,Component id,Version id,Origin id,Component name,Component version name,Component origin name,Component origin id,Component origin version name,Vulnerability id,Description,Published on,Updated on,Base score,Exploitability,Impact,Vulnerability source,Remediation status,Remediation target date,Remediation actual date,Remediation comment,URL,Security Risk,Project path,Channel versio

[2019-10-10 12:28] madchap opened #1590 "Under review status not showing in main finding view"
**Bug description**
When you request a review on a finding, the status of the finding changes in the finding's detailed page. However, when you go back to the findings listing, it does not show up.

Within the finding detail page:
![image](https://user-images.githubusercontent.com/5468769/66568328-83646900-eb69-11e9-81b4-3ffba7521533.png)

In the findings listing (test):
![image](https://user-imag