[2017-10-18 05:18] rohithasrk commented on #146
Would like to work on it @devGregA

[2017-10-18 19:50] devGregA commented on #146
Awesome @rohithasrk all yours! If you need any help, doesn't hesitate to ping me.

[2017-10-19 17:56] vpulec commented on #328
This also occurs when looking up a specific finding, such as /api/v1/findings/200/

[2017-10-20 13:43] dp00 opened #379 "MySQL account password and "&" character"
If MySQL account password contains "&" character, setup.bash script will fail to create tables
due to the fact that when will store the password to the "settings.py,", will replace the "&"
with "MYSQLPWD" and so the database authentication will fail.

For example a password like
  111&2222222222
will be stored on settings.py as
  111**MYSQLPWD**2222222222

[2017-10-20 15:16] devGregA commented on #366
Concerns:
Private IP Conflicts

[2017-10-20 15:19] devGregA commented on #366
AKA multi-product infrastructure scan

[2017-10-20 15:21] devGregA commented on #366
Support subnets as endpoints?

[2017-10-20 15:23] devGregA commented on #366
Should try to qualify by host and & IP for an endpoint

[2017-10-20 15:26] devGregA commented on #366
Can we include an AWS tag?

[2017-10-20 15:33] devGregA commented on #366
Front loading product selection vs at end review.

[2017-10-20 15:42] devGregA commented on #365
Extend scan for generic methods that go to celery and call a python library

[2017-10-20 16:35] devGregA commented on #374
Shold be fixed. Need @grendel513 to show me how to restart the server. (Ran the cleanup scripts etc)

[2017-10-20 16:38] mtesauro commented on #379
It looks like setup.bash doesn't have a quoted variable on this line:
https://github.com/OWASP/django-DefectDojo/blob/master/setup.bash#L65

And there's probably other instances.  Let me look through that and get them quoted so the special characters aren't treated as, well special characters.

[2017-10-20 16:40] devGregA commented on #357
@mtesauro will address this issue as part of the summit

[2017-10-20 16:43] devGregA commented on #341
hi @nhajiyani are you able to provide a sample scan?

[2017-10-20 16:49] devGregA commented on #333
investigating as part of Dojo Summit

[2017-10-20 16:54] devGregA commented on #282
@bertonjulian investigating on Monday as part of our summit

[2017-10-20 16:55] #269 closed

[2017-10-20 17:00] devGregA commented on #247
I think this ties into https://github.com/OWASP/django-DefectDojo/issues/366 @bwu-tang can you share your thoughts on if this meets your needs? Can discuss more to clarify 366

[2017-10-20 17:10] devGregA commented on #170
https://github.com/OWASP/django-DefectDojo/issues/337 same issue

[2017-10-20 18:20] bwu-tang commented on #366
This would probably solve the assignment of findings to multiple products. That seems like it would get to the end goal of breaking it up. How would it associate the actual engagement/assessment to the product itself? Would it duplicate the engagement as well in these cases?

[2017-10-20 19:32] s-rohil opened #380 "Error importing Burp Scan results with API"
When i'm trying to import burp scan results with API, I get the following error:
`{"error": "[u'This field cannot be blank.']"}`

I am using the API Docs in defect dojo to test run all the API calls.
My API call:
`{
  "minimum_severity": "Low",
  "scan_date": "2017-10-15",
  "verified": true,
  "file":"path/to/burp/scan/result.xml",
  "tags": null,
  "active": true,
  "engagement": "/api/v1/engage

[2017-10-20 20:06] nhajiyani commented on #341
Hi,
What would help me is if there is a test project you can send me to scan
and I can share the scan results with you.
Thanks.

On Fri, Oct 20, 2017 at 11:43 AM, Greg Anderson <notifications@github.com>
wrote:

--
Regards,
Nadir Hajiyani

[2017-10-25 13:59] rkane-nm opened #383 "Findings severities - No Informational?"
Hi,
When looking to add findings, there are 4 severities (Low, Med, High, Crit). The documentation shows that there should be Informational, as well. The dashboard even looks like it will support it and there's references to informational in the code itself (in some cases, looks like it's accounted for). But, there's no way to add an informational finding (as far as I can tell)... Is there a way w

[2017-10-26 01:41] devGregA commented on #383
Hi @rkane-nm could you screenshot the error that occurred when you added the severity to the admin interface and share it here? I think I can push an easy fix.

[2017-10-26 12:34] rkane-nm commented on #383
Turns out that error wasn't a problem. It was because I typed in "Informational" instead of "Info". Once I changed it to "Info" it was fine. But is there a reason Informational isn't in the severity drop downs within the overall application?

[2017-10-30 20:51] devGregA commented on #374
@Horst88 figured it out. It is fixed.

[2017-10-30 20:51] #374 closed

[2017-10-30 21:01] devGregA commented on #201
Closing due to stalled discussion. Believed to be fixed.

[2017-10-30 21:01] #201 closed

[2017-10-30 21:05] devGregA commented on #170
@aaronweaver are you easily able to re-test this?

https://github.com/OWASP/django-DefectDojo/blob/master/dojo/api.py#L493
I'm not sure when this change was made, but I'm curious if this is still an issue before I go tinkering.

[2017-10-30 21:08] devGregA commented on #383
Hi @rkane-nm I forget why it was removed originally. We still accept 'info' level severity for scanners, but it isn't exposed as an editable option. I **think** there was UI issues, but I can look into re-adding to the UI since it seems like there is value in having it.

[2017-10-31 13:27] s-rohil commented on #380
@devGregA , we have the null set to True in our local code base.

[2017-11-06 20:54] rkane-nm opened #385 "Non-Staff (non-admin) users can't see findings"
Even with all permissions added to a group, and a non-staff users in that group, that user cannot see findings. It forwards them to the login screen (session isn't killed, but can't see findings). It appears that this happens with numerous menu options as well. And even with all the permissions added, there are no menu options for Engagements, Tests, Findings, etc.... only Products, Reports, Metri

[2017-11-07 21:10] devGregA commented on #380
@s-rohil would it be possible to get a sample scan?

[2017-11-08 20:53] TommyJ1994 opened #392 "Table of Contents always on Top in PDF Reports"
Please use the following template when submitting issues:

## Issue Template
The table of contents always appear on top in PDF's

### Issue Type
- [ ] Bug

### Description

## If the issue is a bug, please also include the following:

### Operating System
Fedora 26

### Install

- [ ] setup.bash

### Steps to Reproduce
Create a custom report that has a table of contents. Place the table of content

[2017-11-08 20:56] TommyJ1994 opened #393 "Findings not added to a PDF report"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug

### Description
Some findings don't get added to a report even though they appear in the findings filter.

## If the issue is a bug, please also include the following:

### Operating System
Fedore 26

### Install

- [ ] setup.bash

### Steps to Reproduce

1. Create a New Product
2. Create an Eng

[2017-11-09 18:36] rkane-nm commented on #392
We figured this one out... you have to go to the pdfkit call and add "cover_first: True" as one of the parameters. Why that's not a pdfkit default, I have no idea.

Dojo/tasks.py:
pdf = pdfkit.from_string(bytes,
                                 False,
                                 configuration=config,
                                 cover=cover,
                                 toc=toc)  <--

[2017-11-09 20:10] aaronweaver opened #394 "SLA for remediation and Integration with Jira"
### Issue Type
- [ ] Enhancement

### Description
Create an SLA table with a timeframe to remediate or address. For example:
- Critical (1 day)
- High (3-5 days)
- Medium (1 month)

When creating Jira issues set the due date based on the severity.

[2017-11-10 09:18] Horst88 opened #395 "Installation problem - bower"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
Trying to install in a virtualenv
http://defectdojo.readthedocs.io/en/latest/getting-started.html#install-script
Step 3 Bower

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04

[2017-11-10 10:52] Horst88 commented on #395
So I installed defect dojo without virtualenv and had no problems, ... I did not perform the steps 3 and 4, ... Are they still necessary?
In the virtualenv installation the ui was broken, .... when I starated defect-dojo.

[2017-11-10 14:19] Horst88 opened #396 "Bulk upload of products, endpoints, metadata"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [ x] Enhancement

### Description
I would like to be able to do a zap baseline scan on all products that are stored in defectDojo. The idea would be to write a script that iterates over all products gets the endpoints for each product, perform a baseline scan and then upload the result.
I am mi

[2017-11-10 14:58] Horst88 commented on #396
An API for the tags of products would also be awesome, then I could automatically enrich the products with more data describing the product.

[2017-11-10 18:37] devGregA commented on #380
Should be fixed. Feel free to reopen if it isn't

[2017-11-10 18:37] #380 closed

[2017-11-10 19:19] devGregA commented on #360
@NShani Thank you for your awesome work to get this fixed! Aaron addressed a couple other discovered issues and incorporated your code into his PR. If you would like a DefectDojo shirt as a thank you for your contribution, please email me greg.anderson@owasp.org

[2017-11-10 19:19] #360 closed

[2017-11-10 19:20] devGregA commented on #337
@aaronweaver would your latest revision also address this?

[2017-11-10 19:26] aaronweaver commented on #337
@devGregA Not sure, I'll have to check.

[2017-11-10 20:26] devGregA commented on #395
@Horst88 no, it shouldn't be necessary any longer. For folks doing custom builds, installing the native django way, or other custom methods it would be necessary. For certain code changes (updates) it would also be necessary. Will update the docs when I can. I'll leave this open for tracking. Thank you for brining it to our attention!

[2017-11-10 20:28] devGregA commented on #396
Hi @Horst88 , this is actively being developed!
https://github.com/OWASP/django-DefectDojo/issues/366 and
https://github.com/OWASP/django-DefectDojo/issues/365

Closing because I think this is covered by the two issues linked above. If you feel differently, please don't hesitate to reopen.

[2017-11-10 20:28] #396 closed

[2017-11-10 22:38] nhajiyani commented on #341
@devGregA Any updates on any thing you can throw my way to do a quick test on?

[2017-11-10 22:40] nhajiyani opened #399 "Add a #goodfirstbug label to issues category on Github so new devs wanted to get engaged can focus on those ones"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Enhancement

### Description
Add #goodfirstbug label to the category of issues. This would help new people looking to get engaged to focus taking those on. Also it can be a quick triage mechanism and that way more engaged devs can take on the more involved issues and also there would be a shorter run

[2017-11-10 22:43] #371 closed

[2017-11-10 22:44] devGregA commented on #399
@nhajiyani agree 100%. We used to have some easier issues labeled when we had students engaged via the OWASP Code Sprint and a couple other programs. I'll go through our log again and try to identify some with additional notes to help folks get involved.

[2017-11-10 22:57] devGregA commented on #358
Believe to be fixed via https://github.com/OWASP/django-DefectDojo/pull/397 There is now a new Qualys Webapp Scan should be the option you want to use. Please feel free to reopen if you still have issues

[2017-11-10 22:57] #358 closed

[2017-11-10 22:59] #291 closed

[2017-11-10 23:00] devGregA commented on #322
@bartosznaumowicz-olx new image is done, need to update the docs https://github.com/OWASP/django-DefectDojo/blob/master/Dockerfile

[2017-11-13 05:38] devGregA commented on #337
@no-sec-marko are you able to pull the new changes / test easily?

[2017-11-13 05:42] devGregA commented on #341
@nhajiyani lot's of options here: https://www.checkmarx.com/2015/11/06/13-more-hacking-sites-to-legally-practice-your-infosec-skills/

[2017-11-13 05:46] devGregA commented on #247
closing tracking through https://github.com/OWASP/django-DefectDojo/issues/366

[2017-11-13 05:46] #247 closed

[2017-11-14 16:50] aaronweaver opened #402 "Installations Improvements, requirements.txt"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
Update the installation to include a separate requirement.txt file that can be consumed in the installation scripts and the ansible configuration. Also review how environment variables are set and the best way to merge up the installation process so there isn't

[2017-11-15 12:54] mikismaos commented on #350
Hello devGragA,

I've been having this issue with a recent installation (few days ago).

I can't generate pdf for engagements, products, findings, etc.

Output:
`File "/usr/lib/python2.7/json/encoder.py" in default
  184.         raise TypeError(repr(o) + " is not JSON serializable")

Exception Type: EncodeError at /product/557/report
Exception Value: <Product: MyProduct> is not JSON serializable`

[2017-11-15 17:44] #392 closed

[2017-11-15 17:44] TommyJ1994 commented on #392
PR opened

[2017-11-16 20:41] no-sec-marko commented on #337
Hi @devGregA,

after update to the latest version 7bc6695, I receive the following error by requesting the API:

Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/django/core/handlers/exception.py", line 41, in inner
    response = get_response(request)
  File "/usr/lib/python2.7/site-packages/django/core/handlers/base.py", line 249, in _legacy_get_response
    response =

[2017-11-17 20:16] Horst88 opened #404 "Problem using defect dojo python api"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
see https://github.com/aaronweaver/defectdojo_api/issues/5
which repo is the right one to submit issues concerning the api?

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

[2017-11-20 21:19] devGregA commented on #383
Fixed: https://github.com/OWASP/django-DefectDojo/pull/405

[2017-11-20 21:19] #383 closed

[2017-11-20 21:22] devGregA commented on #350
@mikismaos haven't seen this one before. Will investigate.

[2017-11-22 09:11] mrunc opened #407 "MySQL-python-1.2.5 will not compile against MariaDB 10.2 (libmariadb-dev)"
Is there any way we can get defectdojo to work with MariaDB
MySQL-python-1.2.5 will not compile against MariaDB 10.2.10 and libmariadb-dev 10.2.10 installed

[2017-11-24 10:06] Horst88 commented on #404
Fixed, see https://github.com/aaronweaver/defectdojo_api/issues/5

[2017-11-24 10:06] #404 closed

[2017-11-27 21:14] devGregA commented on #337
@no-sec-marko believe it is now fixed via @aaronweaver's PR https://github.com/OWASP/django-DefectDojo/pull/406

[2017-11-27 21:14] #337 closed

[2017-11-29 22:18] devGregA commented on #364
Believe to be fixed via: https://github.com/OWASP/django-DefectDojo/pull/406

[2017-11-29 22:18] #364 closed

[2017-11-30 21:43] devGregA commented on #322
Fixed via https://github.com/OWASP/django-DefectDojo/pull/412 @bartosznaumowicz-olx

[2017-11-30 21:43] #322 closed

[2017-12-05 10:42] Horst88 opened #415 "Error using REST-API importscan"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
Trying to use the rest-api importscan over "API-Docs" feature results in error. Message see below.
## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)
Ubuntu 17.10
### Install

[2017-12-05 15:52] #415 closed

[2017-12-05 15:53] Horst88 commented on #415
Not a problem anymore with the new version

[2017-12-06 03:48] fuckgitb opened #416 "Landing page does not display properly"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [x] setup.bash
- [ ] docker

### Steps to Reproduce

### Sample Scan File (if applicable)

### Screenshots (o

[2017-12-06 17:45] nabaaron commented on #170
We are all set here. I've updated the python api wrapper.

[2017-12-06 17:45] #170 closed

[2017-12-06 17:47] aaronweaver commented on #416
You need to collect the static files:

cd defect-dojo
cd components
bower install
cd ..

./manage.py collectstatic --noinput

[2017-12-06 22:47] devGregA commented on #399
Added Beginner Friendly

[2017-12-06 22:47] #399 closed

[2017-12-06 22:48] devGregA commented on #402
@aaronweaver will include with my dedupe changes

[2017-12-06 22:53] devGregA commented on #416
This might be a permissions issue related to OSX
`
sudo chown -R $USER:$GROUP ~/.npm
sudo chown -R $USER:$GROUP ~/.config

`
Fixed it for me.

If you still have issues with the install script. After running setup.bash cd into components and run:

` bower install `

return to /django-Defectdojo/ and run:

` python manage.py collectstatic --noinput`

[2017-12-06 22:53] #416 closed

[2017-12-06 22:56] patriknordlen commented on #173
I've worked on this and have a version with Markdown for the fields. In order to provide compatibility I've added a "formatting" field in the Finding model which can be either "raw" or "markdown", with "raw" being the default value so legacy findings and reports are not affected.

I looked at various Markdown modules for Django and ended up with MarkdownX (https://pypi.python.org/pypi/django-markd

[2017-12-07 19:35] devGregA commented on #350
@mikismaos @rkane-nm I haven't been able to reproduce this. Could you provide some sample data?

[2017-12-11 09:04] xthk opened #420 "Create endpoints via API?"
## Create endpoints via API?

### Issue Type

- [ ] Bug
- [X] Enhancement

### Description

I'd like to be able to create endpoints via DefectDojo's API and link them to their associated products. To be a bit more precise, I'd love to see all CRUD (create, read, update, delete) operations for endpoints.

[2017-12-11 09:18] xthk opened #421 "Delete JIRA configurations?"
## Delete JIRA configurations?

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description

I'm not sure if this is a bug or an enhancement: It is possible to create multiple JIRA, but I don't see any option to delete a JIRA configuration on "/jira" or "/jira/<id>/edit ".

I'd assume that besides creating and editing it should be possible to delete a JIRA configuration.

## If the issue is a bug,

[2017-12-11 09:26] xthk opened #422 "Push to JIRA: (pre)select JIRA configuration"
## Push to JIRA: (pre)select JIRA configuration

### Issue Type
- [ ] Bug
- [X] Enhancement

### Description

It is possible to select "Push to jira" upon creating or updating a finding, but it is not possible to select a JIRA configuration if more than one is available.

I'd expect to be able to select a JIRA configuration or even better to configure (pre-select) a JIRA configuration per project.

[2017-12-11 09:37] xthk opened #423 "Missing JIRA project config option/field?"
## Missing JIRA project config option/field?

### Issue Type
- [X] Bug
- [X] Enhancement

### Description

I have problems setting up the JIRA integration. In the UI dialog there is no JIRA project to configured. As far as I know this is a mandatory field for JIRA (and the JIRA API).

Screenshot:

<img width="560" alt="new_jira_configuration_2017-12-11" src="https://user-images.githubusercontent.c

[2017-12-11 13:58] devGregA commented on #423
Hi @xthk JIRA Projects are tied to DefectDojo "Products" when you create/edit a new product once JIRA is enabled there will be a new field.

[2017-12-11 13:58] #423 closed

[2017-12-11 14:17] devGregA commented on #422
Hi @xthk This is controlled by Product creation/editing. Here is the menu:
![image](https://user-images.githubusercontent.com/4741312/33835311-a9a72436-de4b-11e7-8ad8-fc665d964d25.png)

[2017-12-12 00:45] aaronweaver commented on #420
@xthk Just curious, what's your use case for adding endpoints to the API?

[2017-12-13 14:24] xthk commented on #422
Hi @devGregA,

if I create a new product using "/product/add" the dialog is shown. However, if I edit an existing product using e.g. "/product/1/edit" the dialog is not shown. Is this intentional or is it just a bug?

PS: I've created all products via the API, maybe this makes a difference somehow.

[2017-12-13 14:43] xthk commented on #420
Hi @aaronweaver,

we've just a large amount (1000+) of endpoints. We'd like to have them in DefectDojo, too. Due to the amount it is not an option to maintain the endpoint/project mapping by hand.

[2017-12-13 15:13] xthk commented on #422
I've just tried it: If I create a product via the API the JIRA dialog does not show up. If I create it manually via the UI the JIRA dialog is shown.

That's how I create products (Ruby), it's a minimalistic example:

[code]

[2017-12-13 15:51] xthk opened #426 "bower deprecation warning"
## bower deprecation warning

### Issue Type
- [ ] Bug
- [X] Enhancement

### Description

[code]
(https://github.com/OWASP/django-DefectDojo/blob/master/setup.bash#L173)

leads to a bower deprecation warning:

### Steps to Reproduce

Just run

[code]

from the project's root directory.

[2017-12-13 17:14] devGregA commented on #422
@xthk will investigate.

[2017-12-14 07:42] xthk commented on #422
Another (sub-)issue is, that the checkbox "push to Jira" is shown even if there is no valid configuration for a given project.

[2017-12-14 13:51] xthk opened #429 "Maintain JIRA product specific configuration via API?"
## Maintain JIRA product specific configuration via API?

### Issue Type

- [ ] Bug
- [X] Enhancement

### Description

I'd like to be able to maintain (create, read, update, delete) the product specific JIRA configuration via DefectDojo's API.

My use case is to maintain product specific JIRA configurations for 100+ projects. That's just infeasible via the UI. Issue #420 (create endpoints) is rel

[2017-12-14 19:52] aaronweaver commented on #426
@xthk this was addressed in yesterday's PR. Swapped out bower with YARN.

[2017-12-14 19:52] #426 closed

[2017-12-15 16:33] #402 closed

[2017-12-15 19:55] Horst88 opened #432 "Deduplication does not work"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
I upload the attached zap report 2 times with deduplication enabled and they appear with duplicate as false. I had to change the extension to txt, due to upload policy of github. During upload I flag the results as verified and active, because it is part of an

[2017-12-15 20:23] devGregA commented on #432
@Horst88 I don't think you have celery running

[2017-12-15 20:44] Horst88 commented on #432
Yep, that's what Aaron told me on Slack, ...

[2017-12-22 10:11] raajheshkannaa opened #434 "Latest docker image fails at launch"
### Issue Type
- Bug

### Description
- The latest docker image from appsecpipeline/django-defectdojo fails when launching complaining 'No passwd entry for user 'dojo''

### Environment:
- Docker in Windows 7

[2017-12-22 17:59] morissette commented on #407
`  typedef struct st_mysql {
    NET         net;                    /* Communication parameters */
    void  *unused_0;
    char *host,*user,*passwd,*unix_socket,*server_version,*host_info;
    char *info,*db;
    const struct ma_charset_info_st *charset;      /* character set */
    MYSQL_FIELD *fields;
    MA_MEM_ROOT field_alloc;
    unsigned long long affected_rows;
    unsigned long long ins

[2017-12-22 19:37] devGregA commented on #432
@Horst88 is it not working with it on or?

[2017-12-22 19:42] #367 closed

[2017-12-24 21:59] devGregA commented on #379
@mtesauro @dp00 I tried to correct this, but I think I'm making a fundamental mistake. @mtesauro can I assign this issue to you?

[2017-12-25 20:19] Behinder commented on #407
This not work on MacoS and homebrew, there is no libmariadb-dev package :/

[2017-12-26 21:14] #395 closed

[2017-12-27 14:26] ishangirdhar opened #436 "Add/Edit New Issue Type for JIRA Config"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description:
We have created a custom JIRA Issue Type in our enterprise JIRA, which allows us to capture additional details of the security issues we raise. This issuetype also have a custom workflow, which allows us to track the progress. Name of our custom issuetype is "Security Bug" that we have configured in our jira.

However, in DefectDojo's co

[2017-12-27 19:54] devGregA commented on #436
@ishangirdhar should be an easy change. Give me a couple days to investigate.

[2017-12-27 20:00] devGregA commented on #432
Closing due to inactivity. @Horst88 if you still have this problem when you return from the holidays, please feel free to reopen

[2017-12-27 20:00] #432 closed

[2017-12-28 06:35] ishangirdhar commented on #436
Thanks @devGregA

[2017-12-29 13:02] ishangirdhar opened #437 "Slack Notifications aren't working"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

## Hi Folks,

I have enabled slack integration by adding slack token and channel name yet I am not receiving any slack notifications. I have celery and celery beat service running in the background. I have enabled all the events on personal and global scope. I have triggered the events multiple times by adding adding engagements, tests e

[2017-12-29 13:36] #437 closed

[2017-12-29 13:37] ishangirdhar commented on #437
Please ignore this, I realised I was adding a token created for an app, instead for a bot user.

[2018-01-02 09:09] ishangirdhar commented on #436
Hi @devGregA,

I have good understanding of JIRA Bi-directional integration, however not so much in Django, Any guidance regarding would be appreciated, I can change the code and do some testing.

-Ishan

[2018-01-04 19:38] no-sec-marko commented on #337
@devGregA yes, I try it with the latest version 3078f60 and it was fixed

[2018-01-04 20:04] no-sec-marko opened #438 "UnicodeEncodeError by adding finding with german Umlauts"
Please use the following template when submitting issues:

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
After updating to 3078f60, it was not possible to add findings with german Umlaut, like ä or ü.

### Operating System
CentOS 7

### Install
- [x] setup.bash
- [ ] docker

### Steps to Reproduce
adding finding with german umlauts like ä or ü.

### Console Logs (optional)
[code]

[2018-01-04 21:53] #438 closed

[2018-01-04 22:12] devGregA commented on #350
Closing due to inactivity. Please feel free to reopen if this is still an issue.

[2018-01-04 22:12] #350 closed

[2018-01-04 22:39] devGregA commented on #436
@ishangirdhar I've looked into this, and I think a one-off solution might be easier than changing the actual code. Reason for this is that we start with all the default issue types, so security folks do not have to be familiar with JIRA configurations. To add a 'Security Bug choice', and make it the default option, make the following change:
https://github.com/OWASP/django-DefectDojo/blob/master/d

[2018-01-04 22:39] #436 closed

[2018-01-05 11:36] Horst88 opened #440 "deduplication - documentation for starting celery"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [x ] Enhancement

### Description
Please update the documentation in order for the deduplication to work. Please add advice for using celebry.

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

-

[2018-01-08 23:44] devGregA commented on #99
@davevs Please see our call for scans https://www.linkedin.com/pulse/call-scans-news-project-updates-owasp-defectdojo-greg-anderson/

[2018-01-08 23:44] #99 closed

[2018-01-08 23:45] devGregA commented on #341
@nhajiyani please see our call for scans https://www.linkedin.com/pulse/call-scans-news-project-updates-owasp-defectdojo-greg-anderson/

[2018-01-08 23:45] #341 closed

[2018-01-17 21:01] no-sec-marko opened #442 "Filter settings will not be displayed in "Add From Finding Templates""
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
A logged in user can add a finding template to an existing test by using the "Finding From Template"-funktion. However, this function doenst show the filter settings searching for specific templates.

### Install

- [x] setup.bash
- [ ] docker

### Steps to Reproduce
Add a finding template to an existing test. Push the filter button. The

[2018-01-18 14:50] #442 closed

[2018-01-18 15:28] devGregA commented on #440
@Horst88

I've updated the Getting Started guide to use run_dojo.bash (http://defectdojo.readthedocs.io/en/latest/getting-started.html), and I've updated the dedupe documentation (https://defectdojo.readthedocs.io/en/latest/features.html#issue-consolidation).

[2018-01-18 15:28] #440 closed

[2018-01-20 19:12] palash25 opened #444 "Deploy to Docker cloud link gives 404 error"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [ ] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [ ] setup.bash
- [ ] docker

### Steps to Reproduce

### Sample Scan File (if applicable)

### Screenshots (o

[2018-01-22 21:19] devGregA commented on #444
Hi @palash25 are you signed into dockercloud before you click the button?

[2018-01-23 20:20] devGregA opened #446 "Add MFA Support"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [X] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [ ] setup.bash
- [ ] docker

### Steps to Reproduce

### Sample Scan File (if applicable)

### Screenshots (o

[2018-01-24 14:39] devGregA commented on #444
Closing from lack of activity.

[2018-01-24 14:39] #444 closed

[2018-01-24 16:57] martinmarsicano opened #447 "Problems with the UI"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
When downloading repository and making the setup, there is a problem with the UI
Also due to Bootstrap upgrading there are some missing dependencies. When trying to open a dropdown in the browser console it appears: Uncaught TypeError: Bootstrap dropdown require Popper.js (https://popper.js.org)

### Operating System
- Ubuntu 16.04 LTS
-

[2018-01-24 17:15] mymainmandeebo commented on #447
I am also getting this same issue.

[2018-01-24 18:41] devGregA commented on #447
@cneill would you be able to look into this with your infinite JS wisdom? ;)

[2018-01-25 11:04] Mason-Fan commented on #434
i found the issue also occurs in Linux docker

[2018-01-25 12:55] codedestructor commented on #357
@njfox , @devGregA
Hi.. I found out same issues.
How to get fix?

[2018-01-25 15:00] aaronweaver commented on #434
@Mason-Fan @raajheshkannaa This issue should be fixed, if you wouldn't mind confirming.

Thanks!

[2018-01-25 16:33] aaronweaver commented on #447
@martinmarsicano @mymainmandeebo Issue is fixed in the latest commit.

[2018-01-25 16:34] devGregA commented on #447
Please feel free to reopen if you continue to have issues.

[2018-01-25 16:34] #447 closed

[2018-01-25 16:35] devGregA commented on #434
Please feel free to reopen if you continue to have issues.

[2018-01-25 16:35] #434 closed

[2018-01-25 16:37] aaronweaver opened #450 "Migrate to Bootstrap V4 from V3."
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
DefectDojo currently utilizes v3 of Bootstrap and needs to be migrated to v4. There are some changes that need to happen before that can take place.

https://getbootstrap.com/docs/4.0/migration/

[2018-01-25 16:38] #446 closed

[2018-01-25 19:56] gorivishal11 opened #451 "Trending open bug counts by product"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Enhancement

### Description
Is it possible to get something like *Trending open bug counts by product* dashboard in Dojo?

### Screenshots
We already have *Trending open bug count*, but trying to get something like this per product.
![screen shot 2018-01-24 at 3 13 52 pm](https://user-images.githubu

[2018-01-26 06:45] Mason-Fan commented on #434
@devGregA   @aaronweaver  thanks for your help. the issue is fixed.
but when i run the command
docker run -it -p 8000:8000 appsecpipeline/django-defectdojo bash -c "export LOAD_SAMPLE_DATA=True && bash /django-DefectDojo/docker/docker-startup.bash"
according to the doc "login with the credentials shown in the terminal.".  but there is no credentials shows.  i tried sometime and found "admin:admin"

[2018-01-26 18:03] mymainmandeebo opened #453 "Problems with the UI"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
When downloading repository and making the setup, there is a problem with the UI, different from the previous one this week.

## If the issue is a bug, please also include the following:

### Operating System
Lubuntu 16.04

### Install

- [X] setup.bash
- [ ] do

[2018-01-26 19:01] devGregA commented on #453
Hi @mymainmandeebo this is from the static resources not being gathered for some reason. I've had problems in the past on Lubuntu. Let me see if I can reproduce the issue.

[2018-01-26 19:06] mymainmandeebo commented on #453
@devGregA OK, let me try on regular ubuntu 16.04

[2018-01-26 19:35] mymainmandeebo commented on #453
I've tried it on a ubuntu 16.04 build and I'm having the same issue.

[2018-01-26 21:09] devGregA commented on #453
@mymainmandeebo testing now on xubuntu

[2018-01-26 22:01] devGregA commented on #453
Hi @mymainmandeebo please try: `python manage.py collectstatic --clear` I believe this is a caching issue as I wasn't able to reproduce on a clean VM. I did have issues on previously installed versions, so I'm trying to sort up what the best upgrade path would be. I think yarn (our new JS manager since bower was deprecated) is having issues with the upgrade / downgrade changes around bootstrap 4.0

[2018-01-29 10:29] sbrao800 opened #454 "API to receive alerts from JFrog Xray"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description: JFrog Xray scans the artifacts on artifactory for vulnerabilities and has an option to trigger a webhook call. Would be nice to have an API in DefectDojo which can be consumed by the webhook.

## If the issue is a bug, please also include the following:

### Op

[2018-02-01 08:13] xthk opened #457 "Add "tags" to the API"
### Issue Type

- [ ] Bug
- [X] Enhancement

### Add tags to the API

As an API user I'd like to be able to use DefectDojo's tagging system via the API. According to https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/models.py#L1231-L1237 tags could be applied to products, tests, findings, engagements, endpoints (currently missing in the API, #420), and finding templates.

An example

[2018-02-01 08:28] xthk opened #458 "Show URIs in "All Endpoints" view?"
## Show URIs in "All Endpoints" view?

### Issue Type

- [ ] Bug
- [X] Enhancement

### Description

The current view of "All Endpoints" shows only the content of fiel "host". I think this view would benefit from showing the full URI of an endpoint. That'd really help in a scenario where multiple projects share a common hostname, e.g. www.example.com and their endpoints would be https://www.exampl

[2018-02-01 08:36] xthk opened #459 "Add Meta Data / Additional Information to API?"
### Issue Type

- [ ] Bug
- [X] Enhancement

### Add Meta Data / Additional Information to the API

As an API user I'd like to have "Additional Information" or meta data via the API. This should be applied to products, and endpoints.

An example use case would be to push company specific information to DefectDojo, e.g. business unit, additional contact information, etc.

I'd love to see all CRUD (

[2018-02-01 08:49] xthk opened #460 "Endpoint view shows false positive for "Vulnerable Services""
## Endpoint view shows false positive for "Vulnerable Services"

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description

The endpoint view indicates a vulnerable service, although there is no finding at all for the endpoint and the associated product.

### Operating System

Ubuntu 16.04, Python 2.7.12, Django 1.11.2

### Install

- [ ] setup.bash
- [ ] docker

### Steps to Reproduce

- create

[2018-02-01 09:09] xthk commented on #422
To add the missing Jira config, I'm using a small Python script as a workaround. Please note, "project_key" and "component" are placeholders at the moment. You'll need additional code for that.

[code]

[2018-02-01 14:20] Horst88 commented on #459
Hi,
this would be great and also comply with, **Tools need to have an API so that the 'All the things' can be automated**, see https://www.owasp.org/index.php/OWASP_AppSec_Pipeline#tab=Pipeline_Tools

[2018-02-01 14:20] Horst88 commented on #457
Hi,
this would be great and also comply with, **Tools need to have an API so that the 'All the things' can be automated**, see https://www.owasp.org/index.php/OWASP_AppSec_Pipeline#tab=Pipeline_Tools

[2018-02-02 19:28] devGregA opened #464 "Date Missing SKF importer"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [ ] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [ ] setup.bash
- [ ] docker

### Steps to Reproduce

### Sample Scan File (if applicable)

### Screenshots (o

[2018-02-02 20:18] #464 closed

[2018-02-04 18:20] mwasilew2 commented on #407
in case someone comes across this comment, this is caused by a change in mariadb, in particular how reconnect is being used, for more info see: https://lists.launchpad.net/maria-developers/msg10744.html

as stated in the email linked above, it might be fixed by submitting patches to python/perl connectors in the future. In my case, I couldn't downgrade mysql, was using pip 9.0.1, python 2.7 and ha

[2018-02-05 05:06] martinmarsicano commented on #368
In OWASP SKF backend that is written in Python, Restplus is used. It make really easy to define the URL were the API will respond to each function, what parameters to expect and what message to return if an error occurred.

[2018-02-05 18:02] aaronweaver commented on #454
@sbrao800 What would you like the webhook to do? Pull in the results from JFrog Xray? Do you have an example of the webhook post data?

[2018-02-05 18:02] aaronweaver commented on #453
@devGregA Can this be closed?

[2018-02-05 20:09] sbrao800 commented on #454
@aaronweaver

I would like the webhook from XRAY to result in creation of issues in defectDojo. But also within a product (just like any other source of vulnerability in defectdojo)

Below is a sample webhook output from XRAY when an artifact in artifactory is found to have a vulnerability:

`{
   "created":"2018-02-05T20:53:52.144181085+01:00",
   "top_severity":"Minor",
   "watch_name":"EveryArt

[2018-02-06 17:12] devGregA commented on #453
@aaronweaver closing due to inactivity. Please feel free to reopen if this is still an issue.

[2018-02-06 17:12] #453 closed

[2018-02-07 20:31] mymainmandeebo commented on #453
Sorry I didn't have a few cycles to test this. I just did a fresh install of the latest code and the issue looks to be resolved.

[2018-02-09 04:55] Mason-Fan opened #468 "defectDojo failed after using latest docker image"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
use the defectdojo docker image from appsecpipeline/django-defectdojo docker hub for about 1month. yesterday update the image with latest and start a new container with the older mysql data volume mounted with command below
 docker run --name defectDojo -v defec

[2018-02-13 07:58] xthk opened #469 "Documentation issue "Getting Started" regarding "Docker Local Install""
## Documentation issue "Getting Started" regarding "Docker Local Install"

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description

The docs at https://defectdojo.readthedocs.io/en/latest/getting-started.html#docker-local-install indicate that credentials are shown in the terminal. Unfortunately there are no credentials shown.

The expect script (https://github.com/DefectDojo/django-DefectDojo

[2018-02-19 16:03] maskimfr opened #471 "Jira integration - AttributeError: 'list' object has no attribute 'iteritems'"
### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
When trying to export issues to Jira from a Nessus scan, the issue is not created and an error is shown on celery logs.

### Operating System
Ubuntu 16.04 x64

### Install

- [X] setup.bash
- [ ] docker

### Steps to Reproduce
  1. Create a Jira configuration
  2. Create a product
  3.  Create an engagement, select 'push to Jira" and done

[2018-02-20 09:27] tulsluper opened #472 "Jira connection in one place"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

Could you please implement jira connection in models.py.
For example:

[code]
It will allow to reduce dozen lines
`jira = JIRA(server=jira_conf.url, basic_auth=(jira_conf.username, jira_conf.password))`
to
`jira = jira_conf.init()`

and then add new authentication methods in one place.

[2018-02-20 15:22] tulsluper opened #473 "add_findings doesn't work for user with not touched profile"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

add_findings page returns error when  user with not touched profile (maybe not created automatically) tries to add a finding.
After go to User Profile and save empty form - adding findings works without errors.

### Operating System
RHEL 7.3

### Install

- [x]

[2018-02-21 09:53] tulsluper opened #474 "Error in celery log if field "Jira labels" in "System Settings" is empty"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

(low severity issue)

if field "Jira labels" in "System Settings" (/system_settings) is empty
and add new finding (/test/<test_id>/add_findings)
celery log shows:
[code]
set jira_labels field as required or add "if system_settings.jira_labels" condition if the function.

### Operating System
CentOS 7.3

### Install

- [x] setup.bash
- [

[2018-02-21 12:54] tulsluper opened #475 "By default JIRA issues opening works just for Info severity"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

[code]
[code]

If default have be "don't create any issue" please add
    elif severity == 'Info':
        return 0

If default have be "create issue with any severity" please add
    elif severity == 'Info':
        return 0
  and:
    default='Info'

### Oper

[2018-02-21 13:12] tulsluper commented on #475
I think that it cannot be repeated in your instange because
    def get_priority(self, status) returns 'N/A' for 'Info', create_issue returns exception for 'N/A' and no any issue can be created with Info.
I have changed "Info" flow in my instance and found described above.

[2018-02-21 13:55] maskimfr opened #476 "Jira integration - JIRAFindingForm object has no attribute 'cleaned_data'"
### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
When trying to push to Jira an already created engagement, the following error is displayed in the browser:
[code]

### Operating System
Ubuntu 16.04 x64

### Install

- [X] setup.bash
- [ ] docker

### Steps to Reproduce
  1. Edit an engagement
  2. Select 'push to Jira" and done

[2018-02-22 13:15] tulsluper opened #478 "Issue comments not synced to DefectDojo with a webhook event"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

Webhook support enabled.
If comment an issue in Jira - no new notes in finding.

It's because webhook json for comment also have 'issue' key.

jira_link/views.py
[code]
Maybe better below ?
[code]

### Operating System
CentOS 7.3

### Install

- [x] setup.bash
- [ ] docker

### Steps to Reproduce

Comment issue in Jira
Check notes in rel

[2018-02-23 11:02] tulsluper commented on #476
I have the same issue.
record:
`if form.is_valid():`
in edit_engagement function have be replaced to
`if form.is_valid() and jform and jform.is_valid():`

[2018-02-23 13:21] maskimfr commented on #476
With this modification, I don't the error anymore (I checked celery logs), but issues are not pushed.
Note that I don't know if my Jira configuration is working, when I try to push a sngle finding I've got another error (see my other issue #471)

[2018-02-27 18:34] kjlynn commented on #453
I just did a fresh install of Ubuntu desktop 16.04 and ran through the instructions in DefectDojo-Installation-Guide-Ubuntu-Desktop-16.04-2 and I see the same issue.
    python manage.py collectstatic --clear
doesn't clear the issue.
It appears from the yarn-error.log that the git fails:
    Arguments: ls-remote --tags --heads git://github.com/adobe-webplatform/eve.git
    Directory: /home/klynn/d

[2018-02-28 15:45] kjlynn opened #482 "Static UI content not installing"
### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
I'm seeing the exact same UI issue as described in closed request #453: static UI elements don't appear to be installed.  --Sorry, I wasn't able to figure out how to reopen the closed issue.

I was able to reproduce the issue several times as follows:

1. do a fresh install of Ubuntu desktop 16.04.2 on a VMware VM
2. run through the instr

[2018-03-01 21:02] devGregA commented on #472
Hi @tulsluper, this isn't on our roadmap right now, but we're always happy to receive pull requests.

[2018-03-01 21:04] devGregA commented on #468
@Mason-Fan on the docker system if you perform the following from the DD directory it should fix the issue: `python manage.py makemigrations` `python manage.py migrate` it should update the DB.

[2018-03-01 21:45] devGregA commented on #482
@kjlynn I'm not able to reproduce this issue. Can you include your console log please?

[2018-03-01 21:47] devGregA commented on #407
Hi all, we recently switched mysql libraries. Is anyone able to easily retest?

[2018-03-02 04:40] Mason-Fan opened #483 "import scan fails with java rest API"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [X] Enhancement

### Description
i am using java code to import a scan report to DefectDojo via its rest API.
in the post json body, for the file parameter, i set it as string. but defectdojo rejected it with error "invalid format"
checked the parser, found they use code   json.load()  instead

[2018-03-02 14:17] kjlynn commented on #482
Sure. Here's a transcript of the installations steps.  These were the first things done on a fresh install of Ubuntu 16.04.3 LTS amd64

[DefectDojo-Install.txt](https://github.com/DefectDojo/django-DefectDojo/files/1775333/DefectDojo-Install.txt)

[2018-03-06 08:37] #483 closed

[2018-03-06 08:38] Mason-Fan commented on #483
use HttpEntity

[2018-03-07 06:29] ishangirdhar opened #491 "JIRA Integration"
### Issue Type
- [ ] Bug
- [ ] Enhancement

### Description

Has anybody been able to configure latest DefectDojo , JIRA Bi-directional integration with their company/enterprise JIRA?

After following the readmedocs line by line and making exact same configuration. JIRA Integration isn’t working.  I haven’t seen any errors on either DefectDojo and JIRA Logs. No errors on findings page in DefectDoj

[2018-03-07 08:05] ishangirdhar commented on #491
Looks like I have narrowed it down to similar issue as already mentioned here: https://github.com/DefectDojo/django-DefectDojo/issues/476

Closing this one.

[2018-03-07 08:05] #491 closed

[2018-03-07 10:41] xsseng opened #492 "uwsgi error"
uwsgi error: django.core.exceptions.ImproperlyConfigured: The SECRET_KEY setting must not be empty."

because migrating the settings.py dict.
need to change /django-DefectDojo/wsgi.py
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "**dojo.settings**")
to
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "**dojo.settings.settings**")

[2018-03-07 15:33] devGregA commented on #492
Hi @xsseng that makes sense. Great catch! Would you like to do the PR so you get the credit?

[2018-03-08 09:46] maennel commented on #482
@kjlynn Are you in a corporate environment that blocks outgoing SSH connections?
I noticed some components installed with yarn have dependencies retrieved via git://...
I can reproduce this.

[2018-03-08 10:01] maennel opened #495 "Track Django migrations in GitHub"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
In order not to break existing installations and thus making the process of upgrading DefectDojo easier, I suggest to start keeping track of Django migration files in the GitHub repo.

The following scenario currently breaks the application and may keep people from upgrading DefectDojo:
- Someone operates a DefectDojo instance
- A new ver

[2018-03-08 10:12] maennel commented on #495
Looks like the described scenario is the cause for issues #468, #473, and probably more. So this change would cause fewer issues.

[2018-03-08 15:38] #492 closed

[2018-03-08 15:54] maennel commented on #482
Here's a more detailed trace:
[code]

The failing dependency gets removed by https://github.com/DmitryBaranovskiy/raphael/commit/be2660dceda7845fda7543871c3c58db31828b85#diff-b9cfc7f2cdf78a7f4b91a753d10865a2 included in version 2.2.2 of raphael.

So, it seems that updating the raphael dependency at [package.json:31](https://github.com/DefectDojo/django-DefectDojo/blob/a2aefd4e5d8798ef8a7a49cd0e487

[2018-03-09 09:48] maennel commented on #482
With my limited frontend knowledge, I think we can even get rid of the Raphael-dependency, since it's [included in "justgage"](https://github.com/toorshia/justgage/blob/master/package.json) and included into DefectDojo templates [only through "justgage"](https://github.com/DefectDojo/django-DefectDojo/search?q=raphael&type=Code&utf8=%E2%9C%93).

Could anyone with more insight into the JS-framework

[2018-03-12 01:25] devGregA commented on #385
@rkane-nm will have this fixed in my next pr (should be tomorrow).

[2018-03-12 01:35] devGregA commented on #173
All, I'm archiving and closing this issue due to: the large amount of effort with no resources in the near future to consider putting on the roadmap.

[2018-03-12 01:35] #173 closed

[2018-03-12 01:39] devGregA commented on #238
Hi @anakin1 I recently re-did authorized user permissions, which might work in your case (PR is coming tomorrow), however, it now let's users view all issues for a given product which sounds too permissive. Unfortunately, I don't think there is any bandwith for the maintainers to get this on the roadmap. If you have an in house python developer, I don't think this would take them a lot of time (or

[2018-03-12 01:39] #238 closed

[2018-03-12 13:33] devGregA commented on #460
Believe to be fixed via https://github.com/DefectDojo/django-DefectDojo/commit/ee3e7cafc86a1c708af503d16459366c2926bd85

Please  reopen this issue if you continue to have issues.

[2018-03-12 13:33] #460 closed

[2018-03-12 13:33] devGregA commented on #421
Believe to be fixed via ee3e7ca

Please reopen this issue if you continue to have issues.

[2018-03-12 13:33] #421 closed

[2018-03-12 15:56] t3h2mas opened #501 "navbar covering page"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
The height of the navbar is covering part of the web application

### Operating System
Mac 10.13.3

### Browser
Chrome v64
### Install

- [ ] setup.bash
- [x] docker

### Steps to Reproduce
Visit localhost:8000

### Screenshots (optional)
![defectdojo](https://u

[2018-03-12 16:32] devGregA commented on #501
Hi @t3h2mas I wasn't able to reproduce this, could you please share your ./setup.bash output?

[2018-03-12 17:39] t3h2mas commented on #501
@devGregA Would you like me to run that inside the container?

[2018-03-12 20:58] devGregA commented on #501
@t3h2mas didn't catch that this was docker. I have a meeting tomorrow to review PRs will discuss it with the team then.

[2018-03-12 22:46] #468 closed

[2018-03-13 15:13] t3h2mas opened #504 "support external databases when using docker"
### Issue Type
- [x] Enhancement

### Description
When using docker, I would like to be able to bring my own database.

It appears that https://github.com/DefectDojo/django-DefectDojo/blob/master/setup.bash#L40
uses defaults (including a default hardcoded root password)

setup.bash is ran when building using this Dockerfile https://github.com/DefectDojo/django-DefectDojo/blob/master/Dockerfile#L14

[2018-03-13 17:14] maennel opened #505 "Implement a Grafeas client"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

Grafeas is a standard interface pushed by Google and JFrog which is used to transmit artifact metadata to annotate actual software artifacts.

More information at:
https://github.com/grafeas/grafeas/blob/master/README.md

I suggest to implement a Grafeas client to be able to feed vulnerabilities managed in DefectDojo to a Grafeas server

[2018-03-13 20:53] t3h2mas commented on #501
It looks like

* dojo.css
* logo.png
* chop.png
* index.js

fail to load. After viewing previous issues, I tried testing the yarn install and it worked fine

[2018-03-14 18:31] devGregA commented on #420
Completed

[2018-03-14 18:31] #420 closed

[2018-03-14 18:31] devGregA commented on #429
Completed.

[2018-03-14 18:31] #429 closed

[2018-03-14 18:33] #422 closed

[2018-03-15 20:41] maennel commented on #495
I'm thinking about a strategy to add migrations and I can think of the two approaches:
- Simply add an initial mi

[2018-03-16 02:09] #474 closed

[2018-03-18 06:08] devGregA commented on #458
@xthk https://github.com/DefectDojo/django-DefectDojo/commit/4be42a375f3a050b9c756470605a6c8abf6a9a8d adds a system setting to toggle this view. You'll need to pull the new code and the upgrade the DB by running:

`python manage.py makemigrations`

` python manage.py migrate`

[2018-03-18 06:08] #458 closed

[2018-03-18 06:10] devGregA opened #513 "Endpoints are not saving ports"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ X ] Bug
- [ ] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [ X ] setup.bash
- [ ] docker

### Steps to Reproduce

### Sample Scan File (if applicable)

### Screenshot

[2018-03-18 06:11] #482 closed

[2018-03-18 06:12] #472 closed

[2018-03-19 18:31] #385 closed

[2018-03-19 18:39] devGregA commented on #282
Hi @bertonjulian, came back to this, but the tastypie page has significantly changed. I don't think much can be changed here with the new layout. It no longer says required or not. It shows all the options (I'm not sure if that is better). We've discussed moving away from tastypie, but the resources aren't really there to do that at this time.

[2018-03-19 18:39] #282 closed

[2018-03-19 18:43] devGregA commented on #328
@vpulec @rkane-nm I'm not able to reproduce this issue. Are you still having issues?

[2018-03-20 18:52] nabaaron opened #515 "DefectDojo Health Page"
### Issue Type
- [ ] Bug
- [ ] Enhancement

### Description
Create a health page where a user can see the status of service type integrations.

1. Celery Status
2. Slack Integration
3. Jira Connection Status

[2018-03-20 20:30] ekelson-bcove opened #516 "mysql_conf error when installing setup.bash with postgres"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
When executing setup.bash on Centos 7 systems using postgres db type (without mysql installed), receive error that mysql_config is not found.  Then remainder of install fails
![image](https://user-images.githubusercontent.com/20729707/37680806-614b9358-2c5b-11e

[2018-03-20 20:57] maennel commented on #516
Hey Eric, according to this thread (
https://stackoverflow.com/questions/13922955/installing-mysql-python-without-mysql-server-on-centos),
can you try to install mysql-devel on OS level?

If this works, we should probably add it to "the yum part" of setup.bash...

Best, Manuel J.

On Tue, Mar 20, 2018, 21:30 Eric Kelson <notifications@github.com> wrote:

[2018-03-20 21:30] maennel commented on #516
Hm, a better solution would probably be to comment out the python mysql dependency (``mysqlclient``) in setup.py, so you don't install unnecssary software. This would mean we'd need to adapt the dependency installation in function of the target operating environment... food for thought, I guess.

[2018-03-20 21:41] ekelson-bcove commented on #516
Will try. If I am not using MySQL should this be installed at all?
On Tue, Mar 20, 2018 at 5:30 PM Manuel Jeckelmann <notifications@github.com>
wrote:

[2018-03-20 21:42] ekelson-bcove commented on #516
Oh I like the second one. Agreed. The bash script should use the dB
selection to drive install.
On Tue, Mar 20, 2018 at 5:41 PM Eric Kelson <ekelson@brightcove.com> wrote:

[2018-03-21 15:36] joaquinrinaudo-olx opened #518 "Hardcoded password for MYSQL"
Hello,

When running docker now the password is hardcoded by setup.bash to "Cu3zehoh7eegoogohdoh1the" if running docker-compose .
Can we parametrize this MYSQL password via ENV MYSQL_PASSWORD as before?  Same for admin user default, before it was set by DOJO_ADMIN_PASSWORD.

### Sample Scan File (if applicable)
https://github.com/DefectDojo/django-DefectDojo/blob/master/setup.bash#L48

Regards,

[2018-03-21 15:45] joaquinrinaudo-olx opened #519 "Docker releases Tags"
### Issue Type
- [ ] Bug
- [X] Enhancement

### Description

Please tag the proper release on [Dockerhub](https://hub.docker.com/r/appsecpipeline/django-defectdojo/) with the proper release version (1.2.2, 1.2.0) to avoid using beta releases and improve platform stability.

Regards,

[2018-03-21 20:17] ekelson-bcove commented on #516
fyi, the install seems to try to do a yum install for yarn,  libpq-dev, libmysqlclient-dev

At least for libpq-dev, its postgresql-libs on centos.

[2018-03-22 09:13] davidabayon opened #521 "Error when uploading a .CSV-file using importScan API"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
The importScan API has return this error message on the response when we run the **.jar file** we created:
**Server returned HTTP response code: 500 for URL: http://[Server address]/api/v1/importscan/**

So after encountering the error we tried posting the request directly to DefectDojo. We are using the **importScan API** to import a sca

[2018-03-22 11:22] joaquinrinaudo-olx commented on #518
Duplicate of #504.

[2018-03-22 11:22] #518 closed

[2018-03-22 16:21] aaronweaver commented on #521
@davidabayon two questions.

1. Does this work if you manually upload the file through the web interface.
2. Would you be able to provide me with a sanitized version of the file? I'd only need a couple rows in the file.

Thanks!

[2018-03-22 19:11] #328 closed

[2018-03-22 20:57] davidabayon commented on #521
Hi @aaronweaver , yes, the .csv file gets uploaded successfully when we upload it through the web interface. Please take note that:
- when we upload the .csv file through API, it is placed in the server (Ubuntu 16.04)
- when we upload the .csv file through web interface, it is located in the local server (Windows 8)

I'll work on the file and check which data can be removed for the safety of the d

[2018-03-23 01:25] davidabayon commented on #521
Hi @aaronweaver , here's the **sample .csv** file
[Sample .CSV File.zip](https://github.com/DefectDojo/django-DefectDojo/files/1839770/Sample.CSV.File.zip)

I tried removing **most of the data** and left some of the things I needed to run the .jar file, but
- with the .csv file being almost empty and
- I have checked if there's some special character that could be causing the **"error_message": "'

[2018-03-23 14:14] t3h2mas commented on #501
Ran into this again, with the docker one liner

`docker run -it -p 8000:8000 appsecpipeline/django-defectdojo bash -c "export LOAD_SAMPLE_DATA=True && bash /django-DefectDojo/docker/docker-startup.bash"`

from https://defectdojo.readthedocs.io/en/latest/getting-started.html#docker-local-install

[2018-03-23 14:19] t3h2mas commented on #518
@joaquinrinaudo-olx In that issue, I mentioned the hardcoded password, but my issue was specific to using a database outside of the defect dojo environment. I.E. in a cloud provider.

It's my opinion that the two issues are separate and this could be reopened as a non dup

[2018-03-23 14:40] t3h2mas opened #524 "decouple docker image from setup.bash"
### Issue Type
- [X] Enhancement

### Description
The line https://github.com/DefectDojo/django-DefectDojo/blob/master/Dockerfile#L14
does a lot of OS bootstrapping. Taking this approach inside a Dockerfile fails to take advantage of docker cache layers.

While it's not a bad approach for end users, I believe that caching host package bootstrapping, etc, is in the best interest of both potential c

[2018-03-23 14:51] joaquinrinaudo-olx commented on #518
If they would support databases outside DefectDojo, probably this issue would be addressed (at least for us) since we could use RDS or similar technologies which probably mean a non-hardcoded password.

[2018-03-23 14:59] #501 closed

[2018-03-23 15:01] t3h2mas commented on #501
In case anyone encounters this, I removed all of my docker images that had to deal with Defect Dojo, and did a `docker pull appsecpipeline/django-defectdojo` before running the one liner again.

[2018-03-23 18:26] devGregA commented on #521
@davidabayon , closing. Please feel free to reopen if you continue to have issues after updating.

[2018-03-23 18:26] #521 closed

[2018-03-24 00:17] davidabayon commented on #521
Hi @aaronweaver , thanks. Will be checking this on Monday and update you if we also gets it resolved once we have the latest DefectDojo.

[2018-03-26 05:47] davidabayon commented on #521
Hi @aaronweaver , we are still encountering the same error after pulling the latest version of DefectDojo. We get the same error message.

We both tried this request to be sent using our **.jar file** and the **DefectDojo itself**, please see the screenshots below:
![image](https://user-images.githubusercontent.com/36059980/37888454-2a9dd2be-30fa-11e8-9766-41af48ed4163.png)
.
**Request body for th

[2018-03-26 11:59] aaronweaver commented on #521
@davidabayon In order for it to work using the Swagger UI, you'll have to pass in the contents of the file as the form doesn't have access to that file. I'd recommend trying this curl command to verify. (Substitute your api key.)

Is the jar file a custom upload you have written?

curl -i -s -k  -X $'POST'     -H $'User-Agent: DefectDojo_api/1.1.3' -H $'Authorization: ApiKey admin:19fc9859df610b6a

[2018-03-26 12:10] davidabayon commented on #521
Yes the jar file is a custom program I have written.

So how can we import the OpenVAS CSV file using the importScan API? Do I need to change the format of the request from application/json to this format multipart/form-data?

I'm sorry I'm not getting the whole picture of what you have said

[2018-03-26 12:30] aaronweaver commented on #521
multipart/form-data is what I would recommend. That's how the python api wrapper does all the file uploads. If you need reference to find out take a look at how that does the uploads.

https://github.com/aaronweaver/defectdojo_api

[2018-03-26 16:34] maennel opened #527 "Add test case for installing DefectDojo under a Mac OS X environment"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

Currently, there is no test case to test ``setup.bash`` functionality in a Mac OS X environment.
TravisCI, however, offers the possibility to run things in such an environment: https://docs.travis-ci.com/user/reference/osx/

This issue suggests to add a simple

[2018-03-26 18:39] devGregA commented on #527
I think this will be much easier once we split out the ansible and docker installs to separate repos

[2018-03-26 22:21] aaronweaver commented on #519
Added release tagging to Docker hub.

[2018-03-26 22:21] #519 closed

[2018-03-26 23:04] davidabayon commented on #521
Okay, I will be changing the string request into a multipart/form-data format. But why is it not also working with the JSON format when I POST it through the DefectDojo UI when I use the importScan API? Isn't the request should be in JSON format when sent through the UI?

[2018-03-27 08:01] davidabayon commented on #521
Now after changing the format into form-data, I am now getting this error after successfully parsing the contents of the file:

![image](https://user-images.githubusercontent.com/36059980/37954367-27c584cc-31d8-11e8-8709-6678e9b081ac.png)

[2018-03-28 00:56] davidabayon commented on #521
### Hi @aaronweaver , I have managed to change the POST request format for importScan API from **application/json** to **multipart/form-data**. Here is the complete request being sent to the API:

POST /api/v1/importscan/ HTTP/1.1
User-Agent: DefectDojo_api/1.1.3
Accept-Encoding: gzip, deflate
Accept-Language: en-US,en;q=0.9
Authorization: ApiKey
Content-Type: multipart/form-data
Content-Length: 2

[2018-03-28 01:27] davidabayon commented on #521
Hi @aaronweaver , I have found the cause of the error, it seems that I should not have explicitly added a header for "Content-type" since the request is already providing it and that explicitly adding my own header causes the **"Invalid boundary in multipart: None"** error

Thanks a lot for all the help!

[2018-03-28 01:35] aaronweaver commented on #521
@davidabayon, glad to hear you have it working!

[2018-03-29 20:24] devGregA commented on #65
Completed via https://github.com/DefectDojo/django-DefectDojo/commit/5706e30d1231a8cc10e3eb9485166cb5d61fcbe4

[2018-03-29 20:24] #65 closed

[2018-04-02 17:43] devGregA opened #531 "Add the ability for Dojo to check for and apply updates."
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [ X ] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [ X ] setup.bash
- [ X ] docker

### Steps to Reproduce

### Sample Scan File (if applicable)

### Screensh

[2018-04-02 21:03] mattvaldes commented on #379
@mtesauro @devGregA looking here:
https://github.com/DefectDojo/django-DefectDojo/blob/master/entrypoint_scripts/common/dojo-shared-resources.sh#L397
I think you may need to escape the special characters in the password, prior to the sed search and replace. I wasn't able to find a way to make this work using quotes (expansion, interpolation, etc.).

[2018-04-02 21:27] dp00 commented on #379
Thank you.

[2018-04-04 15:51] #504 closed

[2018-04-06 11:10] NMilicic opened #534 "Docker dev version is not working"
### Issue Type
- [x] Bug
- [ ] Enhancement

Installing using
`docker run -it -p 8000:8000 appsecpipeline/django-defectdojo bash -c "export LOAD_SAMPLE_DATA=True && bash /opt/django-DefectDojo/docker/docker-startup.bash"`

Stops on the
` * Starting MySQL database server mysqld                                                                                                                           [

[2018-04-06 11:30] NMilicic commented on #534
@imohammedzen App starts, but in console there should be listed username and password so I can login to it, and it seems that code from docker-startup.bash isn't running.

[2018-04-06 11:32] imohammedzen commented on #534
@NMilicic default username and password is admin and admin. Can you try logging in and check

[2018-04-06 11:41] NMilicic commented on #534
@imohammedzen  I was able to login with default username and password.
It seems there is no demo data.

Screenshot:
<img width="1430" alt="screen shot 2018-04-06 at 13 35 26" src="https://user-images.githubusercontent.com/11042271/38419268-102b4138-39a0-11e8-9a79-b63e2f65d98a.png">

[2018-04-06 11:54] imohammedzen commented on #534
Its not picking up your commands. If you drop into bash of running container, you will see that its using default entrypoint commands.

![image](https://user-images.githubusercontent.com/23624531/38419782-453cac02-39d4-11e8-84d9-3e47e5894fd3.png)

[2018-04-06 12:06] NMilicic commented on #534
@imohammedzen Thanks for help.
Is there any solution to run these command on docker run and not run default entrypoint?

[2018-04-09 03:02] imohammedzen commented on #534
@NMilicic You should probably create another docker container instead of overwriting entrypoint. If you do have to do it then following is the code but do remember it will split out some errors.

`docker run -it --entrypoint /bin/bash -p 8000:8000 appsecpipeline/django-defectdojo -c "export LOAD_SAMPLE_DATA=True && bash /opt/django-DefectDojo/docker/docker-startup.bash"`

[2018-04-09 03:03] imohammedzen commented on #534
Also i don't think its an issue but feature, I suggest you edit the Dockefile present in the project to create a new image.

[2018-04-10 15:08] p3r1c0 commented on #534
I have the same problem:

Installing using
docker run -it -p 8000:8000 appsecpipeline/django-defectdojo bash -c "export LOAD_SAMPLE_DATA=True && bash /opt/django-DefectDojo/docker/docker-startup.bash"

Stops on the
* Starting MySQL database server mysqld [ OK ]

I want to attach to docker process and see some configuration and it fail:

C:\Users\pgalindo>docker ps -a
CONTAINER ID        IMAGE

[2018-04-10 18:55] ekelson-bcove opened #536 "Generic Import Loads Vulns, but does not add to findings counts"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ x] Bug
- [ ] Enhancement

### Description
Generic Import succeeds, creating a finding and endpoint.  However in endpoint view, finding count is zero.  On dashboard, finding count is also zero..

### Operating System
Please include the version number (ex: Ubuntu 16.04)
Centos 7

### Install

- [ x] setu

[2018-04-11 11:27] Horst88 commented on #476
Any updates regarding this? I seem to have run into the same problem, ....

[2018-04-12 22:31] devGregA commented on #178
@aaronweaver going to close this one. Please feel free to reopen if you disagree

[2018-04-12 22:31] #178 closed

[2018-04-13 14:34] aaronweaver commented on #536
@ekelson-bcove I'm pretty sure it need the finding to be verified in order to count. @devGregA can you confirm?

[2018-04-13 14:59] devGregA commented on #536
@aaronweaver  Yes, that is correct

[2018-04-13 15:07] #338 closed

[2018-04-13 19:27] ekelson-bcove opened #541 "Add FQDN for Generic Parser"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
There are use cases where having an FQDN included in an endpoint during parsing would be great.
## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [x ] setup.bas

[2018-04-16 15:53] maennel opened #545 "package.json script part"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [ ] Enhancement
- [x] Question

### Description

Is there a specific reason, the (following) script part in ``package.json`` is required? https://github.com/DefectDojo/django-DefectDojo/blob/5849604151c508854c2112a3b5e46957f1ea0468/components/package.json#L37

From what I can [find](https://git

[2018-04-16 17:00] aaronweaver commented on #545
@maennel That file was automatically generated with a migration script from bower to yarn so most likely that can be removed.

[2018-04-16 17:06] maennel commented on #545
@aaronweaver Thanks, good to hear. Will open a PR.

[2018-04-17 09:10] p3r1c0 commented on #534
Any solution to this problem?

[2018-04-17 09:13] p3r1c0 commented on #259
Hi @devGregA,

Could you set up the environment in AWS Beanstalk?

Thanks

[2018-04-18 01:00] #545 closed

[2018-04-18 09:26] maennel commented on #365
Do I understand this issue correctly to expose a single 'Scan' endpoint (or to extend the existing one), in order to be able to POST scan results to it?
This would ease integration with products able to call a pre-defined resource (webhook) once done scanning.

Regarding the second point of scheduling, triggering and managing scans from within DefectDojo, how would this co-exist with a CI/CD drive

[2018-04-18 13:04] #171 closed

[2018-04-18 21:13] t3h2mas commented on #534
@imohammedzen @NMilicic You can run the prebuilt image with a different entry point using `docker run --entrypoint="[CODE HERE]" ...`

[2018-04-19 11:40] secfigo commented on #534
@t3h2mas If you look at the previous comments, i did mention it ;)

[2018-04-20 17:01] aaronweaver commented on #476
@maskimfr Changes are in the dev branch and will be pushed to master. Added more clarity and direction for configuring in Jira config, addressed the issue you found above and improved error reporting. You'll now see any errors from Celery in the notifications. (Top right)

[2018-04-24 12:57] maskimfr commented on #476
@aaronweaver Thank you, I will try it as soon as all my issues with upgrading to 1.30 are resolved

[2018-04-24 13:10] maskimfr opened #552 "Fixtures are not found when migrating to 1.2.9 from 1.2.6."
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

Fixtures are not found when migrating to 1.2.8 from 1.2.6.

## If the issue is a bug, please also include the following:

### Operating System
Ubuntu 16.04, fully patched

### Install

- [x] setup.bash
- [ ] docker

### Steps to Reproduce
The documentation for migration to 1.2.9 (https://defectdojo.readthedocs.io/en/latest/upgrading.html

[2018-04-24 13:18] maskimfr opened #553 "./manage.py collectstatic --noinput error when migrating to 1.2.9"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

./manage.py collectstatic crash when migrating to 1.2.9 from 1.2.6.

## If the issue is a bug, please also include the following:

### Operating System
Ubuntu 16.04, fully patched

### Install

- [x] setup.bash
- [ ] docker

### Steps to Reproduce
The documentation for migration to 1.2.9 (https://defectdojo.readthedocs.io/en/latest/upgra

[2018-04-26 18:28] devGregA opened #556 "Make Burp Request/Responses Editable"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [ ] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [ ] setup.bash
- [ ] docker

### Steps to Reproduce

### Sample Scan File (if applicable)

### Screenshots (o

[2018-05-01 19:07] t3h2mas opened #558 "POST findings: error suggests wrong values"
### Issue Type
- [x] Bug

### Description
When POSTing to findings with the keys `title, description, engagement, product, test, reporter, impact, mitigation` but not `severity`, the error suggests choosing an option from the wrong list

the response:
`{"findings": {"severity": ["Select valid choice: In Progress, On Hold, Completed"]}}`

As far as I can tell, the 'valid choices' should be 'Low, Me

[2018-05-02 13:27] aaronweaver commented on #558
I'd recommend trying out the new v2 API as this is one of the reasons we are moving to the new version. V2 should be in shortly or you can try it out in the dev branch.

[2018-05-02 13:28] t3h2mas commented on #558
Great, wasn't aware of v2.

[2018-05-02 13:28] #558 closed

[2018-05-03 13:32] #368 closed

[2018-05-04 08:29] niprog opened #560 "import_scan_results failing with 404 for certain VCG files"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ X] Bug

### Description
Importing a VCG xml scan result is generating a 404. Only happens with a specific file and I've managed to track down that if I change one line in a <CodeLine> element from "and the amount - To be Esm" to "and the amount. To be Esm" the removal of the dash allows the import to p

[2018-05-05 04:00] devGregA commented on #332
Partially fixed. Need to fix endpoints

[2018-05-06 19:48] aaronweaver commented on #560
@niprog Do you have a file you can share?

[2018-05-07 09:03] maennel commented on #524
In the meantime, there were quite some activities going on. Nonetheless, I think we're not at a point where we can call it done.

I'd suggest to replace ``setup.bash`` by a Makefile including commands to install os requirements, application dependencies and, ultimately, the application itself.
Dockerfile would then be able to do calls to ``make install-os-requirements`` and similar. This would tak

[2018-05-07 14:27] t3h2mas commented on #524
Having the provision commands ran as logical `CMD` groups in the Dockerfile would improve development time in the docker environment.

I'm not sure that the makefile would accomplish that specific goal, but I do see the need for grouping the different install options.

This is more important to me now, while there are certain app settings that can only be configured on `docker build`.

[2018-05-07 18:30] #534 closed

[2018-05-07 18:32] #376 closed

[2018-05-07 18:33] #407 closed

[2018-05-07 18:45] devGregA commented on #527
@maennel closing this issue as it is duplicated of #143 copying your comments into the main issue.

[2018-05-07 18:45] #527 closed

[2018-05-07 19:10] #369 closed

[2018-05-07 19:54] devGregA commented on #473
@tulsluper I haven't been able to reproduce this. I've tried creating users via admin console, and the dojo create user function. I've also tried with an instance being migrated vs not being migrated. I'm not sure what else to try. The error you received definitely seems to lineup.

[2018-05-07 20:56] devGregA commented on #357
I beleive this is fixed from one of Aaron Weaver's recent PR's please reopen if this is still an issue.

[2018-05-07 20:56] #357 closed

[2018-05-07 22:43] niprog commented on #560
@aaronweaver Hi. Its difficult as obviously it contains vulnerabilities of a production system. I'm worried that if I anonymize it then it masks or deflects from the actual issue. I'll try and sanitise it while still getting the same error and attach.

[2018-05-08 07:55] secfigo opened #567 "Use pypi instead of sourceclear in travis CI tests"
## Issue Template
Use pypi instead of sourceclear in travis CI tests

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
Sourceclear tests are failing in Travis CI because of no Token and its not free anymore to open source project whereas pypi is.

### Steps to Reproduce
Look at any travis-ci job - https://travis-ci.org/DefectDojo/django-DefectDojo/jobs/376249298

[2018-05-09 14:18] maennel commented on #567
Hi, a similar service seems to be provided by https://snyk.io/ .
Does pyup cover frontend JS libraries?

[2018-05-11 17:21] maennel opened #575 "MariaDB/MySQL error with unique index"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating System

Please include the version number (ex: Ubuntu 16.04)
- OS not relevant
- MariaDB 10.1.22 (w/ InnoDB)

### Install

- [ ] setup.bash
- [ ] docker
- [x] PaaS (shared DB)

### Step

[2018-05-11 19:52] #473 closed

[2018-05-11 21:08] #317 closed

[2018-05-14 13:35] aaronweaver commented on #560
@niprog Able to provide an example? Which element in the file is causing the issue?

[2018-05-14 13:41] aaronweaver commented on #575
Either solution sounds fine or we could remove the constraint and enforce it in the code.

[2018-05-14 16:03] #333 closed

[2018-05-14 17:39] adracea opened #580 "Non UTF-8 characters break the burp report parser"
### Issue Type
- [ x] Bug
- [ ] Enhancement

### Description
When importing burp suite reports that contain an issue with a non-standard http request(Non UTF-8 characters in the METHOD area in my case) the BurpParser fails with an error 500 on importing .(I'll post the full stack trace and a sample scan file first thing tomorrow)
### Operating System
Please include the version number (ex: Ubuntu 1

[2018-05-14 20:18] devGregA commented on #580
What version are you using? I believe the latest release solved all the issues related to Burp & UTF8

[2018-05-14 21:08] adracea commented on #580
Hmm...I git cloned the master branch of the repo this morning

[2018-05-15 05:44] devGregA commented on #580
Ah, could you provide a sample scan please?

[2018-05-15 06:10] cneill opened #582 "PythonAnywhere demo out of date"
## Issue Template

### Issue Type
- [X] Bug
- [X] Enhancement

### Description

It appears the PythonAnywhere demo is currently running v1.1.3. Should we automate deployment of the latest version upon release?

[2018-05-15 08:00] adracea commented on #580
![burpbrokenreport](https://user-images.githubusercontent.com/6214663/40043905-8b4dbe5c-582e-11e8-8ad5-f5c625a886d9.png)

[BuGXML.txt](https://github.com/DefectDojo/django-DefectDojo/files/2003927/BuGXML.txt)

Hmm...now that I think about it , it might be something to do with the generated XML itself although it does look well formatted notepad++ gives an xml validation error ?

[2018-05-15 19:39] aaronweaver commented on #553
Fixed in dev will push to master shortly.

[2018-05-15 19:39] #553 closed

[2018-05-15 20:40] aaronweaver commented on #552
Fixed in dev

[2018-05-15 20:40] #552 closed

[2018-05-17 08:56] Horst88 opened #586 "Global search results do not include endpoints"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
Using the global search, endpoints are not included in the results, see screenshots
## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)
I used the demo instance, see https://def

[2018-05-17 09:07] Horst88 opened #587 "Add endpoint view to products"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
I would like to see all endponts associated with a product. I know that this is somehow possible over the endpoint-view but this does not fit my needs. I also do not see my product tags in the endpoint-view, ... My entry point is always the product. And therefor

[2018-05-17 09:25] Horst88 opened #588 "Tagging for endpoints"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
I would expect for endpoint tags to show up in the endpoint view. This is not the case at the moment see screenshot. I do not understand the value of tagging for endpoints but, .... in version 1.1.3

In version 1.3.0 I can see the tag if I apply a filter searchi

[2018-05-18 15:52] #580 closed

[2018-05-21 03:47] secfigo commented on #567
I'm not worried about JS libraries because of two reasons

1.  Github already gives the alerts here - https://help.github.com/articles/about-security-alerts-for-vulnerable-dependencies/
2. npm 6 added security checks https://blog.npmjs.org/post/173260195980/announcing-npm6

But I was thinking we use their open source client mentioned here - https://pyup.io/docs/safety/installation-and-usage/#open-

[2018-05-21 12:07] aaronweaver commented on #567
It looks like a decent option. I'd like to test it locally first to see how well it works before integrating it.

[2018-05-21 14:33] #588 closed

[2018-05-21 17:09] aaronweaver commented on #587
Added a link from product to the endpoint view --> From the Product, Menu on the far right, select 'View endpoints'

Also in system settings enable: **Display Endpoint Full URI** This will show you the full url for endpoints rather than consolidating the view.

[2018-05-21 17:09] #587 closed

[2018-05-22 19:27] aaronweaver opened #596 "Fortify Importer"
### Issue Type
- [ ] Bug
- [X] Enhancement

### Description
Create an importer for Fortify FPR files.

[2018-05-22 22:08] aaronweaver opened #598 "Merge Findings"
### Issue Type
- [ ] Bug
- [X] Enhancement

### Description
I'd like the ability to merge findings. The reasoning for this is sometimes scan results are similar and can be consolidated due to how the import occurs.

The merge finding screen would have a "parent finding" which would be the finding number the other findings would be merged into. There would be an option to concatenate the finding de

[2018-05-24 13:35] aaronweaver opened #599 "Investigate Signals"
### Issue Type
- [ ] Bug
- [X] Enhancement

### Description

## If the issue is a bug, please also include the following:
Investigate using signals for notifications events and other tasks that rely on findings/engagements/tests.

https://docs.djangoproject.com/en/2.0/topics/signals/

[2018-05-24 18:38] eik18 commented on #516
https://github.com/DefectDojo/django-DefectDojo/pull/600

[2018-05-25 16:43] #560 closed

[2018-05-25 20:31] jimminycrickett opened #603 "Unable to upload Veracode Scan via API (importscan function)"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
When attempting to import a scan via the API, through either the Swagger tester or python upload script, the API is unable to find the source file to be uploaded
## If the issue is a bug, please also include the following:

### Operating System
Please include th

[2018-05-26 14:28] aaronweaver commented on #603
The swagger doc isn't quite right. I'd use the Python API wrapper instead.

`Code: dd.upload_scan(engagement_id, scannerName, file, "true", dojoDate, build)`

https://github.com/aaronweaver/defectdojo_api/blob/master/examples/dojo_ci_cd.py

Soon we'll be out with a V2 that has better documentation. The raw request will look something like this:

`POST /api/v1/importscan/ HTTP/1.1
Host: localhost:8

[2018-05-26 14:28] #603 closed

[2018-05-30 07:03] Horst88 opened #604 "Missing documentation "Product Tracking Files""
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
Missing documentation of product tracking files. What is a product tracking file, what is the use case for product tracking files?

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu

[2018-05-31 14:31] 8m4ck opened #605 "Error When Adding New Credentials"
Please use the following template when submitting issues:

## Issue Template

### Issue Type

- [x] Bug

### Description

DefectDojo reports an error when attempting to add a new credential.

## If the issue is a bug, please also include the following:

### Operating System

Ubuntu Version: 16.04.4 LTS

### Install

- [x] docker

### DefectDojo Version

v. 1.2.5

### Steps to Reproduce

Add a new

[2018-06-03 19:23] devGregA opened #608 "Rally Integration"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ X ] Enhancement

### Description

Support Rally in parity with JIRA
https://pypi.org/project/pyral/

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [ ] setup.bash
- [ ] docker

### DefectDojo Versio

[2018-06-04 13:58] devGregA opened #609 "Add Rules Framework"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [ X ] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [ ] setup.bash
- [ ] docker

### DefectDojo Version

### Steps to Reproduce

### Sample Scan File (if appli

[2018-06-05 05:19] masofily opened #610 "Potential Login Bug with product_owner credential"
Please use the following template when submitting issues:

## Issue Template
Potential Login Bug with product_owner credential
### Issue Type
- [ ] Bug
### Description
While trying to login with product_owner credential, I could found a potential bug on the login page. It seems the example site is not handling the error properly.

## If the issue is a bug, please also include the following:

### D

[2018-06-07 15:36] ninp0 opened #611 "Cannot Import Nmap UDP Scan XML Results"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [* ] Bug
- [ ] Enhancement

### Description
Nmap UDP XML Scan Results File is generated using the following nmap command:
[code]
Everything works fine when importing an Nmap TCP XML scan results file.  It Looks like the attrib method is being called on a None object class - please add a condition to chec

[2018-06-08 11:35] aaronweaver commented on #611
Fixed in dev branch.

https://github.com/DefectDojo/django-DefectDojo/pull/613/commits/8a02105f6dee108e9849508774e1fc6fdbb730d5#diff-cd33e28b4ef579c12384b49d99f9a649

[2018-06-08 11:35] #611 closed

[2018-06-08 11:51] aaronweaver commented on #598
Merge enhancement completed. Will be released in v1.4

[2018-06-08 11:51] #598 closed

[2018-06-08 16:20] ninp0 commented on #611
How often is dev merged into master?

[2018-06-08 16:39] aaronweaver commented on #611
Depends on the release. For this one it's probably going to be a week or more to ensure we've tested it. You can just pull this file down and swap it if you want. It's just one line that was added.

[2018-06-08 17:37] eik18 opened #614 "JIRA_PKey matching query does not exist."
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ x] Bug
- [ ] Enhancement

### Description
JIRA_PKey matching query does not exist. is occurring again  See
This is occurring -> https://github.com/DefectDojo/django-DefectDojo/issues/276

## If the issue is a bug, please also include the following:

### Operating System
Please include the version numbe

[2018-06-08 19:02] #370 closed

[2018-06-08 21:12] p0g00g0p commented on #27
I encountered the same error
I tried to install on debian 9 without success.

[2018-06-11 03:04] #516 closed

[2018-06-12 15:20] #495 closed

[2018-06-12 18:47] mattvaldes opened #618 "Celery add_issue_task UnboundLocalError"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
**Bug**

### Description
Celery add_issue_task UnboundLocalError
`celeryworker[1366]: [2018-06-07 00:32:23,318: ERROR/ForkPoolWorker-3] Task add_issue_task[6439ddf4-bd65-4e4a-ae2b-be0e24280547] raised unexpected: UnboundLocalError("local variable 'labels' referenced before assignment",)
celeryworker[1366]:

[2018-06-13 13:21] aaronweaver commented on #618
Will be fixed in the upcoming 1.4 release:

`labels = system_settings.jira_labels.split()
    if len(labels) > 0:
        for label in labels:
            issue.fields.labels.append(label)`

[2018-06-13 13:21] #618 closed

[2018-06-14 05:23] imohammedzen opened #620 "JIRA user needs to be there to get comments from JIRA"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
When you comment on JIRA ticket, webhook is sent to Dojo and as there is no default `JIRA` User it will fail with the following error.

[code]

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (

[2018-06-14 17:27] #620 closed, assigned to nobody

[2018-06-18 20:38] 37b opened #623 "Error when importing generic findings with UTF-8 chars (smart qutoes)"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [X ] Bug
- [ ] Enhancement

### Description
(Docker Image) Error when importing Generic Findings from CSV with UTF-8 bytes (smart quotes in this case)
## If the issue is a bug, please also include the following:

### Operating System
Ubuntu 16.04.4 LTS \n \l

### Install

- [ ] setup.bash
- [x ] docker

[2018-06-19 01:07] aaronweaver commented on #623
Will be fixed in the upcoming 1.4 release.

[2018-06-19 01:07] #623 closed

[2018-06-19 11:22] aaronweaver commented on #614
Fixed in the upcoming 1.4 release. @eik18 will you be able to share the trustwave parser?

[2018-06-19 11:22] #614 closed

[2018-06-19 11:37] aaronweaver commented on #610
This will be addressed when pythonanywhere is updated.

[2018-06-19 11:37] #610 closed

[2018-06-19 11:44] aaronweaver commented on #605
Please configure a randomly generated key called DB_KEY and add to settings.py in dojo/settings/.

Added additional checks for this in 1.4

[2018-06-19 11:44] #605 closed

[2018-06-19 13:07] ishara opened #625 "Suddenly Import Scan Results function not working"
### Issue Type
- [ ] Bug

### Description

## If the issue is a bug, please also include the following:

### Operating System
CenteOS 7

### Install

- [ ] setup.bash

### DefectDojo Version

current git master branch -date checkout  6-19-2018

### Steps to Reproduce

Suddenly Import Scan Results function not working, previously this is working fine.

### Sample Scan File (if applicable)

### Scre

[2018-06-19 13:14] ishara commented on #625
This is happening when enable  "False positive history".

[2018-06-19 13:21] eik18 commented on #614
Yes. Just debugging a bit. Was also waiting to rebase against new master.
On Tue, Jun 19, 2018 at 7:22 AM Aaron Weaver <notifications@github.com>
wrote:

[2018-06-19 15:16] aaronweaver commented on #625
@ishara fix pushed to 1.4 dev branch shortly. If you want it to work now with no modifications disable false positive history or you can apply this patch in models.py.

if system_settings.false_positive_history:
                from dojo.tasks import async_false_history
                from dojo.utils import sync_false_history
                try:
                    if self.reporter.usercontactin

[2018-06-19 15:16] #625 closed

[2018-06-19 16:44] aaronweaver opened #626 "Product Dependencies"
Create the ability for products to be dependent on one another and allow inherited vulnerabilities from the dependent apps to show in the overall risk.

For example take Acme Product which consists of three main apps:

1. Web Application
2. API
3. Mobile App

The dependencies would be between the API and the web app and the mobile app and the api. If a vuln exists in the API this would "trickle" d

[2018-06-19 17:08] ekelson-bcove commented on #541
Addressed specifically for my use case for the trustwave uploader : https://github.com/DefectDojo/django-DefectDojo/pull/627

[2018-06-19 17:16] eik18 commented on #614
Hey Aaron. Just pushed it. Sorry for the two accounts. One is my work one,
one is my personal one.
On Tue, Jun 19, 2018 at 9:21 AM Eric Kelson <ekelson@gmail.com> wrote:

[2018-06-20 04:48] masofily commented on #610
Thanks @aaronweaver for your confirmation

[2018-06-20 07:58] ishara opened #630 "PDF Generation issue - no error in logs but status is error"
PDF Generation issue - no error in logs but show status error

## Issue Template

### Issue Type
- [ ] Bug

### Description

### Operating System
CentOS 7

### Install

- [ ] setup.bash

### DefectDojo Version

### Steps to Reproduce

### Sample Scan File (if applicable)

### Screenshots (optional)
![image](https://user-images.githubusercontent.com/1032792/41644941-31f4053e-748d-11e8-93fe-716d1407

[2018-06-20 08:32] s4bu opened #631 "Error Parsing Burp XML report"
### Issue Type
- [ ] Bug
While importing burp scan results application shows error in request method mentioned for AJP protocol in burp report xml.

### Description
Issue occurs because of some gibberish value stored in request method specifically for AJP protocol in burp xml files. I temporarily fixed this issue by replacing all these value with 'GET'.
![defectdojobug](https://user-images.githubu

[2018-06-20 13:33] aaronweaver commented on #630
@ishara looks like it might be related to a burpresponse. Can you create a manual finding and then filter on that finding and try to generate a PDF report for only that finding?

[2018-06-20 13:34] aaronweaver commented on #631
@s4bu any chance you could share the snippet in text?

[2018-06-21 05:46] ishara commented on #630
No luck for manual finding result also.
I have notice system status error , this may be the issue. what is this issue and how to fix?

![image](https://user-images.githubusercontent.com/1032792/41700083-7b252f82-7544-11e8-9a46-b9427dc4bade.png)

[2018-06-21 11:21] aaronweaver commented on #630
That dev version didn't correctly return the status of celery. I'd make sure wkhtml is installed and then run celery from the command line to see what errors might be occurring.

`celery worker -A dojo -l info -c 1 -P solo`

[2018-06-21 12:05] ishara commented on #630
/opt/dojo/lib/python2.7/site-packages/celery/platforms.py:796: RuntimeWarning: You're running the worker with superuser privileges: this is
absolutely not recommended!

Please specify a different user using the --uid option.

User information: uid=0 euid=0 gid=0 egid=0

  uid=uid, euid=euid, gid=gid, egid=egid,

 -------------- celery@localhost.localdomain v4.2.0 (windowlicker)
---- **** -----
---

[2018-06-22 05:53] ishara commented on #630
Yes , still error

[2018-06-22 11:23] s4bu commented on #631
PFA.
[BurpReportDefectDojo.txt](https://github.com/DefectDojo/django-DefectDojo/files/2127410/BurpReportDefectDojo.txt)

[2018-06-22 22:22] jimminycrickett commented on #603
Just wanted to follow up: I've been using the python wrapper and it's working like a charm. Thanks so much for all your work on this!

[2018-06-25 20:47] aaronweaver commented on #630
Do you have any other error logs you can share? Without that I don't have anything additional to provide. If you do have them feel free to add and I'll re-open the ticket.

I would also try the HTML reports which you can then do a print as PDF in your browser.

[2018-06-25 20:47] #630 closed

[2018-06-25 23:52] aaronweaver commented on #631
@s4bu Tested with your file and it loads. Fix in dev.

https://github.com/DefectDojo/django-DefectDojo/blob/dev/dojo/tools/burp/parser.py#L61

[2018-06-25 23:52] #631 closed

[2018-06-27 03:49] #609 closed

[2018-06-27 19:08] jimminycrickett opened #638 "Veracode Scan results do not include line, function, and sourcefile"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
While the Veracode scan parser.py _does_ call out the sourcefile, function, and line number values, these aren't requested in  'django-DefectDojo/dojo/test/views.py' on lines 490-502 and are not associated with the completed finding. Loosing this information ham

[2018-06-27 19:50] jimminycrickett commented on #638
after looking at the code, I think breaking out the
"if 'Veracode' or 'Arachni'" test on line 490 and adding
'line=item.line', sourcefilepath=item.sourcefilepath' to the inputs would resolve this. That said, I'm no developer and there's probably a much better way of doing it 😄

[2018-06-28 12:37] aaronweaver commented on #638
@jimminycrickett Would you be able to provide me with a sample file or maybe scan the bodgeit app or something like that?

[2018-06-28 15:39] jimminycrickett commented on #638
Absolutely, I've sanitized one of our scans and sent it to you via Slack

[2018-06-28 23:37] aaronweaver commented on #638
@jimminycrickett I've pushed it to dev, you can pull in just this file.

https://github.com/aaronweaver/django-DefectDojo/blob/3194e2e6fc6cb16c7ef6f99a41e9af80be7bb830/dojo/tools/veracode/parser.py#L97

Let me know how it goes.

[2018-07-03 16:29] jimminycrickett commented on #638
That resolved it. Location and Line number are now showing up in a field immediately above the 'Affected Endpoints' box. Just FYI - the 'Location' title box isn't the same color as the others. Thanks for fixing this Aaron!

[2018-07-05 10:47] adanalvarez opened #641 "One vulnerability with multiple hosts"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

Hello,

When uploading Qualys results, if a vulnerability exists on several hosts, the tool creates a finding for each host. We would like to have a finding and all affected hosts inside.

Do you know how we can do it?

If this is not possible now, but you can give us some tips on how to modify the code to implement this function, we wil

[2018-07-06 10:03] aaronweaver commented on #641
@adanalvarez Take a look at the nessus parser:

https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/tools/nessus/parser.py#L109

What you need to do is decide on what vulnerability you want to merge, for example nessus parser chooses: dat['severity'] + dat['title']. Then when you detect the duplicate you append an endpoint to the existing finding: find.unsaved_endpoints.append(endpoin

[2018-07-06 10:07] #638 closed

[2018-07-10 09:01] bewell opened #642 "Correct the documentation about the default username"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x] Bug

### Description
The documentation states, that the default username is `admin` / `administrator`. In reality it is `admin` / `admin`

### DefectDojo Version
Latest

[2018-07-10 20:01] ninp0 opened #643 "API Call /api/v1/reimportscan/ Doesn't Add Tags Despite being Supported as an Attribute in the Schema"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [*] Bug
- [ ] Enhancement

### Description
Cannot add new or existing tags to scans when leveraging /api/v1/reimportscan/ .  This is important to have in events we need to tag w/ specific build numbers, environments, versions, etc.

## If the issue is a bug, please also include the following:

### Operat

[2018-07-13 15:18] ninp0 opened #645 "Implement Acunetix Integration / Test Type into DefectDojo"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [*] Enhancement

### Description
Is there documentation around implementing custom integrations into DefectDojo?  More specifically, what would it take to import Acunetix scan results into DefectDojo?

[2018-07-13 19:34] aaronweaver commented on #645
@ninp0 Would you mind attaching a sample xml file? I know there has been interest from others for an Acunetix importer. If it's an xml based export the best one to copy and modify is from the burp importer.

[2018-07-13 19:35] aaronweaver commented on #641
@adanalvarez Let me know if you have any questions. Feel free to reopen if you do.

[2018-07-13 19:35] #641 closed

[2018-07-16 10:02] Rajarshi333 opened #647 "IBM Appscan, Acunetix, HP Fortify integration with DEFECTdodjo"
Please use the following template when submitting issues:

## Issue Template

### Issue Type

- [ ] Enhancement

### Description

At present we don't see report upload templates for IBM Appscan, Acunetix and HP Fortify and only generic template is supported. We want to build report upload templates for these 3 tools.
We are also looking for custom automation around the same set of tools.

## If th

[2018-07-16 12:46] Rajarshi333 commented on #647
@aaronweaver: Thanks for your quick response. Yes - we are working on this as a project from Cognizant India CyberSecurity Team and expecting to complete in about next 60 days. We are looking for some help as well which we can share.

[2018-07-16 13:06] aaronweaver commented on #647
Fantastic @Rajarshi333 Let me know if you have any questions along the way.

For Fortify, because of the structure of the FPR files the parsing will require an extra step. Take a look at this project: https://github.com/jaxley/python-fortify

[2018-07-16 15:50] alekbc commented on #358
Hi @devGregA , I'm having this issue at version 1.3.0. I tried with both types of scanning (ip scan and web) and I'm getting 0 findings with both.
Thanks,
Alejandro

[2018-07-18 02:26] jpbowie opened #650 "Edit Engagement Fails to Save"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
When an engagement is created with the API and a later attempt is made to edit details about the engagement using the web interface, the edit engagement screen simply refreshes and the changes are not saved.  Strangely, I don't think the same issue occurs if the

[2018-07-18 05:44] Rajarshi333 commented on #647
@AAronweaver: Thanks a lot for that link about Fortify FPR file processing.

[2018-07-18 08:46] Rajarshi333 commented on #647
@aaronweaver: Wanted to know how about the approach of using the REST API directly with Fortify SSC? Please share your inputs. Thanks.

[2018-07-18 15:30] alekbc opened #651 "Likelihood field (finding attribute)"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [X] Enhancement

### Description
Please add "Likelihood" field (same as "Impact") at finding attributes.
It's useful to have proper evidence that justifies severity level.

URL: https://vlred1005.kbci.ireland/finding/XX

Thank you

## If the issue is a bug, please also include the following:

#

[2018-07-19 18:55] aaronweaver commented on #651
A text field or a numeric field?

[2018-07-19 21:06] devGregA commented on #651
Don't we already have a confidence field?

[2018-07-19 21:19] aaronweaver commented on #651
There is one that is set by the scanner. It's not editable at the moment.

[2018-07-20 08:51] alekbc commented on #651
I'm looking for a text field, as current "impact" one. Thank you

[2018-07-20 10:00] alekbc commented on #651
Main purpose of this field is to have a separated text box where a security tester can explain details about the likelihood of a certain finding (e.g. network exposure, difficulty, threat size, what's required to discover and exploit it, etc.).

[2018-07-23 11:10] aaronweaver commented on #650
This should be fixed in 1.5

[2018-07-23 11:10] #650 closed

[2018-07-23 14:35] ninp0 commented on #643
@aaronweaver were you able to determine the source of this issue?

[2018-07-23 14:53] aaronweaver commented on #643
I've been working on the 1.5 release. In the next few weeks I'll be making sure tagging works on all endpoints. I suspect that the function just doesn't break out the tag field.

I'd check out the 1.5 as I added a type of engagement called CI/CD Engagement. If you create an engagement that is CI/CD it has all the fields you are looking for.

[2018-07-23 14:56] aaronweaver commented on #651
@alekbc Do you use CVSS? I've been thinking about adding that.

[2018-07-23 15:01] aaronweaver commented on #647
@Rajarshi333 Create the parser library first in the tools section and make sure you can import a Fortify file, then look at tasks.py to utilize Celery to import Fortify on a periodic basis. Additionally the configuration can be held in: http://localhost:8000/tool_type and then the key can be assigned to each product --> http://localhost:8000/product/1/tool_product/add

[2018-07-23 15:03] alekbc commented on #651
You mean this? https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator
That's a very good idea.
The likelihood text box will also help to explain the values of that.
The CVSS will be a great addition as well.

[2018-07-23 16:32] devGregA commented on #642
@bewell this was from someone changing the creds in the demo. A script was supposed to run every 24 hours to reset everything. Demo is currently down while we explore other options.

[2018-07-23 16:32] #642 closed

[2018-07-24 15:35] aaronweaver commented on #651
@alekbc added field titled severity_justification

[2018-07-24 15:35] #651 closed

[2018-07-25 16:17] w3synack opened #663 "AttributeError at /endpoint/vulnerable"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug

### Description

Request Method: | GET
-- | --
http://172.16.230.24:8000/endpoint/vulnerable?product=1
1.11.11
AttributeError
'EndpointFilter' object has no attribute 'order_by'
/opt/django-DefectDojo/dojo/endpoint/views.py in vulnerable_endpoints, line 46
/usr/bin/python
2.7.15
['/opt/django-De

[2018-07-25 18:38] devGregA commented on #663
Confirmed. Should have a fix tomorrow.

[2018-07-25 20:51] devGregA commented on #663
@w3synack fixed in dev. Will move over to prod as soon as I speak with Aaron. I don't want to break the docker releases.

[2018-07-26 08:47] MaroonBeret opened #664 "NoReverseMatch at test..."
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
I've imported a Retire report with several findings via the API. After marking and saving one of them as a false positive, the test of the finding became unreachable. It shows me the stacktrace in the screenshots section.
Any help would be greatly appreciated!
If there is any more info necessary I'll be happy to supply.

### Operating Sys

[2018-07-26 13:59] w3synack opened #665 "Issue with Critical Product Metric stats"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug

### Description
Wen we add critical tag and key feature, the product is visible in Critical Product Metric menu, but alway shoing 5...in fact no one as 5, someone as 3 or other has more...

## If the issue is a bug, please also include the following:

### Operating System
Please include the vers

[2018-07-26 14:00] w3synack commented on #663
Hi Greg,

Awesome project! And Service!!!

[2018-07-26 14:05] aaronweaver commented on #664
Can you upgrade? I'd recommend that.

[2018-07-26 14:06] w3synack opened #666 "Issue for regulation - didn't show in menu after upgrade"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug

### Description
After upding to 1.51, Regulation , like GDRP or PCI DSS as not showing for existing product, or new one.

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)
Ubuntu 18.04
### Install

- [ ] setup.

[2018-07-26 14:11] devGregA commented on #665
Hi @w3synack the number is a calculation based on a health formula. This probably should be reconciled with the new grading system, but the code specific to that view is here: https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/models.py#L297 if you want to alter the formula.

[2018-07-26 14:11] #665 closed

[2018-07-26 14:12] devGregA commented on #666
@w3synack which version did you upgrade from?

[2018-07-26 14:33] w3synack commented on #666
From 1.31

[2018-07-26 14:35] w3synack commented on #665
Ok thanks for information, I'm new user with this project... ;)

[2018-07-26 14:38] aaronweaver commented on #666
Hi @w3synack, I'll update the docs but here is how you can load that data:

./manage.py loaddata dojo/fixtures/regulation.json

Also you can view the regulation data in django admin - http://localhost:8000/admin

[2018-07-26 14:38] #666 closed

[2018-07-26 14:42] w3synack commented on #666
Ok  good!

Thanks for your help!

[2018-07-27 04:20] Rajarshi333 commented on #647
Thanks Aaron!!

[2018-07-28 04:07] jpbowie opened #669 "KeyError at /api/v1/doc/schema/engagements"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [X ] Bug
- [ ] Enhancement

### Description
Using the API v1 documentation for engagements results in a KeyError

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)
OSX 10.12.6 and Windows Server 2016 Data Center

### In

[2018-07-28 04:20] jpbowie opened #670 "Error Retrieving Engagements with API v1"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ X] Bug
- [ ] Enhancement

### Description
When attempting to retrieve engagements using v1 of the API an error is returned regarding a null value for the orchestration_engine.

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubun

[2018-07-31 02:17] jpbowie commented on #459
A few weeks ago I wanted to create a report based on some product metadata and tag queries so I implemented a few API calls that I could use instead of directly accessing the database.
The calls aren't very user friendly and may expose more internal details than desired, but if anyone is interested I can share the code or submit a pull request.  The product metadata API specifically allows GET req

[2018-07-31 09:32] alekbc commented on #598
Hi. I couldn't find at last release. Was this included in 1.5 or 1.5.1?
Thank you

[2018-07-31 12:25] aaronweaver commented on #598
@alekbc Merge is in both releases. If you go to the findings tab, click two or more findings with the checkbox, then at the top left you will see a merge icon. Screenshots below.

![image](https://user-images.githubusercontent.com/220838/43459332-3265c0a6-949b-11e8-8ad3-5d0e21a65118.png)

![image](https://user-images.githubusercontent.com/220838/43459346-3d3266ec-949b-11e8-9924-3721f1d6e9b6.png)

[2018-08-01 15:03] #664 closed

[2018-08-02 13:04] 1modm opened #672 "'EndpointFilter' object has no attribute 'order_by'"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

Query error when go to  Home  --> Product List --> [PRODUCT] --> View Vulnerable Endpoints
For example:  http://[DefectDojo]/endpoint/vulnerable?product=1

## If the issue is a bug, please also include the following:

### Operating System
Ubuntu 16.04

### Inst

[2018-08-02 13:44] dploeger opened #673 "API for generating a report"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [X] Enhancement

### Description

Perhaps this is a DOCS issue, but I didn't find an API endpoint for triggering the creation of a report or fetching a report.

I would like to notify project managers with the current project report after each new engagement. Would this be possible?

[2018-08-02 13:46] 1modm commented on #672
Sorry is the same as AttributeError at /endpoint/vulnerable #663

[2018-08-02 13:46] #672 closed

[2018-08-02 14:18] 1modm commented on #647
Hi,

It could be possible to know the steps to add a new scanner? I'm testing some and want to check if works completely, I known that is needed:

1- Create the parser and place in django-DefectDojo/dojo/tools
2- Add a new entry in dojo_test_type table ?
3- Add an entry in form.py ?
4- ?

Thanks

[2018-08-02 15:57] aaronweaver commented on #673
Hi @dploeger, at the moment we don't have that in the API. Are you looking to generate a PDF report, an HTML report or both?

[2018-08-02 17:00] dploeger commented on #673
@aaronweaver I'm mostly thinking about a PDF report. I guess, that would be the user friendliest report to mail.

[2018-08-02 19:55] ninp0 commented on #643
Fwiw, we ended going w/ CICD engagements and relying upon finding de-duplication under the system settings.  That's not to say the reimport API call is fixed (didn't test based on new aforementioned approach).  All that said, thanks @aaronweaver for your guidance!

[2018-08-03 13:14] nicoleoakley opened #675 "JIRA_Issue matching query does not exist."
### Issue Type
- [X] Bug
- [ ] Enhancement

### Description

Internal Server Error: /webhook
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/django/core/handlers/exception.py", line 41, in inner
    response = get_response(request)
  File "/usr/local/lib/python2.7/dist-packages/django/core/handlers/base.py", line 249, in _legacy_get_response
    response = self._g

[2018-08-03 13:29] dploeger opened #676 "Docker: Backup solutions"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [X] Enhancement

### Description

When users run DefectDojo using Docker, they need some way of backing up their database. Currently, the DefectDojo image starts a database of its own, but also prepulates it in the build phase. That way, bind-mounting /var/lib/mysql to the host, which is the us

[2018-08-03 15:11] aaronweaver commented on #676
The original intent was only a dev/demo version of docker. Some in the community have done what you have suggested, here: https://github.com/kulinacs/django-DefectDojo/tree/docker and https://github.com/abelmokadem/docker-defect-dojo. Always happy to accept a pull request.

[2018-08-03 15:11] #676 closed

[2018-08-03 15:51] alekbc commented on #598
Hi, I can't see the function in version 1.5.1. I've tried with IE and Chrome.
Do I need to enable any setting?
Screenshot below. Thank you!

![merge](https://user-images.githubusercontent.com/34648262/43652044-f5902c5e-973b-11e8-9c67-38dccb2c540c.jpg)

[2018-08-03 16:10] aaronweaver commented on #598
Check and see if there is a javascript error.

[2018-08-04 14:14] aaronweaver commented on #675
@nicoleoakley Just pushed a fix that should address the issue in .1.5.2.

[2018-08-04 14:14] #675 closed

[2018-08-04 14:15] aaronweaver commented on #670
@jpbowie Thanks for the great report write ups. Just pushed a fix that should address the issue in .1.5.2.

[2018-08-04 14:15] #670 closed

[2018-08-04 14:17] aaronweaver commented on #669
Fixed in 1.5.2

[2018-08-04 14:17] #669 closed

[2018-08-04 14:17] aaronweaver commented on #663
Fixed in 1.5.2

[2018-08-06 11:04] Rajarshi333 commented on #647
Hi Aaron,

We are able to get the CSV results directly from Fortify. In that case can we omit FPR processing step and directly parse the CSV? Please share your inputs.

Thanks.

[2018-08-06 11:51] dploeger commented on #676
@aaronweaver Great. I will check kulinacs fork for that. @kulinacs, if you need help with that, give me a hint.

[2018-08-06 15:59] nicoleoakley commented on #675
![image](https://user-images.githubusercontent.com/42067600/43727511-2e940bd4-9970-11e8-87cf-7e435cb458fe.png)
The issue is still showing up in celery

[2018-08-06 16:03] aaronweaver commented on #675
Did you restart Celery?

[2018-08-06 16:28] Rajarshi333 commented on #647
@Aaron:Thanks a lot for the help and great guidance through the article you have written!!

[2018-08-06 16:33] nicoleoakley commented on #675
yes

[2018-08-06 16:38] nicoleoakley commented on #675
In the UI, the following error alerts have started propagating:

JiraError HTTP 400 url: https://jira-sandbox.eng.fireeye.com:8443/rest/api/2/issue
text: project is required

response headers = {'X-AUSERNAME': 'nicole.krantz', 'X-AREQUESTID': '523x372990x1', 'X-Content-Type-Options': 'nosniff', 'Content-Encoding': 'gzip', 'Transfer-Encoding': 'chunked', 'X-Seraph-LoginReason': 'OK', 'Vary': 'User-

[2018-08-06 18:07] devGregA commented on #675
@nicoleoakley it looks like you may be missing the project key defined at the product level.

[2018-08-06 20:13] nicoleoakley commented on #675
I get the following when I call for my jira product configuration
`GET jira_product_configurations/
{}
200
{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null, "total_count": 2}, "objects": [{"component": "Other", "conf": "/api/v1/jira_configurations/1/", "enable_engagement_epic_mapping": true, "id": 1, "product": "/api/v1/products/1/", "project_key": "SEC", "push_all_issues": true,

[2018-08-07 12:52] Nilix007 opened #682 "APIv2: Inconsistent identifiers for objects"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

Most of the objects are identified by their URL in the APIv2, f.e. the `Product` object with the `id=1` is identified by`http://myserver/api/v2/products/1/`.  However, there are also some objects which are identified by their ID or a name field, like `Report_Type` and `Notes`.

This inconsistency makes the APIv2 harder to use and should

[2018-08-07 13:13] Nilix007 opened #684 "Credentials encryption weaker than it should be"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

The credentials encryption uses a 32byte hexadecimal key [0] for AES256 [1].

A hexadecimal string has only 16 values per byte so that the total entropy of the key is 128bit.  Therefore, the cryptographic strength of the credentials encryption is not 256bit but only 128bit which is still enough but much less than one would assume.

[0] h

[2018-08-07 13:47] Nilix007 opened #686 "Add database migrations"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

DefectDojo does not include database migrations for the main app `dojo` and the documentation says that the end user has to create the migrations by themselves. This is against the common practice for Django (see [here](https://docs.djangoproject.com/en/1.11/topics/migrations/)) and has already been discussed before in #495 and #511.

Th

[2018-08-07 13:53] devGregA commented on #675
@nicoleoakley  you'll want to check the Dojo product in question. There should be some new fields added to the form when edited.

[2018-08-07 14:23] 1modm opened #688 "Issue adding a product via APIv2 with authorized_users field"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

Hi,

I'm testing the APIv2, trying to execute some operations via APIv2, I was able to upload an scan, get results, but trying to create a product via API I haven't found the way to do this operation, I'm filling all mandatory fields in the JSON, but I'm receiv

[2018-08-07 20:31] aaronweaver commented on #684
I'd actually like to swap out the library behind that so will take care of that when that is done.

[2018-08-07 20:41] aaronweaver commented on #686
As noted we've debated this in prior issues, I don't find it problematic but do understand the use case for containers.

That said, If we could do this in a way that makes it optional that's something we might consider. Perhaps we could tag it in a branch or another repo and auto-generate at release time from travis.

[2018-08-08 04:49] nicoleoakley commented on #675
I filed out the fields in the UI, but I'm still getting the following error when I try to push a finding to JIRA:
`[2018-08-07 23:47:10,475: ERROR/ForkPoolWorker-2] Task update_issue_task[340c2ad4-e30c-480c-be72-3d15c1ad9bd1] raised unexpected: DoesNotExist('JIRA_Issue matching query does not exist.',)
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/celery/app/tra

[2018-08-08 09:09] Nilix007 opened #689 "Brup parser vulnerable to XXE attacks"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

The Burp parser does not use `defusedxml` like most of the parsers but `lxml` as you can see [here](https://github.com/DefectDojo/django-DefectDojo/blob/dev/dojo/tools/burp/parser.py#L11).  This make it vulnerable to XXE attacks and can be used by an attacker to access local files.

[2018-08-08 09:47] 1modm commented on #688
Thats it, the user was staff... thanks!

[2018-08-08 09:47] #688 closed

[2018-08-08 13:01] nicoleoakley opened #691 "Forbidden (CSRF cookie not set.): /login"
### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
When anything is created or updated in JIRA and the webhook fires, I get the following POST error on my dojo server

"POST /webhook?user_id=nicole.krantz&user_key=nicole.krantz HTTP/1.1" 302 0
Forbidden (CSRF cookie not set.): /login
Forbidden (CSRF cookie not set.): /login
[08/Aug/2018 07:54:19] "POST /login?next=/webhook%3Fuser_id%3Dnic

[2018-08-08 13:25] aaronweaver commented on #689
Updated to use defusedxml.

[2018-08-08 13:25] #689 closed

[2018-08-08 14:37] nicoleoakley commented on #691
Do you think it is related to the webhook function in /dojo/jira_link/views.py not passing a request to the template's render method?

[2018-08-08 14:50] Nilix007 commented on #682
Alright, I opened a PR at #694 with proposed changes 👍

[2018-08-08 15:16] Nilix007 opened #695 "JIRA webhook view has no authentication"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

The JIRA webhook view, i.e. the view to which the JIRA server will post updates, does not have any authentication so that anybody can call this webhook and manipulate data in the DefectDojo database.

See:  https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/jira_link/views.py#L26

[2018-08-08 16:10] devGregA commented on #471
@maskimfr are you still having this issue with the new 1.5.2?

[2018-08-08 17:29] aaronweaver commented on #695
Thanks for bringing that to our attention. Originally, when that was created the intent was to whitelist that endpoint with an Nginx proxy. While not ideal, at the time that's all that Jira supported. Two checks have been added:

1.  If Jira is not enabled the call to the webhook will return denied
2. A system setting option has been introduce, `enable_jira_web_hook` which is disabled by default a

[2018-08-08 17:29] #695 closed

[2018-08-08 21:44] planitlady commented on #224
Hi I would like to reopen this issue. I was able to do the steps indicated in - http://defectdojo.readthedocs.io/en/latest/features.html#reports.

However, PDF still keeps on running non-stop without generating anything.

These are the responses from dojo worker:
[code]
Celery Beat
[code]

Any suggestions?

Thanks!

[2018-08-09 10:59] alekbc commented on #598
Hi. I can only see the following error at jquery.js:3430.  However, it comes out when the page is loaded.
I've tried with Chrome and Firefox.

 [Violation] Added non-passive event listener to a scroll-blocking <some> event. Consider marking event handler as 'passive' to make the page more responsive. See <URL>
jquery.js:3430 [Violation] 'DOMContentLoaded' handler took 168ms

Thanks

[2018-08-09 11:07] aaronweaver commented on #598
@alekbc Can you go to the product and then click on the 'Findings tab' and try it there? I just remembered merge isn't an option at the moment in the all findings views.

[2018-08-09 11:14] alekbc commented on #598
Hi @aaronweaver . It works from there. Thank you

[2018-08-13 01:22] sdmvinod opened #701 "Bulk importing findings in CSV format"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
I am finding issues with bulk upload of CSV files on defectdojo through web interface. It is throwing RelatedObjectDoesNotExist error. Also exception value is User has no usercontactinfo.
## If the issue is a bug, please also include the following:

### Operati

[2018-08-13 13:35] Horst88 commented on #604
Any updates?

[2018-08-13 13:40] Horst88 opened #703 "Swagger not showing complete documentation for API v2 docs"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
Hi,
I am using v.1.5.2 in Docker and accessing the API V2 Docs I am missing the documentation for the whole API. I only see one entry for api-token-auth and not all methods like documented on swagger-hub, see screenshot.

## If the issue is a bug, please also i

[2018-08-13 18:23] #701 closed, assigned to nobody

[2018-08-13 18:32] devGregA commented on #393
@TommyJ1994 are you able to retest easily? Most filters have been updated.

[2018-08-14 00:15] aaronweaver commented on #703
I believe you have to authorize it before you can view the rest of it.

[2018-08-14 05:53] Horst88 commented on #703
Can you elaborate? So I login to to Defect-Dojo and then have to authorize to see the swagger documentation? How?
So trying the authorize button with the API key does not result in showing the whole API docu, see screenshot. The user has all necessary rights, ...
![rundeck-apiv2-swagger](https://user-images.githubusercontent.com/32541498/44073993-82090dde-9f9f-11e8-8dbc-d1d5d4044263.png)

[2018-08-14 11:59] aaronweaver commented on #703
Not sure, when I click on authorize this is what I see. Also, I'm working on a process to push the swagger file here as well: https://app.swaggerhub.com/apis/DefectDojo/defect-dojo_api_v_2/1.0.0

![image](https://user-images.githubusercontent.com/220838/44090374-f5164966-9f97-11e8-956a-ac86aebce60e.png)

[2018-08-14 18:05] devGregA commented on #373
@pagliacci I'm not sure what you're referring to. Was there a change to Python2.7?

[2018-08-14 19:47] aaronweaver commented on #703
Can't reproduce this issue.

[2018-08-14 19:47] #703 closed

[2018-08-14 19:48] aaronweaver commented on #682
I believe this is addressed now. Please re-open if it's still an issue.

[2018-08-14 19:48] #682 closed

[2018-08-14 19:59] pagliacci commented on #373
Sorry for that @devGregA . I didn't know where else i can ask this question.

The problem is that Cyrillic chars are not supported in DefectDojo. And it crashes when Cyrillic chars are entered in any field.

This may occur due to the problems with Python 2.7 and cyrillic chars. And this problem will be solved when application started to work with Python 3.

[2018-08-14 20:01] #332 closed

[2018-08-14 20:06] devGregA commented on #373
Hi @pagliacci, no need to apologize. Please open a new issue so we can track it properly. I'm working on a slight DB change that may fix the issue with character sets. To be completely honest, I'm not sure when we will begin the migration from 2.7 to 3. When you open the issue, please include any extra information you can to help us reproduce the error. The more info we have, the more able we are

[2018-08-14 20:10] devGregA commented on #582
Closing this for now. Will open a new issue documenting the want to move to heroku

[2018-08-14 20:10] #582 closed

[2018-08-14 20:11] devGregA opened #705 "Setup New Demo on Heroku"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [ X ] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [ ] setup.bash
- [ ] docker

### DefectDojo Version

### Steps to Reproduce

### Sample Scan File (if appli

[2018-08-14 20:14] devGregA commented on #457
Tags have been added to both v1 and v2 of the API

[2018-08-14 20:14] #457 closed

[2018-08-14 21:06] devGregA commented on #524
@t3h2mas @maennel, I'm going to archive this issue for now. There isn't anything inherently broken, and we do not have the bandwith to take this on anytime in the near future. We review archived issues once a year to determine if they should be reopened. We as always are happy to review PRs 😉

[2018-08-14 21:06] #524 closed

[2018-08-14 21:08] devGregA commented on #505
@maennel, archiving this one for now. In terms of integration for this year we are focused on improving JIRA integration and adding Rally support.

[2018-08-14 21:08] #505 closed

[2018-08-14 21:09] #476 closed

[2018-08-14 21:10] devGregA commented on #379
I'm going to bug @mtesauro about this when he gets back from vacation 😉

[2018-08-15 17:10] pagliacci opened #706 "Defect Dojo doesn't support Cyrillic chars"
### Issue Type
- [ ] Bug
- [х] Enhancement

### Description

Seems like Cyrillic chars are not supported in DefectDojo. And the application returns "OperationalError" when Cyrillic chars are entered in any field.

This may occur due to the problems with Python 2.7 and cyrillic chars.

### Operating System
Ubuntu 16.04

### Install

- [x] setup.bash
- [ ] docker

### Steps to Reproduce

1. Install

[2018-08-16 09:17] Nilix007 commented on #706
This is probably due to MySQL's default character set being `latin1` which only supports some West/Central European languages (not even France for example). You might want to use the character set `utf8mb4` instead which has full UTF-8 support.

[2018-08-16 09:26] Nilix007 commented on #686
With proper DB migrations, we can also easily get rid of deprecated fields in the `Product` model [0] by providing a custom data migration. [1]

[0] https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/models.py#L424-L435
[1] https://docs.djangoproject.com/en/1.11/topics/migrations/#data-migrations

[2018-08-16 12:17] Horst88 opened #708 "sslabs-cli import not working"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ x] Bug
- [ ] Enhancement

### Description
Import of ssllabs-cli json file issues error and does not work

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)
Ubuntu 18.04 LTS
### Install

- [x ] setup.bash
- [ ] docker

[2018-08-16 12:25] Horst88 commented on #703
Here a screencast, ....
[defectdojo-api.zip](https://github.com/DefectDojo/django-DefectDojo/files/2293668/defectdojo-api.zip)

[2018-08-16 12:42] aaronweaver commented on #706
@pagliacci Let us know if that works for you and we'll update the install script and docs.

[2018-08-16 13:25] aaronweaver commented on #686
@Nilix007 Would like your thoughts on this approach:

- Add in settings.py MIGRATION_MODULES = `{'defectdojo': 'defectdojo.db_migrations'}` The reason for not using the default migrations folder is to support legacy installations that have possibly added their own migrations and wish to continue managing them. For new installs this would be the default and existing installations if they want to ca

[2018-08-16 13:32] pagliacci commented on #706
It works.

Firstly I've changed the charset of Database with this command:
`ALTER DATABASE dojo CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;`

Then I've generated queries to change charset of every table:

[code]

That query generates list of queries. After the execution of all this queries DefectDojo works fine with Cyrillic (and not only) chars.

[2018-08-16 13:56] devGregA commented on #706
@pagliacci Will add this to the setup script

[2018-08-16 13:56] aaronweaver commented on #706
@pagliacci Thanks for providing that back with those details.

[2018-08-17 01:30] pagliacci commented on #706
I found new error while adding new Finding.
Application returns "UnicodeEncodeError", but the Finding was saved successfully.
The problem is with the Cyrillic string again:

**The string that could not be encoded/decoded was: Раскрытие инфо**

The screenshot of the error can be seen below.
![image](https://user-images.githubusercontent.com/7060487/44243102-efea0f00-a1d5-11e8-82e2-31b5d375ec02.png)

[2018-08-17 11:34] Nilix007 commented on #686
@aaronweaver Looks really good to me.  We could provide a squashed migration for every release, but I don't think this is necessary performance-wise.

[2018-08-17 16:36] deepaksadashiv92 commented on #645
@ninp0 and @aaronweaver  Hi , I was just wondering if the Acunetix importer is out yet?
Thanks

[2018-08-17 16:39] deepaksadashiv92 commented on #224
@planitlady : We are facing the same issue, were you able to fix this issue and any suggestions if you did?
Thanks!

[2018-08-17 16:39] ninp0 commented on #645
@deepaksadashiv92 @aaronweaver  I'm still waiting on producing a sample xml file pending a bugfix in our env.  It may be a while out though, so if anyone else is able to provide that would be great.

[2018-08-18 14:13] aaronweaver commented on #705
Complete: https://defectdojo.herokuapp.com/

[2018-08-18 14:13] #705 closed

[2018-08-20 12:10] Nilix007 commented on #686
@aaronweaver Another idea that just came to my mind:
- We should include a CI test that checks every PR for uncommitted or conflicting migrations

[2018-08-21 08:44] Nilix007 opened #715 "Deduplication does not work well with edited findings"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

Currently, findings are deduplicated if they have the same hash code which depends on the title, among other values. [0] This hash code is updated each time the finding is saved to the database. [1]

If a finding's title is edited, the next re-upload of this findings will not be deduplicated anymore. (And the following re-uploads will ha

[2018-08-21 13:55] aaronweaver commented on #715
Hi @Nilix007 - Yes, I agree it should be that way, I think the rules PR changed the save override as it was working in the way you have outlined it.

[2018-08-21 19:49] #531 closed

[2018-08-21 19:50] #366 closed

[2018-08-21 19:50] #365 closed

[2018-08-21 22:47] micksmix commented on #705
@aaronweaver  - Could you share your Heroku `Procfile` or the steps you used to deploy this on Heroku, so other users can spin up their own Heroku instances of DefectDojo?

[2018-08-22 00:35] aaronweaver commented on #705
@micksmix I'm using the docker container to run on Heroku. I'm close to completing the PR and can update once it's pushed out.

[2018-08-22 08:09] Clarke-AU commented on #358
@alekbc did you try the default Qualys detailed report?  Choosing to download the scan results from a Qualy scan in XML, generates a different XML format.  The DD import parser requires the XML element <ASSET_DATA_REPORT> which is generated when choosing a report output in XML.

[2018-08-22 15:56] #372 closed

[2018-08-22 15:58] devGregA commented on #686
@maennel had previously submitted a PR with a CI check

[2018-08-22 16:00] aaronweaver commented on #686
Thanks for the reminder @devGregA I'll have the PR read shortly and will review what @maennel had previously submitted.

[2018-08-22 16:05] devGregA commented on #706
@pagliacci Are you still having issues after this merge?

[2018-08-22 18:30] JohnWickAppSec opened #718 "Adding Location and Line Number using CSV Imports"
### Issue Type
- [X] Enhancement

### Description
When uploading findings using CSV files I cannot get DefectDojo to import Location or Line Number. I tried different column headers in an attempt to get it to automatically populate. Some of the column headers I tried were: URL, Location, Files, File, and Line Number. I can edit the finding after I import findings to manually add the Location and L

[2018-08-22 19:33] aaronweaver commented on #718
@JohnWickAppSec that won't be a problem to add. Just curious, what scanner findings are you importing?

[2018-08-22 20:29] JohnWickAppSec commented on #718
Thank you for responded so quickly! It would be great if you could add that functionality. It would save us a lot of time from manually adding the location and Line Number to each finding. Can you give me any estimate on when it would be added? Since the scanning tool we use is not supported by DefectDojo I was just trying to upload the scan findings in a CSV file using the column headers that are

[2018-08-22 21:14] pagliacci commented on #706
@devGregA Yes, now it works fine. Thanks @Nilix007 .

[2018-08-23 12:58] Horst88 commented on #703
@aaronweaver  So this does also not work on the demo in heroku, see https://defectdojo.herokuapp.com

[2018-08-23 13:14] aaronweaver commented on #703
Please follow these steps:

1.  Navigate to: https://defectdojo.herokuapp.com/api/key-v2
2. Copy the full Token <api-key>
3. Navigate to: https://defectdojo.herokuapp.com/api/v2/doc/
4. Click Authorize and then paste in the full Token <api-key>

![image](https://user-images.githubusercontent.com/220838/44527482-ea4c6780-a6b4-11e8-9509-ce2448113250.png)

[2018-08-23 13:31] alekbc commented on #358
Hi @Clarke-AU. According to Qualys tech support, <ASSET_DATA_REPORT> element is only generated using  Qualys API (not by using web-ui).
I'll try it and let you know.

Regards,
Alejandro

[2018-08-23 14:03] #471 closed

[2018-08-23 18:09] wurstbrot opened #721 "action to accept findings in findings"
### Issue Type
- Enhancement

As a user of defect dojo I want to visit the page with findings and use a bulk action to accept findings.

[2018-08-24 09:39] Phylu opened #723 "JUnit/XUnit Integration"
## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

- Does any of the integrations in use allow the import of a JUnit/XUnit test case file?
- Is this kind of integration planned?

Best regards
Janosch

[2018-08-24 12:40] aaronweaver commented on #723
Hello @Phylu, would you mind providing some more detail? Would you like the file attached to the engagement for a security engineer to use or something else?

[2018-08-24 12:42] AdrienGuillerme opened #725 "No metrics after installation"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

I tried to install Defect-dojo and i had many troubles doing it. I had to install some python packages by myself in order to complete the installation.
I finally managed to run the server, create a product, an engagement, a test and added some scans from Checkmarx and Nessus.
I have many open findings but nothing appears in the metrics.

[2018-08-24 13:01] Phylu commented on #723
Hello @aaronweaver, sure!

I would like to use a JUnit file as an import for the scan results similar to the other integrations. If a security scanner gives the output as JUnit XML file states certain tests and their status.

I was thinking about it being imported as an engagement or into an engagement where each test described in the XML file will be a test in DefectDojo and any failed test will

[2018-08-24 13:04] aaronweaver commented on #723
@Phylu thanks that makes sense. Would you have a couple sample files that you could attach so that I could gauge the effort?

[2018-08-24 13:06] Nilix007 opened #726 "Automatic deletion of duplicates also deletes original findings"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
The code for automatically deleting duplicates relies on the assumption that `Finding.duplicate_list` contains only duplicates. [0]  However, this is not the case on our preview instance:
[code]

[0] https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/tasks.py#L281

[2018-08-24 14:15] Nilix007 commented on #726
It is completely unclear to me why `Finding.duplicate_list` contains findings that are not duplicates.  My current guess is that this is due a race condition between the application server and the Celery worker (or between multiple workers).  The concurrency may lead to lost updates, i.e. the `duplicate` flag is reset to `False` by a write from a different process.

[2018-08-24 14:53] Horst88 commented on #703
So finally I figured it out, ... you have to insert the hole "API Authorization Header value" including the "Token" text, ... and not only the API-Key, ... this is somehow misleading, ....

[2018-08-24 15:08] aaronweaver commented on #725
@AdrienGuillerme check to make sure you are using Celery 4 or greater. For metrics, make sure you have set the findings to active and verified.

[2018-08-24 15:08] #725 closed

[2018-08-24 19:28] JohnWickAppSec opened #728 "Issues with Duplicates"
### Issue Type
- [X] Bug

### Description
When importing findings from CSV I am trying to mark findings as duplicates. According to the documentation Duplicate is a field that can be imported. However when I set the field to True in the CSV it is not pushing that value to the uploaded finding in DefectDojo. Is this working as intended or a bug?

Also, I have been testing and I cannot seem to get D

[2018-08-24 19:39] Warfront1 commented on #407
@morissette  Thank you. This fixed it for me.

In alpine you easily execute his work around with
`sed  '/st_mysql_options options;/a unsigned int reconnect;' /usr/include/mysql/mysql.h -i.bkp`

or in your docker file obviously
`RUN sed  '/st_mysql_options options;/a unsigned int reconnect;' /usr/include/mysql/mysql.h -i.bkp`

[2018-08-25 11:10] aaronweaver commented on #728
Hi @JohnWickAppSec for dedupe, ensure that you have Celery running as well and/or you can dedupe in "realtime" by setting the user in the user settings to "blocking" mode. I don't believe the field duplicate in CSV does anything. I'll check the docs and update to reflect the behavior.

[2018-08-29 15:46] JohnWickAppSec commented on #728
We are using Fortify as our scanning tool.

[2018-08-29 19:21] dkommi opened #729 "need support for sesu linux"
Please use the following template when submitting issues:

## Unable to install/deploy DefectDojo in Sesu linux 12. we are seeing below error.

(dojo) *********************:/opt/dojo/django-DefectDojo # ./setup.bash

Welcome to DefectDojo! This is a quick script to get you up and running.

Select database type: 0.) SQLite, 1.) MySQL or 2.) Postgres: 1
Setting up database

NEED SUDO PRIVILEGES FOR

[2018-08-29 19:24] #729 closed, assigned to nobody

[2018-08-30 12:04] dkommi commented on #729
Thank you aaronweaver , we did some modifications in script and installed the required packages. now we am unable to connect to the mysql server.

MySQL host:***************************
MySQL port: XXXXXX
MySQL user (should already exist): mysql
Password for user:
Database name (should NOT exist): db_information_schema
Enter password:
ERROR 1045 (28000): Access denied for user 'root'@'localhost' (

[2018-08-30 13:04] aaronweaver commented on #729
Hi @dkommi - I'd it sounds like either the database server isn't up or that the root password wasn't entered correctly. Also, for the database name I'd recommend using defectdojo or dojodb, not db_information_schema.

[2018-08-31 05:40] wurstbrot opened #730 "API v2 engagement broken"
Please use the following template when submitting issues:

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
I try to fetch engagements via APIv2, resulting in an error.

### Install

- [ ] setup.bash
- [x] docker

### DefectDojo Version
v. 1.5.2

### Steps to Reproduce
I start a fresh docker container with defectdojo/mysql
I create a product.
I set up the API (see https://github.com/aar

[2018-08-31 12:41] aaronweaver opened #731 "Review all dynamic importers for parameters"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [] Bug
- [X ] Enhancement

### Description
Review the dynamic scanners, Arachni for example, to ensure that the finding.param and finding.payload field is populated correctly.

[2018-08-31 14:57] wurstbrot commented on #731
In arachni, request parameters are stored in:

      "request" : {
        "url" : "http://172.17.0.1:3000/rest/product/search",
        "parameters" : {
          "q" : "undefined\"'`--"
        },

[2018-08-31 20:56] JohnWickAppSec commented on #728
Changing the user setting to blocking mode fixed the issue. Thank you for your response.

[2018-08-31 20:56] #728 closed

[2018-09-03 10:58] wurstbrot opened #732 "Upload fails due to missing profile information"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
Uploading of reports via API fails due to missing contact information.

Recommendation: Allow missing values in the users profile

### Operating System
docker-DefectDojo

### Install
- [x] docker

### DefectDojo Version
1.5.2

### Steps to Reproduce
Start docker

[2018-09-03 11:10] MaroonBeret commented on #664
@aaronweaver Hi Aaron. I can't find a way to upgrade dojo in a Docker setup. Running the latest image from _appsecpipeline/django-defectdojo:latest_ seems to run V1.3.0.

[2018-09-03 11:42] aaronweaver commented on #664
Possibly have something cached? Pull down the explicit version. appsecpipeline/django-defectdojo:1.5.2

https://hub.docker.com/r/appsecpipeline/django-defectdojo/tags/

[2018-09-04 07:13] madhu92be opened #733 "unable to login to testing environment"
Please provide the credentials to login to testing environment.

[2018-09-04 14:12] aaronweaver commented on #733
@madhu92be Environment now works with the creds on the readme.

[2018-09-04 14:12] #733 closed

[2018-09-04 18:03] devGregA commented on #732
This specific bug only occurs when using the root user.

[2018-09-05 07:00] madhu92be commented on #733
Thank you @aaronweaver

[2018-09-05 08:57] Rajarshi333 commented on #647
@aaronweaver : We are hitting a road block when trying to run the test parser file for Fortify. We are trying to import add_language from dojo.util and Finding from dojo.model and in each case landing to this:

D:\Automation Stuff\django-DefectDojo-master\django-DefectDojo-master\CodeTesting>python FortifyParserClass.py
Traceback (most recent call last):
  File "FortifyParserClass.py", line 10, in

[2018-09-05 12:42] aaronweaver commented on #647
Hi @Rajarshi333, certainly feel free to email me: aaron.weaver@owasp.org.

For that error it's because you are running it outside of Django, if you want a command line version for testing you can run try ./manage.py shell < FortifyParserClass.py

[2018-09-05 16:57] Rajarshi333 commented on #647
Hi @aaronweaver, Thanks . . tried the same and got this:

D:\Automation Stuff\django-DefectDojo-master\django-DefectDojo-master>python manage.py shell <TestParser.py
Python 3.7.0 (v3.7.0:1bf9cc5093, Jun 27 2018, 04:59:51) [MSC v.1914 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.
(InteractiveConsole)

  File "<console>", line 1, in <module>
  File "

[2018-09-05 22:35] Phylu commented on #723
@aaronweaver Sorry for the delay. Here are some sample files containing failures (where a vulnerability was found), scans that did not find anything and errors (where a vulnerability scan could not be conducted).

[code]

[code]

A description of the XML format is found here: http://llg.cubic.org/docs/junit/

Does that help? Do you need anymore information?

[2018-09-06 08:11] Rajarshi333 commented on #647
Hi @aaronweaver ,

I suspect my dev environment on a windows 10 is not sufficient. Wrote you an email with details from my email ID(Rajarshi.Bhattacharyya@cognizant.com). Kindly help. Thanks.

[2018-09-07 04:55] reedloden commented on #359
Keep open... :-)

[2018-09-07 19:17] mymainmandeebo opened #734 "Feature Request: Inventory correlation"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ ] Bug
- [X ] Enhancement

### Description
Feature Request: Inventory correlation. Would like to put into the queue a feature to assign an IP to a group/tag in an inventory format. This would be used to view the same information that is show now in product view, but at a more granular level. For example

[2018-09-08 20:55] devGregA opened #735 "Reassess Endpoint MetaData"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ X ] Bug
- [ ] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating System
Please include the version number (ex: Ubuntu 16.04)

### Install

- [ X ] setup.bash
- [ X ] docker

### DefectDojo Version
1.5.3

### Steps to Reproduce
Endpoint metadata doe

[2018-09-10 17:37] #145 closed

[2018-09-10 17:37] #146 closed

[2018-09-10 17:37] #355 closed

[2018-09-10 17:37] #258 closed

[2018-09-10 17:37] #257 closed

[2018-09-10 17:37] #216 closed

[2018-09-10 17:37] #185 closed

[2018-09-10 17:37] #394 closed

[2018-09-10 17:37] #450 closed

[2018-09-10 17:37] #451 closed

[2018-09-10 17:37] #475 closed

[2018-09-10 17:37] #478 closed

[2018-09-10 17:37] #513 closed

[2018-09-10 17:37] #515 closed

[2018-09-10 17:37] #556 closed

[2018-09-10 17:37] #143 closed

[2018-09-10 17:37] #575 closed

[2018-09-10 17:37] #599 closed

[2018-09-10 17:37] #608 closed

[2018-09-10 17:37] #626 closed

[2018-09-10 17:37] #541 closed

[2018-09-10 17:37] #469 closed

[2018-09-11 18:16] df-dev opened #736 "markdown code-block is not rendering as expected"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [x] Bug

### Description
when using triple-tick or `</>` menu option; code blocks do not render as expected in edit mode and lose all formatting once a save is executed. Tested in both my instance and in the demo app and behaves the same.

### Operating System
OS: Ubuntu 18.04 LTS

### Install
- [ ] setu

[2018-09-12 06:37] alexppg opened #737 "Pulling the image from docker hub fails"
Please use the following template when submitting issues:

## Issue Template

### Issue Type
- [ X ] Bug
- [ ] Enhancement

### Description
The order shown in the documentation, `docker run -it -p 8000:8000 appsecpipeline/django-defectdojo bash -c "export LOAD_SAMPLE_DATA=True && bash /opt/django-DefectDojo/docker/docker-startup.bash"`, doesn't work.

## If the issue is a bug, please also include

[2018-09-12 17:20] aaronweaver commented on #737
Correct, just pull the version you need. I'll add latest in the next release.

[2018-09-12 17:28] devGregA commented on #737
@aaronweaver stop looking at dojo stuff. Enjoy your vacation. Don't make me suspend your access 😉

[2018-09-18 20:35] wileycybrotie commented on #737
Can you please give a more verbose response on how you solved this?

[2018-09-19 00:53] aaronweaver commented on #737
Latest tag has been added back so you can do latest or pull the particular version you are looking for.

[2018-09-19 00:53] #737 closed

[2018-09-19 14:49] aaronweaver commented on #736
It's an inconsistency between the javascript viewer renderer and python markdown display. May need to switch to markdown2 as it looks to be a more "accurate" markdown renderer. https://github.com/trentm/python-markdown2

[2018-09-19 19:33] JohnWickAppSec opened #741 "System requirements"
Description:

What type of system requirements are recommended for running DefectDojo? I have looked at the documentation but here is nothing there that I could find about the recommended setup for the server that hosts DefectDojo.

### Install

- [X ] setup.bash
- [ ] docker

### DefectDojo Version
1.5.2

[2018-09-20 17:24] droptableuser opened #742 "Blind XSS in Admin Log Overview"
### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
On a fresh installation of 1.5.2 it is possible to create a blind XSS by setting a users name to an XSS payload e.g.:
[code]
as shown in one of the two screenshots.
The resulting log entry in
http://localhost:8000/admin/auditlog/logentry/ results in the XSS. shown in the second screenshot
## If the issue is a bug, please also include the

[2018-09-20 18:31] devGregA commented on #459
Completed in PR.

[2018-09-20 18:31] #459 closed

[2018-09-20 19:05] aaronweaver commented on #742
Hi @droptableuser. Thanks for reporting the vulnerability. I've tracked down the issue to a third party component that had updated the code but hadn't cut a new release with the fix.

I've [requested](https://github.com/jjkester/django-auditlog/issues/189) a new release to be put out but if I don't get a speedy response then I'll fork the code and update the setup to point to this forked repo.

[2018-09-21 13:11] #741 closed

[2018-09-21 14:33] df-dev commented on #736
thank you @aaronweaver; I will give that a try.

[2018-09-21 14:33] #736 closed

[2018-09-23 18:04] #673 closed

[2018-09-24 01:47] #735 closed

[2018-09-24 14:51] Nilix007 commented on #730
Will be fixed with v1.5.3 which gets rid of the `HyperlinkedSerializer`s :smile:

[2018-09-24 14:52] Nilix007 commented on #715
Has been fixed by #722

[2018-09-24 14:52] #715 closed

[2018-09-24 15:58] Nilix007 opened #750 "Markdown 3.0 is incompatible with DRF"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

Just a quick heads-up:

I noticed that all CI tests are failing and our pre-deployment test fails, too.  This is due to a new major version of Markdown (3.0) which is incompatible with the Django REST framework.  A fix has been merged already. (See this [PR])  Hopefully, there is Markdown 3.0.1 any time soon :smiley:

[PR]: https://githu

[2018-09-24 19:07] aaronweaver commented on #750
Hi @Nilix007, @devGregA was working on it earlier this morning and found the same thing. Yes, hopefully soon.

[2018-09-25 13:58] aaronweaver commented on #742
@droptableuser This issue has been fixed by removing the feature entirely from admin. We will be re-evaluating the use of this module. The release is 1.5.3.0 and the docker has also been updated. Thanks again for reporting.

[2018-09-25 13:58] #742 closed

[2018-09-25 15:30] Nilix007 opened #753 "Dependency Check findings always have CWE 1035"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

Dependency Check findings always have the CWE 1035 in DefectDojo (See [here](https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/tools/dependencycheck/parser.py#L44))

This is technically correct (the best kind of correct), however I have the feeling that setting this CWE for all DC findings does not add any value because DC

[2018-09-25 15:47] aaronweaver commented on #753
Does DC expose CWE? I think at the time it wasn't available but if it is I agree with your suggestion.

[2018-09-25 23:48] pierre-ernst opened #754 "Report Generation not working"
### Issue Type
- Bug

### Description
PDF custom report generation keeps running, no error message

### Operating System
Ubuntu 16.04

### Install
$ sudo ./setup.bash
$ sudo ./entrypoint_scripts/misc/reports.sh
$ sed -i 's/\\/usr\\/local\\/bin\\/wkhtmltopdf/\\/usr\\/bin\\/wkhtmltopdf/'  ./dojo/settings/settings.py
$ sudo ./entrypoint_scripts/run/run-local-dojo.bash

### DefectDojo Version
1.5.2.1

[2018-09-26 02:16] aaronweaver commented on #754
@pierre-ernst Do you have celery running?

[code]

[2018-09-26 16:00] MaroonBeret opened #756 "Problem with V1 docs"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
There is a bug in both your test environment and my deployment of Defect Dojo.
It isn't possible to interact with the V1 API docs. When I click on one of the endpoints, it doesn't fold out. Developer tools show some errors.

### Operating System
Not relevant

### Install

- [x] setup.bash
- [x] docker

### DefectDojo Version
1.5.3 & 1.5.2

[2018-09-26 17:30] wurstbrot opened #757 "Deduplication should only check on engagement level"
## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
By using deduplication with the dependency check, I want to deduplicate findings on engagement level.
I do not want to deduplicate on product level. Each engagement belongs to one branch.
It might happen that a vulnerability occours only in one branch and not in an other or that a vulnerability is mitigated by patching

[2018-09-26 18:14] aaronweaver commented on #757
I think it should be on the engagement itself and we should create some test cases as the duplication code has several different use cases.
We also need to make sure we document the functionality intended so that it's clear how to use it.

[2018-09-27 00:03] pierre-ernst commented on #754
yes, as per my original comment, I'm running this script:

https://github.com/DefectDojo/django-DefectDojo/blob/1.5.2.1/entrypoint_scripts/run/run-local-dojo.bash#L12

[2018-09-28 00:44] pierre-ernst commented on #754
I found the root-cause of the issue:
https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3001

Maybe you should update your install script to upgrade to wkhtmltopdf 0.12.5

After I've re-installed wkhtmltopdf 0.12.5, everything works as intended

[2018-09-28 07:46] Nilix007 commented on #753
Yes, roughly a quarter of our DC findings have a specific CWE set.

I'll make a patch.

[2018-09-28 09:51] sirferl opened #759 "View History on a User throws a Server Error (500)"
### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
When selecting View History on a User, a  Server Error (500) is thrown.
I could "fix" it by inserting " object_value = None" at line 25 to /opt/dojo/django-DefectDojo/dojo/views.py
I am not very fluent in python, so I am not sure, if this is a vlid fix.
Great Tool, please keep up the work.
regards ferdinand

## If the issue is a bug, ple

[2018-09-28 13:45] pierre-ernst opened #760 "Missing Password Change Confirmation"
### Issue Type
- [ ] Bug
- [ X] Enhancement

### Description
When changing password (either with the UI or API), the user is prompted for the current password (for security reason) as well as for the new password. It would be better (for usability) to ask users to enter the new password a second time

[2018-09-29 16:41] #691 closed

[2018-09-29 16:41] #684 closed

[2018-10-02 21:13] V1Reddy opened #762 "ZAP scan results upload to dojo resulting in server error (500)"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
Receiving a Server Error (500) when I am trying to upload the scan results f

[2018-10-03 03:07] V1Reddy commented on #762
Actually, this bug got resolved when I added phone numbers in the User's Profile and the scan results were imported fine.

[2018-10-03 03:07] #762 closed

[2018-10-03 11:32] alekbc commented on #675
Hi @devGregA , I believe this is just a miss-configuration. I had a similar issue.
A proper jira project name has to be set in the product settings. I'm still struggling with this but is matter of write the proper settings. I'll come back after I had this running..

[2018-10-03 13:45] alekbc commented on #675
@devGregA , @nicoleoakley , I made this work. You just need to create the proper project name in jira product and jira with required fields (in jira) and issue type that makes sens to your defectDojo configuration. The "matching query" issue came out when the project key name was wrong (because it didn't exist in jira). Hope having helped.

[2018-10-03 13:48] alekbc commented on #614
Hi @aaronweaver , I think this is a duplicated of "JIRA_Issue matching query does not exist." It's probably a misconfiguration issue.

[2018-10-03 16:20] heepspray opened #763 "Missing importers - Nikto - truffleHog"
### Issue Type
- [ ] Bug

### Description

The listed supported scanners on /product/x/import_scan_results tell me that Nikto and truffleHog are supported, but I can not find them in the dropdown when I select scan type. I also read this one https://github.com/DefectDojo/django-DefectDojo/pull/569

What is happening, do I have to edit them in myself ?

### Operating System
Ubuntu Server 18

### In

[2018-10-03 21:48] Thetides commented on #708
Working on a PR for this. Seems the parser was set to handle a response from version 2 of ssllabs API and doesn't handle missing fields very well.

[2018-10-03 21:55] devGregA commented on #708
Awesome! Thanks Luke!

Greg Anderson
Member of the Board
DefectDojo Project Leader
greg.anderson@owasp.org

*Consider giving back, and supporting the open source community by becoming
a member <https://www.owasp.org/index.php/Membership> or making a donation
<https://www.owasp.org/index.php/Donate> today! *

*Join us at AppSec USA 2018 <https://2018.appsecusa.org/> 8-12 October in
San Jose, CA!*

[2018-10-04 14:45] #763 closed

[2018-10-05 15:05] aaronweaver commented on #708
I actually had a fix for this in my repo, which I just pushed to dev. Feel free to review.

[2018-10-06 17:30] #604 closed

[2018-10-06 17:30] #379 closed

[2018-10-08 20:47] wileycybrotie opened #769 "Firewall requiements for the bash setup script"
### Issue Type
- [ ] Bug
- [ x] Enhancement

### Description
Can someone from your team perhaps post the firewall whitelist requirements needed to install this? I did manage to eventually do this through trial and error but this would be pretty helpful I think.

[2018-10-09 04:31] wileycybrotie commented on #769
Outbound made by the installer

[2018-10-10 07:11] guruprasadbhavsar commented on #407
@Warfront1 solution solved my problem! Thanks!

[2018-10-10 13:51] spartantri opened #771 "Scout2 support"
### Issue Type
- [ ] Bug
- [X] Enhancement

### Description
Is there a roadmap of future integrations, scout2 in particular?

[2018-10-10 15:59] Vulcainreo opened #772 "Deduplication not working"
## Issue
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
During scan import (burp XML report, retrieved by API), DefectDojo don't operate deduplication about findings. I try to import the same report two times in the same testID and in two different testID. I havealready activated the option deduplicating findings, the option delete duplicate and set the max duplicate to 1.

## Backgro

[2018-10-12 14:38] wurstbrot opened #774 "Documentation / help for running tests"
## Issue Template

### Issue Type
- [x] Bug
- [x] Enhancement

### Description
I try to run tests, but alll test fail or are skipped
I could not find a documentation on how to run tests in dev.

### Operating System
Ubuntu 18.04

### Install
- [x] setup.bash
- [ ] docker

### DefectDojo Version
Develop

### Steps to Reproduce
* clone
* checkout dev
* python manage.py test

### Console Logs

tpagel

[2018-10-12 14:50] aaronweaver commented on #771
It's been on my wishlist to get to. We've recently added to the dev branch about 4 new parsers and an AWS parser would be a nice addition.

[2018-10-13 17:03] #686 closed

[2018-10-13 20:42] #718 closed

[2018-10-14 15:49] borbidgea opened #775 "Python3 exception syntax incompatibility in burp parser"
## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
parser.py line 63 uses exception syntax that is incompatible with python 3.  Consider using
"except Exception as e" - this will work for python 2.6 and newer.  I believe the docker image is at python 2.7.  If I read correctly the syntax prior to the deduplication change 4 months ago uses the "as e" Syntax.

https://docs

[2018-10-14 16:03] borbidgea opened #776 "Add duplication logic in Nessus parser to handle Nessus Professional compliance imports"
## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
In nesssus/parser.py the duplication logic assumes unique plugin IDs for each finding.  This seems to work for Security Center imports of compliance findings where each finding has a unique plugin ID.  However, Nessus Professional exports compliance results with the same plugin ID for all findings  for that plugin.  For

[2018-10-14 16:09] borbidgea commented on #776
I'm willing to contribute this as a pull request but I wanted to self-screen for feedback.  Also, this kinda smelled like something that may warrant a configuration property/setting.

[2018-10-14 16:42] bend18 opened #777 "Veracode Scan type does not parse and upload all issues"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
While uploading Veracode Scan xml scan results into DefectDojo, i found that

[2018-10-15 13:49] #721 closed

[2018-10-15 13:58] sirferl opened #780 "Error calculating hash-value for findings"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ x] Bug
- [ ] Enhancement

### Description
The code for calculating the hashvalue has an error in dojo/models.py.
If i

[2018-10-15 18:46] #777 closed

[2018-10-16 11:52] MaroonBeret commented on #756
@aaronweaver Hey Aaron, got anything?

[2018-10-16 12:49] aaronweaver commented on #756
I just tried it in the dev branch and it works.

[2018-10-16 12:50] aaronweaver commented on #780
Fixed in dev.

[2018-10-16 12:54] aaronweaver commented on #776
@borbidgea Sounds like a solid approach. I've assigned this to you if you still want to tackle it. I've been thinking about a setting that enables dedupe on the parser importers. From what you explain though it seems like it's a bug and for those using it they would benefit from the patch. Also, would you happen to have a sample compliance file we can add?

Thanks!

[2018-10-16 12:56] aaronweaver commented on #775
We aren't compatible yet with python3. It's the goal but not there yet.

[2018-10-16 12:57] #753 closed

[2018-10-16 13:59] aaronweaver commented on #772
Make sure that you either have celery running and/or set your user preferences to blocking. If that still doesn't work for you we've made a few patches in dev for certain edge cases.

[2018-10-16 13:59] #772 closed

[2018-10-17 08:22] feeltheajf opened #784 "DefectDojo cleanup mechanism"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

Is there any way to remove unnecessary leftovers from DefectDojo? For instance, remove all closed findings and engagements, etc. (maybe even cleanup all findings). It would be great to add bulk edit/remove for products and engagements as well, similar to how it is already done for findings.

[2018-10-17 09:17] feeltheajf opened #785 "Limited API"
### Issue Type
- [ ] Bug
- [x] Enhancement

### Description

There was a similar problem with API v1, where API was limited in methods in comparison to DefectDojo - [API Parity with DefectDojo](https://github.com/DefectDojo/django-DefectDojo/issues/171). Currently, API v2 is limited as well, for instance, methods for deleting scan/engagement/product are not available. Is it planned to add support

[2018-10-17 10:53] borbidgea commented on #776
I'll give it a shot.  And I will try to add the compliance sample as well - either need approval for my original or I'll cobble something together from the Nessus v2 spec and use that in test.

[2018-10-17 12:23] feeltheajf opened #786 "Test create in API v2 requires notes"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
Method "POST /api/v2/tests" has required field "notes", which does not make sense to me. Especially, if there is a clean install and there are no notes at all. As a result it is impossible to create test using API v2.

### Operating System
CentOS 7.5

### Install

- [x] setup.bash
- [ ] docker

### DefectDojo Version
1.5.3.0

### Steps to

[2018-10-17 12:30] feeltheajf opened #787 "Scan import tagging does not work in API v2"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
Tags are not shown in DefectDojo after scan import using API v2. It seems that they are not saved in DefectDojo backend. Solution described below worked fine for me

### Operating System
CentOS 7.5

### Install

- [x] setup.bash
- [ ] docker

### DefectDojo Version
1.5.3.0

### Steps to Reproduce
- Upload any scan using API v2 (set "tags"

[2018-10-17 12:34] feeltheajf commented on #785
As a temprorary workaround I added mixins.DestroyModelMixin to dojo/api_v2/views.py to make DELETE API method available for engagements. All related findings are removed as well. However, I am waiting for proper solution as well

[code]

[2018-10-18 12:51] aaronweaver commented on #787
I'm pretty sure this is fixed in dev.

[2018-10-18 12:53] aaronweaver commented on #784
If you delete a product it will remove all related engagements, tests and findings. What's the use case for bulk deletion of products? I can possibly see it on engagements.

[2018-10-18 12:55] aaronweaver commented on #785
API methods are added as the community needs them. If there is a missing API feel free to submit a PR.

[2018-10-18 12:57] feeltheajf commented on #787
Ok, thanks, I will check it

[2018-10-18 13:15] feeltheajf commented on #784
It may be specific to our usage pattern, but we have a large list of products which is constantly updating. Yes, it is possible to completely remove products one by one in DefectDojo, but when the number of products increases it becomes much harder. In addition, as I mentioned before, it would be nice to have an ability to just remove all closed findings in one click. As of now, the only possible

[2018-10-18 13:17] feeltheajf commented on #785
Ok, thanks, I will check everything one more time and make a PR

[2018-10-19 09:04] sirferl commented on #780
Thank you.

[2018-10-19 09:15] sirferl opened #789 "Error in calling bubblechart code on dashboard"
### Issue Type
- [ x] Bug
- [ ] Enhancement

### Description
By chance I detected the errors in the nginx errorfile and than realized that the weekly activity chart on the dashboard is empty.
Dashboard tries to call the following files:
/static/JUMFlot/JUMFlot.min.js
/static/JUMFlot/jquery.flot.mouse.js
/static/JUMFlot/jquery.flot.bubbles.js

These files have a different location on my system:
/st

[2018-10-20 20:04] aaronweaver commented on #789
Thanks, will fix it. Your comment made me laugh, "oh, how I love bubbles."

[2018-10-20 22:46] Vulcainreo commented on #772
Everythings works ! Thank you so much.

[2018-10-22 06:12] sirferl commented on #789
You're welcome. We all need a laugh from time to time, don't we?

[2018-10-22 08:31] Vulcainreo opened #790 "Burp import request/response via API"
Dear Team,

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
On the BURP parser (with file upload), the paser.py engine create a section (in the finding view) to show Request and response.

In the paser.py, this is done by :
[code]
At the end of the parsing process, the script add all finding attribute and there is a trick to add request / reponse :

[code]

On the API documentation, a

[2018-10-22 09:33] feeltheajf commented on #786
fixed in dev

[2018-10-22 09:33] #786 closed

[2018-10-22 11:58] #787 closed

[2018-10-22 11:58] #785 closed

[2018-10-24 13:30] aaronweaver commented on #790
The file needs to be the actual contents of the file which is the xml data.
There is a python defectdojo api module in the pip library for reference.

On Wed, Oct 24, 2018 at 9:27 AM Vulcainreo <notifications@github.com> wrote:

--
Aaron Weaver
Philadelphia OWASP Chapter Lead
OWASP AppSec Pipeline Lead
https://www.owasp.org/index.php/OWASP_AppSec_Pipeline

[2018-10-24 14:06] Vulcainreo commented on #790
Hello,
Thank you very much for this doc, this help my xml upload issue.
However, what about the editing request/response burp finding and direct push via finding endpoint ? It's a future enhancement ?

Thank you in advance.
Regards.

[2018-10-24 18:10] rhiananthony opened #793 "Documentation is severely lacking"
The documentation to upgrade from a prior version to the latest is severely lacking, especially if the installation is using docker or docker-compose, as well as if the person migrates from several versions prior to the latest release. You cannot just "follow the doc".

[2018-10-29 14:09] feeltheajf opened #796 "Reimport scan bug (or feature)"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
If a scan contains several similar findings, but found at different line numbers, they will be merged into one finding after scan reimport due to the fact that filter statement does not contain line number:

dojo/api_v2/serializers.py (ReImportScanSerializer)

[code]

Not sure if it is actually a bug, however this behaviour is not expecte

[2018-10-29 18:15] aaronweaver opened #797 "Check unittest"
@Nilix007 would you mind checking to see why [these](https://travis-ci.org/aaronweaver/django-DefectDojo/jobs/447837496) are failing? I'm not that familiar with the new feature set and unsure why it's failing.

FAIL: test_duplicates_skipped (dojo.unittests.test_apiv2_scan_import_options.ScanImportOptionsTest)

FAIL: test_only_closed_iff_not_duplicate (dojo.unittests.test_apiv2_scan_import_options.

[2018-10-30 06:48] feeltheajf commented on #796
UPD: the same applies for findings from different files, they are lost as well. Try to upload and then reupload the attached report with three findings. After reupload, only one will be left:

[report.json.zip](https://github.com/DefectDojo/django-DefectDojo/files/2528337/report.json.zip)

[2018-10-30 14:02] aaronweaver commented on #771
@spartantri Merged in dev.

[2018-10-30 14:02] #771 closed

[2018-10-30 15:27] spartantri commented on #771
Thanks! let me take a look

[2018-10-31 15:37] poobaisle opened #802 "Error! Failed to create database"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
When I try to install DefectDojo on the latest version of Kali (2018.4), I reach the point where the setup.bash script tries to install mysql-server and libmysqlclient-dev packages on top of the existing MariaDB.
To ensure DB is present, I need to enter manually MySQL host, port, user, password but I cannot create the database name. Herea

[2018-11-01 08:57] Nilix007 commented on #797
I found the issue.  PR is up :)

[2018-11-02 09:16] poobaisle commented on #802
I would really appreciate if someone can spend 1 or 2 minutes to tell me if I am missing something here ? Thank you guys.

[2018-11-02 09:38] heepspray commented on #802
@poobaisle I seem to remember overcoming the same problem, don't think this is a problem with DefectDojo. Try to google and solve the isolated error you are getting 'Access denied for user 'root'@'localhost''  - and run again. There are many potential solutions for this

https://stackoverflow.com/questions/41645309/mysql-error-access-denied-for-user-rootlocalhost

[2018-11-02 14:31] #802 closed

[2018-11-05 15:41] alekbc opened #804 "Jira closing status is not updated"
Jira integration works only when creating new issues or adding more information (e.g. adding notes). However, when an issue is closed, it doesn't send the POST Request to Jira server, indicating the issue is closed.

## Issue Template

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description

Jira integration works only when creating new issues or adding more information (e.g. adding notes). Ho

[2018-11-05 17:45] heepspray opened #805 "Dependency Check with exploit POC results in 404 on upload"
### Issue Type
- [x] Bug

### Description
Uploading a Dependency Check report with a lively Description node results in 404
I anonymized the file and uploaded it

### Operating System
Ubuntu server 18

### Install

- [x] setup.bash

### Steps to Reproduce
Upload the attached file (rename to xml) as a Dependency Check Scan

### Sample Scan File (if applicable)
[xml.txt](https://github.com/DefectDoj

[2018-11-06 17:00] xShuden opened #806 "Dashboard Login Error (A server error occurred. Please contact the administrator)"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
I get this error when I open the application from a web browser.
Error: "A s

[2018-11-07 18:01] shaunakshah commented on #760
@aaronweaver @mikethebro and myself will be working on this. You can assign it to us!

[2018-11-08 09:16] bars1001 commented on #691
I am having the same issue

[2018-11-08 22:33] #756 closed

[2018-11-09 13:56] #732 closed

[2018-11-09 19:29] xShuden commented on #806
As a workaround, you can use:

Make the following changes to the /Dojo/setting/setting.py file.

[code]
[code]

[2018-11-09 19:29] #806 closed

[2018-11-12 14:49] sirferl commented on #759
Hmm, how can I contribute so that it is not closed unpatched ?

[2018-11-14 11:28] bewell opened #809 "Scan import through API returns a 'not valid JSON' error"
### Issue Type
- [X] Bug

### Description
I am having the python script which uploads the scan results to the Dojo server using API. From the documentation example I formed my request. The request looks like this:

[code]

Unfortunately, the server returns this error:
`{"error": "Request is not valid JSON."}`

I'm not entirely sure what am I missing.

[2018-11-15 11:43] rjimgal opened #810 "DefectDojo SonarQube Integration"
First of all, thank you for this amazing tool, I'm just starting to use it.

I would like to use this recent Integration, however I am unable to generate HTML report in SonarQube.

Sample HTML file can be obtained at https://github.com/DefectDojo/sample-scan-files/blob/master/sonarqube/sonarqube_v6.7.5.html and it works like a charm.

I am also using SonarQube 6.7.5 version, on its Community Editi

[2018-11-15 13:58] AdrienGuillerme commented on #810
I will tak a look at it

[2018-11-15 16:13] #730 closed

[2018-11-15 21:04] Phylu commented on #723
@aaronweaver Is there any way, I could help with this issue? Is there some documentation about how to write such a plugin?

[2018-11-16 13:00] aaronweaver commented on #723
@Phylu certainly, take a look at this short wiki link: https://github.com/DefectDojo/django-DefectDojo/wiki/Creating-a-new-importer-(scanner) Let me know if you have any questions.

[2018-11-16 16:34] mikethebro commented on #760
@aaronweaver, the fix for this is in pull request #811. What is the process for adding reviewers?

[2018-11-17 20:32] #757 closed

[2018-11-19 14:56] #754 closed

[2018-11-19 21:14] spartantri opened #812 "aws scout2 deduplication issue"
### Issue Type
- [ X ] Bug

### Description
When a new scan of the same product is imported into defect dojo it crashes

### Operating System
Debian 9

### Install

- [ X ] setup.bash

### DefectDojo Version
DEV

### Steps to Reproduce
Import a scout2 scan dated from several days ago and tried to import in the same engagement a new scan of the same account with deduplication enabled caused defect

[2018-11-20 12:12] alekbc commented on #804
UPDATE: Close status is only updated when uncheck "Active" box from finding. However, it doesn't work when it's closed with a note.

[2018-11-20 14:11] aaronweaver commented on #812
A new commit was added yesterday, try on the command line python manage.py makemirgrations, then python manage.py migrate

[2018-11-20 16:45] aaronweaver commented on #812
Ok, it's the latest PR that did that not Scout. I'll take a look.

[2018-11-21 16:36] alekbc opened #813 "Nessus imported scan findings are not pushed to Jira"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [X] Bug
- [ ] Enhancement

### Description
Nessus imported Findings are not pushed to Jira. Manual findings are pushed

[2018-11-21 16:38] alekbc commented on #813
To make it work, I had to edit "dojo/views.py" file as follows:

$ diff  views.py views.py.ORI
34,37d33
< from dojo.utils import add_comment, add_epic, add_issue, update_epic, update_issue, \
<                        close_epic, create_notification, sync_rules
<
<
583,584c579
<                       # HERE: I have to add the jira creation
<                   add_issue(item, True)
---

[2018-11-21 17:55] aaronweaver commented on #813
@alekbc Can you verify which file you edited? Was it finding/views.py? Also, are you running celery?

[2018-11-21 17:57] spartantri commented on #812
Hi @aaronweaver,

I made another test with another fresh download and it fails to import the scans and send this error to the console:
[code]

[2018-11-21 17:57] aaronweaver commented on #809
Take a look at the slack channel or use the defectdojo api.

[2018-11-21 17:57] #809 closed

[2018-11-21 17:59] aaronweaver commented on #812
Ah ok, I know about this error, it's actually related to de-dupe.

[2018-11-23 10:05] poobaisle opened #815 "No module named django.core.management"
### Issue Type
- [ ] Bug
- [ ] Enhancement

I don't think this is a bug... It is more an installation problem I guess.

### Description

During the installation, after choosing 1.) Mysql database type, I get several ERROR :

ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)

Which is strange because I did set a password for root user with these commands :
S
ET PASS

[2018-11-23 11:15] feeltheajf opened #816 "Option for products with the same name, but different product types"
## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
It is no longer possible to create products with the same name, but different type in latest DefectDojo version. It was a useful feature to distinguish products from different areas. Moreover, it breaks backward compatibility of the upcoming update

## If the issue is a bug, please also include the following:

### Opera

[2018-11-26 10:32] alekbc commented on #813
Hi @aaronweaver , I edited "django-DefectDojo/dojo/engagement/views.py" file.
Yes, celery was/is running.
I belive I should use the push_to_jira flag  from the engagement object instead of "True" but I couldn't find an easy way

[2018-11-26 12:17] alekbc opened #819 "Nessus API import scan failed - unicode has no attribute name"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ x] Bug
- [ ] Enhancement

### Description
When a scan is imported via APIv1, it fails.

## If the issue is a bug, ple

[2018-11-26 12:19] alekbc commented on #819
Here's how I patched "dojo/factory.py file to make it work (just for Nessus, but it can be used for any other scan type).
NOTE: Celery status: runing.

django-DefectDojo/dojo/tools# diff factory.py factory.py.ORI
39,40c39
<       #filename = file.name.lower()
<       filename = file.lower()
---

[2018-11-26 14:29] aaronweaver commented on #819
So the filename contained unicode?

[2018-11-26 14:38] alekbc commented on #819
Actually, the problem was that "file" variable was the name of the file. "file.name" didn't exist.

[2018-11-26 15:03] aaronweaver commented on #816
I can see your use case, it's an intentional feature though not a bug. I can see that we should make it an optional feature on allowing duplicate product names. In the mean time you can always remove unique in models.py -

[code]

[2018-11-26 15:06] aaronweaver commented on #815
Sounds like the required modules didn't get installed. You may want to create a virtual environment first or try it on ubuntu.

[2018-11-26 15:34] aaronweaver commented on #810
Hi @AdrienGuillerme just wanted to checkin to see how the file is generated. Thanks!

[2018-11-26 22:07] mccabe615 commented on #216
This would be a useful feature as otherwise, you have to manually delete records from the database. I think a simple check to see if there are relationships before allowing deletion would prevent what @grendel513 is referring to.

[2018-11-27 16:47] alekbc commented on #819
I improved it a little , as it was failing when I was reimporting a scan  manually:

        if hasattr(file,'name'):
            filename = file.name.lower()
        if hasattr(file,'lower'):
            filename = file.lower()

[2018-11-27 20:10] RobertLBelanger opened #822 "Unable to import Ruby findings"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
There are duplicates entries in language_type.json as shown here
C++
https:/

[2018-11-27 20:40] devGregA commented on #819
@alekbc would you like to submit the PR so you get credit for the fix?

[2018-11-28 14:43] devGregA commented on #815
Part of the script isn't being run due to the SQL error. It isn't happy with the DB setup for some reason or another. To me it looks like you're skipping over the password in the setup script.

[2018-11-28 14:43] #815 closed

[2018-11-28 20:03] ninp0 opened #823 "Burp Scan XML Import via API Fails when url_host Doesn't Contain .com || .edu || <etc>"
Version 1.5.2, master branch:

When importing a Burp XML file that contains a url_host such as:
https://targethost

The import fails with the following error in the HTTP response:
[code]

This stems from the regex used in https://github.com/DefectDojo/django-DefectDojo/blob/f4dd2aaedcbda22b501f07a06e11240c6c5e85de/dojo/tools/burp/parser.py#L156-L167

Please use the urlparse library instead of a re

[2018-12-04 12:52] J12934 commented on #469
Hi, can we reopen this?
This still seems to be happening and is a major hurdle in testing out defectdojo 😕

[2018-12-06 15:03] JohnWickAppSec opened #826 "Title Deduplication"
### Issue Type
- [ ] Bug
- [X] Enhancement

### Description
I have noticed that DefectDojo will mark findings as duplicates if the first two words in the title are the same. Regardless if the rest of the title is different. For example the findings "Weak SSL Protocol" and "Weak SSL Ciphers" are being marked as duplicate findings. I would like DefectDojo to analyze the entire title and not just the

[2018-12-07 13:37] #774 closed

[2018-12-07 17:14] dougmorato commented on #675
+1
@aaronweaver
I know the settings I have configured in the Project and the Jira settings work because the integration DID create a new Epic in Jira when I created the engagement, but editing and clicking
'Push to Jira" on a finding gives the same  **JIRA_Issue matching query does not exist** detailed below.

Any ideas on how to further troubleshoot / enable a more verbose debug ?

2018-12-07 11:

[2018-12-10 03:12] d-nugraha opened #828 "PDF report Error when adding issues"
### Issue Type
- [x] Bug

### Description
PDF report generation result in error with the following message:
_Make sure WKHTMLTOPDF is installed. local variable 'reqres' referenced before assignment_

although I have installed all dependencies, wkhtmltopdf is installed in /usr/bin and I'm using version  0.12.3.2 and celery also running with command:
**celery -A dojo worker -l debug --concurrency 3*

[2018-12-14 07:14] bloodzer0 opened #829 "中文乱码"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description

## If the issue is a bug, please also include the following:

### Operating

[2018-12-14 08:17] #829 closed

[2018-12-14 17:05] #780 closed

[2018-12-16 21:43] azoumed opened #830 "Error when i run defectdojo server ' IndentationError: unexpected indent'"
Hello Everyone ,

First big Thanks for community , i just installed defectdojo in ubuntu server 16.04 ; i'm just setps providing defectdojo repo 'github' , now when i try lanch my server , i find this issues above .
any help !!

root@Defectdojo-V1:/django-DefectDojo# python manage.py runserver
   Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_l

[2018-12-16 22:15] adracea commented on #830
Well by the looks of that stacktrace you might have a space/tab inserted
randomly into settings.py before the SESSION_COOKIE_SECURE

On Sun, 16 Dec 2018, 23:43 azoumed <notifications@github.com wrote:

[2018-12-17 07:41] feeltheajf commented on #796
I am pretty sure this issue is worth attention

[2018-12-17 22:35] #708 closed

[2018-12-17 22:35] #789 closed

[2018-12-20 12:35] alekbc commented on #819
Hi @devGregA  , I've just did
https://github.com/DefectDojo/django-DefectDojo/compare/master...alekbc:patch-1
Thanks

[2018-12-20 12:35] #819 closed

[2018-12-20 12:43] alekbc commented on #804
I've just fixed this by editing utils.py as follows:

$ diff utils.py utils.py.ORI
1107,1133c1107,1123
<
<       if callable(find.status):
<             if 'Inactive' in find.status() or 'Mitigated' in find.status(
<             ) or 'False Positive' in find.status(
<             ) or 'Out of Scope' in find.status() or 'Duplicate' in find.status():
<                 if 'Active' in old_status:
<

[2018-12-20 13:04] alekbc commented on #804
submitted PR 832

[2018-12-20 15:01] alekbc commented on #813
PR #833 fixes it

[2018-12-23 17:44] #797 closed

[2018-12-28 15:21] alekbc opened #835 "email notifications are not working"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
email notifications are not working.
host can relay to the smtp server. Oth

[2018-12-30 15:13] #805 closed

[2018-12-31 15:11] aaronweaver commented on #830
@adracea nailed it just fix the remove the space and it will work.

[2018-12-31 15:11] #830 closed

[2019-01-02 10:31] azoumed commented on #830
Thank you all

[2019-01-03 14:32] Phylu commented on #723
I just started working on this issue here: https://github.com/Phylu/django-DefectDojo

[2019-01-03 17:08] #759 closed

[2019-01-04 16:54] azoumed commented on #830
can you share with me how to configure MySql Database

[2019-01-04 17:07] azoumed commented on #830
i have to connect my database "Mysql" with defectdojo , all configuration is correct , so i don't know why nothing happen in my data base , in log file everything is ok

[2019-01-07 08:02] azoumed opened #838 "Defectdojo MySql Configuration"
Hello every one ,

I try to deploy Defectdojo in production environnement that turn in kubernetes , in "setting.py" , i modidy Data Base space and launching installation .

This is how the DataBase is configured , but she didn't work in container environnement

 DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        # 'django.db.backends.mysql','django.db.backends.sql

[2019-01-07 14:47] spartantri commented on #812
Hi @aaronweaver was this bug fixed?

[2019-01-07 23:00] #760 closed

[2019-01-08 20:22] Arebjel opened #839 "Credentials for external tools are stored unhashed in database"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ ] Bug
- [ x ] Enhancement

### Description
When adding a configuration for an external tool, e.g. JIRA, you can store

[2019-01-09 05:38] bend18 opened #840 "Veracode Scan original findings are marked as duplicates"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
A few findings from Veracode Scan results are marked as duplicates even thou

[2019-01-09 05:44] bend18 commented on #840
#841

[2019-01-09 09:01] PavitraRaj opened #842 "HPE Fortify Integration Steps with DefectDojo. Urgent Help required..!!"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ ] Bug
- [x] Enhancement

### Description
Please provide the steps for integrating HPE Fortify Results with DefectDojo

[2019-01-09 09:02] PavitraRaj commented on #842
Hi,

Can you please provide the steps for integrating HPE Fortify results with Defect Dojo.

Thanks,
Pavitra

[2019-01-10 15:43] aaronweaver commented on #839
Not hashed but encrypted. Some of the fields are encrypted with AES and we'll put in a ticket to encrypt the rest of the fields.

[2019-01-10 17:22] PavitraRaj commented on #842
Do we need to convert Fortify report from xml to csv for it to import to DefectDOJO.
If so, which tool do you suggest for converting xml report to csv format.
Please elaborate on the procedure as it is little urgent.

[2019-01-10 18:13] aaronweaver commented on #842
It requires XML. You can review the import code [here](https://github.com/DefectDojo/django-DefectDojo/blob/dev/dojo/tools/fortify/parser.py).

[2019-01-10 18:13] #842 closed

[2019-01-11 07:37] petrabrunner opened #844 "ui-api(v1) explorer not working"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [ x] Bug
- [ ] Enhancement

### Description
the api-ui does not work. clicking on "Show/Hide", "List Operations", "Expa

[2019-01-11 08:55] petrabrunner opened #845 "'unicode' object has no attribute 'seek' error when trying to use the importscan api"
Please use the following template when submitting issues: (If this is a security issue, then review the [disclosure policy](https://github.com/DefectDojo/django-DefectDojo/blob/master/SECURITY.md) and submit via our security reporting program.

## Issue Template

### Issue Type
- [x ] Bug
- [ ] Enhancement

### Description
I am having problems uploading Burp scan reports automatically.
Since I can

[2019-01-11 15:09] alekbc commented on #845
Hi, this may be related to #819 . it may worth to take a look

[2019-01-14 16:01] ninp0 commented on #823
ping.

[2019-01-15 07:02] petrabrunner commented on #845
hi, @alekbc  thx for the hint, you pointed me in the right direction.
Seems my problem was, that the file referenced by the "file" attribute has to be either copied onto the dojo-host, or be reachable from the dojo-host... (so served by some webserver, or networkshare, or whatever...) that is what I was missing. (kinda logical but whatever)

to workaround the error I was getting I adapted the pars

[2019-01-15 07:03] #845 closed

[2019-01-15 10:26] BlauerPulli opened #847 "DefectDojo docker deployment not work"
### Issue Type
- [x] Bug
- [ ] Enhancement

### Description
I struggle with the DefectDojo Docker setup, so this problems relates as well to the https://github.com/aaronweaver/docker-DefectDojo project.

1. The entry-command of the appsecpipeline/django-defectdojo container executes docker-startup.bash with the wrong path(see docker-compose.yml). --> set the path to "/opt/django-DefectDojo/docker/