[2020-11-23 18:47] namloc2001 commented on #3332
Looking into a route to upgrading. I can confirm 1.5.4 does have 'pull all issues' as I've been staring at the UI for the last few hours.

[2020-11-23 22:50] childsc commented on #2944
@madchap I am new to defect dojo, Can you confirm what you mean with this:
`The django permissions within Django's admin panel will not work in the UI (they could work through the API, because of the way dojo is written today).`

so this means that with regards to defining the user and or group permissions in /admin no longer works?
As I am trying to understand how to set alternative permissions t

[2020-11-24 02:48] navzen2000 commented on #3320
How will the mysql db get upgraded with the latest version info in this case?

[2020-11-24 05:19] gunda-sec commented on #3330
docker --version
Docker version 1.13.1, build 64e9980/1.13.1
 docker-compose --version
docker-compose version 1.27.4, build 40524192

[2020-11-24 06:04] madchap commented on #3320
Django takes care of it for you with the help of migration files you will find under `dojo/db_migrations`. As the image contain new migrations, the database schema will be brought up to date automatically.

You can read more about migrations at https://docs.djangoproject.com/en/2.2/topics/migrations/ and I encourage you to practice upgrading locally first.

[2020-11-24 06:04] #3320 closed

[2020-11-24 06:10] madchap commented on #3330
Multi-stage builds were introduced in a docker version more recent than yours. I expect this is the cause of your failure. You'd need to upgrade your docker version.

[2020-11-24 06:11] #3330 closed

[2020-11-24 08:16] tahir59 commented on #3319
and whats the other work around i.e if I want to install my private ca for jira.

[2020-11-24 09:02] dsever commented on #3319
@tahir59  you can try with:

NOTE: In the case when IDP is configured to use self signed certificate, than CA needs to be specified by define environments variable REQUESTS_CA_BUNDLE that points to the path of public CA certificate.

In that case, in the same file include all certificates that are coming with certify and cert you want to add.

But it depends if  JIRA is using request python module

[2020-11-24 09:38] #3290 closed

[2020-11-24 09:51] tahir59 commented on #3319
will this solution work on version 1.6.1

[2020-11-24 10:43] valentijnscholten opened #3336 "add/edit product: jira project config should be checked against JIRA"
When adding/editing JIRA Project config for an engagement, a meta data check is done in JIRA to check if the url and project key are valid and Defect Dojo has permissions to access the JIRA project.
A similar check should be added to the add/edit product logic.

[2020-11-24 11:22] childsc opened #3337 "I am confused regarding the "/admin" page. Is this something which is used or not?"
Hi,

I am still learning defect dojo.

I was interested in learning about setting up newly defined group access. To provide more fine tuned access rights.

However, after reading a number of issues here (#2536 , #1048 , #2944  etc) I keep coming across sentances like these when refering to /admin

- #2536 currently most of these don't work <-- when referring to the list of permissions
or

- #2944

[2020-11-24 11:35] dsever commented on #3319
You need to try it

[2020-11-24 12:20] StefanFl commented on #2919
For a widespread use in my company we will need an enhanced authorisation system as well. Being an IT consultancy we have projects for different customers and internal software.

- A project team shall be able to see and work with their assigned products, engagements, tests, findings.
- A project team sees only its assigned products / product types --> Need to know principle
- If a project team co

[2020-11-24 12:46] gunda-sec commented on #3330
Issue is resolved. Thanks @madchap

[2020-11-24 13:00] namloc2001 opened #3340 "django_site does not exist"
Please enter as much information as possible, otherwise we can't provide support. If possible upgrade to the latest release or dev version and try again.

**Bug description**
Upon starting the django container and running `oc logs <pod_name> -c uwsgi` I see the following error logs:
[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Install via Helm chart
2. perform kubectl or oc l

[2020-11-24 13:21] namloc2001 commented on #3332
@valentijnscholten I've now upgraded to v1.9.3 and getting the same behaviour.

[2020-11-24 13:40] valentijnscholten commented on #3332
what's in the logs? what's in the alerts top right of the screen?

[2020-11-24 13:53] namloc2001 commented on #3332
No alerts in the top right of the screen. I've also found that if I open the finding, I see this:
![image](https://user-images.githubusercontent.com/30868661/100103020-484ff280-2e5c-11eb-82a6-74f0f6aacfa6.png)

and then if I click on the arrow next to "none" it'll create me a JIRA ticket, so the connectivity configuration is obviously ok.

Which pod's logs would you like to see?

[2020-11-24 14:00] namloc2001 commented on #3332
Logs from celery worker: (oc logs new-dojo-defectdojo-celery-worker-7f4c5b8d6d-qwkz4 | grep jira -A 10)
[code]

The two "trying to create a new jira issue for..." were manual adds performed by clicking on the arrow next to "None" as per diagram in previous response.

[2020-11-24 14:30] valentijnscholten commented on #3332
django pod contains the main logic, celery only specific tasks. tonight 1.10.0 will be released with a refactored JIRA integration including unit tests for push_all_issues.

[2020-11-24 14:46] RomainJufer opened #3342 "APIv2 : Swagger Doc Test Results"
I post here a first draft of the errors found by the test for the swagger schema. The test works by matching the swagger schema against the result of a query on a given endpoint. It tests the methods : list, read, create, update, partial_update provided that they are supported. Note that it does not check the request schema and currently does not check all the "sub-endpoints" (for example, `/findi

[2020-11-24 14:57] namloc2001 commented on #3332
@valentijnscholten thanks for the update. So is the suggestion that "Push all issues" doesn't work correctly in 1.9.3? I.e. shall I stop staring at this and await 1.10.0?

[2020-11-24 15:51] dsbowen commented on #3270
I got the same warning on a twine upload. Updating the packages fixed it for me.

[code]

[2020-11-24 17:38] devGregA commented on #3337
Hi @childsc you should not use the admin page. In the near future it's access will be disabled. It's part of the Django framework, which dojo is built off of. Django has changed a lot since 1.1 when dojo started.

[2020-11-24 17:38] #3337 closed

[2020-11-24 17:45] #3053 closed

[2020-11-24 17:49] devGregA commented on #3060
Hi @LeonardoNve like @valentijnscholten mentioned dumpdata is a django function and not a dojo function, so there isn't anything we can do here. You shouldn't have to mess with migrations, as we provide the files, but how it works is a migration is created that diffs the DB and figures out what is missing / added. We then add code to handle data transfers or manipulations (when needed).

[2020-11-24 17:49] #3060 closed

[2020-11-24 17:54] devGregA commented on #2760
I've seen this with SSO when SSO bypasses dojo's login method. I want to add a fix to the middleware, but it can be a hard issue to reproduce. Planning to add a middleware check that will reset CSRF in the future.

[2020-11-24 17:58] devGregA commented on #3189
Addressed and fixed in today's release. thanks to @keenan-v1

[2020-11-24 17:58] #3189 closed

[2020-11-24 18:59] valentijnscholten commented on #3236
was only partially fixed in dev.

[2020-11-24 19:00] valentijnscholten commented on #3340
did you wait long enought for the initializer to complete before making any requests?

[2020-11-24 19:00] valentijnscholten commented on #3332
1.10.0 was just released.

[2020-11-24 19:02] valentijnscholten commented on #3319
strongly advised to upgrade as jira integration has been reworked in 1.10.0

[2020-11-24 19:42] namloc2001 commented on #3332
@valentijnscholten just upgraded to 1.10.0. Same issue still. Nothing is being pushed to JIRA upon report upload. No errors in UI and nothing in logs.

[2020-11-24 19:51] valentijnscholten commented on #3332
There should be lots of info on the logs, v especially on debug level.

[2020-11-24 19:54] namloc2001 commented on #3332
I've deployed this via the Helm chart, where specifically should I be looking and which settings need to be applied for debug logging?

[2020-11-24 20:02] valentijnscholten commented on #3332
https://github.com/DefectDojo/django-DefectDojo/blob/master/CONTRIBUTING.md

[2020-11-24 20:04] namloc2001 commented on #3332
These are the only references to jira in celery-worker:
[code]

and these are the full logs from it:
[code]

[2020-11-24 20:13] valentijnscholten commented on #3332
Deleted your comment. Please post in a normal fashion and not just dump megabytes of logs in a comment. Please see my earlier comment which says we need all logs especially the django/uwsgi container.

[2020-11-24 20:29] namloc2001 commented on #3332
Sorry, I didn't mean to post in an unacceptable way. Hope this is ok

Celery worker logs:
[celery-worker-logs.txt](https://github.com/DefectDojo/django-DefectDojo/files/5592440/celery-worker-logs.txt)

uwsgi logs:
[uwsgi-logs.txt](https://github.com/DefectDojo/django-DefectDojo/files/5592523/uwsgi-logs.txt)

django nginx logs:
[nginx-logs.txt](https://github.com/DefectDojo/django-DefectDojo/files/

[2020-11-24 20:43] valentijnscholten commented on #3332
How are you uploading the report? I'm on my phone but don't see any imports. Just some API v1 stuff. Api v1 is deprecated and doesnt support (push all) to jira.

[2020-11-24 20:49] namloc2001 commented on #3332
We are using a container with an API (v1) wrapper that then targets the API v1 import scan. Do I need to import via API v2 to invoke the push all to jira? Or are they separate actions?

Is API v1 already deprecated? It says this in DefectDojo "APIv1 will be deprecated after 31 december 2020 and will be removed from Defect Dojo by June 2021."

[2020-11-24 20:56] valentijnscholten commented on #3332
It's missing features etc. Apiv2 should work it has unit tests for jira integration.

[2020-11-24 20:59] namloc2001 commented on #3332
Ok, will test it tomorrow. Thanks.

[2020-11-24 21:04] #3276 closed

[2020-11-25 07:40] StefanFl opened #3349 "Upgrade to 1.10.0 with Helm doesn't work"
**Bug description**
My GitLab pipeline to upgrade to version 1.10.0 fails because of a problem with RabbitMQ passwords:

[code]
Weirdly the error message mentions PostgreSQL as well, very confusing. I have tried with `--set createRabbitMqSecret=false --set createPostgresqlSecret=false` and `--set createRabbitMqSecret=true --set createPostgresqlSecret=true` but that doesn't make any difference.

**

[2020-11-25 07:45] StefanFl commented on #3349
Here is my values.yml file: [values.zip](https://github.com/DefectDojo/django-DefectDojo/files/5595123/values.zip)

[2020-11-25 07:50] madchap commented on #3349
See my latest PR. Got bitten by it yesterday.

[2020-11-25 08:15] madchap commented on #3349
Fixed by https://github.com/DefectDojo/django-DefectDojo/pull/3347 normally (worked for me at 4am yesterday)

[2020-11-25 08:25] StefanFl commented on #3349
Thank you @madchap, it seems to have work. These error messages are gone. Upgrade still not running, now due to some permission problems caused by the healthcheck. This is something I have to discuss with our kubernetes admins.

[2020-11-25 12:27] gunda-sec opened #3351 "ERROR: unsatisfiable constraints"
fetch http://dl-cdn.alpinelinux.org/alpine/v3.12/main/x86_64/APKINDEX.tar.gz
fetch http://dl-cdn.alpinelinux.org/alpine/v3.12/community/x86_64/APKINDEX.tar.gz
WARNING: Ignoring http://dl-cdn.alpinelinux.org/alpine/v3.12/main/x86_64/APKINDEX.tar.gz: BAD signature
WARNING: Ignoring http://dl-cdn.alpinelinux.org/alpine/v3.12/community/x86_64/APKINDEX.tar.gz: BAD signature
ERROR: unsatisfiable constra

[2020-11-25 13:04] madchap opened #3352 "Linking a finding to an existing JIRA issue throws 500 error"
**Bug description**
[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Edit a finding that has no jira issue linked yet, then push to jira --> jira gets created
2. Re-edit the finding, and try to modify the JIRA ticket value
3. 500 error

**Expected behavior**
The value gets updated.

**Deployment method** *(select with an `X`)*
- [x] Kubernetes
- [ ] Docker
- [ ] setup.bash / lega

[2020-11-25 16:48] madchap commented on #3352
Also happens even when I have a JIRA configuration at the engagement level.

[2020-11-25 17:05] valentijnscholten commented on #3351
Looks like your machine is unable to download these files. Could be just a glitch, so try again with --no-cache etc assuming you are using docker-compose. Which version/commit are you using?

[2020-11-25 17:14] madchap opened #3354 "JIRA - no attribute default_issue_type"
On my local test instance, I had no JIRA configured at first, but already 1 product, 4 engagements and some test data.

I then wanted to add JIRA configuration. Usual drill, enable JIRA in system settings, configuration, etc.... I only added the JIRA at the product level, but all engagement showed
![image](https://user-images.githubusercontent.com/5468769/100260176-66dfe780-2f49-11eb-81a6-a2183af0

[2020-11-25 17:23] valentijnscholten commented on #3354
the error indicates that there is no default_issue_type specified in your jira_instance. Is that correct? that would be a bug in the pre-existing jira configuration form/wizard.

[2020-11-25 17:28] saldam72 opened #3356 "kubernetes + external mysql + defectdojo"
Hi,
is it possible to connect to an external MYSQL server for defectdojo installed on kubernetes ?

regards,
Sal

[2020-11-25 17:31] valentijnscholten commented on #3354
ok, I can see similar things here. Looks like one of the latest bugfixes broke lots of JIRA stuff.

[2020-11-25 22:01] madchap commented on #3354
Do you still need more logs from me?

[2020-11-25 22:09] valentijnscholten commented on #3354
No thanks

[2020-11-26 05:31] cpandya2909 opened #3358 "Upgrade doc for docker-composed based setup"
Hi,

I am using defect-dojo v. 1.6.0 ( release mode ) an want to upgrade to v 1.10.0. I have set it up with docker-compose on my VM with local mysql db.

But I am not sure how to upgrade version with docker-compose without breaking anything and also can not find clear instructions on Doc.

Can you please specify how to perform upgrade with docker-compose?

[2020-11-26 07:44] StefanFl commented on #3349
The problems with RabbitMQ were caused by our local environment. #3347 fixed the initial problem of this bug report.

[2020-11-26 07:44] #3349 closed

[2020-11-26 09:01] gunda-sec commented on #3351
docker-compose version 1.27.4, build 40524192
docker-py version: 4.3.1
CPython version: 3.7.7
OpenSSL version: OpenSSL 1.1.0l  10 Sep 2019

[2020-11-26 09:06] bgoareguer commented on #1984
Can someone reopen this issue ? It should be fixed with https://github.com/DefectDojo/django-DefectDojo/pull/2211

[2020-11-26 09:17] Wadeck opened #3360 "Search -> Combined tab structure too lenient with long content"
**Bug description**
When I search for a finding, if a result has a pretty long unbreakable content (like URL with state), the column "Description" takes more than the expected 50% of the table and make an horizontal scrollbar to appear.

💡 Proposal: use `overflow-wrap: anywhere;` on the span inside the TD.
https://developer.mozilla.org/fr/docs/Web/CSS/overflow-wrap
https://caniuse.com/wordwrap

**

[2020-11-26 10:22] tahir59 opened #3361 "parsers not working in version 1.10.0"
parsers are not working in version 1.10.0, when uploading files getting (500 Internal Server Error).

refer the logs below:

ERROR:django.request:Internal Server Error: /engagement/8/import_scan_results
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/kombu/serialization.py", line 50, in _reraise_errors
    yield
  File "/usr/local/lib/python3.6/site-packages/kombu

[2020-11-26 17:56] namloc2001 commented on #3332
@valentijnscholten tested against v2 and is working. Thanks for your assistance.

[2020-11-26 17:56] #3332 closed

[2020-11-26 18:07] valentijnscholten commented on #3351
https://github.com/docker-library/golang/issues/286

[2020-11-26 18:08] valentijnscholten commented on #3361
Can you provide more info on how to reproduce? We have integration tests running OK and it works for me also.

[2020-11-26 19:04] Ivanello commented on #3134
the same issue:
version 1.10.0
Deployment method (select with an X)
 Kubernetes
x Docker
 setup.bash / legacy-setup.bash
Operating System: Ubuntu 20
[report.json.zip](https://github.com/DefectDojo/django-DefectDojo/files/5604639/report.json.zip)

log:
[code]

[2020-11-26 22:06] #2769 closed

[2020-11-26 22:06] #2771 closed

[2020-11-27 04:14] tahir59 commented on #3361
I have tested with harbor and github parser on kubernetes & docker-compose, moreover also django pods are frequently restarting.

[2020-11-27 16:26] valentijnscholten commented on #3352
fixed in release/1.10.1

[2020-11-27 16:26] #3352 closed

[2020-11-27 16:27] valentijnscholten commented on #3356
yes, you can ask on slack for other peoples examples if there are any: https://github.com/DefectDojo/django-DefectDojo#getting-involved

[2020-11-28 11:00] valentijnscholten commented on #3361
I think there are some issues with kubernetes overall in 1.10.0 to be fixed in 1.10.1 in a few days.

[2020-11-28 11:54] valentijnscholten opened #3368 "dedupe delete job: ValueError('Cannot use None as a query value',)"
Seen this in some logs submitted in other issues, let's investigate.
[code]

[2020-11-28 11:57] valentijnscholten commented on #3368
seen in #3332 but that line number doesn't exist in 1.10.0.
Line in 1.9.3: https://github.com/DefectDojo/django-DefectDojo/blob/a1d489069aa0347d1a05bce0fe24a92226d70a96/dojo/tasks.py#L333

[2020-11-28 16:29] madchap commented on #3354
Tested PR, closing.

[2020-11-28 16:29] #3354 closed

[2020-11-28 16:46] madchap opened #3369 "no error message when trying to create JIRA on existing finding"
**Bug description**
If you **edit** an existing finding, and attempt to **push to jira without having "active, verified" set**, then **you will have no error message,** despite the fact it is needed. Instead, you'd see a "successful" message.

This behavior _does not happen when it's a brand new finding_. If you create a new finding and try to submit it directly to JIRA (unchecking "active" for ex

[2020-11-28 16:47] #3356 closed

[2020-11-28 17:03] madchap commented on #3358
Hey @cpandya2909

I created some basic steps in https://github.com/DefectDojo/Documentation/pull/158/files. This should help you out.

Of course, I'd advise you to backup first, just in case.

[2020-11-28 22:43] valentijnscholten commented on #3369
Good find. I looked at the code and this is something that looks like it has been like this for a long time, not a blocker to release 1.10.1 I think. To be honest during the JIRA refactoring I have been thinking if it even makes sense to have this rule in place. Maybe in some cases yes as you don't want duplicates and false positives pushed to JIRA.

[2020-11-29 10:45] madchap commented on #3369
Right. Maybe it could be made less stringent, but something as a "warning" like "Are you sure you want to push a non-active finding?" but still leave the choice to the user.

For instance, the security team could not be certain and want the product team to "verify" it, so in that case, it'd be good to be able to push an "active only" finding to JIRA (because product team backlog is in their issue

[2020-11-30 07:20] tahir59 commented on #3361
I have upgraded to version 1.10.1 but still same issue. In logs I can continuously see http 403 error through I am not importing anything ...

[pid: 1|app: 0|req: 68/204] X.X.X.X () {52 vars in 961 bytes} [Mon Nov 30 07:18:39 2020] POST /api/v2/import-scan/ => generated 27 bytes in 27 msecs (HTTP/1.1 403) 7 headers in 209 bytes (1 switches on core 1)
[pid: 72|app: 0|req: 137/205] 172.20.46.63 () {

[2020-11-30 09:58] Wadeck opened #3375 "Search inside findings tab does not find excerpted value"
**Bug description**
The Search box inside the Findings table (acting as a filter) does take into account only the visible values. It means that when you have a long "name", the value is excerpted to be displayed with some ... at the end. But the filter should take into account the real value, not the displayed one.

You can also check by looking just for "...", which does not appear in any of my d

[2020-11-30 15:58] CyberAbwehr opened #3376 "OpenVas Import "An error has occurred in the parser, please see error log for details.""
**Bug description**
I want to import Openvas CVE Result Reports and I got following Error

An error has occurred in the parser, please see error log for details.

**Steps to reproduce**

**Expected behavior**
That there is no error importing OpenVas CVE Reports

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [X] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment informatio

[2020-11-30 17:10] #3298 closed

[2020-11-30 17:12] #2689 closed

[2020-11-30 17:17] valentijnscholten opened #3378 "docker / docker-compose build failing since 30/11 due to pip"
pip has changed its package resolver. we tried to prepare, but some dependencies are blocking the process due to having old and very strict dependency constraints (I'm looking at you django-auditlog https://github.com/jazzband/django-auditlog/issues/250)

see #2978

[2020-11-30 19:59] valentijnscholten commented on #3378
fixed by #3379

[2020-11-30 19:59] #3378 closed

[2020-11-30 20:09] valentijnscholten opened #3385 "use predictable version of pip and other build tools"
As of today all versions before 1.10.2 can no longer be build (#3378)

This is caused by pip 20.3 using a newer and more strict dependency resolver: https://pyfound.blogspot.com/2020/11/pip-20-3-new-resolver.html

This affects also our older builds, because they are always upgrading `pip` before using it.

[code]

Or at least in the `django` Dockerfile.
(And in #3379 we added that step in the `ngi

[2020-11-30 20:15] valentijnscholten commented on #3378
changed the title to help people who are searching / googling on this error

[2020-12-01 10:22] madchap opened #3387 "OWASP DC hash computation is hardcoded"
Please enter as much information as possible, otherwise we can't provide support. If possible upgrade to the latest release or dev version and try again.

**Bug description**
The parser does not comply with the default hash computation and cannot be overriden.

https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/tools/dependency_check/parser.py#L20-L23

[2020-12-01 11:12] valentijnscholten opened #3388 "feature request: archiving products"
From time to time I have products that are phased out, so I want to remove the product from the list of products. But I want historical statistics to remain available. So maybe we could have some kind of "archive" feature. If a product (or product type?) is archived, it will be removed from the UI lists, but the (all inactive)  findings are still counting towards statistics, shown in the history g

[2020-12-01 11:14] valentijnscholten commented on #3361
clearly something is making those requests so you'll have to find our where they are coming from. also check the logs if everything has started correctly.

[2020-12-01 11:20] valentijnscholten commented on #3375
Please bear in mind this is just a client side filter, so it can only filter on data that is present there. Easiest fix for this particular usecase is to add the CVE column which is present everywhere else where we show lists of findings.

[2020-12-01 11:23] valentijnscholten commented on #3376
The screenshots shows you are (re)importing an OpenScap report? That parsers expects a XML report not a CSV report.
OpenVAS is a different parser, so you should import that as openvas report.

[2020-12-01 11:25] valentijnscholten commented on #3387
this is not the hash_code computation but another computation to avoid duplicates inside the scanner itself. not saying it is correct, but it is not used for hash_code computation.

[2020-12-01 11:49] CyberAbwehr commented on #3376
I am so sorry it was my fault.

It works perfect. ;-)

Thanks for your support.

[2020-12-01 12:11] #3376 closed

[2020-12-01 16:30] bgoareguer opened #3392 "Liveness probe fails for uwsgi container"
**Bug description**
Since DefectDojo 1.10.0 a liveness probe has been added to the uwsgi container but this probe always fails with error connection refused.

**Steps to reproduce**
1. Deploy DefectDojo in a K8S cluser using the Helm chart with default values
2. Wait for all components to be deployed
3. The django pod continuously restarts every minute (check with `kubectl get pod -l defectdojo.or

[2020-12-02 00:45] g0pinath opened #3397 "Typo in the documentation."
Please enter as much information as possible, otherwise we can't provide support. If possible upgrade to the latest release or dev version and try again.

**Bug description**
In the document https://defectdojo.readthedocs.io/en/latest/social-authentication.html, under Azure AD section, AZUREAD_TENANT_OAUTH2_ENABLED = True should be DD_SOCIAL_AUTH_AZUREAD_TENANT_OAUTH2_ENABLED = True.

Its somewhat

[2020-12-02 07:24] DarkZatarra opened #3398 "Unable to find location for failed login attempts"
I looked all over the place but I was not able to find a location where failed login attempts are stored.

I found audit logs in DB, I found access logs in nginx, but not what I am looking for.

Any guidance?

Thanks

[2020-12-02 10:03] rahulsdev commented on #2044
Hi..Did you got the solution?

[2020-12-02 21:12] valentijnscholten commented on #3398
Seems like Django doesn't log those.

[2020-12-02 21:15] valentijnscholten commented on #3397
thanks, fixed https://github.com/DefectDojo/Documentation/commit/e5f5ebf621fb2cd186d1d10a49ba1f131cc4fb30#diff-9a4272f1c2c95ef4182f4458be472ec6339c7964d9c58553be365e0d84788ed0

[2020-12-02 21:15] #3397 closed

[2020-12-02 21:16] #3392 closed

[2020-12-03 08:39] Dungeon1 opened #3400 "Defect Dojo link in jira ticket"
How change url of description jira ticket?I want format http://ip:8080/finding/
![image](https://user-images.githubusercontent.com/36472686/100984500-88b71b00-3596-11eb-8de6-666ca39fffbf.png)

[2020-12-03 09:39] ycrumeyrolle opened #3401 "Menu on "small" screens are not visible"
Defect Dojo has new features, it is great, but...
On my laptop (screen resolution 1980x1080, scaling at 150%) the menu items on the bottom are not visible, as shown on the picture:
![image](https://user-images.githubusercontent.com/1958836/100990804-98ad0b80-3552-11eb-9aa0-8c511fa5193f.png)

Seen on version 1.10.2, but it was already true on version 1.5.

[2020-12-03 11:34] bgoareguer opened #3403 "Configurable log levels when deploying in a K8S cluster"
**Is your feature request related to a problem? Please describe**
When deploying DefectDojo in a K8S cluster, there is no way to change the default log levels that are configured in files such as settings_dist.py, or the extra configuration files.

**Describe the solution you'd like**
At least I would like to be able to set log levels when deploying DefectDojo. I would then be able to just set the

[2020-12-03 12:31] rookies commented on #3400
You can set this using the `DD_SITE_URL` environment variable.

[2020-12-03 18:22] #3400 closed

[2020-12-03 18:23] valentijnscholten commented on #3401
yeah, I've seen this too. Let's hope some front-end css / javascript savy dev is around to look at it.

[2020-12-03 19:10] sempervictus opened #3405 "MySQL Container Drops Connections in Nessus Scan Import Process"
Please enter as much information as possible, otherwise we can't provide support. If possible upgrade to the latest release or dev version and try again.

**Bug description**
When importing Nessus scans (medium->large), the mysql service "goes away" per uwsgi container's parlance, with the mysql container logs showing
[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Generate ness

[2020-12-03 19:38] sempervictus commented on #3405
Solution-size, its probably fine to just add `'--max_allowed_packet=768M'` to the compose command. That number should probably be a variable somewhere more a bit more user-accessible, as should the scan file size limit.

[2020-12-03 20:03] valentijnscholten commented on #3405
we have seen this error before, but always managed to convince people to not import such massive scan reports :-)
can you test your suggestion to see if it works. and if dojo survives such a large report? might need bigger timeouts here or there as well.

[2020-12-04 09:48] mrn42 opened #3409 "Support Scoutsuite (Open source CSPM)"
Hi team,

It would be great to support reports from cloud security auditing tools like Scoutsuite or Cloudsploit, so we can have a complete overview of the security to share with product/devops teams.

https://github.com/nccgroup/ScoutSuite
https://github.com/aquasecurity/cloudsploit

Best,

[2020-12-06 15:36] valentijnscholten opened #3413 "sonarqube integration broken in 1.10.x"
sonarcube integration is broken as the celery tasks in `dojo/tools/tool_issue_updater.py` are no longer detected by the celery task discovery process.

[2020-12-06 16:21] madchap commented on #1849
The decision was taken by DefectDojo moderators. See https://defectdojo.readthedocs.io/en/latest/api-docs.html top of page for dates.

[2020-12-07 03:25] tohch4 opened #3421 "Add Flag for Initializer Container Entrypoint to Not Exit Upon Completion"
**Is your feature request related to a problem? Please describe**

When I use `docker-compose` or other AWS ECS Fargate deployments using supplied containers, it would be ideal to perform maintenance operations, scripted or manual, from the preexisting initializer container. Since this containers always exit upon completion, it must be restarted or (more applicable to cloud deployments) recreated.

[2020-12-07 09:36] madchap commented on #3421
This sounds like a bit of an anti-pattern. The initializer is made to initialize, not perform subsequent maintenance operations.

What operations are you thinking about?

[2020-12-07 10:08] ofg opened #3424 "Support for JFrog XRAY Unified (new version of XRAY)"
**Scanner Name**

JFrog XRAY (Unified version) https://www.jfrog.com/confluence/display/JFROG/Xray+Security+and+Compliance

JFrog Xray scans your artifacts, builds and Release Bundles for OSS components being used, and detects security vulnerabilities and licenses in your software components. The results of this scan are then displayed across the JFrog Platform.

XRAY Unified has a different JSON

[2020-12-07 13:13] Dungeon1 opened #3425 "Nessus scans don't import over 1mb"
![image](https://user-images.githubusercontent.com/36472686/101354502-02c20980-38e1-11eb-9f58-fedb4c1a5c5b.png)
![image](https://user-images.githubusercontent.com/36472686/101354620-2a18d680-38e1-11eb-9bad-8fe16847be65.png)
When i uploading .nessus or .csv file. Status of loading stopping on 7% or 12% and show me ERR_CONNECTION_RESET page.
My settings.dist.py
![image](https://user-images.githubuse

[2020-12-07 14:15] tohch4 commented on #3421
Hence I do not make it the default behavior? :-P

Jokes aside, we often run deployments in ECS, we can set up another task, but it is just more to do so with the existing change for this one minor difference. It just is a dead task because it completes, and keeping it warm would mean less hassle for me, maybe potentially others?

Whether local `docker-compose` or ECS as described, I then have to b

[2020-12-07 18:42] valentijnscholten opened #3426 "Reports broken on related_fields via API v2"
in `dev` / `1.10.4` an exception occurs when trying to generate a report for an engagement via API_v2:

[code]
traceback
[code]

[2020-12-07 18:43] valentijnscholten commented on #3426
Same for product report, etc.

[2020-12-08 08:15] damiencarol commented on #3134
Same pb here. I think the format of MobSF had changed a little bit.
It's the binary analysis part of the report that is broken.
I'm working on a patch to fix that. @Ivanello @jayala-29

[2020-12-08 16:36] valentijnscholten opened #3431 "product type report broken"
- view list of product types
- click on any "Report" button on the right
- observe exception.

There is an {% endif %} missing which triggers an invalid template error.

When this error is fixed, there is a javascript error if you don't select Yes for Table of Content for your report and click generate.

[2020-12-08 21:48] #3431 closed

[2020-12-08 23:36] devGregA commented on #2742
Confirmed running under a specific user that isn't root and isn't in root group.

[2020-12-08 23:36] #2742 closed

[2020-12-09 12:05] damiencarol commented on #3424
@ofg I can create you a new kind of importer but I want to understand the difference between JFrog XRAY ***Vs*** JFrog XRAY (Unified version)
Is this new "unified" version will replace the old one?

[2020-12-09 12:20] damiencarol commented on #3409
@mrn42 do you have some kind of report with this tool? JSON, CSV, XML format? an API to collect data?

[2020-12-09 12:28] damiencarol opened #3436 "tastypie-swagger: jquery-1.8.0.min.js is vulnerable"
DefectDojo use django-tastypie-swagger which use JQuery 1.8.0 (vulnerable to multiple security issues).

### Finding

File Path: tastypie_swagger\static\tastypie_swagger\js\lib\jquery-1.8.0.min.js
MD5: cd8b0bffc85bb5614385ee4ce3596d07
SHA1: 359c6c1ed98081b9a69eb3513b9deced59c957f9
SHA256:d73e2e1bff9c55b85284ff287cb20dc29ad9165ec09091a0597b61199f330805

### References

CVE-2012-6708
CVE-2015-9251
C

[2020-12-09 12:30] damiencarol commented on #3401
Same pb here. I used "Zoom out" feature of my browser. not perfect but... I agree with @valentijnscholten ,  the UI could use some refresh 😅

[2020-12-09 12:38] valentijnscholten commented on #3436
Thanks, good to remind us that dependabot doesn't update static dependencies bundled with other dependencies.
Next time please follow the security policy when reporting vulnerabilities as described.
API v1 is EOL life end of the month, which would allow us possibly to remove the swagger ui for API v1.

[2020-12-09 12:39] damiencarol commented on #3387
@valentijnscholten @madchap is it a good way to do it (detecting duplicate in the parser itself)?

[2020-12-09 12:42] valentijnscholten commented on #3436
https://github.com/DefectDojo/django-DefectDojo/issues/3436 maybe someone can submit a PR to them :-)

At first sight the vulnerabilities don't look to severe, but there might be a lot more not officially known.

[2020-12-09 15:56] madchap opened #3437 "Active (regular user) should be able to add findings if they're allowed for the product"
We have 2 variables today to allow regular users some more powers over authorized products:

[code]

However, the CHANGE right does not allow a user to manually add a finding. The button is still there though, and this gives them a 403 error.

I believe we should embed that manual "ADD" right into CHANGE.

This request does not encompass a user being able to IMPORT a full report, just adding manua

[2020-12-09 15:56] damiencarol commented on #3310
@ealkalai could you provide a report of this scanner?

[2020-12-09 19:48] madchap commented on #2718
I think this can be closed, per https://github.com/DefectDojo/django-DefectDojo/pull/2765?

@undelete, can you confirm?

[2020-12-09 20:12] madchap commented on #3437
I guess somehow addressed by https://github.com/DefectDojo/django-DefectDojo/pull/2765 -- even though that option opens everything up to the product.

[2020-12-09 20:15] madchap commented on #3437
And maybe that's good enough. Closing for now.

[2020-12-09 20:15] #3437 closed

[2020-12-09 22:17] #3413 closed

[2020-12-09 22:29] madchap opened #3441 "Enhance (full) risk acceptance"
**Is your feature request related to a problem? Please describe**
## Full risk acceptance acceptance Form

- While on a specific finding and clicking `Add full risk acceptance`, the default title is not ideal.
- While on a specific finding and clicking `Add full risk acceptance`, the landing screen does not pre-select the finding we were looking at. You have to find it again in the list.
- Today,

[2020-12-09 22:58] valentijnscholten commented on #3441
Sounds good to me. One thing I was thinking about. I think a more generic  'deadline' field instead of 'sla_date' would be helpful. At finding version it can be set based on sla days. But on risk acceptance it could be set to the end date of the acceptance. When it expires it can be {optionally) set again to be another 'sla days' in the future.
It would also allow us to have a possible override fe

[2020-12-09 23:37] devGregA commented on #3351
Closing as this seems to be outside the scope of Dojo. Please use the Slack channel for additional  community assistance or communication.

[2020-12-09 23:37] #3351 closed

[2020-12-09 23:39] devGregA commented on #3358
Closing as this appears to be resolved. Please create a new ticket if needed.

[2020-12-09 23:39] #3358 closed

[2020-12-10 01:25] Dungeon1 commented on #3425
Our IPS module blocked my import scan :)

[2020-12-10 01:25] #3425 closed

[2020-12-10 01:29] Dungeon1 opened #3442 "jira: Epic name field required error when pushing finding"
When i pushing finging on Jira software he required epic name. I set up epic name id. Epic name it required field on Jira. How i can set up on Dojo this field?

[2020-12-10 07:52] DarkZatarra commented on #3398
As far as I understood they can be added. I can do that but it will take time - which I do don't have at the moment. That's why I was hoping somebody else has it already or can do it faster.

[2020-12-10 07:57] ofg commented on #3424
Hi @damiencarol , I am not completely familiar with the product strategy of JFrog. But what I understand from the user documentation https://www.jfrog.com/confluence/display/JFROG/ : There is an "old" version XRAY 2.x and a current version "JFrog Unified Platform". We are using the current version. The export looks like the one attached and it differs to the export stored here: https://github.com/

[2020-12-10 08:16] valentijnscholten commented on #3442
What happens if you do the steps from the docs? https://defectdojo.readthedocs.io/en/latest/features.html?highlight=jira#jira-integration

[2020-12-10 09:22] damiencarol opened #3445 "Support SARIF (OASIS Static Analysis Results Interchange Format)"
**SARIF parser**
SARIF represents a leap forward in the usability of static analysis tools. Many organizations in the safety and security communities use several competing tools on their code. SARIF will allow them to combine and compare the results more easily to gain a sharper picture of the issues in their code that need to be addressed. Engineering teams will be able to easily access a broad r

[2020-12-10 10:51] valentijnscholten opened #3446 "product report without product id throws exception"
affect 1.10.4 (and earlier) (and dev with the report fixes in place)
- goto product overview at /product
- open context menu on right
- click 'product report'
- observe exception

[code]

[2020-12-10 11:07] valentijnscholten commented on #3446
not sure what it is supposed to do as without a product (id) it can't generate a product report anyway, but in the code it looks like it's ending up in the "Finding Report" section.

[2020-12-10 14:13] Dungeon1 commented on #3442
I complete all steps. Jira integration works. I can pushing all issue type(Task, story, bug, security etc), but cant epic. On Jira epic issue have required fields: theme and epic name. Theme is name of finding, but epic name i dont know and Dojo may be too. Epic name id(10102, default) on Jira settings on Dojo correctly set up, because he pushing finding but got error "Epic name required".

[2020-12-10 14:47] valentijnscholten commented on #3442
So are you trying to push a finding to JIRA as an epic? Or are you creating an epic from an engagement? The first one won't work because findings don't send epic name. The second one should work.

[2020-12-10 14:48] tohch4 commented on #3445
I'd be super excited to help with this @damiencarol. See DefectDojo/django-DefectDojo#2720 for previous discussion, but I thought there little or not interest. If there are two of us, I would like to move this forward!

[2020-12-10 15:27] valentijnscholten commented on #3442
If there's an exception when pushing to JIRA, defect dojo prints the metadata from JIRA. Can you paste it here? Maybe we can easily set the epic name field if we see that it is present in the metadata.

[2020-12-10 15:53] whitespots opened #3447 "Burp suite json format"
**Scanner Name**
Burp Suite **Pro**

**Sample File**
[example.json](https://github.com/DefectDojo/django-DefectDojo/files/5673899/example.txt)

**Where is a problem with existing reporters?**
They don't support json and burp can not export it's results in xml via REST API.
It makes integration very difficult.

**Why is it important?**
It can be integrated in CI/CD in docker (will update this ticke

[2020-12-10 16:00] whitespots commented on #3447
https://github.com/whitespots/burp_docker

[2020-12-10 16:05] Sabartius commented on #3368
Having the error in 1.10.4:
https://github.com/DefectDojo/django-DefectDojo/blob/09cf49203aaf4f25533f601da9e47ab3791450f4/dojo/tasks.py#L234

[code]

[2020-12-10 20:36] #3385 closed

[2020-12-10 20:37] valentijnscholten commented on #2784
Please come to slack if you're still experiencing errors.

[2020-12-10 20:37] #2784 closed

[2020-12-10 20:37] valentijnscholten commented on #3340
please come to slack if you're still experiencing errors

[2020-12-10 20:37] #3340 closed

[2020-12-10 21:08] Wadeck opened #3451 "Search using tag on Test/Engagement"
**Is your feature request related to a problem? Please describe**
In our instance, we are using tags. We are using them with external scripts to do various stuff from reporting to auto-managing the findings.

On the finding, we are using tags about the status inside our internal process.

On the test, we are using tags about specific part of the products impacted.

On an engagement, we are using t

[2020-12-11 01:19] Dungeon1 commented on #3442
Yes

How i can this do?

[2020-12-11 01:24] Dungeon1 commented on #3442
I want create issue on Jira with subtask for each hosts. It's real with Dojo?

[2020-12-11 01:32] Dungeon1 commented on #3442
fields from Jira is too much and i can't give information from pre-prod jira

[2020-12-11 03:40] Dungeon1 opened #3452 "https redirect"
I set up Dockerfile.nginx
![image](https://user-images.githubusercontent.com/36472686/101858583-9b90a780-3bb5-11eb-9d82-de0e43fd5349.png)
set up nginx_TLS.conf
![image](https://user-images.githubusercontent.com/36472686/101858656-c5e26500-3bb5-11eb-8e0c-124342b9ef60.png)
Trying $host$request_uri
$host:8443$request_uri and redirect working how on screenshot
![image](https://user-images.githubuserco

[2020-12-11 08:23] ealkalai commented on #3310
@damiencarol, at the moment it is supported only the dependency scan feature of snyk.

Snyk offers, additionally, container scanning, which is not accepted by the `Snyk Scan` **Scan Type**. (defect dojo version 1.65)

I looked at your edited comments and here is a json report from snyk container test
[snyk-container.zip](https://github.com/DefectDojo/django-DefectDojo/files/5677960/snyk-container.

[2020-12-11 08:49] Sabartius commented on #3368
This Error occurs when deduplicating Dependency-Track Findings (FPE), which we configured to HASH_CODE_ALGO and using following params `'Dependency Track Finding Packaging Format (FPF) Export': ['cwe', 'severity', 'file_path'],`
This worked fine with 1.6.5 but after Upgrading to 1.10.4 instead of duplicates we get the error metioned above. Any Ideas @valentijnscholten ?

[2020-12-11 16:56] valentijnscholten opened #3455 "DSoP parser no longer working: Excel xlsx file; not supported"
As of today the unit tests seem to be failing with the below error. This means also the DSoP parser probably no longer works when somebody builds the django container today or later.

[code]

[2020-12-11 17:03] valentijnscholten commented on #3455
caused by `xlrd` 2.0.0 being released today and not pinned in `requirements.txt`

[2020-12-11 17:21] valentijnscholten commented on #3455
to fix this, apply the change from https://github.com/DefectDojo/django-DefectDojo/pull/3457 to your local install and rebuild.
or wait for that PR to be release into 1.11.0 or 1.10.5

[2020-12-11 18:02] #3455 closed

[2020-12-11 18:09] valentijnscholten commented on #3445
it sounds interesting, don't think anybody noticed there was discussion around this in another PR.

[2020-12-11 18:43] tohch4 commented on #3445
I am very interested in this space, I can look into on the weekend and revive previous draft efforts, unless @damiencarol wants to work it with us or for us, I will try and move ahead.

My main question: this is not tied to an import type anymore, and is more generalized. `semgrep` obviously supported, but a variety of static analysis tools have rapidly ramped up support after Github and Gitlab ha

[2020-12-11 19:46] damiencarol commented on #3445
@tohch4 @valentijnscholten Thanks a lot for your feedback. I'm pushing a branch with a minimum viable code and unit tests.
Take a look at the big SARIF report. It's a scan of DefectDojo itself... 😆

⚠️  One thing that bothers me is that SARIF support multiple items which are "Test" in DefectDojo but the current code doesn't allow that (a parser that create data in more than one Test)

[2020-12-11 19:51] damiencarol commented on #3445
pushed some code to cover this issue #3464

[2020-12-12 12:50] damiencarol commented on #3447
@whitespots is Burp able to export to SARIF format?

[2020-12-12 13:13] httpnotonly commented on #3447
I think it is not possible to return anything else in API :)

[2020-12-12 13:21] damiencarol commented on #3447
I can take a look but maybe a small script in Python that get data from API and push it to DefectDojo API is an easy solution (we do that with BlackDuck Hub at my company)

[2020-12-12 13:24] damiencarol commented on #3447
@whitespots I love your video :D .    the exemple rpeort in JSON is from the API of Burp Suite Pro?

[2020-12-12 20:58] #2808 closed

[2020-12-13 09:10] whitespots commented on #3447
Thanks :)
Exactly, it is from REST API

[2020-12-13 10:51] damiencarol commented on #3445
@tohch4 if you can find me more SARIF exemple files, it could be very usefull.

[2020-12-13 11:05] valentijnscholten commented on #2433
Not sure if this would be helpful / needed. You can get lots of false positives for CVEs that are already fixed because the openssl instance was already updated/patched. Also monitoring NVD/CVE is not the most reliable way, it's better to subscribe to bulletins from the vendor / authors. Defect Dojo is designed to import reports with findings so this request is a bit outside it's core tasks and fo

[2020-12-13 11:06] #2433 closed

[2020-12-13 11:08] valentijnscholten commented on #2833
RTF urlbar ;-)

On the top of the screen between logo and search field we have lots of space, so we could add an "instance name" kind of value there. Possibly from settings.py so it can be easily overriden per environment without doing db queries.

[2020-12-13 13:13] madchap commented on #2833
Bah, RTF urlbar is very valid :+1:

Between this and being able to have the browser's back button with meaningful info to get back to things you want, I'd rather spend time on the latter.

[2020-12-13 13:13] #2833 closed

[2020-12-14 18:33] buranbr opened #3470 "Error Importing Webinspect XML"
When I try to import Webinspect Enterprise version 20.1.0 XML files, i get the following error:
Error in parser: local variable 'cwe' referenced before assignment

I´m running the most recent version of defectdojo on Docker Desktop for Windows, from WSL Ubuntu

[14/Dec/2020 18:19:55] ERROR [dojo:598] local variable 'cwe' referenced before assignment
Traceback (most recent call last):
  File "./doj

[2020-12-15 07:55] saldam72 opened #3472 "encrypt connection to external/on premise MySQL"
Hello Team,
I have deployed DefectDojo 1.10.4 on Kubernetes cluster with an external/on premise MySQL and I want to encrypt database connection. How can I do ?

Best
Sal

[2020-12-15 11:47] damiencarol commented on #3445
@tohch4 @valentijnscholten pushed more code with more unit tests.
Waiting for feedback.

@tohch4 : if you want to contribute/improve you can fork my branch and/or copy/paste some code from my work. I'm open to any contribution.

[2020-12-15 14:33] tohch4 commented on #3445
@damiencarol, I'll look later this afternoon, thanks! The last time I did this, I generated samples from `semgrep`. It seems [I added SARIF output after all](https://github.com/DefectDojo/sample-scan-files/commit/f1e1df958b67c25d8f3d12709c26b3b4e6d9e489#diff-649497b0b7549e8d0d54865051d2413e28e8321d2f93ea031f5c29991a7eb703). Let me think of other places to go with it!

[2020-12-15 17:28] Wadeck opened #3475 "UI artifact about number of columns for review message"
Reproduction:
- Request a review from a finding
- Come back to the finding view

Expectations:
- Number of columns match and there is no "hole"

![Screenshot_2020-12-15_182650_001](https://user-images.githubusercontent.com/2662497/102249971-3dd8c400-3f03-11eb-9cfa-5049b5bb9f9f.png)

[2020-12-15 17:30] madchap commented on #3475
you're such a nitpick :-D

[2020-12-15 21:12] #1812 closed

[2020-12-15 21:44] madchap commented on #2715
Probably superseded by #3441

[2020-12-15 22:18] valentijnscholten commented on #3475
No need to hide screenshots BTW

[2020-12-15 22:59] #3421 closed

[2020-12-15 23:59] michaelgibson commented on #3368
Was getting this as well
Setting "Max Duplicates" in System Settings to something seems to stop celery from throwing that error constantly.
May want to have a default for this?
![image](https://user-images.githubusercontent.com/2904692/102287027-cb61e700-3ef6-11eb-8e43-d678c9645bbb.png)

[2020-12-16 04:14] tohch4 opened #3478 "Large Test Data Set for Performance and Load Monitoring"
**Is your feature request related to a problem? Please describe**
As discussed with @valentijnscholten and others in OWASP Slack and elsewhere, there is a need for larger size datasets that can be loaded into a testing environment to perform ad hoc load and performance testing.

**Describe the solution you'd like**
As a developer, in order to perform load test and performance test a DefectDojo ins

[2020-12-16 04:15] tohch4 commented on #3478
As discussed, I am willing to take on development work around this moving forward, to those devs that can assign! :-)

[2020-12-16 07:25] valentijnscholten commented on #3368
Aha. When first looking at the traceback I thought this would only occur if there were no duplicates found. But it's when no maximum number of duplicates is set. Good to have an easy work arkound, we'll see about a default.

[2020-12-16 07:44] valentijnscholten commented on #3478
I think it would be usefule to have some kind of non-sensitive / anonymous larger data set which "people" can use to test their PRs against. We sometimes see PRs that are working fine, but can be (very) slow on medium to large instances.

[2020-12-16 09:02] ZsanettMagyar opened #3479 "iOS MobSF report import to DefectDojo doesn't work"
**Bug description**

I have a MobSF iOS report in json format and we try to import it to DefectDojo, but it can't parse the json, so we can't se the results in DefectDojo.

DefectDojo version: v. 1.10.1 ( release mode )
    deployed with docker-compose
   commit:  [2020-11-29 15:50:10 +0100] a585f90f: Merge pull request #3370 from DefectDojo/release/1.10.1 [ (HEAD -> master, tag: 1.10.1, origin/ma

[2020-12-16 12:03] valentijnscholten commented on #3368
"adding a quick default" turned into "refactoring the whole dedupe job", see PR.

[2020-12-16 14:47] ZsanettMagyar commented on #3479
Maybe it's related to https://github.com/DefectDojo/django-DefectDojo/issues/3134
But in our case, DefectDojo can process an Android analysis JSON file, but not the iOS.

[2020-12-16 15:01] valentijnscholten commented on #3310
so the container scans is different file, or are they both in the same report file?

[2020-12-16 15:04] valentijnscholten commented on #3479
@ZsanettMagyar seems like the same issue and should (could) be fixed in dev. Are you able to try against the `dev` branch?

[2020-12-16 16:11] ZsanettMagyar commented on #3479
@valentijnscholten I tried, but it's not working:

DefectDojo version: v. 1.11.0-dev ( release mode )

[2020-12-16 16:40] ealkalai commented on #3310
Snyk exports these files via different processes. So I assume they are not compatible. If they were I could have uploaded via the existing functionality of defect dojo.
________________________________
From: valentijnscholten <notifications@github.com>
Sent: Wednesday, December 16, 2020 4:02:08 PM
To: DefectDojo/django-DefectDojo <django-DefectDojo@noreply.github.com>
Cc: Erikos Alkalai <erikos@al

[2020-12-16 18:15] valentijnscholten commented on #3310
It doesn't always work like that. There are scanners who put multiple sections in a report depending on chosen scan or export settings. For example twistlock and I believe qualys also does it.

[2020-12-16 18:16] valentijnscholten commented on #3479
@damiencarol or @ZsanettMagyar  are you able to check out the error and make a PR? might be something simple like a field not always being present.

[2020-12-16 18:17] valentijnscholten commented on #3134
@jayala-29 is this specific error now resolved for you?

[2020-12-16 20:28] valentijnscholten commented on #3368
Fixed in dev / 1.11.0

[2020-12-16 20:28] #3368 closed

[2020-12-17 05:41] madchap opened #3485 "Reports broken after tagulous update"
**Bug description**
Generating a test report, discovered when testing https://github.com/DefectDojo/django-DefectDojo/pull/3402

[code]

fyi @valentijnscholten

[2020-12-17 06:54] damiencarol commented on #3479
@valentijnscholten I can take this one. It is similar to the #3134 bug that I fixed with #3429 (same kind but not the same attribute).
I will push a PR today.
@ZsanettMagyar could you provide a report? it helps a lot.

[2020-12-17 07:39] valentijnscholten commented on #3485
At first I didn't understand why the integration test didn't fail on this. But when you have a PR, GitHub tests against the dev branch where the PR was branched of. So it doesn't test against the latest dev code. We could start requiring PRs to be up to date with the dev branch before merging to prevent this, will put it on the agenda. Will fix also the bug.

[2020-12-17 08:16] ZsanettMagyar commented on #3479
@damiencarol report is attached. Thanks!

[ios.zip](https://github.com/DefectDojo/django-DefectDojo/files/5707862/ios.zip)

[2020-12-17 08:25] valentijnscholten commented on #3479
Ideally we add a unit test, which would also make it easier for others to maintain this parser.

[2020-12-17 09:01] damiencarol commented on #3479
@valentijnscholten @ZsanettMagyar I will add the 2 reports and a specific unit test to check your high severity issues. If you can give me the IDs of the findings in the report that are not detected it will help me also.

[2020-12-17 09:12] ZsanettMagyar commented on #3479
@damiencarol  these are the IDs of the missing android findings:

- android_insecure_random
- android_md5
- android_webview_debug
- android_hardcoded
- android_temp_file
- android_aes_ecb
- android_read_write_external
- android_sql_raw_query
- android_sha1
- android_insecure_ssl

[2020-12-17 09:56] madchap opened #3488 "jira_link.helper bombs on add_comment_task"
[code]

[2020-12-17 12:41] #3485 closed

[2020-12-17 12:46] valentijnscholten commented on #3488
duplicate of #3453 and fixed in dev

[2020-12-17 12:46] #3488 closed

[2020-12-17 13:15] damiencarol commented on #3479
@ZsanettMagyar @valentijnscholten my analysis:
1) There is an error during import because @ZsanettMagyar uses version 3.1.6 of MobSF and there only have unit tests for 3.1.9 reports.
2) @ZsanettMagyar see that for imports that work, there are no security issues. It comes from another implementation limitation: in the current version all findings are imported as "Info" (hardcoded)

I'm preparing a

[2020-12-17 15:00] ZsanettMagyar commented on #3153
@jagusztinl  https://github.com/DefectDojo/django-DefectDojo/pull/3150#issuecomment-747395550

[2020-12-17 18:02] damiencarol commented on #3310
I will compare both reports and try some unit tests. Thanks for providing the data @ealkalai it helps a lot!

[2020-12-18 03:13] tohch4 commented on #3478
After discussing with @danielnaab and company, I realized I can try two two approaches, one more than I planned on.

1. A quick and dirty fixture script in JSON format to load a fun amount of data, easy but slow.
1. A [`bulk_create`](https://docs.djangoproject.com/en/3.1/ref/models/querysets/#bulk-create) utility script/class, potentially as a django-admin `manage.py` command to build a larger dat

[2020-12-18 13:10] beedle- opened #3494 "Filter finding by date when generating a report"
I would like to filter the findings by date when generating a report

[2020-12-18 14:51] alles-klar commented on #3441
Sounds good.

But I prefer to make it configurable if the sla time should be reseted. From my point it should be not reseted because you know how long the risk is accepted. It is not an unpredictable event like a new vulnerability, so no need for an sla.

Furthermore I am not sure what happens at the moment when a risk acceptance expires. I expect the findings are marked active again, but I do not

[2020-12-19 08:14] valentijnscholten commented on #2081
#3449 again made this a bit better

[2020-12-19 08:16] valentijnscholten commented on #2755
I run into this problem with lots of integrations with JIRA and in the end the only solution is to make all the non standard fields optional in JIRA to be able to integrate with other tools like Sentry, Gitlab, JIRA, Zendesk, ..

[2020-12-21 04:58] tahir59 commented on #3361
the issue got fixed after adding MemoryFileUploadHandler in below file.

dojo/settings/settings.dist.py

FILE_UPLOAD_HANDLERS = (
    "django.core.files.uploadhandler.MemoryFileUploadHandler",
    "django.core.files.uploadhandler.TemporaryFileUploadHandler"
)

[2020-12-21 09:28] NRGLine4Sec commented on #1886
unstale

[2020-12-21 15:27] bp4151 opened #3520 "OSSIndex DevAudit SCA Scanner"
**Scanner Name**

OSSIndex DevAudit Source Composition Analysis Scanner

- https://ossindex.sonatype.org/
- https://github.com/sonatype-nexus-community/DevAudit

**Sample File**
json format
[devaudit_results.zip](https://github.com/DefectDojo/django-DefectDojo/files/5725083/devaudit_results.zip)

[2020-12-21 15:29] bp4151 commented on #3520
I've never worked on an open source project before. I am happy to code this myself if someone is willing to provide some guidance as to the process...

[2020-12-21 17:53] madchap commented on #3296
Anything you'd like to do for this?

[2020-12-21 17:54] madchap commented on #3144
Seems `url` is used instead of `full_url` in templates.

[2020-12-21 18:02] valentijnscholten commented on #3296
Of you disable them globally in settings.py, why show this option which won't do anything but confuse the user?

[2020-12-21 19:33] valentijnscholten commented on #3144
@marcosValle the full_url is relatively new and not used everywhere yet. Are you able to take a stab at creating a PR?

[2020-12-21 19:39] valentijnscholten commented on #3520
Thanks for the offer. If you look a [CONTRIBUTING.md](https://github.com/DefectDojo/django-DefectDojo/blob/master/CONTRIBUTING.md) and [DOCKER.md](https://github.com/DefectDojo/django-DefectDojo/blob/master/DOCKER.md) you'll see some instruction on starting the docker-compose setup in dev mode.

Adding a parser is not too hard, easiest is to look at these two examples to see what is needed:
https:

[2020-12-22 09:24] madchap opened #3522 "Saving an inactive finding should not mark it automatically as mitigated"
**Bug description**
Upon importing scans as "Inactive" (debating of actually status semantics or use-case is certainly another effort), editing the finding and then saving it moves the finding in "Inactive, Mitigated" status, which is the wrong thing to do.

fyi @Wadeck

[2020-12-22 09:24] #3319 closed

[2020-12-22 10:29] madchap opened #3524 "Losing SLA information when mitigated within SLA range"
**Bug description**
(When the SLA feature is activated of course)

When a finding gets mitigated in time, its SLA counter gets set to `0` and in blue background (red is for findings that are not mitigated in time, green for those that still have time remaining). When mitigated out of time, also set to `0` and background is orange.

This means we're losing the positive fact that teams have actually

[2020-12-22 13:27] madchap opened #3526 "[APIv2] cvssv3 considered mandatory"
When testing something random, with an empty string

[code]

[2020-12-22 14:13] macedogm opened #3527 "Error importing Prisma Cloud / Twistlock CSV file from "Deployed Images" in Prisma/Twistlock"
When importing a Twistlock image scan CSV file generated in Prisma Cloud / Twistlock interface in Compute > Monitor > Vulnerabilities > Images > Deployed Images or also from their API [/images](https://cdn.twistlock.com/docs/api/twistlock_api.html#images), DefectDojo will fail with an error when parsing the CSV file.

[code]

According to DefectDojo documentation about [Twistlock](https://defectdo

[2020-12-22 15:56] yilmi commented on #3470
Hi @buranbr, You should be able to test the fix from the project's dev branch now, I used your examples but let us know if you find other issues.
Also, as this is part of the dev branch it should land in a future release, you can check the releases notes.

[2020-12-22 17:46] devGregA opened #3530 "Endpoint Statuses are not updated when a finding is closed."
**Slack us first!**
The easiest and fastest way to help you is via Slack. There's a free and easy signup to join our #defectdojo channel in the OWASP Slack workspace: [Get Access.](https://owasp-slack.herokuapp.com/)
If you're confident you've found a bug, or are allergic to Slack, you can submit an issue anyway.

**Be informative**
Please enter as much information as possible, otherwise we can't

[2020-12-23 08:42] valentijnscholten commented on #3527
Thanks for reporting. Are you able to look at making a small PR to support this usecase?

[2020-12-23 09:29] macedogm commented on #3527
Hi @valentijnscholten 👋🏻
Can you please have a look in the proposed PR #3532?

[2020-12-23 10:26] damiencarol commented on #3424
@valentijnscholten you can assign it to me, I will create an importer for this one.

[2020-12-23 10:44] damiencarol commented on #3447
@valentijnscholten you can assign it to me, I will work on an importer for this one.

[2020-12-23 12:05] macedogm opened #3533 "New importer - GitLab Dependency Scanner"
**Scanner Name**
I would like to request a new importer for [GitLab Dependency Scanner](https://docs.gitlab.com/ee/user/application_security/dependency_scanning/) reports. This importer is a bit different from the current GitLab SAST importer available in DefectDojo. The generated reports from both scanners are slightly different

**Sample File**
The file format is JSON.
[gl-dependency-scanning-re

[2020-12-23 12:05] macedogm commented on #3533
I'll submit a PR adding this importer still today.

[2020-12-23 14:33] blue4209211 commented on #1824
Hey,
I am also facing similar issue, can you please let me know steps to resolve this.

[2020-12-23 14:57] macedogm commented on #3533
PR submitted and ready for review #3534.

[2020-12-23 15:36] marcosValle commented on #3144
Sure, let me give it a try.

[2020-12-23 20:24] marcosValle opened #3537 "Broken Slack notifications when username is not set"
**Bug description**
When sending a Slack notification without a username set in the profile, the application throws an error and notifications are not sent.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Set the Slack app token, user e-mail and check the 'add_product' box for slack notifications. Do not fill "slack username"field.
2. Add a new product
3. An error similar to the follow

[2020-12-24 10:16] damiencarol commented on #3447
@whitespots I will need more reports and/or documentation of the API. For now, the scan you provided only shows "info" severity findings.

[2020-12-24 14:59] dania-abbas opened #3544 "Liveness probe failed: Get http://POD_IP:8081/login?next=/: dial tcp POD_IP:8081: connect: connection refused"
Can you please help on the below:

I have deployed the latest release of defectdojo helm in gke cluster, But once it is deployed i got the below error
`Liveness probe failed: Get http://POD_IP:8081/login?next=/: dial tcp POD_IP:8081: connect: connection refused`

when i checked the logs for the pod on the container uwsgi, It shows the below error :
django.db.utils.OperationalError: FATAL:  **passw

[2020-12-24 18:20] valentijnscholten opened #3546 "metrics: exception when browsing to product metrics"
when browsing directly to a product metrics page, there is no referrer and this generates an exception:

[code]

[2020-12-24 18:22] valentijnscholten opened #3547 "metrics: no findings in product metrics due to swallowed exception"
on the product metrics there are no findings shown. there is a try-catch that swallows the exception, but the exception is:

[code]

[2020-12-24 18:35] valentijnscholten commented on #3546
Seems to be caused by multiple levels of 'get earliest finding' and 'get earliest date' and daterangefilter in the productmetricsfindingfilter.

[2020-12-24 18:36] valentijnscholten commented on #3547
Seems to be caused by multiple levels of 'get earliest finding' and 'get earliest date' and daterangefilter in the productmetricsfindingfilter.

[2020-12-24 18:38] valentijnscholten opened #3548 "metrics: extremely slow loading (product) metrics"
since #2974 and #3410 the metrics have become very slow. I'm seeing 45s loading times on a 15k instance and >3 minutes loading time on a 700k instance.

[2020-12-24 18:54] valentijnscholten commented on #3547
![image](https://user-images.githubusercontent.com/4426050/103103502-c94c0680-4621-11eb-8811-c49a7840c150.png)

[2020-12-24 18:54] valentijnscholten commented on #3547
happens when a product has no new findings in the last 30 days. it looks like the code is trying to prevent this from happening, but is failing.

[2020-12-24 19:17] valentijnscholten opened #3550 "calendar: unauthorized data shown"
the calendar uses the @cache_page decorater but is missing the @vary_on_cookie to make sure the cache is cached on a per user basis

[2020-12-25 12:26] #1906 closed

[2020-12-25 12:26] #2848 closed

[2020-12-25 12:26] #2863 closed

[2020-12-25 19:32] #2761 closed

[2020-12-25 22:44] #2905 closed

[2020-12-26 10:17] valentijnscholten opened #3554 "product metrics: daterangefilter not showing and silently falling back to monthly"
related to #3547

[2020-12-26 10:25] valentijnscholten opened #3555 "metrics: earliest finding logic uses global variable causing flaky results"
The metrics filters use a global variable EARLIEST_FINDING. Every process has their own instance of this so things may change between page refreshes causing confusing results and making it almost impossible to debug the metrics using the debug toolbar and analyzing queries

[2020-12-27 11:53] #3537 closed

[2020-12-28 00:56] breckwoldt opened #3556 "Login error due to incompatible PyJWT dependency"
I can´t login in defectdojo after first installation.

I use the Version 1.10.4 and Docker deployment. After docker-compose up i reach the webinterface on localhost:8080.

When i try to login i get an Server Error 500. On the commandline i find these information:

uwsgi_1         | ERROR:django.request:Internal Server Error: /login
uwsgi_1         | Traceback (most recent call last):
uwsgi_1

[2020-12-28 08:27] valentijnscholten commented on #3556
See https://github.com/DefectDojo/django-DefectDojo/pull/3536

[2020-12-28 08:30] madchap commented on #3556
We've got a new release coming up tomorrow too (1.11.0).

[2020-12-28 14:32] valentijnscholten commented on #3144
fixed by #3538

[2020-12-28 14:32] #3144 closed

[2020-12-28 17:15] madchap commented on #3426
should be fixed then?

[2020-12-28 17:15] #3426 closed

[2020-12-28 18:00] #3522 closed

[2020-12-28 18:00] #3546 closed

[2020-12-28 18:00] #3547 closed

[2020-12-28 18:00] #3548 closed

[2020-12-28 18:01] #3207 closed

[2020-12-28 18:01] #3554 closed

[2020-12-28 18:01] #3555 closed

[2020-12-28 20:04] macedogm commented on #3527
PR #3532 got merged. Closing issue.

[2020-12-28 20:04] #3527 closed

[2020-12-29 01:49] devGregA opened #3563 "Scan tags are not populated on reupload."
**Bug description**
Scan tags are not populated on reupload.

**Steps to reproduce**
1. Upload a scan and set a tag.
2. When reuploading, the tag is missing in the form and is deleted.

**Expected behavior**
A clear and concise description of what you expected to happen.
Tags previously added should be populated in the re-upload form.

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes

[2020-12-29 14:31] mfocuz commented on #3556
Should this problem be fixed already? I still have the same error after pulling changes.

[2020-12-29 15:05] #3533 closed

[2020-12-29 15:41] breckwoldt commented on #3556
Yes the change of the requirements.txt have fix my problem.

[2020-12-30 11:26] damiencarol opened #3569 "Switch API v2 to OpenAPI Specification v3.x"
**Is your feature request related to a problem? Please describe**
The API v2 generate currently OpenAPI v2 definitions.

**Describe the solution you'd like**
As a User, I want to have an API that supports v3 of OpenAPI

**Describe alternatives you've considered**
Tried to convert schema file from `/api/v2/doc/?format=openapi` with some online tools without success.

**Additional context**
The curr

[2020-12-30 11:27] damiencarol commented on #3556
Clearly a duplicate of #3536. Could we close it @valentijnscholten @madchap ?

[2020-12-30 11:30] damiencarol commented on #3526
@madchap what's the issue here? That's the attribute is mandatory?

[2020-12-30 11:33] valentijnscholten commented on #3556
It's not a duplicate because that is a PR.

[2020-12-30 11:33] valentijnscholten commented on #3556
Fixed in 1.11.0

[2020-12-30 11:33] #3556 closed

[2020-12-30 11:38] #3550 closed

[2020-12-30 11:38] #3524 closed

[2020-12-30 17:37] dan-kennedy commented on #3097
Apologies if this isn't directly related but seeing the following on RHEL 7.9 & trying to figure out how to fix:

`Downloading django-auditlog-0.4.7.tar.gz (11 kB)
Collecting django-custom-field
  Cloning https://github.com/DefectDojo/django-custom-field.git (to revision 4e095dd9119858e90fd21560e5618c6347e4ef1b) to /tmp/pip-wheel-thf29ykk/django-custom-field
ERROR: Command errored out with exit st

[2020-12-30 18:08] valentijnscholten commented on #3097
update to 1.11.0

[2020-12-30 18:53] dan-kennedy commented on #3097
Thanks.  I did a fresh clone this morning so it should be on 1.11.0 regardless.  When I try to just do individual builds against uwsgi or nginx, it still errors at the same point which refers to the aforementioned error.

[2020-12-30 18:57] valentijnscholten commented on #3097
On second thought it doesn't look related to the pip thing. Are you using Docker? Anything is not tested. Also looks like mixing python2 and 3? It looks like the git clone failed.

[2020-12-30 18:58] valentijnscholten commented on #3097
You could try to install the official customfields instead of our clone, will probably work just fine.

[2020-12-30 19:18] dan-kennedy commented on #3097
Yes this is being done via 'docker-compose build'.  I've tested the clone for djagno-custom-field manually, even into /tmp/ where the script defaults & that works fine.

I have also tried just installing the official manually via PIP & that was fine also:
"Requirement already satisfied: django-custom-field in /usr/lib/python2.7/site-packages (3.0)"

`$ git clone -q https://github.com/DefectDojo/dj

[2020-12-30 19:21] valentijnscholten commented on #3097
I think you can just replace:
`git+https://github.com/DefectDojo/django-custom-field.git@4e095dd9119858e90fd21560e5618c6347e4ef1b#egg=django-custom-field`
with
`django-custom-field`
and rebuild with `--no-cache`

[2020-12-30 22:42] madchap commented on #3526
Actually, non blank. Got that whenever I was testing things with the apiv2 swagger and prepopulated json with all fields. It is actually probably warranted, just quickly created this before I forget, but it should be OK. Will go ahead and close.

[2020-12-30 22:42] #3526 closed

[2020-12-30 22:47] madchap commented on #3478
Will not work, I went down that path. Fixtures are only for smaller sets.

I think my comment for 1. will also apply here. Fixtures are no good for big load or perf tests.

I was successful in doing some fairly OK data anon placing myself in the middle of my prod database and some target database doing a mysqldump with over 500K findings, using proxysql and something like https://gist.github.com/m

[2020-12-30 22:51] madchap commented on #3470
Closing, the fix is in release 1.11.0. Please open a new issue if it still arises. Thanks @yilmi for providing a fix!

[2020-12-30 22:51] #3470 closed

[2020-12-30 22:51] #3361 closed

[2020-12-30 22:53] madchap commented on #3388
I created a Product Type "Archives", and I just move my products to it. I then exclude that Archives product type from whatever query. Of course, this is a dirty hack, and only works if you do things outside dojo.

[2020-12-30 23:11] breckwoldt opened #3571 "How to update"
Hello, can anybody explain the update process. I looked at the docu and have try it but the Version doesnt change.

Kind regards

[2020-12-31 10:25] madchap opened #3573 "Deleting findings results in unexpected deletion"
If you delete duplicate finding, then defectdojo will attempt to delete the original as well.
If you delete an original, duplicates get deleted as well.

We need to change this.

[2020-12-31 20:35] valentijnscholten commented on #3571
what happens when you follow https://defectdojo.readthedocs.io/en/latest/upgrading.html (and provide more details as requested in the template).

[2021-01-03 18:21] damiencarol commented on #3447
@whitespots I made another shot this week-end. I enable to launch you Docker file and have an empty instance.
I'm adapting a new importer for these data.

[2021-01-03 18:23] httpnotonly commented on #3447
Sorry, have a new year weekend (all team)
Btw. Best wishes 🙂

[2021-01-04 09:35] ZsanettMagyar commented on #3479
@damiencarol I would like to ask you to delete the test files (https://github.com/DefectDojo/django-DefectDojo/pull/3490#issuecomment-747505407). Our customer checked it, and wouldn't like to publish it.

Thank you for your help earlier and sorry for asking for the extra "fix".

[2021-01-04 10:22] RuiSN commented on #2803
Hi @valentijnscholten , any news about this? Have you tried the example file?

[2021-01-04 17:35] damiencarol commented on #3479
@ZsanettMagyar it's ok. I will push another file. And by the way, I'm preparing a PR that will take into account some data specific to Android (like `code_analysis.android_*`)

[2021-01-04 20:38] damiencarol commented on #3436
Made few discover,
1) It seems the project is dead since 2015...
2) in fact we use a fork => https://github.com/DefectDojo/django-tastypie-swagger

So maybe I can push a PR on the fork.

@valentijnscholten do you know if we have enough tests on th UI to do this kind of upgrade?

[2021-01-05 11:43] valentijnscholten commented on #3436
There are no tests covering that, but the only place it is used is on the APIv1 docs: https://defectdojo/api/v1/doc/.
Which is deprecated. But a quick update to 1.12.4 might work and resolve most vulnerabilities.

[2021-01-05 15:12] #3097 closed

[2021-01-05 16:01] greginvm opened #3584 "Make mitigated date editable"
**Is your feature request related to a problem? Please describe**
We are using the mitigated date field of a finding to track time to resolve of an issue. We currently can not rely on this measurement because we are either not diligent enough to mark finding mitigated  immediately when it is mitigated, or we are importing past data. I would note that we mostly use DefectDojo manually, without auto

[2021-01-05 16:29] damiencarol commented on #3436
Version `1.12.4` still have fex XSS 😅 . If it's part of the APIv1 let's come back to this issue after we remove v1.
Could you assign it to me to keep a trace of it?

[2021-01-05 16:32] madchap opened #3586 "Test list in engagement view show active findings count and not active-verified count"
The count here is wrong. Latest dev.

![image](https://user-images.githubusercontent.com/5468769/103671967-eb2b7e80-4f7b-11eb-9db8-3ef42c8e21f3.png)

[2021-01-05 17:05] madchap opened #3587 "release workflow out of date"
Update

https://github.com/DefectDojo/django-DefectDojo/blob/master/BRANCHING-MODEL.md

[2021-01-05 17:18] madchap opened #3588 "Definition of Done for PR"
Checklist

[2021-01-05 17:39] madchap opened #3589 "Advertise the new demo server"

[2021-01-05 22:06] #3586 closed

[2021-01-05 22:07] madchap commented on #3571
Please come chat on Slack for help. It's better for a possible lively conversation (unless you're Edgar on Slack, then it's done already).

[2021-01-05 22:07] #3571 closed

[2021-01-06 07:55] dania-abbas commented on #3544
issue resolved with  the new release 1.11.0

[2021-01-06 07:55] #3544 closed

[2021-01-06 15:45] valentijnscholten commented on #3563
I saw and noted this behaviour during the tagulous migration, but didn't want to change behaviours then. I think it makes sense to display any existing tags so they are A) retained and B) can be editted

[2021-01-06 18:30] damiencarol opened #3597 "JFrog XRay JSON parser don't support CVSSv3 and CWE correctly"
**Bug description**
When we import a report with CWE number, there are not read correctly due to a bug in int conversion:

In parser.py:
[code]
This *can't work*. cwe is always a string like "20" when the CWE is CWE-20.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Import a JFrog scan with finding with CWE number and/or CVSS v3 string
2. Search the finding and there is no CWE number

[2021-01-08 09:35] damiencarol commented on #3478
I'm wondering if it could be easier to generate with a script very big reports in a real format.
With a scale in size 5Mo, 10, 100, 250, 500, 1G.
We can even add it it integration tests by pushing them to the endpoint `/import-scan​/`

[2021-01-08 09:50] damiencarol commented on #2790
@SPoint42 I think you are right. For now, we only manage vulnerabilities. Are you still working on this one?

[2021-01-08 09:51] damiencarol commented on #2790
Adding more resources to the discussion: https://jira.sonarsource.com/browse/MMF-1672

[2021-01-08 10:37] valentijnscholten commented on #3478
It's not about having 1 big report and upload it. It's about having Lots of products, lots of engagements, lots of tests, lots of findings. All of different types. So a real world like scenario / dataset.

[2021-01-08 12:54] SPoint42 commented on #2790
@damiencarol I go to things, but I still have problem to import via API the hotspots

[2021-01-08 13:49] valentijnscholten opened #3599 "jira: add support for personal access tokens"
JIRA Server 8.14 and later can use personal access tokens to authenticate against the API instead of passwords.
Passwords via basic authentication will be deprecated, so we should support this new authentication method.

We are using the `jira` package for python, so filed an upstream feature request: https://github.com/pycontribs/jira/issues/993

Please note these personal access tokens are sligh

[2021-01-08 14:15] tohch4 commented on #3478
Sorry, I know I have been slow on fleshing out the intended behavior. I discussed the latter with @valentijnscholten. I got busy with other things and will do it later this week or early next week for the core ask: load the data into the database directly.

I will definitely want to discuss the approach you discussed, @damiencarol.

[2021-01-08 15:57] damiencarol commented on #3478
@valentijnscholten for this one I have another idea. I have a script that scans a Docker repository and creates automatically project+engagement CI/CD+test based on few tools like Dependancy Check .
You can see some output on the demo server => https://demo.defectdojo.org/product/5/engagements/cicd
I can commit this script or we can launch it on a specific demo env dedicated to perf load

[2021-01-08 16:13] damiencarol commented on #2790
If I can help you don't hesitate.

[2021-01-10 08:44] valentijnscholten commented on #3563
fixed in dev / 1.12.0, let me know if there's anything more to do here.

[2021-01-10 08:44] #3563 closed

[2021-01-10 08:46] valentijnscholten commented on #3569
![image](https://user-images.githubusercontent.com/4426050/104118365-c68f2800-5328-11eb-9793-b7aeb4cbd01c.png)

[2021-01-10 08:48] valentijnscholten commented on #3569
I believe @xens and @RomainJufer are doing lots of work on the API and also on getting the swagger spec to work correctly. I haven't hear them about openapi v3, would be interesting to hear their opinion. I believe there are some issues with drf-yasg that we are now working around, so maybe using drf-spectacular could help?

[2021-01-10 08:54] damiencarol commented on #3569
I think you are right. I read in a ticket of `drf-yasg` project that supporting 3.0 will need to much work and it's not very clear if they really can/want to do this job.

[2021-01-10 14:32] #2898 closed

[2021-01-10 14:32] #2900 closed

[2021-01-10 14:32] #2867 closed

[2021-01-10 14:32] #2869 closed

[2021-01-10 14:32] #2750 closed

[2021-01-10 14:32] #2878 closed

[2021-01-10 14:32] #2709 closed

[2021-01-10 14:32] #2787 closed

[2021-01-10 15:29] madchap commented on #2716
Still something I'd eventually want to see.

[2021-01-10 15:30] madchap commented on #2958
This slipped under the radar. @mtesauro could you amend the page with the latest details to reach the demo site? Cheers.

[2021-01-10 15:45] valentijnscholten commented on #2950
Not seeing this anymore, closing. A new issue can be opened if error reoccurs.

[2021-01-10 15:45] #2950 closed

[2021-01-10 15:59] valentijnscholten opened #3607 "Any user can retrieve all users data"
Via the APIv2 `users/` endpoint it's possible to retrieve a list of all users, inluding details such as permission level, email address, last login:

[code]

If you have a big instance with multiple teams or possibly even some of your clients with an account, this might be not ideal.

Should we considered either making the whole `/users` endpoint only for staff / superusers? Or,
Should we consider

[2021-01-10 16:04] valentijnscholten commented on #3607
I think APIv1 suffers from the same issue.

[2021-01-10 16:13] madchap commented on #3607
I think blanket access to staff and above is enough at first. Oneself should be able to query own login info if possible.

[2021-01-10 16:25] valentijnscholten commented on #3607
I think in the UI a user who is authorized for a product and staff flag has been enabled for authorized users, they can also see all users in the autocomplete for product settings user fields. I think that's OK, but we could mimic that in the API.

[2021-01-10 18:20] mtesauro commented on #3607
I agree that the API and UI should be in sync as mentioned ^

[2021-01-10 20:40] valentijnscholten commented on #3442
epic name should be fixed by https://github.com/DefectDojo/django-DefectDojo/pull/3609

[2021-01-11 14:26] dania-abbas opened #3611 "Deduplicate findings not working once enabled"
once i enabled the Deduplicate findings feature the celery worker not working probably, and the status of the celery becomes not processing and stuck. check the celery worker logs and it gives the following Worker exited prematurely: signal 9 (SIGKILL). Same as described here https://defectdojo.readthedocs.io/en/latest/running-in-production.html#celery-worker and i have changed the DD_CELERY_WORKE

[2021-01-11 14:34] BhaskiBuzz opened #3612 "reimport: Error in parser: get() returned more than one Endpoint -- it returned 2!"
**Bug description**
While trying to upload webinspect xml report, I am getting error "Error in parser: get() returned more than one Endpoint -- it returned 2!"
**Steps to reproduce**
Steps to reproduce the behavior:
1. Create new test case with test type as Microfocus Webinspect Scan
2. upload the xml report.

**Deployment method** *(select with an `X`)*
- [ ] Docker

**Environment information**
l

[2021-01-11 17:43] damiencarol commented on #3612
Hello @BhaskiBuzz , thanks for reporting this one. Are you able to provide the XML (or an anonymized version) that produced this is the error? it helps a lot to debug and/or understand what's going on.

[2021-01-11 18:00] damiencarol commented on #3612
@BhaskiBuzz do you have access to the DB? could you check that there is no 2 endpoint with the same protocol+host+query+fragment+path ? it could come from the code not managing well when we have 2 endpoints with the same protocol+host+query+fragment+path

[2021-01-11 18:04] damiencarol commented on #3611
@dania-abbas you should use our Slack channel for this kind of support questions : https://join.slack.com/t/owasp/shared_invite/zt-g398htpy-AZ40HOM1WUOZguJKbblqkw

[2021-01-11 18:06] damiencarol commented on #3520
a pull request is in progress for this issue https://github.com/DefectDojo/django-DefectDojo/pull/3570

[2021-01-11 18:36] valentijnscholten commented on #3612
please populate the template correctly. Which version are you running? This error was "quick-fixed" in 1.11.0 via https://github.com/DefectDojo/django-DefectDojo/pull/3531 for uploads via the UI. Can you confirm you version and if it's fixed in 1.11.0?

[2021-01-11 18:38] valentijnscholten opened #3613 "proper fix needed for duplicate endpoints / multipleobjects returned"
As described in #3612 multiple endpoint objects can be returned during re_import. This was somewhat fixed in #3531 But only for UI reimports and not for the API. And it would be better to find out / fix the issue at the core, i.e. more db constraints at the EndPoint model and/or better create/insert logic.

[2021-01-11 19:55] valentijnscholten commented on #3611
Link to slack that won't expire: https://owasp-slack.herokuapp.com/

[2021-01-11 23:11] jayala-29 commented on #3134
@valentijnscholten no, the parsing error is still showing up

[2021-01-12 07:54] BhaskiBuzz commented on #3612
@damiencarol @valentijnscholten thanks for the response. I can't share the document as it is internal. we are using version 1.7.1. we will try to upgrade the version for having the fix provided.

thanks.

[2021-01-12 08:47] Ivanello commented on #3134
hello, sorry cant understand how to install **dev** version of Defectdojo?

[2021-01-12 11:10] BhaskiBuzz commented on #3612
@damiencarol could you please help me with the query to check the endpoints in the DB.

[2021-01-13 10:50] valentijnscholten opened #3623 "replace or harden xml parsers with desfuedxml or similar"
Some of our parsers use `lxml` which has some security issues. Some use `xml.etree` which seems to be a bit better:
https://docs.python.org/3/library/xml.html#xml-vulnerabilities

`defusedxml` is recommended on that page: https://github.com/tiran/defusedxml

At the same it mentions that `defusedxml.xml` is deprecated. Not sure if it's the whole packes or just that subpackage.

i.e. we should inves

[2021-01-13 15:35] damiencarol commented on #3612
pushed this PR to improve the WebInspect parser https://github.com/DefectDojo/django-DefectDojo/pull/3621

[2021-01-13 16:02] damiencarol commented on #3623
I can take this one. at least for the Importer part

[2021-01-14 04:19] tohch4 commented on #3478
Sorry, I have not forgotten, but I have some work priorities that kept me away. I will report back between now and later next week with working code or I shall be scolded! :-)

[2021-01-14 11:45] valentijnscholten opened #3628 "1.12.0: add prs between 1.11.0 and 1.11.1 to release notes"
All the PRs merged into dev between 1.11.0 and 1.11.1 are not listed by release drafter, so we have to add them manually when releasing.

https://github.com/release-drafter/release-drafter/issues/756

[2021-01-14 12:10] jay3-3 commented on #2795
Hi,

Is this still working on last release version 1.11.1?
If I try "docker-compose build" without internet I get the next message:

Before I built and run the project with internet. Now I am trying to build without internet.

Thank you.

[2021-01-14 12:29] valentijnscholten commented on #2795
You can't build without internet. I think that would be impossible anyway because you're using docker that pulls image, pip that installs packages, etc?

[2021-01-14 12:48] jay3-3 commented on #2795
Thank you @valentijnscholten I misunderstood the problem here. It is only related to test and to execute DD, but not to build it.

Technically, it will be possible to build the project, won't it? If I use pip, docker... locally saving all dependencies in advance. Sorry, this is another topic.

[2021-01-14 12:56] valentijnscholten commented on #2795
hmm maybe. never had to work in an environment without internet :-) But this ticket indeed was about making the unit tests run without internet. if you don't use that scanner/parser, you can comment out that part from the build.

[2021-01-14 14:47] adon90 commented on #1930
do you know how to write it with debug:"on" ?

[2021-01-14 14:48] adon90 commented on #1930
could you paste the full docker-compose.yml you have ? or how to run it with debug:"on" ? I want to solve this images issue too, regards.

[2021-01-14 19:41] alles-klar commented on #2795
The fix was merged, so defectdojo can run without internet connection if you pull the image for example from a private repository. If you also have no connection on the client side you may get some javascript errors.

[2021-01-15 07:50] eL-Prova opened #3630 "[Question] Benchmark progress / repeat audit"
Hi all,

We audit our applications (over 50) based on the ASVS. I was looking for the option to use DefectDojo benchmark to keep an eye on the progress. It is very nice to have a quick overview and see risks or checks which are not done yet.
But the benchmark seems to be for once, instead of report and do it again to see progression.
Is it possible to create a benchmark, freeze the report and star

[2021-01-15 09:54] valentijnscholten commented on #3630
please discuss on slack.

[2021-01-15 10:47] #3630 closed

[2021-01-15 11:42] madchap opened #3631 "Re-import information should be displayed (permanently) in the UI"
Currently, we can have an email for that but it'd be real good to see it in the UI.

fyi @valentijnscholten per our discussion.

[2021-01-15 12:11] JorisVanEijden commented on #3342
It's actually an array of integers (finding ids)

[2021-01-15 12:57] adon90 commented on #1250
I am trying:

![image](https://user-images.githubusercontent.com/7115563/104730041-a3ee7c00-5739-11eb-9782-4e34d992152b.png)

Do know how can I do that?

[2021-01-15 14:23] thepatcher commented on #3611
Hi, is there a solution for this problem?
I'm seeing the same error messages in my k8s cluster.

[2021-01-15 15:44] valentijnscholten commented on #3611
the solution is to discuss at slack

[2021-01-15 15:44] #3611 closed

[2021-01-15 15:49] valentijnscholten commented on #3445
@damiencarol can this be closed as the PR has been merged?

[2021-01-15 16:22] damiencarol commented on #3445
Yep @valentijnscholten

[2021-01-15 16:22] #3445 closed

[2021-01-16 19:36] damiencarol opened #3636 "Investigate warning in Veracode parser"
[code]

[2021-01-17 13:16] damiencarol opened #3638 "Django 2.x deprecation"
According to Django documentation, the `staticfiles` and `admin_static` template tag libraries are deprecated in 2.x and will be removed in 3.x

This pull request fixes deprecation to make migration to Django 3.x easier.

### References
[Django Deprecation Timeline](https://docs.djangoproject.com/en/dev/internals/deprecation/#deprecation-removed-in-3-0)

[2021-01-17 13:23] damiencarol commented on #3638
PR to fix some deprecation https://github.com/DefectDojo/django-DefectDojo/pull/3637

[2021-01-17 17:13] StefanFl opened #3640 "User interface for Product Types is very different from other objects like Products"
**Is your feature request related to a problem? Please describe**
The user interface for Product Types looks and behaves very different compared to other areas of DefectDojo, eg.:

- Actions in the list of Product Types are buttons and not a drop down menu
- There is no view dialogue
- Delete is a button in the edit dialogue and deletes the Product Type without further warning

**Describe the solu

[2021-01-17 18:45] valentijnscholten opened #3641 "Use seperate requirements file for unit/integration tests (non-prod)"
Some dependencies we install with pip are only needed for unit tests, for example `PYYaml`. Which is vulnerable.
Would be good if our `release` mode docker images do not install these unneeded packages.
Bonus is some space + buildtime is saved.

For inspiration: https://stackoverflow.com/questions/17803829/how-to-customize-a-requirements-txt-for-multiple-environments

[2021-01-17 19:46] damiencarol commented on #3641
In my previous projects, I used to see a `requirements.dev.txt` file or `dev_requirements.txt`

[2021-01-17 21:07] #3447 closed

[2021-01-17 21:10] damiencarol commented on #3638
Fixed by #3637

[2021-01-17 21:10] #3638 closed

[2021-01-17 21:35] damiencarol commented on #3447
@httpnotonly @whitespots PR is merged.

[2021-01-18 16:24] pawnu opened #3647 "Dependency Track deduplication not working"
**Bug description**
While uploading the same scan result multiple times from ZAP, SonarQube, Dependency Track etc to a CICD engagement in DefectDojo with Deduplication enabled, Dependency Track findings are not seen as duplicates.

**Steps to reproduce**
Enable Deduplication feature
Upload the same dependency track scan finding to CI/CD engagement multiple times.

**Expected behavior**
dependency

[2021-01-18 17:30] madchap opened #3648 "Deleting engagement causes 500 error on endpoint_status"
**Bug description**
In a product where I have only 3 engagement that have nothing to do with one another, deleting a ZAP engagement with endpoints resulted in:

[code]

Logically speaking, this makes no real sense, but something is happening.

**Steps to reproduce**
Not sure.

**Expected behavior**
The engagement gets deleted without error, or at least, the error is nicely handled.

**Deployment m

[2021-01-18 19:59] mhalt opened #3650 "GitLab SAST Report: ERROR [dojo:599] Error in parser: 'confidence'"
**Bug description**
GitLab SAST reports generated from .NET, PHP, JS, etc. will fail to parse because they do not contain a scanner *confidence* key, which is required by the parser. I have included a sample report and the associated stack trace.
https://github.com/DefectDojo/django-DefectDojo/blob/b1ef546a6a2aaf029fab594f9b68db1be83947ba/dojo/tools/gitlab_sast/parser.py#L93

[code]

**Steps to re

[2021-01-18 21:55] damiencarol commented on #3650
@mhalt thanks for reporting. Is it possible to have the report file that produce this error?

[2021-01-19 06:15] StefanFl commented on #3650
Pull request #3567 addresses this issue already. It has been merged to dev a few days ago. I imported the sample scan file, provided with this issue, in the dev version and it worked.

[2021-01-19 07:09] saldam72 commented on #3472
Hello Team,
in addition to encrypting the connection to the database I would like to know whether it is possible to encrypt the entire database to ensure data confidentiality (data at rest, data in transit ...)

Best
Sal

[2021-01-19 08:14] valentijnscholten commented on #3640
Sounds good to me, thank you for contributing.

[2021-01-19 08:19] madchap opened #3653 "Creating a project without jira info show warning"
**Bug description**
While creating a project on an instance that has system level JIRA enabled, creating the new product fails on the first try.

![image](https://user-images.githubusercontent.com/5468769/105006234-a94c0f00-5a36-11eb-92d9-618bd67c6987.png)

Something has to be specified for the project to be created.

However, as you're back on the edit product page, just saving it works.

Trying

[2021-01-19 08:21] valentijnscholten commented on #3647
Can yo uplease upgrade to 1.11.1 and try again? It should work according to the code, but 1.9.3 is already a bit old.

[2021-01-19 10:53] pawnu commented on #3647
We have tried it in v1.9.3 and v1.11.0.

The screenshot attached is for v1.11.0. Do you need me to upgrade it to 1.11.1?
<img width="568" alt="dd_v1110" src="https://user-images.githubusercontent.com/11514346/105023780-4c0a8a80-5a43-11eb-84c5-2a610bda99eb.PNG">

[2021-01-19 10:55] valentijnscholten commented on #3647
No, 1.11.0 is fine.

[2021-01-19 12:27] damiencarol commented on #3640
@StefanFl I'm interested to see this work. I saw that one thing that breaks the update to Django 3.x is linked to ProductType.
So if you need help to test/review/contribute I'm here.

[2021-01-19 12:42] mhalt commented on #3650
@StefanFl That's great to hear! Do you know when a release is planned for this fix?

[2021-01-19 13:29] damiencarol commented on #3650
@mhalt there are usually few releases by month. The next release is planned for next week.

[2021-01-19 13:31] whitespots commented on #3447
So, it will be even in master now :)
Thanks, will test it.
BTW, it would be cool to have an article to see how can we deploy the, dev version.

[2021-01-19 13:47] valentijnscholten commented on #3447
no it's not in master. the readme links to the docker document which explains the different modes you can run in: https://github.com/DefectDojo/django-DefectDojo/blob/master/DOCKER.md

[2021-01-19 13:50] whitespots commented on #3447
@valentijnscholten got it
Just need to read carefuly
https://github.com/DefectDojo/django-DefectDojo/blob/master/DOCKER.md#run-with-docker-compose-in-development-mode-with-hot-reloading

[2021-01-19 14:00] harishgowdahk opened #3655 "Nessus CSV parser 500 error - , line 84 endpoint.Host += ":" + var"
Whevener CSV file is uploaded I am getting 500 error in the browser  and below is the log file
ches on core 0)
Internal Server Error: /engagement/3/import_scan_results
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/site-packages/django/core/handlers/exception.py", line 34, in inner
    response = get_response(request)
  File "/usr/local/lib/python3.5/site-packages/django/core/

[2021-01-19 14:10] madchap commented on #3653
Actually, creating really a new project triggers the issue. No server side error, however.

[2021-01-19 14:30] whitespots commented on #3447
Rename to .json
[sample.txt](https://github.com/DefectDojo/django-DefectDojo/files/5836475/sample.txt)

[2021-01-19 14:35] harishgowdahk commented on #3655
We can fix above error by changing elif heading[i] == "Host": to elif heading[i] == "IP Address":

But after fixing also results are coming empty without any error . Not sure why

[2021-01-19 17:46] StefanFl commented on #3640
@damiencarol I generated a draft PR, there you can see what I have done. Any remark is highly welcome

[2021-01-19 17:48] damiencarol commented on #3447
ok. thanks for the report, will work on a quick fix.

[2021-01-19 18:52] valentijnscholten commented on #3653
I can't reproduce it. It's also covered by an integration tests, which succeeds.

[2021-01-19 18:54] valentijnscholten commented on #3653
what do the logs say?
![image](https://user-images.githubusercontent.com/4426050/105079702-1213a580-5a90-11eb-9d0a-e50fff2e08c1.png)

[2021-01-19 19:25] valentijnscholten commented on #3640
if you're ready, please add some screenshots to the PR :-)

[2021-01-19 20:14] damiencarol commented on #3447
@whitespots fixed with https://github.com/DefectDojo/django-DefectDojo/pull/3657 if you can take a look at the Findings produced and make some feedback it could be good.

[2021-01-19 21:08] StefanFl commented on #3640
### Extended main menu

![2021-01-19 21_49_40-DefectDojo](https://user-images.githubusercontent.com/2698502/105092259-50fe2700-5aa1-11eb-8230-cdfe6f34eb55.png)

### No buttons in product type list anymore but a drop down menu

![2021-01-19 21_51_05-Product Type List _ DefectDojo](https://user-images.githubusercontent.com/2698502/105092260-5196bd80-5aa1-11eb-842e-0f3c29283440.png)

### New product

[2021-01-20 07:02] damiencarol commented on #3640
@StefanFl awesome work. will take time to review.

[2021-01-20 07:04] valentijnscholten commented on #3640
Looks good!

[2021-01-20 08:35] whitespots commented on #3447
![image](https://user-images.githubusercontent.com/65983771/105148549-f524b400-5b1b-11eb-8248-03a6fe80fe02.png)
Done!

[2021-01-20 09:43] whitespots commented on #3447
Issue description is ok as well. Maybe it will be good to have raw request details somewhere, but burp has quite good descriptions and we should take some time to live with existing functionality.
![image](https://user-images.githubusercontent.com/65983771/105156170-e7bff780-5b24-11eb-974d-5aaf624bfc4c.png)

[2021-01-20 11:59] damiencarol commented on #3447
@whitespots excellent!
It will be better to rely on the next release IMO. we plan to release it next week.
For the `raw request details` feature, I'm working on it.
There are few things that we need to work on before adding more features for parser robustess.

[2021-01-20 13:01] valentijnscholten commented on #3647
I forgot to ask you what the (DEBUG) logs were showing, or the deduplication log. Anyway, this is caused by some very old logic in defect dojo around deduplication:

[code]

[2021-01-20 13:11] saldam72 commented on #3472
Hello Team,
sorry but by mistake I closed it unintentionally.

best
Sal

[2021-01-20 13:24] ZsanettMagyar commented on #3479
@damiencarol I can't find any commit about the test file deletion. Could you please delete it?

[2021-01-20 13:32] valentijnscholten opened #3666 "deduplication config not checked at startup"
when someone makes a mistake in the dedupe hashcode field configuration, this is silently ignored and will result in confusing deduplication problems for security analyst who maybe uploading reports but do not have access to settings.py config.

we should check the config at startup. the logic is already there in models.py, but only checked during dedupe:

[code]

[2021-01-20 15:55] valentijnscholten commented on #3647
did some fixes in that PR.

[2021-01-21 13:14] Homopatrol opened #3702 "Sonarqube Tests finding mitigations after running Reupload-scan"
I’ve come across a bug that causes DefectDojo to erroneously flag mitigations when reimporting a Sonarqube test scan.

I imported a [sonar-report.txt](https://github.com/DefectDojo/defectdojo_api/files/5849498/sonar-report.txt) to DefectDojo

<img width="1659" alt="Screenshot 2021-01-21 at 12 01 52" src="https://user-images.githubusercontent.com/58219367/105355127-86159100-5be9-11eb-897d-cf8e7d042

[2021-01-21 14:49] Homopatrol opened #3675 "Sonarqube Tests finding mitigations after running Reimport-scan"
**Bug description**
I’ve come across a bug that causes DefectDojo to erroneously flag mitigations when reuploading a Sonarqube test scan.

**Steps to reproduce**
I imported a [sonar-report.txt](https://github.com/DefectDojo/defectdojo_api/files/5849498/sonar-report.txt) to DefectDojo

<img width="1659" alt="Screenshot 2021-01-21 at 12 01 52" src="https://user-images.githubusercontent.com/58219367/

[2021-01-21 14:58] #2943 closed

[2021-01-21 19:16] valentijnscholten opened #3677 "PicklingError: Can't pickle <class 'tagulous.models.descriptors.TagRelatedManager'>"
The `django-tagulous` library has an [issue](https://github.com/radiac/django-tagulous/issues/109) where models with a `tags` attribute can't be serialized using the `pickle` algorithm used by python/celery.

For dedupe and other tasks we solve this by converting all models to an id before passing the value on to celery. This works OK.

For notifications we are sending more complex constructs such

[2021-01-21 19:55] valentijnscholten opened #3679 "errors in APIv2 are swallowed and turned into 400 errors"
Since #3362 when an exception occurs during import, it gets swallowed. It's not logged anywhere and only a summary is returned in the API response:

[code]

nothing in the logs so no traceback to find the root cause of the problem.

it's caused by this construct in the api viewset:

[code]

[2021-01-22 08:11] saldam72 opened #3680 "search product by AND condition on multiple tags"
Hello Team,
I have two products:
- product1 with tag1
- product2 with tag1 and tag2

If I search products by tag1 and tag2 I got both of them. Is it a bug ? Is it by design ?

best,
Sal

[2021-01-22 09:30] Homopatrol commented on #3675
@valentijnscholten Ah okay so this is known to happen with many other scans to. Do you know which part of the code that contains the import/repimport functionality so I could look futher into this issue?

[2021-01-22 09:34] valentijnscholten commented on #3675
dojo/api_v2/serializers.py and dojo/test/views.py, see also https://github.com/DefectDojo/django-DefectDojo/pull/3629

[2021-01-22 11:34] saldam72 opened #3681 "full risk acceptance via API"
Hello Team,
how can I add full risk acceptance via API ? If it can't be done, can you implement such feature ?

Best,
Sal

[2021-01-22 17:21] Homopatrol commented on #3675
@valentijnscholten Thanks that's very helpful. - Is this being developed futher to fix the other scanners by adding the correct parsers for each or is there a bigger work required?

[2021-01-22 17:30] valentijnscholten opened #3683 "upgrade failing to 1.11.0 or higher when prod_type=0"
In 1.11.0 we replaced our tagging library (#3364

The migration for that fails when people have products for which the `prod_type` field is 0 (`prod_type_id`). These are probably old products from when the prod_type field wasn't mandatory yet.

Example report from Slack: https://owasp.slack.com/archives/C2P5BA8MN/p1610644710030600

[code]

Product data
[code]

I have reproduced this by trying to s

[2021-01-23 05:59] Applebois commented on #1762
@dfirpaul  I am trying to reach you, can you send me an email ?

[2021-01-23 08:59] madchap commented on #3681
You cannot at the moment, the feature is only present in the UI.

[2021-01-23 09:00] madchap commented on #3680
You mean that when you search like for `tag:tag1 tag:tag2` in the search box, you'd want to only see results for product2, correct?

[2021-01-23 09:04] madchap commented on #3655
Can you please provide a sample file to reproduce the problem? Thanks.

[2021-01-23 09:23] madchap commented on #3653
Not much yea

[code]

[2021-01-23 09:24] madchap commented on #3653
I rebuilt on latest dev, the first product to be added worked, then I tried again, and it failed with the above.

[2021-01-23 10:21] valentijnscholten commented on #3653
can you provide some more logs? and info on what you are putting in the fields on the form? this is really fragmented that doesn't provide a complete picture. It could be related to the "has_changed" function of the form, what do the logs say about this:
![image](https://user-images.githubusercontent.com/4426050/105575602-1b8d5e00-5d6d-11eb-9cdd-6d3190dcea71.png)

[2021-01-23 10:37] #3683 closed

[2021-01-23 10:40] valentijnscholten commented on #3653
and maybe add `    logger.debug('jform changed_data: ' + str(jform.changed_data()))` in there

[2021-01-23 10:41] valentijnscholten commented on #3653
Updated the title because I think the product is created, but there's this incorrect warning about the JIRA config. Correct?

[2021-01-23 11:00] damiencarol commented on #3679
@valentijnscholten it swallow the root exception?

[2021-01-23 11:58] valentijnscholten commented on #3628
I created a fork of the release draftw with intention of fixing the behaviour, but it's not so easy because the release draft has lots of different scenario's it supports (except ours).
For now, I have added a second release drafter workflow that can be triggered manually and performs the behaviour we want:
![image](https://user-images.githubusercontent.com/4426050/105577516-75485500-5d7a-11eb-8e2

[2021-01-23 16:23] valentijnscholten commented on #3679
Yes, and traceback etc.

[2021-01-23 18:09] #2993 closed

[2021-01-23 18:09] #2569 closed

[2021-01-23 20:36] valentijnscholten opened #3693 "cleanup 2.0: remove old contact fields in Product model"
`models.py`:
[code]

remove also migration script.

[2021-01-23 20:38] valentijnscholten opened #3694 "cleanup 2.0: remove left over code from tagulous migration"
The `django-tagging` dependency is still loaded and some tag fields and comments are remaining to support the migration script (0066), so we need to leave `django-tagging` in `requirements.txt` for now.
But we can remove the `tags_from_django_tagging` fields.

[2021-01-23 22:04] madchap commented on #3653
It seems you're right, seems only going through product_type to add triggers the error.

[2021-01-23 22:32] madchap opened #3699 "Login page announcement panel"
**Is your feature request related to a problem? Please describe**
In order to show DefectDojo users:

- Pointers to extra documentation / change logs or release notes
- Depreciation
- New features
- Breaking changes…

We should be able to display well formatted messages on the login page, e.g. before the user logs in.

The panel/box should be easily dismissable or remain if the user takes no actio

[2021-01-24 09:56] StefanFl commented on #3640
The PR is ready for review and all current changes of the dev branch are incorporated.

[2021-01-24 10:13] #3653 closed

[2021-01-24 10:13] valentijnscholten commented on #3653
madchap told me he can no longer reproduce after 3692

[2021-01-24 10:17] valentijnscholten opened #3701 "Allow enabling/disabling of parsers/scanners"
Couple of people on Slack have asked me they would like to limit the set of scanners (parsers) users can use, i.e. the type of reports that can be uploaded. Reasons being that they feel some scanners are not good enough or generate too many false positives. Other reasons are they don't trust certain parsers afraid of XML injections etc.

[2021-01-24 17:18] valentijnscholten commented on #3702
duplicate of #3675

[2021-01-24 17:19] #3702 closed

[2021-01-24 18:43] valentijnscholten opened #3703 "weird log message may indicate notification settings bug"
seen in integration test logs
[code]

[2021-01-25 10:06] saldam72 commented on #3680
yes

[2021-01-25 10:10] saldam72 commented on #3681
Will you implement this feature ?

[2021-01-25 17:03] valentijnscholten opened #3707 "remove s_finding_severity_naming feature flag"
I think @mtesauro mentioned this was an old artifact from the days of yore?

[2021-01-25 17:09] valentijnscholten opened #3708 "phase out / rewrite get_severity_count display tag"
the `get_severity_count` display_tag is only left to be used in one spot: `view_test.html`.
as it performs a separate (suboptimal?) query, it's better to replace this by using the prefetched data or a more efficient query.
and investigate of the product/engagement part of the tag can removed alltogether.

[2021-01-25 18:26] damiencarol commented on #3655
@harishgowdahk  I'm working on your issue I can reproduce it in a unit test. https://github.com/DefectDojo/django-DefectDojo/pull/3710

[2021-01-25 22:32] madchap commented on #3628
So to not get that wrong, tomorrow, the first field would read `1.12.0` (or maybe remain empty?) and the previous release `1.11.0` ?

[2021-01-25 22:48] madchap commented on #3699
I took a look at https://github.com/pinax/pinax-announcements but that's not what we really want.

I am thinking that enhancing the existing "login banner" might do, such as:
- Add actual css to make it look good.
- Add "dismiss" capability

As we have announcement to make - e.g. on release - We could introduce the announcement as a fixture eventually?

[2021-01-25 23:18] valentijnscholten commented on #3628
Yes, should list all prs front 29/12 onwards

[2021-01-26 09:35] damiencarol commented on #3655
funny... the tool doesn't generate valid CVSS v3 vectors...
[code]

[2021-01-26 18:53] damiencarol commented on #3650
@mhalt we just released `1.12.0`. I'm closing this issue

[2021-01-26 18:53] #3650 closed

[2021-01-26 21:26] nlandais opened #3714 "AWS SecHub scanner variable default set incorrectly"
Please go to dojo/tools/awssecurityhub/parser.py
Starting with line #44
`def get_item(finding, test):`
   ` title = finding.get('Title', "")`
   ` severity = finding.get('Severity', {}).get('Label', 'INFORMATIONAL').title()`
   ` description = finding.get('Description', "")`
   ` mitigation = finding.get('Remediation', {}).get('Recommendation', {}).get('Text', "")`
   `references = finding.get('Re

[2021-01-26 23:34] damiencarol commented on #2620
hello @ealkalai , I'm refreshing this one. are you able to import your scan now ?

[2021-01-27 08:44] damiencarol commented on #2620
@ealkalai I'm able to import with success the scan provided with last release (`1.12.0`). Closing this one.

[2021-01-27 08:44] #2620 closed

[2021-01-27 08:48] damiencarol commented on #1886
@NRGLine4Sec @AlexanderTyutin made another import tests on last version `1.12.0`. Closing this one as the import works fine.

[2021-01-27 09:02] valentijnscholten commented on #1886
@damiencarol not sure what the solution was here? I don't think we an namp-vulners parser yet, which was requested here?

[2021-01-27 13:06] damiencarol commented on #1886
@valentijnscholten the reports generated with `nmap-vulners` scripts are not different from our `Nmap` parser. I made the test this morning on the last version with the report provided.

[2021-01-27 13:48] valentijnscholten commented on #3628
updated the release instructions, so closing this.

[2021-01-27 13:48] #3628 closed

[2021-01-27 14:30] #3714 closed

[2021-01-27 15:32] lucaverderame opened #3725 "Sonarqube import - "Error while parsing the report, did you specify the correct scan type?""
Dear all,
I'm experiencing a problem with the import of a **Sonarqube** report generate using [https://github.com/soprasteria/sonar-report.git](https://github.com/soprasteria/sonar-report.git).

The report has been generated using the following command:

`sonar-report \
  			--sonarurl="http://172.17.0.1:9000" \
  			--sonarcomponent="DevSecOps" \
  			--project="DevSecOps Project" \
  			--sonart

[2021-01-27 16:56] valentijnscholten commented on #3725
do you see any other exceptions in the logs? might be that they are swallowed as there are some problems with some recent changes to the error handling.

[2021-01-27 17:03] valentijnscholten commented on #3725
BTW I have no idea if the report you're generating is the right way to do it, but I created a PR to stop the swallowing of exceptions.
If you want you can build the branch from that PR and see if it provides a better error messsage this time.

[2021-01-27 17:07] lucaverderame commented on #3725
Hi thank you very much, I will give a try to see if I can catch something.

At the moment the log does not seem to raise specific exceptions.

<img width="2059" alt="Schermata 2021-01-27 alle 18 02 28" src="https://user-images.githubusercontent.com/16080554/106026696-6f2fdc80-60ca-11eb-9490-28a6546a6cfa.png">

[2021-01-27 17:47] valentijnscholten commented on #3647
@pawnu can you try 1.12.0, it should work now.

[2021-01-27 17:47] #3647 closed

[2021-01-28 13:59] damiencarol commented on #3725
@lucaverderame for the sake of the test, is it possible to have your report file? Are you able to upload it in the UI, by hand ?

[2021-01-28 14:53] damiencarol commented on #2803
@RuiSN refreshig this one. Saw that we don't have much tests on this format. I'm investigating.

[2021-01-28 14:54] RuiSN commented on #2803
Thank you @damiencarol.

[2021-01-28 15:16] damiencarol commented on #3216
@joreize hello, thank you for your report. This kind of support/question is better to ask directly on our Slack channel. You will have more answers/details here : https://owasp-slack.herokuapp.com/

[2021-01-28 15:42] lucaverderame commented on #3725
Dear @damiencarol yes, I've tried with the UI by hand selecting "Sonarqube Scan" and "Sonarqube Scan detailed" in two distinct attempts with "An error has occurred in the parser, please see error log for details".

In the logs I can know spot the following exceptions.

With **"Sonarqube Scan detailed"**:

[code]

With **"Sonarqube Scan"**:

[code]

To perform the evaluation I'm using an insecure a

[2021-01-28 15:42] damiencarol commented on #3679
merged in 1.12.0

[2021-01-28 15:42] #3679 closed

[2021-01-28 16:11] damiencarol commented on #3725
@lucaverderame it's possible that you catch a bug here. I will at least integrate this report to our unit tests.

[2021-01-28 16:39] valentijnscholten commented on #3725
I think testing my branch won't give anymore information as all it does is showing the exception instead of swallowing it. So good idea by @damiencarol to test in the UI. Looks like clear bug.

[2021-01-28 17:51] valentijnscholten opened #3728 "cleanup 2.0: remove Engagement.eng_type field + table"
looks as having been replaced by engagement_type field

[2021-01-28 18:24] damiencarol opened #3729 "Clean how import_parser_factory is called"
All calls to `import_parser_factory` are not aligned. Some of them swallow exceptions (bad... very bad)

For ex:
https://github.com/DefectDojo/django-DefectDojo/blob/b4be67a6ce2ed3bba5c0499dea69165c5abd0ee3/dojo/test/views.py#L663-L664

This issue track that.

[2021-01-28 18:36] damiencarol commented on #3612
@BhaskiBuzz have you be able to update to a more recent version? we merged a modification of this parser that could fix your pb.

[2021-01-28 20:43] greginvm commented on #3584
Got it, will make a setting. I am not familiar with how features are designed for this project - would it make sense to have this field editable only via API (if the setting is on of course)? This would be enough at least for our case and would not need an additional dependency. There would be a discrepancy between API and UI though.

[2021-01-28 22:44] madchap opened #3731 "jira webhook: key missing on comment update"
**Bug description**
[code]

In some instances - like mine - there is no `name` but `emailAddress`, most likely due to SSO logins in JIRA.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Deployment method** *(select with an `X`)*

[2021-01-28 23:15] madchap opened #3733 "'Finding' object has no attribute 'active_risk_acceptance'"
**Bug description**
After updating to 1.12.0

[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Deployment method** *(select with an `X`)*
- [x] Kubernetes
- [ ] Docker
- [ ] setup.bash / legacy-setup.bash

[2021-01-28 23:27] madchap commented on #3733
Nevermind, something with my fork.

[2021-01-28 23:27] #3733 closed

[2021-01-28 23:44] damiencarol commented on #3725
@lucaverderame @valentijnscholten tested on last branch dev . Saw a bug with this report. I was able to do a one line fix.
I'm preparing a PR to fix it.

[2021-01-29 03:51] BhaskiBuzz commented on #3612
@damiencarol I did query for endpoint with the same protocol+host+query+fragment+path and then deleted the duplicate row. Then the issue got resolved. I will try upgrading to the recent version.

[2021-01-29 04:09] damiencarol commented on #3612
@BhaskiBuzz a more recent version have a fix that avoid this kind of duplicate in the parser. But good to know that you fixed your data.

[2021-01-29 09:08] damiencarol opened #3735 "Dynamic parser infrastructure"
**Is your feature request related to a problem? Please describe**
Adding a parser is hard today. So many file to maintain. We can already see some crack in the system, some file have errors/not up-to-date.

**Describe the solution you'd like**
Make loading of parser completely dynamic and most of the information about the parser will come from the attributes of the parser itself like ID, if it man

[2021-01-29 09:39] damiencarol commented on #3328
Hello @Wadeck , I'm refreshing this issue.
Made some tests on last dev and it seems that #3689 solved your pb.
![image](https://user-images.githubusercontent.com/1694940/106258471-26893800-621e-11eb-8f07-ee5a1ccd533f.png)

![image](https://user-images.githubusercontent.com/1694940/106257762-4704c280-621d-11eb-8248-8c6a592b5427.png)

[2021-01-29 12:47] saldam72 opened #3736 "finding: add fields for owasp top 10 qualifier (version & category)"
Hello Team,
can you add owasp version & category to the finding information ?

Best,
Sal

[2021-01-29 13:12] valentijnscholten commented on #3736
What do you mean by "OWASP Version & Category"?

[2021-01-29 14:29] 37b opened #3738 "Survey submission results in 500 error"
**Slack us first!**
The easiest and fastest way to help you is via Slack. There's a free and easy signup to join our #defectdojo channel in the OWASP Slack workspace: [Get Access.](https://owasp-slack.herokuapp.com/)
If you're confident you've found a bug, or are allergic to Slack, you can submit an issue anyway.

**Be informative**
Defect Dojo version 1.12.0

**Bug description**
When a user submi

[2021-01-29 16:40] madchap opened #3741 "When debug false, even 500 no longer produce any trace"
**Bug description**
A meaningless and informationless 500 error is written to the logs, but with no details, forcing to redeploy with the full debug mode on, which is a PITA.

[2021-01-29 16:53] madchap opened #3742 "view test: Arbitrary file uploads conflicts with Google Sheet integration, causing 500 errors"
**Bug description**
Unsure if it's again me or if that's also others. At any rate, viewing test page results in 500 with

[code]

[2021-01-29 17:35] madchap commented on #3742
Thanks to @valentijnscholten for the quick help.

@Maffooch it seems that your [latest PR](https://github.com/DefectDojo/django-DefectDojo/pull/3566) on uploads is messing up with the Google Sheet integration. I had it turned on.

Since the Google Sheet integration seems broken anyways due to other changes and since I was not really using it anyways, doing

[code]

Made that error dissapear.

I th

[2021-01-29 17:37] valentijnscholten commented on #3742
It's because the `files` variable is used by both the generic fileupload and google sheets functionality. We could slap a `enable_google_sheets=True` flag on the integration tests similar to what we did with JIRA/GitHub.

[2021-01-29 17:38] madchap opened #3744 "Google Sheet integration broken with KeyError and Data too long error"
**Bug description**
It seems the Google Sheet integration is currently broken.

![image](https://user-images.githubusercontent.com/5468769/106308714-645b8000-6261-11eb-9a2a-32b340d6b8d5.png)

Found out linked to https://github.com/DefectDojo/django-DefectDojo/issues/3742

[2021-01-29 17:53] valentijnscholten opened #3746 "allow different pagesizes when having multiple paging lists on the same page"
some pages have multiple lists which are paged. the page number is already niceley separated so you can have list 1 on page 5 and list 2 on page 1. but the page size is linked. so if you choose pagesize 100 for list 100, it will also set pagesize 100 for list 2.

[2021-01-29 20:07] joebasirico commented on #2755
This feature would be useful for my installation of DefectDojo and JIRA as well. 👍

[2021-01-29 22:09] ptrovatelli commented on #3675
Hello,
The re-import matching code is very basic. it didn't evolve when the configurable deduplication was added (my bad) and it wasn't event coherent with legacy deduplication algorithm in the first place
- legacy dedupe basically identifies findings by (see comments in settings.dist.py; i say "basically" because there are some more subtle conditions):
  - static scanner:  ['title', 'cwe', 'line'

[2021-01-30 06:21] madchap commented on #3744
fyi @piyarathnalakmali  - I don't know if you'd still be interested in keeping the integration up-to-date? Thanks.

[2021-01-30 07:10] madchap commented on #3744
Also found on fresh local instance the following upon configuring it

[code]

[2021-01-30 07:28] madchap commented on #3742
I am not quite sure yet, but it seems that a new configuration "works". It may be this issue is raised through upgrading and not through the happy new configuration green field path.

[2021-01-30 07:31] damiencarol commented on #2803
@RuiSN fixed by  #3737 . wil be part of `1.13.0`

[2021-01-30 07:31] #2803 closed

[2021-01-30 08:11] valentijnscholten commented on #3741
Do you have an example?

[2021-01-30 10:05] saldam72 commented on #3736
We try to map a finding with OWASP TOP 10 (A1, A2 ...) but OWASP TOP 10 changes over the years (2013, 2017 ...) therefore we need a field to store the version and another to store category (at the moment we store this information in a finding tag)

[2021-01-30 12:17] AndreyMZ opened #3749 "Dashboard: not verified findings are not counted"
**Slack us first!**
https://owasp.slack.com/archives/C014H3ZV9U6/p1611651527008100

**Bug description**
There is a chart named "Reported Finding Severity by Month" on the DefectDojo's dashboard. According to its name, I expect it to show the number of findings created (synonyms: discovered, reported) in a given month. But actually it shows only the number of findings which were created in a given

[2021-01-30 14:25] ptrovatelli commented on #3675
@Homopatrol can you re-post your sonar report please? the one provided has no findings.
Thanks

[2021-01-30 20:36] damiencarol commented on #3675
Assigned this issue to @ptrovatelli as discussed in #2030

[2021-01-30 23:24] ptrovatelli commented on #3675
I've started working on something. still some tests to do and unit tests to update, but it should already fix most of the cases : https://github.com/DefectDojo/django-DefectDojo/pull/3753

[2021-01-31 00:24] manuel-sommer commented on #3707
#3754

[2021-01-31 11:04] damiencarol commented on #3736
I have some ideas to integrate that @valentijnscholten @saldam72  . Not by adding another column in Finding but as new tables.
Something like that:

![image](https://user-images.githubusercontent.com/1694940/106381945-7140b680-63bc-11eb-952d-54b8ab0c36a4.png)

[2021-01-31 11:11] valentijnscholten commented on #3736
I don't think we should complicate things and maybe focus on an easy to use 'meta data' solution so people can add their own key/value pairs to findings and other models. And query/report on them.
I think CVE and CWE are always needed to be readily available on the finding without having to join 2 extra tables.

@saldam72 did you consider using CWE to OWASP Top 10 mapping? Not sure if it is helpfu

[2021-01-31 12:01] valentijnscholten opened #3756 "api: burprequest/response triggers additional query for each finding in result"
burprequestresponse implementation was querying databasee directly instaed of using prefetched data.

[2021-01-31 18:12] manuel-sommer opened #3758 "Follow up for #3707 remove numerical_severity"
In #3707 , s_finding_severity_naming is removed:
`s_finding_severity_naming =
        models.BooleanField(default=False, blank=False,
                            help_text='With this setting turned on, Dojo '
                                      'will display S0, S1, S2, etc in most '
                                      'places, whereas if turned off '
                                      'Cri

[2021-01-31 22:21] valentijnscholten commented on #3758
from what I remember it is used for some weird stuff and comparisons in some places, but if you can make a PR that passes all the tests in the test suite that would be good start :-D

[2021-01-31 22:26] valentijnscholten commented on #3216
Did you try everything you could find with google? Lots of posts which, same as the error, seem to indicate a configuration error on ADFS side. We use standard django social auth and django saml2 auth libraries.

[2021-02-01 08:11] dsever commented on #3216
Do you use self signed certs?

[2021-02-01 09:37] Homopatrol commented on #3675
@ptrovatelli Yep sorry this one should be populated. - [sonar-report.txt](https://github.com/DefectDojo/django-DefectDojo/files/5903076/sonar-small-report.txt)

[2021-02-01 09:45] saldam72 commented on #3736
Hello Team,
we have evaluated this solution but, for example, there are some CWE that should be mapped with A1 and they are not:

- File: 22, 23, 73, 501, 610, 99, 96, 97. 243, 863, 631, 98
- DoS - Threads: 400, 395, 476, 366, 705, 114, 404, 434, 730, 511, 821, 572, 185, 20, 372, 362
- Code: 94, 95, 170, 676, 470, 382, 246, 506, 662, 113, 705, 473, 695, 126, 499, 573, 594, 86
- Date: 200, 349, 612

[2021-02-01 10:31] damiencarol commented on #3736
There is also another pb with CWE with the current model. Sometimes a finding could be liked to more than one CWE. But our data model only allow one.

[2021-02-01 11:05] cpandya2909 opened #3762 "Documentation of critical_product_metrics count and formula"
Under Metrics > critical_product_metrics menu, we see a number out of 100 for procut types.

But it is not clear how this number is calculated and based on what details it is generated.

A documentation of more details about it will be helpful.

[2021-02-01 13:42] madchap opened #3765 "Dropboxes should always have the values listed in consistent order"
**Is your feature request related to a problem? Please describe**
Currently in full risk acceptance (might be elsewhere too, didn't pay attention), the "Owner" dropdown box lists users in whatever order. It's super hard to find the name you're looking for.

**Describe the solution you'd like**
The list should be ordered in alphabetical order to facilitate finding the value.

Also, it should not li

[2021-02-01 15:57] madchap opened #3766 "[GHA] Add k8s template verification"
**Is your feature request related to a problem? Please describe**
Need to do basic checks on k8s stuff.

**Describe the solution you'd like**
Start with `helm template --debug .` or something alike, on basic as-is + with some annotations.

[2021-02-01 20:47] nlandais opened #3771 "The Debug toolbar does not load when enabled and DefectDojo runs in Debug mode"
If you add the debug_tools to the list of installed in your local settings, you'll notice that the login page does not load and the debug information provided points to the fact that the URL cannot be found.
Suggested fix, include the debug_toolbar urls to the list of url patterns

[2021-02-02 06:25] cpandya2909 commented on #3762
Thanks,

Logic explained in Documentation will be good. Else some one has to go through complete code base to search for this.

Also, can you point where project grade percentage calculation logic is put?

[2021-02-02 08:05] valentijnscholten commented on #3771
We don't want to include/enable the debug toolbar by default. To enable it locally is documented, for example here: https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/settings/template-local_settings

[2021-02-02 09:39] Wadeck commented on #3328
@damiencarol thanks for the information, I will look at this soon-ish and close the issue :)

[2021-02-02 12:20] BhaskiBuzz commented on #3320
Hi @madchap I tried upgrading the defectdojo from v1.7.1 to 1.12.0. But the database migration not happened. I could not see the old data anymore in the latest version.

Steps performed:
1. downloaded the 1.12.0 zip code for git.
2. moved to docker-compose.yml file directory
3. did docker-compose build and docker-compose up -d.
4. logged into the site as admin

Observed that no old data is showing

[2021-02-02 12:46] valentijnscholten commented on #3320
Sounds like you're not mounting the correct volume with existing data. You need to run from the same folder where you originally build/ran defect dojo 1.7.1 from.

[2021-02-02 13:03] saldam72 opened #3776 "tag settings not working i.e. DD_FORCE_LOWERCASE_TAGS"
Hello Team,
I have added to the extraConfigs section of the helm/values.yaml file the following two extra variables, but the DD_FORCE_LOWERCASE_TAGS variable seems to be ignored

- DD_MAX_TAG_LENGTH: '100'
- DD_FORCE_LOWERCASE_TAGS: 'false'

Best,
Sal

[2021-02-02 13:20] valentijnscholten commented on #3776
Those settings are no longer available with our new tag library (`tagulous`). Can you make a PR to remove them from the settings?

[2021-02-02 13:59] saldam72 commented on #3776
OK, but DD_MAX_TAG_LENGTH works... I've been lucky ? :-)

[2021-02-02 14:44] valentijnscholten commented on #3776
These are the defaults (255 max length). If you change it you may need to do some stuff with migrations. https://radiac.net/projects/django-tagulous/documentation/installation/#settings

[2021-02-02 16:11] saldam72 opened #3777 "api should return not only active findings for product"
Hello Team,
we want to integrate DefectDojo with an internal system via API. That system needs to know all the findings of a product: active, not active, false positive & so on. Can you change the behaviour of the Product API https://cr.rete.poste/api/v2/products/{product_id}/ so that it will be able to return all the findings's id ?

Best,
Sal

~~Hello Team,~~
~~if I send a request to https://cr.

[2021-02-02 17:04] bgoareguer opened #3778 "Publish the Helm chart tarball with each release"
**Is your feature request related to a problem? Please describe**
Before using the Helm chart we need to clone the git repository.

**Describe the solution you'd like**
Instead, I would like Helm to download the Chart by itself.
This could be either from a chart repository or as a tarball published on the release page on Github.
Maybe using [chart-releaser](https://github.com/helm/chart-releaser)

[2021-02-02 18:40] damiencarol opened #3779 "Remove dependency to pandas"
`pandas` is only used in one parser (`dsop`) since few maintenace PR.

As `pandas` is a big dependency, I plan to remove it completly from the web app.

[2021-02-02 18:55] madchap commented on #3779
We can tale the parser out at the same time. I think I was the only one using it and it's broken anyways.

[2021-02-02 19:10] valentijnscholten commented on #3778
Good idea. We use GitHub Actions for CI/CD. Are you able to try out / make a PR for https://github.com/helm/chart-releaser-action ?

[2021-02-02 19:11] valentijnscholten commented on #3777
Please come to slack to discuss these kinds of questions https://owasp-slack.herokuapp.com/ #defectdojo channel

[2021-02-02 19:14] #3771 closed

[2021-02-03 00:31] damiencarol commented on #3779
You means the DSOP parser?
I already have a PR that fix that https://github.com/DefectDojo/django-DefectDojo/pull/3784

[2021-02-03 05:51] BhaskiBuzz commented on #3320
Hi @valentijnscholten
we have ran from the same folder where we originally ran defectdojo 1.7.1. Now the defectdojo version is showing as 1.12.0 and the old data is available.
But it seems migration not happened properly. I could not see Burp REST API test type in the "Dashboard ->engagements -> test types" section. Even from API, /test_types/ is not listing the Burp Rest API test type. It was ava

[2021-02-03 06:23] BhaskiBuzz commented on #3320
Hi @valentijnscholten We are able to upgrade to v1.12.0 after build/ran defect dojo from the same folder where we ran 1.7.1
Now the old data also available. It seems its taking some time for database migration.

Thanks.

[2021-02-03 08:12] #3776 closed

[2021-02-03 08:51] saldam72 commented on #3777
I have done another test (see image below)
![image](https://user-images.githubusercontent.com/72754155/106721391-e6063180-6604-11eb-806f-4752020b74ae.png)
If I invoke product API with product_id 245 I get this response (see abstract below)
{
  "id": 245,
  "findings_count": 1,
  "findings_list": [
    3897,
    3898,
    3900,
    3901
  ],
  "tags": [],
  "product_meta": [],
  "name": "TEST_PRODU

[2021-02-03 09:17] valentijnscholten commented on #3777
Yes, that's what confirmed above. It only returns active findings.

[2021-02-04 09:13] madchap opened #3794 "Review and enhance the generic import parser"
**Is your feature request related to a problem? Please describe**
Have not clearly looked, but the generic importer should be super flexible and keep up with all Finding model properties.

Just a reminder to take a look.

[2021-02-04 12:53] damiencarol commented on #3725
@lucaverderame it's fixed in dev branch, you will have it in the next release.

[2021-02-04 13:48] bgoareguer commented on #3778
Sorry, I don't know Github Actions and I don't have time to learn it right now.

[2021-02-04 21:33] damiencarol opened #3795 "Burp XML parser: blank responses break the parser"
If you import a Burp report in XML with blank response, it crash the import when the finding is saved.

[2021-02-05 11:14] rsenden opened #3797 "Display actual scanner name in 'Found By' column"
When importing scan results, DefectDojo displays the importer name in the 'Found By' column. This is fine for specific importers, however for generic importers like SARIF or GitLab SAST it would be more useful to see the actual scanner name in the 'Found By' column (if available in the SARIF or GitLab report).

Especially if you are using multiple tools that generate the same type of reports (i.e.

[2021-02-05 11:47] rsenden opened #3798 "Add Generic JSON importer"
**Generic JSON**
There is already a generic importer for CSV data, but it only supports a small subset of Finding attributes. A generic JSON parser can easily support all relevant attributes from the [Finding](https://github.com/DefectDojo/django-DefectDojo/blob/e90562e75d334d8c5fddb23bce15398e51c34615/dojo/models.py#L1422) class. Such a generic JSON importer would allow scanners/exporters that su

[2021-02-05 13:26] ycrumeyrolle opened #3799 "Deleting a user will delete any linked objects"
When deleting users for respecting data purge involved by GDPR, all related objects will be deleted.
Disabling user is a short term option, but it is not possible at mid term.

There is now way to reassign to a default user or an active user.

[2021-02-05 14:10] damiencarol commented on #3797
@rsenden I totally agree. To do that we need to refactor some internal stuffs like how we manage results of parsers.
This is a work in progress.

[2021-02-05 16:47] madchap opened #3800 "Datatables have paging and search limitations"
**Bug description**
On the product list page (with a bit less than 50 products):

`Showing 1 to 25 of 25 entries`

plus a link to page 2. Clicking it I go to /product?page=2 which says

`Showing 1 to 21 of 21 entries`

Beyond this, the filter also only works for the displayed findings only, and not the whole set.

**Expected behavior**
Showing 1 to 25 of 46 entries
Showing 26 to 46 of 46 entries

[2021-02-05 16:47] madchap commented on #3800
I have not looked at alternatives, but maybe there is better. Who's our best JS guy out there? ;-)

[2021-02-05 20:02] valentijnscholten commented on #3800
I saw the same, been like this for a long time I think. The numbers being wrong is not related to datatables. We are doing paging and outside database and searching/filtering both inside and outside. datatable can handle AJAX calls to retrieve data and let server side do the filtering/search. not sure if it can handle paging correctly in that case.

bit dramatic title, no? :-)

[2021-02-05 20:08] valentijnscholten commented on #3799
what if you just change all the fields like firstname, lastname, email address?
having a feature that can globally reassign any findings / engagement / tests / products / reviews / notes / etc is non-trivial to implement,

[2021-02-05 20:23] ycrumeyrolle commented on #3799
GDPR is not trivial :)

Anonymization is a reasonable option.
Can you confirm we can update also the login without issue?

[2021-02-06 09:22] damiencarol opened #3807 "UI v2"
The goal of this issue is to follow one UI experimental refactoring.

Based on React JS and using exclusively the API

![image](https://user-images.githubusercontent.com/1694940/107114293-16e4a180-6865-11eb-92ce-31e9a99cad00.png)

https://docs.google.com/document/d/1JnAyXPQvWYvgI5nwXJCWjpc4ELTFU0s6u1-sYHVri34/edit?usp=sharing

[2021-02-06 10:24] valentijnscholten commented on #3799
It should work as long as you don't edit the ìd` of the user.

[2021-02-06 17:33] valentijnscholten commented on #3800
I have fixed the "showing entries X to Y of Z" in an upcoming PR.

[2021-02-07 17:51] valentijnscholten opened #3815 "tests: estimated_time and actual_time missing from UI"
The `Test` model has two fields, `estimated_time` and `actual_time`, which can be set and retrieved via the API, but not via the UI.

Are these old fields that need _removal_, or are these _new_ fields that need to be added to the UI?

[2021-02-07 18:32] valentijnscholten commented on #3765
The ordering part is fixed in #3812

[2021-02-08 08:09] joreize commented on #3216
Thanks for comming back here - we've changed to AzureAD and everything is fine.

[2021-02-08 08:09] #3216 closed

[2021-02-08 09:02] StefanFl opened #3820 "Cleanup: Automatic nmap scans need to be fixed or should be removed"
**Bug description**
DefectDojo provides a functionality to run regular nmap scans and send the results via email. It is hidden in the UI, there are no menus pointing to it. It can be configured when a user knows the URL's or via the API.

The scans don't run in a docker or kubernetes environment, because nmap must be installed.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Add a scan

[2021-02-08 09:27] StefanFl commented on #3820
**Supplement:** The library `python-nmap`, which is used for the scan, has been updated the last time in 2016 and should be updated to the much more recent `python3-nmap`, in case the functionality shall be fixed.

[2021-02-08 12:40] Wadeck commented on #3328
@damiencarol I checked the dev branch and it's 99% good. Even in your screenshot you can see the kube-bench listed at the bottom due to case-sensitive sorting.

From my use case it's perfectly fine 👍

[2021-02-08 12:40] #3328 closed

[2021-02-08 15:04] madchap opened #3821 "[JIRA] project can use different workflows, and transition ID do not scale"
**Is your feature request related to a problem? Please describe**
Projects can use different workflows, or they can change unexpectedly.

Whenever this happens, you would notice things such as

[code]

In this case, it related to a transition moving to "Open".

**Describe the solution you'd like**
A way that's not dependent on transition ID, or a more agnostic way. Not sure what.

[2021-02-08 15:58] madchap opened #3823 "Move up the "cvss" field when creating/editing finding"
**Is your feature request related to a problem? Please describe**
The cvss3 field is way at the bottom. Too bad, it's got a nice JS to actually fill out the cvss right within dojo!

**Describe the solution you'd like**
Put it right under "severity" maybe?

[2021-02-08 17:22] michaelgibson opened #3824 "Display correct engagement count for staff users on home dashboard"
Currently the total number of active engagements rendered on the home page dashboard is restricted to either superuser or engagement_lead.
My understanding is that "staff" level access should return the total count of engagements similar to superuser.
Something similar to this seems to correct the issue for me. May or may not be missing other updates.
Diff not rendering.
Submitting PR:
https://git

[2021-02-08 17:24] #3742 closed

[2021-02-08 17:24] #3744 closed

[2021-02-08 17:34] valentijnscholten commented on #3824
Can you make a PR?

[2021-02-08 17:37] valentijnscholten commented on #3823
I noticed it also lower on the page on the view finding page using a whole panel for itself. Might be more logical to put it at the top, maybe in the same row as location / component name+version?

[2021-02-08 17:40] valentijnscholten commented on #3821
This is why I am hesitant of the trying to implement a two-way sync between JIRA and Dojo. Lots of things only work if you have a simple and close to default workflow.

Thoughts:
- You can have multiple jira instances in dojo for the same real life jira instance. You can vary transition ids in this way
- We could try to see what's in the jira meta data we get to see if we can map transition names

[2021-02-08 18:09] madchap commented on #3821
Yes - that's what I did, I created a new JIRA instance with different workflow transition IDs.

[2021-02-08 18:09] madchap commented on #3821
The mother of all time sinks.

[2021-02-08 21:58] damianmadeira opened #3829 "Error when try to upload scan result OpenScap - Atomic"
When try upload scan result the openscap, defect dojo show this error: "An error has occurred in the parser, please see error log for more details".

Steps to get to the error:
![image](https://user-images.githubusercontent.com/56444256/107285488-03406300-6a3e-11eb-9814-d46aabb53faa.png)
![image](https://user-images.githubusercontent.com/56444256/107285505-09364400-6a3e-11eb-86ce-85f20a0c852f.png)

[2021-02-08 22:40] madchap opened #3830 "Update documentation on how to write a parser"
**Bug description**
Contributing a parser is now much easier thanks to @damiencarol .

Need to update the [doc](doc/guide_to_parser_writing.md).

[2021-02-09 12:26] madchap opened #3832 "The k8s deployment does not support uploading files"
**Is your feature request related to a problem? Please describe**
When deploying DefectDojo through k8s, there is no way to upload files because there is storage attached.

**Describe the solution you'd like**
Have some storage available. I don't know how generic it could be made upstream.
Maybe there could be helm definitions for several implementations (e.g. s3, GCP filestore, GCP buckets...)

I

[2021-02-09 15:43] michaelgibson commented on #3824
Closing. resolved'ish in #3826 :)

[2021-02-09 15:43] #3824 closed

[2021-02-09 23:42] damiencarol commented on #3823
It's a good idea

[2021-02-10 01:49] joebasirico commented on #1250
I'm not sure if you are setup the same as me, but mysql user is defectdojo, not root.

[2021-02-10 14:16] saldam72 commented on #3681
News ?

[2021-02-10 17:01] damiencarol commented on #3830
@madchap this one will change with #3827 , we should wait the merging on this one.

[2021-02-10 17:02] damiencarol commented on #3829
@damianmadeira testing your report.

[2021-02-10 17:11] damiencarol opened #3840 "New importer: Open Vulnerability and Assessment Language"
**Scanner OVAL**

OVAL® International in scope and free for public use, OVAL is an information security community effort to standardize how to assess and report upon the machine state of computer systems. OVAL includes a language to encode system details, and an assortment of content repositories held throughout the community.

Tools and services that use OVAL for the three steps of system assessm

[2021-02-10 17:17] damiencarol commented on #3829
@damianmadeira  It seems your report is in OVAL format and you are using a parser designed to support XCCDF reports generated by OpenSCAP (see https://csrc.nist.gov/Projects/Security-Content-Automation-Protocol/Specifications/xccdf)

I opened a feature request to support this format (https://github.com/DefectDojo/django-DefectDojo/issues/3840) but for now your pb is not a bug, maybe a missing feat

[2021-02-10 17:17] #3829 closed

[2021-02-10 17:30] damiencarol commented on #3655
@harishgowdahk your issue is fixed in dev.

[2021-02-10 17:41] damianmadeira commented on #3829
Thank you @damiencarol . I saw the same, hopefully this functionality can be added to defectdojo soon.

[2021-02-10 20:33] damiencarol commented on #3681
@saldam72 don't know well this part, will relay your request to the mods

[2021-02-10 22:26] madchap opened #3841 "Jira webhook resolution should have named "resolution" to match"
**Is your feature request related to a problem? Please describe**
Currently, JIRA configuration allows for "accepted resolution" (creates a RA) or "false positive resolution" (marks finding as FP).

Any other JIRA resolution that come in fall into the `else` and marks the finding as inactive, mitigated. Hence a finding could be mitigated when a JIRA is marked as "Done - Won't fix", which is probab

[2021-02-11 16:47] sarosbacz commented on #2755
Found myself in same to authors' situation! We really need to be able to set custom issue types.

[2021-02-11 17:30] valentijnscholten commented on #2755
If it's about custom _issuetypes_, these are configured in `settings.dist.py`:

https://github.com/DefectDojo/django-DefectDojo/blob/f567f53aeeb33404762fd44a28a7d18362cb9d68/dojo/settings/settings.dist.py#L863

[2021-02-12 07:16] damiencarol commented on #3820
@StefanFl I see this feature as out of scope for the project, we discussed to remove it in 2.0.0

[2021-02-12 08:52] macedogm opened #3848 "False positive history is not working with reimport-scan API"
This is potentially a duplicate of https://github.com/DefectDojo/django-DefectDojo/issues/1584 .

The false positive history setting doesn't work as expected.

**Steps to reproduce**

1. In settings, check `False positive history` and uncheck `Deduplicate findings`.
2. Import a new report using the `Import Scan Results` page.
3. Flag a finding as `False Positive` and uncheck `Active` and `Verified

[2021-02-12 08:56] macedogm commented on #3848
I can prepare a MR if you consider this a bug too.

[2021-02-12 10:08] valentijnscholten commented on #3848
I agree this behavior is not correct, a false positive should remain marked as false positive. So the reimport code should be adjusted for this.

The False positive history logic is used during normal import and it compares a new findings to existing findings and if it finds an existing finding that matches al criteria, and is a false positive, the new finding will be marked as false positive.
Thi

[2021-02-12 10:24] macedogm commented on #3848
Yes, your understanding is correct. What worked for me was to add the following check in the line that you mentioned:

[code]

I'm adding a note to give more clarity to the finding and do a `continue` to skip to the next finding in the `reimport`. It worked for me, but I'm not 100% sure if the `continue` will not break anything else.

[2021-02-12 12:01] ihebski opened #3850 "Import/Export engagement"
I suggest to add an Import/Export engagement feature.

[2021-02-12 12:34] valentijnscholten commented on #3848
A note would be too much, most people are running reimports daily. The continue would also skip the part where endpoints are checked/added, so it would be better to remove that. And it could be `if finding.false_p or finding.out_of_scope`

[2021-02-12 12:37] macedogm commented on #3848
Makes sense. I'll not be able to submit the fix today, but will do during the weekend. 👍🏻

[2021-02-12 12:50] damiencarol opened #3851 "APIv2: endpoint for "languages" entity"
**Is your feature request related to a problem? Please describe**
There is no way to push data for languages entity in the API v2

**Describe the solution you'd like**
As an API user, I want push records in "languages" so that it appears of a product.

**Describe alternatives you've considered**
Checked in the /v2/doc/ if some endpoint exists

**Additional context**
Discussion of one user in Slack

[2021-02-12 21:04] joebasirico commented on #2755
For my use case we have custom, required fields in JIRA. If we try to automatically create a JIRA ticket from DD without the field the update will fail. I was able to modify the code in a couple of places to properly submit the fields required. This isn't a generic (or flexible) fix so I won't share the specifics, but in case this helps somebody else here is what I ended up doing:

1. In dojo/mode

[2021-02-13 08:07] #3731 closed

[2021-02-14 22:52] #3441 closed

[2021-02-14 22:54] #2715 closed

[2021-02-14 23:07] rr1010 opened #3862 "How can I connect my postgresql to Defectdojo.?"
**Is your feature request related to a problem? Please describe**
A clear and concise description of what the problem is.
Ex: I'm always frustrated when I kill defectdojo and run again. It will spawn another instance of mysql container and my data will be in the older container. So I thought to connecting to my external database.

**Describe the solution you'd like**
A clear and concise descriptio

[2021-02-15 05:59] JoseRoman commented on #3862
What environment variable(s) are you using?

I think you need to set `DD_DATABASE_ENGINE` to django.db.backends.postgresql

[code]

[2021-02-15 07:44] rr1010 commented on #3862
Yup all changed.

[2021-02-15 07:47] rr1010 commented on #3862
In docker-compose.yml file. I changed the DD_DATABASE_URL as well

[2021-02-15 09:02] madchap opened #3865 "Risk acceptance handler not registered with celery"
**Bug description**

While watching logs for another PR.

[code]

[code]

[2021-02-15 10:02] damiencarol commented on #3623
Made a fix for one file https://github.com/DefectDojo/django-DefectDojo/pull/3867
Will make a pass on parsers

[2021-02-15 14:45] damiencarol commented on #3623
This pull request fix one parser: https://github.com/DefectDojo/django-DefectDojo/pull/3868

[2021-02-15 14:49] JoseRoman commented on #3862
Can you try removing DD_DATABASE_URL and only using the other environment variables I mentioned above?

I think that using DD_DATABASE_URL will default to the MySQL engine, but if you use the other environment variables and specifically set DD_DATABASE_ENGINE to "django.db.backends.postgresql", it should work.

[2021-02-15 15:42] dsever opened #3869 "Nexpose miss some findings for authenticated scans"
When authenticated scan is in use against one of the IP addresses, nothing will be imported into DD. That type of scan do not contain endpoint and service tags.

Example of report is in attach.

[report_auth.xml.txt](https://github.com/DefectDojo/django-DefectDojo/files/5988413/report_auth.xml.txt)

[2021-02-15 21:18] macedogm opened #3870 "The hash_code of a finding is not recalculated after the finding is updated"
**Bug description**
It seems that the finding's `hash_code` is not recalculated after the finding is updated. It's generated only once, when the finding is created, and then will remain the same even if its fields are updated.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to `System Settings` and enable `Deduplicate findings`.
2. Create one finding in, for example, product 1, enga

[2021-02-15 21:19] macedogm commented on #3870
Please let me know your thoughts and if this is an expected behaviour or not.

[2021-02-15 23:54] rr1010 commented on #3862
I tried with just changing the environment variables. But still it connects to the mysql and not the postgres.

[2021-02-16 00:04] rr1010 commented on #3862
![image](https://user-images.githubusercontent.com/51348258/108003356-6beb9900-7057-11eb-95b2-c0df209c019d.png)

[2021-02-16 00:21] JoseRoman commented on #3862
The values you set in the setup.dist.py file will be overwritten by the environment variables. You have to use one or the other, not both, did you comment out the environment variables from your docker-compose file?

Also I'm assuming that you are re-building the images after making the change?

[2021-02-16 04:17] rr1010 commented on #3862
Yes I am building again if I change anything. Do I have to remove these Environment variables and the URL in the docker-compose.yml. If I run this like this it does give me errors saying no USER PASSWORD DATABASE OR ENGINE. Screenshot is below.
![image](https://user-images.githubusercontent.com/51348258/108017246-45d6f080-7079-11eb-9257-58c16598872e.png)

![image](https://user-images.githubusercon

[2021-02-16 04:18] rr1010 commented on #3862
I feel it depends on the DD_DATABASE_URL to connect to postgres.

[2021-02-16 09:13] macedogm commented on #3848
PR was merged. I'm closing this ticket.

[2021-02-16 09:13] #3848 closed

[2021-02-16 12:56] damiencarol commented on #3623
@valentijnscholten what the onelogin project have made is neat. we could analyze how we could follow the same approach.
In the same time, I think we need to switch every `lxml` dependencies to `defusedxml`, not perfect but definitively more secure.

[2021-02-17 09:36] valentijnscholten commented on #3862
I think on slack some users solved the issue not too long ago: https://owasp-slack.herokuapp.com/
We are refactoring our documentation and this is for sure something we want to document.

[2021-02-17 11:28] madchap opened #3877 "Cannot edit finding with non-CVE vulnerability identifiers"
**Bug description**

![image](https://user-images.githubusercontent.com/5468769/108198202-a454ab00-711b-11eb-8161-83cac32d2f85.png)

[2021-02-17 12:13] AndreyMZ opened #3878 "PyJWT: ImportError: cannot import name 'ExpiredSignature'"
### Bug description
Regression of bug #3556.

### Environment information
DefectDojo Commit Message:
[code]

### Steps to reproduce
Try to log in to DefectDojo.

#### Actual result
[code]

### Root cause
[requirements.txt](https://github.com/DefectDojo/django-DefectDojo/blob/45f64b9300a03fe81172540255fe2bbe4096f19a/requirements.txt)
[code]

### Additional information
This bug is added by PR #3644.

[2021-02-17 12:55] madchap commented on #3877
As we start to integrate more and more various CVE-like identifiers, we may want to relax the regex.

Would we want to rename `cve` in the model to the profit of a more generic `common_identifier`? Or have yet another field and keep `cve` the way it is?

[2021-02-17 15:11] macedogm commented on #3877
I think that `cve` should be kept, since it's the main record for tracking and identifying vulnerabilities across multiple tools/vendors.

What about having an additional field like `security_advisory` (or some better name) to track the specific tools/vendor related advisories?

For example:
- [GHSA-r3j7-x2g5-9gx6](https://github.com/advisories/GHSA-r3j7-x2g5-9gx6) points to `CVE-2021-27185`
- [DS

[2021-02-17 16:24] valentijnscholten commented on #3877
How are other tools doing this? The example given show tools / vendors who have chosen to create their own ID on top of the CVE probably to provide some extra info/characteristics depending on their context.

What we could to is have some generic 1..N relationship between finding and "vulnerability identifier". Such an identified could have a type. i.e. a finding could have multiple vulnerability

[2021-02-17 16:27] valentijnscholten commented on #3878
I was afraid this could happen, the situation is quite unclear. Some libs support only <2 other only >=2 for PyJWT. I think we need someone actually using the Azure login to find out what PR we need to fix it. Maybe just downgrade back to 1.7.1?

@AndreyMZ Are you using Azure login, or are you seeing it in another social login as well? I think we have people running dev with Google SSO for example

[2021-02-17 16:49] valentijnscholten opened #3879 "new findings with Info severity cannot be pushed to JIRA"
In the system settings there's a configuration option to specify the minimum severity for findings to be allowed to be pushed to JIRA. We can set this to 'Info' or leave it empty to allow all findings to be pushed to JIRA.

The `test/views.py#add_finding` logic doesn't respect this setting and has a hardcoded check to not push any Info findings to JIRA.

[2021-02-17 16:49] valentijnscholten commented on #3369
Looking at this I found another bug: https://github.com/DefectDojo/django-DefectDojo/issues/3879

[2021-02-17 18:26] valentijnscholten opened #3881 "bulk edit, reimport, update_from_source don't set mitigated_by field"
There is a helper class `findings/helper.py` which has a method to help setting mitigated / is_Mitigated / mitigated_by always correctly. This should be called whenever the status of a finding changes. This call is missing from bulk_update.

Same for reimport that can close or reopen findings.

Same for update_from_source (used by sonarqube integration).

I think it's time for a more transparent s

[2021-02-17 21:20] macedogm commented on #3877
Personally I don't remember. DefectDojo is the only tool for vulnerability management that I've been using for several months. 😄

This sounds like a good idea to me.

[2021-02-18 09:11] damiencarol commented on #3877
@valentijnscholten @macedogm @madchap I think we should not use the `cve` attribute to store anything else than a CVE.
This attribute is used this way by all the parsers and everywhere in the code. Storing another vuln id like CWE or RedHat ID is a bad idea.

I already made a comment on another issue that wanted another id in the findings ( https://github.com/DefectDojo/django-DefectDojo/issues/37

[2021-02-18 20:00] valentijnscholten commented on #3870
I captured this behaviour in the unit tests to make sure it either stays as it is, or we make a conscious decision to change it and update the tests. My first instinct would say it should be recalculated, but it could lead to situations that a finding then suddenly becomes a duplicate of another finding. Possibly it becomes a duplicate of a newer finding, what could be confusing.

[2021-02-18 20:02] valentijnscholten commented on #3442
In #3782 we fixed the engagement to epic mapping which allows you to have all findings in an engagement be part of an Epic.
Please let us know if this solves your usecase.

[2021-02-18 22:15] macedogm commented on #3870
I agree with you. This will seem a bit strange for the user and lead to confusion indeed.

Maybe a better behavior would be to some sort flag the finding as a potential duplicate of another finding and display a different message, in order to distinguish from the normal deduplication process. However, I feel that this will led to a more complex logic and behavior instead of a simple one.

In this

[2021-02-19 14:05] berez23 commented on #2979
Is there any plan to add this integration? @SPoint42
Thanks

[2021-02-19 15:13] SPoint42 commented on #2979
I've start working last month on it

[2021-02-19 17:22] berez23 commented on #2979
Do you have some code to share .. @peppelinux  and me would love to have this code ready soon?

[2021-02-19 17:26] berez23 commented on #2979
Thanks @SPoint42

[2021-02-19 19:27] valentijnscholten commented on #3878
Should be fixed if we update to `social-auth-core` 4.0.3: https://github.com/python-social-auth/social-core/commit/e26c71cb9ee2fce9a423336ffb9dbc5a62ff4582

[2021-02-19 19:51] valentijnscholten opened #3890 "cleanup 2.0: replace django-saml2-auth with django-saml2-pro-auth or djangosaml2"
[django-saml2-auth ](https://github.com/fangli/django-saml2-auth)is no longer maintained making it a security risk and incompatible with some newer libraries.
For example, it requires `PyJWT<2`, where other libraries have switched to `PyJWT>=2.0.0` ([issue](https://github.com/fangli/django-saml2-auth/issues/155))
This prevents us from:
A) doing a clean install from requirements needing the legacy

[2021-02-19 23:21] peppelinux commented on #3890
I suggest djangosaml2 :smile:

[2021-02-20 04:53] AndreyMZ commented on #3878
Sorry for the delay in reply. Yes, usually I use Azure AD login. But this issue is reproduced without any social auth, because `'social_core.backends.azuread_tenant.AzureADTenantOAuth2'` is in `AUTHENTICATION_BACKENDS` unconditionally (see [dojo/settings/settings.dist.py:358](https://github.com/DefectDojo/django-DefectDojo/blob/052aa78a8bbe820bad09f3cfc61a5c37d1afae70/dojo/settings/settings.dist.p

[2021-02-20 09:07] valentijnscholten commented on #3878
That's weird because it works locally here and also in our integration tests. I did see that depending on the python / pip version it sometimes installs 1.7.x and sometimes 2.0.x. Looking at your log info looks like you're also running outside docker, which might explain it. Anyway, with that PR at least the most important libs are now used against 2.0.x.

We may better not include all those auth

[2021-02-20 17:06] #1886 closed

[2021-02-21 16:42] #3823 closed

[2021-02-21 16:43] #3865 closed

[2021-02-21 18:33] gdemarcsek opened #3898 "Nuclei importer"
**Scanner Name**
Nuclei (JSON-per-line): https://github.com/projectdiscovery/nuclei (e.g.: https://github.com/projectdiscovery/nuclei/blob/31e9c04d5ec05674bad557ede44f22cecd15c0eb/v2/pkg/executer/output_http.go#L25 , https://github.com/projectdiscovery/nuclei/blob/31e9c04d5ec05674bad557ede44f22cecd15c0eb/v2/pkg/executer/output_dns.go#L16)

**Sample File**
Varies based on the template, / workflow,

[2021-02-22 02:39] damiencarol commented on #1886
@NRGLine4Sec @AlexanderTyutin merged to dev, will be part of 1.13.0

[2021-02-22 08:40] AliElKhatteb opened #3904 "why in ci/cd engagment when i upload a report i find the old ones and i cant know which is new and which is old"
i think in ci/cd engagment there should be 1 report for each tools which is the latest one because i wanna look at how the application is doing right now so is there a way to acheive this

[2021-02-22 09:15] valentijnscholten opened #3905 "errors from new parser factory when running migrations"
happening on my prod system on upgrading I see this when running migrations
[code]

[2021-02-22 12:14] damiencarol commented on #3905
@valentijnscholten  could you give more context? like your deployement? Docker/K8s/ etc...
Also if you test to import a file, do you have the same error in logs ?

[2021-02-22 13:27] valentijnscholten commented on #3905
I just created a quick issue to capture the error. As per your suggestion on Slack, this fixed it:
[code]
https://stackoverflow.com/questions/514371/whats-the-bad-magic-number-error

I thought maybe it was some mismatch in the parser thing, but turns out it it's something completely different :-D

[2021-02-22 13:27] #3905 closed

[2021-02-22 17:06] valentijnscholten opened #3908 "tests: add from template should be tested"
Just fixed two bugs in add finding from template, we should add this feature to the integration tests.

[2021-02-22 19:37] MFernstrom opened #3910 "Typos on the DefectDojo"
Found some typos on the website

commericial
avialable

and an odd period in the Commercial Support FAQ section.

[2021-02-22 19:41] damiencarol commented on #2979
I will be glad to help you in this task @SPoint42 . The way we add parsers has changed a little bit. (less work)
don't hesitate to ping me in your pull request.

[2021-02-22 20:17] jis0324 opened #3911 "How to change the DB."
Hello, DefectDoJo Team.
At first, I appreciate you build a good repository, and project.
I am trying to change the DB.
Actually, I tried to combine DefectDojo and Local mysql db.
But it leaded me to hell, and I did not find why it does not work.
So then I decied to use aws online db.
For now, I followed your doc - https://defectdojo.readthedocs.io/en/latest/running-in-production.html
https://prnt.

[2021-02-23 15:32] damiencarol commented on #3869
@dsever a patch has been merged to dev branch, it will be part of the `1.13.0` release.

[2021-02-23 15:32] #3869 closed

[2021-02-23 18:54] #3725 closed

[2021-02-24 09:54] apilynx commented on #3910
These are from defectdojo-web [https://github.com/DefectDojo/defectdojo-web/pull/5](url)

[2021-02-24 18:49] damiencarol commented on #3878
This is it.

[2021-02-24 20:04] sa-git123 commented on #3910
/system_settings has another as well: "Crital' instead of 'Critical' for SLA: **_"Crital Finding SLA Days* "_**

[2021-02-24 22:13] rr1010 opened #3922 "MS teams and email webhook support question"
**Is your feature request related to a problem? Please describe**
Your MS Teams integration using URL webhook not working. I have added the webhook and also enabled all the notifications for msteams in the product. But not receiving any notification on the teams. and Not receiving any errors from DD.

For Email I gettting a error Cannot assign requested address.

![image](https://user-images.githu

[2021-02-24 23:08] priyankaaggarwal20 opened #3924 "jira tickets not reflecting in dojo console neither created in Jira board."
**Is your feature request related to a problem?
Work done so far : Am doing jira integration with dojo , i could able to create webhook in jira and made connection to jira via dojo.
Problem>: when i am taking each vulnerability and editing , then checking "push issue to jira", so it is showing JIRA age and JIra change but , no jira were created at the JIRA board and neither jira number is displaye

[2021-02-25 08:25] dsever opened #3928 "SonarQube API importer enhancement"
As a user of the SonarQube scanners and product owner, I would like to use Sonar API import feature for importing scan results. But I don't want to the use API Sonar key that has rights to access all Sonarqube projects (security reasons), rather insert an API key per DD product.

My propose is to keep SonarQube Configuration (with the option not to include API key) as it is, but on the Product lev

[2021-02-25 12:09] pawnu commented on #3647
Thanks, it works now.

[2021-02-25 13:13] valentijnscholten commented on #3922
Please populate all the info as requested in the template: https://github.com/DefectDojo/django-DefectDojo/issues/new?assignees=&labels=bug&template=bug_report.md&title=

[2021-02-25 13:13] valentijnscholten commented on #3924
Please populate all the info as requested in the template: https://github.com/DefectDojo/django-DefectDojo/issues/new?assignees=&labels=bug&template=bug_report.md&title=
Or better, come to our slack channel for support.

[2021-02-25 13:15] valentijnscholten commented on #3911
I believe this is solved on Slack and was caused by special characters in the password that violate the URL spec causing the database url being parsed incorrectly.

[2021-02-25 13:16] valentijnscholten commented on #3904
Please come to Slack for support. You can use Reimport to keep uploading updated reports into the same test.

[2021-02-25 19:58] damiencarol commented on #3795
Part of `1.13.0` release

[2021-02-25 19:58] #3795 closed

[2021-02-25 20:00] damiencarol commented on #3612
Part of `1.12.0` release

[2021-02-25 20:00] #3612 closed

[2021-02-25 20:02] mperrotti-fdbl opened #3931 "Can SAST details be included when pushing issues to JIRA?"
I'm using DefectDojo as middleware between Veracode and JIRA.

When I import SAST findings into DefectDojo, I see a lot of useful information, such as Source Filepath, Source Line Number, Sink Filepath, Sink Line number.

However, when creating JIRA tickets based off of these findings, these details are missing.

The JIRA ticket does contain links back to DefectDojo, but that's an extra step for t

[2021-02-25 20:03] damiencarol commented on #3153
Part of `1.10.x` release

[2021-02-25 20:03] #3153 closed

[2021-02-25 20:44] valentijnscholten commented on #3931
You can edit `issue-tracker/jira-description.tpl`, might be even worthwhile to make a PR from it.

[2021-02-25 20:45] valentijnscholten commented on #3922
#3930

[2021-02-25 20:46] mperrotti-fdbl commented on #3931
I will look into it, thank you.

[2021-02-25 21:02] valentijnscholten commented on #3862
The only thing needed is to set the DD_DATABASE_URL environment variable before running docker-compose up. So `export DD_DATABASE_URL=blablablabla`. Make sure there are no characters in the username or password that are not allow in urls (#, @, : etc) or urlencode those.

[2021-02-25 21:41] mperrotti-fdbl commented on #3931
I was able to do this no problem.

{% if finding.component_name %}
*Vulnerable Component*: {{finding.component_name }}
*Source Object*: {{ finding.sast_source_object }}
*Source File*: {{ finding.sast_source_file_path }}
*Source Line*: {{ finding.sast_source_line }}
*Sink Object*: {{ finding.sast_sink_object }}
{% endif %}

I would issue a PR but other folks might want to see it differently.

[2021-02-26 04:04] haivipin4u opened #3932 "Unable to upload trufflehog JSON output"
Hi Team,

I have ran a scan using trufflehog3 for the vuln django.nv application and saved the results in json format.

But unable to import trufflehog3 json outout to defect-dojo. Giving some parse error.

I have attached the trufflehog json results and error which i am getting while uploading.

Also i validated the json format using an online json format checker. Screenshot attached.

<img width

[2021-02-26 07:35] madchap commented on #3922
You most likely have an issue with docker to send emails, and certainly has nothing to do with the app itself. I remember having that issue too, and it was purely a docker configuration problem (I can't recall how I solved it, but Google helped me).

[2021-02-26 08:25] damiencarol commented on #3932
@haivipin4u what version do you use ? which kind of deployment?

[2021-02-26 09:15] damiencarol commented on #3932
@haivipin4u  I took a look at your report and it seems that the format of TruffleHog report is not the same.
TruffleHog 3 seems to use JSON well formed now (it was JSON lines before)
As for now the parser only support JSON lines old one, you have this error.

[2021-02-26 10:17] haivipin4u commented on #3932
Thanks @damiencarol for the updates !

I have used trufflehog instead of trufflehog2. Getting 500
 internal server error.

Attached screenshot and result output.

Any solutions or output sample format i can use and test it out.

<img width="949" alt="error_log_1" src="https://user-images.githubusercontent.com/79680902/109287610-d23b9d00-7849-11eb-88cc-a38d0c2fb18f.PNG">
[trufflehog.zip](https://gi

[2021-02-26 10:54] valentijnscholten opened #3933 "switch back to drf-yasg from drf-yasg2"
drf-yasg2 is no longer supported
https://github.com/axnsan12/drf-yasg/issues/662
https://github.com/JoelLefkowitz/drf-yasg/commit/7316f13497065ffbe0e134e2a4bbd4ea76939d2c

[2021-02-26 16:08] michaelgibson opened #3937 "Enhance cleanup job"
We do daily imports of findings and rely on the de-duplication logic to delete any redundant findings.
This works great but ends up leaving a lot of empty tests lying around.

There was mention of enhancing the existing cleanup job:
https://github.com/DefectDojo/django-DefectDojo/pull/3279#issuecomment-735269844
To address this and other related issues.

I believe having an option to "Delete Empty

[2021-02-26 16:56] valentijnscholten commented on #3937
Yes, a better cleanup would be nice. But also enhancements to the reimport might mean that could be interesting choice to avoid all the duplicates. Is there a reason why you are not using reimport?

[2021-02-26 17:55] michaelgibson commented on #3937
There are a few reasons we don't use import-scan/reimport-scan.
1. Supported parser is not available for the data so we create findings ourselves.
2. There are fields we want set at the finding level that we lose granular control for when using import-scan.
3. The supported parser does not work with the version of the tool we use.

[2021-02-26 19:37] nxc933 opened #3939 "Findings in tests not paging properly"
**Bug description**
When attempting to view findings from within an engagement in 1.13, clicking a page number or modifying the number of findings per page does not work.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go into an engagement
2. Go into a test
3. View findings
4. Click page "2" or modify number of findings per page
5. Issue will occur; page URL will change, but contents

[2021-02-26 19:58] valentijnscholten commented on #3939
created 2 PRs to fix both in dev and 1.13.x which may get a bugfix release

[2021-02-26 20:03] valentijnscholten commented on #3939
thanks for reporting

[2021-02-26 20:05] valentijnscholten commented on #3931
Added those fields in #3938

[2021-02-26 23:13] michaelgibson opened #3944 "Jira tickets get created for duplicate findings"
It looks like the Deduplication and Jira celery tasks are committed to the queue asynchronously.
The deduplication task marks a dupe finding duplicate, but because the jira task has finding data that preceeds that it still sees  'duplicate' field is always False.
Additionally, when it goes to save the finding, it overwrites the duplicate field as false even if the dedup task marked it as True.
htt

[2021-02-27 00:27] damiencarol commented on #3932
@haivipin4u  I pushed a pull request to refresh the parser. it seems that trufflehog is broken since Dynamic infrastructure refactoring. There were no unit tests for this parser.

[2021-02-27 00:28] damiencarol commented on #3932
https://github.com/DefectDojo/django-DefectDojo/pull/3935

[2021-02-27 07:41] valentijnscholten commented on #3944
This indicates a timing issue, which may well be because we always let these tasks run in parallel. On fast system I think it all goes well, but there's a risk of the above indeed. The solution would be to make the tasks sequential / ordered. The solution proposed above might help, but still has the same risk of creating a JIRA finding before the finding is deduplicated.

Are you use `push_all_iss

[2021-02-27 08:59] damiencarol commented on #3878
closing as it is fixed in `1.13.0`

[2021-02-27 09:02] #3779 closed

[2021-02-27 10:03] #3939 closed

[2021-02-27 12:20] #3766 closed

[2021-02-27 18:16] #3878 closed

[2021-02-27 22:14] valentijnscholten commented on #3944
The `.save()` calls are not needed anymore in the jira helper, so I removed those in 3953. Won't fix the timing issue fully, but reduces the impact quite a bit.

[2021-02-28 16:04] kir-b opened #3955 "Wrong finding dates in Duplicate Cluster and the Similar Findings sections"
Hi all!
It look like dates in the 'Duplicate Cluster' and the 'Similar Findings' sections of View Finding are the date of the finding being viewed, but not the date of similar/duplicate finding.
![image](https://user-images.githubusercontent.com/31217006/109425211-4a47c580-79f8-11eb-9155-312ee83bb6b6.png)

For example, only first finding in Duplicate Cluster section from Feb, 9.

**Steps to reprod

[2021-02-28 18:32] damiencarol commented on #3937
@michaelgibson which parser? what is broken?

[2021-02-28 19:37] michaelgibson commented on #3944
We mainly specify `push_to_jira` though the API at the Finding or import-scan level depending on tool.

[2021-02-28 19:39] jis0324 commented on #3911
Hello, @valentijnscholten
Thanks for your comment.
Yes, You and @madchap helped me, so I fixed this problem,
The reason is that my password contains some special characters.
.......
Btw, did you fix this problem?
So can I contain special characters in my database password?

[2021-02-28 19:48] valentijnscholten commented on #3911
No, it's not a problem in defect dojo. It's a property URLs, certain characaters are forbidden. Did you try urlencoding them?

[2021-02-28 19:49] #3442 closed

[2021-02-28 19:51] #3597 closed

[2021-02-28 19:51] #3369 closed

[2021-02-28 19:51] #3879 closed

[2021-02-28 19:53] #3090 closed

[2021-02-28 19:53] valentijnscholten commented on #3117
fixed in that PR

[2021-02-28 19:53] #3117 closed

[2021-02-28 19:53] #3122 closed

[2021-02-28 19:54] valentijnscholten commented on #3018
Implemented in #3516

[2021-02-28 19:54] #3018 closed

[2021-02-28 19:56] #3163 closed

[2021-02-28 19:58] valentijnscholten commented on #3204
was made quite a bit better in some PR.

[2021-02-28 19:58] #3204 closed

[2021-02-28 19:59] #3252 closed

[2021-02-28 20:00] valentijnscholten commented on #3223
@Wadeck is this now resolved?

[2021-02-28 20:01] valentijnscholten commented on #3258
@madchap can you confirm it's no longer a problem since 1.11.0 with `django-tagulous` (max length = 255 by default).

[2021-02-28 20:02] #3243 closed

[2021-02-28 20:02] valentijnscholten commented on #3303
@wturnes-flexion can you confirm it is now solved?

[2021-02-28 20:03] #3322 closed

[2021-02-28 20:03] #3191 closed

[2021-02-28 20:04] valentijnscholten commented on #2919
New permission system is in the works. If that's ready, we can look at adding groups possibly.

[2021-02-28 20:04] valentijnscholten commented on #3270
don't think this is an issue any longer

[2021-02-28 20:04] #3270 closed

[2021-02-28 20:09] michaelgibson commented on #3937
The Veracode parser does not seem to mark mitigated findings as inactive but perhaps that has been fixed in newer DD version that I have not tested.
The Gitlab parser may not be actually "broken" for everyone. I think there are some compatibility issues with the version of GitLab we are using.
In either case I just chose to just import findings individually than try and dive too deep into the pars

[2021-02-28 20:10] #3530 closed

[2021-02-28 20:12] valentijnscholten commented on #3451
@Wadeck I think the search improvements should help as you can search on `product-tags: xxx`, `engagement-tags:xxxx` etc now. Also the list of findings is now paged and the max results can be tweaked in `settings.py`.

[2021-02-28 20:13] valentijnscholten commented on #2718
new permission system in the works, which will support this.

[2021-02-28 20:15] valentijnscholten commented on #3387
Sometimes yes if you have a very noisy scanner with lots of 100% identical vulnerabilities. Sometimes not as it can be confusing :-) Maybe we should think about parametrizing parsers to let users tweak their behaviour, similar to the `detailed` mode we have for some of them

[2021-02-28 20:20] valentijnscholten commented on #3607
The requirement to be admin has been added recently: https://github.com/valentijnscholten/django-DefectDojo/commit/1709a583e8ffe8bc6ee4e2c8c4b8af376b530c7c#diff-c3e4e472bb522533ceae23de0978562b7370477002222332ac59b248be27d4edR1297

Side effect is that the defect dojo api wrapper we have now no longer works for non-admin users. The standard process is to retrieve the list of users to verify the use

[2021-02-28 21:22] ptrovatelli opened #3958 "Re-importing the same report leaves the duplicates in status mitigated"
**Bug description**
When we import a report which includes itself duplicates, when re-importing the same report, the duplicates get mitigated.
- first import:
    - 1 active, verified
    - 1 inactive, duplicate
- after reimport:
    - 1 active, verified
    - 1 inactive, mitigated, duplicate

It doesn't seem correct to me. I'd expect to have :
 - 1 active, verified
 - 1 inactive, duplicate (same

[2021-02-28 21:22] jis0324 commented on #3911
No, I just created a new user(the password of the new user does not include any special char), then connected using this info.

[2021-02-28 21:23] #3911 closed

[2021-02-28 21:37] madchap commented on #3451
Correct, also in the filters.

@Wadeck I'll let you close if that's satisfying enough for you.

[2021-02-28 21:51] #3955 closed

[2021-02-28 21:56] madchap commented on #3877
Fine by me. @damiencarol or @macedogm, would that be something either one of you be willing to work on?

[2021-02-28 21:58] #3800 closed

[2021-02-28 21:59] #3749 closed

[2021-02-28 22:03] #3631 closed

[2021-02-28 22:03] #3655 closed

[2021-02-28 22:03] #3587 closed

[2021-03-01 19:04] valentijnscholten opened #3965 "JIRA: Inactive, Verified findings are not closed in JIRA"
The logic to push a findings status to JIRA considers findings that are Verified as Active, even when `active==False`.

[2021-03-02 00:22] damiencarol commented on #3387
After analyzing a lot of scanner, I can say that there is no bug here. Just some de-duplication computation from the parser.

[2021-03-02 00:22] #3387 closed

[2021-03-02 00:31] damiencarol commented on #3937
Funny! I'm working on this specific parser on this specific part (mark as mitigated) but I have no data to test !
If you can provide me a Veracode report with some mitigated findings, I will be able to test/fix it!

Here is my current work: #3967

For the Gitlab issues, same thing: if you can provide me a report that fail or provide some issue/stack trace I can fix/modify the parser.

[2021-03-02 06:40] ansidorov commented on #2065
Too bad no further work/discussion has been done on this issue

[2021-03-02 13:21] Wadeck commented on #3223
@valentijnscholten It's working fine now 🎉

[2021-03-02 13:21] #3223 closed

[2021-03-02 13:26] Wadeck commented on #3451
Really nice, a tagged engagement will reveal also the parent product 🎉

[2021-03-02 13:26] #3451 closed

[2021-03-02 15:18] bgoareguer opened #3970 "Make the Django session duration configurable"
**Is your feature request related to a problem? Please describe**
Currently the Django session cookie is valid for 14 days (this is the default value).
I would like to be able to lower this value.

**Describe the solution you'd like**
The Django session duration can be changed by setting the `SESSION_COOKIE_AGE` variable.
It would be nice if this value could be set as an environment variable.

An

[2021-03-02 16:53] valentijnscholten commented on #3970
Good idea, if wou want you can submit a PR.

[2021-03-02 17:31] asiyani opened #3971 "error while importing nessus scan results - 'NessusXMLParser' object has no attribute 'parse'"
While uploading nessus scan results, getting following error. I have tried both `csv` and `nessus` file format both of them giving same errror message.

Error message on application
`An error has occurred in the parser, please see error log for details.`

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Product -> findings -> Import Scan Results
2. Select Scan type -> Nessus Scan
3

[2021-03-02 18:06] damiencarol opened #3974 "Remove nmap scans integrated feature"
https://defectdojo.readthedocs.io/en/latest/features.html#port-scans

[2021-03-02 18:08] damiencarol commented on #3971
@asiyani are you able to share the report? if not maybe an anonymized version?

[2021-03-02 18:31] damiencarol commented on #3971
Ok I'm able to reproduce the bug. I'm pushing a pull request with a fix

[2021-03-02 18:36] damiencarol commented on #3971
@asiyani  https://github.com/DefectDojo/django-DefectDojo/pull/3975

[2021-03-02 19:09] MauJFernandez opened #3976 "'OpenVASCsvParser' object has no attribute 'chain' when importing a OpenVAS scan"
DefectDojo version: 1.13.1.
Installation type: Docker.
OpenVAS version: 20.08.
Steps:
1- Add a product.
2- Add engagement.
3- Import CSV scan from OpenVAS.
4- Submit and a toast with "An error has occurred in the parser, please see error log for details" appears at the top.

If I `docker logs django-defectdojo_uwsgi_1` I see this:

`
[02/Mar/2021 17:55:46] ERROR [dojo:590] 'OpenVASCsvParser' objec

[2021-03-02 19:29] damiencarol commented on #3976
it's a bug. I'm preparing a pull request. is it possible to have the scan ?

[2021-03-02 20:04] MauJFernandez commented on #3976
I'm sorry but no, it's work stuff, I failed to mention it in the OP. Do you need anything specific? A pattern? Some weird character?

[2021-03-02 21:20] JoseRoman opened #3978 "EasyMDE missing in "Add Findings to a Test" Page"
**Bug description**
EasyMDE is missing in fields displayed on "Add Findings to a Test" page

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create Engagement
2. Create Test for Engagement
3. Add Finding to Test

**Expected behavior**
EasyMDE should be used in the Description, Mitigation, Impact, and all other textarea fields

**Deployment method** *(select with an `X`)*
- [ ] Kubernete

[2021-03-02 21:26] #3978 closed

[2021-03-02 23:04] MauJFernandez commented on #3976
@damiencarol I dumbed down one of the reports to a single data row CSV and was able to reproduce the error, I attach said file.

[report-e2759495-f26d-4089-9c56-12a10dc36c9c.csv.tar.gz](https://github.com/DefectDojo/django-DefectDojo/files/6072328/report-e2759495-f26d-4089-9c56-12a10dc36c9c.csv.tar.gz)

[2021-03-03 06:18] StefanFl commented on #3820
Duplicate of #3974

[2021-03-03 06:26] StefanFl commented on #3974
Have you decided who will do it? I am happy to volunteer.

[2021-03-03 08:14] AliElKhatteb opened #3981 "Integration with LDAP for authentication?"
why defect-dojo do not come with ldap authentication out of the box and if i want to implement ldap what should i do

[2021-03-03 09:03] asiyani commented on #3971
@damiencarol Thank you very much for quick reply & fix!

[2021-03-03 12:57] damiencarol commented on #3976
@MauJFernandez  Thanks for the data. We are preparing a new `1.13.2` release that will contain the fixes.

[2021-03-03 12:59] #3479 closed

[2021-03-03 13:02] ZsanettMagyar commented on #3479
MobSF import works in the new version of DefectDojo.

[2021-03-03 14:13] valentijnscholten commented on #3974
closing as duplicate of #3820

[2021-03-03 14:13] #3974 closed

[2021-03-03 14:14] valentijnscholten commented on #3820
We have decided to remove it during the team meeting last night. Feel free to go ahead and remove it.

[2021-03-03 15:30] true-hero opened #3989 "Close empty engagements"
Hello. We have integrated DefectDojo in our CI pipeline. Every pipeline creates it's own engagement. I set up deleting duplicates, and now I have a tone of empty engagements and the amount growth every day. So, I really want to close empty engagements automatically. I think, as a quick solution, you can at least add additional field in /api/v2/engagements/ that indicates "is engagement has finding

[2021-03-03 15:39] damiencarol opened #3990 "Error in dojo.finding.views.set_finding_as_original_internal()"
The if test is always false `set_finding_as_original_internal`

https://github.com/DefectDojo/django-DefectDojo/blob/ac1127d11e54713003bc1b54712ac613ca12db9f/dojo/finding/views.py#L2044-L2049

[2021-03-03 18:01] damiencarol commented on #3989
@true-hero hello and thanks for your comment.
You should use Slack for this kind of question.
A lot of users use the same engagement for all CI report and sometimes also use the reimport feature

[2021-03-03 18:10] damiencarol opened #3991 "Code duplicate in dojo/utils.py (L503-L520)"
https://github.com/DefectDojo/django-DefectDojo/blob/a77163274192a0a79d75299dc1453927218f90e0/dojo/utils.py#L503-L520

[2021-03-04 07:07] damiencarol commented on #3974
@valentijnscholten this one was for documentation :D but ok!

[2021-03-04 13:10] valentijnscholten commented on #3989
Is there a reason why you're not using reimport?

[2021-03-04 13:34] madchap opened #3997 "Deleting a product exposes weird fields"
**Bug description**
I don't think this information should be here. Am I deleting members?

![image](https://user-images.githubusercontent.com/5468769/109971507-a19aae00-7cf6-11eb-8ddf-e06c84aca0d3.png)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Delete a product.

**Deployment method** *(select with an `X`)*
- [x] Kubernetes
- [ ] Docker
- [ ] setup.bash / legacy-setup.bash

**Envi

[2021-03-04 16:24] true-hero commented on #3989
@valentijnscholten , to be honest, I have no idea how this endpoint works, but I read docs and swagger. I need to test it. As i understand, I can create a single engagement for project and do reimport of tests (one by one) every time my CI runs?

[2021-03-04 18:45] damiencarol commented on #3989
Yep. Also you can create a "CI/CD" engagement type.

[2021-03-04 19:26] MauJFernandez opened #4000 "No port present when importing an OpenVAS scan"
DefectDojo version: 1.12.0 (not using latest because is blocked by #3976).
Installation type: Docker.
OpenVAS version: 20.08.
Steps:
1- Add a product.
2- Add engagement.
3- Import CSV scan from OpenVAS (use this scan https://github.com/DefectDojo/django-DefectDojo/issues/3976#issuecomment-789287187).
4- Submit.
5- Review the newly created findings, no "Port" added alongside the Endpoint, which are

[2021-03-04 19:36] StefanFl commented on #3997
The members are coming from the new authorization, I can include a fix in PR #3926

[2021-03-04 22:26] #3820 closed

[2021-03-05 07:16] true-hero commented on #3989
@damiencarol , can i ask you, is there any difference between engagement type (CI/CD or simple)? I see that CI/CD engagement has a little different fields, is there anything else?

[2021-03-05 07:35] valentijnscholten commented on #3989
not much, there is some logic that updates the 'end date' field based on the last scan that was uploaded. And I think it only becomes overdue after X days instead of immediately after the enddate.

[2021-03-05 09:20] true-hero commented on #3989
Thank you, Colleagues.

[2021-03-05 09:20] #3989 closed

[2021-03-05 13:02] damiencarol opened #4011 "Change the way we add endpoints for new adhoc finding page"
**Is your feature request related to a problem? Please describe**
When adding an endpoint, a new window appear. This could lead some browser to block it.

![image](https://user-images.githubusercontent.com/1694940/110118937-60b89d00-7dbb-11eb-84f8-53dd0dcb8aef.png)

**Describe the solution you'd like**
As a user, I want to add a finding without open a new window so that is compatible with the futu

[2021-03-05 15:04] wturnes-flexion commented on #3303
Looks fixed to me

[2021-03-05 15:07] #3303 closed

[2021-03-05 15:12] #3881 closed

[2021-03-08 09:32] JamesCullum commented on #2760
I was able to reconstruct this issue. It is caused if you have cookies set from a UI session. You can find the details about the background described [here](https://stackoverflow.com/a/26639895/1424378) - basically if it sees a login cookie, it now runs the full CSRF checks and you need to set the CSRF header and a correct referrer.

In previous versions, this was not the case - there it only veri

[2021-03-08 16:59] michaelgibson commented on #3937
Sorry, I don't think I will be able to provide you with reports from our scanners. I'd like to keep this ticket focused on the cleanup job so if I have more specific issues regarding the parsers, I'll open separate tickets for those.

[2021-03-09 15:37] SPoint42 commented on #2878
See PR #4030

[2021-03-09 18:29] valentijnscholten commented on #3932
fixed in dev, so wille be part of 1.14.0

[2021-03-09 18:29] #3932 closed

[2021-03-09 18:30] valentijnscholten commented on #3677
was fixed in 1.12.0 but we should look at making them async again, now they are slowing down the UI.

[2021-03-10 16:52] saldam72 commented on #3794
Hello team,
I was thinking the same thing :-)

The generic importer should handle aldo finding's tags as well.

Best,
Sal

[2021-03-10 19:09] alessandrosangalli opened #4041 "Maturity assessment module"
hello, does it make sense to implement a UI for maturity assessment like OWASP SAMM v2 within the defect dojo?

I was thinking about implementing an independent project similar to https://concordusa.com/SAMM/ but open source, then I had the idea that maybe it would be useful to put it inside the defect dojo, I would like to hear opinions.

[2021-03-11 09:29] Gby56 opened #4043 "Time data parsing in Veracode SAST XML report import fails"
`time data '' does not match format '%Y-%m-%d %H:%M:%S %Z'`

Seems like some reports I'm trying to import do not contain any `first_found_date` but I'm seeing `date_first_occurrence` elements though.

The report I'm using is version 1.5 `report_format_version="1.5"`

@damiencarol I saw you worked on dynamic parser infrastructure, is that fixed in a part 3 maybe ?
Thanks a lot !
https://github.com/

[2021-03-11 20:20] damianmadeira commented on #3840
Hello how are you? Is there anything new with this topic?

[2021-03-12 07:15] damiencarol commented on #3840
Made some analysis. We have a parser that read reports close to this format.
I also have a prototype but nothing ready.
Writing a parser is fast. it's possible that I push it for `1.15.0` (end of April)

[2021-03-12 10:51] sarosbacz opened #4047 "DD - Jira integration: Jira custom priority field support"
**Is your feature request related to a problem? Please describe**
There is an option in Jira instance settings in DD to add Jira priority fields mapping.
The issue is that the original issue field in Jira consists of 3 values (minor - high - critical) but there are 5 values (Info - critical) in DD.
Some may consider that all I need to do is to add 2 more values to original issue field in Jira, but

[2021-03-12 11:41] manuel-sommer commented on #3981
This should work:

in dojo/settings/settings.dist.py you have to
a) Add this:
[code]
b) Add in "AUTHENTICATION_BACKENDS:" the following:
```'django_auth_ldap.backend.LDAPBackend',```
c) Add the following and adjust this to your purposes:
[code]
In file  requirements.txt you have to add:
[code]
In Dockerfile.django and Dockerfile.nginx add the following to the RUN section:
[code]

[2021-03-12 18:10] Gby56 commented on #4043
Update: The issue comes from the builtin SCA analysis that comes with Veracode SAST reports (not their Agent-based SCA).
The findings don't have a `first_found_date` anymore, but we can see that SAST findings have a `date_first_occurrence` field.
I'd recommend handling a checkbox in the UI, or simpler, having a separate parser which specifies `Veracode + SCA`.
There is also a need for a Sourceclea

[2021-03-12 18:27] valentijnscholten commented on #4047
Do you mean you do not want to use the system priority field in JIRA, but a custom field? Or am I misunderstanding?

[2021-03-12 21:25] sa-git123 opened #4050 "AWS Sec Hub Parser sets every finding to Mitigated on import"
AWS Sec Hub Parser sets every finding to Mitigated on import

[2021-03-12 21:26] sa-git123 commented on #4050
if finding.get('Compliance', {}).get('Status', "PASSED"): needs to be changed to if finding.get('Compliance',{}).get('Status') == "PASSED":

[2021-03-13 08:33] damiencarol commented on #4050
@sa-git123 are you able to do this 1 line pull request?

[2021-03-13 08:36] damiencarol commented on #4041
@alessandrosangalli yes it make sense. take a look at how ASVS frameworks where implemented.
![image](https://user-images.githubusercontent.com/1694940/111024513-76dbe400-83df-11eb-990b-739418e40910.png)
_-> Please keep in mind that this part is highly customizable._

[2021-03-13 08:52] damiencarol commented on #4043
@Gby56 hello and thanks a lot for your analysis!
1. Dynamic parser infrastructure was implemented to make maintenance/creation of parser easier. I tried to not change too much parsers when I'm doing work on the infra itself. But...
2. ... this work showed me that there are a lot of thing we can improve in our parsers. I have a [pull request](https://github.com/DefectDojo/django-DefectDojo/pull/396

[2021-03-13 11:15] damiencarol commented on #3976
@MauJFernandez it's merged in `dev` and `master` and part of last release `1.13.2` thanks for sharing!

[2021-03-13 11:15] #3976 closed

[2021-03-13 11:19] damiencarol commented on #3910
@MFernstrom as @apilynx said, you should check https://github.com/DefectDojo/defectdojo-web repo 😅

[2021-03-13 11:19] #3910 closed

[2021-03-13 11:24] damiencarol opened #4052 "Typo in System settings view"
/system_settings has a typo:

 "Crital' instead of 'Critical' for SLA: _"Crital Finding SLA Days "_*

![image](https://user-images.githubusercontent.com/1694940/111028435-ec9f7a00-83f6-11eb-94ee-9f070157a090.png)

[2021-03-13 11:24] damiencarol commented on #3910
@sa-git123 for your comment I created another issue https://github.com/DefectDojo/django-DefectDojo/issues/4052

[2021-03-13 11:27] damiencarol commented on #3971
@asiyani it was fixed in `1.13.2`. thanks for your feedback

[2021-03-13 11:27] #3971 closed

[2021-03-13 14:43] Gby56 commented on #4043
Thanks a lot for answering ! I'm glad this is already fixed then, I had written a small ternary check to replace dates with a default empty value for example but I'll check your submission.

On the subject of splitting the parser in 2 pieces, I see what you mean yeah, is it possible to handle an option in the parser ? Think of it like a "don't parse SCA findings" checkbox in the UI.

I'm pushing o