[2015-03-13 19:02] r3dey3 opened #1 "Same name as commercial software"
Just wanted to let you know the name you chosen is the same as a commercial issue tracking software - http://www.seapine.com/testtrack/issue-management

[2015-03-13 19:55] cneill commented on #1
Hi r3dey3, thanks for bringing this to our attention. We're doing some brainstorming now to figure out how best to resolve this confusion.

[2015-03-13 20:07] devGregA commented on #1
![homer](https://cloud.githubusercontent.com/assets/4741312/6646419/b63abeae-c992-11e4-8010-6ebf9d2ea1a5.gif)

[2015-03-13 20:08] devGregA commented on #1
![homer2](https://cloud.githubusercontent.com/assets/4741312/6646439/d4eab66a-c992-11e4-8ad3-f01eef9a6fc4.jpg)

[2015-03-14 05:09] rgbkrk commented on #1
You should call it tRacker.

:bow:

[2015-03-21 06:10] sandeepl337 opened #2 "Installation issue"
:~/django-TestTrack-master/vagrant_project# vagrant box add precise                                                                                                                                                             32 http://files.vagrantup.com/precise32.box
/root/django-TestTrack-master/Vagrantfile:7:in `<top (required)>': undefined met

[2015-03-21 11:13] parthibann opened #3 "More screenshorts and demo is required"
* Could be better if this app is hosted in https://www.pythonanywhere.com/ or https://www.heroku.com/ or using some other PAAS providers free account and then linked it in markdown.md file

[2015-03-22 06:14] sandeepl337 commented on #3
+1

[2015-03-23 20:41] grendel513 commented on #1
We are in the process of rebranding.  A new name has been chosen and will soon be reflected in all content as well as logos.

[2015-03-23 20:45] grendel513 commented on #3
Thanks for reaching out, we are in the works of deploying a demo site and adding more documentation and screenshots.  We will update this issue and the README.md when that is done.

[2015-03-24 17:36] #1 closed

[2015-03-25 02:29] grendel513 commented on #1
The name change and rebranding has been completed.  We encourage everyone to rebase as the v1.0 release has been tagged.

[2015-03-25 19:56] devGregA opened #12 "Setup Bash Script is broken for Fedora"
Hey guys, it looks the the bash script was broken (for Fedora and probably RHEL) when we were working on the robustness.
Originally it would also perform a go to fail when an error occurred. I'll look into it, but if you have any insight Charles it would be helpful.

UPDATE 2. I'm not sure what is wrong here now. I'm not sure what egg its referring to. Will investigate when I can. I'm going to rer

[2015-03-25 22:02] grendel513 commented on #12
Added the appropriate pip path for v0.1.3, give it a whirl and let me know.

[2015-03-26 04:41] grendel513 commented on #12
This has to do with your python path: see http://stackoverflow.com/questions/312549/no-module-named-django-core

[2015-03-26 04:45] devGregA commented on #12
Looks like the 1.7 update also broke the debian install. Not sure if we want to roll back, we may also want to consider rolling back to the original bash script until we can work the bugs out of this one

[2015-03-26 04:48] devGregA opened #22 "Setup Bash Script is broken for Debian"
Installed /usr/local/lib/python2.7/dist-packages/python_nmap-0.3.4-py2.7.egg
Searching for gunicorn==19.1.1
Reading https://pypi.python.org/simple/gunicorn/
Best match: gunicorn 19.1.1
Downloading https://pypi.python.org/packages/source/g/gunicorn/gunicorn-19.1.1.tar.gz#md5=eaa72bff5341c05169b76ce3dcbb8140
Processing gunicorn-19.1.1.tar.gz
Writing /tmp/easy_install-BzslcD/gunicorn-19.1.1/setup.cfg

[2015-03-26 04:49] grendel513 commented on #12
I don't think it has to do with the Django 1.7 upgrade. I ran the setup.bash scripts on both the pythonanywhere server and on a Kali virtual box on my local machine.  It worked on both...but I did have to remove the Pillow requirement (besides we dont use PIL, I have no idea why it is there)

[2015-03-26 04:53] grendel513 commented on #12
I did notice that the packages you install are different from each OS:

if [[ ! -z $YUM_CMD ]]; then
	sudo yum install gcc libmysqlclient-dev python-devel mysql-server mysql-devel mysql-python python-setuptools -y
elif [[ ! -z $APT_GET_CMD ]]; then
    sudo apt-get install gcc libssl-dev python-dev libmysqlclient-dev python-pip mysql-server -y

setuptools is only present for one package manager.

[2015-03-26 05:00] grendel513 commented on #22
When the Pillow install failed, it stops processing the rest of the requirements, that is why Unknown command: 'bower' is present.  It never installed django-bower, which is listed in setup.py's install requirements.  We should remove Pillow - I have no idea why it is there.

Can you try removing it on your local box and rerun the setup script?

[2015-03-26 06:27] grendel513 commented on #22
I think the problem is "Django 1.7 requires Python 2.7 or above" see https://docs.djangoproject.com/fr/1.7/releases/1.7/ for details.  We should recommend a virtualenv?

[2015-03-26 06:27] grendel513 commented on #12
I think the problem is "Django 1.7 requires Python 2.7 or above" see https://docs.djangoproject.com/fr/1.7/releases/1.7/ for details.  We should recommend a virtualenv?

[2015-03-26 14:48] devGregA commented on #22
2.7 is standard for both deb & rhel. I'l try removing pillow

[2015-03-26 14:50] devGregA commented on #22
Removed pillow still hit the same error.

[2015-03-26 15:06] devGregA commented on #2
I'm also hitting a snag with the vagrant install. We should all note that 1.5 or greater is required.

==> dd: Waiting for machine to boot. This may take a few minutes...
    dd: SSH address: 127.0.0.1:2222
    dd: SSH username: vagrant
    dd: SSH auth method: private key
    dd: Warning: Connection timeout. Retrying...
    dd: Warning: Connection timeout. Retrying...
    dd: Warning: Connection

[2015-03-26 16:28] cneill commented on #2
It looks like others ([1](https://github.com/wafflesfm/batter/issues/1), [2](https://github.com/puphpet/puphpet/issues/1)) have had issues like this due to the version of Vagrant installed. If you installed it via rubygems, simply removing that gem and installing the binary for your distro from [vagrantup.com](https://www.vagrantup.com/downloads.html) should do the trick.

Let us know if this does

[2015-03-27 02:24] #12 closed

[2015-03-27 02:25] grendel513 commented on #22
fixed by https://github.com/rackerlabs/django-DefectDojo/pull/23

[2015-03-27 02:25] #22 closed

[2015-03-29 04:25] cneill commented on #3
I've just added a [getting started guide](https://github.com/rackerlabs/django-DefectDojo/blob/master/doc/getting_started.md) with screenshots, and we will be looking into deploying a demo version of the application in the near future.

[2015-03-30 07:49] parthibann opened #27 "Table 'django_site' doesnt exist"
1. I've installed this app in 'linuxmint' OS and tried to run it using the command "python manage.py runserver" and the app started without any issues.
![1](https://cloud.githubusercontent.com/assets/4667360/6892109/93c1a56e-d6de-11e4-9862-6d0f511d7af4.png)
2. but when i tried to view the site in browser (http://127.0.0.1:8000) im getting 500 internal server error.
![3](https://cloud.githubusercon

[2015-03-30 14:23] grendel513 commented on #27
Hi -

Thanks for the feedback.  Can you please provide us with more information?

1.  Did you use the `setup.bash` script to install your copy?
1.  If you did not, did your run `./manage makemigrations` and `./manage.py migrate`?

These two commands are necessary to create all the database tables the system needs, without them the tables are not created.  `setup.bash` script will run these command

[2015-03-30 16:09] devGregA commented on #3
@cneill nice! Do we add something to the readme file for a quick reference?

[2015-03-30 16:13] devGregA commented on #3
doh! It's already there, do we want to close this or do we want to get the demo up first? Thoughts @grendel513 ?

[2015-03-30 17:50] grendel513 commented on #3
I'm game either way...the demo site wont be ready until we automate the "reset" every so often...

[2015-03-30 18:50] devGregA commented on #3
Ah gotcha. Anything I can do to help with that? I can take on that automation.

[2015-03-31 06:28] parthibann commented on #27
thanks @grendel513 "python manage.py migrate" worked for me, now im getting the login page but dono the username and password. where can i create and manage users? is there an signup page?

[2015-03-31 13:01] grendel513 commented on #27
@parthibann - DefectDojo takes advantage of Django Users.  The best thing for you to do is run `python manage.py createsuperuser` and follow the prompts.  That will give you a user that has admin rights on the system.  The `setup.bash` runs this for you as well.

[2015-03-31 13:01] #27 closed

[2015-04-04 04:38] sandeepl337 commented on #3
Great information :)

[2015-04-07 19:38] cneill commented on #2
Gonna go ahead and close this. If you continue to have installation issues, open up a new issue and let us know.

[2015-04-07 19:38] #2 closed

[2015-04-21 22:06] HexHash64 opened #38 "Integration with LDAP for authentication?"
For my use case, I prefer to integrate this with LDAP and not rely on django's authentication system.

Is it possible to configure DefectDojo to authenticate against an internal LDAP Directory Server (eg OpenLDAP or Active Directory) ? I've looked at [django-auth-ldap](https://pythonhosted.org/django-auth-ldap/), but I'm new to Django and don't understand how to integrate this with DefectDojo...if

[2015-04-23 01:27] grendel513 commented on #38
@HexHash64 - [django-auth-ldap](https://pythonhosted.org/django-auth-ldap/) is the perfect way to implement LDAP auth for DefectDojo.  We leverage Django for most everything, an authentication backend is no exception.

If you follow the instructions for django-auth-ldap it will work in DefectDojo as well.

Extending DefectDojo is easy, you can either find other django projects that fit your need o

[2015-04-23 01:27] #38 closed

[2015-05-21 23:28] cneill opened #40 "Change license from CC to ?"
Since Creative Commons suggests [not using their license for software](https://wiki.creativecommons.org/FAQ#Can_I_use_a_Creative_Commons_license_for_software.3F), we need to find another, compatible license.

Potential candidates:
- BSD
- Apache
- GPL

[2015-05-22 00:16] MicksMix commented on #40
I'd strongly prefer BSD, with a close second choice of the Apache license. I'm currently evaluating DefectDojo for use in my organization, and if it were GPL licensed it would be off limits for legal reasons. I think other medium to large organizations would have similar restrictions to mine if it were GPL licensed.

IMHO, go with the least restrictive open-source license and go with BSD.

[2015-05-22 00:17] HexHash64 commented on #40
I'd strongly prefer BSD, with a close second choice of the Apache license. I'm currently evaluating DefectDojo for use in my organization, and if it were GPL licensed it would be off limits for legal reasons. I think other medium to large organizations would have similar restrictions to mine if it were GPL licensed.

IMHO, go with the least restrictive open-source license and go with BSD.

[2015-05-22 01:12] cneill commented on #40
Thanks for the feedback! BSD is definitely my preferred option as well. We'll provide an update next week once we've made a final decision.

[2015-05-29 04:48] #40 closed

[2015-06-02 05:31] cneill commented on #3
We have created a demo site for you to check out DefectDojo without installing it [here](http://defectdojo.pythonanywhere.com/).

To log in as an administrator, you can log in with the username "admin" and the password "administrator". If you want to see what it looks like from a Product owner's perspective, you can log in with username "product_owner" and password "product_owner".

Let us know wh

[2015-06-02 05:31] #3 closed

[2015-07-17 05:16] HexHash64 opened #42 "When adding finding from a template, unable to add Systems/Endpoints"
I reproduced this on my local machine, and on "http://defectdojo.pythonanywhere.com". The issue is when adding a finding from a template, it is no longer possible add a "systems/endpoints".

It's clear the URL on the "+" button loses the engagement ID because BEFORE clicking "Add Finding from Template", the URL for the "+" button is "http://defectdojo.pythonanywhere.com/endpoints/1/add".

After ad

[2015-07-17 05:21] HexHash64 opened #43 "Events on calendar in month/week view mistakenly end 1 day early"

[2015-07-17 05:22] #43 closed

[2015-07-17 15:50] grendel513 commented on #42
Thanks for letting us know.  We will take a look and provide a fix soon.

[2015-07-20 14:43] #42 closed

[2015-07-21 04:24] HexHash64 commented on #42
I downloaded and installed the latest defect-dojo on a new Ubuntu 14.04 VM a few hours ago (Django 1.8).

I'm now finding when trying to add a new finding, that clicking the "+" on Systems/Endpoints takes me to 127.0.0.1/endpoints/1/add, which pops up the generic add endpoint screen. Adding the endpoint works, but it doesn't show up on the "add finding" tab that initiated the popup. Which means I

[2015-07-21 16:43] grendel513 commented on #42
hey @HexHash64 -

https://defectdojo.pythonanywhere.com is running the latest code and I do not see the behavior you describe.

Here is how I tested:

1.  Navigate to https://defectdojo.pythonanywhere.com/test/4
2.  Use 'gear' pull down to click on Add Findings, which takes you to https://defectdojo.pythonanywhere.com/test/4/add_findings
3.  Click on Add Finding from Template button
4.  Select (cl

[2015-07-21 21:03] HexHash64 commented on #42
That seems to have fixed it. Thanks!

[2015-10-01 16:33] cgalligan opened #44 "Request for Additional Functionality: Removing Remediated Items from Scan Uploads"
It would be great if as new Nessus scans are run and uploaded as part of an Engagement, they could be compared against existing results and items that have been remediated no longer appear in results and are marked as mitigated along with the date.

[2015-10-02 20:48] devGregA opened #45 "Endpoints are missing on findings when form fails to validate"
Hi Guys,

If a user enters an endpoint for a finding, but forgets to enter say the date, or any other field that is required, when the form fails to validate and the "new finding" template is reloaded, the endpoint information goes missing.

[2015-10-08 16:11] devGregA opened #46 "Can't Remove Endpoints"
Hi Jay,

During Triage I tried to update some findings, but was unable to delete endpoints.

[2015-10-12 20:30] grendel513 commented on #46
Do you mean remove endpoints from the Finding or completely delete Endpoints from the database?

[2015-10-13 14:49] #45 closed

[2015-10-13 15:11] grendel513 commented on #46
After discussing it, we can make the interaction with the add related form better.  Will work on this as an enhancement since there is no actual bug, just awkward interaction.

[2015-10-14 17:59] grendel513 commented on #46
new interaction now available

[2015-10-14 17:59] #46 closed

[2015-10-15 16:49] grendel513 opened #47 "Capture user who closes findings"
Currently we only capture who opens findings.  When closed the user who closes them does not get stored.

[2015-10-19 18:14] devGregA opened #48 "Pythonanywhere demo broken"
It looks like we're missing humanize.
http://defectdojo.pythonanywhere.com/product/1

[2015-10-20 18:00] grendel513 commented on #48
fixed - needed to update the settings.py file to reflect new path django.contrib.humanize

[2015-10-20 18:00] #48 closed

[2015-10-20 18:07] grendel513 opened #50 "[UI Enhancement] Improving Sort for all table listing"
See https://trello.com/c/CozbXGPQ for details.

[2015-10-20 20:33] grendel513 opened #52 "Vagrant Install Review"
The Vagrant install script appears to be broken at the moment. Log included below.

It appears this has something to do with bower / collectstatic, but I haven't had a chance to dig into it too much.

[code]

[2015-10-20 20:34] grendel513 commented on #52
This does not look like it caused it.  This commit does not touch the
vagrant files.

Looks like the machine you ran it on does not have a route to github using
the git protocol: exit code of #128 fatal: unable to connect to github.com:
github.com[0: 192.30.252.128]: errno=Connection timed out

Or it timed out for some reason

[2015-10-20 20:34] grendel513 commented on #52
This is also troubling: OSError: [Errno 2] No such file or directory: '/usr/share/django-DefectDojo/components/components'

Not sure why the double components path

[2015-10-20 20:41] cneill commented on #52
Sorry for the over-verbose log output without a better description; first error is expected in my current environment, but should be fixed by the "Git HTTPS Preference" task. When "Reinstall Bower" runs, it looks like there are some other errors reported. If it were just a failure to connect to Github, the "Bower Failure" step would catch it and complain, but that task is skipped in the log above.

[2015-10-21 00:15] grendel513 commented on #50
Will be address with https://github.com/rackerlabs/django-DefectDojo/pull/51

[2015-10-21 00:16] grendel513 commented on #47
Will be addressed with https://github.com/rackerlabs/django-DefectDojo/pull/51

[2015-10-22 04:22] #50 closed

[2015-10-22 04:22] #47 closed

[2015-10-31 19:36] grendel513 commented on #44
Latest commit 5794b09 takes care of this feature request.  All upload imports are now re-uploadable.

[2015-10-31 19:36] #44 closed

[2015-12-09 17:08] mattvaldes opened #54 "500 on Scan Upload"
Uploading a Nessus scan CSV results in a 500 error. The test is created, but the scan findings are not populated within the test.

Steps to recreate
1. Add product
2. Add engagement
3. From the Tests section of the engagement, select "Import Scan Results" from the drop-down menu
4. Complete scan upload information
4a. Enter "Scan Completion Date"
4b. Select "Minimum Severity"
4c. Select "Nessus Sc

[2015-12-10 15:16] mattvaldes commented on #54
Uploading a .nessus file seems to work properly.

[2015-12-10 22:35] grendel513 commented on #54
Thanks for both the issue report and the added info about the .nessus report.  I have fixed the CSV upload with commit 6b09fe8

[2015-12-10 22:35] #54 closed

[2015-12-22 20:21] cneill commented on #52
#55 should fix this. Can someone review?

[2015-12-22 20:26] #52 closed

[2015-12-24 15:51] aaronweaver opened #56 "python manage.py migrate"
Ran python manage.py migrate and have this error:

<snip>
Applying auditlog.0006_object_pk_index...Traceback (most recent call last):
.
.
.
django.db.utils.OperationalError: (1170, "BLOB/TEXT column 'object_pk' used in key specification without a key length")
</snip>

[2016-01-05 17:51] rackGregA commented on #56
@grendel513 I think I remember us seeing this issue somewhere else as well, do you remember or recall the solution? If not I'll dig in this afternoon.

[2016-01-05 17:59] devGregA commented on #56
@grendel513. Aaron emailed me this morning and also told me it was a fresh install. Will take a look when I get back from lunch

[2016-01-05 19:11] devGregA commented on #56
Hi @aaronweaver what operating system are you using? I'm free to try and reproduce the error now.

[2016-01-05 19:17] devGregA commented on #56
@aaronweaver, just to confirm it was a new install?
If it was you don't need to use migrate. You only need to migrate when a new release requires database changes.

bash setup.bash
python manage.py bower install
python manage.py collectstatic
python manage.py runserver

Should be all you need for new instances.

[2016-01-05 19:27] aaronweaver commented on #56
@devGregA Let me try again and yes this is a fresh install.

[2016-01-05 20:57] aaronweaver commented on #56
@devGregA I started fresh and installed correctly. Thanks for your assistance!

[2016-01-05 20:59] devGregA commented on #56
No prob! Anytime @aaronweaver, happy to help.

[2016-01-05 20:59] #56 closed

[2016-01-15 21:01] aaronweaver opened #59 "Application Metadata"
Create additional meta data for an application. For example:

App: # of users, revenue, Business Criticality, Lifecycle (Where in the dev lifecycle), Origin (internally developed, COTS, internal, Technologies (What is the app environment, hardware, OS etc.)
Regulations: PCI, HIPPA, SoX etc.

[2016-01-15 21:02] aaronweaver opened #60 "Organization/Line of Business"
I'd like the ability to define multiple organizations and optionally lines of business associated with each organization.

[2016-01-15 21:03] aaronweaver opened #61 "Tags"
The ability to create arbitrary tags and assign those tags to an application.

[2016-01-15 21:04] aaronweaver opened #62 "Person Table"
Create a person table with a role(s) and contact information so that a person can be associated with a application, line of business or organization.

[2016-01-15 21:06] aaronweaver opened #63 "Finding Images"
The ability to insert images and then specify using markdown where those images should appear in the finding. The report generator should then place those images where specified in the markdown.

[2016-01-15 21:10] aaronweaver opened #64 "Review and Approve Findings"
Sometimes findings need to be peer reviewed by other reviewers. I'd like the ability to be able to assign a status to the finding of 'Under Review'. When a finding is under review that finding can be assigned to other system reviewers and will notify them that the finding needs to be reviewed. Optionally an email should be sent out notifying a reviewer that there is a finding that should be review

[2016-01-15 21:15] aaronweaver opened #65 "Apply Template to Existing Finding"
Often times findings from scanners have various finding text. For an existing vulnerability there isn't a way to use any of the finding templates. I'd like to be able to insert template text on an existing finding by tying it to the CWE #. For example in the description portion of the finding I could click an insert template text button that would append the text to the description. At that point

[2016-01-15 21:17] aaronweaver opened #66 "Jira Integration"
Automated integration of findings with Jira to reduce the manual effort of copying and pasting findings from two systems.

[2016-01-16 06:03] devGregA commented on #65
Hi @aaronweaver, to me this sounds like two parts. Have you had a chance to try the templating? When you create a finding there is an option to select "create template" which then can be used to add a finding using "finding from template". For a unique finding would CVE better than CWE?

[2016-01-16 06:16] devGregA commented on #66
This one has been on our radar for a while. We kicked around using the API versus using the web-hooks, and ultimately decided API was probably the way to go for configuration simplicity. The next thought is when should it poll? Concurrency if the finding is being edited in both at the same time? I guess that would be the advantage of using the web-hook and the API, but I worry about the added comp

[2016-01-16 06:29] devGregA commented on #64
Hmm. Status is an interesting field because it is generated on the fly based on other selections in the finding model: https://github.com/rackerlabs/django-DefectDojo/blob/master/dojo/models.py#l527.
It's probably not the best model, but that's how it evolved over time. I think the easiest way to incorporate this would be to add a boolean field to finding as under_review. Then in status add a chec

[2016-01-16 06:36] devGregA commented on #60
I remember Matt T brought this up when we were discussing needs for Dojo to work for Pearson. Would 'product types' (under the product tab) work for this?

[2016-01-16 06:37] devGregA commented on #59
I wonder if this would tie together well with tags?

[2016-01-29 14:03] 4lGxqmy9kzDsq6PlGSVH opened #67 "NGINX config proxy_pass vs upstream"
Hi,

I deployed DD behing an reverse proxy, everything is fine except for browsing API Docs who are trying to load URLs along these lines. http://localhost:8000/api/v1/doc/schema/engagements?_...

Additionally, this also causes mixed content warnings in case of an HTTPS deployment.
For info, references to hosts are handled properly in dojo/templates/dojo/api_key.html on line 18

[2016-01-31 02:09] devGregA commented on #67
Thanks @4lGxqmy9kzDsq6PlGSVH,  I'll take a look.

[2016-01-31 02:27] devGregA commented on #67
@4lGxqmy9kzDsq6PlGSVH, I looked at a copy that was fronted with NGINX and didn't have the same issue. Could you give me more info on your stack? Is your proxy on the same server, are they separate instances, etc? @grendel513 any thoughts on this?

[2016-02-01 00:51] grendel513 commented on #67
hi @4lGxqmy9kzDsq6PlGSVH, @devGregA -

We don't hardcore a reference to any host in the JavaScript associated with DefectDojo.  That piece of code comes directly from the django-tastypie-swagger project.  You can see where and how ti is used and generated here: https://github.com/concentricsky/django-tastypie-swagger/search?utf8=%E2%9C%93&q=discovery_url

In my installation the discovery_url becom

[2016-02-01 09:38] 4lGxqmy9kzDsq6PlGSVH commented on #67
Hi, Thanks for your help here!

Here's the *very basic* nginx config I use. Know what I am doing wrong?
`
server {
        listen 443;
        server_name localhost;

        access_log  /var/log/nginx/reverse-proxy.access.log  combined;
        error_log  /var/log/nginx/reverse-proxy.error.log;

        ssl on;
        ssl_certificate cert.crt;
        ssl_certificate_key cert.key;

        ssl_s

[2016-02-01 23:05] devGregA commented on #67
Ah, @4lGxqmy9kzDsq6PlGSVH try upstream instead of proxy_pass:
'upstream defectdojo {
  server 127.0.0.1:8000;
}'
This should be outside of server, e.g.:
'upstream defectdojo {
  server 127.0.0.1:8000;
}
server{
...
}
'
Please let me know if it fixes / doesn't fix the proxy.
@grendel513, I can definitely see others running into this. If you're okay with it, I'll come up with an NGINX template we ca

[2016-02-01 23:21] devGregA commented on #67
Keep this open for tracking, to hopefully resolve.

[2016-02-04 17:52] #67 closed

[2016-02-04 17:53] devGregA commented on #67
Closing, because we haven't heard back.

[2016-03-10 16:26] MicksMix opened #68 "defusedxml is a more secure alternative to xml.etree"
xml.etree is vulnerable (according to defusedxml documentation) the [following XML attacks](https://pypi.python.org/pypi/defusedxml#python-xml-libraries):

 - [billion Laughs](https://pypi.python.org/pypi/defusedxml#billion-laughs-exponential-entity-expansion)
 - [quadratic blowup](https://pypi.python.org/pypi/defusedxml#quadratic-blowup-entity-expansion)
 - [XML Inclusion](https://pypi.python.org

[2016-03-10 19:49] devGregA commented on #68
Thanks @MicksMix I'll take a look shortly.

[2016-03-18 17:47] devGregA commented on #68
@grendel513 @cneill I agree with @MicksMix finding, xml.etree seems to be reported as vulnerable to XEE. I'll submit a PR shortly

[2016-03-18 18:27] devGregA commented on #68
@cneill PR submitted. Would you review? grendel is on vacation.

[2016-03-18 21:11] mattvaldes opened #71 "Vagrant "Create Django superuser" Install Error"
Error message:
[code]

The error appears to be due to errant indention of the _sudo_ and _sudo_user_ modules in **app.yml** here:
[code]
Removing the preceding space from the _sudo_ and _sudo_user_ modules allowed the installation to continue successfully.

[2016-03-20 01:19] cneill commented on #71
Closing this now after merging #72. If this is still broken, re-open the issue and let us know.

[2016-03-20 01:19] #71 closed

[2016-04-09 21:22] devGregA opened #73 "Missing Overextends dependency for Ubuntu 15.10. I will fix this in my PR"
see title

[2016-04-09 21:36] devGregA opened #74 "Installation error with auditlog"
Hey guys, I'm hitting an install error not related to the missing overextends dependency. Something is wrong with auditlog.

Below is the relevant dump information, I'm using python 2.7.10, Django 1.8.4, Ubuntu 15.10

Operations to perform:
  Synchronize unmigrated apps: gunicorn, staticfiles, messages, humanize, polymorphic, tastypie_swagger, overextends, djangobower
  Apply all migrations: dojo,

[2016-04-09 21:38] #73 closed

[2016-04-09 21:41] devGregA commented on #74
@grendel513, sorry this is blocking my defusedXML tinkering to make sure everything is working correctly.

[2016-04-10 03:07] grendel513 commented on #68
#70 fixes this

[2016-04-10 03:07] #68 closed

[2016-04-10 03:08] grendel513 commented on #74
#70 fixes this as well...auditlog is not at the latest version

[2016-04-10 03:08] #74 closed

[2016-04-12 12:34] devGregA commented on #59
hey @grendel513 @cneill I'm going to take this one on. Just FYI so we don't duplicate efforts.

[2016-04-12 14:27] mtesauro opened #77 "Demo site - Exceptiion while viewing potential finding"
If you log into the demo site as an admin, add an engagement, add a potential finding then click on the link for the new potential finding, you get the following exception:

[code]

[2016-04-12 17:35] cneill commented on #59
Sounds good @devGregA. At the risk of JIRAfication, should we allow custom fields, or just have a standard set?

[2016-04-12 20:29] grendel513 commented on #77
@mtesauro did you use a bookmark to navigate to the finding, or did you click from a listing.  I tested the finding details page at https://defectdojo.pythonanywhere.com/finding/115 and it works.  If the ID does not exist, like yours (1) you will get a 404, which is appropriate.

[2016-04-12 20:45] #77 closed

[2016-04-12 20:47] grendel513 commented on #77
@mtesauro This should be all good on the next daily rebuild of python anywhere demo site which should be tonight.  Thanks for the heads up!

[2016-04-12 21:27] devGregA commented on #59
I'm going to start w/  tagging like linkedin does for skills @cneill at the application level

[2016-04-12 21:55] grendel513 commented on #59
@devGregA there are a number of Django tagging apps out there already...no need to reinvent the wheel if one matches our needs.  Here are a few I looked into when investigating #61:
- https://github.com/Fantomas42/django-tagging
- https://github.com/alex/django-taggit
- https://github.com/svetlyak40wt/django-tagging-ng

If using these then it could take care of #61 and #59 with minimal effort.

[2016-04-12 21:58] grendel513 commented on #59
@devGregA Additionally, the UI component could be implemented with http://getbootstrap.com/components/#labels

[2016-04-14 16:27] S1m0x81 opened #79 "Report generation issue"
I'm having an issue generating a PDF report, once I click on "Save and Run" the report status remains "Running" for hours and the report is never generated.

Below is the debug log, any help would be appreciated. Thanks

Performing system checks...

System check identified no issues (0 silenced).
April 14, 2016 - 11:23:03
Django version 1.8.10, using settings 'dojo.settings'
Starting development s

[2016-04-14 22:28] devGregA commented on #79
Hi @S1m0x81,

Sorry to hear you're having this issue. @grendel513 knows the reporting section better than I do. Could you change debug to true in dojo/settings.py and see if there are any errors?

[2016-04-14 22:30] devGregA commented on #79
Also what operating system are you running? I'll try to reproduce the issue.

[2016-04-14 22:53] grendel513 commented on #79
HI @S1m0x81 - Do you have celery running?  PDF reports depend on celery because they are asynchronous.  See our documentation at http://defectdojo.readthedocs.org/en/latest/features.html#reports

[2016-04-15 14:38] S1m0x81 commented on #79
Thanks everyone for your help. I'm running Kali Linux 2.0 which is based on Debian Jessie and I do have celery running. Also I think it's worth to mention that your demo site has the same issue (See screenshot below)

root@Kali:/var/www/html/defectdojo# uname -a
Linux Kali 4.0.0-kali1-amd64 #1 SMP Debian 4.0.4-1+kali2 (2015-06-03) x86_64 GNU/Linux
root@Kali:/var/www/html/defectdojo# whereis wkhtml

[2016-04-15 14:43] grendel513 commented on #79
@S1m0x81 - the demo site is unable to run celery (constraint from pythonanywhere) so it will not be able to generate PDF reports.  Can you please attache your celery logs?

We have the latest running in production and do not have any issues with report generation.  We are running it on Ubuntu.

The only time I have seen tis type of error happen is when celery is not running or not configured corre

[2016-04-15 14:50] grendel513 commented on #79
@S1m0x81  - additionally, SMTP has to be configured in the settings.py file, as the asynchronous report generation process depends on it.  If it cannot send an email (timeout, no server, etc) it will throw and exception in the celery process.  This can be changed...and I will look into making it optional.

[2016-04-15 15:31] S1m0x81 commented on #79
Thanks, I have postfix running and configured in settings.py. I'm copying celery logs:

OperationalError: (OperationalError) attempt to write a readonly database u'BEGIN IMMEDIATE TRANSACTION' ()
[2016-04-15 10:28:50,427: INFO/MainProcess] Connected to sqla+sqlite:///dojo.celerydb.sqlite
[2016-04-15 10:28:50,444: CRITICAL/MainProcess] Frequent restarts detected: RestartFreqExceeded('5 in 1s',)
Tra

[2016-04-15 15:56] S1m0x81 commented on #79
Okay so i switched to running celery as root and it worked but there is an error with wkhtmltopdf

The report you requested has failed to generate.  Here are the details:

Hello S,

 wkhtmltopdf exited with non-zero code -6. error:
The switch --header-font-size, is not support using unpatched qt, and will be ignored.The switch --header-spacing, is not support using unpatched qt, and will be ignore

[2016-04-15 16:26] grendel513 commented on #79
@S1m0x81 looks like your sqlite db needs write permissions (http://stackoverflow.com/questions/21054245/attempt-to-write-a-readonly-database-django-w-selinux-error)

[2016-04-15 16:32] grendel513 commented on #79
@S1m0x81 sorry, did not see your comment.  Looks like you need to install wkhtmltopdf on your distro from source or use the provided scripts: https://github.com/wkhtmltopdf/wkhtmltopdf/blob/master/INSTALL.md#linux

does not look like installing from package manager includes all dependecies.

[2016-04-15 16:33] grendel513 commented on #79
@S1m0x81  Once we confirm what your fix is we can update the docs to make sure this scenario is covered.  Thanks for your time in trying to get this working!

[2016-04-15 16:34] S1m0x81 commented on #79
True, i will change ownership in production, for now its working with root. However wkhtmltopdf is throwing errors, i'm recompiling from source as someone suggested and see if it will help.

[2016-04-15 18:23] grendel513 commented on #62
@aaronweaver - Hi, the users table already exists, it is the default Django users (https://docs.djangoproject.com/es/1.9/topics/auth/default/#user-objects) and we do store email for them.  They are also tied in to Product authentication, see http://defectdojo.readthedocs.org/en/latest/features.html#users and http://defectdojo.readthedocs.org/en/latest/features.html#products for details.

[2016-04-15 20:31] S1m0x81 commented on #79
Installing wkhtmltopdf from source is failing

sudo python scripts/build.py jessie-amd64

make[1]: Leaving directory '/home/simo/wkhtmltopdf2/static-build/jessie-amd64/app/src/image'
Debian packaging tools generally labels all files in /etc as config files, as mandated by policy, so fpm defaults to this behavior for deb packages. You can disable this default behavior with --deb-no-default-config-f

[2016-04-15 22:41] grendel513 commented on #79
sorry @S1m0x81 i don't have experience installing it on Jessie, sounds like you may have to look for help from the  wkhtmltopdf users group: http://wkhtmltopdf.org/support.html

[2016-04-16 02:25] devGregA commented on #79
@S1m0x81, it might be easier just to run a Ubuntu VM? We've tested the Ubuntu dependencies very thoroughly, but haven't done much on Kali. Sorry hope this helps.

[2016-04-18 15:37] S1m0x81 commented on #79
Thanks guys for your help, i will switch to Ubuntu for now.

[2016-04-20 22:22] devGregA opened #80 "Including reports with Install"
Hey guys, I noticed there has been some issues with new folks not knowing how to setup  reports / having issues. I know everything needed is in the docs, but could we explore adding this at install? I think it would be a big plus.

[2016-04-20 22:25] devGregA commented on #80
Expanding a little more, giving the option at install to 1. daemonize 2. when someone runs manage.py automatically start celery with nohup + run in background.

[2016-04-20 22:26] devGregA commented on #80
Or maybe nohup + run in background isn't necessary, but an auto run / default config would be nice. I know it's trivial, but I do think it would be helpful.

[2016-04-26 01:28] aaronweaver commented on #62
@grendel513 I was referring to the Product Manager, Technical Contact and Manager fields. Right now it's a free form text field. I'd rather have that as a table associated with role which might be a person who doesn't login. For example I have the same owner for many of my products. It would be easier to associate with one person rather than having to re-enter the same information. Plus I'd like t

[2016-04-28 18:59] grendel513 commented on #62
Thanks for the clarification @aaronweaver - I do think it makes sense.  I am not sure how soon we can get this implemented, but I will add it to our board.

[2016-05-03 04:57] devGregA opened #81 "The PythonAnywhere Demo is broken."

[2016-05-03 16:39] grendel513 commented on #81
Because of this...https://blog.pythonanywhere.com/128/

I'll get it up and running again.

[2016-05-03 16:44] grendel513 commented on #81
@devGregA It is up and running again.  I also updated the code to the latest from master.  Additionally, I updated the code in refresh.bash to reflect the new mysql host name.

[2016-05-03 16:44] #81 closed

[2016-05-03 18:05] devGregA commented on #81
@grendel513 Thanks! You're awesome.

[2016-06-13 22:00] morxploit opened #83 "default interface/port"
The applications listens by default on 127.0.0.1. Is there a way to change it to 0.0.0.0? I have the app installed on a remote VPS and i would like to be able to access through the internet.

Thanks a lot and sorry if this has been already referenced.

[2016-06-14 00:51] devGregA commented on #83
Hi @morxploit , thanks for trying Dojo out! For production use, I would suggest proxying Dojo through Nginx or better yet Nginx + Gunicorn. If you're still just exploring / playing with Dojo and aren't transmitting sensitive data, you can run Dojo on all interfaces using the developer server by executing:
`python manage.py runserver 0.0.0.0:80`

[2016-06-14 01:26] morxploit commented on #83
Awesome, thanks for the quick answer @devGregA

[2016-06-14 01:26] #83 closed

[2016-06-15 16:42] S1m0x81 commented on #79
Sorry to reopen this but as suggested, I reinstalled on Ubuntu 14.04.4 LTS and still having the same issue, below are celery the logs, thanks!

[2016-06-15 11:24:10,210: INFO/MainProcess] Received task: dojo.tasks.async_custom_pdf_report[10313579-0250-4f7a-bdbb-10142ba96783]
[2016-06-15 11:24:10,608: ERROR/MainProcess] Task dojo.tasks.async_custom_pdf_report[10313579-0250-4f7a-bdbb-10142ba96783] r

[2016-06-16 03:23] devGregA commented on #79
Hi @S1m0x81 sorry to hear the issue is back :(. Let me see If I can reproduce and I will get back to you tomorrow.

[2016-06-16 20:25] devGregA commented on #79
Hi @S1m0x81, I think the problem is that you're using an old version of wkhtmltopdf. I didn't have any problems when I installed from source. Here is a short script @grendel513 created to do so:

`#!/bin/sh

sudo apt-get install -y openssl build-essential xorg libssl-dev
wget http://wkhtmltopdf.googlecode.com/files/wkhtmltopdf-0.10.0_rc2-static-amd64.tar.bz2
tar xvjf wkhtmltopdf-0.10.0_rc2-static-

[2016-06-17 16:02] S1m0x81 commented on #79
Thanks for your help! I installed the version you suggested but still not working, i m posting the logs below, hopefully it will help!

[2016-06-17 10:59:48,139: INFO/MainProcess] Received task: dojo.tasks.async_cust                                                                             om_pdf_report[2cfb5f4b-cf3a-4860-b00d-510d26bda687]
[2016-06-17 10:59:48,486: ERROR/MainProcess] Task dojo.

[2016-06-22 22:33] devGregA commented on #79
hi @S1m0x81 I did more digging on this and I was able to resolve all the errors I was getting, but it is now failing silently. Unfortunately I don't think I can fix this without @grendel513's help and I know lately he as been very busy. As a temporary work around you can do asciidoc to pdf. It's not as awesome, but if you change pdf to ascii doc on the report generator, you can then use a tool lik

[2016-06-26 03:23] devGregA commented on #79
@S1m0x81 so sorry for the delay. I finally fixed it. Give me just a minute and I'll give the details and update the instructions.

[2016-06-26 03:26] devGregA commented on #79
The old link the in script was deprecated please use:
**Note: this need to be run using sudo otherwise you'll get a utime failure.

#!/bin/sh

sudo apt-get install -y openssl build-essential xorg libssl-dev
wget http://download.gna.org/wkhtmltopdf/0.12/0.12.3/wkhtmltox-0.12.3_linux-generic-amd64.tar.xz
tar xvfJ wkhtmltox-0.12.3_linux-generic-amd64.tar.xz
sudo chown root:root wkhtmltox/bin/wkhtmlto

[2016-06-26 03:29] grendel513 commented on #79
Well done @devGregA!  Thanks for picking me up ;)

[2016-06-26 03:31] devGregA commented on #79
@grendel513 I do what I can ;)

[2016-06-26 03:40] devGregA commented on #79
@grendel513 @S1m0x81 submitted PR with code changes. Will update docs in near feature. I have some other high priority stuff I need to get done this weekend or I'd knock it out now. Sorry :(.

[2016-06-26 03:44] grendel513 commented on #79
@devGregA - from what i see the docs need to be updated to:

    1.  Mention the email functionality is commented out by default
    2.  Point to the new bash script within the project rather then the external one.

Anything else?  I can take care of docs, just let me know if you need anything else included.

[2016-06-26 03:58] #79 closed

[2016-06-26 05:08] grendel513 commented on #79
@devGregA - documentation has been updated

[2016-06-26 21:59] devGregA commented on #79
@grendel513  can we leave this open and give @S1m0x81 a couple days to validate?

[2016-06-26 23:47] grendel513 commented on #79
Yes, the pull request comment auto closed it.

[2016-06-27 20:05] S1m0x81 commented on #79
Thanks guys, I will try in a bit and let you know.

[2016-06-29 14:12] S1m0x81 commented on #79
I confirm, reports are being generated with the suggested fixes. Thanks @devGregA and @grendel513 for your help.

[2016-06-30 23:10] MKgridSec opened #85 "500 on Nessus uploads - 'Finding' object has no attribute 'unsaved_req_resp'"
Hello,
Seeing a 500 error the first time I try to import a nessus scan result.
same error using .csv or .nessus format. When I click back, a single finding is available. If use the re-import option it seems to import successfully.

Running Centos 7.2 setup via the setup.bash scripts and pip installed from epel-release

Environment:

Request Method: POST
Request URL: http://192.168.128.75:8000/enga

[2016-07-01 04:08] devGregA commented on #79
Woot! Thanks @S1m0x81. Sorry for all the trouble. We're currently working on stability efforts to hopefully cut down on issues like these.

[2016-07-01 04:11] devGregA commented on #85
Hi @MKgridSec sorry to hear you're having this issue. Off the top of my head it sounds like a syncdb issue. Running: `python manage.py syncdb` . May fix the issue. Let me fire up a CentOS VM and see if I can reproduce. I'll get back to you shortly.

[2016-07-01 04:18] devGregA commented on #80
I'm going to close since I think the new install scripts greatly aids with this.

[2016-07-01 04:18] #80 closed

[2016-07-02 17:14] grendel513 commented on #85
@devGregA, @MKgridSec - the issue is that in the view I did not check to make sure the Finding item has the attribute unsaved_req_resp before utilizing it.  It is not an attribute defined in the Model, but one assigned to it later in the upload process.  Database sync will not resolve the issue.  I will commit code here shortly to address it.

[2016-07-02 17:17] grendel513 commented on #85
@MKgridSec (cc: @devGregA) - Code committed, please update and let us know if it resolves your issue.

[2016-07-02 17:33] devGregA commented on #85
Awesome! Thanks @grendel513

[2016-07-05 17:47] MKgridSec commented on #85
@devGregA @grendel513 Thank you! I've re-tested and confirmed that uploads are now working

[2016-07-05 17:47] #85 closed

[2016-07-06 14:07] devGregA commented on #85
Awesome! Thanks @MKgridSec

[2016-07-26 00:54] cgalligan opened #87 "Nexpose Severity Not Importing"
When I import a Nexpose xml scan, the severity levels (critical, severe, moderate) are not importing correctly.

[2016-07-26 00:56] cgalligan opened #88 "Ability to Import Scan Results As "Verified" and "Active""
It would be great if when importing scan results, items could be automatically marked as "verified" and "active".

[2016-07-26 14:25] devGregA commented on #87
Hi @cgalligan would it be possible to get a sample scan? I don't have a nexpose xml file to debug with. @grendel513 are you still at RAX / be able to look into it internally?

[2016-07-26 16:20] grendel513 commented on #87
@devGregA @cgalligan - I will be at the Castle tomorrow and can touch base.

[2016-07-27 16:35] devGregA commented on #60
Hi @aaronweaver I've been going back through the enhancements to prioritize / reevaluate. Will the 'Product Type' field work for your use case?

[2016-07-27 20:03] grendel513 commented on #87
@cgalligan @devGregA - worked with Ali and we determined that there is no need for code changes, the severity levels are being mapped correctly.  As it turns out he was not generating the appropriate report format from Nexpose.  The format has to be Nexpose XML 2.0, which is a canned report format.  Closing.

[2016-07-27 20:03] #87 closed

[2016-07-27 20:04] grendel513 commented on #88
@cgalligan - I like this a lot - let me see if I can knock it out quickly.

[2016-07-27 20:04] aaronweaver commented on #60
Hi @devGregA, that's how I'm using it now. If we had tagging that would probably close this out.

[2016-07-27 21:16] devGregA commented on #88
@grendel513 can this be toggle-able?

[2016-07-27 21:18] devGregA commented on #60
Hi @aaronweaver sounds good. Tagging is definitely high on the priority list after I finish the intake work. I'm going to close this one since we already have tagging as another issue.

[2016-07-27 21:18] #60 closed

[2016-07-27 21:25] grendel513 commented on #88
@devGregA - yes, that was my initial thought, you would have to say i want these to be active and verified - not the default

[2016-07-27 21:39] devGregA commented on #88
@grendel513  awesome!

[2016-07-28 19:45] grendel513 commented on #88
@cgalligan - all done and pushed to both dev and master.

[2016-07-28 19:45] #88 closed

[2016-07-28 22:57] grendel513 commented on #59
@devGregA - hey Greg, where are we on this one...have you started coding on it?  If not, would you mind if I took it over?

[2016-07-29 14:36] devGregA commented on #59
Hey @grendel513. Feel free to nab it. Right now I'm working on intake and de-duplication.

[2016-07-29 16:00] grendel513 commented on #59
@devGregA - cool, i'll get it then.

[2016-07-29 16:04] grendel513 commented on #59
@devGregA @cneill - I am going to take two approaches.  Will implement tagging at the Product, Engagement, Endpoint, Finding and Test models.  Additionally, I will add the possibility to include name/value pair descriptor to Product.

[2016-07-29 21:31] devGregA commented on #59
@grendel513 Sounds like this would also solve the person table @aaronweaver was talking about in the other issue.

[2016-08-01 21:12] #59 closed

[2016-08-01 21:12] #61 closed

[2016-08-01 21:15] grendel513 commented on #61
@aaronweaver, @devGregA, @cneill - #59 and #61 have been completed and committed to master.  You will need to add 'tagging' and 'custom_field' to INSTALLED_APPS in your settings.py.  Additionally ./manage makemigrations and ./manage.py migrate will have to be run.

[2016-08-01 21:16] grendel513 commented on #61
<img width="1439" alt="screen shot 2016-08-01 at 4 11 30 pm" src="https://cloud.githubusercontent.com/assets/233694/17309190/3f7483f8-5803-11e6-9b0a-f1ee5082eae7.png">

[2016-08-01 22:35] devGregA commented on #61
Wow!!! https://media.giphy.com/media/7rj2ZgttvgomY/giphy.gif

[2016-08-02 13:39] aaronweaver commented on #61
@grendel513 That's fantastic! Thanks!

[2016-08-16 19:06] devGregA commented on #63
@aaronweaver jay has pushed an update

[2016-08-16 19:06] #63 closed

[2016-08-16 19:09] aaronweaver commented on #63
Great work! Can't wait to start using the feature.

[2016-08-17 14:23] devGregA commented on #62
@aaronweaver I think this is covered now with metadata. Would you please confirm?

[2016-08-17 18:11] davevs opened #94 "Missing upload / mandatory field"
When I try to create a new finding or edit a finding from a ZAP report, there's a mandatory field 'Image'. However I can't find a way to upload anything.

[2016-08-17 19:29] devGregA commented on #94
Hi @davevs sorry about that! My PR that just got merged should fix it. Please let me know if you continue to have issues.

[2016-08-17 20:09] grendel513 commented on #94
@davevs - @devGregA is correct, if you pull from master and run ./manage.py makemigrations and ./manage.py migrate the issue should be resolved.  Please let us know if this fixes it for you so we can close issue.  Thanks!

[2016-08-17 21:16] grendel513 commented on #94
@devGregA, @davevs See commit d1e2495 - I removed null=False which has no effect on ManyToMany fields.  Left blank=True and removed images from all Finding forms as they have their own update/store/delete workflow. `./manage.py makemigrations` and `./manage.py migrate` are needed.

[2016-08-18 08:17] davevs commented on #94
Issue is fixed.

[2016-08-18 08:17] #94 closed

[2016-08-18 08:20] davevs opened #96 "Error when adding engagement"
If I add a new engagement and save it I get the following error:

UnboundLocalError at /engagement/3

local variable 'fpage' referenced before assignment

Request Method: 	GET
Request URL: 	http://localhost:8000/engagement/1
Django Version: 	1.8.10
Exception Type: 	UnboundLocalError
Exception Value:

local variable 'fpage' referenced before assignment

Exception Location: 	/home/xebia/django-Defec

[2016-08-18 14:31] devGregA commented on #96
Thanks @davevs. I think I see the problem. https://github.com/rackerlabs/django-DefectDojo/blob/master/dojo/engagement/views.py#L195 @grendel513 this may require additional changes to view_risk in dojo/engagements/views.py. I'm not sure what fpage is, but it looks like if an engagement doesn't have findings it is passed to templates w/out being assigned a value. I'll push a hot fix to address this

[2016-08-18 14:44] devGregA commented on #96
hi @davevs thanks again for hanging in there. We try really hard to keep Dojo stable, but the two major features we pushed introduced some issues. I'm working on getting CI testing up to reduce these types of things. I've pushed an update that should resolve the issue. I will test the fix shortly, and review your PR.

[2016-08-18 15:05] davevs commented on #96
@devGregA No problem, I understand. More than happy to help :)

[2016-08-18 15:06] grendel513 commented on #96
@devGregA - my bad i can have this fixed ASAP is you have not started

[2016-08-18 15:14] #96 closed

[2016-08-18 15:16] grendel513 commented on #96
@davevs @devGregA - should be fixed, i tested it with my install.  Pull from either master or develop to get fix.  Sorry for the inconvenience.

[2016-08-18 15:34] davevs commented on #96
@grendel513 No problem, thanks for the quick fix again.

[2016-08-22 13:31] aaronweaver opened #97 "Credential Manager (Environment)"
## Credential Manager (Environment)
### Make sure you assign this issue to yourself so contributors do not duplicate effort.

Authenticated scanning requires setting up credentials and roles to the appropriate environment. Often times these credentials need to be shared by the pentesting team.

Develop a Credential Manager in Dojo that replaces or modifies the `Development_Environment` tied to the

[2016-08-22 13:40] aaronweaver opened #98 "Bulk Edit of Findings"
I'd like to be able to bulk edit findings in the Product >> Findings view. That way it will be much faster when vetting findings. Should be able to change severity, verified and active.

[2016-08-23 10:01] davevs commented on #66
IMHO Jira integration should work both ways. In Jira, teams can create sprints (in scrum) which can be mapped to engagements in ddojo. When issues are added in ddojo there should be a possibility to push them to jira as issues.

[2016-08-23 10:05] davevs opened #99 "Integration with Faraday IPE"
With respect to the importing of issues, I think a lot of time can be saved by making a connection with Faraday IPE. (Faraday is a collaboration pentesting environment that currently can handle 40+ security tools). Using F-IPE for aggregation and assessing the issues and importing them into ddojo prevents having to develop imports for all tools.

(btw: I had a quick chat with the faraday maintaine

[2016-08-23 10:07] davevs commented on #97
Good idea. Maybe using Hashicorp Vault for this might be a sensible idea?

[2016-08-23 10:12] davevs opened #100 "Status updates via slack or mail"
Many agile teams like push notifications in case of status changes, instead of checking a status overview. For example, teams I work with use Slack to have Jenkins notify them of things that are going on. I think it would really help if each team in ddojo can list a slack channel where status changes can be pushed to.

e.g.:
New nikto import: 0C - 1H - 2M - 3L
Issue 156 has been accepted
Issue 134

[2016-08-23 14:20] devGregA opened #101 "Arachni Importer"

[2016-08-25 14:15] aaronweaver opened #102 "SAML 2 Integration"
Have the ability to integrate with service providers using SAML. One possible library to use is: https://pypi.python.org/pypi/djangosaml2/

[2016-08-25 14:24] aaronweaver commented on #100
@devevs Would the new metadata option work? In the product view >> dropdown on right >> select 'Add metadata' >> Name: Slack then the channels or preferred communication. See the screenshot. Product information shows up on 'Additional Information' in the product view.

Or were you looking for Dojo to push out a status to Slack?

![aaron_test_product](https://cloud.githubusercontent.com/assets/2208

[2016-08-25 14:25] aaronweaver commented on #99
@devevs Can you share the file format and a sample file?

[2016-08-25 19:00] aaronweaver commented on #62
@devGregA It would work but it would be easier to manage if it was a person table. One example I'd give is that often times there will be the same resource for several products. That means I'll have to update that person if they change in all those products.

[2016-08-26 10:27] davevs commented on #100
@aaronweaver yeah I meant an active push to a slack channel. Some sort of messaging system.

[2016-08-26 10:32] davevs commented on #99
From the Faraday wiki (https://github.com/infobyte/faraday/wiki/Exporting-the-information):
Actually Faraday supports CSV Exporting from it's UI, just right click in the workspace and export to a csv file. The current output format is in the form:

found date | severity level | service parent | target | name | vulnerability description | data field | references

I'll try to create an actual exampl

[2016-08-27 18:29] davevs commented on #99
Here's a real sample:

`"date","name","severity","service","target","desc","data","refs"
"8/27/2016","Allowed HTTP Methods: GET, HEAD ","info","(5984/tcp) http","127.0.0.1","","",""
"8/27/2016","This might be interesting...","info","(5984/tcp) http","127.0.0.1","","","OSVDB-ID: 3092"
"8/27/2016","MyWebServer 1.0.2 is vulnerable to HTML injection. Upgrade to a later version.","info","(5984/tcp) htt

[2016-08-30 19:07] devGregA opened #104 "Reupload Scan Missing Active Verified Boxes"

[2016-08-30 19:16] devGregA opened #105 "Remove all docs that aren't 'Read The Docs'?"
The wiki and the doc folder seem to have outdated information. To make navigation less confusing shoudl we remove them?

[2016-08-30 19:16] devGregA commented on #105
@grendel513

[2016-08-30 20:20] grendel513 commented on #102
Django uses Authentication Middleware see https://docs.djangoproject.com/en/1.8/ref/middleware/#module-django.contrib.auth.middleware

There are already SAML 2 libraries out there that you can include in your individual installation to implement SAML 2 auth. https://pypi.python.org/pypi/djangosaml2/

[2016-08-31 13:29] aaronweaver commented on #102
@grendel513 Thanks, I'll give that a try. Would it be worth me documenting that and then doing a PR? I'm sure some organizations would like integration with LDAP/SAML.

[2016-09-06 18:35] tmsteen opened #107 "PDF report generation hangs"
When generating a PDF report, it just shows that it is running but never completes.

Results of `celery -A dojo worker -l info --concurrency 3`

Traceback (most recent call last):
  File "/usr/local/bin/celery", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/celery/__main__.py", line 30, in main
    main()
  File "/usr/local/lib/python2.7/dist-packages/cel

[2016-09-06 18:43] grendel513 commented on #107
@tmsteen - are you using virtual environments?  This looks like your python environment when executing celery is different than the one you have DefectDojo installed in.

[2016-09-06 19:08] tmsteen commented on #107
Not intentionally.  The person who installed this is no longer here and did not leave any documentation.  Is it worth trying to fix or just reinstall?

[2016-09-06 19:36] grendel513 commented on #107
@tmsteen it depends how much data you have already generated/imported.  You can try and figure out where they installed it and if they used a virtualenv - I would start with the supervisor configuration file, as it will point to where the python executable is.  You can also look in /.virtualenvs to see if any virtual environments have been set up that may point to the appropriate site-packages, bu

[2016-09-06 19:47] grendel513 commented on #107
@tmsteen - you can also install http://virtualenvwrapper.readthedocs.io/en/latest/index.html to find out what virtual environments are installed on the box.  Your milage may vary since you may not know where the virtual env was set up to begin with.

[2016-09-06 21:36] devGregA commented on #107
@tmsteen  Does it immediately fail? It sounds to me like you're running it in the wrong directory.

[2016-09-06 21:37] devGregA commented on #107
you should be inside the django-DefectDojo directory but not in the dojo directory

[2016-09-06 21:38] devGregA commented on #102
Hi @aaronweaver  I added links in the reademe to the SAML and LDAP plugins.

[2016-09-06 21:38] #102 closed

[2016-09-07 13:46] tmsteen commented on #107
That was the issue, but in my process of trying to remediate the issue I broke it further. Now getting a template error when trying to access DD.  This is a separate issue that started after I "attempted" to fix the current installation.

[2016-09-07 14:38] devGregA commented on #107
@grendel513 @tmsteen this is one I'm not familiar with. @grendel513 do you think it is worth trying an upgrade or trying to debug the current version? I'm in favor of getting him on the latest version. @tmsteen I could assist via google hangout.

[2016-09-07 15:13] tmsteen commented on #107
Update:  Got it up and running again.  I think that was a separate issue the I encountered after I did a `git pull`.  I can create an issue for that if needed with the details. After fixing that issue, I am now running another report just to make sure updating did not change anything but it still looks like reports are hanging.

Running the celery command from the DefectDojo directory still produc

[2016-09-07 15:21] devGregA commented on #107
Nice! Let me know if you continue to have issues. Happy to hop on hangout and assist.

[2016-09-07 15:41] tmsteen commented on #107
ya if we can do a hangout that would help.  just so I know how best to proceed without being a huge PITA.  Nothing in my calendar until 2:30.

[2016-09-07 15:44] devGregA commented on #107
shoot me an email @ greg.anderson@owasp.org and I'll shoot you an email

[2016-09-07 16:30] devGregA commented on #107
@tmsteen bumped to 1:30 to give you additional time for lunch. Let me know if a different time is better.

[2016-09-07 18:39] mattvaldes opened #109 "Software Bill of Materials"
For a Product and/or Engagement, the ability to catalog a software bill of materials would be useful.    _Would this be more appropriate as a plugin?_

Simple example (assuming manual input):

| Name | Version | Source |
| --- | --- | --- |
| Python | 2.7 | Python.org |
| Python Requests | 2.11.1 | https://github.com/kennethreitz/requests |
| CentOS | 6.8 | https://cent-repo.internal.com |
| nginx

[2016-09-07 19:30] devGregA commented on #107
@grendel513 @aaronweaver  got em running but discovered lots of issues. I believe dependencies are missing for tagging, imagekit, etc. reports/views.py line 41 def report_url_resolver(request): doesn't work for instances that aren't dockerized. I had to do a custom fix.

[2016-09-07 19:40] aaronweaver commented on #107
@devGregA I'll look at possibly converging the setup.bash and docker bash setup. That way the travis build can test both.

[2016-09-07 19:52] devGregA commented on #107
thanks @aaronweaver  greatly appreciated!

[2016-09-07 20:04] aaronweaver commented on #109
@mattvaldes I think it would be appropriate in core Dojo. The tagging/metadata effort on the product level was the first attempt at getting to that.

I'm wondering if metadata was extended to the API and then integrated with a script/API/service to pull the necessary metadata and dump it into Dojo. I've been thinking about using http://cloc.sourceforge.net/ to at least get part way there. Not sure

[2016-09-07 22:38] opsdisk opened #110 "setup.bash doesn't work"
Tried installing on vanilla 14.04.3 x64.

Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python2.7/dist-packages/django/core/management/__init__.py", line 354, in execute_from_command_line
    utility.execute()
  File "/usr/local/lib/python2.7/dist-packages/django/core/management/__init__.py", line 303, in

[2016-09-07 23:39] devGregA commented on #110
@opsdisk sorry that this issue popped up. Working to get everything fixed. We had a big feature push last week and with it a lot of issues. We are working on building up or CI testing to help prevent bugs like this in the future. I will update you shortly when we have this fixed.

[2016-09-08 03:16] opsdisk commented on #110
No prob, I was the other guy on the video call this afternoon...just wanted to file it officially!

[2016-09-08 13:41] tmsteen commented on #107
After the update with @devGregA yesterday, it appears that the issue is resolved.  Recommend close this issue.

[2016-09-08 13:41] #107 closed

[2016-09-08 14:04] devGregA commented on #107
@aaronweaver can we just copy the docker bash script? I don't recall them differing by that much?

[2016-09-08 14:15] aaronweaver commented on #107
There are some minor differences. I'll take a look.

[2016-09-08 14:49] mattvaldes commented on #109
@aaronweaver Thanks for the feedback. I haven't used the tags or metadata fields, but did consider presenting this as a more generic key-value store to support any number of different data sets. I'll review these features.
Implementing this at a product level should work, but the ability to track changes over time would be useful/important (as opposed to overwriting the entries on each change), wh

[2016-09-08 16:12] tmsteen opened #111 "ProgrammingError at /finding/open when viewing findings"
When navigating to the findings tab, or trying to view findings from a test I get an error about a table that is unable to be found.  I am still able to edit a finding from the test page and view the pertinent data.

![image](https://cloud.githubusercontent.com/assets/8290250/18357033/f7ab7624-75b4-11e6-91fb-e6c63a0a4677.png)

[2016-09-08 16:51] devGregA commented on #111
@grendel513  you know this area better than me.

[2016-09-08 16:57] grendel513 commented on #111
@tmsteen will you please try to run `python manage.py makemigrations dojo` and `python manage.py migrate` - looks like you have the latest code but did not run the database migrations needed.  See our documentation on upgrading here http://defectdojo.readthedocs.io/en/latest/upgrading.html

Also, make sure you have all the requirements installed.  They are listed in the setup.py file: https://gith

[2016-09-08 17:52] tmsteen commented on #111
running those commands results in 'no changes detected' and subsequently 'no migrations to apply'.  Going through the update documentation when I try the 'bower install' step I get 'bower                     invalid-meta The "name" is recommended to be lowercase, can contain digits, dots, dashes'.

Appears all requirements are installed.

[2016-09-08 18:37] tmsteen commented on #111
in `dojo/templates/dojo/report_filter_snippet.html` line 11, there may be an extra {{field}} tag. When I remove it I am able to move past this particular error when navigating to the reports builder page.  But still get an error when trying to view findings from a test.
![image](https://cloud.githubusercontent.com/assets/8290250/18361889/62ccdff6-75c9-11e6-875c-99ec77e67cd4.png)

[2016-09-08 18:46] devGregA commented on #111
Hi everyone, I just reran everything after nuking my pip libraries to make sure there wasn't dependencies missing, etc like we were facing yesterday. I didn't have any issues. Is there a chance something is jumbled? I remember we had two instances e.g. tmp/ and /django-DefectDojo. I know I watched y'all do a clean install. Somehow, I'm fairly certain now you have old code. No idea how, but I can't

[2016-09-08 18:46] devGregA commented on #110
Please see my latest comment here: https://github.com/OWASP/django-DefectDojo/issues/111

[2016-09-08 18:47] tmsteen commented on #111
certainly possible.  is there a way to nuke the DD install but preserve the DB? Just run the full update process?

[2016-09-08 19:07] devGregA commented on #111
Yes. One correction on my last statement: That PROTO error we saw was valid. I just pushed a fix.
For backing up:
1. create a backup file: mysqldump -uUSER -pPASSWORD DATABASE > backup.sql
2. pull a new copy: git clone https://github.com/OWASP/django-DefectDojo
3. Run ./setup.bash enter a dummy_db in the script
4. add correct db info into dojo/settings.py
5. Run python manage.py syncdb from the dj

[2016-09-08 19:37] devGregA commented on #111
Last edit @grendel513 also a bug in metrics if you try to visit product metrics. I pushed a hot fix. Everything seems to be working now. I think we should consider freezing features until we get the CI coverage up? Thoughts? I will make the tests a priority for myself.

[2016-09-09 13:13] tmsteen commented on #111
followed those steps.  Back up and running but still getting the same error.  When I ran the syncdb command, it still said there were no migrations to apply.

[2016-09-09 14:05] devGregA commented on #111
does the dummy db still exist? if so take the backup you made and run mysql -uroot -p dummy_db < back.sql and then point your settings at the dummy_db.

[2016-09-09 16:00] tmsteen commented on #111
that did it. I think it is all working now.  You guys rock.  Let me know if you need documentation on anything we did to get it working.

[2016-09-09 16:00] #111 closed

[2016-09-09 16:17] #110 closed

[2016-09-09 16:19] devGregA commented on #111
Awesome! Glad to hear it! No idea how we got into such a bad state, but I'm glad we got it resolved. :beers:

[2016-09-09 17:17] aaronweaver opened #112 "Import scanner results via the API"
I'd like the ability to upload scan results via the API. For example I'd like to automate running ZAP, generate the XML report and call the DOJO API to push in the findings from ZAP, Burp etc.

[2016-09-09 20:36] tmsteen opened #113 "Report Filters Don't Show"
After the clean install, in the report builder view, the filters do not show up.  The titles for each filter show up, but the dropdown/selectors do not.  I examined filter_snippet.html and it matches the current version.  If that is indeed the part that generates the filters.

![image](https://cloud.githubusercontent.com/assets/8290250/18402024/2d8bb7e2-76a3-11e6-99e5-3127905fc154.png)

[2016-09-09 20:43] devGregA commented on #113
Hi @tmsteen unfortunately I'm not able to replicate the issue. When you run `python mange.py runserver` from the django/defectDojo directory are there any errors in the console? Do you have NoScript enabled?

[2016-09-10 05:39] opsdisk commented on #110
See setup.bash fix #115

This worked for me on an Ubuntu 14.04.3 x64 install.

Updated setup.bash (added libjpeg-dev) and changed the order of packages installed in setup.py (not sure if it matters, but it worked for me) and added packages uwsgi and watson.

Had to comment out the last 3 lines in dojo/models.py as well

#watson.register(Product)
#watson.register(Test)
#watson.register(Finding)

[2016-09-13 15:23] devGregA opened #116 "Soft Failure with OS X in setup.bash"
I get an 'illegal byte exception'
`MySQL user (should already exist): root
Password for user:
Database name (should NOT exist): gregtestingdb

mysqladmin: [Warning] Using a password on the command line interface can be insecure.
Created database gregtestingdb.
tr: Illegal byte sequence
Leaving Django 1.8.10 requirement`

[2016-09-13 17:41] crc32a commented on #116
Careful with those passwords in email.

From: Greg Anderson <notifications@github.com>
Reply-To: OWASP/django-DefectDojo <reply@reply.github.com>
Date: Tuesday, September 13, 2016 at 10:23 AM
To: OWASP/django-DefectDojo <django-DefectDojo@noreply.github.com>
Subject: [OWASP/django-DefectDojo] Soft Failure with OS X in setup.bash (#116)

I get an 'illegal byte exception'`MySQL user (should already

[2016-09-13 19:07] devGregA opened #117 "Vagrant Install is Broken"
When run, the install states it is successful, but hangs when you attempt to access the 192 address. I'm using OSX.

[2016-09-13 20:45] devGregA commented on #117
@cneill would you be interesting in triaging? :D

[2016-09-15 14:41] #117 closed

[2016-09-15 14:41] devGregA commented on #113
Didn't hear back so closing. I this is most likely because you removed watson.

[2016-09-15 14:41] #113 closed

[2016-09-26 19:52] devGregA opened #120 "Not working on Ubuntu 14.04"

[2016-09-28 13:52] devGregA opened #122 "Migration Script for CodeDX"
Place Holder

[2016-09-28 16:15] devGregA opened #123 "Add prefix feature to urls"

[2016-09-28 19:11] devGregA opened #125 "Complete Django DB Support"
## Complete Django DB Support

### Make sure you assign this issue to yourself so folks do not duplicate effort.

To complete this issue, Dojo users should be able to use any of the official databases supported by Django (MySQL, Postgres, SQLite, and Oracle). We currently only support MySQL to leverage preloading efficiency requirements.

Implementation Requirements:

- [ ] Modify dojo/metrics/vie

[2016-09-28 21:14] devGregA opened #126 "Port / Remote Host Support / Bash Script Clean Up"
:D, Hey Matt while you were working on the bash stuff was wondering if you also add remote host / port change support?

[2016-10-05 16:04] grendel513 opened #127 "URL Prefix usage breaks existing deployments"
@devGregA pulling from master and running app yields:

`AttributeError at /login
'Settings' object has no attribute 'URL_PREFIX'
Request Method:	GET
Request URL:	http://127.0.0.1:8000/login?next=/
Django Version:	1.8.10
Exception Type:	AttributeError
Exception Value:
'Settings' object has no attribute 'URL_PREFIX'
Exception Location:	/Users/jpaz/.virtualenvs/dojo/lib/python2.7/site-packages/django

[2016-10-05 16:20] grendel513 opened #128 "Product Type Metrics date time error"
@devGregA - one more.  Product type metrics breaks when selecting period with actual findings in it:

`TypeError at /metrics/product/type
can't compare datetime.datetime to datetime.date
Request Method:	GET
Request URL:	http://127.0.0.1:8000/metrics/product/type?date=4&status=
Django Version:	1.8.10
Exception Type:	TypeError
Exception Value:
can't compare datetime.datetime to datetime.date
Excepti

[2016-10-05 16:30] mtesauro opened #129 "Fixes URLs in reports.html & report_builder.html"
Using:
`$ grep -R -n "/reports/" dojo/*`

I found a couple of fixed paths which hurt the ability to shift Defect Dojo off the root of the web server to say "/dojo/" or whatever.  One of these below has been addressed in https://github.com/OWASP/django-DefectDojo/pull/124

**dojo/templates/dojo/reports.html**

[code]

or more easy to read:

dojo/templates/dojo/reports.html:133:                $.get

[2016-10-05 19:00] devGregA commented on #129
Done

[2016-10-05 19:00] #129 closed

[2016-10-05 19:03] devGregA commented on #128
@grendel513 can you please double check? I don't get this error.

![screen shot 2016-10-05 at 2 02 46 pm](https://cloud.githubusercontent.com/assets/4741312/19127429/89675a56-8b04-11e6-96eb-c62feca2dbfb.png)

[2016-10-05 19:04] devGregA commented on #127
@grendel513 this should be fixed. Please see my comment in latest PR.

[2016-10-05 19:23] grendel513 commented on #128
Still seeing it:
![screen shot 2016-10-05 at 2 18 08 pm](https://cloud.githubusercontent.com/assets/233694/19127956/d707a6a6-8b06-11e6-8bf0-1e8bd08b115c.png)

![screen shot 2016-10-05 at 2 19 39 pm](https://cloud.githubusercontent.com/assets/233694/19127962/df6da368-8b06-11e6-99da-7b70833374f7.png)

Both new_date and end_date are datetime.datetime objects, but I believe finding.date is not, it is

[2016-10-05 19:58] devGregA commented on #128
looks like this was present before my pushes. I've seen this error before. I think it stems from finding.date sometimes being a date and other times being a datetime. I tried converting them back and forth and still get errors, which ultimate led to this https://github.com/OWASP/django-DefectDojo/blob/master/dojo/utils.py#L224. I will come up with something similar until I can trace down the exact

[2016-10-05 20:17] devGregA commented on #128
Have a patch waiting for travis to finish before pushing https://github.com/devGregA/django-DefectDojo/commit/cd97e83bc073f93416aa7f10631357f2b7c0e6a5

[2016-10-05 20:35] grendel513 commented on #128
This may be one of the import tools adding a date instead of a datetime
object when importing the findings.

On Wed, Oct 5, 2016 at 3:17 PM, Greg Anderson <notifications@github.com>
wrote:

[2016-10-05 23:24] devGregA commented on #105
bump @grendel513 @aaronweaver @cneill @mtesauro

[2016-10-06 02:17] mtesauro commented on #105
I will read through these tonight and reply tomorrow with my 2 cents.  Anything I say now will be uninformed.

[2016-10-06 02:19] #123 closed

[2016-10-06 13:17] mtesauro commented on #105
I'd say leave them there for the time being. Perhaps a couple of the install ones could be removed as they are not accurate and should be re-written after the setup.bash script get some love.  I have that work planned for the week of October 17th.

[2016-10-06 15:13] devGregA commented on #128
@grendel513 can you confirm this is resolved for you?

[2016-10-06 15:21] grendel513 commented on #128
@devGregA I still get the error...did you push the fix? I pulled from Master just now and only saw the CONTRIBUTING.md update

[2016-10-06 16:08] devGregA commented on #128
yes here https://github.com/OWASP/django-DefectDojo/commit/cd97e83bc073f93416aa7f10631357f2b7c0e6a5

[2016-10-06 17:04] #127 closed

[2016-10-06 17:04] #128 closed

[2016-10-06 17:06] grendel513 commented on #128
Still saw a couple of issues...pull request
https://github.com/OWASP/django-DefectDojo/pull/133 addressed them.

Thanks!

Jay

On Thu, Oct 6, 2016 at 11:08 AM, Greg Anderson <notifications@github.com>
wrote:

[2016-10-12 14:13] humor4fun opened #135 "Request: Tag Lookup"
It would be nice if, when editing a Product, the Tags field would auto-complete based on existing Tags that are used on other Products. Or perhaps have a multi-select scrollable list of existing Tags.

[2016-10-12 15:59] devGregA opened #136 "PythonAnywhere Demo is Down"
http://defectdojo.pythonanywhere.com/

[2016-10-12 16:12] grendel513 commented on #136
fixed

[2016-10-12 16:12] #136 closed

[2016-10-13 19:14] devGregA opened #138 "Deployment Buttons"
Support single click deploys for Heroku, Bitnami, etc.

[2016-10-13 19:16] devGregA opened #139 "Improved information on running Dojo in production"
uwsgi, gunicorn, nginx, etc

[2016-10-13 19:17] devGregA opened #140 "Easier daemonizing of celery"

[2016-10-13 19:19] devGregA opened #141 "Make reports easier to setup"
reports.sh has requirements
overwriting wkhtmltopdf path
daemonizing, etc

[2016-10-13 19:19] devGregA commented on #140
celery & celery beats

[2016-10-13 19:19] devGregA opened #142 "Merge Health Dashboards"

[2016-10-13 19:20] devGregA opened #143 "Add Multi OS Testing Support"
https://docs.travis-ci.com/user/multi-os/

Issue Type
  Bug
  Enhancement
Description
Currently, there is no test case to test setup.bash functionality in a Mac OS X environment.
TravisCI, however, offers the possibility to run things in such an environment: https://docs.travis-ci.com/user/reference/osx/

This issue suggests to add a simple test case, testing for successful installation of DefectD

[2016-10-13 19:20] devGregA opened #144 "Add OWASP Slack Channel"

[2016-10-13 19:22] devGregA opened #145 "Add Model data / function tests to travis"

[2016-10-13 19:23] devGregA commented on #104
Hey @grendel513 do you mind taking this one?

[2016-10-13 19:25] devGregA opened #146 "Github Issue Support"
## Github Issue Support

### Make sure you assign this issue to yourself so folks do not duplicate effort.

To complete this issue, Dojo users should be able to auto-push to github issues similar to how the current JIRA integration works.

Implementation Requirements:

- [ ] Create a model that holds a Github URL and has a foreign key as a Product.
- [ ] Add a checkbox to the create finding view t

[2016-10-13 23:17] devGregA opened #147 "Error in Travis"
https://travis-ci.org/OWASP/django-DefectDojo

[2016-10-17 16:20] devGregA commented on #66
@davevs @aaronweaver  will have this pushed by Friday.

[2016-10-17 19:35] grendel513 commented on #104
@devGregA - I can take a look.

[2016-10-18 14:03] kevinfealey opened #148 "'NoneType' object has no attribute 'name' when using Docker"
I just spun up a new Ubuntu Trusty VM (via Vagrant: ubuntu/trusty64) and attempted to set up DefectDojo with Docker. Here are the commands I ran:

[code]

I have set up port forwarding of the guest VM to the host (port 8000->8000). When I attempt to access http://localhost:8000, I receive the following message:

[code]

Here is the full traceback:
http://dpaste.com/24TN705

[2016-10-18 14:22] devGregA commented on #148
Hi @kevinfealey thanks for bringing this to our attention. We will investigate. @aaronweaver can you take a look?

[2016-10-21 21:09] aaronweaver commented on #148
@kevinfealey I update the Dockerhub Repo to point here: https://hub.docker.com/r/appsecpipeline/django-defectdojo/

Let me know how it goes.

[2016-10-21 21:09] aaronweaver commented on #147
Should be fixed now.

[2016-10-21 21:10] aaronweaver commented on #146
@devGregA What's this one about? Integrating Dojo with Github like Jira?

[2016-10-21 21:18] aaronweaver commented on #138
@devGregA Added DockerCloud One click installation.

[2016-10-21 23:12] kevinfealey commented on #148
Thanks @aaronweaver - this worked! DefectDojo running like a dream :)

[2016-10-21 23:12] #148 closed

[2016-10-24 06:29] #147 closed

[2016-10-24 06:31] devGregA commented on #138
Hey Aaron when I click the button I get a 404, am I doing something wrong?

[2016-10-24 06:34] devGregA commented on #138
It also looks like something is a little off in the readme. See 'Once Click Installations'

[2016-10-24 12:49] aaronweaver commented on #138
Just logged out of dockercloud and got the 404. Apparently they don't redirect you to login. :( I'll put in line about logging in first before using the one-click installation.

[2016-10-27 01:01] #144 closed

[2016-10-27 01:01] devGregA commented on #144
done

[2016-10-27 01:03] #104 closed

[2016-10-30 16:30] #101 closed

[2016-10-31 00:15] grendel513 commented on #98
Hey @aaronweaver - do you mean from this page (http://127.0.0.1:8000/product/1/findings):
<img width="1428" alt="screen shot 2016-10-30 at 7 11 11 pm" src="https://cloud.githubusercontent.com/assets/233694/19841193/d907fd0c-9ed4-11e6-80b4-58b739ebe62e.png">

Or would it be more appropriate from the test page (http://127.0.0.1:8000/test/50) where the findings are listed:
<img width="1411" alt="scre

[2016-10-31 01:07] aaronweaver commented on #98
@grendel513 Agree, the test page makes the most sense as that is where most will be editing the findings.

[2016-10-31 05:00] devGregA commented on #135
Hi @humor4fun please see the latest commit from @grendel513. Great stuff
@grendel513!

[2016-10-31 05:00] #135 closed

[2016-10-31 19:14] grendel513 commented on #98
@aaronweaver - pull request submitted.  It will add bulk update as follows:

<img width="1316" alt="screen shot 2016-10-31 at 2 12 24 pm" src="https://cloud.githubusercontent.com/assets/233694/19868027/49096024-9f74-11e6-9fa1-5ff4ec4ed802.png">

<img width="1326" alt="screen shot 2016-10-31 at 2 12 33 pm" src="https://cloud.githubusercontent.com/assets/233694/19868029/4efa7a72-9f74-11e6-82da-2d87e

[2016-10-31 20:12] #98 closed

[2016-11-01 13:46] grendel513 commented on #62
@aaronweaver - do you envision these folks ever login on to the system?  Can we get away with extending Django's User model to store additional metadata?  This would allow for that table to store all humans.  You can restrict their access (not staff, not superuser and no authorized products) so there is no risk of them seeing or manipulating data they shouldn't.

A migration script will have to be

[2016-11-01 13:47] grendel513 commented on #64
@aaronweaver in looking at #62, it would have to be completed before we can move on this one.  Do we think those folks would ever be assigned a Finding for review?  Are we strictly sticking to Staff and Superusers as reviewers?

[2016-11-01 13:51] grendel513 commented on #62
FYI @aaronweaver, @devGregA - see the accepted answer for steps needed to go from char field to model: http://stackoverflow.com/questions/35999186/change-type-of-django-model-field-from-charfield-to-foreignkey

[2016-11-01 13:53] aaronweaver commented on #62
@grendel513 - That might work and be the most flexible. I could see cases where the user might never login but others where the product manager might to see the overall security status.

[2016-11-01 14:53] grendel513 commented on #62
@aaronweaver - sounds good, the User model already stores first and last names, and the email address.  What other contact information would you like to store?

Title
Phone Number
Cell Number
Twitter
Github
...

Let me know what fields we should be storing.

[2016-11-02 18:01] grendel513 commented on #62
@aaronweaver, @devGregA - pull request #157 takes care of this one.  I will start work on #64 soon!

[2016-11-03 14:33] grendel513 commented on #64
@aaronweaver, @devGregA - should Findings under review be counted in the metrics?  If yes, then no code changes are needed.  If no, then I will have to dig through all the places where metrics are calculated and add the additional check.

[2016-11-03 18:13] devGregA commented on #64
I think that findings under review are equivalent to not verified findings and could use the same boolean?

[2016-11-03 18:14] grendel513 commented on #64
@aaronweaver, @devGregA - perfect, that is the way i started coding it.  As soon as it is mark for review the Active attribute will be set to false.  Everything that acts on the active switch should fall in line.  Thanks!

[2016-11-04 15:20] #62 closed

[2016-11-06 21:02] grendel513 commented on #64
@aaronweaver, @devGregA - Findings are now able to be marked for review.  Users are able to select any
staff member to review the finding for accuracy.  When a finding is marked
for review it is marked inactive and unverified.  When reviewer clears
review, they have the option to set the findings status and must also leave
a new note to document verification.

This update requires the following co

[2016-11-08 21:52] devGregA opened #159 "Severity Name Toggling"

[2016-11-08 22:19] devGregA commented on #146
Yes, that's correct. More info for anyone interested https://developer.github.com/v3/issues/

[2016-11-09 17:08] #64 closed

[2016-11-10 02:49] grendel513 commented on #159
@devGregA Details?

[2016-11-10 16:50] devGregA commented on #159
@grendel513 right now in the metrics 'severity' is displayed as s3-s0 instead of low-critical. Should we axe this? Or make it toggle-able?

[2016-11-10 16:56] grendel513 commented on #159
@devGregA - i see.  All the graphs (or most) do use the full severity name, it is the text based metrics that use the numerical severity value.  We can either show both "Critical (S0)" or we can have a toggle (javascript based) that can translate one to the other.

[2016-11-10 17:04] devGregA commented on #159
Sent you a Slack message, but I think it should be togglable from the settings. What are your thoughts?

[2016-11-14 02:58] mindtap commented on #112
This is going to be tricky: the TastyPie API framework does not deal well with file uploads[[1]](http://toastdriven.com/blog/2014/may/23/state-tastypie/)[[2]](https://github.com/django-tastypie/django-tastypie/issues/42)

[2016-11-14 03:00] YSaxon commented on #112
This is going to be tricky: the TastyPie API framework does not deal well with file uploads[[1]](http://toastdriven.com/blog/2014/may/23/state-tastypie/)[[2]](https://github.com/django-tastypie/django-tastypie/issues/42)

[2016-11-17 03:27] mtesauro opened #163 "Unable to create an Engagement via REST API"
I am trying to create an engagement using the DefectDojo API.  I can do various read operations - GET engagements, products, users, etc. without a problem.  Engagements is the first POST request I've tried.

In trying to figure out how to create an engagement, I've determined the following fields are the minimal required JSON values for a valid POST to /api/v1/engagements/
[code]

However, I'm get

[2016-11-17 17:10] #105 closed

[2016-11-18 15:46] devGregA commented on #163
Hi @grendel513 sorry I know I've been bugging you about a lot lately, but do you have suggestions on debugging tasty pie?

[2016-11-18 16:45] grendel513 commented on #163
@mtesauro, @devGregA - looking into it now.  Looks like a tastypie bug.  Update soon

[2016-11-18 18:03] grendel513 commented on #163
@mtesauro, @devGregA - pull request #164 ready

[2016-11-19 19:53] #163 closed

[2016-11-22 03:08] YSaxon commented on #112
I'm nearly done with this feature. (Hopefully...)

[2016-11-22 14:13] aaronweaver commented on #112
@YSaxon That's great, I'm really looking forward to this. We are ready to try it test it as soon as you push it out.

[2016-11-22 19:27] #159 closed

[2016-11-23 20:20] CCoffie commented on #112
@YSaxon I didn't see that you were working on this. I added the support myself in PR #168.

[2016-11-28 22:59] CCoffie opened #169 "De-duplication doesn't change data on Dashboard"
So it looks like when DefectDojo marks a finding as a duplicate it doesn't reflect those changes on the dashboard stats.

[2016-11-29 19:47] aaronweaver commented on #169
@CCoffie Is Dojo marking findings as duplicate when you upload via the API? I was just testing this out and I don't see findings marked as a duplicate.

[2016-11-29 19:56] aaronweaver opened #170 "API Errors"
Error creating a finding and updating an engagement:

**Finding issue:**
Finding is created but the following error is returned: Finding' object has no attribute 'risk_acceptance'

`POST /api/v1/findings/ HTTP/1.1
Host: localhost:8000

{"product": "/api/v1/products/1/", "description": "Description", "reporter": "/api/v1/users/1/", "active": "true", "references": null, "date": "2016-11-01", "impact

[2016-11-29 19:58] CCoffie commented on #169
Yeah I think you're right. I thought It was working earlier. It looks like things aren't marked duplicate if they are marked verified or active. In the API I default to both verified and active to True. That might have something to do with it.

[2016-11-30 16:30] aaronweaver opened #171 "API Parity with DefectDojo"
The following API calls should be added to Dojo:

**Users:**
- POST /api/v1/users - Create a new user
- PUT /api/v1/users -  Update an existing user
- DELETE /api/v1/users - Delete a user

**Tagging**
In general: Support for searching by tags in all API's

**Product Type**
- /api/v1/product_types
- All API actions PUT, POST, DELETE, GET for Product Type

**Test Type**
- /api/v1/test_types
- All AP

[2016-11-30 16:31] aaronweaver commented on #171
@mtesauro, @YSaxon  Any other API calls that are missing?

[2016-12-03 17:21] aaronweaver opened #172 "CI/CD Pass/Warn/Fail Policies"
As a user I want to be able to specify a policy that I can attach to a product to determine if a build should pass or fail. The policy would allow for the following configurations:

- Max number of critical, high, medium and low vulnerabilities for a pass/warn/fail.
- Granular options: Ability to specify CWE's and Scanner Types that will be automatically triaged. For example: An Arachni scanner th

[2016-12-05 17:46] grendel513 commented on #171
@aaronweaver - I like these, they were not included in the original implementation of the API due to business restrictions...these are easy to implement.  I'll take it!

[2016-12-05 17:51] aaronweaver commented on #170
@grendel513 Would you mind taking a look at these API errors? Not sure if I'm missing something when I create or if the API has a bug.

[2016-12-05 18:10] grendel513 commented on #170
@aaronweaver - I'll take a look.  The second one is definitely a bug/misconfiguration, the first will take some digging around.

[2016-12-05 18:12] grendel513 commented on #169
@CCoffie, @aaronweaver  - if by dashboards you mean anything in the /metics views they are cached for 5 minutes.  you can add a param, for example ?a=1, to bust the cache.  However, they have to be a duplicate for them to have an effect on the metrics views.

[2016-12-07 14:09] aaronweaver opened #173 "Markdown Support"
Add Markdown support and an editor to product description, vulnerability and other text fields in Dojo.

[2016-12-07 14:38] aaronweaver opened #174 "Create AdHoc Vulnerability Shortcut"
Add an option on the dropdown in Product to create an AdHoc finding. This would create a test called AdHoc Finding and take the user to the 'Create Finding Screen.'

![jira_test_product_integration](https://cloud.githubusercontent.com/assets/220838/20971782/b3f59a34-bc60-11e6-837b-8ce76c04966d.jpg)

[2016-12-07 14:42] aaronweaver commented on #174
Also would need to create an engagement.

[2016-12-07 14:48] aaronweaver opened #175 "Alphabetize the Test Type"
Alphabetize the Test Type dropdown.

![image](https://cloud.githubusercontent.com/assets/220838/20972231/3c87f864-bc62-11e6-8b6a-e85f2fc8f573.png)

[2016-12-07 15:45] aaronweaver commented on #100
@davevs What would be the criteria on when you'd like to push to a slack channel? For example:

- Vulnerability scanner test imported, auto post those results to slack channel. (Might be noisy especially with multi-tests. Maybe on engagement close?
- Option to send summary as a cron with the option to push finding summaries to a specific channel.
- Have the option to only post summary data when so

[2016-12-08 20:59] grendel513 commented on #171
@aaronweaver - I started work on this today.  DELETE will be some work as there are business rules that have to be enforced before we can delete any record.  For example, deleting a Product Type would also delete all Products associated with it.  This means that we will not allow any Product Type deletions if products are assigned.  More to come.

[2016-12-09 11:35] davevs commented on #100
I wouldn't post to many details as this would clutter the channel feed. If you look e.g. at Jenkins it typically sends messages like 'Build run XXX failed after y sec.'
We might also give a small summary like 0C/1H/2M/3L/4I added
It might also be interesting to send a message when a status has changed, but that might be to 'chatty'

[2016-12-13 17:21] aaronweaver opened #178 "Update default data loader to use Dojo API"
Modify the data loading script to use the API instead of loading fixtures.

[2016-12-14 01:27] devGregA commented on #169
Hi @CCoffie @grendel513 and all I don't think this is an issue because the dashboard graphs or 'historic information' e.g. what was found. Not what is active. It would be nice for this to be configurable, but with how Dojo currently is I don't think this is a bug. The other metrics pages have the active information.

[2016-12-14 21:27] #169 closed

[2016-12-15 02:26] #66 closed

[2016-12-16 15:36] aaronweaver commented on #175
Complete, PR to follow shortly.

[2017-01-05 19:18] professorgrumps opened #183 "ZAP import scan results failing with 'NoneType' object has no attribute 'group'"
**It appears that if a ZAP xml report is generated with a uri that is not fully qualified, an exception is thrown upon importing it to DefectDojo.**

More generally it appears this regex shown in the screenshot showing the stack trace may be too restrictive? Just guessing.

I am using the latest docker image of defect-dojo (appsecpipeline/django-defectdojo)

![untitled](https://cloud.githubusercon

[2017-01-05 20:35] devGregA commented on #183
Hi @professorgrumps, thank you for the detailed submission. @grendel513 @aaronweaver this is an interesting one. We could set endpoint to null if the url isn't correctly qualified. Not sure it would be a good idea to store an unqualified url with the qualified endpoints? any thoughts or input? otherwise I'll just not create an endpoint reference for this situation.

[2017-01-05 20:57] grendel513 commented on #183
Agree with your assessment, thanks for looking into it.

Jay

On Thu, Jan 5, 2017 at 2:35 PM, Greg Anderson <notifications@github.com>
wrote:

[2017-01-06 17:17] professorgrumps commented on #183
Thanks for the response @devGregA  @grendel513  - just a clarification on our use case: we plan to use ZAP reports that are run against internal test hosts whose hostname may infact not be FQ'ed. For example, we may have a shared test instance of an application that internally is resolved by 'http://mytestapp/'

- Therefore, we will expect our ZAP reports to have unqualified URLs / URIs identified

[2017-01-09 03:23] anakin1 opened #184 "View number of findings by engagement"
To view findings for an engagement (including number of findings by severity), you currently need to click through each scan/test since only the total # is shown. It would be handy if you could view either the list of all findings, or at least # of findings by severity - either directly from the engagement screen or via a new metrics screen.

[2017-01-09 03:35] anakin1 opened #185 "Attach findings to multiple products (many-many relation)"
Sometimes I have findings that impact multiple products - e.g. an issue with infrastructure, load balancers, or framework etc. I would like to be able to associate such findings (or at least an endpoint) with multiple products instead of having to duplicate the finding for each product.

[2017-01-09 17:17] #142 closed

[2017-01-09 17:33] devGregA commented on #185
Hi @anakin1 thank you for submitting these issues! I agree both would be useful features. Right now we're pretty backlogged :( hopefully we can get around to it sooner rather than later.

[2017-01-09 17:36] devGregA commented on #112
@aaronweaver I think this is okay to close. Please let re-open if need be.

[2017-01-09 17:36] #112 closed

[2017-01-09 17:40] devGregA commented on #183
Hi @professorgrumps haven't forgotten about this just still trying to figure out how to make the use case work.

[2017-01-09 19:21] #120 closed

[2017-01-10 10:18] Wingless-Archangel opened #186 "Can't delete potential finding"
After I try to delete the potential finding, I got the error below.

[code]

From the exception, I found that tag value is missing. However, I couldn't add tag during creating **Engagement** or **Tests**. Did I miss something?

[2017-01-10 16:37] devGregA commented on #186
hi @Wingless-Archangel thank you for your report! We will look into it. @grendel513  do you mind since you're most familiar with that code? if not I can.

[2017-01-10 16:39] devGregA commented on #186
@Wingless-Archangel, @grendel513  has a pretty full plate. If he doesn't confirm he can work on it I'll take it up first thing tomorrow.

[2017-01-10 17:06] grendel513 commented on #186
I'll take a look today or early tomorrow.

~jay

[2017-01-11 04:16] Wingless-Archangel commented on #186
I'm not familiar with Django yet. Let me go through your code for a while and I'll submit the pull request myself. I'd love to help contribute to this project as well.

[2017-01-11 15:49] #138 closed

[2017-01-11 17:19] grendel513 commented on #186
@devGregA @Wingless-Archangel - pull request submitted that fixes this.

[2017-01-11 17:28] #186 closed

[2017-01-11 17:30] devGregA commented on #186
hi @Wingless-Archangel , Django is pretty easy and we would love for you to contribute! Jay already knocked this one out, but if you need help getting started I'm regularly in the slack channel.

[2017-01-11 17:31] devGregA commented on #175
hey @aaronweaver would you push up this PR if you have it ready? Or is it already in and this just needs to be closed?

[2017-01-11 17:31] aaronweaver commented on #175
@devGregA let me check

[2017-01-11 17:41] devGregA commented on #175
If not this would be great issue for new folks who want to contribute

[2017-01-11 17:41] aaronweaver commented on #175
I know I finished it, just not sure if I pushed it.

[2017-01-11 19:54] devGregA commented on #175
@aaronweaver  doesn't look like it made it.

[2017-01-12 16:41] misfir3 opened #192 "Error adding new product"
Ran setup from setup.bash. Navigated to initial screen and logged in. Went to 'products' screen. When trying to add new product, got
`unboundlocal error at product/add`

Screenshot attached (running in linux mint VM)

![image](https://cloud.githubusercontent.com/assets/5103241/21898797/03b9a2d2-d8bc-11e6-9396-9ee0eed6f577.png)

[2017-01-12 17:50] misfir3 opened #193 "XSS lesson - turn off HttpOnly to accommodate?"
doing the first attack, it's only a yes/no answer, but the document.cookie doesn't work since we have HttpOnly turned on. Any votes against turning it off (assume we can do this in spring config)?

![image](https://cloud.githubusercontent.com/assets/5103241/21901423/ad63d1fa-d8c5-11e6-8246-3646c47f3ba8.png)

[2017-01-12 17:53] misfir3 commented on #193
Whooops!!! Wrong Window/Project.

[2017-01-12 17:53] #193 closed

[2017-01-12 17:59] humor4fun opened #194 "add_tests missing 'Lead' input value"
Unable to use the Engagements/Add_Test function, traceback attached.

![image](https://cloud.githubusercontent.com/assets/7505051/21901698/c94befa0-d8c6-11e6-9992-d23557aa5727.png)

I'm super unfamiliar with using github for contributing, but I'm working on finding the code fix for this and will post the relevant lines once I have done so.

[2017-01-12 18:06] humor4fun commented on #194
Within /dojo/forms.py
[code]
That did the trick so that I can add tests, but it might not be the correct fix.

[2017-01-12 18:48] devGregA commented on #194
@humor4fun I think this was fixed with a previous patch. Will you try running `git pull`?

[2017-01-12 18:59] misfir3 commented on #192
able to bring up product/add  and add product w/o error now

![image](https://cloud.githubusercontent.com/assets/5103241/21903848/57553e3e-d8cf-11e6-8687-3a0a90a36d8c.png)

[2017-01-12 18:59] #192 closed

[2017-01-12 19:24] humor4fun commented on #194
My bad, issue was fixed in a patch I hadn't downloaded.

[2017-01-12 19:24] #194 closed

[2017-01-17 17:10] professorgrumps commented on #183
Sorry for the delay / thanks for the update @devGregA , looking forward to suggestions / resolutions!

[2017-01-19 19:03] #116 closed

[2017-01-19 19:26] devGregA commented on #175
hey @aaronweaver I thought I saw this in your commit history for the jira changes, but it doesn't look like it has changed.

[2017-01-19 19:29] devGregA opened #196 "Dojo Meetup"
@jpbowie @YSaxon Hey guys! Thank you for your contributions to DefectDojo! I couldn't find you in the slack channel but I wanted to get this information to you.

Some of the core contributors and I will be meeting on a monthly basis to discuss Dojo. If you'd like to join in please email me at greg.anderson@owasp.org and I'll send you a calendar invite.

--Greg

[2017-01-19 19:30] #196 closed

[2017-01-23 18:49] aaronweaver commented on #185
We should re-visit that discussion on findings to products. @YSaxon had put together a good proof of concept on doing just that.

[2017-01-23 18:54] aaronweaver opened #199 "Jira Improvements"
- Delete button on Jira Conf from the global settings.
- Add support for Bug, Task etc
- Ability to add custom tags
- Ability to choose component type
- In lists show if an issue has been pushed to Jira
- Search by jira listings

[2017-01-24 05:19] a1ec opened #200 "Unsuccessful Generic Findings Import"
At URL:
http://127.0.0.1:8000/engagement/1/import_scan_results

Attempts to import CSV file containing generic finding results in message:
Generic Findings Import processed, a total of 1 finding was processed

However, the CSV file contains the following entries:
2017-01-23,Outdated OS,1,ball.com,High,"A cross site scripting vulnerabilitiy exists within each of us. By opening our ports to the worl

[2017-01-24 05:34] a1ec opened #201 "Low Priv User Login Exception"
At URL:
http://127.0.0.1:8000/login
Client:Client credentials are used to log into application with a non-staff, non-superuser profile.

An exception is raised and the login process seems to halt at:
http://127.0.0.1:8000/metrics
However an authenticated session is created as navigating back and using the application works fine.

The issue seems to relate to a malformed SQL statement? Dumps and st

[2017-01-24 15:15] devGregA commented on #201
Hi @a1ec thank you for your report! Will look into this today.

[2017-01-24 15:32] aaronweaver commented on #199
In PR (https://github.com/OWASP/django-DefectDojo/pull/202) the following was completed:

- Issue type now supported in global config, future PR will bring that down to the product level.
- List views now show the Jira link and the link to view opens in a new tab

[2017-01-25 02:38] jpbowie commented on #200
I created a CSV file based on the content in the issue.  Unfortunately, it successfully imports in my development environment.

Does the 1 finding that was processed have information for the first record?  Did the CSV file have headers? Was the CSV file created on a Linux, Mac, or Windows environment?  Is it possible to attach a test file that you're having issues with?

[2017-01-25 03:55] devGregA commented on #200
@a1ec ^ thank you for looking into it @jpbowie!

[2017-01-25 04:35] a1ec commented on #200
@jpbowie Thanks for the speedy response.
The copy and paste in the original post is the actual file contents; there are no headers, that may be the issue. I'll note it was not apparent in the documentation that headers were required. My mistake but perhaps an example in the docs might help other users.
I've since looked at the generic import unit tests and successfully imported based on a passing

[2017-01-25 04:35] #200 closed

[2017-01-25 19:45] YSaxon commented on #185
Just to clarify, my proof-of-concept was for the related idea of making Product a field of Finding, rather than what it is now: an inheritance from its Test's Engagement. This way a finding found during an test of productA could be assigned to productB without having to create a duplicate (and fictitious) engagement and test for productB.

I like the idea of making it a many-to-many, but it won't

[2017-01-27 17:54] devGregA commented on #201
Hi sorry @a1ec I got deterred by a family event. Will absolutely look into this on Monday.

[2017-01-29 23:47] a1ec commented on #201
Thanks Greg. Update: setting the Staff flag in the user profile alleviates the issue. However, I wish to set up a low privilege 'Client' user that can only read a subset of the input data.

[2017-01-30 02:09] a1ec opened #209 "Report Builder: WYSIWYG Content does not allow report generation"
When adding a WYSIWYG content component to a Report, clicking the Save and Run button does not generate a report. Removing the component allows generation.

[2017-01-30 02:18] a1ec opened #210 "Finding: Add Note Exception raised"
Adding a Note to a Finding results in an exception (performed with admin user).

Exception Type: DoesNotExist at /finding/4
Exception Value: JIRA_PKey matching query does not exist.

Please see exception details at:
http://dpaste.com/1B99H25

[2017-01-30 02:47] Wingless-Archangel opened #211 "Bash Installation deprecation warning"
I tried bash install script and got the warning below.

[code]

not sure how to update this kind of script.

[2017-01-30 05:54] a1ec opened #212 "Vulnerable Findings List: not able to access with authorized user"
While logged in as an active user without staff or admin privs, attempting to access a vulnerable endpoint list results in a prompt for login:
http://10.90.80.73:8000/login?next=/endpoint/vulnerable%3Fproduct%3D1

![image](https://cloud.githubusercontent.com/assets/17076802/22413453/06ac6142-e70c-11e6-9664-843ab6f1f6e2.png)

This is unexpected, as the product is in the user's Authorized Products l

[2017-01-30 05:57] a1ec commented on #211
Hi WA, have you tried updating your node.js package?
https://nodejs.org/en/download/
https://nodejs.org/en/download/package-manager/

[2017-01-30 09:14] Wingless-Archangel commented on #211
I installed on CentOS7
[code]

[2017-01-30 15:33] devGregA commented on #209
@grendel513 do you mind taking this one?

[2017-01-30 15:33] devGregA commented on #210
@aaronweaver would you like this one or do you want me to take it?

[2017-01-30 15:40] aaronweaver commented on #210
@devGregA I can take it. @a1ec are you using Jira?

[2017-01-30 18:46] mindtap opened #213 "When creating a new user, enabling staff/superuser status is not effective"
I just noticed in creating a new user (Users -> wrench icon -> New User) that selecting the checkbox to make the new user a Staff or SuperUser does nothing. The resultant user is still not those things

Not the biggest deal, since you can edit it and add those attributes immediately afterwards, but a bit confusing. If there is in fact some legitimate reason why not to allow creating a new user as

[2017-01-30 18:48] YSaxon commented on #213
That was actually me that posted that issue. Didn't realize I was signed in to GitHub on another account.

[2017-01-30 22:11] a1ec commented on #210
@aaronweaver Confirming I am not using JIRA.

[2017-01-31 14:23] aaronweaver commented on #210
@devGregA @a1ec I pushed the fix, please verify when you can. Thanks

https://github.com/OWASP/django-DefectDojo/pull/214

[2017-01-31 14:30] aaronweaver commented on #213
@YSaxon This is how it should behave:

**Active**
Designates whether this user should be treated as active. Unselect this instead of deleting accounts.
**Staff status**
Designates whether the user can log into this site.
**Superuser status**
Designates that this user has all permissions without explicitly assigning them.

Can you confirm that staff has superuser status?

[2017-01-31 14:38] aaronweaver opened #215 "Migrate application level functionality from settings.py to the database"
There are several application level settings that should move to an application configuration page within DefectDojo. This will make it easier for people to review the settings and understand how DefectDojo is configured. Candidates for moving:

- Jira Enabled
- De-Dupe
- Mail Server
- Time Zone
- S_FINDING_SEVERITY_NAMING
- URL_PREFIX

[2017-01-31 14:39] aaronweaver commented on #170
Hi @grendel513 have you had a chance to review?

[2017-01-31 22:30] a1ec commented on #210
@aaronweaver @devGregA Tested Note Add with admin and low priv user, confirmed working. Thank you.

[2017-01-31 22:30] #210 closed

[2017-02-01 19:15] devGregA commented on #211
Hi @Wingless-Archangel, I double checked, and we don't specify an NPM version. Here is the line: https://github.com/OWASP/django-DefectDojo/blob/master/setup.bash#L52. You may just need to run a `yum update` since it is pulled from your OS distribution.

[2017-02-01 19:15] #211 closed

[2017-02-01 20:01] devGregA commented on #201
Hi @a1ec, unfortunately I'm not able to reproduce the issue. Can you try with the latest code? Is there some step I could be missing?

[2017-02-01 20:05] devGregA commented on #212
Hi @a1ec I also can't reproduce this one.

[2017-02-01 20:06] devGregA commented on #213
@YSaxon is referring to when a user is created from the 'Users' sections the permissions aren't set correctly. You then have to navigate to /admin to set the password and permissions.

[2017-02-02 16:04] aaronweaver opened #216 "Add delete functionality to DefectDojo Product type, Jira"
Add delete functionality and review to make sure all types can be removed.

[2017-02-03 03:02] a1ec commented on #201
G'day @devGregA , I've done a `git pull` and I have the latest it seems.
Created another user with permissions below and access to the Product.
![image](https://cloud.githubusercontent.com/assets/17076802/22577945/137f0eb4-ea19-11e6-97cf-be95cf928297.png)

The same issue persists. Note sure yet what else I can try, open to suggestions.

[2017-02-03 03:40] devGregA commented on #201
Hi @a1ec would you be up for a video meeting so I could see it first hand? If so what time zone are you in?

[2017-02-03 03:55] a1ec commented on #201
Hi @devGregA, definitely! I am in AEDT, happy to convene when you can

[2017-02-03 04:09] devGregA commented on #201
Hi @a1ec, how about Tuesday? I'm free any time after 10:00 AM - 5:00 PM AEDT. Shoot an email to greg.anderson@owasp.org and I'll setup a Google Hangout for whenever works for you.

[2017-02-03 04:14] devGregA commented on #201
**OH** @a1ec are you using sqlite? I was looking back through you paste. Would it be possible to use maria or mysql instead?

[2017-02-03 05:36] a1ec commented on #201
Yes I am using sqlite as part of the standard docker install, it may be sqlite specific.
Is it a big with the django ORM?
I was looking to use the production docker-compose environment but I have had issues running it).

[2017-02-03 17:08] devGregA commented on #201
@aaronweaver I'm not very familiar with the Docker version. Could you look at this issue?

[2017-02-03 17:46] aaronweaver commented on #201
@devGregA sure, I'll review

[2017-02-03 19:05] devGregA commented on #201
@a1ec ah, nevermind don't change the DB just yet. I didn't realize this was for the Docker version. Aaron is looking into it. He is much more well-versed on the docker version than I am.

[2017-02-03 22:30] devGregA commented on #212
Hi @aaronweaver this is the other one that doesn't seem to be present in the non-docker version.

[2017-02-07 17:39] devGregA commented on #201
hey @aaronweaver have you had a chance to take a look?

[2017-02-08 14:12] bobdob42 opened #218 "NMAP scan results import"
could DefectDojo support Import of NMAP scan results, similar to Nessus or Burp XML
The nmap scan results would be in .XML format https://nmap.org/book/output-formats-xml-output.html

[2017-02-08 16:00] devGregA commented on #218
Hi @bobdob42 we haven't supported nmap as a vulnerability scanner in the past because we didn't feel that open ports equal vulnerabilities. If you're using the  nmap plugins that is different, but we do support nmap / port scans http://defectdojo.readthedocs.io/en/latest/features.html#port-scans

[2017-02-08 20:07] bobdob42 commented on #218
Hi Greg
was thinking in terms of extending that "port-scans" feature, the DefectDojo server may not have access to the same parts of the infrastructure to allow those scans or the scans maybe run by a 3rd party and we want to import the results.

[2017-02-10 02:57] a1ec commented on #201
Hi @aaronweaver @devGregA just wondering if there is any update? This issue hinders usability and presentation of the app, as some of our team think it's broken

[2017-02-10 11:50] aaronweaver commented on #201
@devGregA Was the metrics page built specifically to go against MySQL? I do remember coming across this issue, it's only if you do anything on the metrics page, all other functionality works.

[2017-02-11 01:14] devGregA commented on #201
@aaronweaver right now yes, I forgot about that. We preload some queries to improve performance. Why would an un-authed user be able to access it though while a staff user is not?

[2017-02-11 01:15] devGregA commented on #201
** non-staff user

[2017-02-11 01:19] aaronweaver commented on #201
I think what's happening is that it was the last URL visited so when you auth it's re-directing you to the metrics page which errors out. The login process worked correctly it's just the metrics page that errored out. I think for now what I'll do is just test to see if sqllite. At some point I'll see if it's worth writing it to support sqllite.

[2017-02-11 01:31] devGregA commented on #201
I can throw in a statement to do a check on the settings and avoid the preloading if it is not sql. This would enable other db options such as postgres, etc. Will take this as an action for next week.

[2017-02-12 02:47] YSaxon opened #220 "Alerts are recalculated several times per page load"
**IMPORTANT NOTE:** This is a swag reward issue.  If interested please reach out to @grendel513 to get the requirements.  Please do not start work before you have had a conversation with him.
You can reach him via OWASP Slack https://owasp.slack.com/messages/@jjpaz

---------------------------------------------------------------------------------------------------

I noticed in testing #217 and #2

[2017-02-12 03:05] YSaxon commented on #213
Just to clarify:
Here's adding a new user and selecting that the user should be a staff and su:
<img width="879" alt="screen shot 2017-02-11 at 9 59 11 pm" src="https://cloud.githubusercontent.com/assets/11711101/22859312/83cd274a-f0a5-11e6-86a9-cd81f93a1569.png">

And here is what you see after you click the add user button
<img width="872" alt="screen shot 2017-02-11 at 9 59 46 pm" src="https://

[2017-02-12 19:17] devGregA commented on #218
@bobdob42 ah great point. Definitely would be a great enhancement. Unfortunately, I'm not sure when I'll be able to get to it due to my backlog.

[2017-02-13 15:41] YSaxon commented on #213
Note that the same issue is true for Active status as well, except that it overrides the user's choice and forces Active to true. Not sure how often anyone will want to create an inactive account, but perhaps for consistency it should be addressed as well.

[2017-02-14 07:24] sandeshM27 opened #224 "PDF Report generation issue on Defect Dojo "Still Running ""
We had install all the packages and followed all the step to achieve the PDF generation of Defect Dojo but still Report generation button show us "Running" status.. Kindly help us and give right solution.. we are eagerly waiting for your response.

[2017-02-14 15:26] devGregA commented on #224
Hi @sandeshM27 did you follow these steps? http://defectdojo.readthedocs.io/en/latest/features.html#reports

[2017-02-14 15:54] devGregA commented on #213
hi @YSaxon thanks for taking this on! Would you mind consolidating the pull requests for #213? I'm worried that if we merge them out of order it might mess up. It should be the case that if you open a PR and then make changes, github will automatically reflect those changes in the PR if I'm not mistaken.

[2017-02-14 17:25] owaspwilton opened #225 "Metric Counts --> Open Findings does not show all finding"
when viewing the open findings in metrics ,  the table does not show all the findings.  In my case we have a project with 1 Critical and one with 2 Critical , it shows the project with two Critical , but it does not shows the project with 1 Critical
Here is the way to get to the link:
Home page ---> Metrics --->  Product Type Metrics --> Opened Findings.

[2017-02-14 17:35] YSaxon commented on #213
The 3 pull requests are actually meant to represent three mutually exclusive alternatives for fixing this issue, according to whatever the actual desired behavior is. They should not **all** be merged, in any order.

Unless perhaps I'm misunderstanding what you mean by consolidating...

If there is a better way to represent alternative fixes, eg. a single pull with 3 variants if such a thing exist

[2017-02-14 20:00] devGregA commented on #213
@YSaxon oh gotcha awesome! Will review.

[2017-02-15 03:34] devGregA commented on #213
Correction Merged

[2017-02-15 03:34] #213 closed

[2017-02-15 16:09] grendel513 commented on #173
@aaronweaver @devGregA - this one is huge, and will affect report generation as the markdown will have to be interpreted and rendered before the PDFs and/or ASCIIDoc are generated.  Also need to consider future report formats like CSV, XML, JSON, etc since some characters may not be valid for the formats.

[2017-02-15 16:22] grendel513 commented on #201
@devGregA @aaronweaver - this is definitely because MySQL is not in use for this setup.  For 100% functionality, MySQL is required at this point.  Without the preloading in Metrics the pages are very slow and require a lot of sql queries.

[2017-02-15 16:23] grendel513 commented on #209
@a1ec - sorry for the delay on this - can you please provide the content you are adding in the WYSIWYG text area?

[2017-02-15 16:25] grendel513 commented on #215
+1

[2017-02-15 16:27] grendel513 commented on #220
@YSaxon - thanks for this, and I agree.  The better way is to have an alerts model and store them in the DB as they happen.  This will also allow users to silence the alerts if desired.

[2017-02-15 17:17] devGregA commented on #212
Hi @grendel513 I believe this one is specific to docker.

[2017-02-16 05:26] devGregA commented on #224
Closing, haven't heard back from @sandeshM27, will reopen if needed.

[2017-02-16 05:26] #224 closed

[2017-02-16 05:32] devGregA commented on #199
Hi @aaronweaver would you update progress from your PR today when you can?

[2017-02-16 13:32] aaronweaver commented on #199
In PR (https://github.com/OWASP/django-DefectDojo/pull/226) the following was completed:

- Support for Component on the Product level
- Attachments are now uploaded to Jira
- Fixed a bug where engagement was looking for a Jira ID when one wasn't assigned to the product

[2017-02-17 04:19] a1ec commented on #209
@grendel513 to elaborate, if the WYSIWYG component is included, the 'Save and Run' button will have no effect, regardless of whether there is text in there or not. My environment is the development version with SQLite backend, in case that makes a difference.

[2017-02-21 21:35] devGregA commented on #100
## Status Updates via Slack and/or Mail

### Make sure you assign this issue to yourself so folks do not duplicate effort.

To complete this issue, Dojo users should be able to configure slack / email notifications for issues.

Implementation Requirements:

- [ ] Create a configuration page that has a checkbox matrix to assign when notifications will be sent out.
- [ ] Integrate with slack APIs to

[2017-02-21 21:38] devGregA opened #228 "Status Updates via Slack / Email"
## Status Updates via Slack / Mail

### Make sure you assign this issue to yourself so folks do not duplicate effort.

To complete this issue, Dojo users should be able to configure slack / email notifications for issues.

Implementation Requirements:

- [ ] Create a configuration page that has a checkbox matrix to assign when notifications will be sent out.
- [ ] Integrate with slack APIs to push

[2017-02-21 21:39] devGregA commented on #100
Rewrote in #228 for clarity

[2017-02-21 21:39] #100 closed

[2017-02-21 21:47] devGregA commented on #97
@aaronweaver  please see my modified description above and make revisions as necessary so we can launch as a swag issue.

[2017-02-21 22:05] #175 closed

[2017-02-21 22:08] devGregA commented on #173
Do we want to make this a swag issue? @grendel513 @aaronweaver ? XD

[2017-02-21 22:46] devGregA commented on #174
I think we could also make this a swag issue. Thoughts @aaronweaver?

[2017-02-22 17:43] devGregA commented on #225
@grendel513 @aaronweaver I have verified this issue. For some reason it is only showing the open findings for one product. (see pythonanywhere) Thank you @owaspwilton for the report!

[2017-02-22 17:56] grendel513 commented on #225
@devGregA - it has to do with the date filter.  it defaults to the last 30 days...if you change it to any date the other products show up.  No bug here, that i can see

![image](https://cloud.githubusercontent.com/assets/233694/23224941/d3361d66-f8f5-11e6-8446-f86ee7c1b6db.png)

![image](https://cloud.githubusercontent.com/assets/233694/23224958/e1003864-f8f5-11e6-9f9e-795498d9accf.png)

[2017-02-22 19:33] devGregA commented on #225
OH great catch! thanks @grendel513. @owaspwilton please see @grendel513's comment

[2017-02-22 19:33] #225 closed

[2017-02-23 03:52] grendel513 opened #231 "Product Delete form has unnecessary pulldowns"
![image](https://cloud.githubusercontent.com/assets/233694/23244192/2108e98a-f949-11e6-92b5-7d7bbdec4bf8.png)

[2017-02-23 04:22] #231 closed

[2017-02-23 08:48] Wingless-Archangel opened #233 "wrong command in the documentation"
From, https://github.com/OWASP/django-DefectDojo/blob/master/docs/upgrading.rst, There is the following command.

[code]

however, I couldn't use with ```--no-input``` as I got an error.

[code]

however, I manage to run with the  ``` --noinput``` argument.

[2017-02-24 02:31] grendel513 commented on #183
@devGregA  - We could have a setting that allows unqualified/invalid URLs.  I don't think we should, by default accept invalid URLs.

[2017-02-24 03:22] #233 closed

[2017-02-24 03:24] #184 closed

[2017-02-24 03:27] grendel513 commented on #125
@devGregA postgres, sqlite, and other backends will mean looking into all the MySQL specific queries peppered throughout dojo.  MySQL is the only DB that allows for preloading and efficiencies we leverage especially for the query heavy metrics pages.  This is bigger than just settings.py entries.

[2017-02-24 05:05] devGregA commented on #183
@grendel513  - agreed!

[2017-02-24 05:07] devGregA commented on #184
@grendel513 Thanks! I really like this one.

[2017-02-24 16:57] humor4fun commented on #173
Perhaps a stopgap solution would be to build the UI for it to be written/displayed and then when report gen happens, just strip the markdown out and replace them with appropriate comma, space or newline characters.

[2017-02-24 17:00] aaronweaver commented on #173
Couldn't we use one of the Python Markdown render to do that? For the report's the PDF is essentially a screen scrape of the UI so rendering in HTML would be ok. For ASCII there's probably a markdown strip or converter of some sort.

[2017-02-27 01:17] a1ec commented on #139
@devGregA currently Dojo seems to be tied to MySQL, would be good if there was less coupling.
Also current set up using Django test server, a basic guide would be great for setting up with gunicorn, nginx etc. I'm slowly making progress, will advise if I can add some notes.

[2017-02-27 01:55] a1ec opened #235 "/endpoints/add: Valid FQDN Validation Problem"
Dojo endpoint /endpoints/add does not validate the FQDN below:
abc-0_200.pe1.abcd.nsw.domain.net.au

This however is a valid domain name.

I've changed the regex in dojo/forms.py on line 905:
r'^(?:(?:[A-Z0-9](?:[A-Z0-9-]{0,61}[A-Z0-9])?\.)+(?:[A-Z]{2,6}\.?|[A-Z0-9-]{2,}(?<!-)\.?)|'

Adding the underscore:
r'^(?:(?:[A-Z0-9](?:[A-Z0-9-_]{0,61}[A-Z0-9])?\.)+(?:[A-Z]{2,6}\.?|[A-Z0-9-]{2,}(?<!-)\.?)|'

[2017-02-27 09:04] devGregA commented on #183
@grendel513 is the URL displayed on a finding if it doesn't match the endpoint? I don't believe so? I wonder if we did a `if endpoint == None:` display URL. If that would resolve this issue. I do not think we should store non-FQDN endpoints due to plans with scan integration 2.0.

[2017-02-27 21:08] humor4fun opened #236 "Enhancements to Tagging"
This might be multiple enhancements. The Tagging features exist only on "Product" and appear only on the Product View and Edit pages. I propose the following enhancements to "Tagging" as a whole:

- Expanded tagging: ability to place tags on endpoints, engagements, tests, maybe even findings
- Search: use tags to search in the universal search box. Results should identify what type of data the tag

[2017-02-27 21:18] humor4fun opened #237 "Long-term Engagement breakup"
One thing that I plan to do regularly is to run an engagement with a team: 'starting this week, I'll do a burp scan, web app pentesting for 2 weeks, and then in about 2 months we will circle back around and do another burp scan.'

It makes sense to include this sort of thing as _three_ **Tests** on _one_ **Engagement**, but the calendar will show the engagement running for the entire duration of t

[2017-02-28 01:22] anakin1 commented on #184
Love the graphs, thanks for including this.

[2017-02-28 01:28] anakin1 opened #238 "Assign permissions to engagement"
We have a common use case where project managers or development team may be responsible for remediating issues found during a particular engagement, so the PMs/devs need permission to view findings found during the engagement so that they can remediate them, but should not be able to view other findings for the product.

[2017-02-28 20:33] devGregA commented on #238
Hi @anakin1 this one seems strange to me. Do you break down products further into 'apps'? Why would it be okay for devs to see some issues in their product but not others?

[2017-03-02 03:37] anakin1 commented on #238
Hi @devGregA, we do break some products down into apps (microservices), but we also have a lot of legacy code for some very large products (e.g. banking apps) where project teams are spun up to add new features over a couple of sprints, and then they might move on to another feature. The project team needs to see issues that they've introduced, but ideally should not be able to see other existing

[2017-03-02 10:34] a1ec commented on #212
@devGregA Confirming I have pulled latest code and switched to MySQL from SQLite.
Also environment is not docker. User is non-staff.
Picture of the offending link:
![image](https://cloud.githubusercontent.com/assets/17076802/23503350/8640b5f2-ff8f-11e6-8044-5ed94b38934e.png)

Also, I can see the hosts in question if I follow the Open Findings link, so the authorisation is a little confusing. I'm c

[2017-03-05 20:43] aaronweaver commented on #236
@humor4fun Just pushed a PR to bring out tagging to the various views. Tagging was on finding, engagement, endpoint etc. just not obvious that it was there. Added tags to each view and simple search will categorize where the tag was found.

PR: https://github.com/OWASP/django-DefectDojo/pull/242

[2017-03-05 23:57] a1ec commented on #212
Although above issue remains, clicking the Endpoint Report link within the button pictured presents the expected affected endpoints:
![image](https://cloud.githubusercontent.com/assets/17076802/23592859/46a7f0a8-025b-11e7-9886-ab6e101a48a2.png)

![image](https://cloud.githubusercontent.com/assets/17076802/23592880/9b46f082-025b-11e7-9d2e-c22261acf17a.png)

[2017-03-07 15:29] devGregA commented on #236
I'm going to go ahead and close. Feel free to reopen if necessary.

[2017-03-07 15:29] #236 closed

[2017-03-08 12:23] aaronweaver commented on #97
Pending PR: https://github.com/OWASP/django-DefectDojo/pull/243

[2017-03-09 15:29] Wingless-Archangel opened #244 "Jira Integration errors"
After I upgrade the code base to the latest I got the traceback below.

[code]

## How to reproduce
1. enable Jira Integration. (I didn't configure Jira integration yet just enable this features.)
2. edit the product
3. click save and got this error.

However, the changes I made still got through along with this exception.

[2017-03-13 13:19] aaronweaver commented on #244
@Wingless-Archangel take a look I believe that is fixed in the latest PR.

[2017-03-13 20:00] aaronweaver commented on #235
@a1ec Thanks for finding the reference. I'm looking at extending the django url validator here and the point about a list is good as well.

https://docs.djangoproject.com/en/1.10/ref/validators/#urlvalidator

[2017-03-15 21:54] #97 closed

[2017-03-15 21:54] devGregA commented on #244
@Wingless-Archangel closing. Feel free to reopen if you still have issues.

[2017-03-15 21:54] #244 closed

[2017-03-15 22:12] bwu-tang opened #246 "Engagement with open ended duration"
We'd like to create a recurring weekly vulnerability scan, but the end date on an engagement is a required field. It would be nice to get a recurring engagement type rather than either creating a new engagement for each scan, or setting a set ending timeframe.

[2017-03-15 22:14] bwu-tang opened #247 "Associate multiple products to engagement"
We'd like the ability to add multiple products to a particular engagement. For example, a vulnerability scan that might hit infrastructure on multiple products, or a bug bounty program across multiple products.

[2017-03-20 17:22] Greenjam94 opened #248 "Bulk finding update - Poor error message: Severity is only required field"
![screen shot 2017-03-20 at 1 17 10 pm](https://cloud.githubusercontent.com/assets/5766832/24112375/b4d3f756-0d6f-11e7-970f-d8b5779c69c0.png)

I imported issues from Fortify on Demand CSV. There is a severity for all of the issues I imported. However, there's no description, mitigation, or impact fields. When I try to bulk edit to verify all of them, I get the attached error message.

When editing

[2017-03-21 14:42] devGregA commented on #246
Hi @bwu-tang you can change this by adding `required=False` to https://github.com/OWASP/django-DefectDojo/blob/master/dojo/forms.py#L453

@grendel513 @aaronweaver please let me know if you think this should be considered as a change to core. I do not see the advantage at this time.

[2017-03-21 14:42] #246 closed

[2017-03-21 14:43] devGregA commented on #199
Hi @aaronweaver is the last requirement here 'Search by jira listings'?

[2017-03-21 14:56] devGregA commented on #248
Hi @Greenjam94 it looks like this is where the error message is located https://github.com/OWASP/django-DefectDojo/blob/master/dojo/test/views.py#L406 would you like to do the PR? :)

@grendel513 anything to add here on why this message is the way it is?

[2017-03-21 15:13] grendel513 commented on #248
No, looks like a good catch. Thanks!

On Tue, Mar 21, 2017 at 9:56 AM, Greg Anderson <notifications@github.com>
wrote:

[2017-03-21 20:18] devGregA commented on #174
## Create AdHoc Vulnerability Shortcut

### Make sure you assign this issue to yourself so folks do not duplicate effort.

To complete this issue, Dojo users should be able to add a finding to a product from the product dropdown as shown above.

Implementation Requirements:

- [ ] Add a drop-down item to create a finding.
- [ ]when selected a finding form should be displayed.
- [ ] If the informat

[2017-03-21 20:28] devGregA commented on #109
@grendel513 @aaronweaver @mtesauro  do y'all think this is covered w/ the new meta data feature?

[2017-03-21 20:30] devGregA commented on #220
@grendel513 I think fixing this should be a swag issue. Would you mind doing the writeup? Here is an example of what I have been doing outline the work required https://github.com/OWASP/django-DefectDojo/issues/146

[2017-03-21 20:30] devGregA commented on #215
I'm good with making this is a swag issue if y'all are.

[2017-03-21 20:42] devGregA opened #249 "Consolidate Docs Info to ReadtheDocs"
## Consolidate Docs Info to ReadtheDocs
### Make sure you assign this issue to yourself so folks do not duplicate effort.

To complete this issue, The information on the GitHub docs / wiki should be consolidated to our ReadtheDocs Site. To get the swag reward, this must be done to the satisfaction of the maintainers. Upon completion the docs / wiki will be removed to instead redirect to our Readth

[2017-03-21 20:46] devGregA opened #250 "Update Django Version to 1.11 LTS"
## Django 1.11 Update
### Make sure you assign this issue to yourself so folks do not duplicate effort.

Currently DefectDojo uses Django 1.8(LTS). Update all setup files necessary to make Dojo compatible with the new LTS version of Django (1.11). This includes but is not limited to setup.py and manage.py. All CI tests must pass and all supported install options must work.

[2017-03-21 21:06] devGregA commented on #125
## Complete Django DB Support

### Make sure you assign this issue to yourself so folks do not duplicate effort.

To complete this issue, Dojo users should be able to use any of the official databases supported by Django (MySQL, Postgres, SQLite, and Oracle). We currently only support MySQL to leverage preloading efficiency requirements.

Implementation Requirements:

- [ ] Modify dojo/metrics/vie

[2017-03-21 22:42] grendel513 opened #252 "View Engagement Finding links broken"
What I find weird is that when I’m viewing one engagement with 3 findings, the graphs show 5 findings.. when I click the link on the graphs, I get the open findings screenshot with no issues.. it’s really weird. Anyone got advice on this?

1 reply
jjpaz [2 hours ago]
you've actually stumbled onto a bug...great find.  The link to the findings is broken...I'll look a this and commit a fix soon

[2017-03-21 23:01] #252 closed

[2017-03-22 15:28] grendel513 commented on #220
@devGregA - I agree, I'll get it documented today or tomorrow.

[2017-03-24 22:58] StephenNickle opened #254 "Unable to Create Finding from Template"
I recently installed Defect Dojo following the instructions in the getting started guide. It seems to be working correctly except that I'm unable to create a finding using an existing template. I am able to create a new template and I'm able to create a new finding. I am running Red Hat Enterprise Linux Server 7.3(Maipo) on a VM.  I appreciate any help you can provide.

Steps to Reproduce:
1. Crea

[2017-03-27 21:09] devGregA commented on #254
thanks @StephenNickle will have this fixed this week

[2017-03-27 23:52] devGregA commented on #254
believe to be fixed, please feel free to reopen if it isn't for you.

[2017-03-27 23:52] #254 closed

[2017-03-27 23:53] devGregA commented on #248
fixed.

[2017-03-27 23:53] #248 closed

[2017-03-28 20:06] StephenNickle commented on #254
This fixed the issue. Thank you so much for your help!

[2017-03-28 21:30] aaronweaver commented on #247
@bwu-tang Thinking through this and it would break the existing database model quite a bit to allow multiple products on an engagement. Would it work if we allowed a finding to be re-assigned to the appropriate product? @devGregA do you agree with the approach?

[2017-03-28 21:32] aaronweaver commented on #199
Yes, that's the last one. I close this one and create a new one with a reward.

[2017-03-28 21:32] #199 closed

[2017-03-28 21:46] aaronweaver opened #257 "Jira Update #2"
- Add the ability to search by Jira ID from the flnding list: /finding/open
- Support custom fields on the global and product jira settings. Allow for a dojo admin to specify default values for custom fields in Jira
- Add the Default issue type on the product level as well (see global)
- Create a summary of the jira issue on the finding level, this would include the current status of the jira issu

[2017-03-28 21:54] bwu-tang commented on #247
Perhaps there is a way to clone a finding and assign to multiple products?

There might be legitimate cases to have a single finding (maybe a vulnerability in a library) that is used across multiple products and different teams need to coordinate to update.

[2017-03-28 21:57] aaronweaver commented on #247
I could see that use case, so support ability to assign to multiple products and / or move the finding out from a product.

[2017-04-04 12:46] aaronweaver commented on #172
I'm going to break these enhancement requests up.

[2017-04-04 12:46] #172 closed

[2017-04-04 13:09] aaronweaver opened #258 "WebHook"
Webhook: Create a git/stash etc. Webhook to post to DefectDojo.

- Table to associate a Webhook with a particular repository from the tools table
- Token for the Webhook
- WebHook raw data stored in rawdata field, Fields to pull out: action (what triggered the webhook), ref, head, pushed_at
- Have an option to archive webhook history

- Support Stash: https://confluence.atlassian.com/bitbucketserv

[2017-04-04 16:07] devGregA opened #259 "AWS Beanstalk support"

[2017-04-04 16:24] devGregA commented on #183
Hi everyone, we have discussed this at length and will not be able to support non-FQDN endpoints because we would break our database schema. Endpoints are stored as FQDN's broken into their proper parts / labels. This construction is used in a variety of different views that would have to be altered to accommodate a non-FQDN model. I Wish I had better news :(. I will push an update that handles th

[2017-04-04 16:26] devGregA commented on #183
@professorgrumps also just wanted to highlight that I greatly appreciate the detailed files / steps you provided to reproduce the issue. I'm sorry I couldn't provide a better outcome.

[2017-04-04 16:28] aaronweaver commented on #183
@devGregA Would it be worth adding an option to tag on a local domain suffix? For example in the global settings or on the import level have an option to tack on  a suffix such as corp.local.

Example: If validation for endpoint fails tack on corp.local. qaserver01 --> qaserver01.corp.local

[2017-04-04 16:48] devGregA commented on #235
Hi @a1ec @aaronweaver I've been looking into this extensively from another outstanding issue.
A DNS record is allowed to have underscores per [RFC 2181](http://www.ietf.org/rfc/rfc2181.txt). However, in hostnames (which I just learned are actually a specific type of DNS) underscores are not permitted per [RFC 952](https://tools.ietf.org/html/rfc952) which is amended but still enforced by (RFC 1123

[2017-04-04 18:29] devGregA commented on #235
@a1ec would you like to create the PR so you can get contributor? :)

[2017-04-04 18:32] devGregA commented on #170
bumping :) @grendel513

[2017-04-04 19:03] grendel513 commented on #170
I have a fork that i ma working on to address this, but i have not had the time to finish it up.

[2017-04-05 05:01] curphey opened #260 "Vulnerability in Django 1.8.10 of OWASP/django-DefectDojo"
Your **Django 1.8.10** library, a direct dependency in your **OWASP/django-DefectDojo** repository, is subject to vulnerability [SID-2959: DNS rebinding vulnerability](https://www.sourceclear.com/registry/vulnerabilities/2959).

A direct dependency is a library that is specified in your project’s setup.py.  A vulnerability in a direct dependency can be fixed by updating the version of the library

[2017-04-05 05:02] curphey opened #261 "Vulnerability in Django 1.8.10 of OWASP/django-DefectDojo"
Your **Django 1.8.10** library, a direct dependency in your **OWASP/django-DefectDojo** repository, is subject to vulnerability [SID-2561: Cross-site Scripting (XSS)](https://www.sourceclear.com/registry/vulnerabilities/2561).

A direct dependency is a library that is specified in your project’s setup.py.  A vulnerability in a direct dependency can be fixed by updating the version of the library i

[2017-04-05 05:02] curphey opened #262 "Vulnerability in Django 1.8.10 of OWASP/django-DefectDojo"
Your **Django 1.8.10** library, a direct dependency in your **OWASP/django-DefectDojo** repository, is subject to vulnerability [SID-2211: User Enumeration Timing Attack During Login](https://www.sourceclear.com/registry/vulnerabilities/2211).

A direct dependency is a library that is specified in your project’s setup.py.  A vulnerability in a direct dependency can be fixed by updating the version

[2017-04-05 05:02] curphey opened #263 "Vulnerability in Django 1.8.10 of OWASP/django-DefectDojo"
Your **Django 1.8.10** library, a direct dependency in your **OWASP/django-DefectDojo** repository, is subject to vulnerability [SID-2958: Use of hardcoded password](https://www.sourceclear.com/registry/vulnerabilities/2958).

A direct dependency is a library that is specified in your project’s setup.py.  A vulnerability in a direct dependency can be fixed by updating the version of the library in

[2017-04-05 05:02] curphey opened #264 "Vulnerability in Pillow 3.3.0 of OWASP/django-DefectDojo"
Your **Pillow 3.3.0** library, a direct dependency in your **OWASP/django-DefectDojo** repository, is subject to vulnerability [SID-2842: Integer Overflow in Map.c](https://www.sourceclear.com/registry/vulnerabilities/2842).

A direct dependency is a library that is specified in your project’s setup.py.  A vulnerability in a direct dependency can be fixed by updating the version of the library in

[2017-04-05 05:03] curphey opened #265 "Vulnerability in Pillow 3.3.0 of OWASP/django-DefectDojo"
Your **Pillow 3.3.0** library, a direct dependency in your **OWASP/django-DefectDojo** repository, is subject to vulnerability [SID-2843: Sign Extension in Storage.c](https://www.sourceclear.com/registry/vulnerabilities/2843).

A direct dependency is a library that is specified in your project’s setup.py.  A vulnerability in a direct dependency can be fixed by updating the version of the library i

[2017-04-05 05:03] curphey opened #266 "Vulnerability in pycrypto 2.6.1 of OWASP/django-DefectDojo"
Your **pycrypto 2.6.1** library, a direct dependency in your **OWASP/django-DefectDojo** repository, is subject to vulnerability [SID-3175: Arbitrary Remote Code Execution via Buffer Overflow](https://www.sourceclear.com/registry/vulnerabilities/3175).

A direct dependency is a library that is specified in your project’s setup.py.  A vulnerability in a direct dependency can be fixed by updating th

[2017-04-05 07:38] devGregA commented on #266
Hi @curphey, thank you for the reports. We will investigate what you have reported, but I am closing the issues due to the the self promotion.

[2017-04-05 07:38] #266 closed

[2017-04-05 07:38] #265 closed

[2017-04-05 07:38] #264 closed

[2017-04-05 07:38] #263 closed

[2017-04-05 07:39] #262 closed

[2017-04-05 07:39] #261 closed

[2017-04-05 07:39] #260 closed

[2017-04-05 07:48] curphey commented on #266
One of the most crazy reasons I have ever heard to close a security bug. Not sure what else to say.

[2017-04-07 07:02] a1ec commented on #235
Hi Greg, would love to but not sure how to get my local dev branch commits
up to you for merging...
Also have a couple of other additions once I know to how to contribute :)

[2017-04-07 15:28] a1ec commented on #235
@aaronweaver @devGregA  To elaborate, I have some knowledge of git and setting up local repos but with the instructions on the github website it's not clear how my branch would appear in the upstream repo so that it could be merged with devel / master. If you could provide some pointers I would be grateful and could skip opening some issues and directly submit more patches. Looking forward to hear

[2017-04-07 18:22] devGregA commented on #235
Hi @a1ec I'm happy to help / walk you through it. Can we setup a google hangout for early next week?

[2017-04-11 21:21] mish24 commented on #250
@devGregA  Can I take this up? :)

[2017-04-11 21:22] mish24 commented on #249
@devGregA I want to work on this! Please tell me if it's alright? :)

[2017-04-12 12:16] aaronweaver opened #269 "Jira WebHook Emulation"
Create a Webhook in Dojo that emulates the functionality expected from Jira. Use the current Jira project mappings to push a finding into that particular product labeled as a Jira Engagement. The goal here is to increase the integrations with Dojo and most tools have existing Jira integrations.

Use Case: External SaaS pentesting tool has Jira integration built in. Dojo should be able to emulate j

[2017-04-12 16:33] devGregA commented on #250
Awesome! You got it.

[2017-04-12 17:57] mish24 commented on #250
On it! @devGregA

[2017-04-13 21:07] mish24 opened #271 "User can enter a greater start date than the end date."
![screenshot from 2017-04-14 02-34-29](https://cloud.githubusercontent.com/assets/24610197/25024313/0eca8de8-20bb-11e7-8c30-a9bc77fa3cdd.png)

Here the end dates for engagements and tests are allowed to be before the start dates. Shall we add this as an issue? Of course, genuine users won't do this, but a proper message must be shown, right?

[2017-04-13 21:23] mish24 commented on #271
Also, the finding dates must be within the test start and end dates.

[2017-04-15 13:30] mish24 commented on #139
@devGregA I'll include this with #249

[2017-04-16 15:51] mish24 commented on #250
![screenshot from 2017-04-16 21-19-18](https://cloud.githubusercontent.com/assets/24610197/25072388/6bc66810-22ea-11e7-8f29-abd0e38a64c2.png)
https://dev.mysql.com/doc/relnotes/connector-python/en/news-2-1-3.html
@devGregA  Heya! So, it seems like MySQL support for later versions of Ubuntu and Django 1.9 hasn't been added yet. I would say we must use PostgreSQL for further upgrades. What are your

[2017-04-17 16:16] devGregA commented on #250
Thank you for working on this @mish24 :). Shoot. Some of the metrics used preloaded sql for efficiency https://github.com/OWASP/django-DefectDojo/blob/master/dojo/metrics/views.py#L85, @aaronweaver @grendel513. Can I get your thoughts here please?

[2017-04-17 18:26] mish24 commented on #250
@devGregA  Are you sure all the metrics use preloaded SQL? Because if that was the case, the tables would be created you know. I'll try to explain step by step
1. The first error comes due to old version of django-filter. After upgradation, I get the error `AppRegistryNotReady: The apps aren't loaded yet`.
2. Just to delve deeper, I try to fix this issue somehow, and the next error is `Programming

[2017-04-18 01:15] narayanaditya95 commented on #174
I wish to tackle this problem.

What should the default engagement and the test look like?

[2017-04-18 01:32] narayanaditya95 commented on #125
Please assign this issue to me.

[2017-04-19 01:32] devGregA commented on #125
All yours! :)

[2017-04-19 01:36] devGregA commented on #250
Hi @mish24, only the larger queries are preloaded. For 1. I've seen that before. for some reason django isn't setup in that call. I **believe** I've fixed that before by changing manage.py. 2. Sounds like the DB schema isn't in place. Try `python manage.py syncdb`. 3. sounds similar to 2. I think syncdb will also resolve this issue.

Hope this helps!

[2017-04-19 08:15] mish24 commented on #250
@devGregA  For 1.9 we'll have `makemigrations` and `migrate`. I'll retry the entire process and see where it takes me.

Thanks!

[2017-04-24 03:01] mtesauro commented on #266
I took the time to look at all the Source Clear issues entered against Dojo back on April 6th- full details are in this [Google Doc](https://docs.google.com/document/d/1Z0lJPIR1x2D0Q2_XqfYh-ZPvuK8q3gcQNxbTtgzRN38/edit?usp=sharing).  I figured I should actually add the results to the issues so any of our users can see that we take these things seriously.

Overall for all the issues, I found:
- 3 Fa

[2017-04-24 03:07] mtesauro commented on #265
I took the time to look at all the Source Clear issues entered against Dojo back on April 6th- full details are in this [Google Doc](https://docs.google.com/document/d/1Z0lJPIR1x2D0Q2_XqfYh-ZPvuK8q3gcQNxbTtgzRN38/edit?usp=sharing).  I figured I should actually add the results to the issues so any of our users can see that we take these things seriously.

Overall for all the issues, I found:
- 3 Fa

[2017-04-24 03:09] mtesauro commented on #264
I took the time to look at all the Source Clear issues entered against Dojo back on April 6th- full details are in this [Google Doc](https://docs.google.com/document/d/1Z0lJPIR1x2D0Q2_XqfYh-ZPvuK8q3gcQNxbTtgzRN38/edit?usp=sharing).  I figured I should actually add the results to the issues so any of our users can see that we take these things seriously.

Overall for all the issues, I found:
- 3 Fa

[2017-04-24 03:10] mtesauro commented on #263
I took the time to look at all the Source Clear issues entered against Dojo back on April 6th- full details are in this [Google Doc](https://docs.google.com/document/d/1Z0lJPIR1x2D0Q2_XqfYh-ZPvuK8q3gcQNxbTtgzRN38/edit?usp=sharing).  I figured I should actually add the results to the issues so any of our users can see that we take these things seriously.

Overall for all the issues, I found:
- 3 Fa

[2017-04-24 03:13] mtesauro commented on #262
I took the time to look at all the Source Clear issues entered against Dojo back on April 6th- full details are in this [Google Doc](https://docs.google.com/document/d/1Z0lJPIR1x2D0Q2_XqfYh-ZPvuK8q3gcQNxbTtgzRN38/edit?usp=sharing).  I figured I should actually add the results to the issues so any of our users can see that we take these things seriously.

Overall for all the issues, I found:
- 3 Fa

[2017-04-24 03:14] mtesauro commented on #261
I took the time to look at all the Source Clear issues entered against Dojo back on April 6th- full details are in this [Google Doc](https://docs.google.com/document/d/1Z0lJPIR1x2D0Q2_XqfYh-ZPvuK8q3gcQNxbTtgzRN38/edit?usp=sharing).  I figured I should actually add the results to the issues so any of our users can see that we take these things seriously.

Overall for all the issues, I found:
- 3 Fa

[2017-04-24 03:15] mtesauro commented on #260
I took the time to look at all the Source Clear issues entered against Dojo back on April 6th- full details are in this [Google Doc](https://docs.google.com/document/d/1Z0lJPIR1x2D0Q2_XqfYh-ZPvuK8q3gcQNxbTtgzRN38/edit?usp=sharing).  I figured I should actually add the results to the issues so any of our users can see that we take these things seriously.

Overall for all the issues, I found:
- 3 Fa

[2017-05-02 16:09] devGregA commented on #261
I'd like to add that this vulnerability is tied to 'Editor Snippet' a Django CMS feature that let's people using Django for articles to denote code. We do not use the editor snippet. All data stored in DefectDojo goes through the form.is_valid() function (to the best of my knowledge) which escapes data submissions before storage.

[2017-05-03 06:43] ac-mercury commented on #212
@devGregA @aaronweaver @grendel513
Cloned latest repo into a clean environment this morning and confirm that issue persists. What information can I provide to you in order to troubleshoot?

[2017-05-11 01:34] a1ec opened #276 "Close Engagement Exception: JIRA_PKey matching query"
When browsing to https://host/engagement/3/close
an attempt to close the engagement results in exception: JIRA_PKey matching query does not exist.
I have not configured JIRA as part of my dojo environment. Please see exception output below.

[code]

[2017-05-14 23:04] #126 closed

[2017-05-15 13:13] devGregA commented on #276
Ah, we've seen this before in a couple other spots. It's from the new JIRA functionality. If you add `JIRA_PKey = None' to the very first line of the method it should resolve the issue. I will submit a PR to fix this in less than 24 hours.

[2017-05-15 13:26] devGregA commented on #271
confirmed

[2017-05-15 23:01] devGregA commented on #276
Believe to be fixed. Please feel free to re-open if it is not.

[2017-05-15 23:01] #276 closed

[2017-05-15 23:28] a1ec opened #278 "Unauthorised User can view Details of Product"
I have non-admin user 'client' that is only authorised for the Products:
ACME-Co/Infrastructure
BBSNet/External-Network
When logging in with client, the following Products are listed.

![image](https://cloud.githubusercontent.com/assets/17076802/26083404/004940f8-3a19-11e7-8b39-39baf8763456.png)

When visiting /metrics view, the following is available:
![image](https://cloud.githubusercontent.com/

[2017-05-16 00:01] devGregA commented on #237
I agree, my thought is to create a toggle between tests / engagements for the calendar

[2017-05-16 00:11] #271 closed

[2017-05-16 01:12] devGregA commented on #278
Hi @a1ec they can't view the product info correct?

[2017-05-16 01:28] devGregA commented on #278
Hi @a1ec I'm pretty positive that this is intended in the current state. We allow any authorized user to view metrics, but not the vulnerability details. I think this touches are the larger issue that we should redo permissions to be more of an access matrix

[2017-05-16 01:46] a1ec commented on #278
Hi @devGregA if this is the current intended behaviour, a reimplementation would be desirable.
In the context of a client with no relation to other products (belonging to other clients), all of which are sensitive by nature, it is more suitable for them to have zero knowledge of other Products.
This would also be valid for teams within the same organisation working on different Products.

Currentl

[2017-05-16 01:48] devGregA commented on #278
Agreed, the original thought was data for teams within the same company, but I would like to expand the permissions to make it more it an easier option for consultants.

[2017-05-16 01:51] a1ec commented on #278
@devGregA sorry, realised that I do get the appropriate 403 hand slap when attempting to view, that is working as intended :)
I will take a look at the code today.

[2017-05-16 07:49] a1ec commented on #278
@devGregA
There is an issue we've come across we're an unauthorised user can bypass some access controls to view details of a forbidden Product's findings.
Example below: user 'client' is authorised to view Products 1 and 2, Product 3 is admin only. Client is not staff and not super user.

Logged in as 'client':
mysite.com/product/3 - returns 403
mysite.com/product/3/ - returns 404
**mysite.com/pr

[2017-05-16 15:36] devGregA opened #281 "Dedupe / Consolidation Instructions are Missing"

[2017-05-16 18:29] devGregA commented on #278
It looks like this stems from:
https://github.com/OWASP/django-DefectDojo/blob/master/dojo/finding/views.py#L67

@cneill @grendel513  any idea why that extra filter exists?

[2017-05-17 01:25] a1ec commented on #278
@devGregA @cneill @grendel513 Additionally, the /metrics view includes metrics for Products the user is not authorised for, which is related, unexpected behaviour IMHO. Should I open a separate issue for that?

[2017-05-18 00:18] bertonjulian opened #282 "Incorrect API documentation"
Hey guys,

The documentation when navigating to /api/v1/doc/ seems to be incorrect in quite a few places making it difficult to interact with. One example (image below) is when looking at the importscan endpoint description, it mentions that the engagement parameter is optional (which it isn't) and gives the example value of "hello world". However it expects a uri to an engagement. The file parame

[2017-05-18 16:02] grendel513 commented on #278
@devGregA It is not an extra filter.  It is the instantiation of a Filter object OpenFindingFilter.  It determines what query have been chosen by the user on the filter form for that particular listing.  It takes the original queryset "filters" as a starting point and then filters it based on what has been chosen.

I think most of these views need to have a check to make sure the findings requeste

[2017-05-18 17:50] #281 closed

[2017-05-18 17:55] devGregA commented on #109
Closing. Please see my previous comment. Feel free to reopen if you disagree

[2017-05-18 17:55] #109 closed

[2017-05-18 20:31] #183 closed

[2017-05-18 20:38] devGregA commented on #209
@grendel513 confirmed on ./setup.bash install

[2017-05-19 11:57] naumek opened #284 "Socket error processing request"
Hello,
When I'm trying to push engagement to Jira I'm receiving below error:

dojo_1   | [2017-05-19 06:41:59 +0000] [34] [ERROR] Socket error processing request.
dojo_1   | Traceback (most recent call last):
dojo_1   |   File "/django-DefectDojo/venv/local/lib/python2.7/site-packages/gunicorn/workers/sync.py", line 135, in handle
dojo_1   |     self.handle_request(listener, req, client, addr)
doj

[2017-05-20 03:09] devGregA commented on #284
Hi @naumek thank you for your report! I haven't seen this issue before, give me a couple of days to investigate.

[2017-05-20 09:30] TommyJ1994 opened #285 "PDF Reports Won't Generate"
When you try and create a PDF report, it remains on the status 'Running' endlessly.

ASCII-Doc report generation works without any issues.

Running on latest Master.

OS: Ubuntu 16.04

[2017-05-20 15:51] devGregA commented on #285
Hi @TommyJ1994  is celery running http://defectdojo.readthedocs.io/en/latest/features.html#reports? There are a couple additional steps for reports. In the root directory of the project there is  reports.sh script. Running  `sudo sh reports.sh` will install all the linux package dependencies. Next `pip install pdfkit'. Change the WKHMTL path in `dojo/settings` to the result of  `which wkhmtltopdf`

[2017-05-20 16:44] TommyJ1994 commented on #285
Working now Thanks.

[2017-05-20 16:44] #285 closed

[2017-05-21 00:32] devGregA commented on #282
@grendel513 do we know where this is generated from?

[2017-05-21 00:49] grendel513 commented on #282
django-tastypie generates all the documentation.

On Sat, May 20, 2017 at 7:32 PM, Greg Anderson <notifications@github.com>
wrote:

[2017-05-22 15:48] naumek commented on #284
Hello,
I think it might be connected to report engine. Looks like I'm unable to create a pdf report. Here is a output:

dojo_1   | [2017-05-22 10:45:54,858: INFO/MainProcess] Received task: dojo.tasks.async_custom_pdf_report[6a970bac-83d6-4fe5-8740-117c5362e9a8]
dojo_1   | [2017-05-22 10:45:55,006: ERROR/MainProcess] Task dojo.tasks.async_custom_pdf_report[6a970bac-83d6-4fe5-8740-117c5362e9a8] rai

[2017-05-23 14:45] #249 closed

[2017-05-23 21:28] devGregA commented on #284
@naumek for the second one, you might have an old version of wkhtml. If you're running ubuntu the `reports.sh` script is very helpful please see https://github.com/OWASP/django-DefectDojo/issues/285

[2017-05-23 21:29] devGregA commented on #284
@naumek ah sorry. just saw you're using docker. @aaronweaver is the docker master, but I know he is very busy right now

[2017-05-24 17:45] professorgrumps commented on #183
@devGregA @aaronweaver @grendel513 thanks a bunch for the effort, and sorry for the delay in my response.

For our use case and completeness... we have both a suitable workaround as well as a bit of "might have been holding it wrong" - after updating ZAP, then running our acceptance tests thru it and importing the raw export into DDJ as described above... turns our ZAP is now reporting the FQDN in

[2017-05-24 18:17] professorgrumps opened #288 "Guidance on ENABLE_DEDUPLICATION"
This is more of a general usage question, not sure where the best place to voice it, so here it is :-)
I am trying to use the docker image referenced here:
http://defectdojo.readthedocs.io/en/latest/getting-started.html?highlight=docker

I am trying to start the image with the ENABLE_DEDUPLICATION feature on

I have tried the following:
`docker run -d -p 8999:8000 appsecpipeline/django-defectdojo

[2017-05-25 04:52] a1ec opened #289 "Blank endpoint name entry with Nessus import"
An additional blank endpoint entry is entered into dojo when performing a Nessus import. This endpoint has no text associated and there is no link through which to delete the entry.
A screenshot of the Nessus UI scan results prior to export:

![image](https://cloud.githubusercontent.com/assets/17076802/26436101/68f4ecc0-4157-11e7-94a2-22f9bd6b6783.png)

After the import into dojo:

![image](https:

[2017-05-25 11:26] a1ec commented on #212
@devGregA @grendel513 Interesting you couldn't recreate... this was caused by decorator in dojo/endpoint/views.py:
[code]
IMHO User should not have to be staff to view vulnerable endpoints.
Works as expected after commenting out above decorator on my local version. Is this something that you would consider incorporating into upstream dojo master branch?

[2017-05-25 12:17] grendel513 commented on #212
I think that is a start.  If removing that user staff requirement, then the filter has to make sure the user is authorized for the products that own the endpoints.  Otherwise users will be able to see all endpoints - which is also not correct.

~jay

[2017-05-25 14:16] jordanpotti opened #290 "Veracode Import Doesn't Recognize Mitigation Status"
Issues that are mitigated in Veracode aren't recognized by DefectDojo. They import and show up as not mitigated. The workaround is to go back into each one and select "False Positive".

[2017-05-25 20:18] devGregA commented on #290
Hi @jordanpotti could you provide a sample scan so I can correct this?

[2017-05-25 20:19] devGregA commented on #288
Hi @professorgrumps glad to hear things worked out with ZAP! Aaron is definitely the docker expert. I will look into this though.

[2017-05-25 20:33] devGregA opened #291 "Docker error with fixture"
`docker run -it -p 8000:8000 aweaver/django-defectdojo bash -c "export LOAD_SAMPLE_DATA=True && bash /django-DefectDojo/docker/docker-startup.bash"`

django.db.utils.IntegrityError: Problem installing fixture '/django-DefectDojo/docker/sample_data/initial_dojo_data.json': Could not load contenttypes.ContentType(pk=11): UNIQUE constraint failed: django_content_type.app_label, django_content_type.mo

[2017-05-26 08:55] naumek commented on #284
@devGregA  wkhtml - that was first thing on my mind - I'm using latest version.

[2017-05-30 13:30] jordanpotti commented on #290
I am working on getting a sanitary scan for you to test with. I have however just issued a pull request with added support to fix this problem.

[2017-05-31 02:14] vidhan13j07 opened #293 "Links in the README file are not working"
Links in the README file under [Getting Started](
https://github.com/vidhan13j07/django-DefectDojo#getting-started) section  such as **about**, **getting starting guide** and **workflows** are not working.

[2017-05-31 09:24] naumek opened #295 "Bulk actions on Products, Engagements and Findings"
Hello,
is it possible to add Bulk Edit option for Products and Engagements (mostly bulk remove)?

[2017-05-31 18:53] jordanpotti commented on #290
This was resolved with my last pull.

[2017-05-31 18:53] #290 closed

[2017-06-01 04:21] #293 closed

[2017-06-01 19:18] professorgrumps commented on #288
thanks @devGregA for the previous assistance! any other help with the docker image would be appreciated, as you mentioned, gently mentioning @aaronweaver.

[2017-06-01 19:46] devGregA commented on #288
Hi @professorgrumps is the regular install a viable option by chance?

[2017-06-05 22:28] devGregA commented on #288
Or what about using the attach command?

[2017-06-06 04:17] a1ec opened #298 "PDF Report Cover Generation failure behind nginx"
I've set up nginx reverse proxy with dojo so that users require client-side certificates and the site is not open to the world, reducing chances of a compromise in case of a vulnerability with dojo / django.

Currently generating a cover for PDF reports calls URL:
https://myserver/reports/cover?title=Title&subtitle=Subtitle&info=Informacion

This fails with message
IOError: wkhtmltopdf reported an

[2017-06-06 17:09] StephenNickle opened #299 "User, Superuser, Staff Permissions Question"
Hello All,

I'm unsure what the different user types are intended to be able to access and how DefectDojo is intended to be setup with multiple users having access to the same products. In my instance of DefectDojo, normal active users and superusers seem to have the same access. They each only have access to view the products on which they are authorized. They are not able to view or create engag

[2017-06-07 05:11] devGregA commented on #299
Hi @StephenNickle! Thanks for your question. Staff users are typically engineers / testers. They have access to and can edit all products, engagements, and findings. Authorized users are typically people external to the security team that want to view the details for a specific product. Authorized users can also see the general metrics. Super users can see the metrics on all engineers. If this doe

[2017-06-07 14:39] devGregA commented on #288
Closing due to no response.

[2017-06-07 14:39] #288 closed

[2017-06-07 14:42] devGregA commented on #284
@naumek did you ever get this resolved? It sounded like from your email that you were pushing issues?

[2017-06-07 14:46] naumek commented on #284
Still fighting with it....

[2017-06-07 19:09] StephenNickle commented on #299
@devGregA Thank you for your quick response. Having engineers/testers as staff makes sense. My only concern is I would prefer not to give all our staff users access to the Users tab where they can make changes to our other user's accounts. Is there a way to allow a user to have all the staff access for engagements, tests, etc. without giving them access to the users tab? Thanks again for your help

[2017-06-07 19:17] devGregA commented on #299
Hi @StephenNickle, ah gotcha. So the user tab is a little misleading. While staff have access to it and can set the fields, the users do not receive passwords until a super user goes to /admin. That user tab is for adding place holders for contact info. However, if a super user added a password for a user, a staff user could elevate the privileges of a user. I'll add a fix to my backlog, but it co

[2017-06-07 19:18] devGregA commented on #299
Elevating to a bug for tracking.

[2017-06-07 22:41] StephenNickle commented on #299
@devGregA That helps clear it up for me. Thank you for your help.

[2017-06-10 23:55] #122 closed

[2017-06-12 02:47] #250 closed

[2017-06-13 01:50] jpbowie commented on #65
I've noticed that over the past few months I have been doing a lot of copy and paste from existing findings to imported findings (i.e. impact, mitigation, etc.) so I thought I'd take a look at this.  The proof-of-concept I have so far allows you to select an "Apply Template to Finding" from the menu options on the finding page, you can then search and select a template to apply, the next step prov

[2017-06-13 15:23] professorgrumps commented on #288
@devGregA sorry for the delay - yeah, this can be closed.
We're going to attempt a real install and see if we have a similar issue
thanks!

[2017-06-15 17:58] TommyJ1994 opened #303 "Error on Server Start"
Hit this issue when starting the server using ` python manage.py runserver`. The app was working fine before updating to the latest master.

[code]

[2017-06-18 04:22] xandfury commented on #125
Use an ORM such as SQLAlchemy instead of MySQL. This would eliminate the need of maintaining separate support to various DBs

[2017-06-23 21:42] grendel513 commented on #303
@TommyJ1994 - I could also not replicate the issue.  I tried it with both an existing install and a fresh install and they both worked.  @devGregA suggestion to make sure you update all dependencies should resolve this.

To address the watson issue specifically you can check out https://github.com/etianen/django-watson/blob/master/CHANGELOG.markdown#120---03122015 - we have moved to this new impor

[2017-06-23 21:42] #303 closed

[2017-06-23 22:21] grendel513 commented on #295
@naumek - thanks for reaching out.  Bulk delete functionality is already available using the Django admin interface.  I don't believe it is necessary to duplicate those efforts within DefectDojo.

We did however, some time ago, add the ability to bulk edit some attributes of a Finding.  You can see that functionality in the view test page:

![screen shot 2017-06-23 at 5 20 12 pm](https://user-imag

[2017-06-23 22:21] #295 closed

[2017-06-23 22:23] grendel513 commented on #289
@a1ec - thanks for letting us know!  Any way you can provide us with a sample Nessus report you are using? I want to make sure I am using the same test file you are when looking into this.

[2017-06-23 23:36] grendel513 commented on #201
@devGregA @aaronweaver @a1ec - I found the issue and believe I have fixed it with pull request #305 - @a1ec can you please check once that pull request is merged?  You will need to update to Django 1.11 - see docs here: https://defectdojo.readthedocs.io/en/latest/upgrading.html#upgrading-to-django-1-11

[2017-06-23 23:41] grendel513 commented on #174
@aaronweaver @devGregA - do you think it would be better if the add new finding form in this process asks you what active Test to add it to and if no Tests exists then it asks you what to name the engagement and test?  I think i will have time to tackle this one this week.

[2017-06-24 01:09] #212 closed

[2017-06-24 01:12] devGregA commented on #174
@grendel513 was going to use this issue as a training issue for the students that will be helping with the Dojo in July  if that is alright with you :), I will go through and label such issues as 'code sprint' so we don't duplicate efforts

[2017-06-24 01:15] devGregA commented on #209
@grendel513 this would be a great one if you have bandwidth :)

[2017-06-27 20:19] patriknordlen opened #306 "Error when generating report: object of type 'ReportFindingFilter' has no len()"
Just installed defectdojo for the first time and trying to get things up and running. I've gone through all the prerequisite steps for getting reports working at http://defectdojo.readthedocs.io/en/latest/features.html#reports but when trying to generate a report I get this:

[code]

[2017-06-27 21:00] devGregA commented on #306
Hi @patriknordlen sorry about that! confirmed. Escalating to a bug. This appears to be from the Django 1.11 changes. I am supposed to be moving Pearson to 1.11 tomorrow so if you can sit tight for 24 hours I should have this fixed. If not cloning from the commit below will bring you back to 1.8 although I would recommend just temporarily running in a virtualenv if you're doing so
https://github.co

[2017-06-27 21:21] devGregA commented on #306
I've narrowed this down to this http://django-filter.readthedocs.io/en/develop/guide/migration.html?highlight=len#queryset-methods-are-no-longer-proxied

[2017-06-27 21:36] devGregA commented on #306
@patriknordlen I believe this is fixed. Please perform a `git pull`. Feel free to reopen if it is not fixed for you.

[2017-06-27 21:36] #306 closed

[2017-06-28 15:01] StephenNickle opened #307 "Question: Metrics for Findings per Product Engagement"
Hi all,
Is it currently possible to view metrics for the number of findings for each severity broken down for each engagement of a product type? For example, let's say I create a new engagement each quarter to scan application X. During that engagement, I run multiple tests on X and include them in the engagement. I report the findings and close the engagement when it is complete. The findings are

[2017-06-28 18:50] devGregA commented on #307
Hi @StephenNickle great question! Yes, there is an icon in the top right for both engagements and products. Please see the screen shot below

<img width="1262" alt="screen shot 2017-06-28 at 1 40 12 pm" src="https://user-images.githubusercontent.com/4741312/27654786-b299f78c-5c08-11e7-9632-e6680fdda122.png">

[2017-06-28 18:50] #307 closed

[2017-06-28 19:30] patriknordlen commented on #306
Yeah works, thanks! :)

Found another similar bug and a bug that was introduced by the changes in the last commit - will issue a PR with fixes shortly.

[2017-06-28 19:45] devGregA commented on #306
oh no :( feel free to shoot them to me if you want me to investigate. This upgrade has been uh... fun 😂

[2017-06-29 09:41] no-sec-marko opened #310 "No module named util (Django 1.11.2)"
Hi,

I setup a clean install of the defect dojo using the ./setup.bash (master branch) on the following system:

If i want to delete an exisiting test under  _/Home / Active Engagements / 1 / Engagement: This Engagement_ the application returns an ImportError "No module named util" based on the _django.contrib.admin.util_ import in line 117 in /dojo/test/views.py:
`117     from django.contrib.admi

[2017-06-29 21:40] no-sec-marko opened #311 "Images not available in debug mode"
Hi,

I setup a clean install of the defect dojo using the ./setup.bash (master branch) on the following system:

After uploading new images in a test, the files are no longer available (http 404). The error relies on the update to django 1.11.x  which remove the media root in debug mode in the _dojo/urls.py_: #250

Following code change will make the function available again.
dojo/urls.py
[code]

[2017-06-29 23:08] devGregA commented on #310
Confirmed, working on this now.

[2017-06-29 23:11] devGregA commented on #311
Hi @no-sec-marko, since you've already figured out the fix would you like to submit the PR so you'll get credit for it? :)

[2017-06-29 23:21] #310 closed

[2017-06-30 14:14] patriknordlen commented on #215
Meta question that's possibly OT here, so bear with me - what implications do the labels here have? Does "Code Sprint" mean this is part of an upcoming spring with assigned developers who will work on this? I'm interested in trying to tackle this but if someone is already looking at it it's better if I do something else :)

[2017-06-30 23:35] devGregA commented on #215
Hi @patriknordlen, 'swag rewards' means you get some Dojo swag when we do the next order (shirt and stickers). '1.2 Release' are issues we're hoping to complete before AppSec USA.  'Code Sprint' refers to the OWASP Code Sprint https://www.owasp.org/index.php/OWASP_Code_Sprint_2017, where students will assist with OWASP projects. Feel free to take this one though :). There is plenty of issues :joy,

[2017-06-30 23:37] devGregA opened #312 "complete a write-up on what each label means"

[2017-07-01 05:51] patriknordlen commented on #215
Thanks for the info! I got something working in my fork that's build pretty much the way you're suggesting, just finishing up and will create a PR... :)

[2017-07-02 04:39] #209 closed

[2017-07-03 13:16] patriknordlen commented on #237
I have a working prototype for this. Switch between engagements/tests for the calendar as well as filtering calendar by lead and showing info about who's the lead for the project. Will issue a PR when/if other current PR is accepted as some of the code relies on that. :)

[2017-07-03 20:47] grendel513 commented on #216
@aaronweaver @devGregA this is dangerous since all other models are essentially a child of product type.  Any product that is under that product type, any engagement under that product, any test under that engagement, any finding, etc will all also be deleted.  Is this what you intend?

[2017-07-03 21:22] devGregA commented on #216
@grendel513 I **think** @aaronweaver is referring to when issues are pushed to JIRA via Dojo. If a mistake is made, there is no way to delete the JIRA issue

[2017-07-03 21:24] devGregA commented on #237
@patriknordlen awesome stuff! After we get all your stuff merged I have a fork that adds leads to tests which I think should be helpful. My one issue is that it makes the 'active engagements' page look a little cluttered. Once we get this in it would be great to get your input :)

[2017-07-03 22:14] patriknordlen commented on #228
I worked on this tonight and have notification settings and slack integration working. Next up are mail and docs, as well as adding support for notifications for more events.

[2017-07-03 23:07] a1ec commented on #289
G'day Jay, sorry I don't have it handy but I'll try and dig it up.
I'm confident that if you import a quick scan using Nessus Home on a private network with a couple of hosts, the issue may appear.

[2017-07-04 18:54] devGregA commented on #284
@naumek, I'm sorry but I have been unable to reproduce this issue. Here are the other things I'm thinking that might help:
1. Running Dojo on Ubuntu 16.04
2. pulling the latest code
3. Use reports.sh to pull the latest wkhtmltopdf
4. ensure the wkhtmltopdf path in settings points to the output of 'which wkhtmltopdf'

[2017-07-04 19:00] devGregA commented on #284
It also looks like you're using gunicorn? I would recommend uwsgi

[2017-07-05 22:51] devEricA commented on #299
Hi @StephenNickle , I have a fix for this, I am also working on #174. I will submit the fix for this issue with the PR for #174 .

[2017-07-05 22:57] patriknordlen commented on #218
I have a working prototype for this, it essentially creates informational findings for each open port. Issuing a PR shortly.

[2017-07-07 16:26] #311 closed

[2017-07-07 16:40] #215 closed

[2017-07-07 20:12] devGregA opened #316 "Upgrade System Settings to Require SuperUser Permissions"

[2017-07-08 01:02] devGregA commented on #289
thanks @a1ec will check it out first thing next week.

[2017-07-11 05:15] a1ec opened #317 "django tastypie REST query filtering based on authorised user"
I have added EndpointResource to `dojo/api.py`:

    class EndpointResource(BaseModelResource):
        class Meta:
            queryset = Endpoint.objects.all()
            resource_name = 'endpoints'
            fields = ['product', 'protocol', 'host', 'path', 'query', 'fragment']

            list_allowed_methods = ['get']
            detail_allowed_methods = ['get']
            include_resourc

[2017-07-11 22:39] #312 closed

[2017-07-11 22:41] #139 closed

[2017-07-11 22:49] devGregA commented on #284
closing due to no repsonse

[2017-07-11 22:49] #284 closed

[2017-07-12 02:35] devGregA opened #320 "JIRA settings in product/views.py need to be updated."

[2017-07-12 02:38] #174 closed

[2017-07-12 02:38] #299 closed

[2017-07-12 02:39] #316 closed

[2017-07-12 03:33] a1ec commented on #317
Using the code at the link
https://github.com/OWASP/django-DefectDojo/blob/master/dojo/finding/views.py#L68
as a guide, the following method was added to class EndpointResource:

    def get_object_list(self, request):
        return super(EndpointResource, self).get_object_list(request).filter(product__authorized_users__in=[request.user])

It performs as I described but interested to get feedback

[2017-07-12 13:59] bartosznaumowicz-olx opened #322 "Newest version on docker hub"
Hello,
when are you planing to deploy newest version of DD on Docker hub? I believe docker hub serves old one.

Regards
OLX team

[2017-07-14 21:19] devGregA commented on #289
@a1ec this zip appears to be password protected.

[2017-07-15 19:51] devGregA commented on #278
@grendel513 @a1ec I'm going to spend more time testing this, but I do not believe there is a bug.  We do not have a decorator on open findings, but we do apply specific filters based on whether or not a user is authorized. So, a 200 response would be expected. Will do more thorough testing on Monday.

[2017-07-16 01:25] #218 closed

[2017-07-16 01:25] devGregA commented on #218
@bobdob42 done :) courtesy of @patriknordlen

[2017-07-16 17:03] patriknordlen commented on #278
There's a similar issue with the findings widget in the custom report builder. I've solved it in a local branch by adding a custom qs property on the ReportAuthedFindingFilter, but not sure how the filter is supposed to be used in the first place...there's an attempt to do something similar here, I think: https://github.com/OWASP/django-DefectDojo/blob/a5b333d9cd381d4c684444638ceeaf0f0af38417/dojo

[2017-07-17 11:21] NShani opened #325 "superuser not being created when run the ¨setup.bash" script"
When installing the django-DefectDojo under the installation option : [Debian, Ubuntu (16.04.2+) or RHEL-based Install Script](http://defectdojo.readthedocs.io/en/latest/getting-started.html#install-script), it does not prompt you to create a superuser.
However I added following lines as to create superuser in to the setup.bash script and it worked for me.

after [line 144](https://github.com/OWAS

[2017-07-17 19:57] #140 closed

[2017-07-17 19:57] #325 closed

[2017-07-17 19:58] #141 closed

[2017-07-17 21:07] #320 closed

[2017-07-18 07:34] a1ec commented on #289
I'm sorry about that, try the attachment below.
[test-nessus-scan.zip](https://github.com/OWASP/django-DefectDojo/files/1155004/test-nessus-scan.zip)

[2017-07-18 17:56] rkane-nm opened #328 "Error Looking up Findings with API"
Looking up products and engagements though the API works just fine, but for some reason trying to look up findings fails (and yes, we have about 5 or 6 test findings loaded). Been trying to look through it, and have found this info about django-tastypie and using ForeignKeys: https://stackoverflow.com/questions/11399342/reverse-relation-tomanyfield-tastypie (not sure that will help).

Here's the d

[2017-07-18 20:19] grendel513 commented on #289
@a1ec @devGregA - I was able to verify this issue.  I will work on solution asap.

[2017-07-18 23:05] devGregA commented on #289
hey @grendel513 was going to have @devEricA do this one if you haven't already started

[2017-07-18 23:45] grendel513 commented on #289
@devGregA i am all done with it :( - pull request on its way

[2017-07-19 20:07] #289 closed

[2017-07-21 18:14] devGregA commented on #237
@humor4fun please see @patriknordlen's new code

[2017-07-21 18:14] #237 closed

[2017-07-24 13:15] devGregA opened #330 "Stale Settings Issue"
Hi @patriknordlen, I noticed something strange. When a fresh install is done, regardless of the settings, severities use the s-naming convention despite it being disabled. However, if it is toggled (set and unset) it works as expected. Any idea on why this is happening?

[2017-07-24 13:39] devGregA opened #331 "Filter Missing Correct Fields"
Hi @grendel513, I noticed something weird on the metrics page. The filter bar no longer appears in the dropdown. I investigated and discovered it is because we are passing the queryset with `.qs` https://github.com/OWASP/django-DefectDojo/blob/master/dojo/metrics/views.py#L309

So I added another another reference that passed the object without `.qs`, but the filter is now overly verbose
<img widt

[2017-07-24 14:24] devGregA opened #332 "PDF Report Text is not wrapping correctly"
WKHTML frequently leaves trailing characters. This is a known issue since 2015, https://github.com/wkhtmltopdf/wkhtmltopdf/issues/2505 I think we should look into alternatives to replace WKHTML with something like weasyprint
https://github.com/Kozea/WeasyPrint

[2017-07-24 14:32] devGregA commented on #332
I also tried upgrading pdf kit

[2017-07-24 15:26] bartosznaumowicz-olx opened #333 "Default Issue type"
Hello,
Could you please remove the max_length of Jira issue type? Right now is set up to 9 without any reason :)
It would be awesome if you can implement adding custom Jira issue type.

Thanks!

[2017-07-24 15:49] #278 closed

[2017-07-24 15:50] devGregA commented on #278
Found the issue. Believe to be fixed. @patriknordlen please open a second issue to document if necessary :)

[2017-07-26 01:06] redNixon opened #334 "setup.bash breaks systems with MariaDB installed"
For users that are already running MariaDB on Ubuntu 16.04(installed using the [mariaDB repos](https://downloads.mariadb.org/mariadb/repositories/#mirror=ut-austin&distro=Ubuntu&distro_release=xenial--ubuntu_xenial&version=10.2), setup.bash will leave the system in a broken state due it triggering(and auto accepting) the removal of MariaDB-server and attempting to install mysql-server(which fails)

[2017-07-30 21:35] patriknordlen commented on #330
Hi @devGregA, this is due to that numerical severity has actually been the default setting if nothing has been defined in system settings :)

I'm issuing a PR now that changes this.

[2017-07-30 21:49] patriknordlen commented on #278
'My' bug still present, so opening a new issue for that.

[2017-07-30 21:52] patriknordlen opened #336 "Users can view findings for products that they shouldn't have access to"
In the report builder, the 'Findings' widget shows findings from *all* products, regardless of which ones the the user is actually authorised to view information for. Trying to view the finding details will result in a 403, but the finding titles and product names will show in the widget.

[2017-07-31 04:31] #336 closed

[2017-07-31 04:32] #330 closed

[2017-07-31 04:39] devGregA commented on #322
Hi @bartosznaumowicz-olx, unfortunately our primary docker resource hasn't had much availability.
Right now the top priorities for the maintainers are: 1. Fixing the bugs introduced from upgrading to Django 1.11 (in progress) 2. Migrating our CI tests from Docker to Ansible (not started) 3. Switching our API to use Django Rest instead of Tastypie (not started)

Sorry :( I wish I had better news. I

[2017-08-01 15:56] grendel513 commented on #331
@devGregA - I will take a look

[2017-08-01 16:59] devGregA commented on #331
@grendel513 submitted a partial fix

[2017-08-01 18:51] no-sec-marko opened #337 "Empty attribute 'risk_acceptance' in restful findings-API"
Hi,

I setup a clean install of the defect dojo using the ./setup.bash (master branch) on the following system:

and additionally setup near-production conditions using nginx, celery and uwsgi following the guide "https://github.com/OWASP/django-DefectDojo/blob/master/docs/dojo-production.rst"

After adding some findings in a sample test, I want the receive the issues by using the RESTful api "fin

[2017-08-01 19:32] no-sec-marko opened #338 "Missing tags in "Update Finding Template" and "Create Findings from Template"-function"
Hi,

I setup a clean install of the defect dojo using the ./setup.bash (master branch) on the following system:

and additionally setup a near-production conditions using nginx, celery and uwsgi following the guide "https://github.com/OWASP/django-DefectDojo/blob/master/docs/dojo-production.rst".

After adding some finding templates, I noticed that the tagging mechanism in the view is broken. The

[2017-08-02 13:12] mschwarzl opened #339 "Report Generation not working on Ubuntu Server 16.04 / Support"
Hi,

I am using an Ubuntu server 16.04 and not able to generate a custom report.

When I start the task the state keeps on running and does not create a valid PDF.

I used the recommended wkhtlmtopdf.

Is there a possibility to fix this issue?

Cheers,
Martin

[2017-08-02 13:15] patriknordlen commented on #339
Did you run the celery worker? It needs to be running in order for any
reports to be generated.

On 2 Aug 2017 15:12, "mschwarzl" <notifications@github.com> wrote:

[2017-08-02 14:08] mschwarzl commented on #339
Dojo is started using run_dojo.bash - so I think celery is running.

[2017-08-02 15:24] grendel513 commented on #331
@devGregA pull request #340 fixes this issue and other minor quirks.  Additionally it fixes simple metrics which returned an error.

[2017-08-03 17:45] #331 closed

[2017-08-07 22:57] nhajiyani opened #341 "Out of box integration with HPE Fortify on Demand"
Hello,
Recently attended an OWASP local chapter meeting where Defectdojo was presented. Learned that it does not have out of the box integration with HPE Fortify on Demand. I can provide any related assets for this to be able to build this integration and also happy to contribute codewise as well.

[2017-08-09 08:46] asdf344 opened #342 "Error While Uploading Scan Results"
While uploading nessus scan results, HTTP 500 error code is given. Here is the details:

Request Method: | POST
-- | --
http://192.168.33.162:8000/test/14/re_import_scan_results
1.11.4
DoesNotExist
System_Settings matching query does not exist.
/usr/lib/python2.7/site-packages/django/db/models/query.py in get, line 380
/usr/bin/python
2.7.5
['/root/Desktop/django-DefectDojo',  '/usr/lib64/python27

[2017-08-09 09:37] mschwarzl commented on #339
Had a permission problem for the user that started run_dojo.bash

[2017-08-09 09:37] #339 closed

[2017-08-17 13:57] devGregA commented on #342
Hi @asdf344 I've fixed this issue with my last PR. Please feel free to reopen if it is not fixed after performing a `git pull`

[2017-08-17 13:57] #342 closed

[2017-08-17 18:14] devGregA commented on #334
Hi @redNixon! Thanks for brining this to our attention. This is definitely something we hadn't thought of previously. My plan is to remove the `y`'s so users will at least get the same level of warning they would get out of their OS. If you think there is a better option please let me know!

[2017-08-17 18:16] devGregA commented on #334
PR merged

[2017-08-17 18:16] #334 closed

[2017-08-21 13:46] S-Schettler opened #346 "Question: Are there any plans for the "Additional Information/Metadata"-Fields in the Products?"
I'm just playing around with DefectDojo v. 1.1.4 and have realized, that the fields of the Product overview don't fit my needs.
So I have added some fields at Additional Information like "Customer Number" and some other.  When I create a new Product, I have to add all these fields manually, so I just looked at the database and found the table: "custom_field_customfield".
In this table there are ro

[2017-08-21 17:47] devGregA commented on #346
Hi @S-Schettler there is currently a 'metadata' field attached to product that I **think** would work for your use case. If not, you could fork the repo, change the models.py file to meet your needs and then just pull changes from the master repo into your fork.  Hope this helps! Let me know if you have any other questions.

[2017-08-21 17:47] #346 closed

[2017-08-31 14:31] rkane-nm opened #350 "Fresh install - All PDF report generation causing EncodeErrors"
Fresh install done on a new server last week (code base from maybe 2 weeks ago). Any PDF report being generated causes an EncodeError:

EncodeError at /product/1/report
<Product: NewTest> is not JSON serializable

Celery error is included in the stack trace, but celery is up and running, same as a test box I'd set up a month and a half ago (reports work there). Wkhtmltopdf is also set up and runni

[2017-08-31 15:01] devGregA commented on #350
Hi @rkane-nm let me see If I can reproduce. Creating a new VM now.

[2017-08-31 19:14] devGregA commented on #350
@rkane-nm if you installed in the last 3 days, I found and corrected a bug that would be present. Please perform a `git pull` and rerun `./setup.bash`. If you didn't install in the last 3 days, please let me know and i will keep investigating.

[2017-09-01 00:54] njfox commented on #65
Hey @jpbowie have you made any progress on this? I am interested in adding this functionality as well if there's anything I can do to help out.

[2017-09-01 01:03] jpbowie commented on #65
The code is written, I'm just working through some issues integrating it with all of the recent changes to DefectDojo.

[2017-09-03 19:17] devGregA commented on #332
Things I have tried to fixing this: setting an actual width like the issues suggests on the html template, tried both word-wrap: break-word; and word-wrap: normal; neither had much effect. I know this issue has been present in at least since our django 1.11 upgrade

[2017-09-03 19:18] devGregA commented on #298
@a1ec I believe this PR will fix this issue https://github.com/OWASP/django-DefectDojo/pull/353

[2017-09-05 18:21] devGregA commented on #220
Fixed by https://github.com/OWASP/django-DefectDojo/pull/318

[2017-09-05 18:21] #220 closed

[2017-09-05 18:22] devGregA commented on #298
#353 merged please feel free to reopen if it isn't fixed for you

[2017-09-05 18:22] #298 closed

[2017-09-05 18:23] devGregA opened #355 "WYSIWYG in Report Builder isn't working again"

[2017-09-07 15:12] #125 closed

[2017-09-07 15:12] devGregA commented on #125
Dojo now supports postgres, which was the main ask for the community. closing due to limited resources

[2017-09-07 20:40] #228 closed

[2017-09-08 01:15] njfox opened #357 "Custom Report Generation--Hostname Error"
PR #353 was supposed to fix this issue but I've noticed with further testing it does not when the local Defect Dojo server does not resolve the hostname being parsed in the client Host HTTP header.

I've done some digging and I'm having trouble coming up with a robust way to solve this problem. The error below indicates that a request from 127.0.0.1 (wkhtmltopdf?) is attempting to resolve the exte

[2017-09-11 13:08] NShani opened #358 "Cannot import Qualys xml reports."
Hi,

I setup the defect dojo using the ./setup.bash (master branch) on Ubuntu 16.04.

When I am trying to import a Qualys XML report, it is not parsing the XML report. It shows the alert saying "Qualys Scan processed, a total of 0 findings were processed ".

[2017-09-18 16:29] reedloden opened #359 "HackerOne support"
Would be great to be able to import reports from a company's HackerOne program into DD.

There's a full API available at https://api.hackerone.com/, including a Python client (https://github.com/uber-common/h1-python).

[2017-09-20 12:56] NShani opened #360 "Error Import Scan Results with API"
Hi,

I have set up the defect dojo using the ./setup.bash (master branch) on Ubuntu 16.04.

I tried to import a scan report using the API. But it shows the following error.

`Response Body

{
  "error_message": "global name 'Resolver404' is not defined",
  "traceback": "Traceback (most recent call last):\n\n  File \"/usr/local/lib/python2.7/dist-packages/tastypie/resources.py\", line 221, in wrapp

[2017-09-27 13:03] juhakivekas opened #364 "Exception on DependencyCheck XML report upload"
After running a DependencyCheck scan on JuiceShop during a DevSecOps hackathon, trying to upload the results to Defect Dojo failed with an exception and stacktrace. Something in the parser breaks. Unfortunately we didn't have time to debug this any futher.

Tested with commit `6377d9cd682c394f80c5f88c9b9b1c6d2b9499fb`
The input used is this: https://pastebin.com/nLQWmYJ7

[code]

[2017-09-27 14:01] devGregA commented on #364
hi @juhakivekas could you share the scan file please?

[2017-09-27 15:10] juhakivekas commented on #364
The XML report is behind this link https://pastebin.com/nLQWmYJ7. If you are referring to another scan file, let me know

[2017-09-27 15:20] juhakivekas commented on #364
Actually, this is the output of the the DependencyCheck Jenkins plugin, not the stock OWASP DependencyCheck. Turns out that looks more like a NSP report.

[2017-09-27 16:25] juhakivekas commented on #364
Apparently the xml namespace has changed since the parser was written. The namespaces seem to be quite different too.

[code]
[code]

[2017-09-27 19:09] devGregA opened #365 "Scan Integration 2.0"
Scan Integration 2.0 is focused on shifting our integration with uploads to APIs by extending the scan class. The biggest challenge around this feature will be the modeling. We will extend the 'Scan' model to support vuln scanners / tools.  We should be  able to get results, specify settings, and schedule scans (maybe even spin up instances for open-source tools).

[2017-09-27 19:09] devGregA opened #366 "Smart Upload"
This feature is to add a 'smart upload function' from the main menu that will take a scan and attempt to assign findings to the correct product. If there is an unrecognized endpoint, the user should be prompted to choose which product it should be assigned to. A new test / engagement should be created around 'smart upload' for each scan that is uploaded in this fashion.

[2017-09-27 19:10] devGregA opened #367 "AppScan Support"
Tanya Janca has agreed to supply a sample AppScan File to add AppScan Integration

[2017-09-27 19:10] devGregA opened #368 "replace API"
TastyPi's integration makes our API have crazy paths to submit data. Some of the docs are also being generated incorrectly. I suggest we replace our API with Django Rest: http://www.django-rest-framework.org/

[2017-09-27 19:11] devGregA opened #369 "replace pdf gen"

[2017-09-27 19:11] devGregA opened #370 "Refactor UI"
Some parts of the UI are confusing i.e. am I in a test or an engagement? We should re-evaluate our UI style choices as a whole.

[2017-09-27 19:12] devGregA opened #371 "Fix Travis CI"

[2017-10-02 19:55] devGregA opened #372 "Decorator & Auth Fixes"
Right now, dojo only has a couple different auth roles. We should change auth and decorators to have an matrix style access system changeable from the user's page or django admin to give better granularity around access and make dojo more consultant friendly.

[2017-10-05 11:24] Horst88 opened #373 "Problem during Installation"
Hello,

I encouter the following problem trying to install defect dojo on ubuntu 17.04. I use the setup.bash script to install. During the installation the following error occurs, which I have not been able to fix.

_Collecting Django==1.11.2 (from DefectDojo==1.2.0)
  Using cached Django-1.11.2-py2.py3-none-any.whl
Collecting MySQL-python (from DefectDojo==1.2.0)
  Using cached MySQL-python-1.2.5

[2017-10-05 11:29] Horst88 commented on #373
Is the setup.bash script compatible with python 3.* or are there constraints on the python version?

[2017-10-06 01:43] devGregA commented on #373
Hi @Horst88. Right now we only support python 2.7. Python 3 is under active development and with a large code base we want to wait until the deprecation waves are over. Even if you want to use python3 as your default option, virtual environments are great / easy option for running 2.7

https://stackoverflow.com/questions/1534210/use-different-python-version-with-virtualenv
http://docs.python-guide

[2017-10-06 06:33] Horst88 opened #374 "Login-credentials for Demo"
Hi,

the credentials admin, administrator do not work on https://defectdojo.pythonanywhere.com/login

Regards

[2017-10-06 15:00] devGregA commented on #374
Thanks @Horst88 someone must have changed it. I'll fix this shortly

[2017-10-09 05:08] #373 closed

[2017-10-09 19:18] s-rohil commented on #358
I am getting the same issue. Any support on the above issue?

[2017-10-10 21:01] devGregA commented on #358
Hi @NShani and @s-rohil, right now we're just short on resources. @NShani greatly appreciate you sending over a sample scan for debugging. That significantly increases the priority in the queue. However there isn't an ETA yet.

[2017-10-11 00:07] a1ec commented on #79
For those encountering this issue, below is a summary of possible solutions with celery, wkhtmltopdf and firewall rules:

[code]

[code]

[code]

Note also that your firewall rules need to allow the webserver to access itself on its (public) IP, as the cover is generated at a URL like:
`https://yourdojoserver.com/reports/cover?info=c&subtitle=b&title=a`

[2017-10-11 17:31] devGregA opened #376 "Replace wkhtmltopdf"
We have had a number of issues with pdfkit and wkhtmltopdf (which generate our reports). We should evaluate alternatives such as... I forgot 😂 will check my notes. I think I have this documented in another issue.

[2017-10-17 11:26] NShani commented on #358
Hi @devGregA ,

As I understand this is because Qualys have two types of scans, IP scanning and web application scanning. I was trying to parse a web application scan report. The existing parser is for IP scanning. Thus web application scan report would not parse through the existing parser. I wrote a parser for Qualys web application. It has sent with the this [PR #361 ](https://github.com/OWASP/