[2021-03-13 21:11] damiencarol commented on #4043
You made my day!
FYI you can send me the report on PM in Slack for privacy matters.

[2021-03-14 07:20] aditya28sarin commented on #4052
can you assign me this issue?

[2021-03-15 09:28] madchap opened #4058 "Changing testing lead on engagement is not working"
**Bug description**
Cannot edit and save an engagement with a `Testing lead` that's not `admin` or possibly another staff/superuser user.

Going through the API works.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a powerless user
2. Go to an engagement and edit it
3. Try to assign the testing lead role to powerless user (even if he's authz to the product or type, does not mat

[2021-03-15 17:50] valentijnscholten commented on #4058
FWIW both cases (if I understand them correctly) work find for me on latest `dev`.

[2021-03-16 10:04] #3991 closed

[2021-03-16 10:04] valentijnscholten commented on #3991
fix in dev -> 1.14.0

[2021-03-16 12:50] madchap opened #4069 "Fetching findings with staff or regular user does not yield the same results"
**Bug description**
If I query the /findings endpoints for a `test`, I get different `count` depending on whether I am a staff/superuser or just a regular user authorized to the product. The actual responses are nearly identical, but even with http://www.jsondiff.com it's hard to tell. For sure, there is not 10380 findings count, there is only a few lines difference which I guess could be explaine

[2021-03-16 12:57] valentijnscholten commented on #4069
So the findings returned are correct, but the count is wrong for non admin users.

[2021-03-16 13:21] madchap opened #4071 "Expanding the similar findings, the filter always appear and act like the white arrow"
**Bug description**

Expanding the similar findings, the filter always appear and act like the white arrow.

You cannot hide the filters. They should probably not be opened by default.

![image](https://user-images.githubusercontent.com/5468769/111315667-e57ca400-8662-11eb-8415-b26a451fa7dd.png)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll do

[2021-03-16 15:51] slicingmelon opened #4073 "Defective Azure AD Tenant Integration - some users are logging in as the admin user"
Hello guys,

I have dojo 1.12.1 running with Azure Active Directory Tenant configured. A strange behavior is happening that I cannot debug. Assuming AD group **Group_One** was created with five members, two of us, when logging into dojo using azure integration, we are logged in straight as dojo admin with the email admin@defectdojo.local.

![image](https://user-images.githubusercontent.com/5775022

[2021-03-16 15:54] valentijnscholten commented on #4069
@madchap what are the permissions of this user, i.e. authorized products / authorized product types. it looks like it might be occurring when a user is assigned permissions to a product type.

[2021-03-16 17:06] madchap commented on #4069
Yes, the user is assigned a product type and no product directly.

[2021-03-16 18:55] valentijnscholten commented on #4073
Can you share your config around azure ad integration?

[2021-03-16 18:57] valentijnscholten commented on #4071
what commit are you on as I can't reproduce this on latest `dev`

[2021-03-16 19:51] #4052 closed

[2021-03-16 19:51] valentijnscholten commented on #3981
We use django as framework, which supplies authentication. So lots of options there and lots of blogs etc on how to configure them.

[2021-03-16 19:52] #3965 closed

[2021-03-16 19:53] valentijnscholten commented on #3965
fixed in dev/1.14.0

[2021-03-16 19:54] #3258 closed

[2021-03-17 07:22] slicingmelon commented on #4073
Hi @valentijnscholten

Yes, here it is:
![image](https://user-images.githubusercontent.com/57750222/111428528-4c9c6600-8700-11eb-8229-4332bcc1b7c1.png)

Some other settings:
[code]

Please let me know what other settings would you like to see in particular.

[2021-03-17 08:38] valentijnscholten commented on #3970
fixed in dev/1.14.0

[2021-03-17 08:38] #3970 closed

[2021-03-17 11:54] #4069 closed

[2021-03-17 17:55] damiencarol commented on #4043
after some discussions on Slack with @Gby56 , I decided to finish the PR #3967 that fixes this issue.

[2021-03-17 19:13] StefanFl opened #4077 "cleanup 2.0: Remove code to produce and store PDF reports"
PDF reports are not supported anymore for more than a year now, for a good reason. Users can print the HTML report via their browser. All the existing code that supports generating and storing PDF reports shall be removed.

[2021-03-17 21:26] valentijnscholten commented on #4073
I am not using Azure AD integration myself, but Defect Dojo is just using `social-auth-app-django`.
It seems poorly documented, but it seems that the config below triggers the module to get extra permissions from the MS graph:

[code]

Not sure what that means or what that does, but maybe because of some properties of your user account it thinks you're the admin? or an admin?

Better to ask at `so

[2021-03-17 21:29] valentijnscholten commented on #4073
Or maybe something is going on with retrieving the social id for users: https://github.com/DefectDojo/django-DefectDojo/blob/d2b94a52696dbf0b2696018b24a2407bb911a1e4/dojo/pipeline.py#L12

@Maffooch do you know how this works?

[2021-03-17 21:51] Maffooch commented on #4073
I wrote that function for an OKTA backend a couple years ago before is was officially supported by `social-core`, but it has grown since then to be used by the Google and Azure backends. My reasoning for it with OKTA was that user emails would be mapped correctly, but would also have a UUID appended. This forced a new account each time a person logged in.

Changes here were by @dougmorato in #1309

[2021-03-17 22:25] dougmorato commented on #4073
Users should be imported/created  as regular users ( after the change from @madchap  on https://github.com/DefectDojo/django-DefectDojo/commit/a0b1e669212b99b8f150315c7be37326b2be2ba6#diff-756c78208a4432d915ca32889680a6069043af0602d96b4afb9b3a40449b4dfc )

Check if you dojo/pipeline.py   user.is_staff = False like below

https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/pipeline.py#

[2021-03-17 22:28] valentijnscholten commented on #4073
Thanks. The symptom seen is that the user is logged in as 'admin'. So not logged in as itself, but as a completely different user (with username admin). Pretty sure it's not in our code.

[2021-03-17 22:28] dougmorato commented on #4073
alternatively, go to the dojo_app/admin , look for "social core" or something in that admin backend, you should be able to delete any UUID mappings associated with the admin account

[2021-03-18 13:00] damiencarol commented on #3447
Hello @whitespots long time no see..
Finally the #4025 was merged in `dev` branch. This PR implements de-duplication and add the feature you requested (request+response details in the findings)
This will be part of `0.14.0` (release at the end of march)

[2021-03-18 13:27] whitespots commented on #3447
Ah, it was just ok and we met no problems with current integration :)

[2021-03-18 13:29] damiencarol commented on #3447
awesome. Are you on release `1.13.0` ?

[2021-03-18 13:32] whitespots commented on #3447
Yes
There are another more critical problems with mobsf and some 500 in interface :)

[2021-03-18 13:34] slicingmelon commented on #4073
@dougmorato Thank you, I've found two azure UUID mapped to admin indeed. I deleted them and now we are able to log in as normal users.

I think this is a legit bug and perhaps it should be addressed by a proper fix, not just a workaround.

[2021-03-18 14:01] AliElKhatteb commented on #3981
i did exactly what u said and i got this error when i do docker-compose up

ERROR: for chs-defect-dojo_uwsgi_1  Cannot start service uwsgi: OCI runtime create failed: container_linux.go:349: starting container process caused "exec: \"/wait-for-it.sh\": permission denied": unknown

Creating chs-defect-dojo_celerybeat_1   ... error
tainer process caused "exec: \"/wait-for-it.sh\": permission denied"

[2021-03-18 14:29] grachevn opened #4083 "400 error after merging branches"
Hello,
**Bug description**

we're testing DefectDojo integration with Gitlab-CI in our company and I get strange problem with request to DefectDojo.

I use this job for create engagement in DefectDojo in .pre stage of pipeline and it working fine before I accept merge request

[code]

after merging branches i get 400 error in response from DefectDojo until I commit anything in branch. After commit

[2021-03-18 14:45] damiencarol commented on #3447
do we have issues created that follow these problem with mobsf ?

[2021-03-18 14:50] whitespots commented on #3447
.. It is closed.
Need to reopen on the last version
https://github.com/DefectDojo/django-DefectDojo/issues/3134

Guys from mobsf changed the report in last version

[2021-03-18 14:58] damiencarol commented on #3447
arf. I asked them if they can use a standard like SARIF or whatever. It's hard to maintain when they are changing everything all the time.

[2021-03-18 15:06] damiencarol opened #4084 "SARIF parser: limit title column"
**Be informative**
Some data can break the import if the title of some issue are too big in the report file.

**Bug description**
Some SARIF reports break the import command when some title are too big.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Import a SARIF report
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
Findings create

[2021-03-18 15:11] madchap commented on #4058
It seems that the local `admin` user can always save as well as staff (maybe superadmin).

But a regular "active" user with authz to the product, no error nowhere. The edit screen just reloads. I could confirm on the latest dev branch.

The user also is granted "product types" authorization if this matters.

[2021-03-18 15:12] madchap commented on #4058
In the middle of some jira debug, I see this:

[code]

[2021-03-18 15:17] madchap commented on #4058
Adjusted the description.

[2021-03-18 16:28] valentijnscholten commented on #4058
Sounds like the same problem that it's fixed in #4078

[2021-03-18 22:23] valentijnscholten commented on #4083
As said on slack we would need the response message from the API, debug logs from defect dojo, sample report causing the problem etc. There is no direct relationship between merging in gitlab and defect dojo, so probably something unrelated.

[2021-03-18 22:25] valentijnscholten commented on #3981
did you rebuild the containers? the error you are seeing indicates a local permission problem where docker is unable to create containers.

[2021-03-18 22:25] valentijnscholten commented on #4073
Are you able to reproduce it? I'm sure the folks at `social-auth-app-django` are interested in a bug report so they can look at fixing it.

[2021-03-19 08:31] saldam72 opened #4089 "system architecture"
Hello Team,
there is a defectdojo's system architecture document ?

Best,
Sal

[2021-03-19 10:47] grachevn commented on #4083
Hi, Valentijn

Job log:
[code]

NGINX log:
`172.20.0.1 - - [19/Mar/2021:06:05:32 +0000] "POST /api/v2/engagements/ HTTP/1.1" 400 88 "-" "curl/7.74.0" "-"`

DefectDojo logs:
[code]

There is nothing in logs I can see.
I enable DEBUG in settings.dist.py, right?

[2021-03-19 12:12] grachevn commented on #4083
I found problem, it's in ${CI_COMMIT_DESCRIPTION} variable.
First, I use netcat for capture curl request from gitlab. Description field value while we committing to gitlab is "", but after merging branches it value
[code]

and it brakes request to API.

Second, I removed` \"description\": \"${CI_COMMIT_DESCRIPTION}\"` line from pipeline and it start working after merge request.

[2021-03-20 19:23] valentijnscholten commented on #4089
please discuss on slack

[2021-03-20 19:23] #4089 closed

[2021-03-20 19:33] #4083 closed

[2021-03-20 19:33] valentijnscholten commented on #4058
fixed in dev / 1.14.0

[2021-03-20 19:33] #4058 closed

[2021-03-20 19:35] valentijnscholten commented on #4071
ah, so you don't want the filters to open by default. I've seen that people don't understand the similar findings feature and are unaware which filters are applied. so I thought it would be better to open the filters by default. Open to alternatives.

[2021-03-20 21:39] #3997 closed

[2021-03-20 21:53] valentijnscholten commented on #3209
caused by this code in the ProductForm:
[code]

would need some ugly code to reuse the first queryset on the other fields.

[2021-03-20 22:00] valentijnscholten commented on #3157
superseded by #4077

[2021-03-20 22:00] #3157 closed

[2021-03-20 22:06] #3584 closed

[2021-03-21 07:45] damiencarol commented on #3933
@valentijnscholten  after some of our discussions on Slack, I was excepting to switch to a different framework that support OpenAPI 3.0 like maybe [drf-spectacular](https://github.com/tfranzel/drf-spectacular)
(see: https://github.com/axnsan12/drf-yasg#openapi-30-note )
Maybe for our API v3 ?!?

[2021-03-21 07:56] damiencarol opened #4096 "Nikto parser: Support JSON format"
**Scanner Name**
Name of the scanner, brief description of the scanner and link.

**Sample File**
Please attach a sample file and the format of the file (xml, json, csv).

According to this page, SecureCodeBox project need Nikto JSON format support
https://docs.securecodebox.io/docs/hooks/defectdojo
![image](https://user-images.githubusercontent.com/1694940/111897981-520cef80-8a23-11eb-9cec-80424d

[2021-03-21 08:43] valentijnscholten commented on #3933
Good idea, when we have time :-)

[2021-03-21 12:04] AliElKhatteb commented on #3981
this is my dockerfile.django`
# code: language=Dockerfile

# The code for the build image should be identical with the code in
# Dockerfile.nginx to use the caching mechanism of Docker.

# Ref: https://devguide.python.org/#branchstatus
FROM python:3.6.12-slim-buster@sha256:e5259113df5a7c4dae16ad37c2ca53b1cf722e051cfd5f624e7b76aa72389e0c as build
WORKDIR /app
RUN \
  apt-get -y update && \
  apt-ge

[2021-03-21 13:17] AliElKhatteb commented on #3981
the containers worked but i get this error everytime i try to login

uwsgi_1         | WARNING:django_auth_ldap:Caught LDAPError while authenticating example: INVALID_CREDENTIALS({'msgtype': 97, 'msgid': 1, 'result': 49, 'desc': 'Invalid credentials', 'ctrls': [], 'info': '80090308: LdapErr: DSID-0C090453, comment: AcceptSecurityContext error, data 52e, v3839'},)

[2021-03-21 17:03] #3933 closed

[2021-03-22 07:47] saldam72 commented on #3777
would it be possible to change this behavior returning all findings with their status?

[2021-03-22 09:27] dsolanki28 opened #4103 "Support OIDC i.e. Keycloak authentication"
**Is your feature request related to a problem? Please describe**

We are not able to configure keycloak open-id authentication with defectdojo using helm.

**Describe the solution you'd like**

In a similar fashion to that of Google, OKTA, Gitlab as a OAuth2 provider, we expect variables for keycloak open-id provider i.e. DD_SOCIAL_AUTH_KEYCLOAK_*, so that we can use these variables in helm value

[2021-03-22 09:38] dsever commented on #4103
@dsolanki28 you can use extra vars in k8s

https://github.com/DefectDojo/django-DefectDojo/blob/master/helm/defectdojo/values.yaml#L285

[2021-03-22 09:51] dsolanki28 commented on #4103
@dsever thanks for the link. I had used these extra vars for configuring gitlab oauth2 provider. But since, patch for keycloak is missing in settings.dist.py, I believe, there would be no use to provide keycloak variables in extraConfigs.

Refer this issue: https://github.com/DefectDojo/django-DefectDojo/issues/3129.

Let me know if I am missing something.

[2021-03-22 10:02] AliElKhatteb commented on #3981
i think i did my conf right but when i login i get server error 500 and this is the log

 | /usr/local/lib/python3.6/site-packages/jose/backends/cryptography_backend.py:18: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
uwsgi_1         |   from cryptography.utils import int_from_bytes, int_to_bytes
uwsgi_1         | WARNING:django_auth_ldap:'AccountName' w

[2021-03-22 10:06] dsever commented on #4103
Honestly, this is new to me that oidc is supported at all.

Yes env readers are missing

[2021-03-22 10:50] dsolanki28 commented on #4103
Thanks for the information. Actually, our requirement is to have oauth2 rather than saml. Could you give some insight if oidc keycloak can be a part of future improvements ?

[2021-03-22 13:17] saldam72 opened #4104 "Allow call to external API as notification type"
Hello Teams,
have you planned to develop a notification that invokes an API ?

Best,
Sal

[2021-03-22 13:27] zakrush opened #4105 "NodeJS Scan report"
**Scanner Name**
NodeJsScan https://github.com/ajinabraham/njsscan

Hello.
Into documents of DD you have that DD is support NodeJSScan result. https://defectdojo.readthedocs.io/en/latest/integrations.html#node-js-scan

Now I'm testing dd and don't see NodeJS Scan import.
Did you delete nodejsscan integration?

I use 1.13.2 of DD

[2021-03-23 01:16] #4084 closed

[2021-03-23 01:35] damiencarol commented on #4105
@zakrush working on a pull request that is able to import scans from njsscan with SARIF format (https://github.com/DefectDojo/django-DefectDojo/pull/4111).

[2021-03-23 06:14] damiencarol commented on #4104
You mean like a web-hook? We have a feature that is a web-hook.

[2021-03-23 07:13] saldam72 commented on #4104
I've never used a web-hook but it might be fine ... where do I find the documentation?

[2021-03-23 08:30] zakrush commented on #4105
@damiencarol  ok/ Thank you. Wait merge.

[2021-03-23 09:24] valentijnscholten commented on #4104
Please try to make more meaningful summaries/descriptions of you github issues that make it clear what it is that you are requesting.

[2021-03-23 09:24] valentijnscholten commented on #3777
I suggest to create a new github issue or update this one with a clear description of what you want to be implemented.

[2021-03-23 11:06] #3981 closed

[2021-03-23 11:17] pisces-period opened #4112 "Add "Created" Finding field to Findings Views (Open, Closed etc.)"
When I use `SonarQube API Import`  and `SonarQube` test types to import findings into DefectDojo, by default the `Findings` view displays `date` field as the date when the issue was imported to DefectDojo, but the date when the issue was created in the source tool is not displayed.

It is possible to override the date to reflect the date when the issue was created in the source tool, but then you

[2021-03-23 16:15] damiencarol commented on #4112
What you're describing is a bad implementation of the parser that doesn't set the date of the finding with the good value or don't set it at all (the current behavior is to set it to the current date)
To fix that, we must improve how the parser manage the attribute `date` of findings.

[2021-03-24 07:57] saldam72 commented on #4104
Hello Teams,
I have seen here https://defectdojo.readthedocs.io/en/latest/features.html?highlight=notifications#notifications that DefectDojo can inform of different events in a variety of ways. We want to integrate DefectDojo with an internal system via API to notify them of different events such as added test or closed engagement.

@damiencarol told me about web-hooks which might be fine but I h

[2021-03-24 08:46] pisces-period commented on #4112
Hi @damiencarol, thanks for your swift response.

I don't quite see it as a bad implementation of the parser (I should mention that by using DefectDojo APIv2 `/findings/` endpoint I'm able to bypass parsers and send the payload directly, which gives me the opportunity to override the `date` value).

The default behavior is already correct in my assessment. If DefectDojo were to consider the issue

[2021-03-24 08:53] n0t4u opened #4114 "Finding images not working over TLS"
**Bug description**
Hi, I´m new with DefectDojo and I´m testing it to implement it my company. I downloaded and installed DefectDojo using Docker and I´m having problems to view the uploaded images in the findings.
Digging a little bit I have found that these images are being uploaded to the docker container named django-defectdojo_uwsgi_1 to the path /app/media/uploaded_files, but when I try to s

[2021-03-24 09:29] madchap opened #4115 "Swap ptvsd for debugpy, ptvsd deprecated"
As mentioned by @ptrovatelli  at https://owasp.slack.com/archives/C014H3ZV9U6/p1616534386011200

[2021-03-24 10:55] saldam72 commented on #3777
Hello Team,
we want to integrate DefectDojo with an internal system via API that needs to know all the findings of a product (active, not active, false positive & so on). Can you chage the behavior of the API https://cr.rete.poste/api/v2/products/{product_id}/ so that IDs of all findings are returned ?

Best,
Sal

[2021-03-24 11:07] saldam72 commented on #3472
Hello Team,
we have deployed DefectDojo on a kubernetes cluster with ax external MySQL. How can we encript database connection ? How can we encrypt all database (data at rest) ?

Best,
Sal

[2021-03-24 12:03] xanhacks opened #4116 "Jira Integration - Wrong issuetypes"
**DD version : 1.12.1**
**Jira version : 8.5.4**

Hello ! I have an issue when I want to add the Jira configuration to my product.

Here is the error :
[code]

But when I go to `http://jira-url/rest/api/2/project/10000` manually, I get plenty of issue types. So, I don't know why I can't connect Jira and DD.

Have a nice day !

[2021-03-24 13:54] damiencarol commented on #3472
@saldam72 the issues in github are not for support. use our Slack channel please.

[2021-03-24 13:54] #3472 closed

[2021-03-24 18:52] valentijnscholten opened #4118 "sync=True not working"
The `sync=True` introduced in  #4018 is only partly working.

[2021-03-24 18:58] valentijnscholten commented on #4116
This error indicates that with the credentials provided the issuetype `Bug` cannot be found in the meta data from JIRA. Is there such an issue type in that project?

[2021-03-24 19:01] valentijnscholten commented on #4114
I believe this is fixed in the `dev` branch. Could you try that?

[2021-03-24 19:04] valentijnscholten commented on #4112
There are so many fields on the findings that we can't show them all. I think we should look at maybe making it configurable which columns/fields to show. And possibly use the feature from the clientside Datatables() we're using where you can hide/unhide columns.

[2021-03-25 09:03] xanhacks commented on #4116
No matter what issue type I put on DD, it always returns an empty issue type array.
`"issuetypes": []`

However I have many issuetypes created.
![Screenshot_2021-03-25 Screenshot](https://user-images.githubusercontent.com/23367144/112447175-4b4ae900-8d51-11eb-84c7-87fb71bd3acd.png)

[2021-03-25 09:13] saldam72 opened #4119 "authorized user cannot edit finding"
Hello Team,
I have created a TEST product, a TEST_USER (autorized to TEST product) and I have assigned to TEST_USER all view permission + change finding, ad engagement with a test and some findings but TEST_USER cannot edit finding.

I have assigned to TEST_USER also all permission but again TEST_USER cannot edit finding.

Best,
Sal

[2021-03-25 10:09] #4116 closed

[2021-03-25 13:56] valentijnscholten opened #4123 "jira: closing note of finding not sent to JIRA"
When closing a finding in defect dojo via the 'Close finding' menu action the note that is entered is not pushed to JIRA even when 'push_notes' is enabled on the JIRA Project. Config

[2021-03-25 14:49] madchap opened #4125 "Creating tags on findings require superuser rights"
**Bug description**
Using a non-superuser user and wanting to tag findings through, it does not work. It fails with a 403.
`staff` is not needed, but `superuser` is.

A bit bothersome for service accounts :-/

[2021-03-25 14:56] saldam72 commented on #4119
Hello Team,
I have seen on Slack that another user had the same problem and, also because I have seen user_is_authorized method of C:\_LABORATORIO\POC_VULNS_MGMT\django-DefectDojo-1.13.2\dojo\user\helper.py file, I applied his solution consisting in following setting: DD_AUTHORIZED_USERS_ALLOW_CHANGE=True.

I'm doing some test and at the moment the remaining issues are:

- edit product_type: not p

[2021-03-25 15:45] n0t4u commented on #4114
@valentijnscholten I confirm you that the problem is solved.

You have fixed it as I did yesterday. Just one thing to take into account if someone have the same problem. In addition to modify docker-compose.yml file with the volumes, I had to modify nginx_TLS.conf file because nginx didn´t have the media path configured.

[code]

[2021-03-25 16:53] valentijnscholten commented on #4114
Makes sense, could you make a small PR against `dev` to add the media mapping to nginx TLS?

[2021-03-25 17:06] valentijnscholten commented on #4125
Can you provide some info on how to reproduce this? I assume this is referring to the API as in the UI it seems to work fine.
Are you using a PATCH/POST on the finding itself? Or are you using the `/findings/tags` endpoint?

[2021-03-25 17:36] damiencarol commented on #4125
Is it something that will change/be modified with auth v2 system?

[2021-03-25 18:20] valentijnscholten commented on #4125
Yes, I was also thinking we should maybe just make sure that it works in the new system and not spent too much time on the old system. The "official" python API wrapper needs a superuser anyway to work, so easier to accept for now and fix everything when the new permissions are there.

[2021-03-26 08:08] manuel-sommer opened #4129 "WPScan parser does not parse all found vulnerabilities"
**Be informative**
I have scanned a vulnerable Wordpress Website with WPScan 3.8.15. It found a vulnerability in "contact-form-7". This vulnerability is not uploaded to Defectdojo as it is not processed by the parser.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run DefectDojo
2. Run a WP scan to output a JSON
3. Upload the JSON

I have attached an output example of the JSON file.

[2021-03-26 08:23] saldam72 commented on #4119
Hello Team,
analyzing the helper.py file of the user module it seems to me that DefectDojo does not use the permissions of DJANGO, is it correct ?

Best,
Sal

[2021-03-26 08:50] valentijnscholten opened #4130 "JIRA: Failed login results in 500 in edit_jira"
When editing a JIRA config and using invalid credentials and saving, you'll get a 500 error.
Expected:
warning/error message stating defect dojo was unable to login

[2021-03-26 08:51] valentijnscholten opened #4131 "JIRA: edit_jira sometimes accepts invalid credentials"
When editing a JIRA config, defect dojo tries to login to JIRA to verify the credentials are correct.
I am observing that sometimes this succeeds even when the credentials are invalid, resulting in errors later when pushing JIRA issues or configuring products.

[2021-03-26 08:51] damiencarol commented on #4129
@manuel-sommer taking a look at it.

[2021-03-26 09:29] saldam72 commented on #4119
Hello Team,
I have found this other issue https://github.com/DefectDojo/django-DefectDojo/issues/3337 so I closed this one.

Best,
Sal

[2021-03-26 09:29] #4119 closed

[2021-03-26 09:46] whitespots commented on #3134
Still don't work in latest DefectDojo version with any MobSF version. Please, support at least one, maybe old version of MobSF.

[2021-03-26 10:36] damiencarol commented on #3134
@whitespots please help to describe and make issues more clear. if there is new bugs with new versions of MobSF just create a new issue with details. I will work on it but it's difficult to follow this kind of "don't work" feedback.
We have an opportunity. Next week we will release our new `0.14.0` release. So if you're able to point to the pb or share with us some reports that break the import, w

[2021-03-26 11:19] whitespots commented on #3134
@damiencarol Thank you for your response! We will describe this issue as soon as possible.

[2021-03-26 12:24] damiencarol commented on #4129
@manuel-sommer made some tests with recent version of WPScan and you're right, there is a pb.
Working on a pull request to solve this and improve the parser.

[2021-03-26 14:20] MauJFernandez commented on #4000
Hi, is there any timeline regarding this bug? Any way I can help testing?

[2021-03-26 18:03] devGregA commented on #3057
Interesting, originally, delete was only introduced to remove a finding that was created in error. The original thought was findings that aren't a mistake should always be closed, for record keeping purposes. Then closed vulnerabilities could be purged after a period of time 1 year, two years, etc. I'm not really sure why someone would delete a finding, other than if it was made in error. I agree

[2021-03-26 18:41] valentijnscholten opened #4135 "Bulk risk acceptance doesn't update product grading"
Using the bulk update in the UI to risk accept/unaccept findings doesn't trigger an update of the product grade.

[2021-03-26 19:24] valentijnscholten opened #4136 "non-staff users should be able to perform bulk edits"
currently only staff users can perform bulk edits, but there are usecases where normal 'authorized' users should be able to perform bulk edits (but only on findings for which they are authorized).

[2021-03-26 19:26] damiencarol commented on #4000
@MauJFernandez I'm working on a fix on the parser *but* the upper layers *doesn't* take into account the port :sweat_smile:

[2021-03-26 21:41] valentijnscholten commented on #3573
talking about duplicates, this is a duplicate of #3057

[2021-03-26 21:41] #3573 closed

[2021-03-26 23:22] damiencarol opened #4138 "IPv6 not well supported in Finding view"
**Bug description**
When and endpoint as an IP v6 address in it, it is truncated.
Ex: `2001:8::1` become `8::1` in the UI

**Steps to reproduce**
Steps to reproduce the behavior:
1. Import a report with an endpoint that have an IP v6 address
2. Click on finding view
3. See IP v6 address truncated

**Expected behavior**
A clear and concise description of what you expected to happen.
 I was expectin

[2021-03-26 23:42] damiencarol commented on #4105
@zakrush merged a pull request that support njsscan report in SARIF format. This will be part of `0.14.0`

[2021-03-26 23:42] #4105 closed

[2021-03-26 23:44] damiencarol commented on #4041
@alessandrosangalli any news on your investigations? Have you been able to re-create SAMM framework with the benchmark feature?

[2021-03-26 23:47] alessandrosangalli commented on #4041
@damiencarol i need to stop this for now, but this year i want to evolve this

[2021-03-26 23:50] #4041 closed

[2021-03-27 07:31] damiencarol commented on #4041
I honestly thing that the existing system could support well SAMM framework. One thing that could be improve is the link between benchmarks and questionnaires.

[2021-03-27 07:42] valentijnscholten opened #4140 "Deleting findings/tests/engagements doesn't update product grade"
Products grades don't get updated when findings/tests/engagements are deleted

[2021-03-27 08:57] valentijnscholten opened #4141 "unit tests: All async tasks are skipped"
During unit tests celery is not running. So any task submitted to celery is not executed and the logic is not tested.
Some tests have solved this by letting the tests run under the admin user:

[code]

This makes the tests run synchronously by not using celery. We should probably let all unit tests run like this to make sure all logic inside tasks is also executed/tested/covered.

[2021-03-27 11:52] #3636 closed

[2021-03-27 11:52] #4043 closed

[2021-03-27 11:54] #4129 closed

[2021-03-27 14:00] valentijnscholten opened #4144 "deduplication is case-sensitive"
When a string field like `title`, `component_name` etc is used in the hashcode calculation there can be mismatches if different users/tools/parsers/version of parser are using different formatting with regards to casing. Also the title case we're using can cause mismatches if not correctly applied before calculation the hashcode.

[2021-03-27 20:02] valentijnscholten opened #4147 "a click on a dropdown always gets alerts from server"
In `base.html` there's jQuery that attaches the `get_alerts()` function to every element with class `dropdown-toggle`.
The intention is to get the new alerts whenever somebody clicks on the alerts dropdown. But as a side effect it is also attached to every other dropdown on screen, i.e. opening the filters, opening similar findings, selecting findings for bulk edit, etc.

[2021-03-29 05:44] jamshaid120 opened #4155 "Trying to import WebInspect files but get parser error"
I am trying to import [webinspect](https://github.com/DefectDojo/sample-scan-files/tree/master/webinspect) files in **ScanType** IBM AppScan DAST but it throws the following error:
` An error has occurred in the parser, please see error log for details. `
the environment is set to default and **minimum security** is **info**. I have tried all the files given in repo but always get the above-mentio

[2021-03-29 06:48] valentijnscholten commented on #4155
Please complete the info as requested in https://github.com/DefectDojo/django-DefectDojo/issues/new?assignees=&labels=bug&template=bug_report.md&title=

[2021-03-29 07:32] damiencarol opened #4157 "TestSSL parser: ignores Medium and Critical finding"
**Bug description**
The parser filter findings that are at `Medium` and `CRITICAL` level.

https://github.com/DefectDojo/django-DefectDojo/blob/ec47390ef2f8893b2a35c2bf8cbf4dd36584b5fe/dojo/tools/testssl/parser.py#L11

https://github.com/DefectDojo/django-DefectDojo/blob/ec47390ef2f8893b2a35c2bf8cbf4dd36584b5fe/dojo/tools/testssl/parser.py#L36

Possible values are `LOW|MEDIUM|HIGH|CRITICAL` and `W

[2021-03-29 08:21] jamshaid120 commented on #4155
@valentijnscholten  I just updated the question

[2021-03-29 08:48] n0t4u commented on #4114
Sorry for the delay answering.
PR done

[2021-03-29 09:54] damiencarol commented on #4155
taking a look

[2021-03-29 09:55] jamshaid120 commented on #4155
Thanks. I will be waiting for your kind response

[2021-03-29 10:01] damiencarol commented on #4155
I was able to import it easily in our demo environment ( see the result here https://demo.defectdojo.org/test/55 )

[2021-03-29 10:03] jamshaid120 commented on #4155
How do I log in to demo server?

[2021-03-29 10:04] jamshaid120 commented on #4155
I have to import for DAST. And DAST is only available in IBM Appscan DAST. Am I uploading the wrong file for DAST?

[2021-03-29 10:05] damiencarol commented on #4155
Take a look at our *Quick start* section of our README https://github.com/DefectDojo/django-DefectDojo#quick-start . don't hesitate to close the issue if it solve the pb for you.

[2021-03-29 10:07] jamshaid120 commented on #4155
Quickstart doesn't mention anything for this. Would you please guide me on which file should I try to upload for DAST? It would be a great help.

[2021-03-29 10:11] jamshaid120 commented on #4155
@damiencarol I tested my steps on the demo server and It produces the error there too. Which files am I supposed to use for IBM AppScan DAST?

[2021-03-29 10:18] jamshaid120 commented on #4155
Thanks, @damiencarol  for giving a hint about using the wrong file. I tried using [ibm_appscan_xml_file.xml](https://raw.githubusercontent.com/DefectDojo/sample-scan-files/master/appscan/ibm_appscan_xml_file.xml) file and it was uploaded successfully. Thanks a lot. I will update my docs for this.

[2021-03-29 10:18] #4155 closed

[2021-03-29 10:21] damiencarol commented on #4155
good to know!

[2021-03-29 11:20] pisces-period commented on #4112
Hi @valentijnscholten, yes that would solve our problem!

[2021-03-29 12:13] whitespots opened #4158 "Django error is thrown when passing MobSF report into DefectDojo"
**Bug description**
MobSF v.  3.4.0
Dojo is latest from master v. 1.13.2 ( release mode )
Error: Internal Server Error: /engagement/1/import_scan_results (500)

**Steps to reproduce**
1. Import scan results via API or UI.
2. See error

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [X] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment information**
 - Operating System: an

[2021-03-29 12:48] wurstbrot opened #4160 "Bulk edit with a note"
The bulk risk acceptance, e.g. in findings -> "All findings" is a very cool option to accept one vulnerability in multiple projects (I am awaiting this since a year, but I didn't create a PR or issue).
![image](https://user-images.githubusercontent.com/955192/112838131-039fc680-909d-11eb-8ebe-257036894fdb.png)

As a user of DefectDojo, I would like to add "Decision details " and/or "Notes" like in

[2021-03-29 14:16] devsecopsale opened #4161 "ORT parser error when importing oss-review-toolkit file"
**Slack us first!**
I get an error when I try to upload an ORT report file that contains violation rules items with no 'license' or 'license_source' fields. I actually fixed this by checking the values do exist before handling the python keys. I'm submitting a pull request

**Be informative**
This bug prevents from uploading ORT scans files. This will typically occurs when a custom license is defi

[2021-03-29 14:27] damiencarol commented on #4158
@whitespots made some analysis, it's a bug. working on a PR to fix this

[2021-03-29 16:03] Ivanello commented on #4158
looks like updated issue  #3134

[2021-03-29 17:57] damiencarol commented on #4112
@valentijnscholten there is this features discussed for the UI v2 SPA.

[2021-03-29 18:23] #4136 closed

[2021-03-29 18:24] valentijnscholten commented on #4136
merged in 1.14.0

[2021-03-30 07:14] #4158 closed

[2021-03-30 08:13] #3134 closed

[2021-03-30 08:18] damiencarol commented on #4158
Fixed and will go in `0.14.0`

[2021-03-30 17:42] valentijnscholten opened #4176 "Helm chart lint: bump version on release or change GHA"
Whenever we do a release, the helm chart linting GHA fails because it expects us to increase the version of the helm chart.

Solution options:
- Update version of helm chart automatically or manually when merging a release back into dev, or,
- Only run linting on PRs that actually change the helm chart similar to flake8.

[2021-03-31 14:07] BhaskiBuzz opened #4180 "How to remove Mitigated Endpoints / Systems or Vulnerable Endpoints / Systems section in the finding."
Hi,

Is there any way to remove Mitigated Endpoints / Systems or Vulnerable Endpoints / Systems section displaying when we open the finding.

These endpoints looks not relevant to the finding so we are trying to remove that section in the finding view completely.

Thanks.

[2021-03-31 15:21] jamshaid120 opened #4181 "cannot load certificate "/etc/nginx/ssl/nginx.crt" BIO_new_file() failed (SSL: error:02001002:system library:fopen:No such file or directory:"
I am trying to build dojo on a Linux environment in Docker but after I run docker-compose up, the container ends up with the following error:
Basic auth is off (HTTP_AUTH_PASSWORD not provided)
2021/03/31 15:16:33 [emerg] 1#1: cannot load certificate "/etc/nginx/ssl/nginx.crt": BIO_new_file() failed (SSL: error:02001002:system library:fopen:No such file or directory:fopen('/etc/nginx/ssl/nginx.crt

[2021-03-31 15:41] MauJFernandez commented on #4000
Oh that's unfortunate. On the bright side, now it'll know what's a Port and can be expanded to other scanners I think.

[2021-03-31 19:38] Nilesh0101 commented on #2201
@kareem-DA ,
To re-open the finding you use is_Mitigated=False, active=True
to close the finding you use is_Mitigated=True, active=False

[2021-03-31 19:50] valentijnscholten commented on #4181
please provide the details requested in the bug report template.

[2021-03-31 19:51] valentijnscholten commented on #4180
@Maffooch

[2021-03-31 19:54] #3944 closed

[2021-03-31 19:55] valentijnscholten commented on #4144
fixed in `dev` / 1.15.0

[2021-03-31 19:56] #4135 closed

[2021-04-01 07:56] AliElKhatteb opened #4185 "change db to server db postgresql"
i got this error when i changed the db to server

ERROR:django.request:Internal Server Error: /
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/django/contrib/sessions/backends/base.py", line 189, in _get_session
    return self._session_cache
AttributeError: 'SessionStore' object has no attribute '_session_cache'
During handling of the above exception, another ex

[2021-04-01 10:15] AliElKhatteb commented on #4185
now i also got this

Readiness probe failed: Get http://10.42.9.11:8080/uwsgi_health: net/http: request canceled (Client.Timeout exceeded while awaiting headers)
--

[2021-04-01 10:16] AliElKhatteb commented on #4185
how can i restore my old pod db i cant see it

[2021-04-01 12:21] Gby56 opened #4186 "Automatic git import & git blame on exact finding line"
**Is your feature request related to a problem? Please describe**
As a common workflow, when reviewing scanner issues, it can be useful to have git blame as a simple way to find people who might understand that piece of code, and also finding the right person for the right piece of code (as long as it's not a deep SAST finding in a dependency, for example)

**Describe the solution you'd like**
If

[2021-04-01 12:31] xanhacks opened #4187 "Jira - Create EPIC field via API"
![Screenshot_2021-04-01 Edit Engagement DefectDojo](https://user-images.githubusercontent.com/23367144/113293080-9c308380-92f5-11eb-81c0-ede3babffc0d.png)

Hello,

I would like to **edit the field "Create EPIC"** in a engagement using the DefectDojo **APIv2** however I could not find where ?
Is this not implemented yet or I'm just blind ?

Regards,
xanhacks

[2021-04-01 14:05] valentijnscholten commented on #4187
I don't think it's implemented.

[2021-04-01 17:27] Homopatrol opened #4190 "Can DD_ALLOWED_HOSTS be set as "*" ?"
**Bug description**
I've run Into some issues whilst deploying Defectdojo v `1.14.0` After deploying the k8s healthchecks began failing which stopped the nginx container as being marked as ready.

From running `oc describe` for the defectdojo-django pod the events show the healthcheck failing:
[code]
We had set  `DD_ALLOWED_HOSTS: 'localhost' ` in our ConfigMap,  we changed this to be` "*"` this f

[2021-04-01 17:32] valentijnscholten opened #4191 "Safety Parser breaks unit tests"
From time to time the unit test suite fails due to the safety parser relying on dynamically loaded data.

[code]

Can we

a) change the unit test so they do not rely on external data being correct, or,
b) change the safety parser to just process a report. in general the idea is that scans are performed outside defect dojo and the results are imported.

[2021-04-01 17:33] valentijnscholten commented on #4191
@damiencarol

[2021-04-01 17:36] damiencarol commented on #4191
it's know pb. the DB of safety parser is maintained by the safety team. it's a real anomaly that our unit tests catch.
I'm just thinking that maybe we should change the way we load this DB.
Will work on it ASAP.

[2021-04-01 17:39] valentijnscholten commented on #4191
Or just remove the assert on the CVE, looks like it's not reliable provided by the safetyparser db.

[2021-04-01 17:40] valentijnscholten commented on #4191
When I download the json manually for safetydb the cve data is in there and looks the same as in the asserts.

[2021-04-01 18:45] damiencarol commented on #4191
ok, I get it. the DB just changed! I mean new vulnerability where discovered and appeared in the DB...
So, I guess we need to modify the unit tests to not rely on the DB directly. but maybe a custom DB for the unit tests.

[2021-04-01 18:59] damiencarol commented on #4191
I need to investigate the best solution.

[2021-04-01 22:22] damiencarol commented on #4191
@valentijnscholten => I think it's the best solution for now as CVE are not part of the report itself. so => #4192
Pushed another pull request uptream to have CVE directly in the JSON reports => https://github.com/pyupio/safety/pull/340
it will reduce the code in this parser and make the download of the DB useless, so no more error on DB updates every month

[2021-04-01 22:33] maibold1 opened #4193 "GVM report not adding hostnames on defectdojo with CSV report"
Hi im a new to the community and im sorry if this has been addressed before but i cant find any info on this situation.

I installed the version 1.7.1 of DefectDojo

Then i import some vulnerability scan reports from GVM 28.1 without issue

When i check the endpoints i can see the ip address but not the hostname

The data related to the endpoint seems to be complete except for the missing hostname

[2021-04-02 07:03] epochfairy opened #4195 "push to jira"
**Slack us first!**
The easiest and fastest way to help you is via Slack. There's a free and easy signup to join our #defectdojo channel in the OWASP Slack workspace: [Get Access.](https://owasp-slack.herokuapp.com/)
If you're confident you've found a bug, or are allergic to Slack, you can submit an issue anyway.

**Be informative**
Please enter as much information as possible, otherwise we can't

[2021-04-02 07:09] epochfairy commented on #4195
django-DefectDojo/dojo/jira_link/helper.py  516 line

use '**description': jira_description(find)**‘ Throw 500 server error

but use  '**description': find.description**‘ will OK

note：No custom JIRA issue description is used

[2021-04-02 07:36] #4195 closed

[2021-04-02 07:42] damiencarol commented on #4180
Maybe an update on the view to hide the part if the attribute is not set.

[2021-04-02 08:58] AliElKhatteb opened #4197 "i cant find scan types"
No test types found.

[2021-04-02 12:53] valentijnscholten commented on #4197
I don't understand this ticket. Please provide some info a requested in the template, or explain your problem on Slack.

[2021-04-02 12:54] valentijnscholten commented on #4193
Please upgrade to 1.14.0 and try again. There's a lot of work being on endpoints in https://github.com/DefectDojo/django-DefectDojo/pull/4188

[2021-04-02 12:55] valentijnscholten commented on #4191
Fixed for now by removing the asserts.

[2021-04-02 12:55] #4191 closed

[2021-04-02 14:31] kiblik opened #4198 "Right evaluation of endpoint status"
Endpoint evaluates status (if it is vulnerable and active and/or mitigated) based on [Finding fields](https://github.com/DefectDojo/django-DefectDojo/blob/b3393ecf09562da93b987e1eb598e823ff25e92a/dojo/models.py#L1163-L1199). However the real status depends (also) on the content of `Endpoint_Status`.

I suppose this should be redesigned when https://github.com/DefectDojo/django-DefectDojo/pull/4188

[2021-04-02 16:58] maibold1 commented on #4193
Hi @valentijnscholten thanks for the reply I actually upgrade as you recommended but still have the same behavior ... Should a start clean?.... I keep the volumes on the upgrade and all the reports previously added to test.

[2021-04-02 17:11] valentijnscholten commented on #4193
I think it just needs to be fixed, I don't know the details, but 4188 looks like it will fix a lot of peculiarities around endpoints.

[2021-04-02 18:01] maibold1 commented on #4193
Thanks for the info I'll keep an 👀 for when merge the 4188 to dev branch and try again

[2021-04-03 11:40] valentijnscholten opened #4200 "dedupe command doesn't update product grade"
the dedupe command is running the deduplication on findings, but the product grade is not updated accordingly.

[2021-04-03 16:15] damiencarol opened #4202 "Safety parser: remove custom DB for CVE data"
Safety parser relly on a DB of vulnerabilities with CVE infos. This databases is upgraded/modified every month.
This pb is that our unit tests relly on this changing file.

We need to do one of these options:
1) fix the DB file for unit tests
2) remove completely this feature and wait that the CVE info come from the report (I pushed a pull request upstream to have CVE directly in the JSON reports

[2021-04-03 20:10] valentijnscholten opened #4203 "api: test import endpoint broken due to prefetch error"
`findings`  relationship was renamed to `findings_affected` but the prefetch in the apiv2 was not updated.

[2021-04-05 18:27] valentijnscholten commented on #4203
fixed in dev / 1.15.0

[2021-04-05 18:27] #4203 closed

[2021-04-05 18:28] valentijnscholten commented on #4131
fixed in 1.14.0

[2021-04-05 18:28] #4131 closed

[2021-04-05 18:28] valentijnscholten commented on #4130
fixed in 1.14.0

[2021-04-05 18:28] #4130 closed

[2021-04-05 18:29] valentijnscholten commented on #4118
fixed in dev / 1.15.0

[2021-04-05 18:29] #4118 closed

[2021-04-05 18:30] valentijnscholten commented on #3777
I updated the title and description for you

[2021-04-06 07:48] #4185 closed

[2021-04-06 07:49] #4197 closed

[2021-04-06 21:22] damianmadeira commented on #3840
good news !!! yes, off course @damiencarol  !!!

[2021-04-07 10:07] true-hero opened #4216 "PHPCS parser wrong class name"
### Bug description
When you try to import phpcs report via api, you have 500 response code with error in logs:
[code]

### Steps to reproduce
1. Get phpcs report file with findings
2. Try to upload it via API

### Possible fix
I guess, the problem is in class name [here](https://github.com/DefectDojo/django-DefectDojo/blob/release/1.14.0/dojo/tools/php_security_audit_v2/parser.py#L39). It should

[2021-04-07 10:18] whitespots commented on #4216
@damiencarol Hello! I suppose this issue maybe somehow related to https://github.com/DefectDojo/django-DefectDojo/issues/4158

[2021-04-07 11:03] damiencarol commented on #4216
@whitespots taking a look

[2021-04-07 20:10] valentijnscholten commented on #4200
fixed in dev / 1.15.0

[2021-04-07 20:10] #4200 closed

[2021-04-07 20:57] ptrovatelli opened #4220 "Add purge feature"
**Is your feature request related to a problem? Please describe**
When not using the re-import feature, the number of findings will be very big eventually. We need a purge system but it's not trivial when using the deduplication. This issue is open to any suggestions / discussions. How are you currently handling this?

**Describe the solution you'd like**
**Core features**
- **Configurable in the

[2021-04-08 03:49] epochfairy opened #4221 "support i18n"
**Is your feature request related to a problem? Please describe**
A clear and concise description of what the problem is.
Ex: I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Ex: As a < role >, I want < some goal > so that < some reason >.

**Describe alternatives you've considered**
A clear and concise description o

[2021-04-08 08:32] devsecopsale opened #4222 "Add Path information for ORT security tool parser"
**Is your feature request related to a problem? Please describe**
ORT file imports don't add the path of the file where the license (issue) was found.
I actually modified the parser to include this feature , which I'm sharing in a pull request shortly.

**Describe the solution you'd like**
I need the 'path' to be included so it's easier to find out what's the component that is affected by the issu

[2021-04-08 11:54] true-hero opened #4225 "Jira cloud integration"
## Bug description
Unable to save Jira config. I am using token to authenticate and it works good on 1.13.0, but on version 1.14.0 it failed with error

[code]

## Steps to reproduce
1. Open Jira config editor
2. Fill the fields and try to save it

## Environment information**
DefectDojo 1.14.0

## Expected behavior
Jira config successfully save.

[2021-04-08 11:55] whitespots commented on #4225
Approved issue.

[2021-04-08 16:51] whitespots opened #4228 "Apply new/updated rules to existing findings"
**Bug description**
Dojo is unable to apply new rules to findings because it does not look through findings after rule was added.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create rule
2. Expecting it to be applied on all findings
3. Rule only applies when you click “Touch finding”
4. There are thousands of findings
It's impossible to click “Touch finding” on each of them.

![imag

[2021-04-08 16:51] valentijnscholten commented on #4225
In 1.14.0 we added `validate=True` to the call that checks credentials in JIRA. Could be that doesn't work when an api token is supplied in the password field.

[2021-04-08 18:11] valentijnscholten commented on #4225
Fixed and released in 1.14.1: https://github.com/DefectDojo/django-DefectDojo/releases/tag/1.14.1
Thanks for reporting, can you confirm it works also for you in 1.14.1?

[2021-04-09 08:11] #4140 closed

[2021-04-09 09:06] valentijnscholten commented on #4140
fixed in dev / 1.15.0

[2021-04-09 11:29] damiencarol opened #4242 "Crash in intializer with Docker container 1.14.1 (investigating)"
**Bug description**
Try to upgrade to `1.14.1` from `1.12.1` by modifying docker-compose definition file.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Deployment method**
Docker

**Environment information**
 - Operating System

[2021-04-09 11:35] #4242 closed

[2021-04-09 11:36] damiencarol commented on #4242
had an out-of-date settings file

[2021-04-09 11:41] valentijnscholten commented on #4242
always try to use `local_settings.py` to customize your instance ;-) it survives upgrades :-)

[2021-04-09 12:04] damiencarol commented on #4242
yeah. I think it's the time to switch to it!

[2021-04-10 06:46] madchap commented on #4176
For easier access, error merging back to `dev` was:

[code]

[2021-04-10 07:00] madchap commented on #4176
It may be working as expected, because the `appVersion` actually changes during the release.

![image](https://user-images.githubusercontent.com/5468769/114261510-38841580-99db-11eb-974d-1b34389af3d9.png)

[2021-04-10 07:06] madchap commented on #4176
Another option is to align the chart version on the app version.

[2021-04-10 08:23] valentijnscholten commented on #4176
It should update the chart version then as well, otherwise the PR will always have failed tests and/or people merge it breaking tests on dev.

[2021-04-12 09:30] AliElKhatteb opened #4257 "migrate from postgresql pod to postgresql virtual machine"
hello,
i am facing an issue i hope you can help me,
i need to use a postgresql virtual machine instead of pod.
when i moved from the pod db to the vm db i cant see any test types and i got this error in the initializer script
here is the log.

[12/Apr/2021 09:20:42] INFO [dojo.models:3360] enabling audit logging
Waiting for database to be reachable
Making migrations
[12/Apr/2021 09:20:44] INFO [do

[2021-04-12 14:20] madchap opened #4259 "Searching for tags with the top level search bar should handle colon characters"
**Is your feature request related to a problem? Please describe**
When having tags with `:`, they cannot be searched with the "simple search bar" on top of the screen.
It works fine when using filters.

**Describe the solution you'd like**
Eventually have a way to search the tags containing colons even from the simple search bar.

[2021-04-12 20:07] dvelardez opened #4262 "Cannot install -r ./requirements.txt (line 30) and PyJWT==2.0.1 because these package versions have conflicting dependencies."
**Bug description**
Cannot build images locally because these package versions have conflicting dependencies.
The conflict is caused by:
    The user requested PyJWT==2.0.1
    pygithub 1.54.1 depends on pyjwt<2.0

**Steps to reproduce**
docker build --build-arg http_proxy=http://myproxy.com:8080 --build-arg https_proxy=http://myproxy.com:8080 -t defectdojo/defectdojo-django -f Dockerfile.django .

[2021-04-13 10:17] damiencarol commented on #4262
@dvelardez you are trying to build images for `1.14.1` manually, right? Why don't you use images from Docker Hub?

[2021-04-13 10:23] dvelardez commented on #4262
Exactly.
Thanks in advance.

El mar., 13 abr. 2021 07:18, Damien Carol ***@***.***>
escribió:

[2021-04-13 11:56] dvelardez commented on #4262
Sorry, I just reread the email. I am trying to compile locally to upload the image to a private repository.
Thanks!El 13 abr. 2021 07:18, Damien Carol ***@***.***> escribió:
@dvelardez you are trying to build images for 1.14.1 manually, right? Why don't you use images from Docker Hub?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscrib

[2021-04-14 05:36] epochfairy opened #4272 "How to save data and update version from 1.3 to 1.4"
**Slack us first!**
The easiest and fastest way to help you is via Slack. There's a free and easy signup to join our #defectdojo channel in the OWASP Slack workspace: [Get Access.](https://owasp-slack.herokuapp.com/)
If you're confident you've found a bug, or are allergic to Slack, you can submit an issue anyway.

**Be informative**
Please enter as much information as possible, otherwise we can't

[2021-04-14 09:15] valentijnscholten opened #4274 "Add finding from template not working in 1.14.x"
Fixed in #4273

[2021-04-14 09:16] valentijnscholten commented on #4272
Please discuss on slack or provide an actual description of the problem / question.

[2021-04-14 09:19] valentijnscholten commented on #4262
The question is why are builds succeeding for us and in GitHub Actions, but not for people locally? The python base image we are using is or should still use the old pip dependency resolver which still works with our requirements.txt contents.
We are unable to support the new resolver as there are upstream packages causing problems without any fix being available yet.

[2021-04-14 09:27] #4272 closed

[2021-04-14 12:52] madchap opened #4275 "Duplicate scanner name shown in notification banner"
**Bug description**
![image](https://user-images.githubusercontent.com/5468769/114712863-dad03000-9d30-11eb-943d-aa5e00e706ad.png)

fyi @damiencarol

**Steps to reproduce**
Steps to reproduce the behavior:
1. Import anything, and see the banner

[2021-04-14 14:03] madchap opened #4276 "Mass dedupe bombs out if more than 400K findings"
**Bug description**
RabbitMQ memory gets filled and basically it OOMs.
CPU is also maxed out, which starves rabbitMQ.

[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Dedupe continues to a successful completion.

**Deployment method** *(select with an `X`)*
- [x] Kubernetes
- [ ] Docker
-

[2021-04-14 14:56] mperrotti-fdbl opened #4277 "Parsing error when importing Snyk results in 1.12.1"
I am getting an error when attempting to import Snyk results in DefectDojo 1.12.1.

From the logs:

'references'
Traceback (most recent call last):
  File "./dojo/engagement/views.py", line 589, in import_scan_results
    parser = import_parser_factory(file, t, active, verified)
  File "./dojo/tools/factory.py", line 178, in import_parser_factory
    parser = SnykParser(file, test)
  File "./dojo/

[2021-04-14 15:29] madchap commented on #4276
Turns out that rabbitmq thinks it's got more memory than the system has, at least when running on my pods.

I set an absolute limit to memory, such as:

[code]

and it seems to churn along. I will check on how this can be configurable, there does not seem to have a envvar available for that setting.

[2021-04-14 21:57] damiencarol commented on #4277
will take a look tomorrow

[2021-04-15 09:28] #4276 closed

[2021-04-15 14:07] damiencarol commented on #4277
@mperrotti-fdbl seems that this attribute is not here some times.
Could you push your report in the description? I want to see what is blocking in the report.

[2021-04-15 14:11] mperrotti-fdbl commented on #4277
manually redacted some data via find/replace but otherwise this is my actual report.
[snyk.zip](https://github.com/DefectDojo/django-DefectDojo/files/6318650/snyk.zip)

[2021-04-15 14:28] damiencarol commented on #4277
@mperrotti-fdbl thanks a lot. I'm able to reproduce it. There is more than this anomaly. Working on a patch.

[2021-04-15 17:30] valentijnscholten commented on #4274
Fixed in dev / 1.15.0

[2021-04-15 17:30] #4274 closed

[2021-04-15 18:07] valentijnscholten commented on #2985
@damiencarol is this still relevant? I think the entries get autocreated these days?

[2021-04-15 18:08] valentijnscholten opened #4285 "Support for npm audit v7+"
**Scanner Name**
npm7 audit is not supported because it is missing lots of data in the reports: https://github.com/npm/npm-audit-report/issues/45

[2021-04-16 01:09] rr1010 opened #4287 "Burp Enterprise Scan report importing failed,"
**Be informative**
Importing Burp Enterprise Scan is not working in the latest version of DD,

**Bug description**
![image](https://user-images.githubusercontent.com/51348258/114957239-b8ffb600-9eb4-11eb-981b-08a7ff5850b8.png)

**Steps to reproduce**
Steps to reproduce the behavior:
* Go to a Test page.
* Import scan result
* Select Scan type as Burp Enterprise Scan
* Choose a report file .html fi

[2021-04-16 07:33] damiencarol commented on #4277
@mperrotti-fdbl it's merged in dev. will be included in `1.15.0`

[2021-04-16 07:33] #4277 closed

[2021-04-16 14:34] Hijerboa opened #4293 "Request Response pair fields in finding do not render images"
Images are not rendered in the request/response pair fields of a finding, despite the editor allowing images to be added. All other fields in the finding screen allow for images to render.

I'm not sure if this is intentional or not, but if it is, is there a way to remove the option to add images in the editor for these fields?

**Steps to reproduce**
Steps to reproduce the behavior:
1. Create a f

[2021-04-16 16:08] damiencarol commented on #2985
@valentijnscholten no. and we should remove the fixture also.

[2021-04-16 16:08] #2985 closed

[2021-04-16 16:09] damiencarol commented on #4287
taking a look.
@rr1010 do you have a report that fail? (even redacted)

[2021-04-16 16:30] damiencarol commented on #4287
I can reproduce the bug. I think it was introduced in #4082

[2021-04-16 20:14] madchap commented on #4176
Apparently not recommended to align both, and the Chart `version` actually is required to be a SemVer 2 number, which would break anyway if done just as taking our dev version.

[2021-04-18 07:09] valentijnscholten opened #4304 "ForeignKey violation when deleting engagements with duplicates"
When deleting engagements that contain duplicates, from time to time there are ForeigKeyErrors. This is mainly when we have duplicates with the original inside the same engagement, or, with duplicates of duplicates (transitive duplicates).
The workaround is that everyone runs `fix_loop_duplicates()` but that's not ideal.

[2021-04-18 09:09] valentijnscholten opened #4306 "npm audit: dedupe fails for git dependencies"
Whenever a dependency is installed via git, npm audit obscures the name and replaces it with a hash in the path attribute. This hash is different for every run, consufing the dedupe algo in defect dojo:

run x:

[code]

run x +1:
[code]

[2021-04-18 12:09] damiencarol commented on #4287
@rr1010 fixed in `dev` / `1.15.0`

[2021-04-18 12:09] #4287 closed

[2021-04-18 16:40] valentijnscholten opened #4309 "Dependency Check: Invalid severity 'moderate'"
OWASP Dependency check sometimes gives a 'Moderate' severity to findings, which doesn't map to our list of severities. It gets converted to 'Medium', but with a warning in the title. Suggestion: Just convert to Medium and only use the warning for sometimes we can't map.

[2021-04-18 17:29] valentijnscholten opened #4310 "filter on file_path (location) should be 'contains'"
When searching open findings filtering on file_path can only be done by inputting the full file_path. A contains makes more sense as probably no one ever knows the exact file_path. This is already implemented for all API filters, but not yet for some UI filters.

[2021-04-18 20:28] #4176 closed

[2021-04-19 12:44] xanhacks opened #4316 "Unable to create EPIC - issue type is required"
DD Version : 1.14.1
Installation : docker-compose

Hello,

Here is the error when I would like to create an epic via DD (my jira instance is already well configured and Enable engagement epic mapping is ON) :

[code]

In my Jira configuration, the issue type for an epic is 'EPIC' so I edit the *issue_dict* and rebuilt the uwsgi docker image, but I still have the same error. (If the issuetype field

[2021-04-19 17:14] valentijnscholten commented on #4316
Can you provide the full logs? It should contain a log with the actual data being sent to JIRA:

![image](https://user-images.githubusercontent.com/4426050/115276454-540dbf80-a143-11eb-8b3d-7f0cfc361ee9.png)

JIRA is very strange in its errors, so your error might something like an invalid project key or using an account with no permissions.

[2021-04-19 18:14] kareem-DA opened #4317 "Import of Qualys Scan throws unexpected keywork error"
**Slack us first!**
The easiest and fastest way to help you is via Slack. There's a free and easy signup to join our #defectdojo channel in the OWASP Slack workspace: [Get Access.](https://owasp-slack.herokuapp.com/)
If you're confident you've found a bug, or are allergic to Slack, you can submit an issue anyway.

**Be informative**
Please enter as much information as possible, otherwise we can't

[2021-04-19 18:57] kareem-DA opened #4319 "Qualys Scan report import fails to decode CVSS field"
**Bug description**

I am using docker-compose to deploy.  I currently have the running on DDJ 1.8.0, but I have been testing on version 1.14.1 and It has the same issue.

I am using the "Qualys Scan" import when I see this.

I am using the API with a python script to to do the import.

so, I am
       # Prior section, I get the report from the Qulays API store it into a byteIO object named "stora

[2021-04-20 06:34] valentijnscholten commented on #4310
fixed in dev / 1.15

[2021-04-20 06:34] #4310 closed

[2021-04-20 06:35] valentijnscholten commented on #4304
fixed in dev / 1.15

[2021-04-20 06:35] #4304 closed

[2021-04-20 08:35] xanhacks commented on #4316
Unfortunately, I don't have any more logs. I also find it strange that this debug line is not displayed.

I really don't see what the problem is with Jira, because I can push findings to Jira but I can't create an Epic.

[2021-04-20 08:39] valentijnscholten commented on #4316
Looks like the celery work is not on DEBUG log level.

[2021-04-20 08:52] xanhacks commented on #4316
[code]

There is the env variable for uwsgi.

[2021-04-20 09:13] valentijnscholten commented on #4316
you need to set it for all containers

[2021-04-20 13:36] xanhacks commented on #4316
I set `DD_CELERY_LOG_LEVEL: 'DEBUG'` in every dockers in the docker-compose file but I still don't have the `logger.debug('add_epic ...')` line.

[2021-04-20 14:04] valentijnscholten commented on #4316
You need to set DD_DEBUG and DD_LOG_LEVEL

[2021-04-20 16:26] alles-klar commented on #4319
Qualys changed the CVSS_BASE field from integer to string in the last weeks...

[2021-04-20 16:38] madchap commented on #4190
You can, probably exposing yourself to potential poisoning issues. See maybe https://stackoverflow.com/questions/25018250/what-is-the-vulnerability-allowed-hosts-is-defending-against for some info.

I run defectdojo on k8s (GKE), and I just specified the hosts, should work for you too.

Looks like `defectdojo.domain.com,defectdojo-django.defectdojo.svc.cluster.local` on my side.

[2021-04-20 17:51] damiencarol commented on #4319
@kareem-DA could you be more accurate on on the parser you used?
Also please fill completely the sections of the issue.

[2021-04-20 18:15] kareem-DA commented on #4319
I updated the description.

[2021-04-20 18:40] damiencarol commented on #4317
@kareem-DA this issue is fixed in `dev` / `1.15.0` by https://github.com/DefectDojo/django-DefectDojo/pull/4121 .
Sorry that you still have this issue in your version :)

[2021-04-20 18:40] #4317 closed

[2021-04-21 07:59] xanhacks commented on #4316
[code]

Thanks, the line below appears ! The error it's because `{'name': 'Epic'}` should be `{'name': 'EPIC'}` but I already change it in the code of the uwsgi docker.

[code]

Is there any cache or something ? I already purge all the volumes and down/up docker-compose.

[2021-04-21 08:01] valentijnscholten commented on #4316
You need to rebuild all containers after making code changes. This code is executed in the celery-worker container.

[2021-04-21 11:16] xanhacks commented on #4316
Now it works ! Very big thanks !

[2021-04-21 11:34] #4316 closed

[2021-04-21 12:25] kiblik commented on #3728
+1

It is not possible to use API (`GET /engagements/`) to list only `CI/CD` or only `Interactive` engagements now.
API support only `eng_type(string)` and it returns
[code]
when I use one of valid values

[2021-04-21 13:51] valentijnscholten commented on #3728
You need to lookup the id column in the Engagement_Type table.

[2021-04-21 13:54] kiblik commented on #3728
But it is not accessible from APIv2, isn't it?

[2021-04-21 14:05] Homopatrol commented on #4190
If you are deploying via Helm charts then you don't have to know all these hosts at install time?

Futhermore, the `host` value is used for healthchecks which I don't think is compatible.

`host` is used in django-deployment.yaml here
[code]
thus we cannot change this value at deploy-time without impacting it.

With the default configurations - configmap.yaml
[code]
values.yaml
[code]
Causes the h

[2021-04-21 15:54] madchap opened #4330 "Jira resolution not applied correctly if set as a 2nd step"
**Bug description**
When using JIRA resolution to set the finding's status as FP or RA, I guess you have 2 choices in JIRA:
1. You set a transition screen where you can set the resolution immediately before it actually transitions to "Done"
2. You do it afterwards, meaning the JIRA will be "Done", resolution set to "Done" (default) and THEN only set the appropriate resolution such as FP or RA.

In

[2021-04-22 07:22] true-hero opened #4336 "Gitleaks parser fails on smileys in report"
## Bug description
DD parser (in my case gitleaks parser), fails with 500 error code, when there is smile in string.

## Steps to reproduce
Steps to reproduce the behavior:
1. Get gitleaks report
2. Add some smile in report (or smiles can already be in report)
3. Try to import the report

## Expected behavior
Smiles have to be escaped.

## Environment information
 - DefectDojo 1.14.1

## Sample sc

[2021-04-22 09:30] madchap opened #4338 "Editing a finding to remove duplicate status has no effect"
**Bug description**
Cannot manually remove duplicate status from a finding.

**Steps to reproduce**
On a finding marked as "Duplicate", edit it and uncheck the duplicate box.
Save.
The status remains as Duplicate.

**Expected behavior**
The status changes.

**Deployment method** *(select with an `X`)*
- [ ] Kubernetes
- [x] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment information**

[2021-04-22 09:49] alles-klar commented on #4319
@kareem-DA Can you share one of these "new" Qualys reports without confidential data here: https://github.com/DefectDojo/sample-scan-files/tree/master/qualys ? Then we can extend our tests and improve the parser.

[2021-04-22 11:11] damiencarol commented on #4336
taking this one.

[2021-04-22 11:42] BhaskiBuzz opened #4340 "API for bulk risk acceptance only processed verified findings"
Hi @madchap @valentijnscholten

I am using docker based version v.1.12.0

I am trying to accept the risk at findings level using the api POST "{{baseUrl}}/findings/accept_risks/".
When I send the cves of the finding where the finding age is 175, the api is working as expected and the finding status is getting changed to active, risk accepted.
But when I send the CVEs list of findings where the fin

[2021-04-22 11:43] BhaskiBuzz commented on #4340
Same is the case with APIs available engagement level.
{{baseUrl}}/engagements/:id/accept_risks/

[2021-04-22 12:33] madchap opened #4341 "500 when adding manually a finding"
**Bug description**
[code]

**Steps to reproduce**
Steps to reproduce the behavior:
Create a finding manually within a test.

[2021-04-22 12:43] #4341 closed

[2021-04-22 12:43] madchap commented on #4341
Apparently fixed a bit later.

[2021-04-22 14:40] valentijnscholten commented on #4340
Please provide logs, version, example data, etc.

[2021-04-22 17:51] valentijnscholten commented on #3403
I think this is now resolved with DD_LOG_LEVEL

[2021-04-22 17:51] #3403 closed

[2021-04-22 17:53] valentijnscholten commented on #3375
CVE field was added here as fix for the immediate issue at hand.

[2021-04-22 17:55] #2976 closed

[2021-04-22 17:56] #3405 closed

[2021-04-22 17:59] valentijnscholten commented on #3452
what happens if you follow the instructions in our docs / DOCKER.md?

[2021-04-22 17:59] valentijnscholten commented on #3446
fixed

[2021-04-22 17:59] #3446 closed

[2021-04-22 18:01] valentijnscholten commented on #3741
is still this happening? for import at least we improved the situation and also for the API

[2021-04-22 18:01] #3746 closed

[2021-04-22 18:02] valentijnscholten commented on #3640
fixed

[2021-04-22 18:02] #3640 closed

[2021-04-22 18:05] valentijnscholten commented on #3765
see any other unordered dropdowns?

[2021-04-22 18:05] #4073 closed

[2021-04-22 18:07] valentijnscholten commented on #2760
@JamesCullum I use the API from the browser all the time while logged in to the UI. Are you sure this is a generic an reproducible issue?

[2021-04-22 18:08] #3862 closed

[2021-04-22 18:08] #3904 closed

[2021-04-22 18:08] #3924 closed

[2021-04-22 18:09] #4181 closed

[2021-04-22 18:12] valentijnscholten commented on #4114
@n0t4u could you point us to the PR, can't seem to find it.

[2021-04-22 18:48] Brain2998 commented on #4262
Could you please specify version of pip with correct resolver?

[2021-04-22 21:00] JamesCullum commented on #2760
It was a different thing than the OP mentioned, but was definitely reconstructable enough. I would get those CSRF errors only when the script first logged in via UI. I can imagine that you are sending different headers than the script, which might bypass this.

[2021-04-22 21:14] devGregA commented on #2760
I know of one other spot where this occurs. When getting an SSO token
without first going to Dojo, CSRF will not be set properly. We could catch
all CSRF issues by reissuing in the middleware, when appropriate.

Greg Anderson
DefectDojo Project Leader
***@***.***

On Thu, Apr 22, 2021 at 4:00 PM James Cullum (Pseudonym) <
***@***.***> wrote:

[2021-04-23 03:53] BhaskiBuzz commented on #4340
Request sent:
[
    {
        "cve": "CVE-2017-18640",
        "justification": "test2",
        "accepted_by": "test_user"
    }
]

In the response, I can see only few findings got marked as risk accepted. if you look at the age of the finding, the age is below 100 for issues which are not marked as accepted.

![image](https://user-images.githubusercontent.com/26956032/115815869-6fafe900-a415-11e

[2021-04-23 07:08] valentijnscholten commented on #4340
please upgrade to 1.14.1 and provide logs

[2021-04-23 07:46] theoldscarana opened #4344 "Error import GitLab SAST report"
**Bug description**
Hi,
when i try to import a GitLab SAST report in DefectDojo through the UI, i get import error.

I believe that problem are in the /dojo/tools/gitlab_sast/parser.py in the method get_item. The method does not verify if the field "severity" exists. In the [sast json schema](https://gitlab.com/gitlab-org/security-products/security-report-schemas/-/blob/v14.0.0/dist/sast-report-fo

[2021-04-23 07:49] damiencarol commented on #4336
@true-hero I need more details. It depends also on how the database is configured

[2021-04-23 07:55] damiencarol commented on #4344
@theoldscarana taking a look. do you have one report that generate this issue? (even redacted)

[2021-04-23 08:44] damiencarol commented on #4262
I think we don't use the best path here.
I mean if you really want to control the loading of the images and use a specific registry, you can force docker command to do that for you.

[code]
This way you can keep it somewhere, even check the digest and bu sure that it's the official image.

You load it to your registry this way:
[code]

[2021-04-23 09:12] damiencarol commented on #2984
@valentijnscholten will take a llok to see if it's till there.

[2021-04-23 10:50] true-hero commented on #4336
@damiencarol, my database is fully configured with DD migrations. I only install MySQL as Linux service. As i understand, i have the utf8mb4_0900_ai_ci encoding of dojo_finding.description.
![image](https://user-images.githubusercontent.com/32260664/115860955-e3b0b800-a43a-11eb-8e9b-17aa15db3a43.png)

[2021-04-23 12:49] kiblik opened #4347 "AuthV2: Successful import but 403"
**Bug description**

Scan_User has permission only to import test results. Even process is successful, DD returns HTTP 403. It is a bit confusing.

**Steps to reproduce**

- Log in as Scan_User
- Go to https://xxx/engagement/xx/import_scan_results
- Upload a valid scan

**Deployment method** *(select with an `X`)*
- [x] Kubernetes
- [x] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment in

[2021-04-23 13:01] valentijnscholten commented on #4347
What is the url you're seeing this? I think after the import the user is redirect to the view test page of the test that was just imported.

[2021-04-23 13:07] kiblik commented on #4347
`http://localhost:8080/test/2`
I know that showing 403 for Test makes sense but it is still confusing

[2021-04-23 13:36] valentijnscholten commented on #4347
Yes. I think the scan user was more designed for the API, but even there it needs some more permissions.

[2021-04-23 16:19] StefanFl commented on #4347
The scan_user role was actually designed for the API only. Using it in the UI seems to be an edge case for me, because you can't navigate to the Import page, you have to know the URL.

It is not easy to design the role for a scan_user. I personally have a script that gets the names for product, engagement and test. If it can't find the objects, it creates them and then does a reimport.

[2021-04-23 16:29] StefanFl commented on #4347
Maybe it makes sense to give the scan_user role the permission to view the product and all objects underneath it (engagement, test, ...). Then the user can navigate to the product, import a scan result and view the result. But can't add or change anything manually.

[2021-04-23 16:32] kiblik commented on #4347
If Scan_User was designed to interact only from API, standard access can be totally denied.

[2021-04-23 17:17] StefanFl commented on #4347
Would it be clearer to change the name of the role to API_SCAN_USER?

[2021-04-23 17:32] kiblik commented on #4347
`API_IMPORTER`?
 "to import" is the only task for this user

[2021-04-23 19:02] kareem-DA commented on #4319
I have spent the better part of the day trying to pull our internal data out of the report and I haven't been able to without being sure that the report stays consistent.  Sorry

[2021-04-23 20:44] damiencarol commented on #4336
the things is I think a modification in settings.py is required to "force" the software to use UTF8.
take a look at the link I pushed.
[code]
For us it means adding options in DATABASES['default']['OPTIONS']

[2021-04-24 15:32] valentijnscholten commented on #4340
It looks like only `verified` findings are accepted by this api endpoint, it's using `unaccepted_open_findings` to determine which findings can/should be accepted.
![image](https://user-images.githubusercontent.com/4426050/115964080-fdc5c580-a522-11eb-83d3-3340ee676ecb.png)

[2021-04-24 17:08] damiencarol commented on #2984
fixed in `dev` and confirmed it works on `1.14.1`

[2021-04-24 17:08] #2984 closed

[2021-04-24 20:05] madchap commented on #4340
I think we could make it for simply `Active`, and also align in the UI. I can look into that.

[2021-04-26 08:51] damiencarol commented on #3268
Took a look at the Nikto report. One of the URL is not-well-formed. I'm working on a PR to be able to load the report with not well formed URLs.
Working on a pull request to be able to import this not well formed reports: #4357

[2021-04-26 09:12] valentijnscholten commented on #4262
There might be people making modifications and wanting to build their own images. The question is why is he getting this error and we don't. @dvelardez can you detail all the changes made to the source before trying to build them?

In the mean time the PyGitHub package finally released an update addressing this, so chances are in the next release we will be compatible with the new pip dependency r

[2021-04-26 09:39] valentijnscholten opened #4358 "cleanup 2.0: Remove api v1"

[2021-04-26 09:41] valentijnscholten commented on #3057
fix in dev / 1.15.0

[2021-04-26 09:41] #3057 closed

[2021-04-26 09:46] valentijnscholten opened #4359 "Python: Update to 3.7 or 3.8"
We always aimed to not be too strict on the minimum version of python required to run Defect Dojo. With the arrival of our Docker installs, it becomes less relevant. Currently we're on 3.6 which was release FIVE years ago. In #2978 we see that there's an urgent need now to update to 3.7 at least.

[2021-04-26 09:55] #4257 closed

[2021-04-26 09:57] valentijnscholten commented on #4359
We may want to discuss which python version to use. Sometimes you see that packages are quite aggressive with deprecating older versions, leaving us with old and possibly buggy/vulnerable versions of those libraries. i.e. I prefer to go to 3.8 or even 3.9.

[2021-04-26 09:57] damiencarol commented on #4359
Could be good to start a draft to see if we discover incompatibilities with Python > 3.6.x (like https://github.com/DefectDojo/django-DefectDojo/pull/4296 )

[2021-04-26 09:58] valentijnscholten commented on #4359
3.7 is part of #2978

[2021-04-26 10:29] dvelardez commented on #4262
I have not made any changes to the source code.
Thanks for the workaround.

El lun., 26 abr. 2021 06:13, valentijnscholten ***@***.***>
escribió:

[2021-04-26 10:32] damiencarol commented on #3728
@kiblik it is accessible in API v2. (we use it at my company to manage CI/CD engagements dynamically)
![image](https://user-images.githubusercontent.com/1694940/116069137-59ab5e00-a68b-11eb-86c4-e3a4553f5dc2.png)

You just push the engagement with attribute `engagement_type` to `Interactive` or `CI/CD`

[2021-04-26 10:33] valentijnscholten commented on #4262
Something must be different because the stock sourcecode and dockerfile are building correctly.

[2021-04-26 11:09] DanilaKazakevich opened #4360 "ZAP Scan import: xml parse error"
**Bug description**
It happens only when I use ```ictu/zap2docker-weekly``` image for scanning DVWA (https://github.com/ICTU/zap-baseline).  It helps me with authenticated packaged scan.
```docker run --rm -v $(pwd):/zap/wrk/:rw -t ictu/zap2docker-weekly zap-full-scan.py -I -j  -t http://172.17.0.2/ -x dvwa_baseline_dojo.xml --hook=/zap/auth_hook.py -z "auth.loginurl=http://172.17.0.2/login.php au

[2021-04-26 11:12] DanilaKazakevich commented on #4360
<?xml version="1.0"?><OWASPZAPReport version="D-2021-03-29" generated="Mon, 26 Apr 2021 07:03:32">
<site name="http://172.17.0.2" host="172.17.0.2" port="80" ssl="false"><alerts><alertitem>
  <pluginid>10020</pluginid>
  <alertRef>10020</alertRef>
  <alert>X-Frame-Options Header Not Set</alert>
  <name>X-Frame-Options Header Not Set</name>
  <riskcode>2</riskcode>
  <confidence>2</confidence>
  <r

[2021-04-26 11:14] DanilaKazakevich commented on #4360
https://drive.google.com/file/d/1fyCDU6bHqiVX-dnFlMzpQK6Hx6vlbyau/view?usp=sharing

[2021-04-26 11:15] damiencarol commented on #4360
@DanilaKazakevich taking a look at it.
There is some weird stuffs in this part.

[2021-04-26 11:40] madchap commented on #4359
I think many run with 3.7+ already nowadays. Ubuntu LTS comes with 3.8 by default now, but RHEL 8 is still stuck at 3.6. RHEL 9 is around the corner I believe.

Python 3.6 is EOL end of 2021 with only security fixes until then.

I'd say it all depends on the support we want to provide to RHEL 8 people out of the box, for example.

[2021-04-26 12:33] damiencarol commented on #4344
@theoldscarana a pull request that fixes this issue is in progress #4345 .

[2021-04-26 13:30] john-trell opened #4363 "Not possible to import Retire.js Scan JSON results"
**Bug description**
Uploading JSON for Retire.js Scan does not work.

It is because this line references a function that does not exists:

https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/tools/retirejs/parser.py#L19

**Steps to reproduce**
Post a JSON report for the Retire.js Scan type through the import-scan API.

**Expected behavior**
That you can upload a Retire.js Scan result.

[2021-04-26 13:41] damiencarol commented on #4363
@john-trell taking a look.

[2021-04-26 13:46] 37b commented on #4275
You guys mind if I take this? It's just a couple of lines

` message = scan_type + '%s processed a total of %s findings' % (scan_type, finding_count)
`

[2021-04-26 13:50] damiencarol commented on #4363
I'm able reproduce it. Working on a pull request to fix that.
[code]

[2021-04-26 16:58] valentijnscholten commented on #4275
fixed in dev / 1.15.0

[2021-04-26 16:58] #4275 closed

[2021-04-26 17:26] valentijnscholten commented on #4363
fixed in dev / 1.15.0

[2021-04-26 17:26] #4363 closed

[2021-04-27 02:00] mtesauro commented on #4359
I am fine with moving Python to 3.8.  From my testing, godojo use 3.8 when it does an install (tested on Ubuntu 20.04 LTS and 20.10) so at the very least, DefectDojo can be installed and run with 3.8 without any blatant issues.

CentOS/RHEL are always a problem and have historically shipped with less than up-to-date versions of many of their packages.  Lots of places are still using CentOS/RHEL 7

[2021-04-27 06:29] valentijnscholten commented on #4359
Looks like 3.8 would be better for RHEL:
![image](https://user-images.githubusercontent.com/4426050/116195546-a5fda900-a732-11eb-874e-fff047ca9ac3.png)

[2021-04-27 06:29] valentijnscholten commented on #4359
But Debian Buster has 3.7 and BullsEye will have 3.9.

[2021-04-27 07:40] Wadeck opened #4370 "Severity order is alphabetic instead of "severity" based"
**Bug description**
The findings table has a "Severity" column, but the ordering of that column is "surprising".

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to any test with findings
2. Click on the Severity column
3. See the unexpected ordering

**Expected behavior**
I expect severity to be sorted by severity and not by their name.
Critical > High > Medium > Low > Info

**Deplo

[2021-04-27 07:53] n0t4u commented on #4114
It seems that I didn´t to de PR correctly.
I think is now done.
Check this https://github.com/DefectDojo/django-DefectDojo/pull/4371

[2021-04-27 08:46] Wadeck opened #4372 "Duplicate Cluster => Similar instead of "this""
**Bug description**
In the duplicate cluster, from the original of the cluster, its own line is marked as "Similar" while it should be "Original(this)", if we want to be consistent with the "Duplicate(this)".

This is a bit confusing.

**Screenshots** (optional)
From original PoV
![from_original](https://user-images.githubusercontent.com/2662497/116213054-bd925d00-a745-11eb-9ba7-3e19cbe1e455.png)

[2021-04-27 09:08] valentijnscholten commented on #4370
I tride fixing it but datatables doesn't seem to be doing what it should be doing according to the documentation https://github.com/DefectDojo/django-DefectDojo/issues/2312

[2021-04-27 14:23] valentijnscholten commented on #4360
fixed in dev / 1.15.0

[2021-04-27 14:23] #4360 closed

[2021-04-27 14:38] kiblik commented on #3728
But this `engagement_type` is missing in simple `GET /api/v2/engagements/`.

![image](https://user-images.githubusercontent.com/5609770/116259515-c6972480-a76d-11eb-860d-266812443dd2.png)

And using `CI/CD` in `eng_type` is not possible:
[code]

[2021-04-27 15:07] valentijnscholten commented on #3728
You need to use `engagement_type` like Damien said, if you look at the defect dojo api wrapper you see it is using `engagement_type="CI/CD"`

[2021-04-27 16:06] pisces-period commented on #4347
A little bit late I suppose, but IMHO this is the better approach. It doesn't make much sense to create a role that is capable of interacting with the tool so much so as to update resources and not be able to see what it just did (?).

`API_IMPORTER` suggests that you can do imports via API - but it still sounds vague, as one might think that you can bulk import users, products, engagements etc vi

[2021-04-27 16:24] valentijnscholten commented on #4347
renamed role in 1.15.0

[2021-04-27 16:24] #4347 closed

[2021-04-27 16:25] valentijnscholten commented on #4114
fixed in 1.15.0

[2021-04-27 16:25] #4114 closed

[2021-04-27 16:25] valentijnscholten commented on #4344
fixed in 1.15.0

[2021-04-27 16:25] #4344 closed

[2021-04-27 16:25] valentijnscholten commented on #3268
fixed in 1.15.0

[2021-04-27 16:25] #3268 closed

[2021-04-27 16:26] valentijnscholten commented on #4340
fixed in 1.15.0

[2021-04-27 16:26] #4340 closed

[2021-04-27 22:04] dinvlad opened #4377 "Separate endpoints per URL in the UI"
**Is your feature request related to a problem? Please describe**
APIv2 supports endpoints as separate entities for separate protocol+host+port+query+fragment combinations. However, when I add them in the UI, they are grouped on a per-host basis, and certain things (like tagging and deletion) only work on per-host instead of per-endpoint basis.

**Describe the solution you'd like**
I'd like all en

[2021-04-28 01:18] mtesauro commented on #4359
There's nothing stopping us from using Ubuntu for our base for containers - though that's likely not necessary since the "FROM python" containers end up being from Debian and just compile a specific version of Python on top of that OS.  Ironically, I did compare the "FROM python" containers with stock Ubuntu containers and Ubuntu ended up being a bit smaller - but we're talking MB of difference so

[2021-04-28 07:21] valentijnscholten commented on #4359
There are 2 people publishing Python 3.8 backports to Debian Buster, or people can compile from source. I think Debian is more common in corporates than Ubuntu, but not sure.

[2021-04-28 10:41] damiencarol commented on #4377
@dinvlad take a look at the big PR on endpoints. some features in it will cover your need I think https://github.com/DefectDojo/django-DefectDojo/pull/4188

[2021-04-28 12:07] valentijnscholten commented on #4359
The kubernetes deployment in GHA keeps failing on Python 3.7, but works fine consitently on 3.8 so I propose we go with 3.8.

[2021-04-28 12:30] true-hero commented on #4336
It should look something like this?
[code]
Is it ok to use it in local_settings.py?

[2021-04-28 12:36] damiencarol commented on #4336
better to use `local_settings.py`.
I don't know the exact parameter name.

[2021-04-28 12:37] SecurityEdge2 commented on #3989
@valentijnscholten where this X is configured. What's the default X value?

[2021-04-28 12:59] valentijnscholten commented on #3989
it's hardcoded 10 days, feel free to open a PR to make it configurable via settings for example.

[2021-04-28 13:50] madchap commented on #4359
Now on 3.8.

[2021-04-28 13:50] #4359 closed

[2021-04-28 14:58] pisces-period opened #4384 "Extend reader rights to API importer role"
**Is your feature request related to a problem? Please describe**

The new `api_importer` role allows an account, scoped within a product or product type, to import/re-import scans. According to the Object Based Authorization Model, by design the API importer is not able to see (read) the engagement(s), test(s) or product(s) to which it is associated. Its purpose is strictly to import or re-import

[2021-04-28 15:59] #4377 closed

[2021-04-28 16:12] madchap opened #4385 "Helm chart not released"
**Bug description**
Error during our GHA during release.

[2021-04-28 16:37] #4385 closed

[2021-04-28 21:28] #4330 closed

[2021-04-28 21:35] damianmadeira commented on #3840
hello @damiencarol, I can see available the version 1.15.0. Was issue incorporat in this version ?

[2021-04-29 08:32] alles-klar commented on #4319
resolved in #4373

[2021-04-29 08:32] #4319 closed

[2021-04-29 08:39] damiencarol commented on #3840
@damianmadeira no sadly, I didn't had time for this new parser. we will have more time for the next release `2.0.0` (2 months)

[2021-04-29 08:47] damiencarol commented on #4216
Fixed in `dev` / `1.15.0`

[2021-04-29 08:47] #4216 closed

[2021-04-29 13:36] damiencarol opened #4394 "Synopsys Coverity SAST"
New parser for Synopsys Coverity.

https://www.synopsys.com/software-integrity/security-testing/static-analysis-sast.html

[2021-04-29 13:47] damiencarol commented on #4161
fixed in `dev` / `1.15.0`

[2021-04-29 13:47] #4161 closed

[2021-04-29 17:08] StefanFl commented on #4384
I think this idea makes sense.

[2021-04-29 22:21] jgirelli commented on #2233
+1 this issue. I can't find any documentation on how to configure Tool Types or Configurations. It is referenced in the SonarQube API section under "Integrations", but the term "Tool Configuration" never appears again in the docs.

[2021-04-30 06:16] damiencarol commented on #2233
@jgirelli as notified in our "Support" section of the README.md https://github.com/DefectDojo/django-DefectDojo#support-bug-reports-and-getting-involved , this kind of question are better to manage directly in Slack => https://owasp-slack.herokuapp.com/

Closing this one as it's not really an issue.

[2021-04-30 06:16] #2233 closed

[2021-04-30 07:26] gh0st27 opened #4399 "Burp XML Import Failed"
**Bug description**
While uploading Burp Suite XML Scan report to defect dojo latest version (1.15.0) gives following error.
"ERROR [dojo.importers.utils:23] 'utf-8' codec can't decode byte 0x85 in position 249: invalid start byte"

**Steps to reproduce**
Steps to reproduce the behaviour:
1. Go to 'Engagement -> Active Engagement '
2. Click on 'Any Engagement'
3. Create a new test to upload burp s

[2021-04-30 07:32] damiencarol commented on #4399
Taking a look, thanks @gh0st27 for reporting.

[2021-04-30 07:50] damiencarol commented on #4399
I'm able to reproduce the bug, working on a PR
[code]

[2021-04-30 11:39] damiencarol commented on #4399
@gh0st27 pushed a pull request that fixes this issue.
This issue happen when there is binary data in the base 64 encoded string.

[2021-04-30 12:08] Brightside56 opened #4406 "[Nmap parser] incorrect CVE filter"
**Description**

Report generated by Nmap with vulners script produce multiple vulnerability identifiers, not only CVE.
It breaks the parser that treats every identifier as CVE.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to somewhere where you can upload scanning report
2. Unpack newrep.zip file and upload newrep.xml as nmap report
[newrep.zip](https://github.com/DefectDojo/dja

[2021-04-30 12:46] damiencarol commented on #4406
Took a look at and confirm the format changed.
[code]
I'm working on a patch to make the parser more resilient.

[2021-04-30 14:08] 37b opened #4409 "Risk Recon importer does not include Unique Finding ID from tool"
@cody-m-tibco

Hi Cody,

Could you add The Unique Finding ID from tool to the Finding object while doing Risk Recon import? I am trying to close the Finding on the Risk Recon side using automation, but I can't correlate the DD finding with the RR finding.

If you don't have time I can take a stab at adding it.

[2021-05-01 06:40] valentijnscholten commented on #4262
This is now resolved in dev / 2.0.0.

[2021-05-01 06:40] #4262 closed

[2021-05-01 16:19] valentijnscholten commented on #4077
@StefanFl feel free to make a PR, the next release is 2.0.0

[2021-05-01 16:46] valentijnscholten commented on #3728
Started a poll to get feedback on what direction to take: https://owasp.slack.com/archives/C014H3ZV9U6/p1619887528113700

[2021-05-02 02:17] mtesauro commented on #3728
Restating my opinion from Slack here FWIW:
I'd keep the two hard coded options and remove the engagement_type model.  I think with the recent tagging improvements, you can get 90% of what having that separate model provides with far lower complexity.

I really like the idea of tags being something for 'location specific' customizations (e.g. what happens at **your** company) - it provides great fl

[2021-05-02 10:36] damiencarol commented on #3728
I checked the API v2 but  `engagement_type` is not in the filters for the `GET`. Oddly you can set it for the `POST` :D
this is something we could fix in this release (`2.0.0`) I think.

[2021-05-02 11:14] damiencarol commented on #4409
@37b @cody-m-tibco  hello Chris and cody , if you don't mind, I can take this one.

[2021-05-02 12:58] damiencarol opened #4420 "Remove django-tagging dependency once #4419 is merged"
once #4419 is merged , we can remove `django-tagging`

[2021-05-02 13:12] valentijnscholten commented on #4420
that would break migration 0066

[2021-05-02 13:17] damiencarol commented on #4420
:thinking: Is ee, we must keep it in case users want to upgrade from version before migration 0066.
So we're stuck with a dependency that we don't use anymore in the rest of the application.

[2021-05-02 15:03] damiencarol commented on #4420
closing for now. maybe reopen if we want to get ride of `django-tagging` for future releases.

[2021-05-02 15:03] #4420 closed

[2021-05-02 18:08] #4358 closed

[2021-05-02 18:08] #3436 closed

[2021-05-02 18:45] valentijnscholten commented on #3436
removed as part of api v1 removal.

[2021-05-02 19:38] valentijnscholten commented on #3694
done in dev/2.0.0

[2021-05-02 19:38] #3694 closed

[2021-05-02 21:49] madchap opened #4426 "dedupe management fails"
**Bug description**
A clear and concise description of what the bug is. For errors include at least the exact error message you are seeing (including traceback).

While testing https://github.com/DefectDojo/django-DefectDojo/pull/4353 (but certainly unrelated, had a glitch in my auto test setup).

[code]

[2021-05-03 06:45] valentijnscholten commented on #3693
fixed in dev/2.0.0

[2021-05-03 06:45] #3693 closed

[2021-05-03 09:35] madchap opened #4432 "migration failing due to 2nd engagement_type removal migration"
**Bug description**
[code]

[2021-05-03 09:38] madchap commented on #4432
Caused by duplicated migration file. Fixed normally (directly committed).

[2021-05-03 09:55] #4432 closed

[2021-05-03 09:56] valentijnscholten commented on #3728
fixed in dev/2.0.0 after 200 PRs sorry about that

[2021-05-03 09:56] #3728 closed

[2021-05-03 12:55] damiencarol commented on #4394
Fixed in `dev` / `2.0.0`

[2021-05-03 12:55] #4394 closed

[2021-05-03 14:23] tonnyhideyori opened #4436 "mozilla observatory scan report can not be imported"
I tried to import mozilla observatory scan reports on findings. But keep raising error

hence, is there any solution for that error

[2021-05-03 14:27] #4406 closed

[2021-05-03 14:27] #4399 closed

[2021-05-03 14:31] #4306 closed

[2021-05-03 14:32] #4157 closed

[2021-05-03 17:18] valentijnscholten commented on #4077
done in dev/2.0.0

[2021-05-03 17:18] #4077 closed

[2021-05-04 08:56] damiencarol commented on #4436
@tonnyhideyori hello, could you provide more details? is it possible to push the report in the description? (even redacted)

[2021-05-04 09:03] #4426 closed

[2021-05-04 11:23] n0t4u opened #4443 "Unable to upload images through API request"
**Bug description**
I´m trying to automate the upload of evidences in each finding using the V2 api. The request path is POST
​/findings​/{id}​/files​/. The problem is that I´m unable to upload images due to the encoding type of the form. I have tried both via web (/api/v2/doc/) and via cURL as you can see in the requests below.
[code]
Several files have been tested and the error is the same alway

[2021-05-04 12:48] valentijnscholten commented on #4443
@Maffooch Did you manage to find a way to submit the files during your PR testing?

[2021-05-04 13:33] tonnyhideyori commented on #4436
when I upload the file i get this warning
![import](https://user-images.githubusercontent.com/18649939/117010520-2bfa9080-aced-11eb-98a8-a9887ea4bfb6.png)
the report is generated locally mozilla observatory

{
  "scan": {
    "grade": "F",
    "likelihood_indicator": "MEDIUM",
    "response_headers": {
      "Accept-Ranges": "bytes",
      "Cache-Control": "public, max-age=0",
      "Connection":

[2021-05-04 15:16] damiencarol commented on #4436
ok, I see. had the same format of report with the CLI.
I will work on it. I think I can modify the parser to accept the 2 format.

[2021-05-04 16:05] damiencarol commented on #4409
pushed a pull request to cover this one https://github.com/DefectDojo/django-DefectDojo/pull/4444

[2021-05-04 17:23] madchap commented on #4190
You can also use `DD_ALLOWED_HOSTS` environment variable to help override as well. That's what I did to set the 2 hosts and have internal checks work too.

[2021-05-04 17:24] #4190 closed

[2021-05-04 17:27] valentijnscholten commented on #4372
fixed in dev/2.0.0

[2021-05-04 17:27] #4372 closed

[2021-05-04 17:31] madchap commented on #4096
I ran a quick test seeing this, but it seem that

[code]

I can take a look at it.

[2021-05-04 17:48] madchap commented on #4096
I was on an older version of nikto (had their git repo checked out). Just updated to their latest `master`, worked just fine :+1:

So I guess we're good!

This was an easy one :smiley_cat:

[2021-05-04 17:48] #4096 closed

[2021-05-04 17:49] #4147 closed

[2021-05-04 17:51] madchap commented on #4071
I find it weird most likely because I guess there are so many filters.

Maybe some custom message in the blue bar or simple an interrogation point leading to text?

[2021-05-04 20:58] madchap opened #4448 "Setting a duplicate results in 500 when viewing test"
**Bug description**
Playing with setting and unsetting duplicate in the view_finding, edit_finding views.

I was on a finding which was "inactive, duplicate" (test number 2)
I reset the finding's duplicate status, then becomes active.
In similar finding, I set a duplicate status to some other finding (had only 1 choice in this case, in a different test, same product, same engagement)
I navigate ba

[2021-05-04 21:08] madchap commented on #4448
ah, that's the thing you fixed in https://github.com/DefectDojo/django-DefectDojo/pull/4353 earlier. I will close this with that note.

[2021-05-04 21:08] #4448 closed

[2021-05-05 07:07] tonnyhideyori commented on #4436
Thank you

[2021-05-05 08:32] Parthasarathi7722 opened #4450 "Parser issue while importing AWS_Prowler report"
**Bug description**
Getting parser issue while importing aws_prowler report
Import file type: csv
DefectDojo version: v. 1.15.0 ( release mode )

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Product>>Findings>>Import scan result'
2. Upload the csv file obtained from prowler
3. see the error on screen "An exception error occurred during the report import:must be str, not NoneTy

[2021-05-05 13:40] damiencarol commented on #4436
@tonnyhideyori could you tell me how you create the reports? which command line ?
do you use the JS version or the Python version?

[2021-05-05 14:00] damiencarol commented on #4450
One column is missing and make the parser crash. I'm working on a patch.

[2021-05-05 16:21] damiencarol commented on #3798
There are many users that want this feature. I'm taking a look at it

[2021-05-05 18:10] kiblik opened #4453 "AuthV2: Missing Role names in API"
**Is your feature request related to a problem? Please describe**
API supports to see Member:Product and Member:ProductType relations including Role ID. However, it is not possible to show the list of Role names.

Bonus:
Prefetch roles

**Describe the solution you'd like**
API call `GET /roles/` which will return something like:
[code]

**Describe alternatives you've considered**
As I know, there

[2021-05-06 08:11] tonnyhideyori commented on #4436
I have a python version. so i generated through httpobs-local-scan and the other one through python script in http-observatory directory clone from github

[2021-05-06 12:47] madchap commented on #1714
Giving a local try to opentelemetry and see if this easily leads somewhere.

[2021-05-06 14:14] madchap opened #4455 "Burp Enterprise parser fails"
**Bug description**

`An exception error occurred during the report import:module 'defusedxml.ElementTree' has no attribute 'HTMLParser'`

[2021-05-06 14:15] madchap commented on #4455
Probably fixed already, my prod is running late by a couple weeks from dev.

[2021-05-06 14:15] #4455 closed

[2021-05-06 16:18] damiencarol commented on #1714
@madchap analyzed how to part for parsers stats could work and we need the feature to enable/disable first.
I mean, impossible to know if people are suing a parser if everything is activated by default :)

[2021-05-06 16:40] madchap commented on #1714
cool yea, I was meaning to ask.

I will focus my POC around the higher level bits and all, and leave the parser refactoring to you :P

[2021-05-06 17:24] StefanFl commented on #4453
Roles are currently not in the database but hardocded. This will be a future enhancement, too make roles configurable and store them in the database.

I would actually see an alternative: The role name could be given with every member, not as a separate endpoint. Would that work for you?

[2021-05-06 17:36] StefanFl commented on #4384
What do the maintainers think about it? @valentijnscholten , @damiencarol, @madchap, @Maffooch

[2021-05-06 18:19] madchap commented on #4450
Fixed in dev.

[2021-05-06 18:19] #4450 closed

[2021-05-07 06:20] damiencarol commented on #4436
fixed in `dev` / `2.0.0`

[2021-05-07 06:20] #4436 closed

[2021-05-07 09:17] kiblik commented on #4453
I suppose this is acceptable for `GET`s - fetching actual setting.
However, it is not usable for `PUT`s, `POST`s and `PATCH`es - creating/updating roles

[2021-05-07 09:51] StefanFl commented on #4453
Alright, I will implement the names for the `GET`s of the members.

Creating and updating of roles is currently not possible because they are hardcoded. When we will implement configurable roles, they will get API endpoints.

[2021-05-07 10:01] damiencarol commented on #4384
I will face the same situation in my own company/use case @StefanFl . it make sense I think. but @pisces-period could we just give the 2 roles to your technical account? (`reader` and `api_importer`)

**TLDR; I agree**

[2021-05-07 12:48] SPoint42 opened #4466 "Aqua Parser did not use the good value for severity"
Here the extract of the JSON from the Aqua Scan

[code]

You can notice the aqua_score and the nvd_score is 4.

When you dig into the parser code you see :

[code]

		and
[code]

So this means the severity will be Medium (as the score is 4). But after importing the severity is 'Critical'
![image](https://user-images.githubusercontent.com/7026262/117451705-25655680-af43-11eb-9155-424c57acb462.png)

[2021-05-07 15:11] valentijnscholten commented on #4384
I was hoping we could assign multiple roles to a user, but if that's not possible, then yes api import should have read permission to most things related to products/engagements/tests.
Depending on the usecase, it may need more permissions. In my CI/CD jobs I am creating engagements when needed for example. Might even want to create Products when needed. So pretty soon you end up at a writer role.

[2021-05-07 22:14] Brightside56 opened #4471 "Failed to parse Nessus report"
I've tried to parse Nessus scanner (latest, Tenable) report in xml format via DefectDojo import scan results feature. I've got following parser error. CSV report isn't importing too (I've attached both just in case)
[code]
DefectDojo version is 1.15.0 (docker)
[nessus.zip](https://github.com/DefectDojo/django-DefectDojo/files/6444556/nessus.zip)

[2021-05-07 22:19] #4471 closed

[2021-05-08 08:04] damiencarol commented on #3729
Fixed in `dev` / `2.0.0` by #4246

[2021-05-08 08:04] #3729 closed

[2021-05-08 08:06] damiencarol commented on #3990
Fixed in `dev` / `2.0.0`

[2021-05-08 08:06] #3990 closed

[2021-05-08 11:13] valentijnscholten commented on #4453
fixed in dev / 2.0.0

[2021-05-08 11:13] #4453 closed

[2021-05-08 11:13] #4384 closed

[2021-05-08 14:49] damiencarol opened #4474 ""Add Product Tool Type Configuration" produces error 500 on current dev branch"
**Bug description**
Add Product Tool Type Configuration produces error 500 when validating.

https://demo.defectdojo.org/product/1/tool_product/add

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'Product settings'
2. Click on 'Add Product Tool Type Configuration '
3. Validate
4. See error

[2021-05-08 16:18] valentijnscholten commented on #4474
works fine for me locally, could be some flaky test / sample data in the demo instance?

[2021-05-08 19:11] damiencarol commented on #4474
don't know. will test more

[2021-05-08 19:12] valentijnscholten commented on #4474
I think Matt posted a url to view the logs from the demo site

[2021-05-08 19:40] damiencarol commented on #4474
I found the pb. one attribute is mandatory but the UI let you validate without it, don't which one without the logs... maybe the description.

[2021-05-10 07:06] saldam72 opened #4477 "docker image scanner (anchore, trivy ...)"
When I import the results generated by an image scanner (anchor, trivy ...) I can't enter the name of the image repository in the endpoint field.

Allow to insert the name of the image repository in the endpoint field.

[2021-05-10 08:25] saldam72 commented on #4477
If I insert into the system/endpoint field something like "goofy-disney" I got an error but if "goofy-disney-1.0.0-goofy" I got success.

Is this a bug ?

[2021-05-10 10:15] damiencarol commented on #4477
@saldam72 system/endpoint is not designed to handle image name but URLs.
Also the link between the interface and the import is not implemented for now, I think (I maybe wrong)

[2021-05-10 10:51] saldam72 commented on #4477
@damiencarol I have successfully imported two files generated by scanning two diferent images with anchon (the only problem is that the unique_id_from_tool field has been populated with the CVE and I don't think that's correct)

I think it is important to save also image name because the same vulnerability found on two different images is not one vulnerability but two

[2021-05-10 13:09] yilmi commented on #4115
Can't close this task myself.

[2021-05-10 13:47] valentijnscholten commented on #4115
fixed in dev/2.0.0

[2021-05-10 13:47] #4115 closed

[2021-05-10 15:00] damiencarol commented on #4477
Maybe it's linked to your way to group the scans. can you have one project by image instead of grouping every scan on the same project ?

[2021-05-11 07:34] saldam72 commented on #4477
No, we have one product, one engagement (of course we can have other engagements) and many test (manual, appscan, contrast, anchore/trivy for each image and so on).

[2021-05-11 07:49] Akilroyfen opened #4485 "docker-compose build failed"
Bug description
Unable to run  docker-compose:
 docker-compose build
mysql uses an image, skipping
initializer uses an image, skipping
rabbitmq uses an image, skipping
celeryworker uses an image, skipping
celerybeat uses an image, skipping
Building uwsgi
Sending build context to Docker daemon   79.9MB
Step 1/27 : FROM python:3.6.12-slim-buster@sha256:e5259113df5a7c4dae16ad37c2ca53b1cf722e051cfd5f6

[2021-05-11 07:54] valentijnscholten commented on #4485
This is a local problem. Are you installing docker for ubuntu on centos? It's unclear what you're doing, but anyway this error message is something with timestamps not matching in apt repositories and not related to defect dojo.
We've seen this occasionally and it either resolved itself or people were using the wrong apt repositories.

[2021-05-11 08:29] Akilroyfen commented on #4485
Thank you so much, there was a mismatch in my timestamp. Fixed it and now it's working fine. Closing the defect

[2021-05-11 08:29] #4485 closed

[2021-05-11 12:16] christophe226 opened #4486 "Set a configurable min_access_level for Gitlab projects import"
**Is your feature request related to a problem? Please describe**
As a user, when I use "Login with Gitlab" button and GITLAB_PROJECT_AUTO_IMPORT is set to True, all the Gitlab projects I am member of are imported as products, regardless of my access level on the project (Guest, Reporter, Developer...)

**Describe the solution you'd like**
As DefectDojo admin, I want to set a global min_access_lev

[2021-05-11 14:11] 37b opened #4488 "Add ability to override SLA on a per-product basis"
**Is your feature request related to a problem? Please describe**
In my use of Defect Dojo I have multiple "tiers" of products based on criticality. Because the SLAs for critical products are different from those less-important products, I can't use the built-in SLA features.

**Describe the solution you'd like**
Ideally, a configurable set of SLAs that can be applied on a product type or overridd

[2021-05-11 14:45] christophe226 opened #4489 "Gitlab projects tag_list and web_url reflected in products"
**Is your feature request related to a problem? Please describe**
As a user, sometimes I want to filter DefectDojo products on specific tags which were in Gitlab projects, but it is not possible:
when my Gitlab projects are imported as DefectDojo products, only the Gitlab project name is used to create the product, tag_list information is not used.
I also would like to retrieve Gitlab project URL

[2021-05-11 17:01] #4466 closed, assigned to nobody

[2021-05-12 10:03] true-hero opened #4492 "phpcs parser does not work"
## Bug description
phpcs parser does not work properly. I am using fresh version 1.15.0 of dd. I can see error in logs:
[code]

## Steps to reproduce
Steps to reproduce the behavior:
1. Get phpcs report file
2. Try to import the report

##  Deployment method
- [ ] Kubernetes
- [X] Docker
- [ ] setup.bash / legacy-setup.bash

**Environment information
 - Ubuntu 20.04
 - DefectDojo 1.15.0

## Sample

[2021-05-12 12:22] damiencarol commented on #4492
@true-hero taking a look.

[2021-05-12 12:46] damiencarol commented on #4492
@true-hero I checked the history and the fix for #4217 was merged since April 12th ( https://github.com/DefectDojo/django-DefectDojo/commit/b0bdc100a16c9298c3e5a3f34127ce4b927b6d99#diff-c535343e0809fd29dfa8c6b9a612dfeff7bab52225b47ed8581b18c69ee36825 ) so the fix was part of the `1.15.0` release that we released at the end of April.
So the big question is why do you have this issue? :thinking:

[2021-05-12 12:52] damiencarol commented on #4492
Last thing, the source code of `1.15.0` is different in your stack trace.
https://github.com/DefectDojo/django-DefectDojo/blob/e1691cb914d8c33169c491606aee45fee44806d8/dojo/tools/php_security_audit_v2/parser.py#L39

[code]

Something is fishy here. I'm not sure that you're using version `1.15.0`

[2021-05-12 14:59] true-hero commented on #4492
@damiencarol , you right. On test environment, I try the following code, and it is not update my image:
[code]
After i update image, phpcs parser works correctly. Thank you.

[2021-05-12 14:59] #4492 closed

[2021-05-13 06:18] valentijnscholten commented on #3798
#4484

[2021-05-13 07:35] valentijnscholten commented on #4477
We have seen this requirement before. Some applications exist of multiple smaller services, each in their own docker container. And sometimes people want to import these scans into the same product and same engagement to limit the amount of products/engagements needed. So at some point we may need to introduce an extra field to help with this. "servicename" or "application component name" or somet

[2021-05-13 09:08] true-hero opened #4500 "[phpcs] Rules error"
## Bug description
Bug appears in production environment, when I try to upload phpcs report. Error log looks like this:
[code]

There is no such problem on testing environment with fresh database.
UPD. It is problem with rules framework. When i delete my rules, problem was solved.

## Steps to reproduce
Steps to reproduce the behavior:
1. Get phpcs report file
2. Try to upload it

## Environment i

[2021-05-13 09:43] valentijnscholten commented on #4500
what rules did you put in place?

[2021-05-13 12:19] saldam72 commented on #4477
from my point of view system/endpoint is perfect ... you should just allow to insert something like "goofy-disney" and if string starts with http/https you can parse it otherwise you can save is without parsing in the host filed of the defectdojo.dojo_endpoint table

[2021-05-13 16:15] devsecopsale opened #4504 "Clair Scan file upload fails when parsing"
**Be informative**
When I try to upload a Clair Scanner (json) file, it fails with server 500 code error.
when I look at the logs I can see:
"TypeError: string indices must be integers"

**Bug description**
Clair Scan can't be imported due to an error.
This is cause by an improper json file parsing. I'll submit a pull request on this to fix it.

**Steps to reproduce**
Steps to reproduce the behavi

[2021-05-13 16:41] damiencarol commented on #4504
@devsecopsale could you provide a stack trace? the report that fail ? (even redacted)

[2021-05-14 06:38] damiencarol opened #4508 "Fix search on outpost24 parser"
**Is your feature request related to a problem? Please describe**
No-future proof XML path search expression.

https://github.com/DefectDojo/django-DefectDojo/blob/38609f7316cf6bf6cb30736f644fe2c66cc71061/dojo/tools/outpost24/parser.py#L24

[code]

**Describe the solution you'd like**
Fix the parser

[2021-05-14 08:20] true-hero commented on #4500
![Снимок экрана 2021-05-13 в 12 10 20](https://user-images.githubusercontent.com/32260664/118242781-5b0bc180-b4a6-11eb-89e6-9622de8263f5.png)
![Снимок экрана 2021-05-13 в 12 10 15](https://user-images.githubusercontent.com/32260664/118242785-5c3cee80-b4a6-11eb-913d-9e86a9afe52c.png)
![Снимок экрана 2021-05-13 в 12 10 08](https://user-images.githubusercontent.com/32260664/118242788-5c3cee80-b4a6-11

[2021-05-14 08:38] valentijnscholten opened #4510 "CVSS3 errors in integration test logs"
[code]

Could indicate some problems, does the UI accept invalid entries?

[2021-05-14 09:08] true-hero commented on #4500
I completely remove them, to make phpcs parser works

[2021-05-14 09:52] saldam72 commented on #3680
hello team,
is there any news?

best,
Sal

[2021-05-14 09:52] devsecopsale commented on #4504
web-ui error message:

An error has occurred in the parser, please see error log for details.

nginx trace:

nginx_1         | 2021/05/14 08:36:10 [warn] 6#6: *103 a client request body is buffered to a temporary file /var/cache/nginx/client_temp/0000000001, client: x.x.x.x, server: , request: "POST /test/19/re_import_scan_results HTTP/1.1", host: "xxxxx:XXX", referrer: "http://xxxxx:XXX/test/19/r

[2021-05-14 10:23] damiencarol commented on #4510
the validation of this attribute is a mess.
the regex is wrong if you take a look a the model attribute.
which parser was used for this data?

[2021-05-14 10:29] damiencarol commented on #4500
thanks for the details @true-hero . Sadly, I don't know very well this part (rules). :/

[2021-05-14 12:22] devsecopsale commented on #4504
Pull request #4505  (that I submitted yesterday) should fix this

[2021-05-14 14:11] damiencarol commented on #4504
@devsecopsale it seems you are facing an already fixed bug (see https://github.com/DefectDojo/django-DefectDojo/pull/4120).
Could you complete the description of the issue with your version? I have the feeling that you are using an old version that have an old bug.

[2021-05-14 14:19] devsecopsale commented on #4504
Hi @damiencarol  , it seems you are right. It was fixed like one month and a half ago in dev and then pulled to master.

[2021-05-14 14:19] #4504 closed

[2021-05-14 14:33] damiencarol opened #4513 "Improve SonarQube integration with SonarCloud API"
**Is your feature request related to a problem?**
SonarQube API Import integration doesn't seem to work with sonarcloud.io (paid plan). This is due to api/components/search and api/rules/show requiring an organization field in SonarCloud, but not in SonarQube.
It is possible to make it work by hard-coding the org name in those two requests:
https://github.com/DefectDojo/django-DefectDojo/blob/3860

[2021-05-14 15:53] valentijnscholten commented on #4510
it's entered into the UI during integration tests

[2021-05-14 16:15] damiencarol commented on #4510
ok.
I remember the JS part on this field was modified not long ago.

I guess it's this part:
[code]

[2021-05-17 12:29] zakrush opened #4521 "Cargo audit"
**Scanner Name**
Cargo audit.
Hello, It helpfull importer of `cargo audit` for rust dependencies.
https://crates.io/crates/cargo-audit

It can generate only `text` or `json` format.
`cargo audit --json >> ./cargo-audit.json`

**Sample File**
I attached json output into txt file
[cargo-audit.txt](https://github.com/DefectDojo/django-DefectDojo/files/6493736/cargo-audit.txt)

[2021-05-18 06:36] LithiumBloom commented on #3424
Hi, any update on this one? If not, could I get some guidance on how to fix myself? Is it just a matter of creating a new parser similar to django-DefectDojo/dojo/tools/jfrogxray/parser.py or would I need to do something else to get the app to pick up the new importer? I'm not too familiar with factories unfortunately

[2021-05-18 15:23] saldam72 opened #4523 "Make connection to database via SSL configurable without build docker image"
Hello Team,
We need to connect to an external MySQL using SSL so using Docker version:
1. I have installed MySQL and enabled SSL
2. I have created defectdojo user and force SSL connection
3. I have created defectdojo database and granted permission to defectdojo user
4. I have modified docker-compose.yml (I have deleted mysql section and updated some parameters)
5. I have copied certificate in dja

[2021-05-18 19:10] valentijnscholten commented on #4198
Yeah, the endpoint_status thing wasn't 100% completed I think. There are also some performance issues around it which we need to tackle.

[2021-05-18 19:10] valentijnscholten commented on #3424
You can follow our guide: https://defectdojo.github.io/django-DefectDojo/contributing/how-to-write-a-parser/ but the cookie cutter has some pending PRs I think to improve it.
Another good inspiration are the latest merged PRs with label "Import Scan": https://github.com/DefectDojo/django-DefectDojo/pulls?q=is%3Apr+sort%3Aupdated-desc+is%3Aclosed+label%3A%22Import+Scans%22

[2021-05-18 19:37] VitorDominguesR opened #4524 "Images on report when placed in files"
Hi guys,

When we upload an image in a finding by using the "Manage Images" in the finding view, the app says that it will be no longer used and says to use the files instead.

However, when we generate a PDF report, there's no option to include this files or images in the report.

Another thing that i personally like more using the API is the image comes in base64 together with the finding and we

[2021-05-18 22:45] juanxhos opened #4526 "Please add social_core.backends.open_id.OpenIdAuth"
https://github.com/DefectDojo/django-DefectDojo/blob/6bbb041084ec39f495fb5fc9ce4d2359e7ec1cb9/dojo/settings/settings.dist.py#L318

Please add social_core.backends.open_id.OpenIdAuth
to have open integration with oidc

[2021-05-19 19:37] ansidorov commented on #4521
I will make a parser for cargo audit

[2021-05-19 19:41] ansidorov commented on #3898
I will make a parser

[2021-05-19 20:21] ravikariya1337 opened #4529 "Steps to Reproduce - Uploading Image Not working"
Dear Team,

In steps to reproduce, while uploading images for the Proof of Concept, I did something like given in the following screenshot:

![Screenshot 2021-05-20 015024](https://user-images.githubusercontent.com/65010206/118879040-de496f00-b90d-11eb-8631-7f0e2af7efca.png)

However, in the preview of the finding, images are not getting shown up and getting broken image icon as shown in the follo

[2021-05-20 07:26] dsever opened #4532 "APIv1 leftover"
**Bug description**

In dev  repo, (v.2.0) inside of user profile, user can ask for API key that still is pointing to the APIv1 endpoint, so error 500 is there.

![image (22)](https://user-images.githubusercontent.com/7211879/118936999-5b480900-b94d-11eb-9181-65aa6080b0ed.png)
![image (21)](https://user-images.githubusercontent.com/7211879/118937005-5c793600-b94d-11eb-8492-947289a88bc1.png)

**Exp

[2021-05-20 12:26] bgoareguer commented on #4489
Good idea!

Would it be possible to also add the Gitlab project URL in the DefectDojo product description? This would allow users to easily go back to the Gitlab project from DefectDojo.

[2021-05-21 06:27] cyclopsbarrack opened #4540 "Error implementing devsecops in jenkins"
When we try to push results of trufflehog tool from jenkins to defect dojo using upload results.py (https://github.com/cyclopsbarrack/webapp/blob/master/upload-results.py) we are getting 403 issue.Any Possible solution to fix this?

![403](https://user-images.githubusercontent.com/78903969/119090876-ce26b200-ba29-11eb-9ecc-e30f36fe31f7.png)
![jenkins](https://user-images.githubusercontent.com/7890

[2021-05-21 10:02] saldam72 opened #4543 "DD_EDITABLE_MITIGATED_DATA is't configurable by local_settings.py file"
Hello Team,
I'm trying to set some configuration parameters using local_settings.py file but this change has not affecting DD_EDITABLE_MITIGATED_DATA parameter (below local_settings.py file content)

DD_DATABASE_HOST = 'host.docker.internal'
DD_DATABASE_PASSWORD = '...SOME PASSWORD...'
DD_EDITABLE_MITIGATED_DATA = True
DATABASES['default']['OPTIONS'] = {
    'ssl': {'ca': '/ca.pem'}
}

Best,
Sal

[2021-05-21 12:11] #4543 closed

[2021-05-21 13:07] MichaelGissingNC commented on #4513
@damiencarol I am currently evaluating DefectDojo. I tried to patch the 2 requests with the organization field.
However, I don't get any error messages, also not wihtout the patch. Any hints on how to figure out if the tool was even triggered?

Thanks for your work!

[2021-05-21 13:22] damiencarol commented on #4513
@MichaelGissingNC you should be able to have more details by checking at the alert zone the upper right corner
![image](https://user-images.githubusercontent.com/1694940/119143836-5c119580-ba48-11eb-98d3-f4d0f0390b63.png)

[2021-05-21 13:58] valentijnscholten commented on #3569
I made a start in https://github.com/DefectDojo/django-DefectDojo/pull/4541 but it seems `drf-spectacular` has some rough edges . So for now I think I will concentrate on fixing the wrong schema's in our current Swagger/OpenAPIv2 spec.

[2021-05-21 16:04] StefanFl commented on #4532
Is anyone on it already? Otherwise I would volunteer.

[2021-05-21 16:50] StefanFl commented on #4125
With auth v2 you can add tags when you have the role Writer, Maintainer or Owner, just checked that.

[2021-05-21 18:25] StefanFl commented on #3174
I think this makes sense when you want to use notifications for a larger installation.

[2021-05-21 20:35] dsever opened #4547 "Inconsistency in user creation process"
There is no equal implementation for users created by API and one created by GUI.

Clarification:
During the creation of user in GUI,  program set `unusable`  (set_unusable_password() ) password that brings advantage when external identity provider is in use (e.g. LDAP), so user can't change their password and use it as local user.

[code]

At the other hand API doesn't respect this best practice,

[2021-05-22 04:10] damiencarol commented on #4532
@StefanFl assigning to you.

[2021-05-22 06:50] StefanFl commented on #4547
I can fix this together with #4532

[2021-05-22 09:16] damiencarol commented on #4540
which version of Truffehog do you use? the situation around v2 and v3 is a mess. reports are incompatibles. It's why we have 2 different parsers.

[2021-05-22 09:42] damiencarol commented on #4529
@ravikariya1337 a user wanted to do exactly what you wanted to do and succeed. I think images are in a sub-folder (something like `media`, I don't remember). But it's more a hack, not supported today.

[2021-05-22 09:45] damiencarol commented on #3424
Hi @LithiumBloom , I'm still working on it as we have Xray running at my company (so real data to test). It's not finished yet, I'm trying to use the API.
If you have some doc focused on the API, I'm interested.

[2021-05-22 14:19] valentijnscholten commented on #4547
Thanks for reporting/fixing. Actually didn't notice Defect Dojo doesn't have a "Forgot Password" feature. Should we add it (behind a settings flag)?

[2021-05-22 14:23] valentijnscholten commented on #4547
Users also get created via LDAP (and possibly OIDC/Oauth/SAML), not sure if the unusable password is already being set there.

[2021-05-22 16:55] StefanFl commented on #4547
I don't see how LDAP and OAuth create users, maybe it's part of the libraries. With OAuth for Microsoft Azure in my productive environment I can't change my password, so I assume it's fine there.

[2021-05-22 17:43] valentijnscholten commented on #4547
SAML: https://github.com/fangli/django-saml2-auth/blob/825c1092803c38f626089763a7a3e030f2f82c1d/django_saml2_auth/views.py#L140
LDAP: https://github.com/django-auth-ldap/django-auth-ldap/blob/2758cdb1700933aacb0c0a79847ec9923d095cd3/django_auth_ldap/backend.py#L596
Social App Django: https://github.com/python-social-auth/social-app-django/blob/b6e791adf96c3f13c3e499669e50093f8dc23461/social_django

[2021-05-23 01:16] LithiumBloom commented on #3424
Hi @damiencarol yeah I've been working on this and I think its pretty much done, just gonna do a few sanity checks on Monday before working out how to do the pull request. Hope it wasn't wasted effort if you're working on it too but oh well haha. I'm not sure what you mean by the api, do you mean defect dojo getting the data directly from xray's api rather than having to manually upload the Json f

[2021-05-23 07:57] StefanFl commented on #4547
For SAML we would need someone else to test it, I don't have the environment available.
Don't know why, but for Social App Django it works in my productive environment. Users who login via Microsoft can't change their password.

[2021-05-24 13:32] AliElKhatteb opened #4552 "Acunetix Parser Bug"
hello guys i hope you are doing great, i am facing an issue with Acunetix parser i tried to use the re-upload feature to upload my report and i got this error message
**Deployment method** *(select with an `X`)*
- [X] Kubernetes

**Console logs** (optional)
[pid: 1|app: 0|req: 262549/510967] 10.25.159.25 () {34 vars in 411 bytes} [Mon May 24 13:23:15 2021] GET /uwsgi_health => generated 13394 byte

[2021-05-24 17:36] vishalBajpai23 opened #4553 "Aqua Scan findings not marked as duplicates after importing same report"
**Bug description**
I am trying to import reports for Aqua Scan(JSON format). I have observed that even after importing same file across engagements or within same engagement, findings are not marked as duplicate automatically,rather present under similar findings - from there finding can be marked as duplicate manually. Where as this duplication works for Blackduck Component Risk, Checkmarx etc

[2021-05-24 18:28] valentijnscholten commented on #4553
@madchap Did you write the original Aqua parser? I think deduplication is not happening because some fields used by the legacy dedupe algorithm are not set: `cwe`, `file_path`, `line_number`, etc.

[2021-05-24 19:02] ravikariya1337 commented on #4529
So should we expect the feature in upcoming updates?

[2021-05-24 22:31] damiencarol commented on #4529
nobody is working on this right now.

[2021-05-24 22:33] damiencarol commented on #4552
@AliElKhatteb is it possible to have the report that failed? (even redacted)

[2021-05-25 01:12] damiencarol commented on #3424
Awesome! I'm glad you can contribute on this part.It's a different approach but it's a good first step.
Will support/comment your PR

[2021-05-25 07:36] AliElKhatteb commented on #4552
unfortunately i can't its a pentest report in my company

[2021-05-25 08:36] ansidorov commented on #4521
@damiencarol I think we can close this issue.

[2021-05-25 08:38] ansidorov commented on #4309
@valentijnscholten I think we can close this issue.

[2021-05-25 09:01] AliElKhatteb commented on #4552
[edited_report.zip](https://github.com/DefectDojo/django-DefectDojo/files/6537950/edited_report.zip)

[2021-05-25 09:44] AliElKhatteb commented on #4552
btw i used also json format and its not working also

[2021-05-25 11:38] damiencarol commented on #4552
taking a look at your report.

[2021-05-25 11:48] damiencarol commented on #4552
On release `2.0.0`:
![image](https://user-images.githubusercontent.com/1694940/119492881-e23b1e00-bd5f-11eb-8072-38736a076f10.png)

[2021-05-25 11:49] #4309 closed

[2021-05-25 11:50] damiencarol commented on #4521
Fixed in `dev`/`2.0.0`

[2021-05-25 11:50] #4521 closed

[2021-05-25 11:56] AliElKhatteb commented on #4552
so its fixed on release 1.15.0

[2021-05-25 11:58] damiencarol commented on #4552
it seems. It's why it's important to specify the release number when you open an issue. Most of the time, the bug is already fixed in further releases. :)

[2021-05-25 11:58] #4552 closed

[2021-05-25 15:26] ericcornelissen opened #4555 "Add ability to configure the test title when importing a scan"
**Is your feature request related to a problem? Please describe**
When I import a scan, either through the UI or through the API, I cannot give the resulting test a title. Instead I need to perform an extra step, either edit the test in the UI or send a PATCH request through the API.

**Describe the solution you'd like**
Add an optional field to the `/api/v2/import-scan/` endpoint that can be used

[2021-05-26 05:28] ansidorov commented on #4555
I want to try to make this feature

[2021-05-26 05:28] ansidorov commented on #4553
I want to try to fix this bug

[2021-05-26 08:03] christophe226 commented on #4489
Thanks for the suggestion, I update the issue.

[2021-05-27 09:30] dsever commented on #4547
@StefanFl  for SAML implementation is ok, there is unusable password in place, and user can't do it.

[2021-05-28 22:36] damiencarol commented on #2720
@memelet there is 2 ways to import reports from semgrep:
1. JSON output (--json) with "semgrep" parser
2. SARIF output (--sarif) with SARIF parser

[2021-05-29 19:17] valentijnscholten commented on #4486
fixed in dev / 2.0.0

[2021-05-29 19:17] #4486 closed

[2021-05-29 19:18] valentijnscholten commented on #4547
fixed in dev / 2.0.0

[2021-05-29 19:18] #4547 closed

[2021-05-29 19:18] valentijnscholten commented on #4532
fixed in dev / 2.0.0

[2021-05-29 19:18] #4532 closed

[2021-05-30 07:15] valentijnscholten opened #4575 "Celery not used during integration tests"
During analysis of #4566 I found out that very early in the integration tests the `block_execution` flag for the `admin` user is enabled. This results in all tasks being executed in the foreground, bypassing celery. This is not desired as we want to be able to test the full stack including Celery.

[2021-05-30 09:03] valentijnscholten commented on #4575
fixed in dev / 2.0.0

[2021-05-30 09:03] #4575 closed

[2021-05-30 09:52] valentijnscholten opened #4578 "Dependabot only updates Dockerfile.django"
It doesn't seem to recognize Dockerfile.nginx and Dockerfile.integration-tests: https://github.com/DefectDojo/django-DefectDojo/network/updates

[2021-05-30 09:59] valentijnscholten commented on #4578
submitted a support ticket. worst case we can adjust the renovate exclusion to start including the other dockerfiles.

[2021-05-30 10:26] valentijnscholten commented on #4553
fixed in dev / 2.0.0

[2021-05-30 10:26] #4553 closed

[2021-05-30 10:29] valentijnscholten commented on #4540
please provide url, request, response etc. the upload-results.py is a black box to us.

[2021-05-30 10:31] valentijnscholten commented on #4508
fixed in dev / 2.0.0

[2021-05-30 10:31] #4508 closed

[2021-05-30 19:26] damiencarol commented on #4540
@valentijnscholten made some checks, the script use API v1 and `importscan/` endpoint

[2021-05-30 19:28] damiencarol commented on #4540
@cyclopsbarrack there are not enough details here. Could you provide the message of the 403 error and the logs of the wusgi container of DefectDojo? the version of DefectDojo ? the deployment configuration (Docker/godojo) ?

[2021-05-31 05:51] cyclopsbarrack commented on #4540
we have used both versions of the truffle log but still facing the same issue we also tried to push zap report still the same issue.

[2021-05-31 05:53] cyclopsbarrack commented on #4540
Here we are trying to setup a DevSecOps environment (https://owasp.org/www-project-devsecops-maturity-model/#) using this method (https://github.com/devopssecure/webapp) . We have automated everything using Jenkins. This is our project code (https://github.com/cyclopsbarrack/webapp/)  we are trying to push all the reports (truffle hog, owasp dependecy check, sonarqube, Zap, etc ) to defectdojo. Si

[2021-05-31 06:28] valentijnscholten commented on #4540
Could you please provide the exact request / responses you are seeing? The earlier snippet seems to suggest you are using api v1. And provide info on which version of defect dojo, which install method, etc.

[2021-06-01 16:48] undelete opened #4585 "Document jira in Dojo more info for details.."
Implementation issues for jira and dojo
Some events are not displayed in the document and cause problems in the inputs. Because jira expects certain courses and dojo the same and there is no exact documentation of the courses

The solution is to add more details for integrations for dojo and jira in which specific element they should sync. if you have more examples of jira and dojo integrations, t

[2021-06-01 17:06] 37b opened #4586 "Internal Server Error when merging Findings"
https://github.com/DefectDojo/django-DefectDojo/blob/9e88e0480c9afd58b21354d7de38ea6f12fd0f2c/dojo/forms.py#L574

[code]

[2021-06-01 19:21] valentijnscholten commented on #4586
Should be changed into `field_order` due to django 3:https://docs.djangoproject.com/en/3.0/ref/forms/api/#notes-on-field-ordering

[2021-06-01 19:21] valentijnscholten commented on #4586
Are you able to do a PR and test it?

[2021-06-01 19:29] #4585 closed

[2021-06-01 20:10] 37b commented on #4586
Yep I can do that

[2021-06-01 20:20] valentijnscholten commented on #4578
actually the 2 other Dockerfiles are there, but slightly hidden:

![image](https://user-images.githubusercontent.com/4426050/120385250-79d3da00-c327-11eb-8aaa-915f54226612.png)

still 1.20 PR was never created and 1.21 was 1 week late.

[2021-06-01 21:39] damiencarol commented on #4578
weird

[2021-06-02 09:05] damiencarol opened #4597 "Survey seems to be broken on dev"
![image](https://user-images.githubusercontent.com/1694940/120452323-6ad64180-c392-11eb-8365-7e39b4f849c5.png)

[2021-06-02 09:53] ssiriz opened #4598 "Error importing Checkmarx results. Ignored active and verified state"
**Information**
DefectDojo tag v1.15
Api endpoint import-scan
When you try to import the result file from Checkmarx using the API or the Web UI and changing the active state to true and the verify state to True, the findings are always setted as inactive.

**Bug description**
Problem importing the Checkmarx file report using the "checkmarx scan" and "checkmarx scan detailed"  importer.
The problem

[2021-06-02 10:03] ssiriz commented on #4598
the file uploaded is attached
[ssdlc-testing.xml.zip](https://github.com/DefectDojo/django-DefectDojo/files/6583617/ssdlc-testing.xml.zip)

[2021-06-03 10:05] JorisVanEijden opened #4602 "Use NVD api to enrich findings"
**Is your feature request related to a problem? Please describe**
Some scanners (like "PHP Symfony Security Check") do not include severity data in their reports.
They usually _do_ have a CVE id.

**Describe the solution you'd like**
DefectDojo could use external API's to enrich the findings from these scanners.
The NVD API (https://nvd.nist.gov/vuln/data-feeds#APIS) could be used to retrieve more

[2021-06-03 14:10] valentijnscholten commented on #4602
I think someone did some work on something like that in the past: https://github.com/DefectDojo/django-DefectDojo/pull/1602

[2021-06-03 18:19] JorisVanEijden commented on #4602
Looks like it. For #1594 and #1119.
That PR uses the CVE git repo rather than the NVD API.
It adds a Vulnerabilty model with Id, Title, Description, Url and Cwe. None of the other data is used but it looks easy enough to add cvss info. However, that is not present for a lot of the entries in that git repo where it is present in the NVD data.

I did notice some points to take into account. Apparent

[2021-06-04 04:13] damianmadeira commented on #3840
Hello @damiencarol, can you tell me how i can help. it really interests me.

[2021-06-04 07:02] damiencarol commented on #3840
@damianmadeira thanks for your interest. you can contribute by creating a new parser for OVAL.
Take a look at https://defectdojo.github.io/django-DefectDojo/contributing/how-to-write-a-parser/ and previous pull requests with tag `"import scans"` https://github.com/DefectDojo/django-DefectDojo/pulls?q=is%3Apr+is%3Aclosed+label%3A%22Import+Scans%22

[2021-06-04 07:12] damiencarol commented on #4602
@JorisVanEijden I was thinking that we could refresh this PR by adding a feature to "enrich" findings just after the parsing.
I have a POC locally that do that with the NVD API. Maybe we can work on a PR that do that, you know by having some kind of option in the UI that enrich finding jus tafter the parsing.

By the way, here is my module:

[code]

[2021-06-04 07:36] JorisVanEijden commented on #4602
Yes, this is the direction I was thinking of.
Of course it needs some caching and error handling (being offline, rate-limited, behind proxy, etc).
I am no Python/Django dev but I think DefectDojo would benefit from such an optional "enricher" module.

I'll reopen to see what the maintainers think of this.

[2021-06-04 07:45] Wadeck opened #4606 "Support Veracode dynamic flaws"
**Is your feature request related to a problem? Please describe**
The Veracode reports are only supported in their static version. The dynamic findings are [not parsed](https://github.com/DefectDojo/django-DefectDojo/blob/06833d06515b311539513ddc1c2765bc749aae2f/dojo/tools/veracode/parser.py#L55) by DefectDojo.

**Describe the solution you'd like**
Both dynamic and statics flaws are considered.

*

[2021-06-04 09:16] kiblik opened #4607 "APIv2: Delete method for product_type"
**Is your feature request related to a problem? Please describe**
I'm not able to delete _product_type_ through API

**Describe the solution you'd like**
Add `DELETE` method for _product_type_

**Describe alternatives you've considered**
None

**Additional context**
https://owasp.slack.com/archives/C014H3ZV9U6/p1622797367018900

[2021-06-06 16:03] #4607 closed

[2021-06-06 19:05] valentijnscholten opened #4618 "Incorrect prefetch schema for reverse ManyToMany fields"
For all fields that are a reverse ManyToMany field, i.e. `finding.crypto_issues`, the prefetch response schema maps that field to the wrong serializer, in this case the `FindingSerializer`. This field however points to all the `Check_List` instances the finding is part of, so the serializer to use should be the one for the `Check_List` model.
This serializer doesn't exist however as there is no AP

[2021-06-06 19:26] valentijnscholten opened #4619 "Check_List has no API endpoint"
as discovered in #4618

[2021-06-08 13:15] saldam72 commented on #4524
Hello teams,
we are interested to this feature (we are also interested to the "Manage Images" feature. Would you please tell us if this feature will be implemented ? Don't you agree that keeping both features is better ?

Best,
Sal

[2021-06-08 13:37] saldam72 opened #4628 "generate report filtering on engagement name"
Hello Team,
we need a report related to a single engament name, can you add a filter on this fields ?

Best,
Sal

[2021-06-08 19:10] cynthia-rempel commented on #4103
Random notes to document how to enable keycloak auth...
https://python-social-auth.readthedocs.io/en/latest/backends/keycloak.html?highlight=keycloak

grep -n AUTHENTICATION_BACKENDS django-DefectDojo/dojo/settings/settings.dist.py
...
372:AUTHENTICATION_BACKENDS = (
vi +372 django-DefectDojo/dojo/settings/settings.dist.py
AUTHENTICATION_BACKENDS = (
    ...
    'social_core.backends.keycloak.Keyc

[2021-06-08 19:30] cynthia-rempel commented on #4103
grep -Rn SOCIAL_AUTH_ django-DefectDojo/ | grep KEY
django-DefectDojo/dojo/settings/settings.dist.py:434:SOCIAL_AUTH_AUTH0_KEY = env('DD_SOCIAL_AUTH_AUTH0_KEY')
vi +434 django-DefectDojo/dojo/settings/settings.dist.py
KEYCLOAK_OAUTH2_ENABLED = env('DD_SOCIAL_AUTH_KEYCLOAK_OAUTH2_ENABLED')
SOCIAL_AUTH_KEYCLOAK_KEY = env('DD_SOCIAL_AUTH_KEYCLOAK_KEY')
SOCIAL_AUTH_KEYCLOAK_SECRET = env('DD_SOCIAL_AUT

[2021-06-08 21:08] cynthia-rempel commented on #4103
Looks like some additions to
django-DefectDojo/dojo/context_processors.py
django-DefectDojo/dojo/templates/dojo/login.html
might be required...

[2021-06-08 22:28] cynthia-rempel commented on #4103
[defectdojo@nexus06 ~]$ grep -Rn -A5 -B1 KEYCLOAK_ENABLED django-DefectDojo/
django-DefectDojo/dojo/templates/dojo/login.html-39-
django-DefectDojo/dojo/templates/dojo/login.html:40:                {% if KEYCLOAK_ENABLED is True %}
django-DefectDojo/dojo/templates/dojo/login.html-41-                    <div class="col-sm-offset-1 col-sm-2">
django-DefectDojo/dojo/templates/dojo/login.html-42-

[2021-06-08 22:29] cynthia-rempel commented on #4103
Pulled up the keycloak prompt, but I got an SSL error...

[2021-06-09 07:12] Testteam20k opened #4633 "Parser error_While importing ZAP scanner report"
Frequently getting "Parser error" while importing ZAP scanner report into Defect dojo (V1.14.1)

Steps to reproduce the behavior:
1. Go to Product>Findings
2. Click on 'Import scan results'
3.  Fill mandatory fields and select scan type as "ZAP scan" & upload zap report.
4. Click on submit button
5. Error is displayed most of the times.

Note: Sometimes  ZAP scan reported successfully whereas most

[2021-06-09 07:36] damiencarol commented on #4633
@Testteam20k thanks for the report, could you provide some logs of uwsgi container? stack trace? a report that fail to load?

[2021-06-09 22:28] cynthia-rempel commented on #4103
Fixed the SSL error by adding the keycloak certs to docker/certs/ and adding the cert as a volume that overrides the certifi root certs.

[2021-06-09 22:31] cynthia-rempel commented on #4103
On keycloak disabled the full scope
![image](https://user-images.githubusercontent.com/24236064/121437830-bf9c2e00-c937-11eb-94e6-5e9d16a4f1d3.png)
And added an audience mapping
![image](https://user-images.githubusercontent.com/24236064/121437742-9bd8e800-c937-11eb-8019-debeac76f732.png)

[2021-06-09 22:33] cynthia-rempel commented on #4103
Logged into defectdojo successfully...
![image](https://user-images.githubusercontent.com/24236064/121437965-05f18d00-c938-11eb-8612-74da076f7072.png)

[2021-06-09 22:39] cynthia-rempel commented on #4103
Of course, I'm a user, not a maintainer, so ...

[2021-06-09 23:41] cynthia-rempel commented on #4103
[keycloak.patch.txt](https://github.com/DefectDojo/django-DefectDojo/files/6627433/keycloak.patch.txt)
Redacted, and overly verbose patch that enables keycloak-oidc login for defectdojo... Thinking back, it probably would have made more sense to enable SAML social auth... Oh well :)

[2021-06-10 09:26] ericcornelissen opened #4640 "Creating engagement without name through the API results in 500 on Active Engagement page"
**Bug description**

It is possible to create an engagement through the API successfully that causes problems in other parts of the server, e.g. when visiting the "Active Engagements" page which produces the following error ⬇️ I did collect an exhaustive list of which pages/API endpoints show this behaviour after creating the faulty engagement.

[code]

**Steps to reproduce**

1. Set these environ

[2021-06-10 11:42] christophe226 opened #4641 "Performance of import for numerous findings"
I'm always frustrated when I import a report with a huge number of findings, and this import seems to be slow. For instance, for a JFrog Xray Scan report with 700 findings, the import takes 40 seconds average on my platform. I wonder if such delays are "common", or if my platform is abnormally slow.

As DefectDojo user, of course I'd like that the import goes faster.

[2021-06-10 14:45] cynthia-rempel commented on #4103
Forgot to put in the patch, on the keycloak client, the BASE URL is: /complete/keycloak/

[2021-06-11 05:24] StefanFl commented on #2919
The foundations were laid with  #4503 and #4530, @Hijerboa is currently working on the UI.

[2021-06-11 11:49] #3850 closed

[2021-06-11 19:00] valentijnscholten commented on #2718
The foundations were laid with #4503 and #4530, @Hijerboa is currently working on the UI.

[2021-06-14 18:23] kiblik commented on #4138
Is this still issue? I suppose it was fixed in #4473

[2021-06-14 18:33] kiblik commented on #4000
This was fixed in #4473. But please double-check.

[2021-06-14 18:36] kiblik commented on #3613
This was fixed in #4473. But please double-check.

[2021-06-14 21:09] damiencarol commented on #4000
I think @kiblik is right #4137 added lower level support and #4473 fixed the rest of the code (global support of port numbers).
This will be released with `2.0.0` at the end of the month (2021-06-29).

[2021-06-14 21:09] #4000 closed

[2021-06-14 22:47] Maffooch commented on #4597
Hi @damiencarol I just installed a fresh dev instance and navigated to `http://localhost:8080/questionnaire` and did not receive any error.
Could you either provide more info about this issue or try to reproduce again?

I have a feeling the import_surveys management command did not run properly. Running that [script](https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/management/comma

[2021-06-15 08:09] damiencarol commented on #4138
@kiblik we have tests on IPv6 since #4473 ?

[2021-06-15 08:23] kiblik commented on #4138
https://github.com/DefectDojo/django-DefectDojo/blob/3817f3aa7914da306d6925000f0f6462c9a44325/dojo/unittests/tools/test_openscap_parser.py#L65

[2021-06-15 12:41] tonnyhideyori opened #4661 "Date format in findings API"
**Bug description**
when using findings API /api/v2/findings/?date=2021-01-02, all date style results into an error
{
  "date": [
    "Select a valid choice. 2021-01-02 is not one of the available choices."
  ]
}

**Steps to reproduce**
I have tried different date format, also i tried a timestamp still bring the same error. Hence, can you clarify what date format should be used on that field.
than

[2021-06-15 12:57] valentijnscholten commented on #4661
It's an integer similar to what's in the UI. In dev we have an OpenAPI v3 spec that describes it better.

[code]

[2021-06-15 12:58] tonnyhideyori commented on #4661
thank you

[2021-06-15 13:06] #4661 closed

[2021-06-15 15:13] damiencarol commented on #4138
Ok. well done. I'm closing it.

[2021-06-15 15:13] #4138 closed

[2021-06-15 15:50] NicolasBi opened #4663 "Re-import the same scan creates and closes findings"
Hi,
I am trying to use the “re-import” feature for ScoutSuite scans however when I import the scan and then I re-import exactly the same scan (unchanged scoutsuite scan file) for some reasons DD creates and closes some findings and untouched others.
Why did DD create and close finding even the scan file has not changed ? These deletions and creations break the lifecycle of the findings as the stat

[2021-06-15 16:49] damiencarol commented on #4663
@NicolasBi took some time to investigate. It seems that the de-duplication algorithm is not working well with ScoutSuite parser.

[2021-06-16 10:36] tonnyhideyori opened #4667 "docker-compose break"
**Bug description**
when i put my username, password ,host and port the docker-compose build breaks.
bringing this error :
ValueError: invalid literal for int() with base 10: 'B*\*\*\*\*\*3'
ERROR: Service 'nginx' failed to build: The command '/bin/sh -c env DD_SECRET_KEY='.' python3 manage.py collectstatic --noinput && true' returned a non-zero code: 1
I edited in settings.dist.py
EMAIL_CONFIG =

[2021-06-16 14:52] damiencarol commented on #4667
your password must be URL encoded.

[2021-06-16 14:55] damiencarol commented on #4663
After some discussions, I confirm that there is no default configuration for ScoutSuite parser. this makes the de-duplication during re-import not work as @NicolasBi is expecting.
No really a bug but we can at least add a default configuration.

[2021-06-16 15:01] damiencarol commented on #4663
Pushed #4668 to fix this

[2021-06-16 15:27] damiencarol commented on #3830
Closing this one as the documentation had been updated few times since.

[2021-06-16 15:58] NicolasBi commented on #4663
Thanks @damiencarol , since the Scout Suite parser aggregate some findings in the same description field, is it more appropriate to set the hash key to ['title', 'severity','description'] ?

[2021-06-16 20:05] damiencarol commented on #4663
@NicolasBi don't know. I checked the parser and it set the resource in the title. So I guess  ['title', 'severity'] should be ok.

[2021-06-17 08:44] NicolasBi commented on #4663
I tested with 2 different scans, with the ['title', 'severity','description'] and it suits best as it's detecting change inside the description field. For example: In a ScouSuite scan the title of the finding can be 'Single AZ RDS Instance' and the description contains all the faulty rds database. If a database change between 2 scans, the finding must be closed and recreated with updated descripti

[2021-06-17 19:33] kiblik opened #4677 "AuthV2: HTTP-500 for staff"
**Be informative**
I tried to access product as staff but I received `HTTP-500`

**Bug description**
- Browser: `HTTP-500`
- Console: `AttributeError: 'NoneType' object has no attribute 'id'`

**Steps to reproduce**
1. Use clean DD
2. Create product
3. Create user - active, staff, (no superuser, no additional permissions)
4. Log in as a new user
5. View product
6. See log

**Expected behavior**
Sh

[2021-06-17 19:33] damiencarol commented on #4663
ok. will update the PR. thanks a lot for you tests and support 👍

[2021-06-17 19:34] damiencarol commented on #4663
https://github.com/DefectDojo/django-DefectDojo/pull/4668/commits/8e156c938d14e2b0ad3b49ef6a8968f11e3b1487

[2021-06-17 19:35] damiencarol commented on #4677
@StefanFl

[2021-06-17 19:42] kiblik commented on #4677
Fixed in #4650

[2021-06-17 20:47] #4677 closed

[2021-06-18 14:12] zakrush opened #4684 "500 error on creation finding with Jira link"
**Be informative**
DD is v 1.15.0  into Docker.
Integrated with jira

**Bug description**
I have Server Error (500) into /product/94/ad_hoc_finding, when I try to create finding with linked Jira Issue.

If I create Finding without  `Linked JIRA Issue`, and then edit finding(setup Jira Issue) all are working fine.
**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to Product that has Jir

[2021-06-18 18:38] valentijnscholten commented on #4663
Known issue if the deduplication algorithm results in duplicates inside the same import: https://github.com/DefectDojo/django-DefectDojo/issues/3958

[2021-06-18 18:39] valentijnscholten commented on #4684
What's in the logs? `docker-compose logs`

[2021-06-20 13:06] damiencarol commented on #4597
@Maffooch saw something interesting in the logs:

[code]

[2021-06-20 13:07] damiencarol commented on #4597
@Maffooch I used a fresh install (`dev`, no modifications)

[2021-06-20 15:16] Maffooch commented on #4597
Hmm I just tried again as well with a fresh copy of dev.. Not sure what is going on here? Weird thing is that both our installs install 952 fixtures.
[code]

<img width="1552" alt="image" src="https://user-images.githubusercontent.com/46459665/122679440-7908c800-d1b0-11eb-86a2-8ad9c7c60ee5.png">

[2021-06-20 16:15] damiencarol commented on #4597
I think `Installed 954 object(s) from 12 fixture(s)` come from:
https://github.com/DefectDojo/django-DefectDojo/blob/4a9a4e46525874e89daa2d677679bbbe1a89494c/docker/entrypoint-initializer.sh#L94-L97

So I guess this part works the some for both of us (so we have the same log messages).

I think I will close this one. It seems that my local branch is maybe corrupt/different.

[2021-06-20 16:15] #4597 closed

[2021-06-21 07:34] zakrush commented on #4684
Sorry, added logs:

[code]

[2021-06-21 07:54] Wadeck opened #4692 "Severity not respected in "Similar Findings" tab"
**Bug description**
I have 2 findings, on the same CVE. Between the creation of the first one and the second one, the severity of the CVE seems to have changed. When I search the first one from "Similar Findings" from the second, the severity of the first one is not respected (from High to Critical).

**Expected behavior**
The severity to be the one from the found finding and not the current one.

[2021-06-21 08:03] Wadeck opened #4693 "Similar Findings => way to add to existing cluster"
**Is your feature request related to a problem? Please describe**
I have a finding (B) related to another one (A). But A is an original of a cluster and thus, I cannot do anything from B finding view.

**Describe the solution you'd like**
I would like to be able to include B in the cluster from A.

**Describe alternatives you've considered**
I need to do the reverse search in A, to find B and then

[2021-06-21 09:09] #4667 closed

[2021-06-21 09:19] tonnyhideyori opened #4694 "Timeout when calling findings API with large limit value"
We have more than 3000 findings in defectdojo , when we want to list all findings with limit 4000 and setting **related_fields="true"**, we gate 504 error as time out. Hence, can you improve this situation or do you have any suggestion on how to tackle this situation.
recreate:
go to /api/v2/doc/
in /findings/
set limit=20000
set related_fields=true
when i check into to logs we get this error
`uws

[2021-06-21 16:21] J12934 opened #4697 "Deduplication inconsistent for ZAP Scans using Spider"
**Bug description**

The deduplication for ZAP works inconsistently as ZAP doesn't always scan the same exact endpoint.
This happens especially frequently when using the ZAP Spider / Ajax Spider with a limited Crawl Duration e.g. 1 minute (Default option in the ZAP Baseline Scan: https://www.zaproxy.org/docs/docker/baseline-scan/) as this will likely produce different site trees for the same site

[2021-06-21 17:34] valentijnscholten commented on #3121
@vidhan13j07 could you check again in `dev`? We have fixed lots of schema inconsistencies and added an OpenAPI v3 schema as well.

[2021-06-22 17:55] damiencarol opened #4701 "[URL broken] /metrics?view=dashboard&type=endpoint"
**Bug description**
One metric dashboard is broken at least on `1.15.1`, `dev`

[code]

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to `/metrics?view=dashboard&type=endpoint`
2. See error 500

**Deployment method** *(select with an `X`)*
Docker

**Environment information**
 - DefectDojo  `1.15.1` & `dev`

[2021-06-22 18:23] valentijnscholten commented on #4684
fixed PR

[2021-06-22 18:35] valentijnscholten commented on #4701
@danielnaab I think this was "caused" by your metrics refactoring, do you have it still on top of mind and maybe know how to fix it?

[2021-06-23 07:49] #2958 closed

[2021-06-23 07:49] devGregA commented on #2958
fixed

[2021-06-23 08:02] damiencarol commented on #4697
this is due to the fact that we store parameters of the URL in the endpoint structure. this inflate the number of endpoints.

[2021-06-23 16:26] damiencarol commented on #4697
FYI @kiblik

[2021-06-23 19:18] quaffapint commented on #3890
Could I ask whether this will still be part of 2.0.0 and what the rough planned release date is for that? We are unable to get our old ADFS system working with the current SAML plugin and we're hoping djangosaml2 will work for us.

[2021-06-23 19:52] damiencarol commented on #3890
@quaffapint we pinned this modification for `2.0.0`which will be release at the end of the month.

[2021-06-24 12:34] githule opened #4712 "Add Asset view : Bind many endpoints to one asset."
**Is your feature request related to a problem? Please describe**
Defect Dojo todays sees only assets as endpoints ( an IP OR an Url OR a domain...).
However, it would be usefull to have an asset view based on a corporate cmdb import
Also different endpoints type can match to the same asset.
Then finding can be associated to assets via endpoint relation

**Describe the solution you'd like**
Add a

[2021-06-24 13:04] danielnaab commented on #4701
Hi @valentijnscholten - looking at the code, I'm guessing it's a case-sensitivity issue, not related to the perf changes - `type=Endpoint` vs `type=endpoint` - https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/metrics/views.py#L453

[2021-06-24 13:10] valentijnscholten commented on #4701
Weird, the view parameters contains `dashboard` but when I change the `type` parameter to `endpoint` the error dissappears.

[2021-06-24 15:47] kiblik commented on #4697
I'm not sure I understand this argument. I thought that if DD identifies 2 findings as the same ("same findings" means they have the same content in the main fields - following list in `HASHCODE_FIELDS_PER_SCANNER`), DD will merge these findings into one ("merge findings" means "union of endpoints").

https://github.com/DefectDojo/django-DefectDojo/blob/ad1a981adc971541f52b3e4529535043cab141ec/doj

[2021-06-24 17:00] damiencarol commented on #4697
yes. the merging works fine here. it's just that the number of Endpoints explode because it seems this scan tool generate them differently each run.

[2021-06-24 17:11] damiencarol commented on #4712
@githule we had some discussions in the last maintainer meeting to introduce more generic code to handle assets linked to a finding (like file) but nothing concrete for now.
You're welcome if you want to contribute even if it's just for a design/ideas

[2021-06-24 20:48] valentijnscholten commented on #4692
fixed in dev / 2.0.0

[2021-06-24 20:48] #4692 closed

[2021-06-24 20:48] valentijnscholten commented on #4684
fixed in dev / 2.0.0

[2021-06-24 20:48] #4684 closed

[2021-06-24 20:49] valentijnscholten commented on #2919
fixed in dev / 2.0.0

[2021-06-24 20:49] #2919 closed

[2021-06-24 20:49] valentijnscholten commented on #2718
fixed in dev / 2.0.0

[2021-06-24 20:49] #2718 closed

[2021-06-24 20:49] #3778 closed

[2021-06-25 06:56] chanduaki opened #4713 "Server Error (500) For integrating `Retire.js Scan`"
**Bug description**
when trying to upload the `Retire.js scan` results in the defect dojo , Getting `<h1>Server Error (500)</h1`

**Steps to reproduce**
1. Turnon the defectdojo `sudo docker-compose up -d`
2. scan the `retire.js` using `retire --jspath dvna --outputformat json --outputpath retire_report.json`
3. Trying to upload in 2 methods
    Method1: `CLI`
[code]
    Method2 : `API`
 4. Respon

[2021-06-25 07:29] githule commented on #4712
@damiencarol : as a design it can be assets objects that can be imported from a cmdb. Theses assets can represent for example : a public web site host seen as well from an internet view via a remote scanner or via a local agent on the host.
The main goal is to associate different maner to address the same asset/app : URL, IP address, FQDN...
It can help to bind external "internet" view from the in

[2021-06-25 07:54] damiencarol commented on #4712
ok. interesting.

[2021-06-25 07:55] damiencarol commented on #4713
@chanduaki which version are you using?

[2021-06-25 08:00] #4713 closed

[2021-06-25 08:43] vijaytejak commented on #4713
@damiencarol 1.14 Version

[2021-06-25 08:44] chanduaki commented on #4713
1.14 version @damiencarol

[2021-06-25 14:10] damiencarol commented on #4713
This issue is fixed in `1.15.0`.

[2021-06-26 06:13] StefanFl commented on #4701
@damiencarol How did you get this URL? When I switch to the endpoint metrics dashboard in the UI, the URL is `metrics?view=dashboard&type=Endpoint` and works fine.

[2021-06-26 10:32] damiencarol commented on #4701
@StefanFl an old chap of the project gave me it @Maffooch

[2021-06-26 10:32] damiencarol commented on #4701
but should we just return a 404 if the URL is not good?

[2021-06-26 10:51] kiblik commented on #4697
My opinion: saving URL and related info should be removed (I hope it will be enought to fix this issue): https://github.com/DefectDojo/django-DefectDojo/blob/26f91e80ba1c0e6e7ca9d64ac75fe3920b2484f5/dojo/tools/zap/parser.py#L155-L169

if we would like to store information like `Method`, we can use `Endpoint_Params` https://github.com/DefectDojo/django-DefectDojo/blob/26f91e80ba1c0e6e7ca9d64ac75fe3

[2021-06-26 11:10] StefanFl commented on #4701
I think 400 is the correct return code, as we find the ressource (`metrics`), but an HTTP parameter (`type=endpoint`) is invalid.

[2021-06-26 11:52] valentijnscholten commented on #4701
If it is not linked anywhere in the UI I don't think we need to do anything. If string comparison is case sensitive everywhere, probably every page in Defect Dojo will suffer from this.

[2021-06-26 12:10] StefanFl commented on #4701
Fine for me

[2021-06-26 12:14] kiliczsh opened #4719 "Netsparker Parser - Using `url` in finding is deprecated. We are using endpoint now."
Hi. Using `url` in finding is [deprecated](https://github.com/DefectDojo/django-DefectDojo/blob/44ab2d979f5d97b330258b7fd0f30f18d9553e5a/dojo/models.py#L1590-L1594). We are using endpoint now.

I suppose:
- it should be removed from [here](https://github.com/DefectDojo/django-DefectDojo/pull/4711/files#diff-2eb8d9651a662bc2c796080d1b3e12a6c8b2891a33b2f3081417ae2343f54b91R61)
- also [here](https://

[2021-06-26 13:13] damiencarol commented on #4701
ok. so I guess we can close it.

[2021-06-26 13:13] #4701 closed

[2021-06-26 17:13] kiblik commented on #4719
Fixed in https://github.com/kiliczsh/django-DefectDojo/pull/1

[2021-06-27 14:53] kiblik commented on #4719
This is done - can be closed

[2021-06-27 18:05] #4719 closed

[2021-06-27 19:31] #3890 closed

[2021-06-28 19:06] valentijnscholten commented on #4640
fixed in dev / 2.0.0

[2021-06-28 19:06] #4640 closed

[2021-06-29 12:38] christophe226 opened #4730 "Hadolint findings should be marked as static findings"
**Bug description**
Hadolint parser has no specific configuration regarding static/dynamic status of its findings. So it uses the default status, i.e. "dynamic", whereas Hadolint is a SAST, not a DAST. For consistency, Hadolint findings should be "static", not "dynamic". This wrong "dynamic" value has impacts on deduplication.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Import Hado

[2021-06-29 15:55] valentijnscholten commented on #4730
next step is to make a PR here upstream? :-)

[2021-06-30 13:39] zakrush opened #4752 "Incorrect False positives and Risk accepted metrics"
**Slack us first!**
Hello. I write about problem here:
https://owasp.slack.com/archives/C2P5BA8MN/p1624892081234100

**Be informative**
As additional into slack I find the same behaviour with Risk Accepted findings. Into Metrics I see 0 **Risk Accepted** findings, but I have 1 Risk Accepted finding

**Bug description**
No error. Metrics into product, or metrics dushboard has incorrect info.

**Ste

[2021-07-01 10:23] zakrush commented on #4752
I also foud the same behavior with Closed Findings into Metrics
Here is ZERO when I have Closed Findings
![image](https://user-images.githubusercontent.com/33844164/124109092-7428fb80-da6f-11eb-85fd-46ac2c12cbcf.png)

[2021-07-01 17:13] jurschel opened #4765 "Kube-bench json scans are failing to import"
Kube-bench json scans are failing to import into engagements with the following error

"An exception error occurred during the report import:string indices must be integers"

**Expected behavior**
When I upload a kube-bench json output file the UI will accept it and not fail.

**Deployment method**
- Kubernetes

**Environment information**
 - Operating System: Ubuntu 18.04
 - DefectDojo: 2.0
 - ku

[2021-07-02 20:49] #4338 closed

[2021-07-02 20:53] devGregA commented on #3958
It looks like this was fixed via https://github.com/DefectDojo/django-DefectDojo/pull/3753

[2021-07-02 20:55] devGregA commented on #2151
@valentijnscholten  are we okay to close this one?

[2021-07-02 20:59] devGregA commented on #3099
@Maffooch  you tested this recently right? I think we're okay to close.

[2021-07-02 21:02] #3452 closed

[2021-07-02 21:02] devGregA commented on #3452
Closing due to inactivity. Feel free to reopen if still valid.

[2021-07-02 21:04] devGregA commented on #3409
New tool requests need to have sample scans. Feel free to resubmit with sample scans.

[2021-07-02 21:04] #3409 closed

[2021-07-02 21:08] devGregA commented on #3701
@damiencarol  are you working on this? If not I think I have some resources.

[2021-07-02 21:11] #3798 closed

[2021-07-02 21:17] devGregA commented on #4752
@zakrush  can you please confirm that this persists after 10 minutes? Some metrics are cached but I don't know which off the top of my head.

[2021-07-02 21:24] devGregA commented on #4694
@tonnyhideyori the broken pipe suggests a memory resource constraint. I don't believe you're hitting nginx or app constraints. The error suggests it's the hardware.

[2021-07-02 21:24] #4694 closed

[2021-07-02 21:26] devGregA commented on #3958
I was under the impression this was fixed, but may not be @valentijnscholten  could you please confirm?

[2021-07-02 21:33] devGregA commented on #3121
@valentijnscholten  I can have this validated.

[2021-07-03 07:49] valentijnscholten commented on #3958
This still happens when an import contains duplicates, i.e. 3 findings getting the same `hash_code`. On the next reimport of that report, there is no way to uniquely match the incoming 3 findings against the 3 existing one. So the 3 incoming findings will all get matched against the 1st existing finding with the same `hash_code`. This finding will remain open. The other 2 will be marked as mitigat

[2021-07-03 07:54] #4663 closed

[2021-07-03 07:54] #3756 closed

[2021-07-03 07:56] valentijnscholten commented on #3675
@Homopatrol Can you try again with 2.0.0 or a version that includes #3753? It should be a lot better now.

[2021-07-05 07:09] zakrush commented on #4752
@devGregA It's persist more than 10 minutes. I am observing this problem so far.
False Positives result are incorrect into product.

[2021-07-05 07:19] Wadeck opened #4772 "Merge duplicate clusters"
**Is your feature request related to a problem? Please describe**
With multiple products around the same technologies, it's common that one ends up with multiple clusters for the same CVEs. Sometimes one will want to merge several clusters together for better management.

**Describe the solution you'd like**
From the original of a duplicate cluster A, I would like to be able to say "merge the clus

[2021-07-05 07:24] Wadeck opened #4773 "Bulk edit capabilities to "Similar Findings""
**Is your feature request related to a problem? Please describe**
When the similar findings tab contains several findings it becomes annoying to apply some changes for each one, individually, with a forced refresh of the page

**Describe the solution you'd like**
It could be really nice to have bulk edit capabilities there as well.

**Describe alternatives you've considered**
Manual actions

[2021-07-05 07:39] Wadeck opened #4774 "Similar Findings > Clear Filters => Unnecessary scroll down"
**Bug description**
When I want to "Clear the Filters" in the Similar Findings tab, I am getting an automatic scroll down that forces me to scroll up in order to modify the first row of the form.

**Expected behavior**
No scroll behavior or at least, not an invalid one.

**Root cause**
The [Clear Filters] link has a href of "#similar", which is the ID of the form inside the Similar Findings.
First

[2021-07-05 14:13] ssiriz commented on #4598
Hello @devGregA , I will try to investigate how to solve the fix because is critical for me and my organisation solve it... Do you have some recommendation to locate the part of code that import Checkmarx results?

thank you,

[2021-07-05 17:07] valentijnscholten commented on #4598
For some reason these values are hardcoded to be false, I don't know why: https://github.com/valentijnscholten/django-DefectDojo/blob/3957c7d7f4f32dfa2339494e406ac24675864a13/dojo/tools/checkmarx/parser.py#L122. Looks like very old code, I think it should be removed and let the fields go to default value, which will also allow the settings chosen in API request or UI to propagate.

[2021-07-05 17:09] valentijnscholten commented on #4773
Do you mean the normal bulk actions like setting status, adding a note, etc. Or the actions more geared towards similar findings, i.e. mark as duplicate.

[2021-07-06 07:03] Wadeck commented on #4773
Both actually :) if I can bulk add a tag or bulk mark as duplicate, that could really help

[2021-07-06 10:57] ssiriz commented on #4598
Thank for your answer @valentijnscholten , I have removed the parameters active and verified with the value False hardcoded and It solves the problem for the Checkmarx and Checkmarx Detailed Parser.

I am going to open a Pull Request with these changes. :)

[2021-07-06 12:43] tonnyhideyori opened #4781 "Findings of Deleted product or engagement"
I would like to know if it is possible to get findings of deleted engagements or products. I have searched online I have not found a solution to this issue.
Thanks

[2021-07-06 16:21] valentijnscholten commented on #4781
When a product or engagement is deleted, all findings inside are also deleted.

[2021-07-06 16:21] valentijnscholten commented on #4598
yes please :-)

[2021-07-07 07:44] tonnyhideyori commented on #4781
Also, When stale appears take the day of discovery. So when searching for finding through API and set date=1, the stale findings will not appear. I suggest you should also add stales in date=1. Or is there another way to get vuln. discovered with in day which include stales

[2021-07-07 08:21] valentijnscholten commented on #4781
I don't understand the question, please come to slack.

[2021-07-07 09:24] #4781 closed

[2021-07-08 04:40] AndreyMZ opened #4786 "Internal Server Error on adding a group: `TypeError: sequence item 0: expected str instance, NoneType found`"
### Steps to reproduce
1. Create a new _Finding_ with _Component name_ but without _Component version_.
2. Create a new _Group_ with this finding.

### Actual result
[code]

### Expected result
No errors.

[2021-07-08 10:36] SoaAlex opened #4788 "Dockle Scan re import not matching same vulnerabilities"
**Bug description**
When **re**importing Dockle scans, the vulnerabilities of the new report do not replace the current ones when they are identical. They are not even seen as duplicates.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Execute a first Docker Scan and upload the report to DefectDojo
`curl -X POST "${DD_URL}/api/v2/import-scan/"
      -H "accept: application/json"

[2021-07-08 10:46] Homopatrol commented on #3675
@valentijnscholten

Thanks, this does work now when uploading a Sonar test in v2.0.3

<img width="959" alt="Screenshot 2021-07-08 at 11 04 19" src="https://user-images.githubusercontent.com/58219367/124907905-99be8380-dfe0-11eb-896e-766942939018.png">

<img width="1448" alt="Screenshot 2021-07-08 at 11 39 55" src="https://user-images.githubusercontent.com/58219367/124908500-50226880-dfe1-11eb-8d84

[2021-07-08 12:12] SoaAlex commented on #4788
Vulnerabilities have the exactsame hash code.
For e.g for the two medium ones
1. hash_code: 1dcf74a664a3eda52c3279dfbf1073a9e3b2497f25771696d0ed3ecb53fb7483
2. hash_code: 1dcf74a664a3eda52c3279dfbf1073a9e3b2497f25771696d0ed3ecb53fb7483

Currently, Dockle's dedupe algo is the legacy one (default since none is specified).
Will test by enabling hash code dedupe.

[2021-07-08 13:02] valentijnscholten commented on #4788
Is line number empty? That would disable dedupe in legacy Algo.

[2021-07-08 13:10] StefanFl commented on #4788
#4770 has been merged some days ago, which should fix that problem. Dockle findings where marked as static and dynamic, which confused the deduplication.

[2021-07-08 13:31] valentijnscholten commented on #3675
Did you perform all the upgrade steps including recalculating all hash codes?

[2021-07-08 14:08] SoaAlex commented on #4788
Sorry, what is "line number" ?

@StefanFl Oh... that might be linked indeed.

I am currently testing on my local machine building from master (so release 2.0.3) and DD correctly identifies that findings are the same and does not re-import them, so this is the expected behaviour.

But now, if I test on my team's DefectDojo server, it is not able to differenciate even thought they are running the sa

[2021-07-08 14:36] StefanFl commented on #4788
That's weird, the bugfix is only in dev so far. Are the findings marked as Static and Dynamic in both of your instances?

[2021-07-08 14:45] SoaAlex commented on #4788
Yes, they are all static/dynamic findings

[2021-07-08 15:33] StefanFl commented on #4788
No idea why deduplication works on your local machine, but with the next DD version it will be fixed

[2021-07-08 17:37] valentijnscholten commented on #4788
can you post or DM the json file

[2021-07-08 17:47] SoaAlex commented on #4788
The JSON file I tested here is the one from `dojo/unittests/scans/dockle/many_findings.json`

[2021-07-08 17:53] valentijnscholten commented on #4788
What's in the logs? These dockle findings don't seem to have a `file_path` so they shouldn't be marked as `static` or they should use hashcode for deduplication.

[2021-07-08 18:54] StefanFl commented on #4788
I tested my already merged patch with this file as well and deduplication for re-imports works fine. So I am not sure it's worthwile investigating it any further.

[2021-07-09 06:20] PrafulTamrakarRakuten commented on #110
pip install git+https://github.com/valentijnscholten/defectdojo_api/@acf0c0deb2dc5191d69f268412602bea5295a2e7

[2021-07-09 07:40] SoaAlex commented on #4788
Which container logs should I look for ?
From celery worker, here is what I see:
`[09/Jul/2021 07:34:50] INFO [celery.worker.strategy:155] Task dojo.tasks.async_dupe_delete[172bf97c-b5fb-45c9-ba46-ca5038ee862d] received
[09/Jul/2021 07:34:50] INFO [dojo.tasks:104] delete excess duplicates (max_dupes per finding: 0, max deletes per run: 200)
[09/Jul/2021 07:34:50] INFO [dojo.specific-loggers.dedupl

[2021-07-09 07:44] valentijnscholten commented on #4788
If it is fixed in dev there's no need to look further anymore. For logging you need to enable debug logging in all containers.

[2021-07-09 09:36] SoaAlex commented on #4788
I just tested on a fresh new Ubuntu VM and DefectDojo instance.
On release 2.0.3, the bug does not exist either. So the merged fix fixes something else.

Re-importing dockle scans on 2.0.3 works perfectly.
So the issue on my server comes from somewhere else...

[2021-07-09 10:58] Homopatrol commented on #3675
Thank you, I ran `./manage.py dedupe --hash_code_only` In my initializer pod and corrected the issue.

Following this I have amended my initializer-job.yaml so the initializer will perform this script every time there is an upgrade
[code]
Is there a reason the current initializer-job.yaml does not perform this `manage.py dedupe --hash_code_only` script on every upgrade, if not could you implement

[2021-07-09 13:54] opsdisk commented on #110
Appreciate the response @PrafulTamrakarRakuten , but I'm no longer using this software.  @devGregA - This ticket can be closed.

[2021-07-09 20:32] valentijnscholten commented on #3675
We discussed that but didn't make a decision. On larger installs it can run for a couple of hours, so it's easier to let the admin control it. Unless the admin doesn't read the upgrade instructions ... We could make it async maybe.
Either way, the initializer script itself should be changed, not the k8s probably.
Where is the {{.Release.IsUpgrade}} coming from in your example?

[2021-07-13 08:45] pb13 commented on #626
Is there any solution to this?
In our situation, we are developing a software product that consists of multiple microservices. Each microservice is developed/maintained by a dedicated team and is built into a docker container. All containers use the same base image and some microservices include shared libraries.
We are currently evaluating ways to model this effectively within DefectDojo. Is it w

[2021-07-13 18:04] luliz commented on #2979
Is there any update on the status of this integration? @SPoint42

[2021-07-14 12:34] whitespots opened #4816 "500 on upload Nessus scan results"
Getting 500 when trying to upload Nessus scan results to:
/product/14/import_scan_results
/engagement/123/import_scan_results

**Deployment method**
- [Х] Docker

**Sample scan files** (optional)
Unavailable.

**Console logs** (optional)
![image](https://user-images.githubusercontent.com/65983771/125622507-48f98727-4a4b-46d1-ad41-00e1a4ec2283.png)

**Additional context** (optional)
Latest DD ver,

[2021-07-14 13:10] valentijnscholten commented on #4816
Please provide steps to reproduce as this works fine in the demo environment.

[2021-07-14 14:40] mccatrina opened #4817 "SonarQube test connection button"
After the sonarqube api configuration in Tool Configuration I'm expecting  an error  or  a confirmation regarding the connection status with sonarqube.

It will be a  great idea to have a test connection button for sonarqube or an error message if the sonarqube project has not been imported

Home ->  Tool Configuration List  -> Edit Tool Configuration _> Submit

Green or Red status after setting s

[2021-07-15 12:12] saldam72 opened #4822 "unique_id_from_tool has disappeared from the findings search filter"
Hello Team,
After the upgrade form 1.15.1 to 2.0.3 is not possible anymore to filter records on "unique_id_from_tool". Is this by design or do we need another fix ?

Best,
Sal

[2021-07-15 12:56] mtcolman commented on #3675
@valentijnscholten `.Release.IsUpgrade` is a built-in object in helm: https://helm.sh/docs/chart_template_guide/builtin_objects/

    Release.Namespace: The namespace to be released into (if the manifest doesn’t override)
    Release.IsUpgrade: This is set to true if the current operation is an upgrade or rollback.
    Release.IsInstall: This is set to true if the current operation is an install.

[2021-07-15 20:02] ptrovatelli commented on #4220
still required :)

[2021-07-16 07:37] valentijnscholten commented on #4822
I think this has dissapeared in the refactoring of the search filters. If there's a valid usecase to filter by these fields, we can add it back in.

[2021-07-16 10:05] saldam72 commented on #4822
A valid use case could be integration with other systems ? A valid use case could be the search for the vulnerability using a code present in the report of the tool used for the analysis ?

[2021-07-16 10:26] whitespots commented on #4816
It was caused by 200mb report. Will try to generate the same without showing production data

[2021-07-16 13:02] SoaAlex opened #4825 "Mark Finding as False Positive from Quick Action Menu (not Bulk Edit)"
REALLY MINOR REQUEST

**Is your feature request related to a problem? Please describe**
Quick action menu on Findings do not offer the option to mark it as False Positive.
You must click on Edit Finding, mark it as False Positive and then save it OR use Bulk Edit

**Describe the solution you'd like**
From the Findings list on the UI, be able to mark a Finding as a False Positive directly from the

[2021-07-16 13:57] dsever opened #4827 "API way to manage notifications"
**Is your feature request related to a problem? Please describe**

In current application users and admins can change/manage their notifications using GUI only. But we want to have control over it using API, so we can setup predefined notifications for different user types (during the user provisioning)

**Describe the solution you'd like**

Add API endpoint that will allow admin/user to specify w

[2021-07-16 14:33] Francois-Royer opened #4828 "Unable to provide user for external redis broker connection"
When installing DefectDojo using helm chart (any version) with an external redis broker, it's not possible to provide user to connect to redis (and may be the same for external rabbitmq).

**Bug description**
There is not input value to set a user. Looking at [configmap template](https://github.com/DefectDojo/django-DefectDojo/blob/master/helm/defectdojo/templates/configmap.yaml) line 18, the user

[2021-07-16 14:46] XiChen-Tibco commented on #2835
Hey @mtesauro , for some reason we cannot reproduce the error, would you mind give us more information?

Thanks.

[2021-07-16 16:06] bgoareguer opened #4832 "Support the new Trivy JSON schema"
Since version 0.19.0 of Trivy, the JSON schema of the report has changed:
https://github.com/aquasecurity/trivy/pull/782
and
https://github.com/aquasecurity/trivy/pull/1110

The Trivy parser needs to be updated to support the new schema.

[2021-07-16 16:07] mtesauro commented on #2835
The 500 was caused when using docker containers via docker-compose to run DefectDojo which included a bind-mount for the media directory.

If there wasn't a "threat" sub-directory present in the media directory AND you tried to upload a threat model, you would get a 500 from DefectDojo.

However, I think @Maffooch corrected for this a while ago when he did a PR to improve file uploads generally in

[2021-07-16 16:18] mtesauro commented on #2835
Just tried this on the demo server and DefectDojo will still throw a 500.

Steps I took to reproduce:

One the demo server, renamed the /opt/dojo/media/threat directory:

`
cd /opt/dojo/media/threat
mv threat not-threat
`
In a browser:

Re-follow the steps noted above to upload the PDF below:
[threat-model.pdf](https://github.com/DefectDojo/django-DefectDojo/files/6832003/threat-model.pdf)

Upload

[2021-07-16 20:01] StefanFl commented on #4832
I take it

[2021-07-17 01:29] mtesauro commented on #2835
@XiChen-Tibco I'm going to revert the name change of the threats directory. Ping me if you need me to "break" the demo again for you to test a fix for this issue.

[2021-07-19 13:09] bgoareguer opened #4838 "Gitlab projects import does not work with Authorization V2"
When activating Gitlab projects auto-import, a 500 error page is displayed and I cannot access the DefectDojo dashboard.

**Steps to reproduce**
1. Activate Gitlab integration:
DD_SOCIAL_AUTH_GITLAB_OAUTH2_ENABLED: "true"
DD_SOCIAL_AUTH_GITLAB_PROJECT_AUTO_IMPORT: "true"
DD_SOCIAL_AUTH_GITLAB_API_URL: "https://YOUR_GITLAB_URL"
DD_SOCIAL_AUTH_GITLAB_KEY: YOU_GITLAB_KEY
DD_SOCIAL_AUTH_GITLAB_SECRET:

[2021-07-19 15:00] christophe226 opened #4840 "Pagination issue on paused engagements"
**Bug description**
On web view about engagements, pagination does not work for Paused engagements. Clicking on "page 2" or "Next" has no effect. Modifying "Page Size" has no effect either. Whereas the same actions work perfectly for Active engagements.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Work on a product with more than 10 paused engagements
2. On this product, click on 'E

[2021-07-19 17:15] XiChen-Tibco commented on #4752
Inactive findings within the Product Metrics is incorrect as well.

[2021-07-20 09:03] blizko opened #4843 "Netsparker scan parsing failure"
**Bug description**
Netsparker vulnerability export can have multiple CWE values or "" defined in a single entry, causing the parser to fail

https://github.com/DefectDojo/django-DefectDojo/blob/13cdb6a0f3905c8db3bd73d86b376eacfa97d5d7/dojo/tools/netsparker/parser.py#L53

**Steps to reproduce**
Import a Netsparker scan with multiple CWE field values
`
        "Cwe": "937, 1035",
 `

**Expected beh

[2021-07-20 11:13] SoaAlex commented on #3296
I agree with @valentijnscholten .
I would add that it's not only linked to JIRA. It should not display at all in the `/notifications` UI settings page if it's not enabled in settings.py (otherwise, enabling SLA Breach Alerts/Mails/MSTeams/Slack won't do anything).

[2021-07-20 14:59] maibold1 commented on #4193
Hi i tray the latest version and it indeed bring the host names please close

[2021-07-20 14:59] #4193 closed

[2021-07-21 03:58] #3342 closed

[2021-07-21 03:58] #3641 closed

[2021-07-21 03:58] #2716 closed

[2021-07-21 03:58] #3648 closed

[2021-07-21 03:58] #3003 closed

[2021-07-21 03:58] #2788 closed

[2021-07-21 03:58] #3703 closed

[2021-07-21 03:58] #3699 closed

[2021-07-21 03:58] #3708 closed

[2021-07-21 03:58] #3738 closed

[2021-07-21 03:58] #3707 closed

[2021-07-21 03:58] #4011 closed

[2021-07-21 03:58] #4050 closed

[2021-07-21 03:58] #3209 closed

[2021-07-21 03:58] #4104 closed

[2021-07-21 03:58] #4141 closed

[2021-07-21 03:58] #4123 closed

[2021-07-21 03:58] #4160 closed

[2021-07-21 03:58] #4112 closed

[2021-07-21 03:58] #4186 closed

[2021-07-21 03:58] #4187 closed

[2021-07-21 03:58] #4180 closed

[2021-07-21 03:58] #4202 closed

[2021-07-21 03:58] #3777 closed

[2021-07-21 03:58] #4228 closed

[2021-07-21 03:58] #4222 closed

[2021-07-21 03:58] #4259 closed

[2021-07-21 03:58] #4221 closed

[2021-07-21 04:58] #3758 closed

[2021-07-21 04:58] #3736 closed

[2021-07-21 04:58] #3762 closed

[2021-07-21 04:58] #3807 closed

[2021-07-21 04:58] #3799 closed

[2021-07-21 04:58] #3815 closed

[2021-07-21 04:58] #3832 closed

[2021-07-21 04:58] #3681 closed

[2021-07-21 04:58] #3851 closed

[2021-07-21 04:58] #2755 closed

[2021-07-21 04:58] #3870 closed

[2021-07-21 04:58] #3908 closed

[2021-07-21 04:58] #3928 closed

[2021-07-21 04:58] #3922 closed

[2021-07-21 04:58] #3877 closed

[2021-07-21 04:58] #3937 closed

[2021-07-21 04:58] #3677 closed

[2021-07-21 04:58] #3794 closed

[2021-07-21 04:58] #4047 closed

[2021-07-21 04:58] #3009 closed

[2021-07-21 04:58] #3033 closed

[2021-07-21 04:58] #2692 closed

[2021-07-21 04:58] #3080 closed

[2021-07-21 13:57] SoaAlex opened #4848 "Finding has no 'grouped' attribute when sending notifications"
**Slack us first!**
https://owasp.slack.com/archives/C2P5BA8MN/p162685550907730

**Bug description**
`sla_notifications` are not working in version 2.0.3. A bug is crashing the sla_notifications.py function and its calls.

This is because when calling the `sla_compute_and_notify function` in `utils.py`, the function is trying to access the attribute `grouped` of Finding, which does not exist.

It

[2021-07-22 12:37] kiblik commented on #4817
Fix prepared: https://github.com/DefectDojo/django-DefectDojo/pull/4676#issuecomment-884878178

[2021-07-22 13:51] StefanFl commented on #4843
Fixed with #4826

[2021-07-22 15:26] Homopatrol opened #4854 "Postgresql Logs shows repeating ERRORS and STATEMENTS being peformed"
**Bug description**
I have performed a Helm upgrade from v1.14.0 to v2.0.3, mitigated my endpoints and deduped my hash codes as suggested in the documentation.  I am able to upload tests and receive findings however when I look at my PostgreSQL logs I notice ERRORS and SELECT STATEMENTS being performed repeatedly.

I understand that database migrations are performed automatically by the initalizer

[2021-07-22 20:17] jhewi commented on #3164
Test

[2021-07-22 21:45] #4843 closed

[2021-07-23 06:17] #4822 closed

[2021-07-23 06:17] #4832 closed

[2021-07-23 06:18] #4838 closed

[2021-07-23 06:18] #4765 closed

[2021-07-23 07:52] marcin33 opened #4855 "SonarQube scan error on import"
**Bug description**
Got error on SonarQube import scan
`An exception error occurred during the report import:can only concatenate str (not "NoneType") to str`

**Steps to reproduce**
Steps to reproduce the behavior:
1. Run defectDojo in docker (master or dev branch)
2. Create project & engagement
3. Import scan results
4. Pick SonarQube Scan or SonarQube Scan detailed
5. Pick Environment
6. Pick f

[2021-07-23 09:54] zakrush commented on #4521
@damiencarol  @ansidorov  Hello. Now I testing this integration:
I get this error.
[code]

My file [cargo-audit.txt](https://github.com/DefectDojo/django-DefectDojo/files/6867942/cargo-audit.txt)

[2021-07-23 10:34] rituraj-gaur opened #4856 "Jira reconciliation exception"
**Expected behavior**
Expected the CSV to be generated as mentioned at https://defectdojo.github.io/django-DefectDojo/integrations/jira/#status-reconciliation

**Deployment method** *(select with an `X`)*
- [X ] Docker
- [ ] Kubernetes
- [ ] GoDojo
- [ ] setup.bash / legacy-setup.bash

**Console logs** (optional)
sudo docker-compose exec uwsgi /bin/bash -c 'python manage.py jira_status_reconciliat

[2021-07-23 13:25] #4489 closed

[2021-07-23 19:28] zakrush opened #4861 "don't work migrations after update to 2.0"
**Slack us first!**
https://owasp.slack.com/archives/C2P5BA8MN/p1627056588112000
here is describe my problem ^

**Be informative**
I upgraded from 1.15 to 2.0.3
I have deduplication on endpoints, and when I import scan I add id of endpoint. After update when script is importing scan it created new endpoint instead needed. My deduplication is broken.

Then I saw that I needed to apply migration. Re

[2021-07-24 18:00] zakrush commented on #4861
Into 1.15 I created endpoint by script:

[code]

[code]

[2021-07-25 15:29] StefanFl opened #4862 "Support Docker Compose V2"
**Bug description**
With Docker Compose V2 (see https://docs.docker.com/compose/cli-command/), the commands `build` and `up` don't work anymore but are showing error messages.

**Steps to reproduce**

1. Enable Docker Compose V2 in Docker for Windows
2. Run `docker-compose build` or `docker-compose up`
3. See error

**Expected behavior**
Build or run the docker images

**Deployment method** *(sele

[2021-07-26 08:37] zakrush commented on #4861
here: https://github.com/DefectDojo/django-DefectDojo/blob/48f5bb79183befd86de3afffca301216a5f84823/dojo/endpoint/utils.py#L106

Result of my host is False:
![image](https://user-images.githubusercontent.com/33844164/126958790-ccab4000-a7d6-4e80-993f-4885dd60cb5a.png) Is this the intended behavior?

My endpoint data is:
[code]

In my case incorrect path, not hostname. And I think apply of migratio

[2021-07-26 10:51] damiencarol commented on #4861
FYI @kiblik

[2021-07-26 16:43] XiChen-Tibco commented on #2835
@Maffooch Can you assign this for me, finally I can re-produce this error and the Assignees for this issue is still empty.

[2021-07-27 09:17] SoaAlex opened #4871 "Add Product name in MS Teams notifications and enhance URL in View button for SLA Breach"
**Is your feature request related to a problem? Please describe**
Currently, Microsoft Teams notifications sends cards messages containing poor information about the Finding.
The one that is lacks the most in my opinion is the **name of the product**

<img width="1017" alt="image" src="https://user-images.githubusercontent.com/47610842/127128550-54e6ede9-eaf4-465d-a117-28258e127713.png">

Furtherm

[2021-07-27 10:19] zakrush commented on #4861
@kiblik why do you transfer only `endpoint.host` to `Endpoint.from_uri` on migration? I added some debug to migration:
[code]

And get this into output:
[code]
Why do you check only host and no path?

[2021-07-27 11:18] zakrush commented on #4861
AND the **SECOND BUG**
I change all endpoints:
![image](https://user-images.githubusercontent.com/33844164/127144910-fd3b3aa0-0c2d-4556-ad26-2d1d58f3fe78.png)

On image valid endpoint.
If I upload scan_results with endpoint_id. DD is creating new endpoint with the same atributes!!

![image](https://user-images.githubusercontent.com/33844164/127145163-1e91f822-1439-45e8-9233-31f94117d834.png)

On t

[2021-07-27 16:19] #4474 closed

[2021-07-28 09:04] StefanFl opened #4880 "Cannot import Trivy issues when there is no nvd section for CVSS"
**Bug description**
The Trivy parser fails, when there is a finding without an nvd section for the CVSS entries

**Console logs** (optional)

[code]

[2021-07-28 09:15] slicingmelon commented on #4855
Hello,

I confirm that ZAP scans cannot be uploaded either, pretty much the same issue.
`An exception error occurred during the report import:can only concatenate str`

The issue starts somewhere here:
https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/engagement/views.py#L599

And it raises that exception:
https://github.com/DefectDojo/django-DefectDojo/blob/master/dojo/engagement/v

[2021-07-28 10:42] StefanFl commented on #4788
The bugfix for static finding didn't fix this issue. I can reproduce it in my productive environment.

[2021-07-28 17:46] kiblik commented on #4861
@zakrush, thank you for reporting, perfect description and analysis.

Regarding `if not re.match(r'^[A-Za-z][A-Za-z0-9\.\-\+]+$', endpoint.host)`, yes, this is current. We are looking for non-standard hosts (previous version of DD supported formats like `foo.bar:80` or full url, so we needed to fix them).
Cleaning of endpoint (e.g. removing slash from the front of the path) should be done later (s

[2021-07-28 18:29] wxd11a commented on #2755
I'm in a similar predicament as BhaskiBuzz. I would love to see this enhancement included.

[2021-07-29 08:36] zakrush commented on #4861
@kiblik
Here is endpoint first:
[code]

Second. That is created when I upload scan_report with endpoints

[code]

[2021-07-29 09:18] zakrush opened #4888 "Incorrect hash_code for Dependency Check Scan"
**Be informative**
When I upload Dependency Check Scan with different `file_path` fields, findings calculate the same hash code and marked as duplicated.
finding 1:
[code]
second:
[code]

As U can see, here different `file_path` fields, but the same hash_code.
Into `settings.dist.py` I have `'Dependency Check Scan': ['cve', 'cwe', 'file_path'],`

**Bug description*
Incorrect deduplication for Depe

[2021-07-29 09:23] kiblik commented on #4861
Thank you @zakrush
Well, `null` is not `""`.
Fixing these issues was done in `.clean()`

https://github.com/DefectDojo/django-DefectDojo/blob/b8d510728e47e5050fe96e8ea5b5ac1a3b4e8e1b/dojo/models.py#L1205-L1209

but as I wrote there was a bug in calling `.clean()` during the migration process. So it wasn't cleaned properly. As I mention, I fixed this calling so it should work now.
If you are able t

[2021-07-29 09:37] zakrush commented on #4861
I try to reproduse it on copy of my environment

[2021-07-29 14:34] zakrush commented on #4861
@kiblik
I get  when exec manage.py migrate. I added you changes by hands. And repeat all stages.
[code]

[2021-07-29 14:35] zakrush commented on #4861
Also endpoint migrations:
[code]

[2021-07-29 15:11] zakrush commented on #4861
I go to risK and do it onto productions. So into initializie I get the same error
Endpoint migrations was succsess, and scan aploading without new endpoint now. **But:**

I have deduplication:
[code]
And now endpoints have the different hash_code. I run `./manage.py dedupe --hash_code_only` it's not help me.

Here is 2 findings:
1. Original
[code]
2. New after migrations:
[code]

[2021-07-29 15:28] zakrush commented on #4861
I think, I find whi deduplications is not working after migrations:
It's new finding:
![image](https://user-images.githubusercontent.com/33844164/127520118-c05d8224-8796-4161-8c45-37c527566ccf.png)
it's old:
![image](https://user-images.githubusercontent.com/33844164/127520176-10a72616-914b-4e1e-8922-d89ebc2a77fd.png)
There is different of dates. Maybe it into hash code calculate process?

[2021-07-29 17:00] zakrush commented on #4861
@kiblik also on my test stand I merged master, after it I see that it was 2.1 version.

Into my test data migrations is not applyed. But now I'm interesting into deduplication problem resolving. I don't have Idea, why dedupe is not working and have different hashes